#covpgbasic #disclaimer {font-size: small; color: black; }

#diagnosesarea::before {
content: 'Diagnostic and Therapy Considerations';
font-weight: bold;
color: #6EB4C1; color: black !important; /*pk */
}


#diagnosesarea {
	background-color: #D1E5EB;
	color: #6EB4C1; color: black !important; /*pk */
	margin: 0;
	padding: 0.25em 1em 0.25em 1em;;

}


#FurtherTherapyConsiderations {
 	background-color: #D1E5EB;
	color: #6EB4C1; color: black !important; /*pk */
	margin: 0;
	padding: 0.25em 1em 0.25em 1em;

 }


#aw_LabArea::after {
	display: block;
	content: "Please Note: A laboratory reference range is based on 95% of all values found in patients who have tested at that laboratory. A reference range encompasses hormone levels which may be lower or higher than optimal for an individual patient. While an individual's optimal hormone ranges may vary, use of a therapeutic target range (a more focused set of values within the reference range) promotes relief of the symptoms and physical signs of hormone deficiency without provoking symptoms of hormonal excess. The therapeutic target range is at the same level as those found in adults in their late twenties to early thirties in age.";
 	background-color: #D1E5EB;
	color: #6EB4C1; color: black !important; /*pk */
	margin: 0;
	padding: 0.25em 1em 0.25em 1em;
	border-top: solid 1px #6EB4C1;
}

.sal_f_lo #aw_LabArea::after, .sal_m_lo #aw_LabArea::after {
	display: block;
	content: "Please Note: A laboratory reference range is based on 95% of all values found in patients who have tested at that laboratory. A reference range encompasses hormone levels which may be lower or higher than optimal for an individual patient.";
 	background-color: #D1E5EB;
	color: #6EB4C1; color: black !important; /*pk */
	margin: 0;
	padding: 0.25em 1em 0.25em 1em;
	border-top: solid 1px #6EB4C1;
}

.symptoms tbody tr.odd td, tbody tr.odd  {color: #6EB4C1; color: black !important; /*pk */}

#aw_recommendations_area::after {
	content: "A variety of hormone dosage options are given to allow the practitioner to select those that are most appropriate therapeutically as well as for patient compliance and preference.";
	display: block;
	background-color: #D1E5EB;
	color: #6EB4C1; color: black !important; /*pk */
	margin: 0;
	padding: 0.25em 1em 0.25em 1em;
	border-top: 2px solid #6EB4C1;
	border-collapse: collapse;
}



#symptomsAsText {display: none; }




























body {
  prince-linebreak-magic: auto; 
  hyphens: auto;
  text-align: left;
	background-color: transparent;
	font-size: 13px;
}
ul ul { list-style-type: hyphen; }

#coverpage {padding-top: 1em; font-size: larger;}

#covpgbasic {margin: 1.5em 2em;   }
#covpginfo {margin: auto auto; width: 30em;}
.prews pre {font-size: smaller;}
#whaAddress {margin: 2em; }



#LabArea {  page-break-inside: avoid;
/* page:plabs; */ 
/*	margin:1em;	*/
}
#lrTable {margin: auto auto; width: 7.5in; max-width:  7.5in; font-size: .9em; }
/* lrTable ? */

#labFlotrChart {/* page:plabs; */ margin:1em;}

.evaluationNotes {float: left; max-width: 50%; }
#LabNotes { /* page:plabs; */ 	font-size: smaller;}
#LabNotes:before {content: "Lab Notes: ";}

#LabNotes:after {content: "A laboratory reference range is based on 95% of all values found in patients who have tested at that laboratory. A reference range encompasses hormone levels which may be lower or higher than optimal for an individual patient. While an individual's optimal hormone ranges may vary, use of a therapeutic target range/optimal range (a more focused set of values within the reference range) promotes relief of the symptoms and physical signs of hormone deficiency without provoking symptoms of hormonal excess. The therapeutic target range/optimal range is at the same level as those found in adults in their late twenties to early thirties in age."; 
}

#SymptomNotes { /* page: plabs; */ /* /* page: pDefList; */ */}
#SymptomNotes:before {content: "Symptom Notes: ";}
#HealthStatusNotes {/* page: pHealthStatus; */}
#HealthStatusNotes {clear: both;}
#HealthStatusNotes:before {content: "Health Consideration Notes: ";}
#TherapyEvaluationNotes {/* page: pHealthStatus; */ /* pTherapyEvalPage; */ }
#TherapyEvaluationNotes:before {content: "Therapy Notes: ";}
#TherapyEvaluationNotes {padding: 1.25em;}
#MedicationsNotes {/* page: pHealthStatus; */}
#MedicationsNotes {clear: both;}
#MedicationsNotes:before {content: "Current Medications Notes: ";}

#patientInfo {
	/* page: pHealthStatus; */ 
	float: left; 
	font-weight: bold;
	margin: 1.5em;
	max-width: 50%;
	min-width: 30%;
}

#morepinfo {display: block;}



#HormoneSummary:before {width: 10em; font-weight: bold; text-align: center; content: "Reference: Symptoms/Possible Cause";}
#HormoneSummary{ /* page:  plabs ; */ /* pDefList; */ columns: 2;  column-gap: 1.5em;  page-break-inside: avoid;  padding-top:1em; margin:2.5em 1em 1em 1em; border-top: medium solid black; font-size: .9em;}
.RFF #HormoneSummary {display: none;}
ul.hormoneSummaryList {  }
#symptomDefChart {/* page: plabs; */ /* pDefList; */   margin:1em;}
#MedHistoryDisplay {/* page: pHealthStatus; */ page-break-inside: avoid;}
#importantInfo {page-break-inside: avoid;  
/* margin-top: auto; */
/* Now that it is placed at top left: */
margin-right: 1.5em;
margin-bottom: 1.5em;
/* margin-left: 1.5em; */
 /* page: pHealthStatus; */ } 
 
#medicalHistoryArea:before {content:'Reported Medical History'; font-weight:bold;}
.RFF #medicalHistoryArea {display:none}
#medicalHistoryArea {
 /* page: pHealthStatus; */
				-webkit-border-bottom-left-radius: 9px 9px;
				-webkit-border-bottom-right-radius: 9px 9px;
				-webkit-border-top-left-radius: 9px 9px;
				-webkit-border-top-right-radius: 9px 9px;
					 border-radius: 9px;
				border: 2px solid gray;
				float: left;
				font-family: 'Gill Sans', Rockwell, 'Trebuchet MS', TAHOMA, 'CENTURY GOTHIC';
				margin: 0.75em;
				width: 85%;
				max-width: 85%;
				padding: 1em;
				
				text-align: left;
				-webkit-padding-start: 0.5em;

}
.MedHist_yes {font-weight:bold;}
.medicalHistoryList.ul {
  float: left;
  width: 32em;
  margin: 0;
  padding: 0;
  list-style: none;
}
 
.medicalHistoryList li {
  float: left;
  width: 16em;
  margin: 0;
  padding: 0 1.2em;
}

#diagnosesArea {  padding-top: 2em; margin:1em; /* page: pHealthStatus; */ }
#diagnosesArea li {page-break-inside: avoid;}
#TherapyEvaluation {margin: 1em auto 1em auto; /* page: pHealthStatus; */ /* pTherapyEvalPage; */ }
#FurtherTherapyConsiderations {/* page: pHealthStatus; */ /* pTherapyEvalPage; */ }
#recommendations_Area {/* page: pHealthStatus; */ /* pTherapyEvalPage; */ }

/* Already done with ul li: */
 ul li {page-break-inside: avoid;}
#TherapyEvaluation ul li {page-break-inside: avoid;}
#FurtherTherapyConsiderations  ul li {page-break-inside: avoid;}

.recSectionGroup {page-break-inside: avoid;}
#AdditionalTesting {page-break-inside: avoid; margin: 1em auto 1em auto; /* page: pHealthStatus; */ /* pTherapyEvalPage; */ }
#SelfCareNotes { margin: 1em auto 1em auto; /* page: pSelfCare; */}

.verysmalllink {display: none;}

#cont_flotrcontainer0 {/* page:plabs; */  margin:1em;}
table.symptoms2 {margin: 2em;}
.centerceter {text-align:center; margin-left: auto; margin-right: auto;}                
 
/* New Symptoms */
 /* fix for older in styles.css */
 /* actually a lab fix */
 .symptoms tbody tr.odd td, tbody tr.odd  {color: black;}





.symptomsList {white-space: pre; vertical-align: middle;}
.symbetter {color:black;}
.symworse {color:black;}
.symequal { }
.symptomsDates {font-family: Verdana, Arial;font-weight: bold; font-size: 0.8em;width:10px; color:black; text-align:center; margin-left: auto; margin-right: auto; min-width: 3em; white-space:nowrap;}


.curLevel_Severe {font-weight: bold;}
.curLevel_Moderate {font-weight: bold;}


.RFF {font-weight: bold; color: black; }

.symptomsline {
				border-top:1px black solid;
				}


.symtoms2 a:link {
/*	color: #d42945; */ /* Why - not sure... */
	color: black;
	text-decoration:none;
	border-bottom:1px dotted #ffbac8;
	}	
.symtoms2 a:visited {
/*	color: #d42945; */ /* Why - not sure... */
	color: black;
	border-bottom:none;
	text-decoration:none;
	}		
.symtoms2 a:hover,
a:focus {
/*	color:#f03b58;	*/
	color: black;
	border-bottom:1px solid #f03b58;
	text-decoration:none;
	}
.symtoms2 table a,
table a:link,
table a:visited {
	border:none;
	}							
	
.symtoms2 img {
	border:0;
	margin-top:.15em;
	}	
.symtoms2  {
	border-radius: 1em;
	-webkit-border-radius: 1em; border-radius: 1em;
	-moz-border-radius: 1em;
	border:3px solid #e5eff8;
	padding: 0.1em;
	margin:1em auto;
	font-size: 1.1em;
/*		border-collapse:collapse; */
	}
.symtoms2 caption {
	color: black;
	font-size:.94em;
		letter-spacing:.1em;
		margin:1em 0 0 0;
		padding:0;
		caption-side:top;
		text-align:center;
	}	
.symtoms2 tr.odd td	{
	background:#daebfa;
	}
.symtoms2 tr.odd .column1	{
	background:#f4f9fe;
	text-align: left;
	white-space: nowrap; 
	}	
.symtoms2 tr.even td	{
	background:#f7fbff;
	}
.symtoms2 tr.even .column1	{
	text-align: left;
	white-space: nowrap; 
	}	

.symtoms2 tr. th.column1 	{
	background:#f9fcfe;
	text-align: left;
	white-space: nowrap; 
		}
.symtoms2 td {
/*		color:#678197;	*/
	color: black;
	border-bottom:1px solid #e5eff8;
	border-left:1px solid #e5eff8;
/*	padding:.3em .1em; */
	text-align:center; 
	}				
.symtoms2 tbody th {
	font-weight:normal;
	color: black;
	text-align:left;
	border-bottom: 1px solid #e5eff8;
	border-left:1px solid #e5eff8;
/*	padding:.3em .1em; */
	}							
.symtoms2 thead th {
	background:#f4f9fe;
	text-align:center; 
	font:bold 0.8em/1.0em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
/*	color:#66a3d3	*/
	color: black;
	}	

.symtoms2 thead td, thead th {	
				-moz-border-radius-topleft:1em; -webkit-border-top-left-radius:1em; border-top-left-radius:1em;
				-moz-border-radius-topright:1em; -webkit-border-top-right-radius:1em; border-top-right-radius:1em;
	}
.symtoms2 tfoot th {
	text-align:center;
	background:#f4f9fe;
	}	
	
.symtoms2 tfoot td, tfoot th {
				-moz-border-radius-bottomleft:1em; -webkit-border-bottom-left-radius:1em; border-bottom-left-radius:1em;
				-moz-border-radius-bottomright:1em; -webkit-border-bottom-right-radius:1em; border-bottom-right-radius:1em;
	}

.symtoms2 tfoot th strong {
	font:bold 0.8em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	margin:.5em .5em .5em 0;
/*	color:#66a3d3; */
	color: black;
		}		
.symtoms2 tfoot th em {
	/*	color:#66a3d3;	*/
	color: black;
	font-weight: bold;
	font-size: 0.8em;
	font-style: normal;
	}

.symtoms2 tr th.column1 	{
	background:#f9fcfe;
	text-align: left;
	white-space: nowrap;
	font-size: 0.8em;
	}

#symptomListingTBODY tr td {margin: auto; width: 3em;}


.symptomsImg.Severe {
	background-image: url(/images/symptoms/severe.png);
	background-repeat: no-repeat;
	min-width:1em;
	min-height: 1em;
	display: block;
	background-image-resolution: 144dpi;
	-webkit-background-size: 1.1em 1.1em;
	text-align: center;
	margin: auto; width: 3em;
}

.symptomsImg.Moderate {
	background-image: url(/images/symptoms/moderate.png);
	background-repeat: no-repeat;
	min-width:1em;
	min-height: 1em;
	display: block;
	-webkit-background-size: 1em 1em;
	background-image-resolution: 144dpi;
	text-align: center;
	margin: auto; width: 3em;
}

.symptomsImg.Minimal {
	background-image: url(/images/symptoms/minimal.png);
	background-repeat: no-repeat;
	min-width:1em;
	min-height: 1em;
	display: block;
	-webkit-background-size: 0.85em 0.85em;
	background-image-resolution: 144dpi;
	text-align: center;
	margin: auto; width: 3em;
}

.symptomsImg.None {
	background-image: url(/images/symptoms/none.png);
	background-repeat: no-repeat;
	min-width:1em;
	min-height: 1em;
	display: block;
	-webkit-background-size: 0.85em 0.85em;
	background-image-resolution: 144dpi;
	text-align: center;
	margin: auto; width: 3em;
}
.symptomsImg {background-position-x: 50%; background-position-y: 50%; max-height: 1.25em;}


/* show only last 3 cols for PDF */
#symptomListingTBODY tr td {display: none;}
#symptomListingTBODY tr td.reportCol3 {display: table-cell;}
#symptomListingTBODY tr td.reportCol1 {display: table-cell;}
#symptomListingTBODY tr td.reportCol2 {display: table-cell;}

#symptomListingTFOOT tr td {display: none;}
#symptomListingTFOOT tr th {display: none;}

#symptomListingTFOOT tr th.column1  {display: table-cell;}
#symptomListingTFOOT tr th.reportCol3 {display: table-cell;}
#symptomListingTFOOT tr th.reportCol1 {display: table-cell;}
#symptomListingTFOOT tr th.reportCol2 {display: table-cell;}


#symptomListingTHEAD tr td {display: none;}
#symptomListingTHEAD tr th {display: none;}
#symptomListingTHEAD tr th.column1 {display: table-cell;}

#symptomListingTHEAD tr th.column1 table td {display: table-cell;}
#symptomListingTHEAD tr th.reportCol3 {display: table-cell;}
#symptomListingTHEAD tr th.reportCol1 {display: table-cell;}
#symptomListingTHEAD tr th.reportCol2 {display: table-cell;}

/* No caption on PDF */
.symtoms2 caption {display: none;}

.severeSymsText:before {content: 'Severe:'; font-weight: bold;} 
.moderateSymsText:before {content: 'Moderate:'; font-weight: bold;} 

/* Flotr */
.flotr-bottom-labels {font-size:smaller;	color:white;}
.graphContainer {
	margin: 16px;
	margin-top: 2px;
	background-color: black;
	text-shadow: 2px 2px 1px;
		/* font-variant: small-caps; */
	font-size: 1em;
	font-family: 'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';
	padding: 0 1.75em .75em 1%;
	min-width:30em;
	max-width:45%;
	min-height:170px;
		/* width:600px;height:300px; */
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em; border-radius: 2em;
		/* border: 1px solid #000; */
	position: relative;
	float:left;
}


.graphHeader {

	/*margin: 16px;
	/*background-color: black;*/
	color:#3A84AA;
	vertical-align:middle;
	text-shadow: 2px 2px 1px;
		/* font-variant: small-caps; */
	font-size: 1.4em;
	font-family: 'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';
	font-weight: bold;
	min-width:150px;
	max-width:90%;
		/* width:600px;height:300px; */
	opacity:.75;
	padding: .15em .35em .2em .35em;
	word-break: keep-all;
	white-space: nowrap;
background-color:white; 	

-moz-border-radius-bottomleft: .85em;
 -webkit-border-bottom-left-radius: .85em; border-bottom-left-radius: .85em;
-moz-border-radius-bottomright: .85em;
-webkit-border-bottom-right-radius: .85em; border-bottom-right-radius: .85em;

	position: relative;
	left: 1.7em;

	z-index:5;

}

.graphHeader table {display: inline;}
.graphHeader0 {
	/*margin: 16px;
	/*background-color: black;*/
	color:grey;
	text-shadow: 2px 2px 1px;
		/* font-variant: small-caps; */
	font-size: 1.4em;
	font-family: 'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';
	font-weight: bold;
	min-width:150px;
	max-width:40%;
		/* width:600px;height:300px; */
	opacity:.5;
	word-break: keep-all;
	white-space: nowrap;
	position: absolute;
	top: -1%;
	left: 1.7em;
	z-index:5;
	
}
.flotr-grid-label {
	color: white;
	margin: 3px;
	padding: 3px;
	word-break: keep-all;
	line-height: 0px;
	font-size: 1.25em;
	font-family: 'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';
	text-shadow: 0px 0px 0px #bcbcbc;
	white-space: nowrap;

}

.flotr-legend-label {color: black; font-weight:bold;}

.centerThis {text-align: center; margin-left: auto;
margin-right: auto; width: 8em;
}
.flotrButton { -webkit-border-radius: .75em; border-radius: .75em; background-color: black; height: 1.75em; color: white; 
 font-weight: bold;
}

/* Animation */
.animate-all {
-webkit-transition-property: all;
  -webkit-transition-duration: 2.5s;
}

.animate-slider {max-height: .2em;}
.animate-slider:hover {max-height: 82em;}

.animate-fader {opacity: .25;}
.animate-fader:hover {opacity: 1;}


/* ********************** aa Layout ***************************** */
/* aaToolbar */

#aaToolbar { position: fixed; top: 250px; right: -3.5em; display: table; padding: 4px; clear: both; background-color: black; opacity: .4;	filter: alpha(opacity=40); border-style:dotted; border:medium; border-color: black; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
-webkit-transition-property: opacity, right;
  -webkit-transition-duration: 2.5s;
}
#aaToolbar:hover {  top: 250px; right: 10px; display: table; margin-left: 4px; margin-right: 4px; clear: both; background-color: black; opacity: .9;	filter: alpha(opacity=90); width: 8em;}
#aaToolbar div {position: relative; right: 3em;}
#aaToolbar:hover div {position: relative; right: 0em; padding:6px;}
#aaToolbar li {
		cursor: pointer;
	display: block;
	position: relative;
	padding: 2px 3px;
list-style-type: none;

}

#aaToolbar img {
			cursor:pointer;
			max-width: 3.5em;
			max-height: 3.5em;
			/*			
			width: 5em;
			height: 5em;
			*/

}

#aaToolbar:hover img {
			cursor:pointer;
			max-width: 5em;
			max-height: 5em;
			/*			
			width: 5em;
			height: 5em;
			*/

}

#hormoneSummary {
	float: left;
	max-width: 26em;
}


ul#curMedList
{
font-size: bold 0.8em;
font-family:  'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';
list-style-type: none;
padding-bottom: 0;
margin: 0;
}

ul#curMedList li
{
-moz-border-radius-topleft:1em; -webkit-border-top-left-radius:1em; border-top-left-radius:1em;
-moz-border-radius-topright:1em; -webkit-border-top-right-radius:1em; border-top-right-radius:1em;
padding:0.5em;
float: left;
height: 1.25em;
background-color: black;
margin: 2px 2px 0 2px;
border: 2px solid #3B9ED8;
cursor:pointer;
display: inline;
}

ul#curMedList li.active
{
border-bottom: 1px solid #fff;
background-color: black;
}

li#active a { color: black; }

#curMedList a
{
float: left;
display: block;
color: black;
text-decoration: none;
padding: 1px;
}

#curMedList li:hover { background: #fff; }
#curMedContainer { max-width: 48%;}
#MedHistoryDisplay:before {content: "Hormone Therapy Reported by Patient"; font-weight: bold; font-size: 1.1em}
#MedHistoryDisplay {border-top: 1px solid #3B9ED8; border-bottom: 1px solid #3B9ED8; border-collapse:collapse;
font-family:  'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';
font-size: 1em;
min-width: 22em;
max-width: 50%;
float: left;

}



.showControl {display: none;}

#MedHistoryDisplay .cmMed {padding:0.15em; border-bottom: 1px solid black; border-top: 1px solid black; border-collapse:collapse;}
#MedHistoryDisplay .even {background: #F1FBFF;}
#MedHistoryDisplay .cmNotes {font-size:smaller; color: black;}

#MedHistoryDisplay div.cmMed.combinedyes + div.cmMed.combinedyes:before {content: ' + ';}
#MedHistoryDisplay div.cmMed.combinedyes + div.cmMed.combinedyes {border-bottom: none; border-top: none;}
#MedHistoryDisplay div.cmMed.combinedyes {border-bottom: none; border-top: none;}
#MedHistoryDisplay + div.cmMed { border-top: border-top: 1px solid black; }


#HormoneSummary ul.HormoneSummaryList {list-style-type: disc;}

#HormoneSummary ul li.Severe { list-style-image: url(/images/aa_icons/symptom_severe_vsm.png);  font-weight: bold;}
#HormoneSummary ul li.Moderate { list-style-image: url(/images/aa_icons/symptom_moderate_vsm.png);  font-weight: bold;}
#HormoneSummary ul li.Minimal {  /* display:none; */ list-style-image: url(/images/aa_icons/symptom_minimal_vsm.png); }
#HormoneSummary ul li.None { display:none;  list-style-image: url(/images/aa_icons/symptom_none_vsm.png); }

/* for faxing */
#HormoneSummary ul.HormoneSummaryList li {list-style-type: disc; list-style-image: none;}

.symptomPoints {display:none;}




/* END of aa */





/* New RD */

#patientInfo {}
#patientInfo ul {list-style: none;}
#patientImage {display: none; /* CHANGE */}

.hormoneInfoBox {
	/*border-color: black;*/
/*	border-style: solid; */
	-webkit-border-radius: 10; border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10;

	text-overflow: ellipsis;
	                          
	font-size: 1em;
	                          
	font-style: normal;
	                          
	font-family: sans-serif;
	                          
	background-color: black;
	                          
	padding: 3px;

	margin: 3px;
	color: white;
	text-align: left;
	font-variant: small-caps;
	font-weight: normal;
	max-width: 350px;
	opacity: .65;
	
}

.InfoBoxMedication {
	max-height:2em; text-overflow: ellipsis; overflow: hidden;
}

.InfoBoxMedication:hover {max-height:20em;}

.evaluation {
	-webkit-border-radius: 1em; border-radius: 1em;

	border: medium silver;
	padding: .75em;
}

#diagnosesArea:before {content: 'Reported Diagnoses'; font-weight: bold; }
.aYf0 #diagnosesArea:before {content: 'Diagnostic Considerations'; font-weight: bold;}
#diagnosesArea {max-width: 100%; 		 margin: 1em auto 1em auto ; clear: both;}
.RFF #importantInfo:before {content: "Health, Cycling & Lifestyle Information"; font-weight: bold;}
.maleHH #importantInfo:before {content: "Health & Lifestyle Information"; font-weight: bold;}
#importantInfo:before {content: "Health & Lifestyle Information"; font-weight: bold;}
#importantInfo {
/*	max-width: 16em; */
max-width: 45%;
/*	font-family:  'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC'; */
/*	margin: .75em; */
		border-radius: 9px;
		-webkit-border-radius: 9px; border-radius: 9px;
		border: 2px solid gray;
		padding: 1em;
float: left;
/* margin: auto 1.5em; */

margin-bottom: 1.5em;
margin-right: 1.5em;
page-break-inside: avoid;

}

#importantInfo td+td {padding: 0 0 0 1.5em;}
ul.healthConditionsList {list-style-position: outside;}


#TherapyEvaluation {   clear: both;}
#TherapyEvaluation:before {content: 'Therapy Evaluation';  font-weight: bold;}

#FurtherTherapyConsiderations { }
#FurtherTherapyConsiderations:before {content: 'Further Therapy Considerations'; font-weight: bold;}

#AdditionalTesting {}
#AdditionalTesting:before {content: 'Additional Testing'; font-weight: bold;}

#SelfCareNotes li { margin: 1em 0;}
#SelfCareNotes:before {content: 'Self Care Recommendations'; font-weight: bold;}




#recommendations_Area:before {content: "Recommendations - A variety of hormone dosage options are given to allow the practitioner to select those that are most appropriate therapeutically as well as for patient compliance and preference."; font-weight: bold;}
.randi #recommendations_Area:after {content: "Note to patient: Definitions for dosing suggestions are as follows: q = every; am = morning; pm = evening; hs = bedtime; BID = twice daily; TID = three times daily; mg = milligrams; Gm = gram; tsp = teaspoon; mg/Gm = milligrams per gram. "; }

#recommendations_Area {
	margin: 1.5em auto 1.5em auto;
	max-width: 40em;
	font-family:  'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';
		border-radius: 9px;
		-o-border-radius: 9px;
		-icab-border-radius: 9px;
		-khtml-border-radius: 9px;	
		-moz-border-radius: 9px;
		-webkit-border-radius: 9px; border-radius: 9px;
		border: 2px solid gray;
		padding: .25em;
		page-break-inside: avoid;
}
.recSectionGroup {border-style:groove; margin: 2px; padding: 3px;}
.recBreaker {border-bottom: medium solid grey;}

/*
div.recommendationList .andor_or:before  {content: "    "; color: grey; float: left; padding: 0 .5em 0 .5em; white-space: pre; min-width:3em;}
div.recommendationList .andor_and:before {content: "    "; color: grey; float: left; padding: 0 .5em 0 .5em; white-space: pre; min-width:3em;}
div.recommendationList.andor_and:after {content: " -WITH- "; color: grey; font-weight: bold; display:block; width: 6em; margin:0 auto;  padding: 0 .5em 0 .5em; white-space: pre; min-width:3em;}

div.recommendationList.andor_and .recCategory_Discontinue:after {content: '';}

div.recommendationList+div.recommendationList.andor_and:after {display:none; content: ""; color: grey; font-weight: bold; display:block; width: 6em; margin:0 auto;  padding: 0 .5em 0 .5em; white-space: pre; min-width:3em;}


div.recommendationList+div.recommendationList.andor_and:before {content: " -AND-"; color: black; float: left; padding: 0 .25em 0 .25em; min-width:3em;}

div.recommendationList+div.recommendationList .recCategory_IfContinue:before {content: '';}
div.recommendationList+div.recommendationList .recCategory_Discontinue:before {content: '';}
div.recommendationList+div.recommendationList .recCategory_Discontinue:after {content: '';}
/*




div.recommendationList .andor_or:before  {content: "    "; color: grey; float: left; padding: 0 .5em 0 .5em; white-space: pre; min-width:3em;}
div.recommendationList .andor_and:before {content: "    "; color: grey; float: left; padding: 0 .5em 0 .5em; white-space: pre; min-width:3em;}
div.recommendationList.andor_and:after {content: " -WITH- "; color: grey; font-weight: bold; display:block; width: 6em; margin:0 auto;  padding: 0 .5em 0 .5em; white-space: pre; min-width:3em;}


div.recommendationList.andor_and .recCategory_Discontinue:after {content: '';}



div.recommendationList+div.recommendationList.andor_and:after { display:none; content: ""; color: grey; font-weight: bold; display:block; width: 6em; margin:0 auto;  padding: 0 .5em 0 .5em; white-space: pre; min-width:3em;}

div.recommendationList+div.recommendationList .andor_or:before {content: " -OR- "; color: grey; float: left; padding: 0 .5em 0 .5em; min-width:3em;}
div.recommendationList+div.recommendationList .andor_and:before {content: " -AND-"; color: grey; float: left; padding: 0 .25em 0 .25em; min-width:3em;}





div.recommendationList+div.recommendationList .recCategory_IfContinue:before {content: '';}
div.recommendationList+div.recommendationList .recCategory_Discontinue:before {content: '';}
div.recommendationList+div.recommendationList .recCategory_Discontinue:after {content: '';}






*/


div.recommendationList .andor_or:before  {content: "    "; color: black; float: left; padding: 0 .5em 0 .5em; white-space: pre; min-width:3em;}
div.recommendationList .andor_and:before {content: "    "; color: black; float: left; padding: 0 .5em 0 .5em; white-space: pre; min-width:3em;}
/* div.recommendationList.andor_and:after {content: " -WITH- "; color: black; font-weight: bold; display:block; width: 6em; margin:0 auto;  padding: 0 .5em 0 .5em; white-space: pre; min-width:3em;}  /* Maybe add this back */


div.recommendationList.andor_and .recCategory_Discontinue:after {content: '';}



div.recommendationList+div.recommendationList.andor_and:after { display:none; content: ""; color: black; font-weight: bold; display:block; width: 6em; margin:0 auto;  padding: 0 .5em 0 .5em; white-space: pre; min-width:3em;}

div.recommendationList+div.recommendationList .andor_or:before {content: " -OR- "; color: black; float: left; padding: 0 .5em 0 .5em; min-width:3em;}
div.recommendationList+div.recommendationList .andor_and:before {content: " -AND-"; color: black; float: left; padding: 0 .25em 0 .25em; min-width:3em;}





div.recommendationList+div.recommendationList .recCategory_IfContinue:before {content: '';}
div.recommendationList+div.recommendationList .recCategory_Discontinue:before {content: '';}
div.recommendationList+div.recommendationList .recCategory_Discontinue:after {content: '';}




.recCategoryDiv_Aplia {border: double black 2px;}
.recCategoryDiv_Aplia:after {content: '-OR-'; color: grey; margin:0 auto; text-align:center; min-width:3em; width: 4em;}



/* AutoComplete */
div.autocomplete {
	font-style: normal;
	  font-family:  'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';
	font-size: .8em;
  margin:0px;  
  padding:.5em;  
  width:250px;
  position:absolute;
  opacity:0.85;
	background-image: url(/images/autocomplete/ac_pointer.gif);
	background-position: 1.0em 0em;
	background-repeat: no-repeat;
	padding: 10px .0em .0em .0em;
	z-index: 10000;

}

div.autocomplete ul {
	position: absolute;
  margin:0px;
  padding:.35em 0.15em;
background-color: black;
  list-style-type:none;

  -webkit-border-radius: 1em; border-radius: 1em;
  -moz-border-radius: 1em;
  font-size: 1.15em;

}

div.autocomplete ul li.selected { 
  background-color:#232324;
  /* text-shadow: 1px 1px 1px #D1F0FD; */
  max-height:2.25em;
  font-weight:bold;
  text-overflow: ellipsis;
  text-wrap:none;
  whitespace:nowrap;
  overflow:visible;
    -webkit-border-radius: .65em; border-radius: .65em;
  -moz-border-radius: .65em;
  color:white;
}

div.autocomplete ul li {
	color: black;
  margin:0em;
  padding:3px;
  max-height:1.0em;
  display:block;
  list-style-type:none;
  cursor:pointer;
  overflow:hidden;
  text-overflow: ellipsis;
  text-wrap:none;
  whitespace:nowrap
}

div.autocomplete ul li strong {
	color: black;
}





.recommendationList {
	cursor:pointer;
		  font-family:  'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';
	}
.recommendationList:hover {	
		    -webkit-border-radius: .65em; border-radius: .65em;
			-moz-border-radius: .65em;
			background-color: black;
}
	
.rxpadDrop {
	background-color: black;
	background-image: url(/images/droparrow.gif);
	background-position: center;
	background-repeat: no-repeat;
}	
	
/* DHTML windows */


/* all should have: -webkit-box-shadow: 10px 10px 5px #888; */
#control_overlay {  
    background-color:#000;  
} 
 
.modal {  
    background-color:#fff;  
    padding:10px;  
    border:1px solid #333;  
} 
 
.tooltip {  
    border:1px solid #000;  
    background-color:#fff;  
    height:25px;  
    width:200px;  
		  font-family:  'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';    font-size:10px;  
    color:#333;  
} 
 
.simple_window {  
    width:250px;  
    height:50px;  
    border:1px solid #000;  
    background-color:#fff;  
    padding:10px;  
    text-align:left;  
		  font-family:  'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';
    font-size:12px;  
    color:#333;  
    -webkit-box-shadow: 10px 10px 5px #888;
} 
 
.window {  
    background-image:url("/images/livepipe//window_background.png");  
    background-position:top left;  
    -moz-border-radius: 10px;  
    -webkit-border-radius: 10px; border-radius: 10px;  
    padding:10px;  
		  font-family:  'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';
    font-size:13px;  
    font-weight:bold;  
    color:#fff;  
    text-align:center;  
    min-width:150px;  
    min-height:100px;  
    max-width:80%;
    -webkit-box-shadow: 10px 10px 5px #888;
} 
 
.window .window_contents {  
    margin-top:10px;  
    width:100%;  
    height:100%;      
} 
 
.window .window_header {  
    text-align:center;  
} 
 
.window .window_title {  
    margin-top:-7px;  
    margin-bottom:7px;  
    font-size:11px;  
    cursor:move;  
} 
 
.window .window_close {  
    display:block;  
    position:absolute;  
    top:4px;  
    left:5px;  
    height:13px;  
    width:13px;  
    background-image:url("/images/livepipe/window_close.gif");  
    cursor:pointer;  
    cursor:hand;  
}  

/* Scrolling */
.scrollbar_container {  
    position:relative;  
} 
 
.scrollbar_track {  
    position:absolute;  
    top:0;  
    right:0;  
    height:100%;  
    width:10px;  
    background-color:transparent;  
    cursor:move;  
} 
 
.scrollbar_handle {  
    width:10px;  
    background-color:#5c92e7;  
    cursor:move;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px; border-radius: 5px;  
    opacity:0.9;  
    -moz-opacity:0.9;  
} 
 
.scrollbar_content {  
    overflow:hidden;  
    height:250px;  
}  



/* RxHist */





#rxhistory {/* page: pHealthStatus; */ /* pTherapyEvalPage; */}

.theader {font-weight: bold; text-align: center;}
#rxhistory:before { content: "Rx History";	padding: 1em; font-weight: bold;}
#rxhistory {
	margin: 1.5em auto 1.5em auto;
	-webkit-border-radius: .75em; border-radius: .75em;
	max-width: 45em;
	border: medium solid silver;
	font-size: smaller;
	overflow-y: hidden;
	overflow: hidden;
	max-height: 25em;
	min-height: 4em;
}
.ath_kalir #rxhistory {diplay:none;}

.ath_trutina #rxhistory { display:none;	}

#rxhist_content {/*max-width:40%;*/}
.rxHist {

	cursor:pointer;
		  font-family:  'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';
		  padding:1em;
			clear:both;
}

.rxHist div span {margin: 0.25em;width: 14em;	display: block; float:left;}
.rxHist div  span+span {width: 2em; margin:  0.25em;	display: block; float:left;}
.rxHist div  span+span+span {width: 6em;	margin: 0.25em;display: block; float:left;}
.rxHist div  span+span+span+span {width: 6em;	margin: 0.25em;display: block; float:left;}
.rxHist div  span+span+span+span+span {width: 6em;	display: block; float:left; margin: 0.25em; text-align: center;}
.rxHist div span+span+span+span+span+div.sig {margin: 0.25em; width: 38em;		display: block; text-align: left; clear: both; font-size: .85em; color: black;}


#rxHist_tbody .rxHist div:hover {
		    -webkit-border-radius: .65em; border-radius: .65em;
			-moz-border-radius: .65em;

		}

#rxHist_tbody {	overflow-y: hidden;
	overflow: hidden;
	max-height: 18em;}

#otcHist_tbody:before {content: "OTC History"; font-weight: bold;}
#otcHist_tbody {	overflow-y: hidden;
	overflow: hidden;
	max-height: 12em;}

.rxHist .OTC-FillDates { font-size: smaller; max-height: 2em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.rxHist .OTC-FillDates:hover { font-size: smaller; max-height: 14em;  white-space: normal; max-width: 30em; text-overflow: ellipsis; overflow: visible; z-index: 20; background: #E6EDF5;}


/* Order Labs */

#rPList {		  font-family:  'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';		}
#rPList li {text-decoration: none; font-weight: bold; cursor: pointer;}
#rPList li + ul + li + label {cursor: pointer;}


#labOrderList div {
white-space: nowrap;
font-size: 1.1em;
font-weight: bold;
font-family:  'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';
margin: .25em;
}






/* Subsection Tabs
--------------------*/



/* @group menu */
.lp_tabs {
	height: 1.25em;
	padding: 0;
	margin: 2px 0 3px 1px;
	font-size: 1em;
}
	.lp_tabs li {	display: inline;	}
	.lp_tabs li a {
		border: 1px solid #CFCFCF;
		border-bottom: 1px solid #CFCFCF;
		border-top-right-radius: 9px;
		-o-border-top-right-radius: 9px;
		-icab-border-top-right-radius: 9px;
		-khtml-border-top-right-radius: 9px;	
		-moz-border-radius-topright: 9px;
		-webkit-border-top-right-radius: 9px; border-top-right-radius: 9px;
		border-top-left-radius: 9px;
		-o-border-top-left-radius: 9px;
		-icab-border-top-left-radius: 9px;
		-khtml-border-top-left-radius: 9px;	
		-moz-border-radius-topleft: 9px;
		-webkit-border-top-left-radius: 9px; border-top-left-radius: 9px;		
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(142, 193, 216)), color-stop(0.25, rgb(245, 245, 245)));
		-webkit-background-clip: border;
		-webkit-background-origin: padding;
		display: block;
		float: left;
		margin-right: .25em;
		font-family:  'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';
		line-height: 1.25em;
		color: black;
		text-decoration: none;
		padding: 2px 3px 2px 3px;
		z-index:4;
	}
	.lp_tabs li a.current {
		-webkit-box-shadow: 2px -2px 2px #aaa;
		-khtml-box-shadow: 2px -2px 2px #aaa;
		border: 1px solid #CFCFCF;
		border-bottom-color: black;
		background: #F5F5F5;
		font-weight: bold;
		color:#506E8D;
	}


	.lp_tabs li a:hover {
		color: black;
		font-weight:bold;
		text-decoration: none;
		border-top-right-radius: 9px;
		-o-border-top-right-radius: 9px;
		-icab-border-top-right-radius: 9px;
		-khtml-border-top-right-radius: 9px;	
		-moz-border-radius-topright: 9px;
		-webkit-border-top-right-radius: 9px; border-top-right-radius: 9px;
		border-top-left-radius: 9px;
		-o-border-top-left-radius: 9px;
		-icab-border-top-left-radius: 9px;
		-khtml-border-top-left-radius: 9px;	
		-moz-border-radius-topleft: 9px;
		-webkit-border-top-left-radius: 9px; border-top-left-radius: 9px;		
		-webkit-box-shadow: 2px -2px 2px #aaa;
		-khtml-box-shadow: 2px -2px 2px #aaa;
		border: 1px solid #CFCFCF;
		border-bottom-color: black;
		background-color: black;
		font-weight: bold;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BAECFC), color-stop(0.65, rgb(245, 245, 245)));
	}

.lp_tabs+div {

		border-radius: 9px;
		-o-border-radius: 9px;
		-icab-border-radius: 9px;
		-khtml-border-radius: 9px;	
		-moz-border-radius: 9px;
		-webkit-border-radius: 9px; border-radius: 9px;

		-moz-border-radius-topleft:0;
		-webkit-border-top-left-radius:0; border-top-left-radius:0;
		border: medium solid silver;
		min-height:2.5em;
		position:relative;
		top: 2px;
		margin: 0 1px 2px 1px; 
		padding: .25em;
		max-width: 85%;
		border-collapse:collapse;
}

/* @end */








/* Hormone summary */





























/* Fancy Toolbar */

.fancy-toolbar-bezel {
	position: absolute;
	//border-width: 55px 26px 26px 26px;
	//-webkit-border-image: url(FancyToolbarImages/toolbarOutline.png) 55 26 26 26;
	-webkit-user-select: ignore;
	-webkit-transition: opacity 1s linear;
	box-shadow: 10px 10px 5px #888;
	opacity: .85;
}

.fancy-toolbar-area {

	-webkit-user-select: ignore;
	white-space: nowrap;
	overflow: hidden;
	-webkit-border-radius: 1.25em; border-radius: 1.25em;
	background-color: black;

	color:white;
	z-index: 2;
	padding: .5em;

}

.fancy-toolbar-button {
	height: 26px;
	width: 29px;
	border: none;
	background-image: url(FancyToolbarImages/button.png);
	background-color: transparent;
	margin-right: 5px;
	padding: 0 2px 4px 0;
	text-align: center;
	font-family: Times;
	font-size: 13px;
	-webkit-user-select: none;
	vertical-align: middle;
}


.fancy-toolbar-redbutton {
	height: 26px;
	width: 29px;
	border: none;
	background-image: url(FancyToolbarImages/redbutton.png);
	background-color: transparent;
	margin-right: 5px;
	padding: 0 2px 4px 0;
	text-align: center;
	font-family: Times;
	font-size: 13px;
	-webkit-user-select: none;
	vertical-align: middle;
}


.fancy-toolbar-greenbutton {
	height: 26px;
	width: 29px;
	border: none;
	background-image: url(FancyToolbarImages/greenbutton.png);
	background-color: transparent;
	margin-right: 5px;
	padding: 0 2px 4px 0;
	text-align: center;
	font-family: Times;
	font-size: 13px;
	-webkit-user-select: none;
	vertical-align: middle;
}



.fancy-toolbar-button:active, .fancy-toolbar-button.fancy-toolbar-button-selected {
	background-image: url(FancyToolbarImages/buttonPressed.png);
}

.fancy-toolbar-button-segment {
	height: 26px;
	border: none;
	background-color: transparent;
	padding: 0;
	vertical-align: middle;
	margin: 0;
}

.fancy-toolbar-button-segment.fancy-toolbar-button-segment-start .fancy-toolbar-button-segment-cap {
	background-image: url(FancyToolbarImages/buttonLeft.png);
	background-repeat: no-repeat;
	height: 25px;
	width: 11px;
	float: left;
}

.fancy-toolbar-button-segment.fancy-toolbar-button-segment-start:active .fancy-toolbar-button-segment-cap, .fancy-toolbar-button-segment.fancy-toolbar-button-segment-start.fancy-toolbar-button-selected .fancy-toolbar-button-segment-cap {
	background-image: url(FancyToolbarImages/buttonPressedLeft.png);
}

.fancy-toolbar-button-segment.fancy-toolbar-button-segment-end {
	margin-right: 5px;
}

.fancy-toolbar-button-segment.fancy-toolbar-button-segment-end .fancy-toolbar-button-segment-cap {
	background-image: url(FancyToolbarImages/buttonRight.png);
	background-repeat: no-repeat;
	height: 26px;
	width: 14px;
	float: left;
}

.fancy-toolbar-button-segment.fancy-toolbar-button-segment-end:active .fancy-toolbar-button-segment-cap, .fancy-toolbar-button-segment.fancy-toolbar-button-segment-end.fancy-toolbar-button-selected .fancy-toolbar-button-segment-cap {
	background-image: url(FancyToolbarImages/buttonPressedRight.png);
}

.fancy-toolbar-button-segment.fancy-toolbar-button-segment-start .fancy-toolbar-button-segment-middle, .fancy-toolbar-button-segment.fancy-toolbar-button-segment-end .fancy-toolbar-button-segment-middle {
	width: 14px;
}

.fancy-toolbar-button-segment-middle {
	background-image: url(FancyToolbarImages/buttonMiddle.png);
	background-repeat: repeat-x;
	height: 26px;
	width: 20px;
	float: left;
}

.fancy-toolbar-button-segment:active .fancy-toolbar-button-segment-middle, .fancy-toolbar-button-segment.fancy-toolbar-button-selected .fancy-toolbar-button-segment-middle {
	background-image: url(FancyToolbarImages/buttonPressedMiddle.png);
}

.fancy-toolbar-button-segment-divider {
	background-image: url(FancyToolbarImages/buttonPressedMiddle.png);
	background-repeat: repeat-x;
	height: 26px;
	width: 1px;
	float: left;
}

.fancy-toolbar-button-bold:before {
	content: "B";
	font-weight: bold;
}
.fancy-toolbar-button-close img {    content:url("FancyToolbarImages/close-imagezoom.gif"); max-width: 1.25em;}
.fancy-toolbar-button-save {    content:url("FancyToolbarImages/apple-save.png"); }
.fancy-toolbar-button-underline:before {
	content: "U";
	text-decoration: underline;
}

.fancy-toolbar-button-italic:before {
	content: "I";
	font-style: italic;
}

.fancy-toolbar-button-link img {
	content: url(FancyToolbarImages/link.png);
}

.fancy-toolbar-button-image img {
	content: url(FancyToolbarImages/camera.png);
}

.fancy-toolbar-button-text-align {
	margin-top: 6px;
	width: 10px;
	height: 9px;
}

.fancy-toolbar-button-text-align.fancy-toolbar-button-text-align-left {
	background-image: url(FancyToolbarImages/textAlign.png);
	background-position: 0 0;
}

.fancy-toolbar-button-text-align.fancy-toolbar-button-text-align-center {
	background-image: url(FancyToolbarImages/textAlign.png);
	background-position: 0 9px;
	margin-left: 5px;
}

.fancy-toolbar-button-text-align.fancy-toolbar-button-text-align-justify {
	background-image: url(FancyToolbarImages/textAlign.png);
	background-position: 0 17px;
	margin-left: 5px;
}

.fancy-toolbar-button-text-align.fancy-toolbar-button-text-align-right {
	background-image: url(FancyToolbarImages/textAlign.png);
	background-position: 0 25px;
	margin-left: 4px;
}





















/* Lab3 */
/*
Coffee with milk
Table design by Roger Johansson, 456 Berea Street
www.456bereastreet.com
================================================*/
.lab3 {font-size: .85em}

.lab3 table {
        font:normal 76%/150% "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
        border-collapse:separate;
        border-spacing:0;
        margin:0 0 1em;
        color:#000;
        }
.lab3 table a {
        color:#523A0B;
        text-decoration:none;
        border-bottom:1px dotted;
        }
.lab3 table a:visited {
        color:#444;
        font-weight:normal;
        }
.lab3 table a:visited:after {
        content:"\00A0\221A";
        }
.lab3 table a:hover {
        border-bottom-style:solid;
        }
.lab3 thead th,
.lab3 thead td,
.lab3 tfoot th,
.lab3 tfoot td {
        border:1px solid #164152;
        border-width:1px 0;
        background: white;	/*#C0E4EB; */
        }
.lab3 th {
        font-weight:bold;
        line-height:normal;
        padding:0.25em 0.5em;
        text-align:left;
        }
.lab3 tbody th,
.lab3 td {
        padding:0.25em 0.5em;
        text-align:left;
        vertical-align:top;
        }
.lab3 tbody th {
        font-weight:normal;
        white-space:nowrap;
        }
.lab3 tbody th a:link,
.lab3 tbody th a:visited {
        font-weight:bold;
        }
.lab3 tbody td,
.lab3 tbody th {
        border:1px solid #fff;
        border-width:1px 0;
        }
.lab3 tbody tr.odd th,
.lab3 tbody tr.odd td {
        border-color:#164152;
        background: white;	/* #E3FFFF; */
        }
.lab3 tbody tr:hover td,
.lab3 tbody tr:hover th {
        background: white; /* #D1F2FF; */
        border-color:#174552;
        }
.lab3 caption {
        font-family:Georgia,Times,serif;
        font-weight:normal;
        font-size:1.4em;
        text-align:left;
        margin:0;
        padding:0.5em 0.25em;
        }
.lab3 tbody tr td.labLabel  {
        font-weight:bold;
        color: black;
}


.lab3 tbody tr td.labLabel a:link {
        font-weight:bold;
        text-decoration: none;
        color: black;
}

.lab3 tbody tr td.labRefRanges  {
        font-family:Georgia,Times,serif;
        font-weight:normal;
        font-size:1.0em;
        text-align:left;
        color: black;
}
#labclias {color:black; font-size: x-small;}
/* END */

a { color: black }





h1 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: black;
        margin: 0px;
}

h2 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: black;
        margin: 0px;
}

h3 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: black;
        margin: 0px;
}

* {font-family: 'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC', Arial, Verdana, sans-serif}

.evaluation li {line-height: 1.25em; margin-bottom: .65em;}
.commentTitleU {text-decoration: underline;}
.commentTitleB {font-weight: bold;}
/* editting fix */
.e2-sal-lab-lev:before {content: 'Estradiol level:'; font-weight:bold;}
.p-sal-lab-lev:before {content: 'Progesterone level:'; font-weight:bold;}
.t-sal-lab-lev:before {content: 'Testosterone level:'; font-weight:bold;}
.dhea-sal-lab-lev:before {content: 'DHEA level:'; font-weight:bold;}
.cortAM-sal-lab-lev:before {content: 'Cortisol AM level:'; font-weight:bold;}
.cortPM-sal-lab-lev:before {content: 'Cortisol PM level:'; font-weight:bold;}
.ntx-uri-lab-lev:before {content: 'NTx level:'; font-weight:bold;}

.rationale-u:before {content: 'Rationale:'; text-decoration: underline;}
.consider-u:before {content: 'Consider:'; text-decoration: underline;}

/* /editting fix */



/* Cortisol Adj */
#sid_lab-CortisolAM { display: block;	}
#sid_lab-CortisolAM2 { display: block;	}
#sid_lab-CortisolPM { display: block;	}
#sid_lab-CortisolPM2 { display: block;	}
	/* meress adj */ 

	.meress	#sid_lab-CortisolAM { display: inline;	}
	.meress	#sid_lab-CortisolAM2 { display: inline;	}
	.meress	#sid_lab-CortisolPM { display: inline;	}
	.meress	#sid_lab-CortisolPM2 { display: inline;	}



ul {-webkit-padding-start: 1.5em;}

.editLogicLink {display: none;}
.kUnderline {text-decoration:underline;}

.noFax {display: none;}

 .recMedMethod {display: none;}

.maleHH .recMedMethod {display: inline;}
.RFF .recMedMethod {display: inline;}



input[type="radio"] {padding: .15em;}

/* custom stuff for aYf0 */
/* utilizes class from textLogic */
.reportLabLevel {display:inline-block; vertical-align:middle; margin-right: 2em;}
/*	.reportSymScore {display:inline-block; vertical-align:middle; margin-left: 2em;}	*/
.reportSymScore {display: none;}
.citationLink {font-size: small; color: black;}
.moreInfo {display: none;}

.logic-subSect li {margin-bottom: 0em; line-height:1em;}

#SelfCareNotes li {list-style-image: url(/images/aa_icons/check_box0_sm.png); margin-bottom: .75em; margin-top: .25em; list-style-position:outside;}

/* -- End of aYf0 stuff -- */
/* CSS3 mods */
    .roundBorders {border-radius: 1em; -webkit-border-radius: 1em; -moz-border-radius: 1em; border: solid black 2px; }
    
    
    
    
/* provider templates */
.meress #hormoneSummary {display: none;} .meress #HormoneSummary {display: none;}

.schwartz {}





/* missing somehow... */
.combinedyes .cmNotes {display: none;}

#MedHistoryDisplay .cmmed.combinedyes.showCombinedInfo div {display: block;}




/* MAY 21 2009 , added here 2010-11-02 */
/* added for pNotes */
#patientHHNotes:before {content: "Patient Notes: ";
display: none;}
#patientHHNotes {margin: 1em; background-color: #FDFFED;  padding: .5em; -webkit-border-radius: .5em; min-width: 30%; min-width: 45%; clear: both; /* page: pHealthStatus; */ 
display: none;}






% unless ( $session{_pGr} ) {
#recommendations_Area:after {
content: 'Auto Ship: Restore Health Pharmacy offers convenient automatic shipment of prescribed hormone therapy and over-the-counter products such as vitamins. If your patient is not yet enrolled in this service she/he can contact 1-800-558-7046, Ext. 100 to set up her/his Auto-Ship.'; 
}
% }
#procycle_FDA { font-size: x-small; padding: 0em 1.5em;}
#procycle_FDA:before { content: '*: '; font-size: x-small; }

#coritsol_graph_area { clear: both;}
#coritsol_graph_area:after { clear: both; display: block; content: ' ';}