html        { font: 14px/18px 'HelveticaNeue-Light', 'Helvetica Neue', Arial, Helvetica, sans-serif; color: #fff;  }
a:hover, a:active { outline: none; }


label.label       { display: block; cursor: pointer; line-height: 20px; padding-bottom: 9px; text-shadow: 0 -1px 0 rgba(0,0,0,.2); }
.radios     { padding-top: 18px; background: url(/css/img/divider.png) repeat-x 0 0; }
.label_check input,
.label_radio input  { margin-right: 5px; }


 .label_check,
 .label_radio    { padding-left: 34px; }
 .label_radio    { background: url(/css/img/radio-off.png) no-repeat; }
 .label_check    { background: url(/css/img/check-off.png) no-repeat; }
 label.c_on      { background: url(/css/img/check-on.png) no-repeat; }
 label.r_on      { background: url(/css/img/radio-on.png) no-repeat; }
 .label_check input,
 .label_radio input  { position: absolute; left: -9999px; }
