.NULL > .yes.rec_section:before {
content: 'If Cycling:';
font-weight: bold;
}

.NULL > .no.rec_section:before {
content: 'If No Longer Cycling:';
font-weight: bold;
}


#add_rxpad_cf_img {display: none;}

#header #loginout { display: inline-block !important; margin-top: -7px; }

.central_fill {display: none;}


/* recent_activity area */
.pq_rx_order > .ra_rxn {
right: 1.5em;
position: relative;
}
.ra_rxn {
font-size: smaller;
color: gray;
}

.ra_rxn:after {
content: " - ";
}


#db_notices ul.listing li {
	max-width: 400px;
}

.rx_order_item {
	border-top: 1px solid #ccc;
	margin-top: .25em;
}

/* use JS instead (document.body.style.zoom="125%")
html {
	transform: scale(1.2); 
-webkit-transform: scale(1.2); 
-webkit-transform-origin: 0 0; 
-moz-transform: scale(1.2); 
-moz-transform-origin: 0 0; 
-o-transform: scale(1.2); 
-o-transform-origin: 0 0; 
-ms-transform: scale(1.2); 
-ms-transform-origin: 0 0;
	
}
*/

.rsmall { font-size: 0.75em;}


.func_call_out:hover:after {
	content: attr(data-phone);
	display: block;
}
.func_call_out:hover {
	cursor: pointer;
}