
 .lab_results_section {}

 .lab3.cbc {
	 margin-top: 1em;
 
 }
 .lab3.lipid {
	 margin-top: 1em;
 }
 .lab3.metabolic {
	 margin-top: 1em;
 }

 .lab3.cbc:before { content: "CBC"; font-weight: bold;}
 .lab3.lipid:before { content: "Lipids"; font-weight: bold;}
 .lab3.metabolic:before { content: "Metabolic"; font-weight: bold;}
  
 table.lab3  td.labRefRanges * {
		 font-size: 0.5em !important;
		 }
 table.lab3  td.labRefRanges caption {
		 padding: 0em !important;
		 }
		 
td.labRefRanges table {
padding: 0em;
margin: 0em;
border-collapse: collapse;
}

.rr_row.full_rr {
display: none;
}


#lrTable .labRefRanges table:after {
content: '\0000a0';
display: block;
max-height: .5em;
}

/* from report.css */
/* put into report.css */
#lrTable .labRefRanges td {
border: solid 1px black;
border-collapse: collapse !important;
padding: 0.15em 0.5em;
text-align: center;

}

#lrTable .labRefRanges table {
margin-top: .5em;
}
#lrTable .labRefRanges table:after {
	
	content: '>\0000a0';
	display: block;
	max-height: .5em;
}

.labProductPrice:before {content: '- \0024';}

#lo_instruction_saved {white-space: pre-line;}

#lk_rec_kit label {
display: block;
/*float: left;*/
padding: 0.15em 0em 0 .25em;
}




.lab_value.hilo_0::after {
content: 'L';
font-size: 0.65em;
vertical-align: super;
right: .25em;
position: relative;
color: red;
}
.lab_value.hilo_1::after {
content: 'L';
font-size: 0.65em;
vertical-align: super;
right: .25em;
position: relative;
}

.lab_value.hilo_3::after {
content: 'H';
font-size: 0.65em;
vertical-align: super;
right: .25em;
position: relative;
}

.lab_value.hilo_4::after {
content: 'H';
font-size: 0.65em;
vertical-align: super;
right: .25em;
position: relative;
color: red;
}















/* order area */

.lab-subclass.thyroid::before {
content: 'Thyroid';
font-weight: bold;
text-decoration: underline;
font-size: .85em;
}

.lab-subclass.hormone::before {
content: 'Hormones';
font-weight: bold;
text-decoration: underline;
font-size: .85em;
}

.lab-subclass.other::before {
content: 'Others';
font-weight: bold;
text-decoration: underline;
font-size: .85em;
}

.lab-subclass {
margin-top: 0.5em;
}








.lab-category.indiv {
-webkit-columns: 2;
-moz-column-count: 2;
-moz-column-gap: 2em;
-moz-column-rule: 1px solid #ddd;
-webkit-column-count: 2;
-webkit-column-gap: 2em;
-webkit-column-rule: 1px solid #ddd;
width: 37em;
max-width: 37em;
margin-right: 0em;
}


.lab-category.indiv .lab_product {
padding-left: 1em;
}



.lab_units:before {
content: 'Units: ';
}



















.func_call_out:hover:after {
	content: attr(data-phone);
	display: block;
}
.func_call_out:hover {
	cursor: pointer;
}