body.hipaa_mode_true .patient_name .hipaa_name {	color: transparent; text-shadow: gray 0 0 .75em;	}

#cs_addl_funcs_tbs li {
				display: block;
				clear: both;
				float: none;
				margin: 0.5em 0em;
}

#cs_addl_funcs_tbs li a {
display: block;
clear: both;
float: none;
background: none;
color: #666;
}
#cs_addl_funcs_tbs li.ui-tabs-selected {
background: #EDEDED url(images/bg_fallback.png) 0 -50px repeat-x;
background: -moz-linear-gradient(top, #B9E0F5 0%, #92BDD6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B9E0F5), color-stop(100%,#92BDD6));
background: -webkit-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
background: -o-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
background: -ms-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
background: linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

#lab_product_list_saliva label.label_check {background: none !important; padding-left: 0px;}
#lab_product_list_saliva label.label_check input {position: relative; left: 0px;}

#lab_product_list_serum label.label_check {background: none !important; padding-left: 0px;}
#lab_product_list_serum label.label_check input {position: relative; left: 0px;}


#lab_product_list_saliva .centered_div {clear: both; width: initial;}
#lab_product_list_serum .centered_div {clear: both; width: initial;}

#lo_pname {
	font-weight: bold;
	margin-right: 1.0em;
}
#lo_pname:after {content: ' - ';}
#lo_provider {font-weight: bold;}
#lo_price:before {content: '$';}
#lo_price {margin-left: 5em; color: #619a71; font-weight: bold;}

.lab-category.clinic .lab-desc {display: none;}
.not-paid {
color:#c22e2e;
}
#lo_LDU:before {content: 'Last Updated: ';}


#lo_o_info {
float: left;
margin-right: 2em;
}

#lo_o_info_details {
float: left;
}

#lab_product_list_saliva {
clear: both;
}

#lo_update_indicator { font-weight: bold; color: #619a71; font-size: 1.1em;}


#lo_lab_status:before {content: 'Lab Status: ';}
#lo_hh_status:before {content: 'HH Status: ';}
#lo_report_status:before {content: 'Report Status: ';}
#lo_statuses .Complete{color: #619a71;}

#lo_kit_status:before {content: 'Kit Status: ';}
#lo_kit_status.Received{color: #619a71;}

#lk_rec_kit {float: left;} #lk_review_area {float: left; padding-left: 2.5em;}




ul.lab_addl_funcs_tbs li a {
display: block;
clear: both;
float: none;
background: none;
color: #666;
}


ul.lab_addl_funcs_tbs li {
display: block;
clear: both;
float: none;
margin: 0.5em 0em;
}



#lksrq_tbl_wrapper {
max-width: 600px;
clear: none;
float: left;
}

#loq_tbl_wrapper {

max-width: 740px;
clear: none;
float: left;
}


#lsr_tbl_wrapper {
max-width: 600px;
clear: none;
float: left;
}



.md_float {text-align: center; }
.md_float img {display: block;}
.md_float_clipper {
	max-height: 350px;
	overflow-y: hidden;
	}
.md_float_clipper.on:hover {
	overflow-y: scroll;
	}
	
#ltype_saliva td {
padding: 4px;
}

#email_templ_quick { max-width: 50%; overflow-x: -webkit-marquee;}

.pt_dropoff_emails {margin-top: 2em;}
.pt_dropoff_emails:before {content: 'Patient Drop Off'; font-weight: bold; }

#loginout {
	display: inline-block !important;
	padding-left: 2.5em  !important;

}

#email_templates {display: inline-block; }

#lo_type_selection {clear: both;}
#lo_type_selection #labs_list_saliva {height: 525px;}
#lo_type_selection #labs_list_serum {height: 525px;}
#lo_type_selection .accordion_header {padding: 0.15em 0.35em; font-weight: bold;}

#lab_billing_options {	display: inline-block;}
#lab_billing_options label {display: inline-block;}









.left_bar ul.ui-tabs-nav  li a {
display: block;
clear: both;
float: none;
background: none;
color: #666;
}


.left_bar ul.ui-tabs-nav .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
background: url(/images/aristo/bg_fallback.png) 0 0 repeat-x;
background: -webkit-gradient( linear, left bottom, left top, color-stop(1, rgb(237,237,237)), color-stop(0, rgb(196,196,196)) );
background: -moz-linear-gradient( center top, rgb(237,237,237), rgb(196,196,196) );
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
}



.left_bar ul.ui-tabs-nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-corner-top.ui-state-active {
background: #EDEDED url(images/bg_fallback.png) 0 -50px repeat-x;
background: -moz-linear-gradient(top, #B9E0F5 0%, #92BDD6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B9E0F5), color-stop(100%,#92BDD6));
background: -webkit-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
background: -o-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
background: -ms-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
background: linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}



.left_bar ul.ui-tabs-nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-corner-top {
margin-bottom: .5em;
}


.left_bar ul.ui-tabs-nav  li.ui-tabs-selected a {
	background: inherit !important;
}


/* put into report.css */
#lrTable .labRefRanges td {
border: solid 1px black;
border-collapse: collapse !important;
padding: 0.15em 0.5em;
text-align: center;

}

#lrTable .labRefRanges table {
margin-top: .5em;
}
#lrTable .labRefRanges table:after {
	
	content: '>\0000a0';
	display: block;
	max-height: .5em;
}

.labProductPrice:before {content: '- \0024';}

#lo_instruction_saved {white-space: pre-line;}

#lk_rec_kit label {
display: block;
/*float: left;*/
padding: 0.15em 0em 0 .25em;
}

#gaok_tbl {}
.small.pname {	font-size: x-small; }
.small.sDate {	font-size: x-small; }
.small.oDate {	font-size: small; }
#gaok_tbl td:nth-child(8) {	font-size: small;	}


/* labs changes */

.productCategory-minor {
display: none;
}


/* cmeds and prep reports */

#patient_reported_meds:before {content: 'Patient Reported Meds:'; font-weight: bold; }
#patient_reported_meds {	margin-top: 1em;	}
.rml_0 {0padding-right: 3em; left: 20px; position: relative; min-width: 8em; display:inline-block;}
.rml_1 {0padding-right: 3em; left: 20px; position: relative; min-width: 8em; display:inline-block;}
.rml_2 {0padding-right: 3em; left: 20px; position: relative; clear:both; min-width: 8em; display:inline-block;}
.rml_3 {0padding-right: 3em; left: 20px; position: relative;  display:none;}
.rml_1 input {max-width: 8em;}

.cmMed {  border-top: gray 2px solid; display: inline-block;}
.cmMed:nth-child(even) {background-color: #BBDCFF;}
.cmMed .deletebutton { max-width: 1.5em; cursor: pointer; vertical-align: bottom; margin-left: 2em;}

li.pt_rpt_med {  border-top: gray 2px solid; display: inline-block;}
li.pt_rpt_med:nth-child(even) {background-color: #BBDCFF;}
#testingStatus td {padding: 0.05em 0.35em;}
#testingStatus tr:nth-child(even) {background-color: #BBDCFF;}

#editRealMedicationsArea:before {content: 'Logic Medications:'; font-weight: bold; }
#editRealMedicationsArea {	margin-top: 1em;	}

/* //cmeds/prepreports */

.lk_cmeds #cmedsAreaDivo  {
clear: both;
}


.pc_testing_status::before {
content: 'Lab Status:';
display: block;
font-weight: bold;
}

#testingStatus th {
font-size: 0.8em;
}

#lo_patientid { font-weight: bold; color: red; }

#gaok_tbl .report_ready {	color: red;	}


#expcc_return_area .ccexp_last_contacted {
color: #AD4444;
font-size: small;
}




/* sms abilities */

.sms_message:hover {
overflow-x: auto;
white-space: normal;
}

.sms_message {
max-width: 30em;
overflow-x: hidden;
text-overflow: ellipsis;
display: inline-block;
white-space: nowrap;
}

.sms_history_msg.sent_today .sent_date { font-weight: bold;}




/* custom pharmaco */

#pharmaco_data_table td.insurance_plan {
max-width: 10em;
min-width: 5em;
font-size: small;
word-break: break-all;
}

#pharmaco_data_table td.provider_name {
font-size: small;	
max-width: 10em;
min-width: 5em;

}

#pharmaco_data_table td.patient_name {
	font-size: small;
max-width: 10em;
min-width: 5em;

}

#pharmaco_data_table .rx_notes {font-size: x-small;}

.report_options1 {font-size: small;}

/* END PHARMACO */


#pc_testing_status {
	max-height: 12em;
	overflow-y: hidden;
}

#pc_testing_status:hover {
	max-height: 12em;
	overflow-y: scroll;
}


/* communications */

#call_history_area {
max-height: 10em;
overflow-y: hidden;
max-width: 20em;
}
#call_history_area:hover { overflow-y: scroll;	cursor: all-scroll;}
.call_history:nth-child(odd) { background-color: #E6F5FA; border-bottom: 1px solid #E5EFF8; }

#sms_history_area {
max-height: 10em;
overflow-y: hidden;
max-width: 50em;
width: 50em;
}
#sms_history_area:hover { overflow-y: scroll;	cursor: all-scroll;}
.sms_history_msg:nth-child(odd) { background-color: #E6F5FA; border-bottom: 1px solid #E5EFF8; }


#rx_notes_div {
max-height: 10em;
overflow-y: hidden;
max-width: 50em;
width: 50em;
margin-top: 1em;
}
#rx_notes_div:hover { overflow-y: scroll;	cursor: all-scroll;}
.rx_note_history:nth-child(odd) { background-color: #E6F5FA; border-bottom: 1px solid #E5EFF8; }

/* END communications */


/* liam CF changes */

.pc_unpriv {
	visibility: hidden;
	display: none;
}


#summary_rxHist_tbody {
       float: left;
       width: 594px !important; 
       overflow: hidden;
/*       border: 3px solid #ccc;
       border-radius: 6px;
       */
}
#summary_rxHist_tbody #rx_hist_tbl td:not([class="addRx"]) {
       font-size: .75em;
}
#summary_rxHist_tbody input[value^="Add"] {
       visibility: hidden;
       display: none;
}
#summary_rxHist_tbody+div.pc_recent_activity {
       visibility: hidden;
       display: none;
}

*/

.rsmall { font-size: 0.75em;}