	.lab3 span.labLabel {float: none !important; position: relative}
	.lab3 span.labRefRanges {float: none !important; position: relative}
	.lab3 span.lab_value {float: none !important; position: relative}
	
	.lab3 div.ltblr {page-break-inside: avoid !important; position: relative}
	.lab3 {	position: relative }