body { font-family: ProximaNovaRegular !important;}




/* turn off */
li.lab_listing span.view {display:none;}
/* logo */

#RestoreLogo {
	position:absolute;
	width:900px;

	/*
		left:300px;
	
		-webkit-transition:all 2.25s ease-in-out;
		-moz-transition:all 2.25s ease-in-out;
		-o-transition:all 2.25s ease-in-out;
		-ms-transition:all 2.25s ease-in-out;	
		-transition:all 2.25s ease-in-out;
	*/
}


#ma_parent {background: whitesmoke; }
#ma_parent > div.contentbox { min-height: 500px;	  min-width: 600px;	}



/* dialog stuff */
#dialog-overlay {

    /* set it to fill the whil screen */
    width:100%; 
    height:100%;
    
    /* transparency for different browsers */
    filter:alpha(opacity=50); 
    -moz-opacity:0.5; 
    -khtml-opacity: 0.5; 
    opacity: 0.5; 
    background:#000; 

    /* make sure it appear behind the dialog box but above everything else */
    position:absolute; 
    top:0; left:0; 
    z-index:3000; 

    /* hide it by default */
    display:none;
}


#dialog-box {
    
    /* css3 drop shadow */
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
    /* css3 border radius */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    background:#eee;
    /* styling of the dialog box, i have a fixed dimension for this demo */ 
    width:528px; 
    
    /* make sure it has the highest z-index */
    position:absolute; 
    z-index:5000; 

    /* hide it by default */
    display:none;
}

#dialog-box .dialog-content {
    /* style the content */
    text-align:left; 
    padding:10px; 
    margin:13px;
    color:#666; 
    font-family:arial;
    font-size:11px; 
}

/* extra styling */
#dialog-box .dialog-content p {
    font-weight:700; margin:0;
}

#dialog-box .dialog-content ul {
    margin:10px 0 10px 20px; 
    padding:0; 
    height:50px;
}

.clickable	{cursor: pointer;}
.alg-middle	{vertical-align: middle;}







/* dashboard */

#dash_area_2 { margin: 1.85em; float: left; max-width: 55%; }

.dataTables_wrapper label {padding: 0px;}




























/* Nathan */
/* --- Original --- */



/* -- Global -- */

body {
    color: #111;
    height: auto;
    }
body > div {
    width: 1000px;
    margin-left: auto !important;
    margin-right: auto !important;  
    position: relative;
    }   
label {
    text-shadow: none !important;
    line-height: normal;
    }
#action_info_area {
    background-image: none;
    color: red;
    font-weight: bold;
    text-shadow: none !important;
    }
.hide {
    display: none !important;
    }
.show {
    display: block !important;
    }   
input.ui-button {
    height: 24px !important;
    }
    
/* --- Header --- */

#header {
    width: 1000px;
margin: 0em auto 1em auto;
text-align: center;
    }   
#header #tool_bar span.tool {
    text-shadow: none !important;
    }
#header #nav {
    padding: 10px 6px 1px 6px;
    min-width: 992px;
    width: 80%;
    }   
#header #searcharea {
    padding: 0px 15px 0 1px;
    margin: 3px 0 3px;  
    }
#header .searchbox {
	font-size: 16px;
    margin-top: 0;
    height: 26px;
    padding: 0 15px;
    }
#header #tool_bar {
    padding-top: 15px !important;
    }   
#header #tool_bar .tool {
    margin-left: 25px;
    }       
    
    
    
/* --- Right Side --- */
#rightside {
    height: auto !important;
    }
#rightside #db_notices,
#rightside #recent_patients {
    float: left;
    }       
    
        /* --- Dashboard ---*/  

            #dash_area_2 .listing { margin-left: 1.25em; }
/*
        #rightside #dashboard #r_diag_i_tbl_wrapper {
            width: 968px;
            }   
        #rightside #dashboard #r_diag_i_tbl_wrapper th {
            width: 150px !important;
            }   
        #rightside #dashboard #r_diag_i_tbl_wrapper th:first-child {
            width: 350px !important;
            }       
        #rightside #dashboard #r_diag_i_tbl_wrapper tbody td {
            text-align: right !important;
            }   
        #rightside #dashboard #r_diag_i_tbl_wrapper tbody tr td:first-child {
            text-align: left !important;    
            }           
 */ 
        /* --- Patient List --- */  
        #rightside  .contentcontainer {
            width: 1000px ;   
            }

/*        #rightside  #plist_tbl {
            width: 968px !important;    
            }
   */ 
        
        /* --- Refill Requests ---*/    
        
        #refillQ_area #li_rfq_DESC span {
            font-size: 18px;
            color: #1A3F47; 
            width: 250px;
            display: block;
            float: left;
            text-align: left;
            margin: 0 !important;
            }       
        #refillQ_area #li_rfq_DESC span:last-child {
            max-width: none;
            overflow: visible;
            text-align: center !important;
            width: 150px;
            white-space: nowrap;
            }   
        #refillQ_area .rfList_Patient,
        #refillQ_area .rfList_Drug,
        #refillQ_area .rfList_DateFilled { 
            margin-right: 0 !important; 
            max-width: none;
            /*min-width: 0;           April 02 */
            }   


        #refillQ_area .rfList_Patient {	float: left; 	}
        #refillQ_area .rfList_Drug {	float: left; 	}
        #refillQ_area .rfList_DateFilled {	 	}






        #refillQ_area  .rfList_Drug {
            width: 350px;   
            }
        #refillQ_area #refillQ_area span.helper {
            color: #000;    
            width: 250px;
            display: block;
            text-align: left;
            float: left;            
            margin: 0 !important;
            }                               
        #refillQ_area #refillQ_area > span:last-child {
            width: 150px;
            text-align:center;
            }                               
         #refillQ_area > span {
            clear: both;
            }                                                       
         #refillQ_area .rfList_DateFilled {
            padding-left: 10px;
            }           
        #refillQ_area .rfg_refillLine {
            border-top: 1px solid silver;  
	        padding: 0.25em 1em ;           
            margin: 0;
            }
            #li_rfq_DESC {
			min-height: 1.2em;
			}
        .rfqx {
            border-bottom: 1px solid #1A3F47;  
            padding-bottom: 1em;
            }
        #refillQ_area .rfg_refillLine:hover {
            background: #BEE5EE;
            /*url("http://rd22.restoredirect.com/css/img/bg_fade_med.png") repeat-x scroll center bottom transparent !important;*/
            cursor: pointer;
            }           
        #refillQ_area .rfg_refillLine > span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            }
        #refillQ_area .pat_ {
            padding: 0 6px 0px 6px;
            }
        #refillQ_area div.rfqx {
            position: relative;
            }                       


        #refillQ_area .child2-close {
            position: absolute;
            top: 1px;
            right: 1px;
            border-left: 1px solid grey;
            border-bottom: 1px solid grey;
            padding: 3px 6px;
            cursor: pointer;
            background-color: grey;
            color: white;
            }       
        #refillQ_area .child2-close:hover {
            background-color: white;
            color: grey;
            }
            
        #refillQ_area  .formattedPatientInfo > span{
            width: 200px;
            }
        #refillQ_area  .formattedPatientInfo li {
            text-align: left;
            font-size: 12px;    
            }
        #refillQ_area  .formattedPatientInfo li:first-child {
            font-weight: bold;
            font-size: 13px;
            margin-left: -12px;         
            }           
        #refillQ_area  form {    
            background-color: #EEEEEE;
			background-color: whiteSmoke;
            border: 1px solid grey;
            margin: 0;
            padding: 5px;
            }                   
        #refillQ_area  .rq_form table {
            border-left: 1px solid #aaa;
            }           
        #refillQ_area  .rq_form .rfList_RefillOpts {
            float:left;
            margin: 0 10px 0 0;
            }           
        #refillQ_area  .rq_form .rfList_ToRefill {            
            float: left;
            padding: 0 5px 0;
            width: 350px;   
            }           
        #refillQ_area  .rq_form .rfList_ToRefill * {          
            float: left;
            margin: 0 5px 0 0;
            }                       
        #refillQ_area  .rq_form .sigLine {                        
            clear: both;
            min-height: 95px;
            padding-bottom: 5px;
            width: 100%;            
            }       
        #refillQ_area  input[type=checkbox] {
            margin-top: 3px !important; 
            float: left;
            }
        #refillQ_area  .electronicSignatureLine {
            clear: both;            
            }
        #refillQ_area  .electronicSignatureLine > span {
            clear: both;            
            display: block;
            float: none;
            padding: 9px 0 0 0;
            width: 100%;
            }           
            
            .rfq_drug_name { font-weight: bold; }
/*
        #rightside #ma .pat_ input[type=submit] {
            background: url("http://restoreassets.herkimermedia.com/images/submit.png") repeat scroll 0 0 transparent;
            border: 1px solid #1D4B5F;
            color: white !important;
            font-size: 11px;
            height: 20px;
            margin: 0;
            padding: 0 4px 2px;
            background-position: left top;
            cursor: pointer;
            }   
        #rightside #ma .pat_ input[type=submit]:hover {
            background-position: left -18px;
            }                   
            
   */         
                        
        /*--- RxPad --- */      
        
		#completed_rx_options {	margin: 2em;	}
		#edit_rxpad_verify {	color: #60A5B9;
											cursor: pointer;
											font-weight: bold;
											margin: 0.5em 2em;
	}
		
		#edit_rxpad_verify:hover {text-decoration: underline;}
		

		#rxp_verify_msg {	font-size: large; font-weight: bold;	}
		#rxp_head { font-weight: bold;	}


        #rightside #ma #rxpad #rxp_patient_select {
            margin: 0 0 4px 20px;
            }   
        #rightside #ma input.patient_search {
            width: 320px;
            }                           
        #rightside #ma .rxp_med {
           /* width: 600px !important;    */
           /* width: 800px !important;   */ /* 2012-03-06 */
			width: 578px !important;
			padding-top: 0.25em;
            }       


        #rightside #ma .med_medication {
			/*
	            width: 269px;
	            margin: 0 8px 0 11px;
			*/
            width: 286px;
			width: 260px; /* 033012 */
            margin: 0 8px 0 3px;
            }                       
        #rightside #ma .remove_med {
            background-image: url("http://restoredirect.com/css/img/icons/icon_unapprove.png");
            background-repeat: no-repeat;
            color: transparent;
            cursor: pointer;
            display: block;
            float: left;
            height: 16px;
            margin:4px 3px 0 -7px;
            vertical-align: middle;
            width: 15px;
            }           
        #rightside #ma .med_sig textarea {
            resize: none;
            overflow-y: hidden;
            margin: 5px 0 0 2px;
/*            width: 539px;		*/
			width: 559px;
            }                                   
        #rightside #ma #rxpad_foot  {
            clear: both;
            padding: 0px 0 15px 0;      
            }
        #rightside #ma #rxp_toolset {
            position: relative;
            display: block;
            clear: both;
            margin: 15px 0 0 0;
            left: 0;
            padding: 0 0 0 204px;
            }
            
        /*--- Recommendations --- */
        #rxp_recommendations_prompt_form .rec_display_full_rec {
            white-space: nowrap;
            width: 557px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0 0 0 25px;
            }                       
        #rxp_recommendations_prompt_form .rec_display_med {
            font-weight: bold;  
            }
        #rxp_recommendations_prompt_form .rec_display_dose {
            color: #5C82A5;
            font-weight: bold;
            }           
        #rxp_recommendations_prompt_form .rec_category {
            margin: 6px 0;  
            }
        #rxp_recommendations_prompt_form .rec_medication {
            margin: 6px 0;
            position: relative; 
            }           
        #rxp_recommendations_prompt_form .rec_medication .rec_plus{
            position: absolute;
            left: 50%;
            top: -14px;
            font-size: 20px;            
            color: #2B6C88;
            text-shadow: #999 0px 1px 0px;         
            }                       
        #rxp_recommendations_prompt_form .rec_system.Systemic,
        #rxp_recommendations_prompt_form .rec_category + .rec_category {
            border-top: 1px solid grey;
            }           
     #rxp_recommendations_prompt_form .rec_system.OTC {
            border-top: 1px solid grey;
            }
     #rxp_recommendations_prompt_form .rec_system.Local {
            border-top: 1px solid grey;
            }   
     #rxp_recommendations_prompt_form .rec_system label {
            padding: 0;
            line-height: 21px;
            }                   
        #rxp_recommendations_prompt_form .label_check {
            overflow: hidden; 
            text-overflow: ellipsis; 
            white-space: nowrap;
            }           
        #rxp_recommendations_prompt_form div.rec_medication.andor_or.next_andor_and {
            margin: 0 0 0 -8px;
            padding: 10px 8px 8px;
            width: 592px;
            }           
        #rxp_recommendations_prompt_form .andor_or + .andor_and:before {
            font-size: 28px;
            content: none;
            }           
        #rxp_recommendations_prompt_form .andor_or + .andor_and {
            margin: 0 0 6px -8px;
            padding: 0 8px 8px;
            width: 592px;
            }           
            
            
        /*--- Rx Template --- */
            
        #rxp_rx_template label {
            width: 560px;
            padding: 0; 
            }   
        #rxp_rx_template .template_group {
            border-bottom: 1px solid grey;
            margin: 0 0 1px 0;
            }               
        #rxp_rx_template .template_group > div form {
            background-color: #eeeeee;
            padding: 5px;
            margin-bottom: 1px;
            border: 1px solid white;
            }                   
        #rxp_rx_template .template_group > div form.rxtmp_active {
            background-color: #fff;
            border: 1px solid #ddd;
            }           
        #rxp_rx_template .template_group > div form.rxtmp_active .medDN label {
            font-weight: bold;
            }           
            
        /*--- Add Patient --- */
        #add_patient_form .label_radio {
            display: block;
            float: left;    
            }                           
        #add_patient_form .form_fields > div {
            display: inline-block;
            float:left;
            margin: 2px 0 0 6px;            
            }                       
        #add_patient_form .form_fields:nth-child(2) {
            margin: 6px 0 0 0;
            }   
        #add_patient_form .form_fields:nth-child(2) > input {
            display: inline-block;
            float:left;
            margin-right: 10px;
            }       
        #add_patient_form .form_fields .label_radio {
            padding-left: 27px;
            }                                                       
            
        /* --- Rx History --- */
        #rx_hist_tbl .row-border-img-top td {
         -moz-border-image: none;
         -webkit-border-image: none;
         vertical-align: top;
            }
        #rx_hist_tbl .sig-row td {
         -moz-border-image: none;
         -webkit-border-image: none;
            border-bottom: 1px solid grey;
            }
        #rx_hist_tbl .rx_hist_fill_dates img {
            display: none;  
            }
        #rx_hist_tbl a.rx_hist_fill_dates {
		        position: relative;
				left: -20px;
				top: 9px;
	            }
        #rx_hist_tbl a:hover.rx_hist_fill_dates {
            background-position: left -10px;
            }       
        #rx_hist_tbl .sig-row {
            border: 1px solid grey;
            }                   
        #rx_hist_tbl .sig{
            padding: 0 0 6px 0;     
            }                               
        #rx_hist_tbl .sig:hover {           
            max-height: 1em;
            height: 1em;
            max-width: 400px;
            overflow-x: hidden;
            overflow-y: hidden;
            text-overflow: ellipsis;
            /*	white-space: nowrap;    */
            }
        #rx_hist_tbl .sig-active {          
            max-height: 3em !important;
            white-space:normal !important;
            }           
        #rx_hist_tbl td .sig-corners {
            background-color: #EEE;
            border: 1px solid grey;
            border-radius: 4px 4px 4px 4px;
            font-size: 13px;
            line-height: 13px;
            padding: 2px 3px;
            overflow: hidden;
            max-width: 433px;
            margin: 0 0 0 20px;
            cursor: pointer;
            }
        #rx_hist_tbl .sig-active .sig-corners {
            border: 2px solid #4fa4bc;
            }                           
        #rx_hist_tbl td.medication {
            font-weight: bold;
            }                                           
        #rx_hist_tbl .addRx .label_check {
            padding: 0 0 10px 0;
            margin: 0 0 0 14px; 
            }       
        #rx_hist_tbl .date_filled {
            position: relative;
            display: block;
            }       
        #rx_hist_tbl .fill_date_list {
            background-color: white;
            border: 2px solid #4FA4BC;
            border-radius: 4px 4px 4px 4px;
            margin: 0;
            padding: 0px 2px;
            position: absolute;
            right: -70px;
            top: 2px;
            }                       
    
    
    
    
    
    
    
    
    
    
    /* rx template */
    
    span.tmpl_med_dose.manual_dose     { display:none; }

    
    
    
    
    
/* --- UI Tabs Nav --- */

    ul.tabs-correct {
        padding-top: 19px !important;
        border: none !important;
        }   
    .tabs-correct li {
        border: none !important;
        padding-bottom: 0 !important;
        }
    .tabs-correct li.ui-state-default,
    .tabs-correct li.ui-tabs-selected {
        background: transparent !important;
        box-shadow: none !important;
        }
    .tabs-correct li.ui-tabs-selected {
        top: 0 !important;
        }       
    .tabs-correct li.ui-corner-top a:hover {
        background-color: #666666;
        color: white !important;
        cursor: pointer;
        }               


/* --- UI Tabs Nav #2  --- */

    ul.tabs-correct-2 {
        background: none;
        border: none;
        margin-top:  19px !important;
        }   
    .tabs-correct-2 li {
        float: left;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        border: none !important;
        background: none !important;
        box-shadow: none !important;
        }
    .tabs-correct-2 li.ui-tabs-selected a {
    background: none repeat scroll 0 0 #FFFFFF !important;
    color: #666666 !important;
    outline: medium none !important;
        top: 0 !important;
        }
    .tabs-correct-2 li.ui-corner-top a {
    background: none repeat scroll 0 0 #313131;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-weight: 700;
    margin-left: 2px;
    outline: medium none;
    padding: 5px 20px;
    position: relative;
    text-decoration: none;
    text-shadow: none;
    z-index: 3;
        }               
    .tabs-correct-2 li.ui-corner-top a:hover {
        background-color: #666666 !important;
        color: white !important;
        cursor: pointer;
        }               

    
    
/*--- Footer --- */
    
    div#footer {
        text-shadow: none !important;
	    width: 100% !important;
	    margin: 0 !important;
	    padding: 0;
	    bottom: 0px;
	    color: white;
		clear: both;
		font-size: 11px;
		padding: 10px 4px;
		text-transform: uppercase;
		font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;

}




.restore-horizontal {
background-color: #4E99AB;
background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, #6EB4C2), color-stop(.5, transparent), to(transparent));
background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -ms-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}
.restore-stripes {
height: 8px;
width: 375px;
float: left;
margin: 10px;
-webkit-background-size: 8px 8px;
-moz-background-size: 8px 8px;
background-size: 8px 8px;
/*-moz-box-shadow: 1px 1px 8px gray;
/*-webkit-box-shadow: 1px 1px 8px gray;
/* box-shadow: 1px 1px 8px gray; */
}




#footer_800::before {
		background-color: #4E99AB;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, #6EB4C2), color-stop(.5, transparent), to(transparent));
		background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
		background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
		background-image: -ms-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
		background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
		background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
		height: 8px;
		width: 100%;
		float: left;
		-webkit-background-size: 8px 8px;
		-moz-background-size: 8px 8px;
		background-size: 8px 8px;
		position: relative;
		bottom: 18px;
		left: -4px;
}



#footer::before {
		background-color: #4E99AB;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, #B6D9E0), color-stop(.5, transparent), to(transparent));
		background-image: -webkit-linear-gradient(#B6D9E0 50%, transparent 50%, transparent);
		background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
		background-image: -ms-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
		background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
		background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
		height: 8px;
		width: 100%;
		float: left;
		-webkit-background-size: 8px 8px;
		-moz-background-size: 8px 8px;
		background-size: 8px 8px;
		content: '  ';
		position: relative;
		bottom: 18px;
		left: -4px;


}
#footer_old::before {
		display: block;
		background-color: #6EB4C2;
		border-top: 4px solid #B6D9E0;
		height: 9px;
		padding: 0px 0px 0px 0px;
		color: white;
		font-size: 11px;
		font-weight: bold;
		content: ' ';
		right: 20px;
		top: -18px;
		position: relative;
}

#footer a { color:white !important; text-decoration: none;}
#footer a::hover { color:white ; text-decoration: underline;}

#footer {
		background-color: #6EB4C2;
		border-top: 4px solid #4E99AB;
		height: 66px;
		padding: 3px 40px 7px 20px;
		color: white;
		font-size: 11px;
		font-weight: bold;
}

    
div#footer_old {
			/*	 url("http://restoreassets.herkimermedia.com/images/bg_footer.png") repeat scroll center bottom transparent !important; 	*/
    background: url('/images/green_gradient.png') repeat scroll center bottom transparent !important;
    text-shadow: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0;
    position: fixed;
    bottom: 0px;
    color: white;
    
    
    
    
    
    
    border-top-left-radius: 25px 25px;
border-top-right-radius: 25px 25px;
clear: both;
font-size: 11px;
padding: 10px 4px;
text-shadow: white 1px 1px 1px;
    
    
    }   
#footer-inner {
 padding: 0px 15px; 
    }   
    
    #bottom_logo { max-height: 3em; }
    
    
    
    
    
    
    
    
    
    
    
    /* patient chart */
    .lab_viewed_icon {max-height: 1.5em;}
    #add_note_icon {vertical-align: middle; margin-bottom: 1em;}
    

    	/* otc hist */
    	#otcHist_tbody::before {content: 'OTC History';  font-weight: bold; display: block;    font-size: 16px; margin-bottom: 8px;	}
    	#otcHist_tbody .sig {	font-size: x-small; min-height: 1.25em;}
    	#otcHist_tbody .OTC-FillDates {	margin-left: 2em; 	}
    	#otcHist_tbody .qty {margin-left: 2.5em;}
    	#otcHist_tbody .otc_name {font-weight: bold;}
    	#otcHist_tbody rxDrop {border-bottom: 1px solid gray;}    
	    #otcHist_tbody::after{ border-bottom: 2px solid gray;}
/*	    #otcHist_tbody {margin: 2em;}	*/
		#otcHist_tbody {margin: 0px 0;}
    
    
    	/* rx hist */
/*    	#rx_history_pc #rxHist_tbody {margin-top: 2em; margin: 2em;}	*/
    	#rx_history_pc #rxHist_tbody::before 
    		{content: 'Rx History'; font-weight: bold; display: block;      font-size: 16px; margin-bottom: 8px;	}

    	
    	/* lab area */
    	#more_graphs::before { content: 'Additional Graphs:'; font-weight: bold;  }
    	#lab_graphing_area {padding: 2em; clear:both; min-height: 450px; width:850px;}
    	#labclias {float: left;	margin-right: 3em;}
    	#lab_order_area {float: left;	margin-left: 3em;}
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	/* 1 */
    	#header { height: 50px; margin: 0px 20px 0px; position: relative;	top: 6px;}
#meta_search {   -webkit-transition: all 1.25s;}
#header .searchbox #meta_search { -webkit-appearance: searchfield !important;   font-size: 18px !important;  }
.patient_selected #meta_search {width: 20em; -webkit-transition: all 1.25s;}









/* 2 */









	/* pat chart */
	
	/* reported meds */
	#medhistorydisplay .even	{	background: #F1FBFF;	}
	
	ul#curmedlist li.active	{
			background-color: white;
			border-bottom: 1px solid white;
			}
	
	ul#curmedlist li {
			background-color: #D8F3FF;
			border: 2px solid #3B9ED8;
			border-top-left-radius: 1em 1em;
			border-top-right-radius: 1em 1em;
			cursor: pointer;
			display: inline;
			float: left;
			height: 1.25em;
			margin: 2px 2px 0px;
			padding: 0.5em;
			}
	
	#medhistorydisplay {
			-webkit-transition-duration: 2.5s;
			-webkit-transition-property: opacity;
			border-bottom: 1px solid #3B9ED8;
			border-collapse: collapse;
			border-top: 1px solid #3B9ED8;
			font-family: 'Gill Sans', Rockwell, 'Trebuchet MS', TAHOMA, 'CENTURY GOTHIC';
			font-size: 1em;
			max-width: 35em;
			min-width: 20em;
			position: relative;
			top: -2px;
			}
	
	#medhistorydisplay .cmmed {
			border-bottom: 1px solid black;
			border-collapse: collapse;
			border-top: 1px solid black;
			padding: 0.15em;
			}
	
	#medhistorydisplay .cmnotes {color: #444;
		font-size: smaller;}
		
		
		/* health / lifestyle info */
		
		#importantInfo	{
			border: 2px solid gray;
			border-bottom-left-radius: 9px 9px;
			border-bottom-left-radius: 9px 9px;
			border-bottom-left-radius: 9px 9px;
			border-bottom-right-radius: 9px 9px;
			border-bottom-right-radius: 9px 9px;
			border-bottom-right-radius: 9px 9px;
			border-top-left-radius: 9px 9px;
			border-top-left-radius: 9px 9px;
			border-top-left-radius: 9px 9px;
			border-top-right-radius: 9px 9px;
			border-top-right-radius: 9px 9px;
			border-top-right-radius: 9px 9px;
			font-family: 'Gill Sans', Rockwell, 'Trebuchet MS', TAHOMA, 'CENTURY GOTHIC';
			margin: 0.75em;
			max-width: 40%;
			padding: 1em;
			float: left;
		}
		
		#importantInfo ul { -webkit-padding-start: 1.5em;	}		
		#imp_info_header {
			font-weight: bold; 
			-webkit-transform: rotate(-90deg); 
			-moz-transform: rotate(-90deg);
			display: block;
			position: relative;
				right: 58%;
				top: 10%;
		}
		#no-importantinfo::before
			{
				content: 'Health & Lifestyle Information';
				font-weight: bold;
			}
		
		
		/* labarea */
		
		#LabArea {clear:both; }
		.lab3 caption {

			font-size: 1.4em;
			font-weight: normal;
			margin: 0px;
			padding: 0.5em 0.25em;
			text-align: left;
		}
		
		.symptoms tbody tr.odd td, .symptoms tbody tr.odd
			color: #047;

			font-weight: normal;
			margin: 0px;
			padding: 0.5em 0.25em;
			text-align: left;
			}		



	.lab3 tbody tr td.lablabel {
		font-weight: bold; }

	.lab3 tbody tr.odd th, .lab3 tbody tr.odd td
	{
		background: #E3FFFF;
		border-color: #164152;
		}

	.lab3 tbody td, .lab3 tbody th
	{
		border: solid white;
		border-width: 1px 0px;
	}
	
	.lab3 tbody th, .lab3 td
	{
		padding: 0.25em 0.5em;
		text-align: left;
		vertical-align: top;		}

	.lab_hilo{
		color: #474747;
		font-size: smaller;}	
		
		
		
		

.lr_clia_list {font-size: x-small; color: gray;}
.lr_clia_labs+.lr_clia_labs:before { content: ', '; }
.clia_nums {font-weight: bold; font-size: x-small; color:gray;}



#report_list form {display: inline;}

	/* /END Labs */
	
	/* Symptoms */






.symptomsList {white-space: pre; vertical-align: middle;}
.symbetter {color:#3B924D;}
.symworse {color:#DA3030; }
.symequal { }
     
.curLevel_Severe {font-weight: bold;}
.curLevel_Moderate {font-weight: bold;}

	
	#symptombox {
		height: 32em;
		overflow-x: visible;
		overflow-y: auto;
		padding: 0.5em 16px 0.5em 0.5em;		
	}
	
	
	#symptomsKeyChart td {background:transparent;}		
	.symtoms2 {
			border: 3px solid #E5EFF8;
			border-bottom-left-radius: 1em 1em;
			border-bottom-left-radius: 1em 1em;
			border-bottom-right-radius: 1em 1em;
			border-bottom-right-radius: 1em 1em;
			border-top-left-radius: 1em 1em;
			border-top-left-radius: 1em 1em;
			border-top-right-radius: 1em 1em;
			border-top-right-radius: 1em 1em;
			font-size: 1.1em;
			margin: 1em auto;
			padding: 0.1em;
			}
			
		.symtoms2 caption {
				caption-side: top;
				color: #9BA9B4;
				font-size: 0.94em;
				letter-spacing: 0.1em;
				margin: 1em 0px 0px;
				padding: 0px;
				text-align: center;
		}
		
		.symptoms tbody tr.odd td, .symptoms tbody tr.odd
			{
				color: #047;

				font-weight: normal;
				margin: 0px;
				padding: 0.5em 0.25em;
				text-align: left;
			}
			
			
			
			.symtoms2 tr .column1 {vertical-align: middle !important; max-width: 215px;}
			.symtoms2 tr th.column1 span { white-space: normal; }
			.symtoms2 tr.odd .column1 {
					background: #E6F5FA;
					text-align: left;
					white-space: nowrap;
					
					
				}
				.symtoms2 tr th.column1 {
					background: #F9FCFE;
					font-size: 0.8em;
					text-align: left;
					white-space: normal;
				}
					.lab tbody tr.odd td, tbody tr.odd th {
						background: aliceBlue;
					}
				.symtoms2 thead th {
					background: #E6F5FA;
					color: #66A3D3;
					font:  bold 0.8em/1em ;
					text-align: center;
					font-size: 0.75em;
				}
				
				.symtoms2 thead td, .symtoms2 thead th {
					border-top-left-radius: 1em 1em;
					border-top-right-radius: 1em 1em;
				}
			
	
				.verysmalllink {
					color: #5F99BE;
					cursor: pointer;
					font: normal normal normal 7pt/normal verdana, arial, sans-serif;
					padding: 1px;
					text-decoration: none;
				}		
			
				.showcontrol {	cursor: pointer;	}
				
				
				
				
				.symptomsDates { font-size: small; }
				
				#symptomskeychart {
					font-size: 10px;
					}
				
				
				
				#symptomlist .rff {
					color: #5A307A;
					font-weight: bold;
					}

					.symptomsdates {
					color: black;
					font-size: 0.75em;
					font-weight: bold;
					margin-left: auto;
					margin-right: auto;
					text-align: center;
					width: 10px;
					}
					
					
					.symtoms2 tfoot td, tfoot th {
						border-bottom-left-radius: 1em 1em;
						border-bottom-right-radius: 1em 1em;			
					}
					
					.symtoms2 tfoot th {
						background: #E6F5FA;
						text-align: center;
						}
						
						
						.symtoms2 tr.even .column1 {
							text-align: left;
							white-space: nowrap;	}
							
						.symtoms2 tr th.column1 {
								background: #F9FCFE;
								font-size: 0.8em;
								text-align: left;
								white-space: nowrap;
								}
						.symtoms2 tbody th {
								border-bottom: 1px solid #E5EFF8;
								border-left: 1px solid #E5EFF8;
								color: #3A6781;
								font-weight: normal;
						}
						
						table.symtoms2 td {text-align: center;}
						table.symtoms2 tr.odd {	background-color: #E6F5FA; }
						
						#symptomsAsText {display:none;}
						.symptomsImg {max-width: 1.1em;	}


	/* Medical History */
	
	#medicalHistoryArea
		{
			border: 2px solid gray;
			border-bottom-left-radius: 9px 9px;
			border-bottom-left-radius: 9px 9px;
			border-bottom-right-radius: 9px 9px;
			border-bottom-right-radius: 9px 9px;
			border-top-left-radius: 9px 9px;
			border-top-left-radius: 9px 9px;
			border-top-right-radius: 9px 9px;
			border-top-right-radius: 9px 9px;
			float: left;
			margin: 0.75em;
			max-width: 80%;
			padding: 1em;
			width: 55%;
		}


.medicalHistoryList li
	{
		float: left;
		margin: 0px;
		padding: 0px 1.2em;
		width: 16em;
	}		



/* END Medical History */

/* Diagnostic Symptom List */




#HormoneSummary {
    float: left;
    max-width: 26em;
    }

.HormoneSummaryList li:hover {
                            -webkit-border-radius: .5em; 
                            border-radius: .5em; 

                            border:hidden; 
                            background-color: #C9C6C6;
                            -webkit-transition-property: all;
                            -webkit-transition-duration: 1.5s;
                            -moz-transition-property:  all;
                            -moz-transition-duration: 1.5s;

                            }

#HormoneSummaryList ul {  float: left;  width: 12em;  margin: 0;  padding: 0;}
 
#HormoneSummaryList ul li {
  float: left;
  width: 6em;
  margin: 0;
  padding: 0;
}
#HormoneSummary ul li.Severe { list-style-image: url(/images/aa_icons/symptom_severe_vsm.png); font-weight: bold;}
#HormoneSummary ul li.Moderate { list-style-image: url(/images/aa_icons/symptom_moderate_vsm.png); font-weight: bold;}
#HormoneSummary ul li.Minimal { list-style-image: url(/images/aa_icons/symptom_minimal_vsm.png); }
#HormoneSummary ul li.None { list-style-image: url(/images/aa_icons/symptom_none_vsm.png); }


#HormoneSummary ul li.Severe:hover { 
                            background-color: #DA9A9A;
                            cursor: pointer;
 }
#HormoneSummary ul li.Moderate:hover {                          
                            background-color: #F5A53C;
                            cursor: pointer;
 }

#HormoneSummary ul li.Minimal:hover {
                            background-color: #CED4A3;
                            cursor: pointer;
 }

#HormoneSummary ul li.None:hover { cusror:none; background-color: #A2BFD3;  }

}















.HormoneSummaryList li:hover {
                            -webkit-border-radius: .5em; 
                            border-radius: .5em; 
                            border:hidden; 
	background-color: #D9E5E7;
	color: #5F99BE;
	                            -webkit-transition-property: all;
                            -webkit-transition-duration: 1.5s;
	                            -moz-transition-property: all;
                            -moz-transition-duration: 1.5s;

                            }


.hormoneSummaryList li:hover {
	-webkit-transition-duration: 1.5s;
	-webkit-transition-property: all;
	-moz-transition-duration: 1.5s;
	-moz-transition-property: all;

	background-color: #D9E5E7;
	color: #5F99BE;
	border-bottom-left-radius: 0.5em 0.5em;
	border-bottom-right-radius: 0.5em 0.5em;
	border: hidden;
	border-top-left-radius: 0.5em 0.5em;
	border-top-right-radius: 0.5em 0.5em;
	}

.hs_li .click_info { color: #1C575A;
								display: none;
								font-size: small;
								font-weight: bold;
							 }
							 
.hs_li:hover .click_info { display: block; }

.symptomPoints {	display: none;	}


#HormoneSummary ul li.Minimal {
	list-style-image: url(/images/aa_icons/symptom_minimal_vsm.png);
}

#HormoneSummary ul li.Minimal:hover {
	background-color: #CED4A3;
	cursor: pointer;
}


#HormoneSummary ul li.Moderate {
	list-style-image: url(/images/aa_icons/symptom_moderate_vsm.png);
	font-weight: bold;
}

#HormoneSummary ul li.Moderate:hover {
	background-color: #F5A53C;
	cursor: pointer;
}


#HormoneSummary ul li.Severe {
	font-weight: bold;
	list-style-image: url(/images/aa_icons/symptom_severe_vsm.png);
	}

#HormoneSummary ul li.Severe:hover {
	background-color: #DA9A9A;
	cursor: pointer;
}


#HormoneSummary ul {
	-webkit-padding-start: 1.5em;
}

ul.HormoneSummaryList  li.hs_li {
	margin: 0.75em 0.3em;
	padding: 3px;
}
/* END Diagnostic Symptom List */
			
						
	</style>







<style type="text/css">

/* header bar */

#nav {
   margin: 0;
   padding: 7px 6px 0;
   line-height: 100%;
   border-radius: 2em;

   -webkit-border-radius: 2em;
   -moz-border-radius: 2em;

   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

   background: #8b8b8b; 
   background: -webkit-gradient(linear, left top, left bottom, from(#B6D9E0), to(#6EB4C2)); 
   background: -moz-linear-gradient(top,  #B6D9E0,  #6EB4C2); 
   border: solid 1px #4E99AB;
   
   }
   
   
   
   
#nav .h_logo {
	right: 0.5em;
}

#nav li {
   margin: 0 5px;
   padding: 0 0 8px;
   float: left;
   position: relative;
   list-style: none;
}
/* main level link */
#nav a {
   font-weight: bold;
   color: white; /*	#e7e5e5;	*/
   text-decoration: none;
   display: block;
/*   padding:  8px 20px;	*/
	padding: 6px 20px;
   margin: 0;
   -webkit-border-radius: 1.6em;
   -moz-border-radius: 1.6em;
   text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
   cursor:pointer;
   font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 14px;
   
   
}
/* main level link hover */
#nav .current a, #nav li:hover > a {
   background: #d1d1d1; /* for non-css3 browsers */
   filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb',
endColorstr='#a1a1a1'); /* for IE */
/* #7FD0E0 */
/* #B6D9E0	#6EB4C2	#4E99AB */
/*	#5D97A3 #4B7B84 */
   /*
   background: -webkit-gradient(linear, left top, left bottom, from(#7FD0E0), to(#5D97A3));
   background: -webkit-gradient(linear, left top, left bottom, from(#B6D9E0), to(#4E99AB));
   */
   background: -webkit-gradient(linear, left top, left bottom, from(#D9E5E7), to(#B6D9E0))
	/*
   background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1);
   */
   background: -moz-linear-gradient(top,  #D9E5E7,  #B6D9E0);   

   color: #444;
   border-top: solid 1px #f8f8f8;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
   box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
   text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}
/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
   background: none;
   border: none;
   color: #666;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
}
#nav ul a:hover {
   background: #0399d4 !important; /* for non-css3 browsers */
   filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#04acec',
endColorstr='#0186ba'); /* for IE */
   background: -webkit-gradient(linear, left top, left bottom,
from(#04acec), to(#0186ba)) !important; /* for webkit browsers */
   background: -moz-linear-gradient(top,  #04acec,  #0186ba)
!important; /* for firefox 3.6+ */

   color: #fff !important;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
/* level 2 list */
#nav ul {
   background: #ddd; /* for non-css3 browsers */
   filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
endColorstr='#cfcfcf'); /* for IE */
   background: -webkit-gradient(linear, left top, left bottom,
from(#fff), to(#cfcfcf)); /* for webkit browsers */
   background: -moz-linear-gradient(top,  #fff,  #cfcfcf); /* for
firefox 3.6+ */

   display: none;
   margin: 0;
   padding: 0;
   width: 185px;
   position: absolute;
   top: 35px;
   left: 0;
   border: solid 1px #b4b4b4;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
   box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
/* dropdown */
#nav li:hover > ul {
   display: block;
}
#nav ul li {
   float: none;
   margin: 0;
   padding: 0;
}
#nav ul a {
   font-weight: normal;
   text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}
/* level 3+ list */
#nav ul ul {
   left: 181px;
   top: -3px;
}
/* rounded corners for first and last child */
#nav ul li:first-child > a {
   -webkit-border-top-left-radius: 9px;
   -moz-border-radius-topleft: 9px;
   -webkit-border-top-right-radius: 9px;
   -moz-border-radius-topright: 9px;
}
#nav ul li:last-child > a {
   -webkit-border-bottom-left-radius: 9px;
   -moz-border-radius-bottomleft: 9px;
   -webkit-border-bottom-right-radius: 9px;
   -moz-border-radius-bottomright: 9px;
}
/* clearfix */
#nav:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
html[xmlns] #nav {
   display: block;
}
* html #nav {
   height: 1%;
}

#nav {
   margin: 0;
   padding: 7px 6px 0;
   line-height: 100%;
   border-radius: 2em;

   -webkit-border-radius: 2em;
   -moz-border-radius: 2em;

   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

   background: #8b8b8b; 
   background: -webkit-gradient(linear, left top, left bottom, from(#B6D9E0), to(#6EB4C2)); 
   background: -moz-linear-gradient(top,  #B6D9E0,  #6EB4C2); 
   border: solid 1px #4E99AB;
   

   display: inline-block;
   }









#nav .current a, #nav li:hover > a {
   background: #d1d1d1; 
   background: -webkit-gradient(linear, left top, left bottom, from(#D9E5E7), to(#B6D9E0))
   background: -moz-linear-gradient(top,  #D9E5E7,  #B6D9E0);   

   color: #444;
   border-top: solid 1px #f8f8f8;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
   box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
   text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}

#nav ul li:hover a, #nav li:hover li a {
   background: none;
   border: none;
   color: #666;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
}
#nav ul a:hover {
   background: #0399d4 !important; 
   background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important; 
   background: -moz-linear-gradient(top,  #04acec,  #0186ba) !important; 
   color: #fff !important;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}









/* misc */

.file_icon {max-height: 1.5em;}
.MedHist_yes { font-weight:bold; }




#diag_header {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	font-weight:bold;
	display: block;
	position: relative;
	right: 55%;
	top: -10%;
	}
/* alterations */


/* rightside */
#rightside { margin-bottom: 185px !important; }

/* freshedit */
div.fresheditable[contenteditable="true"] { border-left: 2px solid #4E677A; }


 #pat_img {display:none;}

/* datatables */
#ma .dataTables_wrapper {min-height: 202px; margin-bottom: 1.25em;}

span.DataTables_sort_icon {display: inline; }

/* ui tabs */

#ma .ui-tabs-panel {

		background: none;
		border-bottom-left-radius: 0px 0px;
		border-bottom-left-radius: 0px 0px;
		border-bottom-right-radius: 0px 0px;
		border-bottom-right-radius: 0px 0px;
		border-top-left-radius: 0px 0px;
		border-top-left-radius: 0px 0px;
		border-top-right-radius: 0px 0px;
		border-top-right-radius: 0px 0px;
		
		background: none;
		border-width: 0px 0px 0px 0px;
		display: inherit;
		padding: 0;
		border: none;;

}

label.showControl { display: inline; }


#report_list div.gray_box .innernotice
	{	width: 280px;	 float: none;}
	
#report_list div.gray_box .innernotice
	{	width: 275px;	}
	
#report_list { float: left;}


#report_list .gray_box, #report_list .gray_box 
{
	width: 312px;
}




#pc_package_tracking div.gray_box a { text-decoration: none;  color: #3A6781; }


         .gray_box  {font-size: 0.8em;}    
    .gray_box {border: 1px solid #FDD845; background: #FFE082 url(../img/bg_noticebox_yellow.png) repeat-x top; width: 280px; margin: 0 15px 15px 0;  text-shadow: 1px 1px 1px #fff;}
	.gray_box {border: 1px solid #ccc; background: #D8D8D8 url(../img/bg_noticebox_grey.png) repeat-x top;}
        .gray_box a {text-shadow: none;}
            .gray_box .innernotice {padding: 15px; border: 1px solid #fff; width: 235px;  background: none; float: none;}

   



/* header area */
#action_info_area {
	padding:0px ! important;
	float: left;
	font-weight: bold;
	margin-top: 6px;
	max-height: 2.5em;
	overflow: hidden;
	margin-right: .65em;
	border-right: 2px dotted darkgray
}


#pat_img {	margin: 0.25em 0.5em 0.25em 0.25em;	}







/* 3 */

		.rxp_med {border-top: #91938e solid 2px;}
		#rxp_head > .rxp_med {border-top: none;}

		.small_label {font-size: small;}
		#rxp_head div.rxp_med span {display: inline-block;}
		.med_refills {	width: 3em;	}
		.med_dose {	width: 98px;	}
		.med_qty {	width: 112px;;	}
		.med_medication {width: 227px; margin-left: 1em; }
		.med_sig {margin-left: 1.5em; color: #7A7C78;}
		div.rxp_med div.med_sig {margin-left: 0.65em;}

		.med_refills_i {	/*	max-width: 3em;	*/	max-width: 5.25em;}

		.med_dose_i {	max-width: 8em;	}
		.med_qty_i {	max-width: 9em;	}
		.med_medication_i {width: 20em;}
		textarea.med_sig_i {overflow: hidden; width:  96.2%; margin-left: 0.6em;}




		span.med_refills {	width: 3em;	display: inline-block;}
		span.med_dose {	width: 98px;	display: inline-block;}
		span.med_qty {	width: 112px;;	display: inline-block;}
		span.med_medication {width: 227px; margin-left: 1em; display: inline-block; }
		span.med_sig {margin-left: 1.5em; display: inline-block;}









		#add_rxpad_row {font-size:small; cursor:pointer; display: inline-block; margin: 0.75em;}

		.remove_med { content:url("/css/img/icons/icon_unapprove.png"); vertical-align: middle; cursor: pointer;}

	.click_to_change_patient { cursor:pointer;}
	.click_to_change_patient:hover {text-decoration:underline;}
	


div.active:after {
		color: green;
	font-size:x-small;
	display:block;

	content: "Active";
}
	
	
	
	#rxp_toolset {
		left: 35em;
		margin-right: 7px;
		position: absolute;
		z-index: 1;
	}
	
	
	#rxp_toolset label.ui-button:hover {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#92BDD6), to(#B9E0F5));
		border-color: #7096AB;
		color: #1C4257;
		background: -webkit-gradient(linear, 0% 100%, 0% 0%, to(#B9E0F5), from(#92BDD6));
		border: 1px solid #7096AB;
		outline: none;
	}
	
	.ui-button:hover {
			-webkit-box-shadow: none;
			background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#92BDD6), to(#B9E0F5));
			border-color: #7096AB;
			color: #1C4257;
			background: -webkit-gradient(linear, 0% 100%, 0% 0%, to(#B9E0F5), from(#92BDD6));
			border: 1px solid #7096AB;
			outline: none;

	
	}
	
	
		.rec_display_full_rec {
					max-width: 600px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					display:inline-block;
		}
	
	    .rec_category+.rec_category {border-top: 2px solid #6C8A97;}
        .rec_system.Local {border-top: 2px solid black;}
        .rec_system.Systemic {border-top: 2px solid black;}
        .rec_system.OTC {border-top: 2px solid black;}

		

		.andor_or + .andor_and:before {	color: #2B6C88;
																	/*	content: '+'; */ /* turn back on when FF catches up... */
																	font-size: 1.65em;
																	margin: 0.1em 280px;
																	text-align: center;
																	width: 10em;
																	text-shadow: white 0px 1px 0px;
																}
																
		.andor_or + .andor_and	{	
				border-collapse: collapse;
				background: #AED1E0;
				border-bottom-left-radius: 1em 1em;
				border-bottom-right-radius: 1em 1em;
	/*				border-top-left-radius: 1em 1em;		*/
	/*				border-top-right-radius: 1em 1em;		*/
				padding: 0.15em 0.23em 0.25em;
			}	
		div.rec_medication.andor_or.next_andor_and { 
				border-collapse: collapse;
				background: #AED1E0;
	/*				border-bottom-left-radius: 1em 1em;		*/
	/*				border-bottom-right-radius: 1em 1em;		*/
				border-top-left-radius: 1em 1em;
				border-top-right-radius: 1em 1em;
				padding: 0.15em 0.23em 0.25em;
		}



.ofy {	overflow-y: hidden;	}
.ofy:hover {	overflow-y: scroll;	}

#rxp_rx_history_prompt_form div.ofy{
	border: 2px solid black;
	border-collapse: collapse;
}



th.small_header {font-size: .75em;}

.sig
{
	max-height: 1em;
	height: 1em;
	max-width: 400px;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

-webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
            transition: all .5s ease;
       -o-transition: all .5s ease;

}

.sig:hover {
max-height: 3em;
height: 2em;
/*
overflow-x: visible;
overflow-y: visible;
*/
white-space: normal;

-webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
            transition: all .5s ease;
       -o-transition: all .5s ease;
}


#rxp_rx_history_prompt_form .RxN {
	font-size: 0.7em;
	line-height: 0.8em;
}

.xsmall_header { font-size: x-small;}

#rxp_rx_history_prompt_form div.viewport
		{

			border-radius: 0.7em;
			border: 2px solid whiteSmoke;
			padding: 1em;
			background-color: #FAFAFA;

		}

#rxp_rx_history_prompt_form tr.add-border { border-top: solid black 1px;	}

#rx_hist_tbl th, td { padding: 5px;}
#rx_hist_tbl thead th {

border-image:url(/css/img/row-border-1.png) 0 0 30 0 stretch;
	-moz-border-image:url(/css/img/row-border-1.png) 0 0 30 0 stretch;
	-webkit-border-image:url(/css/img/row-border-1.png) 0 0 30 0 stretch;
	-o-border-image:url(/css/img/row-border-1.png) 0 0 30 0 stretch;
	
}
#rx_hist_tbl .refills , .QTY, .date_filled, .date_prescribed { text-align:center}

.row-border-img-top td {

border-width: 2px; border-image:url(/css/img/row-border-1.png) 30 0 0 0 stretch;
	-moz-border-image:url(/css/img/row-border-1.png) 30 0 0 0 stretch;
	-webkit-border-image:url(/css/img/row-border-1.png) 30 0 0 0 stretch;
	-o-border-image:url(/css/img/row-border-1.png) 30 0 0 0 stretch;
	}



.rx_hist_fill_dates {text-decoration:none;}





/* template meds */

span.medDN, span.tmpl_med_dose {display: inline-block; min-width: 8em; }
span.tmpl_med_dose label {display: inline;}


span.doses_deactivated {opacity:0.4;
											transition: opacity 1.5s;
											-moz-transition: opacity 1.5s; /* Firefox 4 */
											-webkit-transition: opacity 1.5s; /* Safari and Chrome */
											-o-transition: opacity 1.5s; /* Opera */
}
span.doses_deactivated:hover {opacity:0.75;}






#completed_rx {
-webkit-transform: rotate(-25deg);
color: green;
font-size: 6em;
left: 300px;
line-height: 1.2em;
max-width: 6em;
opacity: 0.3;
position: absolute;
text-align: center;
text-shadow: rgba(0, 155, 70, 0.496094) 2px -5px 5px;
top: 100px;
	-moz-transform: rotate(-25deg);	
	-o-transform: rotate(-25deg);	
	}









/* tables */

#plist_tbl tbody { cursor:pointer; }






/* general */

textarea.styled {
	width: 400px;
	height: 40px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(/images/ta-notes.png);
	background-position: bottom right;
	background-repeat: no-repeat;
}
.showControl { cursor: pointer; }

#working_patient {
	color: #4F4F4F;
	font-size: 1.1em;
	font-weight: 700;
	letter-spacing: -1px;
	padding-bottom: 5px;
	padding: .5em;
	}





.plist_link {
	text-decoraton: none; 
		
}
.plist_link:after {content: url(/css/img/gt_gt.png);}


#curMedContainer {
	float: left;
	margin: 1em; 2.5em;
	}






#curMedContainer_header {
			display: block;
			position: relative;
			right: 55%;
			top: 10%;
		-moz-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		content: 'Patient Reported Medications';
		font-weight: bold;
}

/* notes */
#add_note_icon {	max-height: 3.5em;	}

#note_viewer >	.soap_note {	border: 2px solid #6EB4C2;
							margin: 1em;
							max-width: 40em;
							min-height: 3em;
							padding: 0.5em 0.5em 0.5em;
							}

	.soap_note .s { background: #DFEDF8; border-top: 2px solid #4E677A; border: 2px solid #4E677A; }
//	.soap_note .s::before { content: 'S: '; font-weight:bold;}	
	.soap_note .o { background: #DFEDF8; border-top: 2px solid #4E677A; border: 2px solid #4E677A; }
//	.soap_note .o::before { content: 'O: '; font-weight:bold;}	
	
	.soap_note .a { background: #DFEDF8; border-top: 2px solid #4E677A; border: 2px solid #4E677A; }
//	.soap_note .a::before { content: 'A: '; font-weight:bold;}	

	.soap_note .p { background: #DFEDF8; border-top: 2px solid #4E677A; border: 2px solid #4E677A; }
//	.soap_note .p::before { content: 'P: '; font-weight:bold;}	
	
	.soap_note .sn_sub { min-height: 3em; margin: 1.5em; vertical-align: middle; min-width: 30em;}
	
	
	





	#note_viewer > #soap_s::before { content: 'S: '; font-weight:bold;}	
	#note_viewer > #soap_o::before { content: 'O: '; font-weight:bold;}	
	#note_viewer > #soap_a::before { content: 'A: '; font-weight:bold;}	
	#note_viewer > #soap_p::before { content: 'P: '; font-weight:bold;}	


	
	#d_soap_s::before { content: 'S: '; font-weight:bold;}	
	#d_soap_o::before { content: 'O: '; font-weight:bold;}	
	#d_soap_a::before { content: 'A: '; font-weight:bold;}	
	#d_soap_p::before { content: 'P: '; font-weight:bold;}	

	
	 .soap_note {

  padding-left:100px;
  padding-right:280px; /* set the padding right to some value greater
                          than the width of the sidebar */
                          min-width: 50em;
                          min-height: 3em;
 }

	.freeform_note {
		
		margin-left: 100px;
		margin-right: 280px;

	min-height: 6em; margin: 1.5em;
	background: #DFEDF8; border-top: 2px solid #4E677A; border: 2px solid #4E677A;
	}

/* scrollbar */



.jqscrollbar {  clear: both; margin: 20px 0 10px; } /* 20px more width than viewport */
.jqscrollbar .viewport { overflow: hidden; position: relative; }
.jqscrollbar .overview { list-style: none; position: absolute; left: 0; top: 0; }
.jqscrollbar .thumb .end,
.jqscrollbar .thumb { background-color: #003D5D;  background: transparent url() no-repeat 50% 100%;}
.jqscrollbar .scrollbar { position: relative; float: right; width: 15px; }
.jqscrollbar .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
.jqscrollbar .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
.jqscrollbar .thumb .end { overflow: hidden; height: 5px; width: 13px; }
.jqscrollbar .disable{ display: none; }

.jqscrollbar .scrollbar0 {background: transparent url(/css/img/bg-scrollbar-track-y.png) no-repeat 0px 0px;}
.jqscrollbar .scrollbar {background: transparent url(/css/img/bg-scrollbar-track-y_longer.png) no-repeat 0px 0px;}

.jqscrollbar .track {background: transparent url(/css/img/bg-scrollbar-trackend-y.png) no-repeat 0px 100%;}
.jqscrollbar .thumb {background: transparent url(/css/img/bg-scrollbar-thumb-y-650.png) no-repeat 50% 100%;}
.jqscrollbar .thumb .end {background: transparent url(/css/img/bg-scrollbar-thumb-y.png) no-repeat 50% 0px;}






/*  final */

/* body {background:url(/css/img/noise.png) !important; } */
#tool_bar { color: white; text-shadow: #A5A5A5 0px 1px 0px; }
#tool_bar span.tool { cursor:pointer; color: white; text-shadow: #A5A5A5 0px 1px 0px;  text-decoration:none; font-size: larger; font-weight:bold;}

/* dashboard */

#diag_issues:before {content: 'Recent Diagnostic Events'; font-weight:bold;}
#rx_issues:before {content: 'Rx Issues'; font-weight:bold;}
#recent_patients {float: right;}
#db_notices {float: right;}

#recent_patients li {cursor:pointer;}

#r_diag_i_tbl tbody {cursor:pointer;}

#patient_list_icon {vertical-align: middle; margin-right: 1em; max-height: 2.5em;}
#patient_list_link	{	vertical-align: middle; text-decoration: none;}






/* pc_sum */
#pc_top_symptoms {
clear: both;
float: left;
min-width: 55%;
margin: 1em 1.5em;

		}


#pc_package_tracking::before {content: 'Package Tracking'; font-weight: bold;  display: block;}

#pc_package_tracking {

/*
clear: both;
float: left;

min-width: 55%;

margin: 1em 1.5em;
*/
		}
#ups_track_tbl td.sorting_1 {
	cursor: pointer;
}
#ups_track_tbl td.sorting_1:hover {
	color: #688C96;
}



#pc_sum_pc_symptoms_list { font-size: 0.85em; 
		margin: 1em 1.5em;
		min-width:55%;
}


#pc_recent_activity:before {content: 'Recent Activity'; font-weight: bold;    font-size: 16px; margin-bottom: 8px; display: block;}
.pc_recent_activity:before {content: 'Recent Activity'; font-weight: bold;   font-size: 16px; margin-bottom: 8px; display: block;}
#pc_recent_activity {
/*clear: both;*/
float: left;
font-size: 0.85em;
margin: 1em 1.5em;
max-height: 20em;
max-width: 55%;
min-width: 55%;
	/*	overflow-y: hidden;	*/
		}
/*	#pc_recent_activity:hover {				overflow-y: scroll;		} */
		
#pc_refill_reqs {
/*float: right;
margin: 1em 1.5em;
max-width: 45%;
*/
		}
		
#pc_refill_reqs > .gray_box {
	min-height: 1.4em;		

	}	
		
#pc_sum_report_list {

/*float: left;
margin: 1em 1.5em;
max-width: 45%;
*/
}


/* #pc_sum_report_list > div.gray_box {	min-height: 12em;	} */
#sym_graphing_area {clear:both;}































/* more nathan */












.clear {
    clear: both;
    }


#pc_hh #importantInfo {
    width: 350px;
    margin: 20px 45px 0 0;
    }
#pc_hh {
    margin-left: 20px;
    }
#pc_hh #curMedContainer {
    width: 510px;
    min-height: 300px;  
    margin: 0;
    }
#pc_hh #curMedContainer_header {    
    right: 277px;
    top: -33px;
    }
#pc_hh #medhistorydisplay {
    max-width: 560px;
    }       
#imp_info_header {
    right: 205px;
    top: 15px;
    }       
#diag_header {
/*
    right: 273px;
    top: -118px;
*/
		right: 269px;
		top: -117px;
    }       
#medicalHistoryArea {
    margin: 0;
    padding: 1em;
    width: 478px;
    }
.medicalHistoryList li {
    width: 200px;
    }   
    
    
/* ---  Summary --- */

#pc_recent_activity {
    width:  530px;
    margin:  12px 20px 20px 20px;
    max-width:none;
    min-width:0;
    }
    
#pc_sum_report_list {
    width:  315px;
    }
    
#pc_top_symptoms {
    width:  530px;
    margin:  20px;
    max-width:none;
    min-width:0;
    }
    
#pc_sum_pc_symptoms_list .reportCol6 { display:none;}
#pc_sum_pc_symptoms_list .reportCol7 { display:none;}
#pc_sum_pc_symptoms_list .reportCol8 { display:none;}
#pc_sum_pc_symptoms_list .reportCol9 { display:none;}
	
}     

#pc_sum_symptomListingTBODY tr {display: none;}
#pc_sum_symptomListingTBODY tr:nth-of-type(1) {display: table-row !important; }
#pc_sum_symptomListingTBODY tr:nth-of-type(2) {display: table-row !important; }
#pc_sum_symptomListingTBODY tr:nth-of-type(3) {display: table-row  !important; }
#pc_sum_symptomListingTBODY tr:nth-of-type(4) {display: table-row !important; }
#pc_sum_symptomListingTBODY tr:nth-of-type(5) {display: table-row !important; }
#pc_sum_symptomListingTBODY tr:nth-of-type(6) {display: table-row !important; }
#pc_sum_symptomListingTBODY > tr {display: none;}
#pc_refill_reqs {
/*    float: left;	*/
    max-width: none;
    width: 315px;
    margin: 10px 0 0 0;
    }


#pc_sum_pc_symptoms_list {
    font-size: 0.85em;
    margin: 0;
    min-width: 0;
    width: 502px;
    }   
.gray_box li span.print {
    display: inline-block;
    }   

#pc_recent_activity::before,
#pc_package_tracking::before,
#pc_sum_pc_sym_caption,
#pc_summary h4, h4.title_top {
    caption-side: top;
    /*color: #9BA9B4;*/
    font-size: 12px;
    letter-spacing: 0.1em;
    margin: 3px 0;
    padding: 0;
    /*text-align: center;*/
    font-weight: normal;
    }
#pc_sum_pc_sym_caption  {
    margin-bottom: 4px;
    }
    
.gray_box {
    border: 3px solid silver;
    border-radius: 0.6em 0.6em;
/*    margin: 0.15em auto 1em;	*/
    padding: 0.15em;
    background-color: white;
    }   
.gray_box li:nth-child(odd) {
    background-color: #E6F5FA;
    border-bottom: 1px solid #E5EFF8;
    }       
.gray_box li:nth-child(even) {
    background-color: #F9FCFE;
    border-bottom: 1px solid #E5EFF8;
    }           

.gray_box li {


    font-weight:    700;
    color:  #3A6781;
    letter-spacing: normal;
    word-spacing:   0;
    line-height:    18px;
    text-align: left;
    vertical-align: baseline;

    text-shadow: none;
    }
.jqscrollbar {
/*    margin: 9px 0 10px;	*/
	margin: 0px 0 10px;
    }       
#sym_graphing_area {
    margin-top: 20px;
    float: left;
    }   

/* --- PC Recent Activity -- */
#pc_recent_activity_sb {
	width: 512px;
	}
#pc_recent_activity .pq_entry:nth-child(1) {
    border: 2px solid #E5EFF8;
    border-top-left-radius: 1em;    
    border-top-right-radius: 1em;   
    }
#pc_recent_activity .overview .pq_entry{
    border: 2px solid #E5EFF8;
    color: #3A6781; 
    }   
#pc_recent_activity .overview .reven {
    background-color: #E6F5FA;
    border-bottom: 1px solid #E5EFF8;
    }


.pc_recent_activity .pq_entry:nth-child(1) {
    border: 2px solid #E5EFF8;
    border-top-left-radius: 1em;    
    border-top-right-radius: 1em;   
    }
.pc_recent_activity .overview .pq_entry{
    border: 2px solid #E5EFF8;
    color: #3A6781; 
    }   
.pc_recent_activity .overview .reven {
    background-color: #E6F5FA;
    border-bottom: 1px solid #E5EFF8;
    }




/* qtip2 */

.ui-tooltip-shadow-qtip2 {
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
 
  filter: Shadow(Color='gray', Direction=135, Strength=3);
  -ms-filter:"progid:DXImageTransform.Microsoft.shadow(Color='gray', Direction=135, Strength=3)";

	opacity: 0.6;

}



/* fixes */
/*
	#report_list > div.gray_box  li:nth-child(odd) {	background-color: transparent;	}
	#report_list > div.gray_box  li:nth-child(even) {	background-color: transparent;	}
	
	.report_list > div.gray_box  li:nth-child(odd) {	background-color: transparent;	}
	.report_list > div.gray_box  li:nth-child(even) {	background-color: transparent;	}
	
	#pc_refill_reqs > div.gray_box  li:nth-child(odd) {	background: transparent;	}
	#pc_refill_reqs > div.gray_box  li:nth-child(even) {	background: transparent;	}
	
	
	#ups_track_ul  li:nth-child(odd) {	background-color: transparent;	}
	#ups_track_ul  li:nth-child(even) {	background-color: transparent;	}
*/





