#washington-img { left: 56px; top: 27px; }
#delaware-img { left: 789px; top: 240px; }
#wisconsin-img { left: 511px; top: 121px; }
#west-virginia-img { left: 685px; top: 238px; }
#hawaii-img { left: 225px; top: 514px; }
#florida-img { left: 616px; top: 449px; }
#wyoming-img { left: 225px; top: 147px; }
#new-hampshire-img { left: 677px; top: 44px; }
#new-jersey-img { left: 794px; top: 205px; }
#new-mexico-img { left: 228px; top: 321px; }
#texas-img { left: 273px; top: 343px; }
#louisiana-img { left: 499px; top: 420px; }
#north-carolina-img { left: 666px; top: 309px; }
#north-dakota-img { left: 345px; top: 76px; }
#nebraska-img { left: 336px; top: 202px; }
#tennessee-img { left: 564px; top: 326px; }
#new-york-img { left: 718px; top: 124px; }
#pennsylvania-img { left: 707px; top: 193px; }
#california-img { left: 13px; top: 164px; }
#nevada-img { left: 74px; top: 182px; }
#virginia-img { left: 673px; top: 257px; }
#colorado-img { left: 245px; top: 237px; }
#alaska-img { left: 6px; top: 439px; }
#alabama-img { left: 600px; top: 370px; }
#arkansas-img { left: 487px; top: 344px; }
#vermont-img { left: 721px; top: 72px; }
#illinois-img { left: 536px; top: 213px; }
#georgia-img { left: 645px; top: 364px; }
#indiana-img { left: 597px; top: 224px; }
#iowa-img { left: 454px; top: 195px; }
#oklahoma-img { left: 345px; top: 331px; }
#arizona-img { left: 130px; top: 307px; }
#idaho-img { left: 135px; top: 48px; }
#connecticut-img { left: 815px; top: 181px; }
#maine-img { left: 834px; top: 56px; }
#maryland-img { left: 731px; top: 243px; }
#massachusetts-img { left: 685px; top: 96px; }
#ohio-img { left: 641px; top: 209px; }
#utah-img { left: 161px; top: 203px; }
#missouri-img { left: 468px; top: 257px; }
#minnesota-img { left: 447px; top: 72px; }
#michigan-img { left: 546px; top: 93px; }
#rhode-island-img { left: 841px; top: 179px; }
#kansas-img { left: 362px; top: 269px; }
#montana-img { left: 178px; top: 50px; }
#mississippi-img { left: 544px; top: 373px; }
#south-carolina-img { left: 683px; top: 356px; }
#kentucky-img { left: 574px; top: 280px; }
#oregon-img { left: 25px; top: 79px; }
#south-dakota-img { left: 340px; top: 140px; }
#map-back, #map-cover, .map-image { border: none; }
#map-back { position: absolute; top: 0px; left: 0px; }
#us-map { position: relative; width: 958px; height: 596px; margin: 0 auto; }
.map-image { position: absolute; display: none; }
#map-cover { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; }