<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Restore Health Wallboard</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bop/app.css" />

	<script type="text/javascript" src="/js/bop/vendor/jquery.js"></script>
	<script type="text/javascript" src="/js/bop/vendor/fastclick.js"></script>
	<script type="text/javascript" src="/js/bop/vendor/modernizr.js"></script>
	<script type="text/javascript" src="/js/bop/underscore-min.js"></script>

	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="/js/bop/app.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Restore Health Wallboard</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Queues <b class="caret"></b></a>
          <ul class="dropdown-menu" id="qMenu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section class="container-fluid">
	<div class="col-sm-12">
		<div class="panel panel-q-stats" id="panelStats">
			
		</div>
	</div>
</section>

<main class="main-section container-fluid">
	<section>
		<!-- This is the Users Panel -->
		<div class="col-sm-4 col-md-4 col-lg-5" id="panelUsers">

		</div>

		<!-- This is the Calls Panel -->
		<div class="col-sm-4 col-md-4 col-lg-4" id="panelCalls">

		</div>
		
		<!-- This is the Extensions List -->
		<div class="col-sm-4 col-md-4 col-lg-3" id="panelExtensions">
		
		</div>

	</section>
</main>

</body>

<!-- ########## tmpl_qMenu ########## -->
<script type="text/template" id="tmpl_qMenu">
<% _.each(_.keys(queues), function(queue) { %>
<li><a href="#" class="func_q_select" data-queue="<%= queue %>"><%= queues[queue].name %></a></li>
<% }); %>
</script>

<!-- ########## tmpl_panelStats ########## -->
<script type="text/template" id="tmpl_panelStats">
<div class="panel-body">
<% if (currentQ != 'default') { %>
	<section class="col-lg-4 col-lg-offset-4">
		Performance: <%= queues[currentQ].queue_stats.ServicelevelPerf %>% / Hold Time: <%= queues[currentQ].queue_stats.Holdtime %> / Abandoned: <%= queues[currentQ].queue_stats.Abandoned %> / Completed: <%= queues[currentQ].queue_stats.Completed %>
	</section>
<% } else { %>
<%   _.each(queues, function(q, num) { %>
<%     if (num != currentQ) { %>
	<section class="col-lg-4">
		<strong>Queue Stats (<%= num %>):</strong><br />
		Performance: <%= q.queue_stats.ServicelevelPerf %>% / Hold Time: <%= q.queue_stats.Holdtime %> / Abandoned: <%= q.queue_stats.Abandoned %> / Completed: <%= q.queue_stats.Completed %>
	</section>
<%     } %>
<%   }); %>
<% } %>
</div>
</script>

<!-- ########## tmpl_userPanel ########## -->
<script type="text/template" id="tmpl_panelUsers">

<div id="userPanelsWrap" class="users col-sm-12">
<% if (currentQ != 'default') { %>
	<header class="col-sm-12" id="usersPanelHeader">
			<h3 class="subheader"><strong>Users:</strong></h3>
	</header>

<%   if (queues[currentQ] && queues[currentQ].member_stats) { %>
<%     _.each(queues[currentQ].activeUsers, function(num) { %>
<%       if (extensions[num]) { %>

	<div class="col-md-12 col-lg-4">
		<div class="panel user ext<%= num %> <%= extensions[num].status || 'ready' %>">
			<div class="panel-body">
				<h3 class="col-sm-12 text-center"><%= num %></h3>
<% if (extensions[num].connected_to) { %>
				<h5 class="col-sm-12 text-center"><%= (extensions[num].connected_to.length < 7)?'Ext. ' + extensions[num].connected_to:extensions[num].connected_to %></h5>
<% } %>
				<h4 class="col-sm-12 text-center">Status: <%= extensions[num].status || "Available" %></h4>
				<h6 class="col-sm-12 text-center">Calls Taken: <%= queues[currentQ].member_stats[num].CallsTaken %></h6>
			</div>
		</div>
	</div>

<%       } %>
<%     }); %>
<%   } else { %>

	<h5 class="subheader">No Users in Queue</h5>

<%   } %>
<% } else { %>
<%   _.each(queues, function(q, q_num) { %>
<%     if (q.name != currentQ) { %>

	<section class="row qrow q<%= q.name %> qusers">
<%       _.each(q.activeUsers, function(num) { %>
		<div class="col-md-12 col-lg-4">
			<div class="panel user ext<%= num %> <%= extensions[num].status || 'ready' %>">
				<div class="panel-body">
					<h3 class="col-sm-12 text-center"><%= num %></h3>
<% if (extensions[num].connected_to) { %>
					<h5 class="col-sm-12 text-center"><%= (extensions[num].connected_to.length < 7)?'Ext. ' + extensions[num].connected_to:extensions[num].connected_to %></h5>
<% } else if (extensions[num].destination) { %>
					<h5 class="col-sm-12 text-center"><%= (extensions[num].destination.length < 7)?'Ext. ' + extensions[num].destination:extensions[num].destination %></h5>
<% } %>
					<h4 class="col-sm-12 text-center">
						<% if (!extensions[num].status) { print("Available"); } else if (extensions[num].status.match(/oncall/i)) {
							print("On Call: " + (Math.round((new Date().getTime() - (extensions[num].active_call.timestamp - (719528*24*3600)) * 1000)/1000)).toString().toHHMMSS());
						} else if (extensions[num].status.match(/ringing/i)) { print('Ringing');} else { print("Available"); } %>
					</h4>
					<h6 class="col-sm-12 text-center">Calls Taken: <%= queues[q_num].member_stats[num].CallsTaken %></h6>
				</div>
			</div>
		</div>
<%       }); %>
	</section>

<%     } %>
<%   }); %>
<% } %>
</div>
</script>

<!-- ########## tmpl_callsPanel ########## -->
<script type="text/template" id="tmpl_panelCalls">
<div class="calls col-sm-12">
<% if (currentQ != 'default') { %>
<header class="col-sm-12">
	<h3 class="subheader"><strong>Calls in Queue</strong></h3>
</header>

	<% if (queues[currentQ] && queues[currentQ].activeCalls) { %>
	<%	_.each(queues[currentQ].activeCalls, function(call) { %>
		<div class="col-sm-6">
			<div class="panel call <%= call.status || 'default-status' %>">
				<div class="panel-body">
					<h2 class="text-center col-sm-12"><% print(call.Wait.toHHMMSS()); %></h2>
					<h4 class="text-center col-sm-12 tel"><%= (call.CallerIDNum.length < 7)?'Ext. ' + call.CallerIDNum:((call.CallerIDNum.length == 10)?"(" + call.CallerIDNum.substring(0, 3) + ") " + call.CallerIDNum.substring(3,6) + "-" + call.CallerIDNum.substring(6, 10):call.CallerIDNum) %></h4>
					<h4 class="text-center col-sm-12">Agent: <%= call.ConnectedLineNum %></h4>
				</div>
			</div>
		</div>
	<%	}); %>
	<% } else { %>
		<h5 class="subheader">No Calls in Queue</h5>
	<% } %>
<% } else { %>
<% _.each(queues, function(q, num) { %>
<% if (q.name != currentQ) { %>
<section class="row qrow q<%= q.name %>">
<% if (queues[q.name] && queues[q.name].activeCalls) { %>
<%	_.each(queues[q.name].activeCalls, function(call) { %>
	<div class="col-sm-6">
		<div class="panel call <%= call.status || 'default-status' %>">
			<div class="panel-body">
				<h2 class="text-center col-sm-12"><% print(call.Wait.toHHMMSS()); %></h2>
				<h4 class="text-center col-sm-12 tel"><%= (call.CallerIDNum.length < 7)?'Ext. ' + call.CallerIDNum:((call.CallerIDNum.length == 10)?"(" + call.CallerIDNum.substring(0, 3) + ") " + call.CallerIDNum.substring(3,6) + "-" + call.CallerIDNum.substring(6, 10):call.CallerIDNum) %></h4>
				<h4 class="text-center col-sm-12">Agent: <%= call.ConnectedLineNum %></h4>
			</div>
		</div>
	</div>
<%	}); %>
<% } %>
</section>
<% } %>
<% }); %>
<% } %>
</div>
</script>

<script type="text/template" id="tmpl_panelExtensions">
<div class="panel panel-extensions">
	<header class="panel-heading"><h2 class="panel-title">Extensions</h2></header>
	<div class="panel-body columns-2">
<% _.each(extensions, function(ext, num) { %>
<%   if (ext.device_type && ext.device_type.match(/sip_device/i)) { %>
		<div class="extension"><span class="badge"><span class="glyphicon <%= (ext.status == 'oncall')?'glyphicon-earphone text-danger':'glyphicon-phone-alt text-success' %>"></span></span> <%= num %><% if (ext.connected_to) { %> / <%= ext.connected_to %><% } %></div>
<% } %>
<% }); %>
	</div>
</div>
</script>

</html>