var as_list;
var as_table;


var map_as_array = function(somedata) {
return jQuery.map(somedata, function(k,v) { 
			if (typeof k != 'object') {return;}
			k['name']=k['PatientLastName'] + ', ' + k['PatientFirstName'];
			k['hold_html']=(k['hold']? '<input type="checkbox" checked="checked" name="hold" value="hold" />' : '<input type="checkbox" name="hold" value="hold" />');
			
			k['resume_html']=(k['resume_date']? '<input type="date"  name="resume_date" value="' +k['resume_date'] + ' " />' : '<input type="date"  name="resume_date" />');
			
			
			k['note_html']=(k['note']? '<textarea name="note">' + k['note'] + '</textarea>' : '<textarea name="note"></textarea>');
				var k_disp_txt = $('<span>' + k['noteText'] + '</span>');

			k['as_date_html']='<input type="number" min="1"  max="30" name="as_date" value="' +k['as_date'] + ' " />' ;   return k;  });
};			
			
var activateASTable=function (qdata, tblid) {
	if (! tblid) { tblid='#qs_tbl';$('#ma').html('<div id="table_onoffs">Show/Hide: &nbsp; <a href="#" onclick="as_table_col_toggle(10); return false;">PC</a> &nbsp; <a href="#" onclick="as_table_col_toggle(11); return false;">Prescriber</a> &nbsp; <a href="#" onclick="as_table_col_toggle(12); return false;">Phone</a> &nbsp; <a href="#" onclick="as_table_col_toggle(13); return false;">Updated</a> &nbsp; <a href="#" onclick="as_table_col_toggle(9); return false;">Note</a> &nbsp; </div><table id="qs_tbl"></table>');}
//	console.log('qdata');
//	console.log(toTableArray( qdata,  [ 'PatientLastName', 'PatientFirstName', 'rxn',  'program', 'as_date', 'last_fill','remaining_refills', 'hold', 'resume_date', 'note', 'price_code','doctorName', 'PatientPhone', 'tstamp', 'data' ]));
	as_table=$(tblid).dataTable( {
	"bDestroy": true,
	"bJQueryUI": true,
	'bAutoWidth':false,
//		"aaData": toTableArray( qdata,  [ 'PatientLastName', 'PatientFirstName', 'rxn',  'program', 'as_date', 'last_fill','remaining_refills', 'hold', 'resume_date', 'note', 'price_code','doctorName', 'PatientPhone', 'tstamp', 'data' ]),
		"aaData": toTableArray( map_as_array(as_list),  [ 'name', 'rxn',  'program', 'as_date', 'last_fill','remaining_refills', 'hold_html', 'resume_html', 'note_html', 'price_code','doctorName', 'PatientPhone', 'tstamp', 'data' ]),
		"aoColumnDefs": [
			{ "sTitle": "Patient", "sClass": "center small" , "aTargets": [ 0 ] , "sWidth": "9em"},
			{ "sTitle": "RxN", "sClass": "center small" , "aTargets": [ 1 ] , "sWidth": "9em"},
			{ "sTitle": "Prog", "sClass": "center small" , "aTargets": [ 2 ] , "sWidth": "9em"},
			{ "sTitle": "A/S", "sClass": "center small" , "aTargets": [ 3 ] , "sWidth": "9em"},
			{ "sTitle": "Filled", "sClass": "center small" , "aTargets": [ 4 ] , "sWidth": "9em"},
			{ "sTitle": "Refills", "sClass": "center small" , "aTargets": [ 5 ] , "sWidth": "9em"},
			{ "sTitle": "Hold", "sClass": "center small" , "aTargets": [ 6 ] , "sWidth": "9em"},
			{ "sTitle": "Resume", "sClass": "center small" , "aTargets": [ 7 ] , "sWidth": "9em"},
			{ "sTitle": "Note", "sClass": "center small" , "aTargets": [ 8 ] , "sWidth": "9em"},
			{ "sTitle": "PC", "sClass": "center small" , "aTargets": [ 9 ] , "sWidth": "9em"},
			{ "sTitle": "Presriber", "sClass": "center small" , "aTargets": [ 10 ] , "sWidth": "9em"},
			{ "sTitle": "Phone", "sClass": "center small" , "aTargets": [ 11 ] , "sWidth": "9em"},
			{ "sTitle": "Updated", "sClass": "center small" , "aTargets": [ 12 ] , "sWidth": "9em"},
			{"bSearchable": true, "bVisible": true, "aTargets": [0]}
						],
		"0aoColumns": [
		],
		"aaSorting": [[1,'desc']],
		"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
			return nRow;
		},
		"fnDrawCallback": function () {	
		}
	} );
};

var as_table_col_toggle=function( iCol )
{
	/* Get the DataTables object again - this is not a recreation, just a get of the object */
	var oTable = $('#example').dataTable();
	
	var bVis = as_table.fnSettings().aoColumns[iCol].bVisible;
	as_table.fnSetColumnVis( iCol, bVis ? false : true );
}

$.postJSON('/api/v1.i/getAutoShipList', {}, function(data) {as_list=data.data; activateASTable(as_list); });


























		"aoColumnDefs": [
			{ "sTitle": "Last", "sClass": "center small" , "aTargets": [ 0 ] , "sWidth": "9em"},
			{ "sTitle": "First", "sClass": "center small" , "aTargets": [ 1 ] , "sWidth": "9em"},
			{ "sTitle": "RxN", "sClass": "center small" , "aTargets": [ 2 ] , "sWidth": "9em"},
			{ "sTitle": "Prog", "sClass": "center small" , "aTargets": [ 3 ] , "sWidth": "9em"},
			{ "sTitle": "AS Date", "sClass": "center small" , "aTargets": [ 4 ] , "sWidth": "9em"},
			{ "sTitle": "Filled", "sClass": "center small" , "aTargets": [ 5 ] , "sWidth": "9em"},
			{ "sTitle": "Refills", "sClass": "center small" , "aTargets": [ 6 ] , "sWidth": "9em"},
			{ "sTitle": "Hold", "sClass": "center small" , "aTargets": [ 7 ] , "sWidth": "9em"},
			{ "sTitle": "Resume", "sClass": "center small" , "aTargets": [ 8 ] , "sWidth": "9em"},
			{ "sTitle": "Note", "sClass": "center small" , "aTargets": [ 9 ] , "sWidth": "9em"},
			{ "sTitle": "PC", "sClass": "center small" , "aTargets": [ 10 ] , "sWidth": "9em"},
			{ "sTitle": "Presriber", "sClass": "center small" , "aTargets": [ 11 ] , "sWidth": "9em"},
			{ "sTitle": "Phone", "sClass": "center small" , "aTargets": [ 12 ] , "sWidth": "9em"},
			{ "sTitle": "Updated", "sClass": "center small" , "aTargets": [ 13 ] , "sWidth": "9em"},
			{"bSearchable": true, "bVisible": true, "aTargets": [0]}
						],
