<%args>
$userID => 'restore_user'
$password => 'horse34__'
$doc => undef
</%args>

<%init>
use MIME::Base64::URLSafe;
# deal with auth verification here...


my $user_type=$dbh->selectrow_array(q{SELECT acct_type FROM auth_list WHERE u_name=?}, undef, $userID);

#my $safe_pw=Digest::Groestl::groestl_512_hex($password); 
#														return $dbh->do(q{UPDATE auth_list SET auth_key=? WHERE u_name=? LIMIT 1}, undef, ($safe_pw, $userID));

	# $m->redirect();
#/verify
# auth passed
# set a cookie:
  use Apache2::Cookie;

    my $c_out = Apache2::Cookie->new($r,
                                  -name  => "rd_api_key",
                                  -value => MIME::Base64::URLSafe::encode(RD3::encryptKey($dbh, [], { userID => $userID, password => $password } ) ) );

#    $c_out->secure(1); #when SSL works...
    $c_out->bake($r);                       # send cookie in response headers

 use Time::HiRes qw(usleep ualarm gettimeofday tv_interval);
my $t0 = [Time::HiRes::gettimeofday];

my $jsHEAD=$m->request_comp->attr_if_exists('jsHEAD');
my $onLoad=$m->request_comp->attr_if_exists('onLoad');

my $baseURI=$r->uri;
my $userCustomization=$dbh->selectrow_hashref(q{SELECT * FROM userCustomizations WHERE uname=? AND uri=? LIMIT 1}, undef, ($session{username}, $baseURI));
my $groupCustomization=$dbh->selectrow_hashref(q{SELECT * FROM userCustomizations WHERE uname=? AND uri=? LIMIT 1}, undef, ('pGroup'.$session{_partnerGroup}, $baseURI));



 # set globals:
   my $cache2 = $m->cache;
	 my $sigh = $cache2->get('DoctorSigs' . $doc->{DoctorCode});
   unless ($sigh) {
	my $tmp_sigh=$dbh->selectcol_arrayref(q{
  (
 SELECT Sig, COUNT(Sig) AS cnt FROM prescriptions WHERE 
 DoctorCode=? AND
	DateFilled > DATE_SUB(NOW(), INTERVAL 6 MOnTH)
		GROUP BY Sig HAVING COUNT(Sig) > 6

)
		UNION
(
SELECT DISTINCT 
RTRIM(
 REPLACE(
  REPLACE(
   REPLACE(
    REPLACE(Instructions, '--Authorize Refill--', ' '),
     '***', ' '
   )
   , '\n', '  '
  )
  , '\r', '  '
 )
) AS Sig,
COUNT(Instructions) + 900 AS cnt
 FROM prescriptionQueue WHERE DoctorCode=? AND dateEntered > DATE_SUB(NOW(), INTERVAL 6 MONTH) GROUP BY Sig HAVING COUNT(Sig) > 6
ORDER BY Sig
)
UNION

 
 
 
 
 
 (
		SELECT  sig AS Sig, COUNT(sig) + 200 AS cnt FROM quickSigs WHERE Sig !='' GROUP BY sig 
)



		}, { Columns=>[1,2] },  ( $doc->{DoctorCode} || 40794, $doc->{DoctorCode} || 40794));
		
		my %thsh=@{$tmp_sigh};
		my %nhsh;
		for my $k (keys %thsh) {
			my $nk=uc($k);
			$nk=~s/\.?\s*$//;
			$nhsh{$nk}++;	
		}
		my @tarr=keys %nhsh;
		$sigh=\@tarr;

       unless($cache2->set('DoctorSigs' . $doc->{DoctorCode}, $sigh, {expires_in => '2w'}) ) {
       warn "!!!!!!!!!!!!!!!!!!!!!!!!COULD NOT SET SIGS!!!!!!!!!!!!!!!!!!!!!!!!!!!";
       }
   }

warn Time::HiRes::tv_interval ($t0) . ' at line '. __LINE__;

 my $dinfo={}; # for 5.8.8
 $dinfo->{info} = $dbh->selectrow_hashref(q[SELECT * FROM doctors WHERE DoctorCode=?], undef, ($doc->{DoctorCode}) );
 $dinfo->{info}{Addresses} = []; # $dbh->selectall_arrayref(q{SELECT a.* FROM addresses a JOIN addressToUser atu ON a.addID=atu.addID WHERE atu.userID=?}, {Columns =>{}}, ($dinfo->{DoctorCode} || $dinfo->{SupervisingProviderCode}));
 
 
 warn Time::HiRes::tv_interval ($t0) . ' at line '. __LINE__;
 
 my $mh_sql=q{SELECT  DISTINCT RTRIM(CONCAT_WS(' ', medDisplayName, medMethod)) AS info,   RTRIM(CONCAT_WS(' ', medCommonDosage, medDosageUnit)) AS dose, id  FROM restoreMedications WHERE medGroup="RD30"};
 
 
 	 my $mh = undef; $cache2->get('StaticRestoreMeds_AC_0');
   unless ($mh) {
   $mh=$dbh->selectall_hashref($mh_sql, ['info','dose']);
       $cache2->set('StaticRestoreMeds_AC', $mh, '1w');
       warn "setting cache2 for StaticRestoreMeds_AC for 1 week";
   }

my $mh2 = RD3::getProviderTemplate($dbh, [], {doc => {DoctorCode => $doc->{DoctorCode}}});


warn Time::HiRes::tv_interval ($t0) . ' at line '. __LINE__;







# Status Area:
  use Tie::Hash::Indexed;
  tie my %impInfs, 'Tie::Hash::Indexed';
 %impInfs = @{$dbh->selectcol_arrayref(q{SELECT DISTINCT saveValue, shortName FROM hhQuestions WHERE shortName IS NOT NULL ORDER BY sectionOrder, questionOrder},  { Columns=>[1,2] })}; # maybe should have qType



</%init>

<html>

<head>

  <title>RDi</title>
  <link rel="icon" href="http://restoredirect.com/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="http://restoredirect.com/favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/checkbox.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.qtip.css" />
  <link rel="stylesheet" type="text/css" href="/css/rd_3_2.css" />

  <link rel="stylesheet" type="text/css" href="/js.i/fullcalendar.css" />

  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_black_macroman/proximanova_black_macroman.css" />
  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_bold_macroman/proximanova_bold_macroman.css" />
  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_thin_macroman/proximanova_thin_macroman.css" />
  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_regular_macroman/proximanova_regular_macroman.css" />


% # /*  <link rel="stylesheet" type="text/css" href="/js/DataTables-1.8.1/media/css/demo_table_jui.css" />	*/
  <link rel="stylesheet" type="text/css" href="/css/rdi.css" />
  <link rel="stylesheet" type="text/css" media="print" href="/css/rdi_print.css" />
		<base href="/" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" ></script>
% #		<script src="js/jquery.js" ></script>
% #		<script src="js/jquery-ui.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" ></script>
		
		
		
				<script>
					jQuery.fn.centerThis = function () {
					    this.css("position","absolute");
					    this.css("top", (($(window).height() - this.outerHeight()) / 2) + $(window).scrollTop() + "px");
					    this.css("left", (($(window).width() - this.outerWidth()) / 2) + $(window).scrollLeft() + "px");
					    return this;
						}

			</script>

		
		
		<script>
		var ua = navigator.userAgent,
	    click_event = (ua.match(/iPad/i)) ? "touchstart" : "click";
		</script>
		
		
		<script src="js/jquery.dataset.js" ></script>
		<script src="js/jquery.autoresize.js" ></script>
		<script src="js/jquery.textareaexpander.js" ></script>
		<script src="js/jq.scrollbar.js" ></script>
		<script src="js/jquery.jeditable.js" ></script>


		<script src="js/jquery.tmpl.js" ></script>
		<script src="js/jquery.tmplPlus.js" ></script>
		<script src="js/jq.cookie.js" ></script>
% # too many js errors		<script src="js/jquery.tooltip.min.js" ></script>



		<script src="js/graphing/highcharts.js" ></script>
		<script src="js/graphing/exporting.js" ></script>




% #		<script src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js" ></script>
		<script src="/js/jquery.dataTables.min.js" ></script>

		  <link rel="stylesheet" type="text/css" href="/css/demo_table_jui.css" />
		
		<script src="js/crypto-sha256.js" ></script>
		<script src="js/delegate_i.js" ></script>		
		<script src="js/delegate_i.sales.js" ></script>		
		<script src="js/delegate.js" ></script>				



		<script>
		/*	QTIPS	s*/
			var qt2_msg = function(qt_elm) {

			var qtClasses=qt_elm.className.split(/\s+/);
			var qt_mess = $.map( qtClasses, function(val, i) {
				if (val.match('qtm-')) { return val.substring(4); }
			});
				console.log(qt_mess);			
				console.log(qt_elm.className);
				return qtips2_msgs[qt_mess];
			};
			var qtips2_msgs = {
					'first_name': 'First Name',
					last_name: 'Last Name',
					'dbl_click_to_change_patient' : 'Double click to change patient'
			};
			
			
		</script>
		<script src="js/pc.js"></script>
		<script src="js/rd.js"></script>
		<script src="js/rx.js"></script>



		<script src="js.i/fullcalendar.min.js" ></script>				
				
<script>
	var xat=$.cookie('rd_api_key');
	jQuery.ajaxSetup({headers: {"X-Auth-Token":xat}, type: 'post'});
	$.cookie('rd_api_key', null);
var user_name='<% $userID || $ARGS{userID} %>';
var user_type='<% $user_type || $ARGS{userID} %>';
</script>

		<script src="js/rd.js" ></script>
		<script src="js.i/rdi.js"></script>
		<script src="js.i/dispensing.js"></script>
% if ($user_type eq 'rx' || $user_type eq 'cs' || $user_type eq 'lab') {		
		<script src="js.i/rd_2600_queues.js"></script>
% }

% if ($user_type eq 'rx') {
		<script src="js.i/pharmacy.js"></script>
%	}
		<script id="required_vars">
		var restoreProducts=<% JSON::XS::encode_json($dbh->selectall_hashref(q{SELECT `productType` ,  `productCategory`, `productID`, `productDisplayName`, `productDescription`, `productPrice` FROM restoreProducts WHERE `productAvailable` = 'Y' AND productID NOT IN(10101, 10102)}, ['productType', 'productCategory','productID'] )) %>;
		</script>
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.custom.css" />
  <link rel="stylesheet" type="text/css" href="/css/styles/layout.css" />
  <link rel="stylesheet" type="text/css" href="/css/styles/login.css" />

<script type="text/javascript">
var rlu= new Object();
var plist = new Object();
var rd = new Object();
var provider_list = new Object();


var KEYCODE_ENTER = 13;
var KEYCODE_ESC = 27;

/* stuff to remove */
var rxpad= new Object();
rxpad.order={"OTC":{"OTC1":1,"OTC":0,"OTC3":3,"OTC2":2},"Local":{"Facial":3,"Estriol":1,"Vaginal":2,"Estrogen":0,"Group1":4,"Group3":6,"Group2":5},"Systemic":{"Estrogen":2,"Androgen":4,"Thyroid":6,"GH":7,"Other":1,"Discontinue":0,"Progesterone":3,"Adrenal":5}};
var clean_hipaa_val=function (val, val_type) {
	if (hipaa_mode) {
		if (val_type) {
			console.log(val);
		} else {
			var hret;
		if (val.length  > 2) {
			hret=val.substr(0,2) + Array(( val.length  > 2 ? val.length-2 +1 : 5)).join("X");
		} else {			hret=val;		}
			if (hret.length < 2 ) {hret= 'XXXXX';}
			return hret || 'XXXXX';
		}
	} else {return val;}
};

var hipaa_mode =false;

	var lh=new Array();
	lh[0]={loc: 'dashboard' };
	

var doc = new Object();
doc.DoctorCode=1;






var update_recent_patients_db = 
function (){ if ($.inArray(rd.patientid, acct.recent_patients) == -1 ) {acct.recent_patients.unshift(rd.patientid); } else {
						acct.recent_patients.splice($.inArray(rd.patientid, acct.recent_patients), 1); acct.recent_patients.unshift(rd.patientid);
						
					}
					acct.recent_patients.splice(16, 10);
	};
	var acct=new Object();
	acct.recent_patients = [];
	
	
	var impInfs={"currentIRMA.lastPeriod":"Last Menstrual Period","lastPeriod":"Last Menstrual Period","menstruation":"Still Cycling","currentIRMA.menstruation":"Still Cycling","currentIRMA.numOvaries":"Number of Ovaries","numOvaries":"Number of Ovaries","currentIRMA.hysterectomy":"Hysterectomy","hysterectomy":"Hysterectomy","periodsLastYear":"Cycles in last year","currentIRMA.periodsLastYear":"Cycles in last year","regularMenstrualCycle":"Regular Cycles","currentIRMA.regularMenstrualCycle":"Regular Cycles","vaginalBleeding":"Reports Genital Bleeding","cholesterolLevel":"Cholesterol Level","currentIRMA.cholesterolLevel":"Cholesterol Level","currentIRMA.weeklyExercise":"Weight Bearing Exercise","weeklyExercise":"Weight Bearing Exercise","currentIRMA.stress":"Feels Excessive Stress","currentIRMA.alcohol":"Alcohol Consumption (weekly)","currentIRMA.smoker":"Smoker","currentIRMA.idealWeight":"Ideal Weight","height":"Height","currentIRMA.height":"Height","diet-breakfast":"Breakfast Habit","currentIRMA.weight":"Weight","weight":"Weight","bodyType":"Body Shape","currentIRMA.weightGain":"Body Shape","ablation":"Had an endometrial ablation","currentIRMA.symptomOccurrence":"Symptom Occurrence","symptomOccurrence":"Symptom Occurrence","generalHealth":"Reports Overall Health As","currentIRMA.generalHealth":"Reports Overall Health As","cholesterol":"Cholesterol level","exercise":"Weight Bearing Exercise","stress":"Feels Excessive Stress","alcohol":"Alcohol Consumption (weekly)","smoker":"Smoker","idealWeight":"Ideal Weight"};
	
	
	
	
	
	
	
	
var	determineDefs =
function (inst) {
	        	if (typeof inst != "number") {  return "<ul class='HormoneSummaryList'><li class='no_symptom_sum_hist'></li></ul>"; }
	        	var dlist="<ul class='HormoneSummaryList'>";
				if (typeof rd.pobj["HH"][inst]['SymptomsTotal'] != 'undefined' && typeof rd.pobj["HH"][inst]['SymptomsDefTotal'] != 'undefined' ) {
	        	for (var vv=0; vv <= hs.length; vv++ ) {	//hormones _e or _d
	        		def=hs[vv];
					if (rd.pobj["HH"][inst]['SymptomsTotal'][def] && rd.pobj["HH"][inst]['SymptomsDefTotal'][def]) { 
	        		var dP = parseInt(100*(
	        		rd.pobj["HH"][inst]['SymptomsDefTotal'][def] / rd.pobj["HH"][inst]['SymptomsTotal'][def]
	        		));
					if (dP > 20) 
					{
						dlist+="<li  class='hs_li func_focus_hormone "+ def +"' data-def='"+ def +"'>"+defLabels[def]+": "+ '<span class="click_info">Click for History</span><span class="symptomPoints">'+ dP +"%</span>\n\t<ul>";
						for (var vvv=0; vvv <= rd.pobj["HH"][inst]['order'][def].length; vvv++)
						{
							var key = rd.pobj["HH"][inst]['order'][def][vvv];
							if (!key) {continue;}
							var defP = parseInt(100*(	rd.pobj["HH"][inst]['Symptoms'][key][def]	/	rd.pobj["HH"][inst]['SymptomsDefTotal'][def]	)	);
							if (defP >= 5) 
							{
								// do something
								dlist+="\n\t\t<li  class=\"" + rd.pobj["HH"][inst]["Symptoms"][key]['keyValue']+ "\" onclick=\"triggerMoreInfo('"+key+"')\" class=''>"+symptomLabels[key]+'<span class="symptomPoints">('+defP+")</span> </li>\n";
								
							}
						}
						
						dlist+="\n\t</ul>\n</li>\n";
					}	//	else {dlist+="<li>"+defLabels[def]+" is OK</li>";}
		        } }
		        dlist+="\n\t\t<li class=\"hs_li func_focus_hormone \" data-def=\"default\">View All</li>\n"; // new 2012-05-11
		        
		        }
		        if (dlist == "<ul class='HormoneSummaryList'>") {
		        		if (typeof rd.pobj["HH"][inst]['Symptoms'] == 'object' && Object.keys(rd.pobj["HH"][inst]['Symptoms']).length > 1) {	dlist +='<li style="color: green; font-weight:bold;" >No issues found <br/> based on reported symptoms</li>';	}
		        		else {	dlist+=	'<li style="color: black; font-weight:bold;" >No current symptoms reported</li>';	}
		        	
		        	} 
		        dlist+="\n</ul>";
		        return dlist; 
		        
	        };
	
var hs =["E_deficiency", "E_excess", "P_deficiency", "T_deficiency", "T_excess", "Cortisol_excess", "Cortisol_deficiency", "Thyroid_deficiency"];	
var defLabels={"E_deficiency":"Estrogen Deficiency","Estriol_deficiency":"Estriol Deficiency","P_deficiency":"Progesterone Deficiency","T_deficiency":"Testosterone Deficiency","DHEA_deficiency":"DHEA Deficiency","Thyroid_deficiency":"Thyroid Deficiency","Cortisol_deficiency":"Cortisol Deficiency","Melatonin_deficiency":"Melatonin Deficiency","HGH_deficiency":"HGH Deficiency","Pregnelone_deficiency":"Pregnelone Deficiency","Aldosterone_deficiency":"Aldosterone Deficiency","E_excess":"Estrogen Dominance / Progesterone - Ratio","Estriol_excess":"Estriol Excess","P_excess":"Progesterone Excess","T_excess":"Testosterone Dominance / Estrogen - Ratio","DHEA_excess":"DHEA Excess","Thyroid_excess":"Thyroid Excess","Cortisol_excess":"Cortisol Excess","Melatonin_excess":"Melatonin Excess","HGH_excess":"HGH Excess","Pregnelone_excess":"Pregnelone Excess","Aldosterone_excess":"Aldosterone Excess","default":"History of Reported"};

var symptomLabels = {"drySkin":"Dry skin","constipation":"Abdominal bloating/indigestion/slow digestion/constipation","currentSymptoms.lackOfEnergy":"Lack of energy/Endurance","tolerateCold":"Unable to tolerate cold","currentSymptoms.skinTone":"Loss of skin tone and/or increased wrinkles","vaginalDryness":"Vaginal dryness, pain or itching","currentSymptoms.hairCoarse":"Hair is thinning/hair loss","moodSwings":"Rapid changes in mood/mood swings","lackOfEnergy":"Lack of energy/Endurance","symUrineFreq":"Urinary frequency","currentSymptoms.weightGain":"Weight gain","weightLoss":"Weight loss","muscleWeakness":"Muscle weakness and/or loss of strength","acne":"Acne/oily skin","currentSymptoms.motivation":"Decreased motivation","currentSymptoms.memoryLoss":"Memory problems/forgetfulness","bloating":"Water retention/swollen hands, feet and/or ankles","currentSymptoms.depression":"Depression","symBodyHair":"Loss of body hair","sexualPleasure":"Decreased sexual arousal/sexual pleasure","currentSymptoms.sleepDisturbances":"Difficulty falling and staying asleep","attentionSpan":"Decreased focus and/or attention span","currentSymptoms.handTremors":"Hand tremors","symLackEnergy":"Lack of energy/endurance","currentSymptoms.sweating":"Excess sweating","sluggish":"Fatigue/tired and/or exhausted","currentSymptoms.facialHair":"Increased growth of facial hair","skinTone":"Loss of skin tone and/or increased wrinkles","urinaryIncontinece":"Trouble controlling urine/leaking","currentSymptoms.urinaryIncontinece":"Trouble controlling urine/leaking","breastFullness":"Breasts less full and/or sagging","headaches":"Headaches or migraines","currentSymptoms.sluggish":"Fatigue/tired and/or exhausted","currentSymptoms.fear":"Feeling fearful/afraid for no reason","symHotFlashes":"Hot flashes/night sweats","a-a-a-increase":"Increased Allergies, Asthma, or Arthritis","periods":"Heavy and/or irregular periods","symMood":"Rapid mood changes/mood swings","symErections":"Difficulty having/maintaining erections","fatigue-am":"Morning Fatigue ","currentSymptoms.periods":"Heavy and/or irregular periods","flushedSkin":"Warm and/or flushed skin","currentSymptoms.breastFullness":"Breasts less full and/or sagging","puffyFace":"Puffy face or eyelids in the morning","symDepression":"Depression","currentSymptoms.hotFlashes":"Hot flashes/night sweats","currentSymptoms.foodCravings":"Food cravings - carbs/salty/sweet","sweating":"Excess sweating","currentSymptoms.muscleWeakness":"Muscle weakness and/or loss of strength","restlessLeg":"Restless leg syndrome","nightWake":"I wake up during the night, but can return to sleep","currentSymptoms.anxiety":"Increased anxiety","handTremors":"Hand tremors","currentSymptoms.vaginalDryness":"Vaginal dryness, pain or itching","symIrritable":"Increased irritability and/or anger","currentSymptoms.attentionSpan":"Decreased focus and/or attention span","symBloating":"Bloating/water retention","heartbeat":"Rapid, pounding and/or irregular heartbeat","currentSymptoms.drySkin":"Dry skin","facialHair":"Increased growth of facial hair","currentSymptoms.brittleNails":"Brittle nails","hungerAttacks":"Intense hunger attacks","backToSleep":"Wake up during the night and I can't get back to sleep","currentSymptoms.tolerateCold":"Unable to tolerate cold","symAnxiety":"Increased anxiety","currentSymptoms.jointPain":"Low back and/or joint pain","sleepDisturbances":"Difficulty falling asleep","lackOfLibido":"Lack of sex drive/libido/sexual desire","currentSymptoms.nervousness":"Nervousness","anxious":"Anxious ","currentSymptoms.sexualPleasure":"Decreased sexual arousal/sexual pleasure","aggression":"Increased hostility/aggression","memoryLoss":"Memory problems/forgetfulness","currentSymptoms.aggression":"Increased hostility/aggression","breastTenderness":"Breasts tender/sore and/or swollen","brittleNails":"Brittle nails","symFatigue":"Fatigue/tired and/or exhausted","symAsleep":"Difficulty falling and staying asleep","hairCoarse":"Hair is thinning/hair loss","currentSymptoms.flushedSkin":"Warm and/or flushed skin","hotFlashes":"Hot flashes/night sweats","anxiety":"Increased anxiety","symAcne":"Acne/oily skin","currentSymptoms.acne":"Acne/oily skin","fatigue-pm":"Afternoon Fatigue","weightGain":"Weight gain","jointPain":"Low back and/or joint pain","fear":"Feeling fearful/afraid for no reason","depression":"Depression","symForgetful":"Memory loss or forgetfulness","inflamation-hands-feet":"Swollen hands or feet","thinking":"Trouble thinking and/or foggy thinking","currentSymptoms.bloating":"Bloating/water retention","currentSymptoms.irritability":"Increased irritability and/or anger","symHeadaches":"Headaches and/or migraines","motivation":"Decreased motivation","irritability":"Increased irritability and/or anger","foodCravings":"Food cravings - carbs/salty/sweet","nervousness":"Nervousness","currentSymptoms.thinking":"Trouble thinking and/or foggy thinking","currentSymptoms.heartbeat":"Rapid, pounding and/or irregular heartbeat","currentSymptoms.headaches":"Headaches or migraines","symLibido":"Lack of sex drive/libido/sexual desire","currentSymptoms.lackOfLibido":"Lack of sex drive/libido/sexual desire","currentSymptoms.weightLoss":"Weight loss","currentSymptoms.moodSwings":"Rapid changes in mood/mood swings","currentSymptoms.breastTenderness":"Breasts tender/sore and/or swollen"};	

var sxat=xat;


 acct.refill_reqs=[];
	$.postJSON('/api/v1.2.i/get_account_defaults', {}, function(data) {  jQuery.extend(acct, data.data); });

var getSymGraph =
function (self) {
if (typeof self !="object") {self=new Object(); self.sym_def=null;}
		$.postJSON('/api/v1/getSymGraph', {patientid: rd.pobj.info.pinfo.patientID, graphs: self.sym_def }, function(data) {  if(typeof data.data =='object' && data.data != 
	null ) {
					data.data.tooltip.formatter=function () {    return '<b>'+ chart_ticks['sym0'][this.series.name][this.x]['val'] +'</b>';	};
					sym_chart = new Highcharts.Chart(data.data);
					chart_ticks['sym0']=data.data.tickers;
					}
			});
};




var setupLabel =
function () { 
        if ($('.label_check input').length) {

            $('.label_check').each(function(){ 
                $(this).removeClass('c_on');
            });
            $('.label_check input:checked').each(function(){ 


                $(this).parents('label').addClass('c_on');
            });                
        };
        if ($('.label_radio input').length) {
            $('.label_radio').each(function(){ 
                $(this).removeClass('r_on');
            });
            $('.label_radio input:checked').each(function(){ 
                $(this).parents('label').addClass('r_on');
            });
        };
    }
    
	/* /END stuff to remove */
	
	var activate_meta_search = function() {
				$('#meta_search').autocomplete({ 
									    minLength: 3,
					    source:function(event, ui) { 
					    
					    // lab, rx, patientName, DOB
					    
					    if (isNaN(event.term)) {

					    var re=new RegExp(event.term, 'i');
					    // work on regex that parse dates better
							var res_arr=$.map(plist, function(value, key) { 
							var pname=value['last_name']+ ', ' + value['first_name'] + ' - ' + value['dob_f'];
								  if (     re.test(pname) ) {
								  var l_pname=clean_hipaa_val(value['last_name'])+ ', ' + clean_hipaa_val(value['first_name']) + ' - ' + value['dob_f'];

								  return {label: l_pname, value: l_pname, pid: value.patientid, patientid: value.patientid,
											  action:function(aobj) { console.log(aobj); console.log(aobj); activate_patientchart(aobj.patientid)}	}; }	});
							ui(res_arr);
							} else {
							if (event.term.length < 5) {ui([]); return;}
							//number search
							var fd=event.term.toString().charAt(0);
							var re=new RegExp('^' + event.term);
							if (fd==8) {
								// 
								var res_arr=$.map(rlu, function(value, key) { if (     re.test(key) ) {  var h_l_n=clean_hipaa_val(plist[value]['last_name']);
								return [
								{
								 		label: key + ' - Chart ' + h_l_n + ' ' +plist[value]['dob_f'] , 
								 		value:key + ' - Chart ' + h_l_n + ' ' +plist[value]['dob_f'], 
								 		pid: value, 
								 	patientid: value,
								 	rxn: key,
								 		action:function(aobj) {console.log(aobj); activate_patientchart(aobj.patientid)}	}]; } 	});
								
								
								}
							if (fd==4 || fd==6) {
							
								var res_arr=$.map(rlu, function(value, key) {  if (     re.test(key) ) {
									var h_l_n= clean_hipaa_val(plist[value]['last_name']);
								 return [{
								 	label: key + ' - Rx History', 
								 	value:key,
								 	pid: value, 
								 	patientid: value,
								 	rxn: key,
								 	action:function(aobj) { display_rxpad(aobj); popup_rx_hist(aobj)}	},
								 	{
								 		label: key + ' - Chart ' +h_l_n + ' ' +plist[value]['dob_f'] , 
								 		value:key + ' - Chart ' + h_l_n + ' ' +plist[value]['dob_f'] , 
								 		pid: value, 
								 	patientid: value,
								 	rxn: key,
								 		action:function(aobj) {console.log(aobj); activate_patientchart(aobj.patientid)}	}	]; } 	})	;
								
								}
							ui(res_arr);
							}
				},
					 select: function(event, ui) {
							if (ui.item.action) {ui.item.action(ui.item)} else { select_patient(ui.item.pid, ui.item); }
					 },
					 close: function(event, ui) {
		 			//	$(this).prop('value', ''); // this clear it
					 	// not sure what to do yet...
					 }
				});
};


var show_q_data = function(qtype,qdata) {
	if (qtype =="Message") {
		popup($('#tmpl_display_msgq').tmpl(qdata).html(), {title: qdata.pname + ' on ' + qdata.date_entered, width: 700});
	} else if (qtype =="Patient Address") {
		popup($('#tmpl_display_address_change').tmpl(qdata).html(), {title: qdata.pname + ' on ' + qdata.date_entered, width: 700});
	} else if (qtype =="Patient Info") {
		popup($('#tmpl_display_pinfo_change').tmpl(qdata).html(), {title: qdata.pname + ' on ' + qdata.date_entered, width: 700});
	} else if (qtype =="ins_info") {
		popup($('#tmpl_display_patient_billing_info').tmpl(qdata).html(), {title: qdata.pname + ' on ' + qdata.date_entered, width: 700});
	} else if (qtype =="Patient Address Date Change") {
						$.postJSON('/api/v1/getPatientAddresses', {patientID: qdata.uid}, function(data) {	
							if (data.success) { 
								popup($('#tmpl_display_patient_address_date_info').tmpl({addresses: data.data, qdata: qdata}).html(), {title: qdata.pname + ' on ' + qdata.date_entered, width: 700});					
							} else {display_errs(errs); }
					});
	} else if (qtype =="Patient Address Removed") {
						$.postJSON('/api/v1/getPatientAddresses', {patientID: qdata.uid}, function(data) {	
							if (data.success) { 
								popup($('#tmpl_display_patient_address_date_info').tmpl({addresses: data.data, qdata: qdata}).html(), {title: qdata.pname + ' on ' + qdata.date_entered, width: 700});					
							} else {display_errs(errs); }
					});
}

else if (qtype =="Provider Info") {
			if (qdata.qdata.func == "update_auth") {
									popup('Updated Password.  Alert someone if this is seen many times (5+) on the same user in a short period of time' + qmsg_buttono1(qdata.id), {title: 'Password updated on ' + qdata.tstamp, width: 700});
			}
			else 	if (qdata.qdata.func == "update_email") {
									popup('Updated Email.  Alert someone if this is seen many times (5+) on the same user in a short period of time' + qmsg_buttono1(qdata.id) , {title: 'Email updated on ' + qdata.tstamp, width: 700});
			} else {console.log(qdata.func);}
	} else if (qtype =="Prescription") {
						$.postJSON('/api/v1.i/getRxQInfo', {patientID: qdata.uid, GroupID: qdata.qdata.GroupID}, function(data) {	
							if (data.success) { 
								data.data.qid=qdata.id;
								data.data.qdata=qdata.qdata;
								popup($('#tmpl_display_rxq_item').tmpl(data.data).html(), {title: data.data.pname + ' on ' + data.data.dateEntered, width: 900});
							} else {display_errs(errs); }
					});
} else 	if (qtype =="SMS-IN") {
		console.log(qdata);
		popup($('#tmpl_display_SMS-IN').tmpl(qdata).html(), {title: qdata.From + ' on ' + qdata.date_entered, width: 700});
	}

 else 	if (qtype =="new_provider") {
		popup($('#tmpl_q_new_provider_info').tmpl(qdata).html(), {title: qdata.qdata.doctorName + ' on ' + qdata.date_entered, width: 700});
		console.log(qdata);
		//	popup('<pre>' + JSON.stringify(qdata.qdata,undefined,2) + '</pre>', {title: qdata.From + ' on ' + qdata.date_entered, width: 700, html:true});
	}


	else {console.log('qtype unknown');}
	console.log('WIll use: "' + qtype + '"');
	console.log( qdata);	
};






var qsd= new Object();



var activate_qs_tbl = function(qdata, tblid) {
	if (! tblid) { tblid='#qs_tbl';}
	qs_table=$(tblid).dataTable( {
	"bDestroy": true,
	"bJQueryUI": true,
	'bAutoWidth':false,
		"aaData": toTableArray( qdata,  [ 'pname', 'tstamp', 'qtype',  'enteredBy', 'data' ]),
		"aoColumnDefs": [
			{ "sTitle": "Patient", "sClass": "center small" , "aTargets": [ 0 ] , "sWidth": "9em"},
			{ "sTitle": "Last Update", "sClass": "center", "aTargets": [ 1 ] , "sWidth": "8em"},
			{ "sTitle": "Type" , "aTargets": [ 2 ], "sWidth": "15em"},
			{ "sTitle": "Entered By", "sClass": "center small" , "aTargets": [3 ] , "sWidth": "9em"},
			{"bSearchable": true, "bVisible": true, "aTargets": [0]}
						],
		"0aoColumns": [
		],
		"aaSorting": [[1,'desc']],
		"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
//			console.log("nRow:");
			console.log(nRow.rowIndex);

			
			var jdata=JSON.parse(aData[4]);
			jdata.qdata=JSON.parse(jdata.qdata);
			
			
			jQuery.data( nRow, 'note_id', jdata.note_id );
			
			nRow.onclick=function(telm) {
	
			if ($(telm.target).parent('a.func_view_note_file')[0]) { return;
			var dobj=$(telm.target).parent('a.func_view_note_file')[0].dataset();
				
			} else { jdata.rowIndex=nRow.rowIndex;  show_q_data(aData[2], jdata);	}
			};

			// var sTitle = $('#tmpl_rollover_pinfo').tmpl(jdata).html();
			// nRow.setAttribute( 'title', sTitle );
			
			$(nRow).addClass(jdata.noteFile ? 'has_file' : 'no_file');
			return nRow;
		},
		"fnDrawCallback": function () {	
		}
	} );
};



var displayNofication =
function (note, opts) { 
if (  webkitNotifications.checkPermission() == 0 )
	{	console.log(typeof opts);
		if (typeof opts != "object") {opts=new Object();}
	  var iconImageUrl = "/images/aa_icons/warning-icon.png";
	  var title = opts.title || "New Rx";
	  var subTitle =  opts.subTitle ? opts.subTitle : note.pname + " from " + note.enteredBy;
	 
	  var notification = webkitNotifications.createNotification( iconImageUrl, title, subTitle );
	  notification.show();
	  setTimeout( function() { notification.cancel() }, 150000 );
	  }
	};

var seenNotifications=new Object();

var checkNewRxs= function() {$.postJSON('/api/v1.i/checkNewRxs', {last: 3000} , function(data) {	
		$.each(data.data, function(index, val) { if(seenNotifications[val.id]) {return true;}  displayNofication(val); seenNotifications[val.id]=1;	 return false; });		 });}
if (user_type == "rx") {setInterval( 'checkNewRxs()	'	,	90000	);}


var updateQtable_timer = function() {		if (typeof $('#qs_tbl')[0] == "object" ) {display_Qs();} };
setInterval( 'updateQtable_timer()	'	,	360000	);






/* MOVED TO RDI.js
var display_Qs= function(qsd) {
				
				$.postJSON('/api/v1.i/getQ_all', {}, function(data) {
					if (data.success) { 
							$('#ma').html('<table id="qs_tbl"></table>');
					 								qsd=data.data;
													activate_qs_tbl(qsd);

						$.each(data.data, function(index, val) { if(seenNotifications[val.id]) {return true;}  displayNofication(val, {title: 'New Queue Item'}); seenNotifications[val.id]=1;	 return false; });
					}
					});
};
*/








$(document).ready(function () {

	// if user clicked on button, the overlay layer or the dialogbox, close the dialog	
	$('a.btn-ok, #dialog-overlay, #dialog-close').click(function () {		
				closePopUp();
		return false;
	});
	
	// if user resize the window, call the same function again
	// to make sure the overlay fills the screen and dialogbox aligned to center	
	$(window).resize(function () {
		
		//only do it if the dialog box is not hidden
		if (!$('#dialog-box').is(':hidden')) popup();		
	});	



	
	activate_meta_search();


display_Qs();


	$("body").delegate(".func_shipping_quote", click_event, function(elm) {
		elm.preventDefault(); get_shipping_quote();
	});




	$("body").delegate("form.msg_q", "submit", function(elm) {
		  var data=$(this).serializeObject();
		elm.preventDefault(); updateQItem(data);
	});

});


</script>
<script>
/* internal functions */
	/* which Qs for user */
	






var updateQItem = function(qd) {
				$.postJSON('/api/v1/updateQItem', {id: qd.id}, function(data) {	
					if (data.success) { display_errs([{msg: 'Success!', type: 'success'}]);
					display_Qs(); return; //this could be removed and fix the clear function below:
													qsd=clean_q_arr(qsd, qd.id);
													qs_table.fnClearTable();
													qs_table.fnAddData(toTableArray(qsd,  [ 'pname', 'tstamp', 'qtype',  'enteredBy', 'data' ]));
					}
					});
				};

var clean_q_arr = function(arr, idtr) {
	arr = jQuery.grep(arr, function (a) { return a.id != idtr; });
	return arr;
};


var display_shipping_area = function() {
							$('#ma').html('');	
							$('#tmpl_shipping_quote').tmpl({}).appendTo('#ma');
};

var get_ship_quote = function(sqi) {
				$.postJSON('/api/v1.i/getShippingQuote', sqi, function(data) {	
					if (data.success) { 
						$('#sq_return').html(data.data);
					}
					});

};

var updateRLU = function(dobj) {
				$.postJSON('/api/v1.i/getRLU', dobj, function(data) {	
						if (data.success) { 
							Object.keys(data.data).forEach(function(iii) {	rlu[iii]=data.data[iii]; }	);
						}
					});
		};
updateRLU({days: 100});
setInterval('updateRLU({days: 3})', 180000);


var updatePLIST = function(dobj) {
				$.postJSON('/api/v1.i/getPLIST_FULL', dobj, function(rata) {	
						if (rata.success) { 
							Object.keys(rata.data).forEach(function(iii) {	plist[iii]=rata.data[iii]; }	);
						}
					});
		};
		updatePLIST({days: 160});
setInterval('updatePLIST({days: 1})', 600000);		



var update_provider_LIST = function(dobj) {
				$.postJSON('/api/v1.i/getProviderLIST_FULL', dobj, function(rata) {	
						if (rata.success) { 
							Object.keys(rata.data).forEach(function(iii) {	provider_list[iii]=rata.data[iii]; }	);
						}
					});
		};
		update_provider_LIST({days: 160});
setInterval('update_provider_LIST({days: 1})', 660000);		

</script>
<script id="tmpl_shipping_quote"  type="text/x-jquery-tmpl">
	<form method="post" id="shipping_quote_form" class="func_get_ship_quote">
		<div>ZIP: <input name="zip" maxlength="5" /></div>
		<div>Weight: <input name="weight"  value="1" maxlength="5" /></div>
		<div>Residental: <input name="res_addr"  value="1" type="checkbox" checked="checked" /></div>
		<div>Saturday: <input name="saturday"  value="1" type="checkbox"  /></div>
		 &nbsp; <input type="submit" />
	</form>
	<div id="sq_return"></div>
</script>
<& '/tmpl/pharmacy.html' &>
<& '/tmpl/provider_search.html' &>
<& '/tmpl/misc.html' &>
<& '/tmpl/sales.html' &>
<& '/tmpl/rdi.html' &>
<& '/tmpl/lab_order_saliva.html' &>
<& '/tmpl/labs_mgmt.html' &>
<& '/tmpl/charging.html' &>
<& '/tmpl/dispensing.html' &>
<& '/api/v1.2.reports/module.mas', userID => $userID &>
<& '/api/v1.3.global.reports/module.mas', userID => $userID &>
<& '/api/v1.3.faxes/module.mas', userID => $userID &>
<& '/tmpl/rdi1.2.i.html' &>
	<meta http-equiv="pc.js-Type" content="text/html; charset=utf-8">
<style>
/* new 2012 */
	body {
			background-image: url('http://www.restorehc.com/sites/all/themes/restore_evo/images/bg.png');
			background-repeat: repeat-x;
			background-color: #F2F2F1;
			background-attachment:fixed;
			background-position: center top;
 }
#rightside {
			box-shadow: 0 15px 15px #BBBBBB;

}

#loginout {
		padding-left: 700px;
}





/* added 2013 for AS table -- move to css file */
#as_tbl tr td:nth-child(3) {
	max-width: 14em;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

#as_tbl tr td:nth-child(3):hover {
	word-wrap: break-word;
}
</style>
<style>
	.left_bar {
			float: left;
			margin-right: 1.5em;
		
			border-right: 2px dotted silver;
			padding-right: 1.5em;
			min-height: 600px;
	}

	.indent_15_em {
			margin-left: 0.5em;	
	}
	
	/* new pc tabs */
	
	#ma ul.pc_chart_tabs  {
		display: block;
		clear: both;
		float: none;
	}

	#ma ul.pc_chart_tabs  li {
		display: block;
		clear: both;
		float: none;
		margin: 0.5em 0em;
	}

	#ma ul.pc_chart_tabs  li a {
		display: block;
		clear: both;
		float: none;
		background:none;
		color: #666;
	}








/*

	#pc_chart_tabs  {
		display: block;
		clear: both;
		float: none;
	}

	#pc_chart_tabs  li {
		display: block;
		clear: both;
		float: none;
		margin: 0.5em 0em;
	}

	#pc_chart_tabs  li a {
		display: block;
		clear: both;
		float: none;
		background:none;
		color: #666;
	}

*/

	
	#pc_labs > #LabArea {clear:none;}
	#pc_sym >	#HormoneSummary ul {
		-webkit-padding-start: 0em;
		}

	#pc_full_chart > #report_list .gray_box {
		width: 130px;
		}

	#pc_summary > .report_list .gray_box {
		width: 130px;
		}


		li.lab_listing span.lab_type:before {content: ' - '; }
/*
		li.lab_listing span.view:before {content: ' - '; }
		li.lab_listing span.print:before {content: ' - ';  		margin: 0 .5em; }
*/		
	#pc_full_chart   li.lab_listing span.lab_type { display:none; }

	
	.gray_box li span.print {
		display: inline-block;
		margin: 0 .5em;
		}
	#pc_full_chart #report_list { max-width: 130px; }
	#pc_full_chart #report_list .gray_box { max-width: 130px; }
	

	#pc_full_chart li.lab_listing span.lab_type {	display: none; }
	
	#pc_full_chart #pc_hh #curMedContainer  {	margin: 1em; }
	#pc_full_chart #pc_hh #curMedContainer_header 	{ right: 270px;}
	
	#pc_full_chart #pc_hh #medicalHistoryArea {
			margin: 0;
			padding: 1em;
			width: 478px;
			position: relative;
			left: 172px;
/*			margin-left: 1.5em;	*/
			margin-left: 2.25em;
			}

	#pc_full_chart #pc_hh #importantInfo {
		width: 350px;
		margin: 20px 45px 0 1.0em;
	}
	
	
	#pc_full_chart #pc_hh #curMedContainer {
		min-height: 250px !important;
	}
	
	#pc_history #rxp_rx_history_prompt_form {
		float: left;
		}



	#pc_shipping_choices table td {
					vertical-align: text-top;
		}
	#pinfo_msgs_div { min-height: 1.2em; font-size: 1.4em; text-align:center; border-radius:.5em;}
	#pinfo_msgs_div .success {border-radius: .35em; padding: 0.15em; color: #576620; font-size: 0.9em; font-weight: bold;}


	.pinfo_msgs_div { min-height: 1.2em; font-size: 1.4em; text-align:center; border-radius:.5em;}
	.pinfo_msgs_div .success {border-radius: .35em; padding: 0.15em; color: #576620; font-size: 0.9em; font-weight: bold;}

	
	#pc_pinfo_shipping {
				max-width: 700px;
				float: left;
				min-width: 450px;
				}
	#pc_pinfo_shipping::before { content: 'Shipping History'; font-weight:bold;   font-size: 16px; margin-bottom: 8px;}
/* jQ UI alterations */



#pc_full_chart .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active , #pc_full_chart li.ui-tabs-selected, #rxp_left_tabs li.ui-tabs-selected
			{
			background: #EDEDED url(images/bg_fallback.png) 0 -50px repeat-x;
			background: -moz-linear-gradient(top, #B9E0F5 0%, #92BDD6 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B9E0F5), color-stop(100%,#92BDD6));
			background: -webkit-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -o-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -ms-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			}


#pc_history .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active , #pc_history li.ui-tabs-selected
			{
			background: #EDEDED url(images/bg_fallback.png) 0 -50px repeat-x;
			background: -moz-linear-gradient(top, #B9E0F5 0%, #92BDD6 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B9E0F5), color-stop(100%,#92BDD6));
			background: -webkit-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -o-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -ms-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			}


#pc_pinfo_area .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active , #pc_pinfo_area li.ui-tabs-selected
			{
			background: #EDEDED url(images/bg_fallback.png) 0 -50px repeat-x;
			background: -moz-linear-gradient(top, #B9E0F5 0%, #92BDD6 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B9E0F5), color-stop(100%,#92BDD6));
			background: -webkit-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -o-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: -ms-linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			background: linear-gradient(top, #B9E0F5 0%,#92BDD6 100%);
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			}

/* rx_history */
#rx_hist_tbl a.rx_hist_fill_dates::after {
	content: 'view >>';
	font-size: .6em;
	white-space: nowrap;
}

span.pc_pinfo_form_label { font-weight:bold; }
#recentActivity_div {float:left;}

#note_header {
	display: block;
}

#decaf_area {
	width: 500px;
}

#rx_hist_tbl td.refills { white-space: nowrap; }

td.addRx .refill_requested::before {	content: 'Refill Requested';  display: block; white-space: nowrap; padding: .2em 0; color: #9E9900; }



#rxpad {
	float: left;
	max-width: 600px;
}




.lab-category.panel::before {
	content: 'Profile Panels';
	font-weight: bold;
}
.lab-category.panel {
	float: left;
}

.lab-category.panel .lab_product {
max-width: 30em;
}


.lab-category.indiv::before {
	content: 'Individual Tests';
	font-weight: bold;
}
.lab-category.indiv {
	float: left;
}
.lab-category.indiv .lab_product {
max-width: 21em;
}


.lab-category.clinic::before {
	content: 'Restore Clinical Services';
	font-weight: bold;
}
.lab-category.clinic {
	min-width:600px;
	max-width: 700px;
	float: left;
	}
.lab-category.indiv .lab_product {
/*	max-width: 42em;	*/
max-width: 100%;
}


.lab-desc {
font-size: smaller;
}






.lab-category {
	margin: 1.2em;
	max-width: 24em;
}

.lab-product label {
	padding-bottom: 4px;
}

.lab_product {
	margin-bottom: 0.65em;
}







/* categories */
.lab-category.Prevention::before {
	content: 'Prevention';
	font-weight: bold;
	color: white;
	background: #DC7B3C;
}

.lab-category.Cardio::before {
	content: 'Cardio';
	font-weight: bold;
	color: white;
	background: #A1BD67;

}

.lab-category.Metabolic::before {
	content: 'Metabolic';
	font-weight: bold;
	color: white;
	background: #E4A014;

}

.lab-category.Osteo::before {
	content: 'Osteo';
	font-weight: bold;
	color: white;
	background: #31487B;

}

.lab-category.Protocol::before {
	content: 'Protocol';
	font-weight: bold;
	color: white;
	background: #6EB6C5;

}

.lab-category.Women::before {
	content: 'Women';
	font-weight: bold;
	color: white;
	background: #C61189;

}
.lab-category.Energy::before {
	content: 'Women';
	font-weight: bold;
	color: white;
	background: #1B575B;

}

#otc_product_list div.lab-category::before {
	padding: .15em;
	border-top: solid 4px #B8BCC2;
	border-left: 4px #B8BCC2 solid;
	margin-bottom: 0.45em;
	display: block;
	font-size: 1.0em;
	
	background: none;
	color: #4F4F4F;
	border: none;
	}










/* experimental */ 
div.css3_2column {
-moz-column-count: 2; -moz-column-gap: 1em;  -webkit-column-count: 2; -webkit-column-gap: 1em; 
column-count: 2;
column-gap: 1em;
}

.avoid-column-break {
-webkit-column-break-inside: avoid;
-webkit-column-break-before:always;
-moz-column-break-inside: avoid;
        column-break-inside: avoid;
        display: inline-block; /* remove once CSS3 is supported */
        }

.lab-category {
	-webkit-column-break-inside: avoid;
}



.contentbox {
max-height: 2900px;
overflow-y: hidden;
}

/* not used anymore */
#lab_order_area {
		float: left;
		max-width: 700px;
}
/* END not used */

div.centered_div {
	margin:1.2em; text-align:center; width: 968px;
}



.lab_product label.label_check {
	padding-bottom: 2px;
}









#rx_hist_tbl {
	border-collapse: collapse;
	border-style: none;
}

#rx_hist_tbl tbody {
border-collapse: collapse;
border-color: #B5DBE6;
border-spacing: 0px;
border-style: none;
}

.rxh_even
{
	background-color:  white; /*	#F4F9FE;	*/
	border-bottom: 1px solid #E5EFF8;
}

.rxh_odd
{
	background-color: #E6F5FA;
	border-bottom: 1px solid #E5EFF8;
}



.rxh_even {
	/*	background-color: #B5DBE6;	*/
	background-color:  white;
	border-collapse: collapse;
	border-style: none;
	border-bottom: 1px solid #E5EFF8;
	border: 2px solid #E5EFF8;
	color: #3A6781;
}

.rxh_odd {
	background: white;;
	border-collapse: collapse;
	border-style: none;
	background-color: #E6F5FA;
	border-bottom: 1px solid #E5EFF8;
	border: 2px solid #E5EFF8;
	color: #3A6781;
}







.rxh_entry {
	border: 2px solid #E5EFF8;
	color: #3A6781;
}


/* alter gray box */

div.contentbox .gray_box li:nth-child(odd) {
	background-color: #E6F5FA;
	border-bottom: 1px solid #E5EFF8;
}


div.contentbox .gray_box li:nth-child(even) {
	background-color: white;
	border-collapse: collapse;
	border-style: none;
	color: #3A6781;
}

/* alt END */

/* turn off HormoneSummary */

#pc_sym > #HormoneSummary ul li ul {
	display:none;
}
#pc_sym > #HormoneSummary ul li span.symptomPoints {
display: inline;

}
#pc_sym > #HormoneSummary .hs_li:hover .click_info { display: none;  /* turned off */ }

#pc_sym > #HormoneSummary li.hs_li.func_focus_hormone {	cursor:pointer;	}
#otc_product_list  span.productCategory-minor {display:none}
#pc_sym > #HormoneSummary li.hs_li.func_focus_hormone:hover { text-decoration: underline; color: #66A3D3;  }

#pc_sym > #HormoneSummary li.hs_li.func_focus_hormone.active { font-weight:bold; color: #66A3D3;  }



body.has_recommendations_false span.rxp_recommendations_button::before {
	content: 'No ';
	color: #b1b1b1;
	cursor: default;
	
}

body.has_recommendations_false span.rxp_recommendations_button {

	color: #b1b1b1;
	cursor: default;
	
}






body.has_rxhistory_false span.rxp_history_button::before {
	content: 'No ';
	color: #b1b1b1;
	cursor: default;
	
}

body.has_rxhistory_false span.rxp_history_button {

	color: #b1b1b1;
	cursor: default;
	
}











.rf_opts {
	float: left;
}
.rf_final_opts {
	clear: both;
}

#refillQ_area .sigLine { float: left; }








td.noteSumText {
max-width: 350px;
overflow-x: hidden;
text-overflow: ellipsis;
}

/* off */
#ma a#pc_rxp_lab_serum_sub_tab { display: none; }

#pc_new_msg { display: none; }




/* OTC HISTORY */
.right_bar #otcHist_tbody { float: left;  max-width: 600px;}
#otcHist_tbody .reven {
	background-color: #F4F9FE;
	border-bottom: 1px solid #E5EFF8;
	}

#otcHist_tbody .pq_entry {
	border: 2px solid #E5EFF8;
	color: #3A6781;
}
#otcHist_tbody .pq_entry:nth-child(1) {
	border: 2px solid #E5EFF8;
	border-top-left-radius: 1em 1em;
	border-top-right-radius: 1em 1em;
}
#otcHist_tbody .pq_entry {
	border-top: 2px solid black;
	padding: 0.25em 0.75em 0.5em;
}









/* off - due to DC NSC */
#PatientAddressLine1.ji_edit { display:none; }





#shipTo_pri {
	float: left;
	height: 3em;
	margin: auto 0.5em;
	padding: 0.5em;
	vertical-align: middle;
}

#shipTo_alt {
	float: left;
	height: 3.5em;
	margin: auto 0.5em;
	padding: 0.5em;
	vertical-align: middle;
}

.otc_hist_entry .qty:before {content: 'QTY: ';}

/* address mgmt */
.address_funcs {font-size:smaller; color: #4E99AB; }
.start_date+.stop_date:before {
	content: ' - ';
}

.address_dates_area {
	font-size: smaller;
}

.address_dates_area input.ui-button {
	height: 18px !important;
}


.address_add_date_area {
	font-size: smaller;
}

.address_add_date_area input.ui-button {
	height: 18px !important;
}

.del_date_form
{
	display: inline-block;
	margin: .35em;
}

.use_datepicker {
	max-width: 70px;
}


.del_date_form .remove_date {margin-left: 1em;}

.addl_address {	margin: 1.5em;	}

#dash_area_2 > div {
	margin-top: 2.5em;
	margin-left: 1em;
	margin-right: 1em;
}

#recent_patients > div.noticeboxalt { width: 317px;}


#recent_patients > div.noticeboxalt div.innernotice {
	min-width: 317px;
}

#dash_area_3 {
	margin: 1.5em;
}

ul.list li.empty_list {padding-left: 0px; text-align:center; background: none;}
ul.list li.empty_list:hover {padding-left: 0px; text-align:center; background: none;}

li.pt_msg .msg_txt {
	text-overflow: ellipsis;
	text-overflow: ellipsis-word;
	white-space: nowrap;
	width: 12.5em;
	overflow: hidden;
	display: inline-block;
	}



#pc_hist_messages {
	max-width: 700px;
	float: left;
}

#pc_hist_messages:before { content: 'Messages'; font-weight: bold; display:block;   font-size: 16px; margin-bottom: 8px;}

#pc_hist_shipping:before { content: 'Shipping History'; font-weight: bold; display:block;   font-size: 16px; margin-bottom: 8px;}

#pc_shipping_choices {
	-moz-column-count: 2; -moz-column-gap: 1em;  -webkit-column-count: 2; -webkit-column-gap: 1em; 
column-count: 2;
column-gap: 1em;

}

/* altering layout.css */
ul.list li:hover {
	background:url(/css/img/icons/icon_bullet_focus.png) no-repeat left; 
	text-shadow: 2px 1px 3px #C0EAF7;
	 background-image: url(/css/img/icons/icon_bullet_focus.png);
	 }

div.contentbox ul.list li { margin: 0.35em 0.15em;	}

body #rightside {
	height: 100%;
	margin: 12px 20px 0 20px;
}

/* END */

#respdiv_sum { padding: .5em; border-radius: 0.3em;}


div.left_bar li.ui-button {
	min-width: 160px;
}



.prim_address::before {
		content: 'Primary Address';
		font-weight: bold;
		font-size: smaller;
}


.lab_controls {
font-size: 0.8em;
}

.rsection_title {
	font-weight:bold;
	margin-bottom: 8px;	
	display: block;
	font-size: 16px;
}


#patient_list_icon {display:none;}
#db_patient_list:before {	content: 'Patient List'; font-weight:bold;	}


#rxp_change_pt {
	font-size: 0.8em;
	text-decoration: underline;
	vertical-align: super;
	cursor: pointer;
	font-weight: normal;
}
#rxp_change_pt:hover {color: #4E99AB;}



#rxp_patient_select {
	position: absolute;
	left: 350px;
	font-weight: bold;
	font-size: 14px;
	top: -0.85em;
	text-align: center;
	margin: 0em auto;
	width: 480px;
	display: block;
}





#rxpad {

max-width: 700px;
margin: 1em auto;
width: 620px;
}

#0rxpad_order_area {
	margin: 1em auto;
	width: 750px;
	float: left;
}

#0rxpad_order_area::before {
	font-weight: bold;
	font-size: 16px;
	content: 'Rx Pad';
}

#rxp_add_patient {max-height: 1.5em;}


#nav .h_logo::after {
content: url(/images/rd_logo2_h28.png);
margin-right: 0px;
padding-right: 0px;
display: inline-block;
max-height: 1.0em;
}


/* hack for wrapping */
.lab-category.Cardio {
	padding-top: 1.25em;
}



#add_note_form:before {
	content: 'Add Note';
	display: block;
	font: 16px ProximaNovaRegular;
	font-weight: bold;
margin-bottom: 8px;
}


.patient_name .hipaa_name {text-transform: capitalize;}

.gtgt::after {
	content: url(/css/img/gt_gt.png);
}

#recent_patients {margin-left: 3em;}

.no_underline {text-decoration: none;}


/* UA Fix: */

.dataTables_wrapper > table {
	border-spacing: 0px;
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
}

#dialog-message div.msg {margin: 1em; font-size:1.2em;}

.tstamp {margin: 0.5em; }

#qs_tbl_wrapper {	width: 54.35em;}	
#qs_tbl { cursor:pointer; }
#pc_pinfo_area {display: none;}






/* Pharmacy overrides */

#rxp_head {width: 60em !important;}

#rxpad {max-width: 60em !important;}
span.med_medication {	width: 250px;}
.rxp_med {width: 60em !important;}
span.remove_med {display: none; }
.rxp_med {
	font-size: 1.05em;
	padding: .5em;
}

div.rxp_med div.med_sig {
	margin-left: 1.00em;
}

#pc_rxpad {display: none }
</style>

<style media="print">
body #rightside {
margin: 0em !important;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable {


left: 100px !important;
}

</style>














<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache" />
<META HTTP-EQUIV="Expires" CONTENT="0" />


<script>
var  qmsg_buttono1= function(qmid) { return'		<form class="msg_q" method="post">			<input type="hidden" name="id" value="' + qmid  + '" />			<input type="submit" value="Mark as Viewed" class="ui-button ui-widget ui-state-default ui-corner-all" /> &nbsp; <input type="button" value="Keep in Queue" class="func_close_popup ui-button ui-widget ui-state-default ui-corner-all" />		</form>'};
</script>

<script id="tmpl_display_msgq" type="text/x-jquery-tmpl">
	<div>
		<b>Message:</b> 
		<div class="msg">${qdata.val}</div>
		<div class="tstamp">From: ${enteredBy} on ${date_entered}</div>
		<form class="msg_q" method="post">
			<input type="hidden" name="id" value="${id}" />
			<input type="submit" value="Mark as Viewed" class="ui-button ui-widget ui-state-default ui-corner-all" /> &nbsp; <input type="button" value="Keep in Queue" class="func_close_popup ui-button ui-widget ui-state-default ui-corner-all" />
		</form>
	</div>
	
</script>

<script id="tmpl_display_address_change" type="text/x-jquery-tmpl">
	<div>
		<b>Updated Address:</b>

		<div class="msg">
								Address ID: <span style="text-transform: capitalize;" >${qdata.addresstype} &nbsp; ${qdata.adr_id}</span>
								<div class="address_display alt_address" id="alt_add_${qdata.address_id}">

					       			<div>
					       				<span class="address_display">${qdata.line1}</span>
									</div>
		       						<div>
					       				<span class="address_display">${qdata.line2}</span>
									</div>
		       						<div>
										<span class="address_display">${qdata.city}</span>&nbsp;<span class="address_display">${qdata.state}</span>, <span class="address_display">${qdata.zip}</span>
									</div>
									{{if qdata.country != 'US'}}
		       						<div>
		       							<span class="address_display">${qdata.country}</span>
									</div>
									{{/if}}

								</div>




			</div>
		<div class="tstamp">From: ${enteredBy} on ${date_entered}</div>
		<form class="msg_q" method="post">
			<input type="hidden" name="id" value="${id}" />
			<input type="submit" value="Mark as Viewed" class="ui-button ui-widget ui-state-default ui-corner-all" /> &nbsp; <input type="button" value="Keep in Queue" class="func_close_popup ui-button ui-widget ui-state-default ui-corner-all" />
		</form>
	</div>
	
</script>

<script id="tmpl_display_pinfo_change" type="text/x-jquery-tmpl">
	<div>

<h3 class="rsection_title">Contact &amp; Address Information</h3>
		<div class="msg">



<div id="pinfo_display">
	<div><span class="pc_pinfo_form_label">Name:</span> <span id="PatientFirstName" class="ji_edit">${qdata.PatientFirstName}</span> <span id="PatientLastName" class="ji_edit">${qdata.PatientLastName}</span>       </div>       <div>       	<span class="pc_pinfo_form_label">Date of Birth:</span> <span id="DOB" class="ji_edit">${qdata.DOB}</span>       </div>       <div>       	<span class="pc_pinfo_form_label">Sex:</span> <span id="sex" class="ji_edit">${qdata.Sex}</span>       </div>                     <br style="clear:none;" />       <div id="pc_contact_info_area">       	<div><span class="pc_pinfo_form_label">Daytime Tel:</span> <span class="ji_edit" id="PatientPhone">${qdata.PatientPhone}</span></div>       	<div><span class="pc_pinfo_form_label">Alternate Tel:</span> <span class="ji_edit" id="PatientWorkPhone">${qdata.PatientWorkPhone}</span></div>       	<div><span class="pc_pinfo_form_label">Email:</span><span href="mailto:${email}" class="ji_edit" id="email">${qdata.email}</span></div>       </div>
</div>




			</div>
		<div class="tstamp">From: ${enteredBy} on ${date_entered}</div>
		<form class="msg_q" method="post">
			<input type="hidden" name="id" value="${id}" />
			<input type="submit" value="Mark as Viewed" class="ui-button ui-widget ui-state-default ui-corner-all" /> &nbsp; <input type="button" value="Keep in Queue" class="func_close_popup ui-button ui-widget ui-state-default ui-corner-all" />
		</form>
	</div>

</script>





<script id="tmpl_display_patient_billing_info"  type="text/x-jquery-tmpl">
	<div>


	<h3 class="rsection_title">Insurance &amp; Billing Information</h3>
		<div class="msg">

	<div id="get_pbi">


		<div id="get_ins">
			<div>Insurance ID: ${qdata.ins_policy_id}

			</div>
			<div>Rx Group: ${qdata.ins_group}
			</div>
			<div>Bin #: ${qdata.bin_num}
			</div>
			<div>PCN: 	${qdata.processor}
				<div id="ins_rel_radios">Cardhold Relationship:
				{{if  typeof qdata.ins_relationship != 'undefined' && qdata.ins_relationship ==1}}Primary{{/if}}
				{{if typeof qdata.ins_relationship != 'undefined' && qdata.ins_relationship ==2}}Secondary{{/if}}
				</div>
			</div>
			<div>Insurance Phone [Optional]: ${qdata.ins_phone}
			</div>
		</div>
		<div id="get_cc">
			<div>Credit Card: ${qdata.cc_num}
			</div>
			<div>Month / Year (MM/YY): ${qdata.cc_exp_mm}/${qdata.cc_exp_yy}
			</div>
		</div>
	</div>
	
	
	
	
	
	
	
			</div>
		<div class="tstamp">From: ${enteredBy} on ${date_entered}</div>
		<form class="msg_q" method="post">
			<input type="hidden" name="id" value="${id}" />
			<input type="submit" value="Mark as Viewed" class="ui-button ui-widget ui-state-default ui-corner-all" /> &nbsp; <input type="button" value="Keep in Queue" class="func_close_popup ui-button ui-widget ui-state-default ui-corner-all" />
		</form>
	</div>

</script>








<script id="tmpl_display_patient_address_date_info"  type="text/x-jquery-tmpl">
	<div>


	<h3 class="rsection_title">Address Date Change</h3>
		<div class="msg">

		<b>{{if qdata.qdata.q_msg}}${qdata.qdata.q_msg}{{/if}}</b>
		<div><b style="margin-bottom: .3em;">Current Alt Address/Dates on file:</b></div>
<div class="css3_2column">
	{{each(i, adr) addresses}}
<div class="addl_address avoid-column-break" id="alt_add_div_${adr.id}">
								<div class="address_display alt_address" id="alt_add_${adr.id}">

					       			<div>
					       				<span class="address_display">${adr.line1}</span>
									</div>
		       						<div>
					       				<span class="address_display">${adr.line2}</span>
									</div>
		       						<div>
										<span class="address_display">${adr.city}</span>&nbsp;<span class="address_display">${adr.state}</span>, <span class="address_display">${adr.zip}</span>
									</div>
									{{if adr.country != 'US'}}
		       						<div>
		       							<span class="address_display">${adr.country}</span>
									</div>
									{{/if}}

								</div>



									<div class="address_dates_area">
										<b>Dates:</b>
											{{if adr.dates.length}}
											{{each(si, sdte) adr.dates}}
												<div class="ship_to_date">
													<span class="start_date">${sdte.start_date_f}</span><span class="stop_date">${sdte.stop_date_f}</span>
												</div>
											{{/each}}
											{{else}}<div> - No Dates - </div>
											{{/if}}
									</div>
</div>
{{/each}}

</div>
	
	
	
	
	
	
			</div>
		<div class="tstamp">From: ${qdata.enteredBy} on ${qdata.tstamp}</div>
		<form class="msg_q" method="post">
			<input type="hidden" name="id" value="${qdata.id}" />
			<input type="submit" value="Mark as Viewed" class="ui-button ui-widget ui-state-default ui-corner-all" /> &nbsp; <input type="button" value="Keep in Queue" class="func_close_popup ui-button ui-widget ui-state-default ui-corner-all" />
		</form>
	</div>

</script>

<style title="internal">
#shipping_quote_form {
	float: left;
	padding: 2.5em;
}





/* tmp - remove */


.contentbox {
max-height: 5900px;
overflow-y: scroll;
}

.as_save_button {
	display: inline;
	float: left;
}

.as_save_indicator {
	float: left;
	display: inline;
	font-size: 2.1em;
	margin: 0 0 0 0.5em;
}

.as_save_button.as_entry_changed + div.as_save_indicator::after {
	content: url(/images/aa_icons/statuses/status-2.png);
	float: left;
}

</style>



<& '/tmpl/account_mgmt.html' &>

<& '/tmpl/misc.html' &>
<& '/tmpl/refillQ.html' &>
<& '/tmpl/dashboard.html' &>
<script src="/js/physioage.js" defer></script>
<& '/tmpl/ups_tracking.html' &>
<& '/tmpl/rxpad.html' &>

<& '/tmpl/add_patient.html' &>

<script>
var show_as_calendar=function() {$('#fcalendar').fullCalendar({events:{ url: '/api/v1.i/func/as_calendar.html'	}}); return false;};
var hide_as_calendar=function() {$('#fcalendar').html(''); return false;}
</script>
<script>






var as_list = new Array();
var as_table;

var update_as_list = function(new_elms, removed_elms) {
console.log(new_elms);
console.log(removed_elms);
	var oldis = new Array();
	jQuery.grep(as_list, function(ale,ali) {

		for (var i = 0; i< new_elms.length; ++i)	{
				if (ale.rxn ==new_elms[i].rxn ) {
					as_list[ali]=new_elms[i];
					oldis.push(i);
				}
		}
	});
	console.log(oldis);
jQuery.each(new_elms, function(ix, oe) {
	if (oldis.indexOf(ix) == -1) {as_list.push(oe); }
});


	
as_list =	jQuery.grep(as_list, function(ale,ali) {
						var notfound=true;
						for (var i = 0; i< removed_elms.length; ++i)	{
							if (ale.rxn==removed_elms[i].rxn) {notfound=false; }
						}
						return notfound;
	});
};


var map_as_array = function(somedata) {
return jQuery.map(somedata, function(k,v) { 
			if (typeof k != 'object') {return;}
			k['name']=k['PatientLastName'] + ', ' + k['PatientFirstName'] + ' - ' +k['DOB_f'];
			
			k['hold_html']=(k['hold'] == 1 ? '<input type="checkbox" checked="checked" name="hold" value="hold" class="as_change_trigger as_rxn_' + k['rxn']  + '" data-rxn="' + k['rxn']  + '" />' : '<input type="checkbox" name="hold" value="hold"  class="as_change_trigger as_rxn_' + k['rxn']  + '" data-rxn="' + k['rxn']  + '" />');


			k['rxn_html']='<a href="#" class="func_view_as_detail" data-rxn="' + k['rxn'] + '">'  + k['rxn'] +  '</a><div>DS: [' + k['day_supply'] +']</div>' + '<div>' + k['group_next_fill_f'] + '</div>';
			k['resume_html']=(k['resume_date']? '<div>' + k['resume_date'] + '</div><input type="date"  name="resume_date" value="' +k['resume_date'] + ' "   class="as_change_trigger as_rxn_' + k['rxn']  + '"  id="asrd_' + k['rxn']  + '" data-rxn="' + k['rxn']  + '" />' : '<input type="date"  name="resume_date"   class="as_change_trigger as_rxn_' + k['rxn']  + '" id="asrd_' + k['rxn']  + '"  data-rxn="' + k['rxn']  + '" />') + '<div class="asrd_adj"><a href="#" class="asrd_f30 as_change_trigger" data-rxn="'+ k['rxn'] +'" data-lf="' + k['last_fill_UTC'] + '">Skip 60</a> &nbsp; <a href="#" class="asrd_f30 as_change_trigger" data-skip="90" data-rxn="'+ k['rxn'] +'" data-lf="' + k['last_fill_UTC'] + '">Skip 90</a></div>';
			
			k['prog_html']='<div><select name="program"  class="as_program_select as_change_trigger as_rxn_' + k['rxn']  + '" data-rxn="' + k['rxn']  + '"><option value="'+ k['program']  +'" selected="selected">'+ k['program']  +'</option><option value="DS">DS</option><option value="nth">n-th</option></select></div>';			
k['asd_html']='<div><select name="as_date"  class="as_program_asdate as_change_trigger as_rxn_' + k['rxn']  + '" style="'+ ( k['program']  == 'nth' ? '' : 'display:none;' ) +'" data-rxn="' + k['rxn']  + '" ><option value="'+ k['as_date']  +'" selected="selected">'+ k['as_date']  +'</option>' + '\
% for my $asd (1..30) {
<option value="<% $asd %>"><% $asd %></option>\
%	}
</select></div>\
';

k['prog_asd_html'] = k['prog_html'] + k['asd_html'];

			k['note_html']=(0 && k['note']  ? '<textarea name="note"   class="as_change_trigger as_rxn_' + k['rxn']  + '" data-rxn="' + k['rxn']  + '">' + k['note'] + '</textarea>' : '<textarea name="note"   class="as_change_trigger as_rxn_' + k['rxn']  + '"  data-rxn="' + k['rxn']  + '"></textarea>');

				//var tmp_date=new Date(k['last_fill_f']);
			k['fill_date_html']= k['last_fill_f'] ; 
			k['fill_date_html']= '<div>' + k['last_fill_f'] + '</div><div>' + k['next_fill_f']  + '</div>'; 
			k['as_date_html']='<input type="number" min="1"  max="30" name="as_date" value="' +k['as_date'] + ' "   class="as_change_trigger as_rxn_' + k['rxn']  + '"  data-rxn="' + k['rxn']  + '" />' ;   
			k['update_html']='<input type="submit"  value="' +('Save' || k['rxn'] ) + '" id="as_save_rxn_' + k['rxn']  + '" class="as_save_button func_update_as_entry ui-button ui-widget ui-state-default ui-corner-all" data-rxn="' +k['rxn'] + '"   />' + '<div class="as_save_indicator">&nbsp;</div>' ;   
			k['remove_html']='<input type="submit"  value="Remove" class="func_remove_as_entry remove_as ui-button ui-widget ui-state-default ui-corner-all"  data-rxn="' +k['rxn'] + '" />' ;   
			
			k['price_code_html']= k['price_code'] + ' - ' + k['pc_type'];
			return k;  });
};			
var activateASTable=function (qdata, tblid) {

console.log(new Date());

	if( typeof as_table != "undefined" && $('#as_tbl')[0]) {
		console.log('updating table...');
		as_table.fnClearTable();
		var tmp_data=toTableArray( map_as_array(as_list),  [ 'name', 'rxn_html',  'DrugName', 'prog_asd_html',  'fill_date_html','remaining_refills', 'hold_html', 'resume_html', 'note_html', 'price_code_html','doctorName', 'PatientPhone', 'tstamp', 'update_html', 'remove_html', 'patientID', 'data' ]);
		console.log(new Date());
		as_table.fnAddData( tmp_data);
				$('.as_program_select').change(function() {
								if ($(this).val()=='DS') { $('.as_program_asdate.as_rxn_' + $(this).dataset('rxn')).hide();}
								else if ($(this).val()=='nth') { $('.as_program_asdate.as_rxn_' + $(this).dataset('rxn')).show();}
								});

		
		
	} else {
console.log('making table...');
	if (! tblid) { tblid='#as_tbl';$('#ma').html('<div id="prim_as_funcs"></div><div id="table_onoffs">Show/Hide: &nbsp; <a href="#" onclick="as_table_col_toggle(9); return false;">PC</a> &nbsp; <a href="#" onclick="as_table_col_toggle(10); return false;">Prescriber</a> &nbsp; <a href="#" onclick="as_table_col_toggle(11); return false;">Phone</a> &nbsp; <a href="#" onclick="as_table_col_toggle(12); return false;">Updated</a> &nbsp; <a href="#" onclick="as_table_col_toggle(8); return false;">Note</a> &nbsp; <a href="#" onclick="as_table_col_toggle(14); return false;">Remove</a> &nbsp; <a href="#" class="func_view_as_holds">Show Holds</a>  &nbsp; <span id="update_as_indicator" class="success" style="border-radius: 0.25em; padding: 0.25em; margin: 0.25em;"></span> &nbsp; <span class="func_refresh_as_tbl"><img src="/images/buttons/refresh.png" style="max-width: 1.5em; float: right; margin: .25em; cursor:pointer;" /></span></div><table id="as_tbl"></table><div id="addl_as_funcs"></div><div><a href="#" onclick=" show_as_calendar(); return false;">Show Calendar</a> &nbsp; <a href="#" onclick=" hide_as_calendar(); return false;">Hide Calendar</a><div id="fcalendar"></div>');}
% my $asaocolcnt=0;
	as_table=$(tblid).dataTable( {
	   "sPaginationType": "full_numbers",
"sDom": '<"top"i>rpflt<"bottom"><"clear">',
	"bDestroy": true,
	"bJQueryUI": true,
	"bProcessing": true,
		"bDeferRender": true,
	"bRetrieve": true,
	'bAutoWidth':false,
		"aaData": toTableArray( map_as_array(as_list),  [ 'name', 'rxn_html',  'DrugName', 'prog_asd_html',  'fill_date_html','remaining_refills', 'hold_html', 'resume_html', 'note_html', 'price_code_html','doctorName', 'PatientPhone', 'tstamp', 'update_html', 'remove_html', 'patientID', 'data' ]),
		"aoColumnDefs": [
			{ "sTitle": "Patient", "sClass": "center small" , "aTargets": [ <% $asaocolcnt++ %> ] , "sWidth": "9em", "bSearchable": true, "bVisible": true},
			{ "sTitle": "RxN", "sClass": "center small" , "aTargets": [ <% $asaocolcnt++ %> ] , "sWidth": "5em", "bSearchable": true},
			{ "sTitle": "Desc", "sClass": "center small" , "aTargets": [ <% $asaocolcnt++ %> ] , "sWidth": "11em", "bSearchable": false},
			{ "sTitle": "Prog", "sClass": "center small" , "aTargets": [ <% $asaocolcnt++ %> ] , "sWidth": "4em", "bSearchable": false},
			{ "sTitle": "Filled", "sClass": "center small" , "aTargets": [ <% $asaocolcnt++ %> ] , "sWidth": "4em", "bSearchable": false},
			{ "sTitle": "Refills", "sClass": "center small" , "aTargets": [ <% $asaocolcnt++ %> ] , "sWidth": "1em", "bSearchable": false},
			{ "sTitle": "Hold", "sClass": "center small" , "aTargets": [ <% $asaocolcnt++ %> ] , "sWidth": "2em", "bSearchable": false},
			{ "sTitle": "Resume", "sClass": "center small" , "aTargets": [ <% $asaocolcnt++ %> ] , "sWidth": "9em", "bSearchable": false},
			{ "sTitle": "Note", "sClass": "center small" , "aTargets": [ <% $asaocolcnt++ %> ] , "sWidth": "9em", "bSearchable": false},
			{ "sTitle": "PC", "sClass": "center small" , "aTargets": [ <% $asaocolcnt++ %> ] , "sWidth": "9em", "bVisible": false, "bSearchable": false},
			{ "sTitle": "Presriber", "sClass": "center small" , "aTargets": [ <% $asaocolcnt++ %> ] , "sWidth": "9em", "bVisible": false, "bSearchable": false},
			{ "sTitle": "Phone", "sClass": "center small" , "aTargets": [ <% $asaocolcnt++ %> ] , "sWidth": "9em", "bVisible": false, "bSearchable": false},
			{ "sTitle": "Updated", "sClass": "center small" , "aTargets": [ <% $asaocolcnt++ %> ] , "sWidth": "9em", "bVisible": false, "bSearchable": false},
			{ "sTitle": "Update", "sClass": "center small" , "aTargets": [ <% $asaocolcnt++ %> ] , "sWidth": "9em", "bVisible": true, "bSearchable": false},
			{ "sTitle": "Remove", "sClass": "center small" , "aTargets": [ <% $asaocolcnt++ %> ] , "sWidth": "9em", "bVisible": false, "bSearchable": false},
			{ "sTitle": "patientID", "sClass": "center small" , "aTargets": [ <% $asaocolcnt++ %> ] , "sWidth": "9em", "bVisible": false, "bSearchable": false},
			{"bSearchable": true, "bVisible": false, "aTargets": [0]}
						],
		"0aoColumns": [
		],
		"OFF_aaSorting": [[1,'desc']],



    "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
        $('td:first-child', nRow).html( '<a class="func_ast_filter_pid" href="#" data-pid="' + aData[<% $asaocolcnt -1 %>] + '">' + aData[0] + '</a>' );

    },
			"orig_fnRowCallback": function( nRow, aData, iDisplayIndex ) {
			//console.log(nRow.rowIndex);

			
			var jdata=JSON.parse(aData[<% $asaocolcnt %>]);
			jQuery.data( nRow, 'patientID', jdata.patientID );
			
			nRow.onclick=function(telm) {
					jdata.rowIndex=nRow.rowIndex;  
					as_table.fnFilter(jdata.patientID, <% $asaocolcnt -1 %>);

			};

			// var sTitle = $('#tmpl_rollover_pinfo').tmpl(jdata).html();
			// nRow.setAttribute( 'title', sTitle );
			
			$(nRow).addClass(jdata.noteFile ? 'has_file' : 'no_file');
			return nRow;
		},


		"0fnRowCallback": function( nRow, aData, iDisplayIndex ) {
			return nRow;
		},
		"fnDrawCallback": function () {	
		}
	} );

$('#prim_as_funcs').html(
'<div>Add to AS:</div><form id="add_as_entry" class="func_add_as_entry"> <div style="float:left;">RxN: <input name="rxn" id="add_as_rxn" pattern="[468][0-9]{6}"/><br/> A/S Prog: <select name="program" onchange="toggle_as_new_opts(this.value);"><option value="DS" selected="selected" >DS (Day Supply)</option><option value="nth">n-th day-of-month</option></select><br/>' +
'	 <div id="as_nth_opt" style="display:none;">A/S Day: <input name="as_date" type="number" min="1" max="30" step="1" value="1"/></div>' + 
'	<div id="as_ds_opt">Set Start Date:<input type="date" name="resume_date" id="aas_rdate" /></div></div>' +
'	<div style="float: left; margin: 0.75em"><input type="button" value="Confirm"  class="ui-button ui-widget ui-state-default ui-corner-all" id="add_as_rxn_conf"/> &nbsp; <input type="submit" value=" Add "  class="ui-button ui-widget ui-state-default ui-corner-all" /></div> </form>' +
'		<div id="add_as_confirm" style="margin-top: 1.2em;" ></div><br style="clear:both;"/><div>'

);
$('#addl_as_funcs').html(
'<b>AS Report:</b></div>' +
'		<form id="pull_as_report" class="func_getASReport0"  target="_blank" action="/api/v1.i/func/as_barcode_report.html" method="post"><b>DS</b> A/S Dates: <br/> <span>Start:<input name="as_date_start" type="date"></span> &nbsp; <span>End:<input name="as_date_end" type="date"></span> <label for="tpty3"  style="display:inline; padding-right: 1px;" >3</label> <input type="radio"  style="display:inline;" name="3pty" value="3" id="tpty3" /> &nbsp;  <label for="tptyr" style="display:inline;  padding-right: 1px;">R</label> <input type="radio" name="3pty" value="R" id="tptyr"  style="display:inline;"/> <input type="submit" value=" Get Report " class="ui-button ui-widget ui-state-default ui-corner-all"  /><div id="as_return_link"></div></form>' +
'		<form id="pull_as_report" class="func_getASReport_off"  target="_blank" action="/api/v1.i/func/as_barcode_report_nth.html" method="post"><b>N-th</b> A/S Dates: <br/> <span>Start:<input name="as_date_start" type="date"></span> &nbsp; <span>End:<input name="as_date_end" type="date"></span> <label for="tpty3"  style="display:inline; padding-right: 1px;" >3</label> <input type="radio"  style="display:inline;" name="3pty" value="3" id="tpty3" /> &nbsp;  <label for="tptyr" style="display:inline;  padding-right: 1px;">R</label> <input type="radio" name="3pty" value="R" id="tptyr"  style="display:inline;"/> <input type="submit" value=" Get Report " class="ui-button ui-widget ui-state-default ui-corner-all"  /><div id="as_return_link"></div></form>' +
'<br style="clear:both;"/><div><b>Refill Report:</b></div>		<form id="pull_as_report0stop" class="func_getAS0stopReport" target="_blank" action="/api/v1.i/func/as_0stop_report.html" method="post"> Next Fill Dates: <br/> <span>Start:<input name="lf_date_start" type="date"></span> &nbsp; <span>End:<input name="lf_date_end" type="date"></span><input type="submit" value=" Get Report " class="ui-button ui-widget ui-state-default ui-corner-all"  /><div id="as_return_link"></div></form>' +
'<br style="clear:both;"/><div><b>OTC Expired Report:</b></div>		<form id="pull_as_report0stopOTC" class="func_getAS0stopReportOTC" target="_blank" action="/api/v1.i/func/as_0stop_reportOTC.html" method="post"> Next Fill Dates: <br/> <span>Start:<input name="lf_date_start" type="date"></span> &nbsp; <span>End:<input name="lf_date_end" type="date"></span><input type="submit" value=" Get Report " class="ui-button ui-widget ui-state-default ui-corner-all"  /><div id="as_return_linkOTC"></div></form>' +
'<div><a href="/api/v1.i/func/as_ccd_report.html" target="_ccdmdd">CCD/MDD</a>' +
'</div>'


);
// delegate did not work properly for this:
}


		$('.as_program_select').change(function() {
								if ($(this).val()=='DS') { $('.as_program_asdate.as_rxn_' + $(this).dataset('rxn')).hide();}
								else if ($(this).val()=='nth') { $('.as_program_asdate.as_rxn_' + $(this).dataset('rxn')).show();}
								});


$('#as_tbl_filter > label > input').addClass('clear_on_escape');


$(document).keyup(function(e) {
  //if (e.keyCode == KEYCODE_ENTER) { $('.save').click(); } 
  if (e.keyCode == KEYCODE_ESC) { console.log('escape'); $('.clear_on_escape').val(''); } 
});

};
var ast_pid_col=<% $asaocolcnt -1 %>;


var toggle_as_new_opts = function(optv) {
	if(optv=='DS') {
			$('#as_ds_opt').show();
			$('#as_nth_opt').hide();
	}	else {
		$('#as_ds_opt').hide();
		$('#as_nth_opt').show();
	}
};
var as_table_col_toggle=function( iCol )
{
	var bVis = as_table.fnSettings().aoColumns[iCol].bVisible;
	as_table.fnSetColumnVis( iCol, bVis ? false : true );
}
var display_autoship = function() {
	var as_limit= as_list.length > 1000 ? 150 : null;

var tmp_filt=$('#as_tbl_filter > label > input').val(); 

	$.postJSON('/api/v1.i/getAutoShipList', {limit: as_limit}, function(data) {
		if (as_list.length > 1000) {
			$.postJSON('/api/v1.i/getAutoShipList_removed', {limit: as_limit}, function(datar) {
				update_as_list(decompress_as_data(data.data), datar.data);
				activateASTable(as_list); 

				if (typeof tmp_filt == "string" && tmp_filt.length > 0) { as_table.fnFilter( tmp_filt );}
				$('#update_as_indicator').show(); 
				$('#update_as_indicator').html('Table Refreshed'); 
				$('#update_as_indicator').fadeOut(4500); 

			});
		} else {	
			as_list=decompress_as_data(data.data); 
			activateASTable(as_list);
				if (typeof tmp_filt == "string" && tmp_filt.length > 0) { as_table.fnFilter( tmp_filt );}
			$('#update_as_indicator').show(); 
			$('#update_as_indicator').html('Table Refreshed'); 
			$('#update_as_indicator').fadeOut(4500); 
			 }
	
	

	}	) };
var tmp_ad;
var decompress_as_data = function(asdata) {
if(typeof asdata.keys =='undefined'){ return asdata;}
tmp_ad=asdata;
	var tmp_as_list=[];
	for (var ii = 0; ii < asdata.as_data.length; ++ii) {

		tmp_as_list.push(arr_to_object(asdata.as_data[ii], asdata.keys));
	}
	return tmp_as_list;
};

var arr_to_object = function (arr,ks) {
  var rv = {};
  for (var i = 0; i < arr.length; ++i) {
    rv[ks[i]] = arr[i];
    }
  return rv;
}

</script>
<style>
#as_tbl {
	font-size: 1.0em;
}

.as_rxh_table:before { content: 'Order History:' ; font-weight:bold;}
.as_rxh_table {
	margin: .5em;
	background: #A9D9EC;
}

.as_rxh_row:nth-child(odd) {
	background: whiteSmoke;
}

.as_rxh_row:nth-child(even) {
	background: #A9D9EC;
}


.as_note_table:before { content: 'Notes:' ; font-weight:bold;}
.as_note_table {
	margin: .25em;
	background: #A9D9EC;
}

.as_note_row:nth-child(odd) {
	background: whiteSmoke;
}

.as_note_row:nth-child(even) {
	background: #A9D9EC;
}


#add_as_entry {
	float: left;
	margin: 0.25em 1.5em;
}


.as_note_row {	opacity: 0.5;	cursor:pointer;}
.as_note_row.nstatus_on  {	 opacity: 1;	}
.nstatus_off  {	 display:none;	}
.as_note_row .listed_rxn  {font-size:smaller; color: #7A7A7A;}






#provider-header {
	font-size: small;
	padding: 1.5em;
	padding-top: .1em;
}

#rx_pat_info {	padding: .75em;	}

.rsection_title {
		font-weight: bold;
		margin-bottom: 8px;
		display: block;
		font-size: 16px;
		text-align: center;
}








/* rdi.css */
#rightside #ma #rxp_toolset {
	position: relative;
	display: block;
	clear: none;
	margin: 15px 0 0 0;
	left: 0;
	padding: 1em !important;
}

#rxp_recommendations_prompt_form input {display:none;}
#rxp_recommendations_prompt_form .rec_display_full_rec {white-space: normal;}
/* for controlled rx for pharmacy */
.rxp_med.controlled.control_level_2 {color: #915C5C; font-weight: bold; color: #AF4E4E !Important;}
</style>
<script>


$(document).ready(function () {
	
	$('#logged_in_as_span').html(user_name);
	if ( webkitNotifications.checkPermission() == 0 )		{	$('#a_enable_notifications').hide();	}
	
});
</script>
</head>
<& '/at1.mas', userID => $userID &>

<span id="signed_in_as"><% $session{username} ? "Logged in as: $session{username}" : '' %></span>
<table id="flex1"></table>
<div id="dialog-overlay"></div>
<div id="dialog-box">
	<div class="dialog-content">
		<div id="dialog-message"></div>
		<a href="#" class="button" id="dialog-close">Close</a>
	</div>
</div>

<div id="ma"></div>

<& 'bottomleft.mas' &>