<%args>
$userID => 'restore_user'
$password => 'horse34__'
$doc => undef
$sxat => undef
</%args>
<%init>
use MIME::Base64::URLSafe;
# deal with auth verification here...



# set a cookie:
  use Apache2::Cookie;

    my $c_out = Apache2::Cookie->new($r,
                                  -name  => "rd_api_key",
                                  -value => $sxat || MIME::Base64::URLSafe::encode($sxat || RD3::encryptKey($dbh, [], { userID => $userID, password => $password } ) ) );

#    $c_out->secure(1); #when SSL works...
    $c_out->bake($r);                       # send cookie in response headers


my $jsHEAD=$m->request_comp->attr_if_exists('jsHEAD');
my $onLoad=$m->request_comp->attr_if_exists('onLoad');

my $baseURI=$r->uri;
my $userCustomization=$dbh->selectrow_hashref(q{SELECT * FROM userCustomizations WHERE uname=? AND uri=? LIMIT 1}, undef, ($userID, $baseURI));
my $groupCustomization=$dbh->selectrow_hashref(q{SELECT * FROM userCustomizations WHERE uname=? AND uri=? LIMIT 1}, undef, ('pGroup'.$session{_partnerGroup}, $baseURI));



 # set globals:








</%init>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>RestoreDirect.com</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="apple-touch-icon" href="/img/ios_icon_restore.png"/>
  <link rel="icon" href="//restoredirect.com/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="//restoredirect.com/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_black_macroman/proximanova_black_macroman.css" />
  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_bold_macroman/proximanova_bold_macroman.css" />
  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_thin_macroman/proximanova_thin_macroman.css" />
  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_regular_macroman/proximanova_regular_macroman.css" />


		<base href="/" />
% # <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>



				<script>
					jQuery.fn.centerThis = function () {
					    this.css("position","absolute");
					    this.css("top", (($(window).height() - this.outerHeight()) / 2) + $(window).scrollTop() + "px");
					    this.css("left", (($(window).width() - this.outerWidth()) / 2) + $(window).scrollLeft() + "px");
					    return this;
						}
			</script>



		<script>
		var ua = navigator.userAgent,
	    click_event = (ua.match(/iPad/i)) ? "touchstart" : "click";
		</script>


		<script src="js/jq.cookie.js" ></script>
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<& '/api/v1.3.global_sales/module.mas', userID => $userID &>
		<script src="js/crypto-sha256.js" ></script>
<script>
	var xat=$.cookie('rd_api_key');
	jQuery.ajaxSetup({headers: {"X-Auth-Token":xat}, type: 'post'});
	$.cookie('rd_api_key', null);
</script>

<script type="text/javascript">
var rlu= new Object();
var plist = new Object();
var rd = new Object();



var KEYCODE_ENTER = 13;
var KEYCODE_ESC = 27;
var hipaa_mode =false;

	var lh=new Array();
	lh[0]={loc: 'dashboard' };


var doc = new Object();
doc.DoctorCode=1;






var update_recent_patients_db =
function (){ if ($.inArray(rd.patientid, acct.recent_patients) == -1 ) {acct.recent_patients.unshift(rd.patientid); } else {
						acct.recent_patients.splice($.inArray(rd.patientid, acct.recent_patients), 1); acct.recent_patients.unshift(rd.patientid);

					}
					acct.recent_patients.splice(16, 10);
	};
	var acct=new Object();
	acct.recent_patients = [];


var sxat=xat;



	var activate_meta_search = function() {
				$('#meta_search').autocomplete({
									    minLength: 3,
					    source:function(event, ui) {

					    // lab, rx, patientName, DOB

					    if (isNaN(event.term)) {

					    var re=new RegExp(event.term, 'i');
					    // work on regex that parse dates better
							var res_arr=$.map(plist, function(value, key) {
							var pname=value['last_name']+ ', ' + value['first_name'] + ' - ' + value['dob_f'];
								  if (     re.test(pname) ) {
								  var l_pname=clean_hipaa_val(value['last_name'])+ ', ' + clean_hipaa_val(value['first_name']) + ' - ' + value['dob_f'];

								  return {label: l_pname, value: l_pname, pid: value.patientid, patientid: value.patientid,
											  action:function(aobj) { console.log(aobj); console.log(aobj); activate_patientchart(aobj.patientid)}	}; }	});
							ui(res_arr);
							} else {
							if (event.term.length < 5) {ui([]); return;}
							//number search
							var fd=event.term.toString().charAt(0);
							var re=new RegExp('^' + event.term);
							if (fd==8) {
								//
								var res_arr=$.map(rlu, function(value, key) { if (     re.test(key) ) {  var h_l_n=clean_hipaa_val(plist[value]['last_name']);
								return [
								{
								 		label: key + ' - Chart ' + h_l_n + ' ' +plist[value]['dob_f'] ,
								 		value:key + ' - Chart ' + h_l_n + ' ' +plist[value]['dob_f'],
								 		pid: value,
								 	patientid: value,
								 	rxn: key,
								 		action:function(aobj) {console.log(aobj); activate_patientchart(aobj.patientid)}	}]; } 	});


								}
							if (fd==4 || fd==6) {

								var res_arr=$.map(rlu, function(value, key) {  if (     re.test(key) ) {
									var h_l_n= clean_hipaa_val(plist[value]['last_name']);
								 return [{
								 	label: key + ' - Rx History',
								 	value:key,
								 	pid: value,
								 	patientid: value,
								 	rxn: key,
								 	action:function(aobj) { display_rxpad(aobj); popup_rx_hist(aobj)}	},
								 	{
								 		label: key + ' - Chart ' +h_l_n + ' ' +plist[value]['dob_f'] ,
								 		value:key + ' - Chart ' + h_l_n + ' ' +plist[value]['dob_f'] ,
								 		pid: value,
								 	patientid: value,
								 	rxn: key,
								 		action:function(aobj) {console.log(aobj); activate_patientchart(aobj.patientid)}	}	]; } 	})	;

								}
							ui(res_arr);
							}
				},
					 select: function(event, ui) {
							if (ui.item.action) {ui.item.action(ui.item)} else { select_patient(ui.item.pid, ui.item); }
					 },
					 close: function(event, ui) {
		 			//	$(this).prop('value', ''); // this clear it
					 	// not sure what to do yet...
					 }
				});
};







$(document).ready(function () {

	// if user clicked on button, the overlay layer or the dialogbox, close the dialog
	$('a.btn-ok, #dialog-overlay, #dialog-close').click(function () {
				closePopUp();
		return false;
	});

	// if user resize the window, call the same function again
	// to make sure the overlay fills the screen and dialogbox aligned to center
	$(window).resize(function () {

		//only do it if the dialog box is not hidden
		if (!$('#dialog-box').is(':hidden')) popup();
	});




	activate_meta_search();
	$("body").delegate(".func_close_popup", click_event, function(elm) {
		elm.preventDefault(); closePopUp();
	});

	$("body").delegate("form.msg_q", "submit", function(elm) {
		  var data=$(this).serializeObject();
		elm.preventDefault(); updateQItem(data);
	});

});


</script>
<meta http-equiv="pc.js-Type" content="text/html; charset=utf-8">

<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />

<script>
var user_name='<% $userID || $ARGS{userID} %>';

$(document).ready(function () {

	$('#logged_in_as_span').html(user_name);
	if ( webkitNotifications.checkPermission() == 0 )		{	$('#a_enable_notifications').hide();	}

});
</script>
<script>
var displayNofication=function(note) {
if (  webkitNotifications.checkPermission() == 0 )
	{
	  var iconImageUrl = "/images/aa_icons/warning-icon.png";
	  var title = "New Rx";
	  var subTitle =  note.pname + " from " + note.enteredBy;

	  var notification = webkitNotifications.createNotification( iconImageUrl, title, subTitle );
	  notification.show();
	  setTimeout( function() { notification.cancel() }, 150000 );
	};
};
</script>
		<script src="js/rd.js" ></script>

		<script src="js/jquery.tmpl.js" ></script>
		<script src="js/jquery.tmplPlus.js" ></script>
<& '/tmpl/misc.html' &>


% if ($groupCustomization) {
<% $groupCustomization->{head} %>
%	}

% if ($userCustomization) {
<% $userCustomization->{head} %>
%	} else {
%	}
</head>
<body>
% #<& '/at1.mas' &>
<!--
<span id="signed_in_as"><% $session{username} ? "Logged in as: $session{username}" : '' %></span>
<div id="dialog-overlay"></div>
<div id="dialog-box">
	<div class="dialog-content">
		<div id="dialog-message"></div>
		<a href="#" class="button" id="dialog-close">Close</a>
	</div>
</div>
-->
<div id="ma"></div>
<div class="page-container" id="bootstrap_area"></div>
<div id="modalWrap"></div>
% #<& 'bottomleft.mas' &>
</body>
</html>