<%perl>

use Asterisk::AMI;




my $astman1 = Asterisk::AMI->new(PeerAddr => 'pbx.restorehealth.co',
                               PeerPort => '5038',
                               Username => 'ctccrm',
                               Secret => 'WAp#6~f,WZFhUgmZ{|+C($/unS'
                               ) ;

die "Unable to connect to asterisk" unless ($astman1);
		 my $add=0; my $queue=100;
		 for my $exten (qw(102 103  105 106 108 110)) { #return $response
#		 for my $exten (qw(302 303  306 304)) { #return $response

		 	my $response = $astman1->action({Action => $add ? 'QueueAdd' : 'QueueRemove',
		                                Queue => $queue,
		                                Interface => "Local/$exten" . '@from-queue',
		                                Penalty => "",
		                                Paused => 'false',
		 							   });
$m->out('<pre>' . RD3::DB($response) . '</pre>');		 							   
		 }
</%perl>
<%init>
 use Asterisk::AMI::Common;

        my $astman = Asterisk::AMI::Common->new(PeerAddr => '192.159.66.56',
                                        PeerPort => '5038',
                                        Username => 'ctccrm',
                                        Secret => 'WAp#6~f,WZFhUgmZ{|+C($/unS');

my $queues=$astman->queues();
use JSON::XS;
#$m->out('<pre>' . RD3::DB($queues) . '</pre>');
</%init>