<%init>
my $addr_info = RD3::getCityStateFromZIP($dbh, [], {zip => $ARGS{zip}});  
use POSIX;
my $use_res_addr = $ARGS{res_addr} ? 1 : 0;
</%init>

<form method="post">
	<div>ZIP: <input name="zip" maxlength="5" /></div>
	<div>Weight: <input name="weight"  value="1" maxlength="5" /></div>
	<div>Residental: <input name="res_addr"  value="1" type="checkbox" checked="checked" /></div>
	 &nbsp; <input type="submit" />
</form>
% $m->out(RD2::jd([$addr_info]) . '<p style="clear:both;" />'); $m->flush_buffer;
<p style="clear:both;" />
<style>
.ups_rate:nth-child(2n) { background:#B2D2DF;	}
.ups_rate {padding: 0.25em;}
.ups_rates {max-width: 48%; float: left;}
.ups_rates.public {margin: 0 1em; }
.ups_rate.correct:nth-child(2n) { background:#A1D4BC;}
.correct:before { content: ' - '; color: #3B9457; }
.correct { font-weight: bold;  }
</style>
<div class="ups_rates nego">
<%perl>
if ($ARGS{zip}) {
 use Shipment::UPS;
  use Shipment::Address;
  use Shipment::Package;

my $ups_api_key=q|2C9E920B41C962E0| || q|AC918AC7142D9A30|;
my $ups_api_user=q|UPS-AL| || q|rhc_rperry|;
my $ups_api_pass=q|bert55| || q|yist_467a|;
my $ups_api_account=q|584856|;

my $ups_api_svc_codes = {
		11 => q{UPS Standard},
		'03' => q{UPS Ground},
		12 => q{UPS 3 Day Select},
		'02' => q{UPS 2nd Day Air},
		59 => q{UPS 2nd Day Air AM},
		13 => q{UPS Next Day Air Saver},
		'01' => q{UPS Next Day Air},
		14 => q{UPS Next Day Air Early A.M.},
		'07' => q{UPS Worldwide Express},
		54 => q{UPS Worldwide Express Plus},
		'08' => q{UPS Worldwide Expedited},
		65 => q{UPS World Wide Saver},
		ground  => q{UPS Ground},
		express  => q{UPS Second Day Air},
		priority  => q{UPS Next Day Air}
		
		
		
};

  my $package = Shipment::Package->new(

    weight => $ARGS{weight} ,
    length => 8,
    width  => 10,
    height => 0.25,
    type => 'envelope'
  );
return unless $addr_info;




my %mai = (    city        => $addr_info->{city} .'',
    province    => $addr_info->{state} || 'WI',
    postal_code => $ARGS{zip} .'',
    country     => 'US',
    
    );
if ($use_res_addr) { $mai{address_type}='residential';	}

    my $to_address = Shipment::Address->new(
%mai

  );
  
  


my  $RHC_address = Shipment::Address->new(
    name        => 'Restore Health',
    address1    => '1289 Deming Way',
    city        => 'Madison',
    province    => 'WI',
    postal_code => '53717',
    country     => 'US',
    phone       => '',
  );
my $shipment = Shipment::UPS->new(
  username => $ups_api_user,
  password => $ups_api_pass,
  key => $ups_api_key,
  account => $ups_api_account,
	proxy_domain =>  'onlinetools.ups.com',
        from_address => $RHC_address,
        to_address => $to_address,
        packages => [$package],
  printer_type => 'thermal',
  residential_address => $use_res_addr,
  negotiated_rates => 1,
);



  if ($ARGS{weight} != 1) {
    $m->print(q{<div class="ups_rate"> <b style="0color: #3B9457;">RHC Rates (} . $ARGS{weight} . q{ lbs):</b> </div>});
	my @lance = 0 ? keys %{$ups_api_svc_codes} : qw(ground express priority);
	  for my $svc (@lance  ) { # next if $svc eq 'ground';  next if $svc eq 'express';  next if $svc eq 'priority'; 
	  $svc= qq{$svc} . ''; 
	  		$shipment->rate( "$svc"   ); 
	  		#$shipment->rate( '11' );
	  		if ( $shipment->service ) {
	  			my $rhc_price=floor( $shipment->service->cost + 2 ) + 0.95;
			    $m->print(q{<div class="ups_rate correct">} . $ups_api_svc_codes->{$svc} . " (" . '&#36;' . $rhc_price  ." )\n" . q{</div>});
	  		} else {
	  		    $m->print(q{<div class="ups_rate correct">} . $ups_api_svc_codes->{$svc} . " (  n/a  )\n" . q{</div>});
	  		}
	  	}
	  	@lance = 1 ? keys %{$ups_api_svc_codes} : qw(ground express priority);
	  for my $svc (@lance  ) { # next if $svc eq 'ground';  next if $svc eq 'express';  next if $svc eq 'priority'; 
	  $svc= qq{$svc} . ''; 
	  		$shipment->rate( "$svc"   ); 
	  		#$shipment->rate( '11' );
	  		if ( $shipment->service ) {
	  			my $rhc_price=floor( $shipment->service->cost + 2 ) + 0.95;
			    $m->print(q{<div class="ups_rate correct">} . $ups_api_svc_codes->{$svc} . " (" . '&#36;' . $rhc_price  ." )\n" . q{</div>});
	  		} else {
	  		    $m->print(q{<div class="ups_rate correct">} . $ups_api_svc_codes->{$svc} . " (  n/a  )\n" . q{</div>});
	  		}
	  	}

  	}


#    $m->print(q{<div class="ups_rate">&nbsp;</div><div class="ups_rate"> <b>RHC Rates (1 pound):</b> </div>});
#    foreach my $service ( $shipment->all_services ) {    my $rhc_price=floor( $service->cost + 2 ) + 0.95;    $m->print(q{<div class="ups_rate">} . $ups_api_svc_codes->{$service->id} . " (" . $service->cost . ' / &#36;' . $rhc_price . " - " . $service->etd ." )\n" . q{</div>});  }

}
</%perl>
</div>
% return;
<div class="ups_rates public">

<%perl>
if ($ARGS{zip}) {
 use Shipment::UPS;
  use Shipment::Address;
  use Shipment::Package;

my $ups_api_key=q|2C9E920B41C962E0| || q|AC918AC7142D9A30|;
my $ups_api_user=q|UPS-AL| || q|rhc_rperry|;
my $ups_api_pass=q|bert55| || q|yist_467a|;
my $ups_api_account=q|584856|;

my $ups_api_svc_codes = {
		11 => q{UPS Standard},
		'03' => q{UPS Ground},
		12 => q{UPS 3 Day Select},
		'02' => q{UPS 2nd Day Air},
		59 => q{UPS 2nd Day Air AM},
		13 => q{UPS Next Day Air Saver},
		'01' => q{UPS Next Day Air},
		14 => q{UPS Next Day Air Early A.M.},
		'07' => q{UPS Worldwide Express},
		54 => q{UPS Worldwide Express Plus},
		'08' => q{UPS Worldwide Expedited},
		65 => q{UPS World Wide Saver}
};

  my $package = Shipment::Package->new(
    weight => $ARGS{weight} *1 ,
    Weight => $ARGS{weight} *1,
    length => 8,
    width  => 10,
    height => 0.25,
    type => 'envelope'
  );
my $addr_info = RD3::getCityStateFromZIP($dbh, [], {zip => $ARGS{zip}});  

return unless $addr_info;
    my $to_address = Shipment::Address->new(
    city        => $addr_info->{city} .'',
    province    => $addr_info->{state} || 'WI',
    postal_code => $ARGS{zip} .'',
    country     => 'US',
    address_type => 'residential'
  );
  
  


my  $RHC_address = Shipment::Address->new(
    name        => 'Restore Health',
    address1    => '1289 Deming Way',
    city        => 'Madison',
    province    => 'WI',
    postal_code => '53717',
    country     => 'US',
    phone       => '',
  );
my $shipment = Shipment::UPS->new(
  username => $ups_api_user,
  password => $ups_api_pass,
  key => $ups_api_key,
  account => $ups_api_account,
	proxy_domain =>  'onlinetools.ups.com',
        from_address => $RHC_address,
        to_address => $to_address,
        packages => [$package],
  printer_type => 'thermal',
  residential_address => 1,
  negotiated_rates => 0,
);
    $m->print(q{<div class="ups_rate"> <b>Published Rates:</b> </div>});
#    foreach my $service ( $shipment->all_services ) {	    $m->print(q{<div class="ups_rate ">} . $ups_api_svc_codes->{$service->id} . " (" . $service->cost . ")\n" . q{</div>});  }
}
</%perl>
</div>








