<%args>
$func => undef
</%args>
<%init>
unless ( ( $ENV{REMOTE_ADDR} =~ m/^192\.168\.\d+\.\d+$/) || ( $ENV{REMOTE_ADDR} =~ m/^71.86.231.253$/) ) { $m->redirect('/login.html'); }
if ($func eq 'pass-reset') {
	RD3::updateInternalUserAuth($dbh, [], \%ARGS);
}

if ($func eq 'create-iaccount') {
	$dbh->do(q{INSERT IGNORE INTO `auth_list` (`u_name`, `auth_key`, `tstamp`, `auth_level`, `acct_type`, `auth_key_new`) VALUES(	? , NULL, NOW(), 2, ?, NULL) }, undef, ( $ARGS{new_user},  $ARGS{new_type}));
	$dbh->do(q{INSERT INTO `userInfo` (`uname`, `name0`, `name1`, `phone0`, `email0`, `info0`, `userType`, `initials`) VALUES 	(?, ?, '', ?, ?, '', ?, NULL)}, undef, ( $ARGS{new_user},  $ARGS{new_name0}, $ARGS{phone0}, $ARGS{email}, $ARGS{new_type}, $ARGS{new_initials}));
$ARGS{reset_user}=$ARGS{new_user};
	RD3::updateInternalUserAuth($dbh, [], \%ARGS);
	
	if ($ARGS{new_type} eq 'sales' ) {
		# INSERT INTO `sales_reps` (`id`, `uname`, `tstamp`) VALUES	(NULL, 'kzonarich', NULL)
		
		$dbh->do(q{INSERT INTO sales.`reps` (`id`, `uname`, `tstamp`) VALUES 	(NULL, ?, NOW())}, undef, ($ARGS{new_user}));
		if ($ARGS{fax}) {	$dbh->do(q{REPLACE INTO sales.`rep_dids` (`rep_id`, `did`, `dtype`) VALUES 	(?, ?, 'fax')}, undef, ($dbh->{'mysql_insertid'}, $ARGS{fax})); }

	}

}
if ($func eq 'create-account') {
	$dbh->do(q{
	
	INSERT IGNORE INTO `doctors` (`DoctorCode`, `QS1CODE`, `DEANum`, `doctorType`, `doctorName`, `doctorAddress1`, `doctorAddress2`, `labelName`, `doctorCity`, `doctorState`, `doctorZIP`, `doctorPhone1`, `doctorPhone2`, `doctorFax`, `DateLastUsed`, `DoctorGroup`, `LastDateChg`, `LastTimeChg`, `EMInitials`, `username`, `password`, `email`, `id`, `doctorNotes`, `billingNotes`, `supervisingProvider`, `supervisingPhone`, `supervisingAddress1`, `supervisingAddress2`, `supervisingCity`, `supervisingState`, `supervisingZIP`, `NPI`, `LastDateUpdated`, `YTD`, `info1`, `info2`, `info3`, `ordersFor`)

	 SELECT  `DoctorCode`, `QS1CODE`, `DEANum`, `doctorType`, `doctorName`, `doctorAddress1`, `doctorAddress2`, `labelName`, `doctorCity`, `doctorState`, `doctorZIP`, `doctorPhone1`, `doctorPhone2`, `doctorFax`, `DateLastUsed`, `DoctorGroup`, `LastDateChg`, `LastTimeChg`, `EMInitials`, `email`, NULL, `email`, `id`, `doctorNotes`, `billingNotes`, `supervisingProvider`, `supervisingPhone`, `supervisingAddress1`, `supervisingAddress2`, `supervisingCity`, `supervisingState`, `supervisingZIP`, `NPI`, `LastDateUpdated`, `YTD`, `info1`, `info2`, `info3`, `ordersFor`
	  FROM doctors_all WHERE email=?}, undef, ($ARGS{new_user}));

	$dbh->do(q{INSERT IGNORE INTO `auth_list` (`u_name`, `auth_key`, `tstamp`, `auth_level`, `acct_type`, `auth_key_new`)
	SELECT email , NULL, NOW(), 2, NULL, ? FROM doctors_all WHERE email=?}, undef, (undef, $ARGS{new_user}));


my $dc=$dbh->selectrow_array(q{SELECT DoctorCode FROM  doctors WHERE username=?}, undef, ($ARGS{new_user}));
	my ($tmplcnt)=$dbh->selectrow_array(q{SELECT COUNT(*) FROM templateMeds2 tm JOIN doctors d ON tm.id=d.DoctorCode WHERE username=?}, undef, ($ARGS{new_user}));
	
	unless ($tmplcnt > 1) {
		$dbh->do(q{
		INSERT INTO `templateMeds2` (`medCategory`, `medication`, `inputName`, `medDose`, `medDisplayName`, `id`, `medOrder`, `medCombinable`, `qType`, `tmpl_id`, `description`)
			SELECT 
				`medCategory`, `medication`, `inputName`, `medDose`, `medDisplayName`, ?, `medOrder`, `medCombinable`, `qType`, NULL, `description`
			FROM templateMeds2 WHERE id=40794 
		}, undef, ($dc));	
	}
	$dbh->do(q{	INSERT IGNORE INTO `doctorGroups` (`DoctorGroup`, `DoctorCode`, `level`)		VALUES	(?, ?, 0)}, undef, ($dc, $dc));
#	$dbh->do(q{	INSERT IGNORE INTO `doctorspatients` (`DoctorCode`, `patientID`, `DoctorGroup`, `StartDate`, `EndDate`)	VALUES	(?, 184106, 0, '0000-00-00', '0000-00-00');}, undef, ($dc));


$ARGS{reset_user}=$ARGS{new_user};
	RD3::updateInternalUserAuth($dbh, [], \%ARGS);
}



my $cols=$dbh->selectcol_arrayref(q{SHOW COLUMNS FROM rd3.newPatients});


</%init>

<form method="post">
	Reset Password: <p/>
	<input  type="text" name="reset_user" placeholder="username" /><br/>
	<input  type="text" name="new_password" placeholder="password" /><br/>
	<input type="submit" />				
	<input type="hidden" value="pass-reset" name="func" />
</form>


<form method="post">
	Create Account: <p/>
	<input  type="text" name="new_user" placeholder="username" /><br/>
	<input  type="text" name="new_password" placeholder="password" /><br/>
	<input type="submit" />				
	<input type="hidden" value="create-account" name="func" />
</form>


<form method="post">
	Create Internal Account: <p/>

	<input  type="text" name="new_user" placeholder="username" /><br/>
	<input  type="text" name="new_password" placeholder="password" /><br/>
	<input  type="text" name="new_name0" placeholder="Name" /><br/>
	<input  type="text" name="phone0" placeholder="Phone Ext" /><br/>
	<input  type="text" name="fax" placeholder="Fax Num" /><br />
	<input  type="text" name="email" placeholder="Email" /><br/>
	<input  type="text" name="new_type" placeholder="Type"  datalist="types_list" />
	<datalist id="types_list">
	  <option value="rx">
	  <option value="cf">
	  <option value="disp">
	  <option value="cs">
	  <option value="lab">
	  <option value="sales">
	
	</datalist>
	
	<br/>
	<input  type="text" name="new_initials" placeholder="Initials"  datalist="types_list" />

	<input type="submit" />				
	<input type="hidden" value="create-iaccount" name="func" />
</form>

<% RD2::jd($cols) %>
<% $m->interp->comp_root %>