<%args>
$cpoint => undef
</%args>
<%init>
#use LWP::UserAgent;

		my ($head, $Dmap, $body);
		my ($markers, $zoom, $std, $diffs, $diff);
if ($cpoint) {
		use HTML::GoogleMaps;
		#use POSIX qw(ceil);
		my $map_key = "ABQIAAAAU5LiEWKkYg16iE0Vg9KFShSVxs3CDl8jIE6dr_G9nLtcZcoJnRQlLmogIBvqCEfoVAeW5prSufHEIw";
		my $map = HTML::GoogleMaps->new(key => $map_key, height => 600, width => 800);
			$map->controls('small_map_control');
			$map->info_window(1);
		  $map->center( $cpoint);

		#  $map->add_marker(point => "1289 Deming Way, Madison, WI");
		
		  ($markers, $diff, $zoom, $diffs)=RD::geoGetInfo(RD::geoFindNear(\$cpoint, 40));
		  #$zoom = $zoom * 1.5 if $diffs->[2] > 1.5 * $diffs->[0] ;
		  #$zoom= $zoom * 1.5 if $diffs->[2] > 1.5 * $diffs->[0] ;
		  my $zoom2=14-int($zoom + .5);
#			$zoom = 14 if $zoom > 14;
 		  $map->v2_zoom(10 || int $zoom2);
		foreach my $mark (@$markers) {
			# qw(subdomain domain title street0 city state zip contactinfo hours)
			#				0					1			2				3			4		5			6				7				8
				next unless $mark->[5];
				my $infoWindow0=qq{<p><h4><a href='http://$mark->[0].$mark->[1]'>$mark->[2]</a></h4></p><div>$mark->[3]<br/>$mark->[4],  $mark->[5]  $mark->[6]</div><br/><div>$mark->[7]<br/>$mark->[8]</div>};
				warn $infoWindow0;
			  $map->add_marker(point => qq{$mark->[3], $mark->[4],  $mark->[5]  $mark->[6]} , html => $infoWindow0, noformat => 1);
			  }
		 ($head, $Dmap, $body) = $map->render;
}




#<script type="text/javascript">GMap.prototype.centerAndZoomOnBounds = function(bounds) {    var span = new GSize(bounds.maxX - bounds.minX, bounds.maxY - bounds.minY);    var center = new GPoint(bounds.minX + span.width / 2., bounds.minY + span.height / 2.);         var newZoom = this.spec.getLowestZoomLevel(center, span, this.viewSize);         if (this.getZoomLevel() != newZoom) {        this.centerAndZoom(center, newZoom);    } else {        this.recenterOrPanToLatLng(center);     } } </script>      
#print "Content-Type: text/html\n\n";

</%init>
<%attr>
jsHEAD => '<script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAU5LiEWKkYg16iE0Vg9KFShSVxs3CDl8jIE6dr_G9nLtcZcoJnRQlLmogIBvqCEfoVAeW5prSufHEIw" type="text/javascript"></script>              <script type="text/javascript">GMap.prototype.centerAndZoomOnBounds = function(bounds) {    var span = new GSize(bounds.maxX - bounds.minX, bounds.maxY - bounds.minY);    var center = new GPoint(bounds.minX + span.width / 2., bounds.minY + span.height / 2.);         var newZoom = this.spec.getLowestZoomLevel(center, span, this.viewSize);         if (this.getZoomLevel() != newZoom) {        this.centerAndZoom(center, newZoom);    } else {        this.recenterOrPanToLatLng(center);     } } </script>      ' 
</%attr>




<style type="text/css"><!--

body 
{
% #	background-image: 
% #	url('/images/index3.jpg');
	background-repeat: 
	no-repeat;
	background-position: 
 center center; 
	background-attachment: 
	fixed
}

p.p1 {	font:   12px Arial;
	margin: 0 }

p.p2 {	font:       12px Arial;
	margin:     0;
	min-height: 14px }

p.p3 {	font:       12px Helvetica;
	margin:     0;
	min-height: 14px }

p.p4 {	font:   12px Helvetica;
	margin: 0 }

p.p5 {	font:   12px Helvetica;
	margin: 0 0 0 36px }

p.p6 {	font:   12px Arial;
	margin: 0 0 0 36px }

p.p7 {	font:       12px Arial;
	margin:     0 0 0 36px;
	min-height: 14px }

p.p8 {	color:      #000000;
	font:       12px Helvetica;
	margin:     0;
	min-height: 14px }

p.p9 {	color:  #000000;
	font:   12px Helvetica;
	margin: 0 0 0 36px }

p.p10 {	color:      #000000;
	font:       12px Helvetica;
	margin:     0 0 0 36px;
	min-height: 14px }

span.s1 {	font: 12px Arial }

span.s2 {	color: #000000 }

span.s3 {	text-decoration: underline }

a:link { 
	font: 9pt/17pt georgia; 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font: 9pt/17pt georgia; 
	font-weight: bold; 
	text-decoration: none; 
	color: #719ACA;
	}
a:hover, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}

--></style>
<table align='center' width='800'>
	<tr><td><img src='/images/restoremdmasthead.jpg' /></td><tr>
	<!-- <tr><td><% qq{Zoom:$zoom DIFF:$diff} %></td></tr> -->
	<tr><td>
				<div id='about' style="margin:1ex; display:none;">
				
				
						<p class="p1"><b>Restore&reg;</b></p>
						<p class="p2"><b></b><br>
						</p>
						<p class="p1"><b>Individualized bioidentical hormone therapy combined with hormone and rate of bone loss testing &mdash;</b></p>
						<p class="p2"><br>
						</p>
						<p class="p1">That&rsquo;s the kind of hormone therapy the innovative Restore program has offered men and women just like you for more than a decade. Whether you&rsquo;re new to hormone therapy or already using it, <i>Restore </i>individualizes your treatment and helps avoid the consequences of under and overdosing.</p>
						<p class="p3"><br>
						</p>
						<p class="p4"><b>If you are just getting started with hormone therapy, <br>
								
				Restore <i>Complete</i> is for you</b>.</p>
						<p class="p3"><br>
						</p>
						<p class="p5">The Restore staff of nurses and pharmacists will work with you and your healthcare provider to assure the best therapeutic decisions are made for you based on your unique needs.</p>
						<p class="p3"><br>
						</p>
						<p class="p6"><b><i>RESTORE&rsquo;S </i>COMPREHENSIVE PACKAGE OF INDIVIDUALIZED SERVICES INCLUDES:</b></p>
						<p class="p7"><b></b><br>
						</p>
						<p class="p6"><b>1. Baseline hormone measurement and rate of bone loss analysis.</b></p>
						<p class="p6">Analytical measurement of saliva is used to determine a baseline profile of your hormone levels. Estrogen, progesterone, testosterone, DHEA, and cortisol evaluation is recommended for omen; estradiol, testosterone, DHT, DHEA, cortisol for men. Selective hormone testing is also available. Urine NTx is used to measure rate of bone loss.</p>
						<p class="p7"><br>
						</p>
						<p class="p6"><b>2. Bioidentical, low-dose prescriptions.</b></p>
						<p class="p6">Our pharmacy, Madison Pharmacy Associates, works with your healthcare provider to customize your prescription, taking into account that each person produces, metabolizes, absorbs and responds to hormones differently. We use only natural hormones biologically identical to those your body produces.</p>
						<p class="p7"><b></b><br>
						</p>
						<p class="p6"><b>3. Ongoing case management and FREE follow-up testing.</b></p>
						<p class="p6">Our nursing staff and pharmacists will assist your healthcare provider in evaluating and adjusting your plan of care to attain optimal therapeutic outcomes. Follow-up hormone testing is provided at three months and rate of bone loss testing at six months.</p>
						<p class="p7"><br>
						</p>
						<p class="p6"><b>And annual follow-up testing is FREE as long as you continuously fill your hormone prescriptions through our pharmacy, Madison Pharmacy Associates.</b></p>
						<p class="p3"><br>
						</p>
						<p class="p8"><br>
						</p>
						<p class="p4"><b>If you are just getting started with hormone therapy, <br>
								
				Restore <i>What&rsquo;s My Level? </i>is for you</b></p>
						<p class="p8"><br>
						</p>
						<p class="p9">Our innovative Restore <span class="s1"><i>What&rsquo;s My Level? </i>program is the only to provide FREE hormone and rate of bone loss testing </span>for any hormone therapy patient who fills hormone prescriptions through our pharmacy, Madison Pharmacy Associates.</p>
						<p class="p10"><br>
						</p>
						<p class="p6">All it takes to get started is for your healthcare provider to complete a simple <i>What&rsquo;s My Level? </i>enrollment form and fax it to Women&rsquo;s Health America along with your hormone therapy prescription(s). We accept most prescription insurance plans and will be happy to work with you and your insurance company.</p>
						<p class="p7"><br>
						</p>
						<p class="p6">Three (3) months after MPA begins filling your prescriptions, we will conduct a free saliva hormone test. After six (6) months, we will conduct a free urine NTx rate of bone loss test. Suggestions for treatment adjustments will be sent to your healthcare provider along with test results. These free tests will be conducted annually for as long as you continue filling your hormone prescriptions through MPA.</p>
						<p class="p7"><br>
						</p>
						<p class="p7"><br>
						</p>
						<p class="p1"><b>Looking for an Experienced Hormone Therapy Provider?</b></p>
						<p class="p2"><span class="s3"></span><br>
						</p>
						<p class="p2"><br>
				</div>
				
				<div>
				<table align="center">
								<tr>
									<td>		<p class="p1">Enter your address or city and state:
												<form method='POST' action="/index.html">
												<a name="Find">
												<input type="text" name="cpoint" size='64'/>
												<input type='submit' value="Find a Provider" /></a>
												</form></p>
									</td>
								</tr>
											<tr><td align="center"><a href="#" onClick="getElementById('about').style.display='block';" />About Restore</a></td></tr></table>
				
				</div>
			</td>
		</tr>
	</table>
<div align='center'>	<% "$Dmap $body" %></div>