<%init>
my $md5 = Digest::MD5->new;
$session{lt}=localtime(time);
$md5->add($session{lt});
$session{sid}=$md5->hexdigest;
</%init>
<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta name="description" content="Request a Patient, or Physician Information Packet for natural hormones.">
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<TITLE>Request an Information Packet, Bioidentical Hormone Therapy</TITLE>
<style type="text/css">
 body {
  background-color: #FFFFFF;
 }
 div.c11 {text-align: center}
 p.c10 {font-family: Verdana, Arial; font-size: 70%; text-align: center}
 a.c9 {font-size: 70%}
 span.c8 {font-size: 70%}
 p.c7 {text-align: center}
 table.c6 {font-size: 8pt; font-family: Arial}
 p.c5 {font-family: Verdana, Arial; font-size: 70%; margin-top: 5}
 textarea.c4 {font-family: Arial; font-size: 8pt}
 p.c3 {font-family: Verdana, Arial; font-size: 70%; margin-top: 3}
 input.c2 {font-family: Arial; font-size: 8pt}
 td.c1 {font-family: Arial; font-size: 8pt}
</style>
</HEAD>
<BODY BGCOLOR=#FFFFFF>
<!-- ImageReady Slices (restorepg1rev3.psd) -->
<div align="center">
  <center>
<TABLE WIDTH=792 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD COLSPAN=2>
			<IMG SRC="images/restorepg1rev3_header.gif" border="0" width="792" height="210"></TD>
	</TR>
	<TR>
		<TD valign="top">
            <map name="FPMap1">
            <area href="mailto:restoremd@womenshealth.com" shape="rect" coords="66, 426, 230, 444">
            <area href="http://www.restoremd.com/restoreform4.html" shape="rect" coords="32, 97, 213, 177">
            <area href="http://www.restoremd.com/restorepg1rev3.html" shape="rect" coords="32, 7, 229, 95">
            <area href="http://www.restoremd.com/whastory.html" shape="rect" coords="32, 180, 229, 262">
            <area href="http://www.restoremd.com/selfcareoptions.html" shape="rect" coords="32, 265, 225, 348"></map><IMG SRC="images/restorepg1rev3_navbar.jpg" border="0" usemap="#FPMap1" width="234" height="488"></TD>
		<TD width="558" style="background-image: url('images/restorecompletetextbkg.gif'); background-repeat: no-repeat" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="490">
              <tr>
                <td width="10"><img border="0" src="images/spacer.gif" width="10" height="1"></td>
                <td valign="top" width="522">
                </center>
                <p style="margin-top: 0; margin-bottom: 9"><font face="Verdana,Arial" size="1"></font>
<script Language="JavaScript"><!--
function FrontPage_Form1_Validator(theForm)
{

  if (theForm.Firstname.value == "")
  {
    alert("Please enter a value for the \"Firstname\" field.");
    theForm.Firstname.focus();
    return (false);
  }

  if (theForm.Lastname.value == "")
  {
    alert("Please enter a value for the \"Lastname\" field.");
    theForm.Lastname.focus();
    return (false);
  }

  if (theForm.Address.value == "")
  {
    alert("Please enter a value for the \"Address\" field.");
    theForm.Address.focus();
    return (false);
  }

  if (theForm.City.value == "")
  {
    alert("Please enter a value for the \"City\" field.");
    theForm.City.focus();
    return (false);
  }

  if (theForm.State.value == "")
  {
    alert("Please enter a value for the \"State\" field.");
    theForm.State.focus();
    return (false);
  }

  if (theForm.Zip.value == "")
  {
    alert("Please enter a value for the \"Zipcode\" field.");
    theForm.Zip.focus();
    return (false);
  }

  if (theForm.Country.value == "")
  {
    alert("Please enter a value for the \"Country\" field.");
    theForm.Country.focus();
    return (false);
  }

  if (theForm.Email.value == "")
  {
    alert("Please enter a value for the \"Email\" field.");
    theForm.Email.focus();
    return (false);
  }

  if (theForm.Phone.value == "")
  {
    alert("Please enter a value for the \"Phone\" field.");
    theForm.Phone.focus();
    return (false);
  }
  return (true);
}
//--></script><!--webbot BOT="GeneratedScript" PREVIEW=" " startspan --><script Language="JavaScript"><!--
function FrontPage_Form1_Validator(theForm)
{

  if (theForm.Firstname.value == "")
  {
    alert("Please enter a value for the \"Firstname\" field.");
    theForm.Firstname.focus();
    return (false);
  }

  if (theForm.Lastname.value == "")
  {
    alert("Please enter a value for the \"Lastname\" field.");
    theForm.Lastname.focus();
    return (false);
  }

  if (theForm.Address.value == "")
  {
    alert("Please enter a value for the \"Address\" field.");
    theForm.Address.focus();
    return (false);
  }

  if (theForm.City.value == "")
  {
    alert("Please enter a value for the \"City\" field.");
    theForm.City.focus();
    return (false);
  }

  if (theForm.State.value == "")
  {
    alert("Please enter a value for the \"State\" field.");
    theForm.State.focus();
    return (false);
  }

  if (theForm.Zip.value == "")
  {
    alert("Please enter a value for the \"Zipcode\" field.");
    theForm.Zip.focus();
    return (false);
  }

  if (theForm.Country.value == "")
  {
    alert("Please enter a value for the \"Country\" field.");
    theForm.Country.focus();
    return (false);
  }

  if (theForm.Email.value == "")
  {
    alert("Please enter a value for the \"Email\" field.");
    theForm.Email.focus();
    return (false);
  }

  if (theForm.Phone.value == "")
  {
    alert("Please enter a value for the \"Phone\" field.");
    theForm.Phone.focus();
    return (false);
  }
  return (true);
}
//--></script><!--webbot BOT="GeneratedScript" endspan --><form method="POST" name="FrontPage_Form1" action="post.html" onsubmit="return FrontPage_Form1_Validator(this)">
              <p style="margin-left: 12">
              <br>
              <div align="left">
              <table border="0" cellpadding="0" cellspacing="0" width="522" style="font-size: 8pt; font-family: Arial">
                <tr>                  <td style="font-family: Arial; font-size: 8pt" width="12"></td>
                  <td style="font-family: Arial; font-size: 8pt" width="504" colspan="2">
                    <p style="margin-bottom: 6"><font face="Verdana,Arial" size="2"><b>I'd like more
              information on the Restore<span class="trademark">&#174;</span> Program and natural
              hormone therapy.</b></font>
                  </td>

                </tr>
                <tr>                  <td style="font-family: Arial; font-size: 8pt" width="12"></td>
                  <td style="font-family: Arial; font-size: 8pt" width="504" colspan="2">
                    <p style="margin-bottom: 6"><font face="Verdana,Arial" size="1">Please:
              </font></td>

                </tr>
                <tr>                  <td style="font-family: Arial; font-size: 8pt" width="12"><img border="0" src="../images/spacer.gif" width="10" height="1"></td>
                  <td style="font-family: Arial; font-size: 8pt" width="25"><input type="checkbox" name="Patient_Packet" value="Yes"></td>
                  <td style="font-size: 8pt; font-family: Arial" width="479"><font face="Verdana,Arial" size="1">Send me a
                    patient information packet</font></td>

                </tr>
                <tr>
                  <td style="font-family: Arial; font-size: 8pt" width="12"></td>
                  <td style="font-family: Arial; font-size: 8pt" width="25"><input type="checkbox" name="Physician_Packet" value="Yes"></td>
                  <td style="font-size: 8pt; font-family: Arial" width="479"><font face="Verdana,Arial" size="1">Send me a
                    healthcare provider information packet</font></td>
                </tr>
                <tr>
                  <td style="font-family: Arial; font-size: 8pt" width="12"></td>
                  <td style="font-family: Arial; font-size: 8pt" width="25"><input type="checkbox" name="Provider_Profiles" value="Yes"></td>
                  <td style="font-size: 8pt; font-family: Arial" width="479"><font face="Verdana,Arial" size="1">Contact me to discuss my personal situation.</font></td>
                </tr>
              </table>
              </div>
              <div style="margin-top: 10"><img border="0" src="../images/spacer.gif" width="1" height="10"></div>
              <table border="0" cellpadding="0" cellspacing="0" width="520" style="font-size: 8pt; font-family: Arial">
                <tr>                  <td style="font-family: Arial; font-size: 8pt" width="11"><img border="0" src="../images/spacer.gif" width="10" height="1"></td>
                  <td style="font-family: Arial; font-size: 8pt" width="133"><font face="Verdana, Arial" size="1">First
                    Name:</font></td>
                  <td style="font-size: 8pt; font-family: Arial" width="370"><font face="Verdana, Arial" size="1"><!--webbot
                    bot="Validation" S-Display-Name="Firstname"
                    B-Value-Required="TRUE" --><input type="text" name="Firstname" size="42" style="font-family: Arial; font-size: 8pt"></font></td>

                </tr>
                <tr>
                  <td style="font-family: Arial; font-size: 8pt" width="11"></td>
                  <td style="font-family: Arial; font-size: 8pt" width="133"><font face="Verdana, Arial" size="1">Last Name:</font></td>
                  <td style="font-size: 8pt; font-family: Arial" width="370"><font face="Verdana, Arial" size="1"><!--webbot
                    bot="Validation" S-Display-Name="Lastname"
                    B-Value-Required="TRUE" --><input type="text" name="Lastname" size="42" style="font-family: Arial; font-size: 8pt"></font></td>
                </tr>
                <tr>
                  <td style="font-family: Arial; font-size: 8pt" width="11"></td>
                  <td style="font-family: Arial; font-size: 8pt" width="133"><font face="Verdana, Arial" size="1">Street Address:</font></td>
                  <td style="font-size: 8pt; font-family: Arial" width="370"><font face="Verdana, Arial" size="1"><!--webbot
                    bot="Validation" S-Display-Name="Address"
                    B-Value-Required="TRUE" --><input type="text" name="Address" size="42" style="font-family: Arial; font-size: 8pt"></font></td>
                </tr>
                <tr>
                  <td style="font-family: Arial; font-size: 8pt" width="11"></td>
                  <td style="font-family: Arial; font-size: 8pt" width="133"><font face="Verdana, Arial" size="1">City:</font></td>
                  <td style="font-size: 8pt; font-family: Arial" width="370"><font face="Verdana, Arial" size="1"><!--webbot
                    bot="Validation" S-Display-Name="City"
                    B-Value-Required="TRUE" --><input type="text" name="City" size="42" style="font-family: Arial; font-size: 8pt"></font></td>
                </tr>
                <tr>
                  <td style="font-family: Arial; font-size: 8pt" width="11"></td>
                  <td style="font-family: Arial; font-size: 8pt" width="133"><font face="Verdana, Arial" size="1">State or
                    Province:</font></td>
                  <td style="font-size: 8pt; font-family: Arial" width="370"><font face="Verdana, Arial" size="1"><!--webbot
                    bot="Validation" S-Display-Name="State"
                    B-Value-Required="TRUE" --><input type="text" name="State" size="42" style="font-family: Arial; font-size: 8pt"></font></td>
                </tr>
                <tr>
                  <td style="font-family: Arial; font-size: 8pt" width="11"></td>
                  <td style="font-family: Arial; font-size: 8pt" width="133"><font face="Verdana, Arial" size="1">Zip or Postal
                    Code:</font></td>
                  <td style="font-size: 8pt; font-family: Arial" width="370"><font face="Verdana, Arial" size="1"><!--webbot
                    bot="Validation" S-Display-Name="Zipcode"
                    B-Value-Required="TRUE" --><input type="text" name="Zip" size="42" style="font-family: Arial; font-size: 8pt"></font></td>
                </tr>
                <tr>
                  <td style="font-family: Arial; font-size: 8pt" width="11"></td>
                  <td style="font-family: Arial; font-size: 8pt" width="133"><font face="Verdana, Arial" size="1">Country:</font></td>
                  <td style="font-size: 8pt; font-family: Arial" width="370"><font face="Verdana, Arial" size="1"><!--webbot
                    bot="Validation" S-Display-Name="Country"
                    B-Value-Required="TRUE" --><input type="text" name="Country" size="42" style="font-family: Arial; font-size: 8pt"></font></td>
                </tr>
                <tr>
                  <td style="font-family: Arial; font-size: 8pt" width="11"></td>
                  <td style="font-family: Arial; font-size: 8pt" width="133"><font face="Verdana, Arial" size="1">Email Address:</font></td>
                  <td style="font-size: 8pt; font-family: Arial" width="370"><font face="Verdana, Arial" size="1"><!--webbot
                    bot="Validation" S-Display-Name="Email"
                    B-Value-Required="TRUE" --><input type="text" name="Email" size="42" style="font-family: Arial; font-size: 8pt"></font></td>
                </tr>
                <tr>
                  <td style="font-family: Arial; font-size: 8pt" width="11"></td>
                  <td style="font-family: Arial; font-size: 8pt" width="133"><font face="Verdana, Arial" size="1">Daytime
                    Telephone:</font></td>
                  <td style="font-size: 8pt; font-family: Arial" width="370"><font face="Verdana, Arial" size="1"><!--webbot
                    bot="Validation" S-Display-Name="Phone"
                    B-Value-Required="TRUE" --><input type="text" name="Phone" size="33" style="font-family: Arial; font-size: 8pt">
                    M-F
                    8:00 - 5:30 CST</font></td>
                </tr>
                <tr>
                  <td width="11"></td>
                  <td colspan="2" width="505" style="font-family: Arial; font-size: 8pt">
                    <p style="margin-top: 5"><font face="Verdana, Arial" size="1">Please
                    fill out all fields before submitting your request.<br>
                    <br>
                    If you prefer not to share all of your personal information
                    at this time, you're welcome to call or email us in
                    confidence.</font></p>
                  </td>
                </tr>
              </table>
              <p align="center">&nbsp;<input type="submit" value="Submit" name="B1" style="font-family: Arial; font-size: 8pt"></p>
              <input type="hidden" name="nextURL" value="thankyouform.html"><input type="hidden" name="subject" value="Information Packet Request">
            </form>
 

                
                
</td>
                <td width="80">
           <img border="0" src="images/spacer.gif" width="80" height="1">
</td>
</tr>
</table>
</TD>
	</TR>
  <center>
	<TR>
		<TD COLSPAN=2>
            <map name="FPMap0">
            <area href="mailto:wha@womenshealth.com" shape="rect" coords="596, 54, 754, 67">
            <area href="http://www.womenshealth.com" shape="rect" coords="580, 70, 732, 81">
            <area href="http://www.womenshealth.com" shape="rect" coords="35, 20, 337, 102"></map><IMG SRC="images/footerlong.gif" border="0" usemap="#FPMap0" width="792" height="111"></TD>
	</TR>
	<TR>
		<TD COLSPAN=2>
        <p align="center">
        &nbsp;

		</p>			
        <p align="center">
        <font size="1" face="Verdana, Arial">
        <font size="1">
        Restore is a registered trademark and exclusive program of Women's
        Health America, Inc.<br>
        For general website questions, please email us at <a href="mailto:wha@womenshealth.com">wha@womenshealth.com</a>
        &nbsp;<br>
        <b>
		Women's
        Health America, Inc.</b><br>
        &nbsp;Madison Pharmacy Associates, LLC      Restore, LLC&nbsp;     Cyclin
        Pharmaceuticals, Inc.     Madison BioDiagnostics, LLC&nbsp;<br>
        1289 Deming Way   Madison, WI 53717&nbsp;  Phone: 800-558-7046  
        Fax: 888-898-7412<br>
	</font>	<a href="http://www.womenshealth.com/privacy.jsp?supercategory=513"><font size="1">Privacy
        Policy</font></a></font>

		</p>			
        <div>
          <p align="center">			
        <font face="Verdana, Arial" size="1">			
        Copyright  2008 Women's Health America, Inc. All rights
          reserved. Material provided on this website is provided for
          educational purposes only. It is not intended to treat, diagnose,
          cure, or prevent any disease and has not been evaluated by the FDA.
          Always seek the advice of your health care provider with questions or
          before undertaking any diet, exercise, or other health program.	</font>	
        </div>		
            <p align="center">&nbsp;</p>
        </TD>
	</TR>
</TABLE>
  </center>
</div>
<!-- End ImageReady Slices -->
</BODY>
</HTML>