<%args>
$ZIP => undef
$num => 10
$forPatient => 0
$pe => undef
</%args>
<%init>
use JSON::XS;
use Geo;

my $map;
my $cpoint;
my ($mcnt, @lets);
my $info;
my $p;
my $pet=$pe;
if (!($pe=~m/@/g) && $pe) {

# QS1CODE?
$rmd_dbh->do(q{INSERT INTO restoremd.requests SELECT NULL, PatientFirstName, PatientLastName, PatientAddressLine2, PatientCity, PatientState, PatientZIP, NULL, email, PatientPhone,  NULL, NULL, NULL, NULL, NOW(), 'QS1', 'QS1', 'yes', NOW(), QS1CODE FROM rd3.patients WHERE QS1CODE =?}, undef , ($pe) );
($pet)=$rmd_dbh->selectrow_array(q{SELECT email FROM rd3.patients WHERE QS1CODE=?}, undef, ($pe) );
}

$p = $rmd_dbh->selectrow_hashref(q{SELECT * FROM requests WHERE email=?}, undef,  ($pet));
$ZIP||=$p->{zip};
my $ns=$rmd_dbh->selectall_arrayref(q{SELECT * FROM rNotes WHERE rID=?}, {Columns=>{}}, ($p->{id}));
if ($ZIP) {
	
				
				my ($location)=(\$ZIP); # location as a ref
				$num||=10;
#				my $ll=Geo::geoCode_Tiger($location);
				my $ll=Geo::geoCode_Google($location);
				my $sqlstmt=qq{SELECT id, (SELECT ABS((latitude - ?) +  (longitude- ?))) AS diffc  FROM geocodes ORDER BY diffc LIMIT $num};

my ($lat1, $long1) = ($ll->[1],$ll->[0]);
$m->out(qq{$ll->[0],$ll->[1]});
$info=$rmd_dbh->selectall_arrayref(qq{SELECT doctorName, doctorType, doctorAddress1, doctorCity, doctorState, doctorPhone1, doctorZIP, YTD, QS1CODE, DoctorCode,
 ABS(3963.0 * acos(sin(?/57.2958) * sin(latitude/57.2958) + cos(?/57.2958) * cos(latitude/57.2958) *  cos(longitude/57.2958 - ?/57.2958)))  AS diffc FROM doctors_all JOIN geocodes AS g ON g.id=QS1CODE ORDER BY diffc ASC LIMIT $num}, {Columns =>{}}, ($lat1, $lat1, $long1));


		foreach my $mark (@$info) {
		$mark->{Testing} = $rmd_dbh->selectrow_array(q{SELECT IF((SELECT COUNT(*) FROM rd3.prescriptions JOIN rd3.DrugCodes
ON rd3.prescriptions.DrugCode = rd3.DrugCodes.DrugCode WHERE rd3.DrugCodes.DCType='Restore Testing' AND  rd3.prescriptions.DoctorCode IN(?, ?) LIMIT 10), 1, 0) AS Testing}, undef, ($mark->{DoctorCode}, $mark->{QS1CODE}));
		$mark->{noteText} = $rmd_dbh->selectcol_arrayref(q{SELECT noteText FROM Notes WHERE DoctorCode=? ORDER BY LastDateUpdated}, undef, ($mark->{DoctorCode}));

				my $infoWindow0=qq{<h4><a href='$mark->{link}'>$mark->{doctorName}, $mark->{doctorType} </a><span style='font-size:smaller'>(\$$mark->{YTD})</span></h4><div>$mark->{doctorAddress1}<br/>$mark->{doctorCity},  $mark->{doctorState} $mark->{doctorZIP}</div><br/><div>$mark->{doctorPhone1}</div><div>Distance: $mark->{diffc}</div>};
				my $dpoint = $rmd_dbh->selectrow_arrayref(q{SELECT longitude, latitude FROM geocodes WHERE id=?}, undef, ($mark->{QS1CODE}));
				#$m->out(qq{<div>$dpoint->[0], $dpoint->[1], $mark->{DoctorCode}</div>});
				# used to be: $mark->{doctorAddress1}, $mark->{doctorCity},  $mark->{doctorState} $mark->{doctorZIP}

			  $mark->{link}=qq{javascript:goTo(marker_$mcnt, "<span>$mark->{doctorName}, $mark->{doctorType}</span>" );};
				$mcnt++;
			  }
			  #, html => $infoWindow0, noformat => 1

}

my @doctors=({'doctorName' => 'Doctor'});
#my $p={fname => 'Hason'};

my @rcols= qw(fname lname address city state zip country email phone0  PhyPac PatPac SendProfiles msg0 sengine squery );
</%init>
<div>

<div id="pinfo">
<% qq{$p->{fname} $p->{lname} } %>
<div><% qq{$p->{city}, $p->{state} $p->{zip}} %></div>
<% qq{$p->{phone} } %>
<div><% qq{$p->{msg0}} %></div>
</div>

<div id="providerInfo">
<div>
<div>
% $mcnt=2;
% if (!$forPatient) {
<form id="providers_form" onsubmit="new Ajax.Updater('doctorArea', '/search/post.html', {parameters: this.serialize() } ); return false;" method="post">
<input name="rEmail" value="<% $p->{email} %>" type="hidden" id="p_rEmail" />
<input name="rID" value="<% $p->{id} %>" type="hidden" id="p_rID" />
<input type="submit" value="Update" />
<input type="hidden" name="func" value="updateProviders" />
<input type="hidden" name="ZIP" value="<% $ZIP %>" />
<div>
<span><label for="prov_suzanneROTHS2"><input type="checkbox" name="provID" value="ROTHS2" id="prov_suzanneROTHS2" checked="checked">
ROTH,SUZANNE, NP <span style="font-size:smaller">(ROTHS2)</span></label></span>
<span><span style="font-size:smaller">($98390/ Yes)</span></span>
<span>125 MAIN ST #3</span>
<span>CHARLESTOWN,  MA 02129</span>
<span>617-913-7703</span>
<span><a href='javascript:goTo(marker_, "<span>ROTH,SUZANNE, NP</span>" );'>Distance: 7</a></span>
<span>
</span>
</div>
% my $pcnt=0;		foreach my $mark (@$info) { $pcnt++;
<div>
<span><label for="prov_<% $mark->{QS1CODE} %>"><input type="checkbox" name="provID" value="<% $mark->{QS1CODE} %>" id="prov_<% $mark->{QS1CODE} %>" <% $pcnt < 5 ? ' checked="checked" ' : '' %> />
	<% $lets[$mcnt] %> <% qq{$mark->{doctorName}, $mark->{doctorType} <span style='font-size:smaller'>($mark->{QS1CODE})</span>} %></label></span>
<span><span style='font-size:smaller'>($<% int $mark->{YTD} %>/ <% $mark->{Testing} ? 'Yes' : 'No' %>)</span></span>
<span><% $mark->{doctorAddress1} %></span>
<span><% qq{$mark->{doctorCity},  $mark->{doctorState} $mark->{doctorZIP}} %></span>
<span><% $mark->{doctorPhone1} %></span>
<span><a  href='<% $mark->{link} %>'>Distance: <% int $mark->{diffc} %></a></span>
<span>
% if (@{$mark->{noteText}}) {
	<span style="cursor:pointer; text-decoration: underline; color: #528CAC;" onclick="showDiv('<% $mark->{QS1CODE} %>_Notes')" >Notes...</span><div id="<% $mark->{QS1CODE} %>_Notes" style="display:none;"><% join('<br/>', @{$mark->{noteText}}) %></div>
% }
</span>
</div>
%		$mcnt++;	  }

</form>
% } else {
%		foreach my $mark (@$info) {
<div>
<span><% $lets[$mcnt] %>. <a href='<% $mark->{link} %>'><% qq{$mark->{doctorName}, $mark->{doctorType}} %> </a></span>
<span><% $mark->{doctorAddress1} %></span>
<span><% qq{$mark->{doctorCity},  $mark->{doctorState} $mark->{doctorZIP}} %></span>
<span nowrap="nowrap"><% $mark->{doctorPhone1} %></span>
<span><% int $mark->{diffc} %> miles</span>
</div>
%		$mcnt++;	  }
% }

</div>



</div>
</div>
<div class="allnotes">
% for my $n (@$ns) {
<div>
	<span style="font-size:0.5em"><% $n->{tstamp} %></span> - 
	<span class="notes"><% $n->{note} %></span>
</div>
%	}
</div>
<div id="pNotes" contentEditable="true" class="editable"><div><% $p->{notes} %></div></div>

<h3><a onclick="sendInfo(); return false;" href="#top">Send &gt;&gt;&gt;</a></h3>


<div id="emailToSend" contentEditable="true" class="editable">
<div>Dear <% ucfirst($p->{fname}) %>,</div>
<p/>

<div>Thank you for contacting&nbsp;Women's Health America&nbsp;and allowing us to help you in your search for a caring healthcare provider who is knowledgeable about bioidentical hormone therapy!</div>
<div>&nbsp;</div>
<div>Choosing a healthcare provider and pharmacy to work with are important and highly individual decisions. As Dr. Christiane Northrup, author of&nbsp;The Wisdom of Menopause,&nbsp;noted on Oprah, "You want to be working with a team."</div>
<div>&nbsp;</div>


<div>Below is a list of possible providers. I would encourage you to contact them to determine whether or not they will meet your needs. Please let us know if you need additional referrals or if you would like us to help you set up your first appointment.</div>

<br/>
<h3>Health Care Provider List:</h3>
<div id="doctorArea">
% for my $d (@doctors) {
	<div class="doctorInfo">
		<% $d->{doctorName} %>
	</div>
% }
</div>


<div><b>Please remember that we're happy to work with your current doctor. We have nearly 27 years of experience working in this exacting area of women's healthcare, and our pharmacists, nurses and Restore Program testing specialists are happy to offer their expertise and resources to you and any provider you select in order to assist with your therapy.</b></div>
<!--
	<p>If you find a different healthcare provider who is interested in working with you on testing and/or natural hormone therapy, we would be happy to assist them with whatever resources and suggestions they need. Have them give one of our pharmacists or Restore testing specialists a call at 800-558-7046.</p>
-->

<div>&nbsp;</div>
<div>It may take several months before your appointment. While you are waiting, I encourage you to try my specialized&nbsp;Self-care Plan&nbsp;that has helped thousands since the very first woman walked through our doors, nearly 27 years ago.&nbsp;&nbsp; &nbsp;</div>


<div>&nbsp;</div>
<div>1. Begin by educating yourself.</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; My book,&nbsp;<a href="http://www.womenshealth.com/health-store?page=shop.product_details&flypage=flypage.tpl&product_id=2039&category_id=21"><i>The HRT Solution</i></a>&nbsp;is a great place to start.&nbsp;Christiane Northrup,&nbsp;MD&nbsp;says this book "Should be the bible of hormone replacement for any woman who is considering hormone therapy."</div>
<div>&nbsp;</div>
<div>2.&nbsp;Nutritional supplementation goes a long way in reducing symptoms and is the foundation for any hormone management program.</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I developed&nbsp;<a href="http://www.womenshealth.com/health-store?page=shop.product_details&flypage=flypage.tpl&product_id=2011&category_id=53">ProCycle PMS</a>&nbsp;and&nbsp;<a href="http://www.womenshealth.com/health-store?page=shop.product_details&flypage=flypage.tpl&product_id=2009&category_id=53" >ProCycle&nbsp;Gold</a>&nbsp;therapeutic vitamin supplements to support a woman's healthy hormone balance.&nbsp; With a solid nutritional foundation, many find that they may not even need hormone therapy or if they do, in much lower doses.</div>
<div>&nbsp;</div>
<div>3.&nbsp;When self care isn't enough, start&nbsp;bio-identical hormone therapy&nbsp;in low doses after&nbsp;<a href="http://www.womenshealth.com/bioidentical-hormone-testing?layout=blog">measuring your hormone levels</a>&nbsp;and&nbsp;<a href="http://www.womenshealth.com/health-library/37-bone-health-osteoporosis/776-faqs-about-bone-loss-and-testing">rate of bone loss</a>.</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Each&nbsp;<a href="http://www.womenshealth.com/compounding-pharmacy">natural hormone prescription</a>&nbsp;is carefully prepared, one at a time, just for you.&nbsp; I have formulated dosage forms that are unique to Women's Health&nbsp;America&nbsp;including even release progesterone tablets, under the tongue dosages, mild estrogen vaginal tablets, and proprietary hormone cream formulas.</div>
<div>&nbsp;</div>
<div>At Women's Health&nbsp;America, we recognize and appreciate each woman's individuality.&nbsp; Today, we are the oldest and largest,&nbsp;<a href="http://www.womenshealth.com/home/975-pcab-accreditation">accredited women's health pharmacy in America</a>.&nbsp; Our professional staff includes specialized nurses, pharmacists, health educators, and laboratory researchers. It will be our pleasure to work with you during your journey to health and wellness for the rest of your life!</div>
<div>&nbsp;</div>
<div>Please call us at&nbsp;1-800-558-7046&nbsp;if you have questions, to transfer your existing prescription, to enroll in our comprehensive&nbsp;<a href="http://womenshealth.com/bioidentical-hormone-testing">Restore&nbsp;Program</a>&nbsp;or visit us online at&nbsp;<a href="http://womenshealth.com">www.womenshealth.com</a>
</div>


<p/>

<p>In good health,</p>
 
<div><img src="http://womenshealth.com/image/main/13/picture" style="max-height: 10em; padding: .25em" /><div></div><img src="http://womenshealth.com/images/marla_sig.gif" alt="Marla Ahlgrimm" /></div>
<div>Marla Ahlgrimm, R.Ph</div>
<div>Founder/CEO</div>

</div>

<div>
<h3><a onclick="sendInfo(); return false;" href="#top">Send &gt;&gt;&gt;</a></h3>
</div>