<%attr>
jsHEAD => '<script src=http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAU5LiEWKkYg16iE0Vg9KFShSVxs3CDl8jIE6dr_G9nLtcZcoJnRQlLmogIBvqCEfoVAeW5prSufHEIw type=text/javascript></script>             '
</%attr>

<%init>
				my ($zoom2, $zoom, $diff, $test, $map, $head);
				my @lets=('P',0,'A'..'Z', 26..1000);
				my $mcnt;
if ($ARGS{recode}==11) {
		# finally, let's geocode for RestoreMD's Map, BTW we use refs for FAST geocoding
	foreach my $line (@{$rmd_dbh->selectall_arrayref(q{SELECT doctorAddress1, doctorCity, doctorState, doctorZIP , QS1CODE  FROM doctors_all})}) {
	if (my $ll=(Geo::geoCode_Google(\"$line->[0] $line->[1] $line->[2] $line->[3]") )) {
	$m->out(qq{<div>"$line->[0] $line->[1] $line->[2] $line->[3]": $ll->[1], $ll->[0] ($line->[4])</div>});
	$m->flush_buffer;
		$rmd_dbh->do('REPLACE INTO geocodes SET latitude=?, longitude=?, id=?', undef, ($ll->[1], $ll->[0], $line->[4]));
		$m->flush_buffer;	
}
elsif ($ll= Geo::geoCode_Google(\qq{$line->[3] , United States of America})) {
$m->out(
qq{<div style="color:red; font-weight:bold">BAD ADDRESS: "$line->[0] $line->[1] $line->[2] $line->[3]": ($line->[4]) -- USING ZIPCODE INSTEAD: $line->[3]</div>}
);

		$rmd_dbh->do('REPLACE INTO geocodes SET latitude=?, longitude=?, id=?', undef, ($ll->[1], $ll->[0], $line->[4]));
		$m->flush_buffer;	
}

else {
$m->out(
qq{<div style="color:red; font-weight:bold">BAD ADDRESS: "$line->[0] $line->[1] $line->[2] $line->[3]": ($line->[4])</div>}
);
}

}
# update to new info
$rmd_dbh->do(q{UPDATE restoremd.doctors_all d1, rd3.doctors_all d2
    SET 
d1.QS1CODE=d2.QS1CODE, 
d1.DEANum=d2.DEANum, 
d1.doctorType=d2.doctorType, 
d1.doctorName=d2.doctorName, 
d1.doctorAddress1=d2.doctorAddress1, 
d1.doctorAddress2=d2.doctorAddress2, 
d1.labelName=d2.labelName, 
d1.doctorCity=d2.doctorCity, 
d1.doctorState=d2.doctorState, 
d1.doctorZIP=d2.doctorZIP, 
d1.doctorPhone1=d2.doctorPhone1, 
d1.doctorPhone2=d2.doctorPhone2, 
d1.doctorFax=d2.doctorFax, 
d1.DateLastUsed=d2.DateLastUsed, 
d1.doctorGroup=d2.doctorGroup, 
d1.LastDateChg=d2.LastDateChg, 
d1.LastTimeChg=d2.LastTimeChg, 
d1.EMInitials=d2.EMInitials, 
d1.username=d2.username, 
d1.password=d2.password, 
d1.email=d2.email, 
d1.id=d2.id, 
d1.doctorNotes=d2.doctorNotes, 
d1.billingNotes=d2.billingNotes, 
d1.supervisingProvider=d2.supervisingProvider, 
d1.supervisingPhone=d2.supervisingPhone, 
d1.supervisingAddress1=d2.supervisingAddress1, 
d1.supervisingAddress2=d2.supervisingAddress2, 
d1.supervisingCity=d2.supervisingCity, 
d1.supervisingState=d2.supervisingState, 
d1.supervisingZIP=d2.supervisingZIP, 
d1.NPI=d2.NPI, 
d1.LastDateUpdated=d2.LastDateUpdated, 
d1.YTD=d2.YTD, 
d1.info1=d2.info1, 
d1.info2=d2.info2, 
d1.info3=d2.info3

WHERE d1.DoctorCode=d2.DoctorCode});
}
my $info;
if ($ZIP) {
	
				
				my ($location)=(\$ZIP); # location as a ref
				$num||=10;
#				my $ll=Geo::geoCode_Tiger($location);
				my $ll=Geo::geoCode_Google($location);
				my $sqlstmt=qq{SELECT id, (SELECT ABS((latitude - ?) +  (longitude- ?))) AS diffc  FROM geocodes ORDER BY diffc LIMIT $num};

my ($lat1, $long1) = ($ll->[1],$ll->[0]);
$info=$rmd_dbh->selectall_arrayref(qq{SELECT da.doctorName, da.doctorType, da.doctorAddress1, da.doctorCity, da.doctorState, da.doctorPhone1, da.doctorZIP, da.YTD, da.QS1CODE, da.DoctorCode,
 ABS(3963.0 * acos(sin(?/57.2958) * sin(latitude/57.2958) + cos(?/57.2958) * cos(latitude/57.2958) *  cos(longitude/57.2958 - ?/57.2958)))  AS diffc FROM rd3.doctors_all da JOIN restoremd.doctors_all rmda ON da.QS1CODE=rmda.QS1CODE JOIN geocodes AS g ON g.id=da.QS1CODE ORDER BY diffc ASC LIMIT $num}, {Columns =>{}}, ($lat1, $lat1, $long1));
 print qq{SELECT doctorName, doctorType, doctorAddress1, doctorCity, doctorState, doctorPhone1, doctorZIP, YTD, QS1CODE, DoctorCode,
 ABS(3963.0 * acos(sin(?/57.2958) * sin(latitude/57.2958) + cos(?/57.2958) * cos(latitude/57.2958) *  cos(longitude/57.2958 - ?/57.2958)))  AS diffc FROM doctors_all JOIN geocodes AS g ON g.id=QS1CODE ORDER BY diffc ASC LIMIT $num} .qq($lat1, $lat1, $long1);
		my ($head, $Dmap, $body);
		my ($markers,  $std, $diffs);
		use HTML::GoogleMaps;
		my $map_key = "ABQIAAAAU5LiEWKkYg16iE0Vg9KFShSVxs3CDl8jIE6dr_G9nLtcZcoJnRQlLmogIBvqCEfoVAeW5prSufHEIw";
if ($makeMap) {
		 $map = HTML::GoogleMaps->new(key => $map_key, height => 600, width => 800);
			$map->controls('small_map_control');
			$map->info_window(1);
		  $map->center( $cpoint);
#		   		  $map->v2_zoom(10 || int $zoom2);
		   		  $map->add_marker(point => $cpoint, html => qq{<div>Patient: $cpoint</div>}, noformat => 1);
		   		  }
		   		  $mcnt=2;
		foreach my $mark (@$info) {
		$mark->{Testing} = $rmd_dbh->selectrow_array(q{SELECT IF((SELECT COUNT(*) FROM rd3.prescriptions JOIN rd3.DrugCodes
ON rd3.prescriptions.DrugCode = rd3.DrugCodes.DrugCode WHERE rd3.DrugCodes.DCType='Restore Testing' AND  rd3.prescriptions.DoctorCode IN(?, ?) LIMIT 10), 1, 0) AS Testing}, undef, ($mark->{DoctorCode}, $mark->{QS1CODE}));
		$mark->{noteText} = $rmd_dbh->selectcol_arrayref(q{SELECT noteText FROM Notes WHERE DoctorCode=? ORDER BY LastDateUpdated}, undef, ($mark->{DoctorCode}));

				my $infoWindow0=qq{<h4><a href='$mark->{link}'>$mark->{doctorName}, $mark->{doctorType} </a><span style='font-size:smaller'>(\$$mark->{YTD})</span></h4><div>$mark->{doctorAddress1}<br/>$mark->{doctorCity},  $mark->{doctorState} $mark->{doctorZIP}</div><br/><div>$mark->{doctorPhone1}</div><div>Distance: $mark->{diffc}</div>};
				my $dpoint = $rmd_dbh->selectrow_arrayref(q{SELECT longitude, latitude FROM geocodes WHERE id=?}, undef, ($mark->{QS1CODE}));
				#$m->out(qq{<div>$dpoint->[0], $dpoint->[1], $mark->{DoctorCode}</div>});
				# used to be: $mark->{doctorAddress1}, $mark->{doctorCity},  $mark->{doctorState} $mark->{doctorZIP}
			  $map->add_marker(point => [($dpoint->[0], $dpoint->[1])], html => $infoWindow0, noformat => 1, icon => $lets[$mcnt] ) if ($makeMap);
			  $mark->{link}=qq{javascript:goTo(marker_$mcnt, "<span>$mark->{doctorName}, $mark->{doctorType}</span>" );};
				$mcnt++;
			  }
			  #, html => $infoWindow0, noformat => 1

}

elsif (0)
{
my $ref= $rmd_dbh->selectall_arrayref(q{SELECT QS1CODE, doctorAddress1, doctorAddress2, doctorCity, doctorState FROM doctors_all});
foreach my $line (@$ref){	# finally, let's geocode for RestoreMD's Map, BTW we use refs for FAST geocoding
$m->out('<div>'."$line->[1] $line->[2] $line->[3], $line->[4]:<br/>");
	if (my $ll=Geo::geoCode_Google(\"$line->[1] $line->[2] $line->[3], $line->[4]")) {
		#		print join(', ',@$ll);
		# hmm, seems lat and long are backwards from Google....
		$rmd_dbh->do('REPLACE INTO geocodes SET latitude=?, longitude=?, id=?', undef, ($ll->[0], $ll->[1], $line->[0]));
		$m->out(qq{$ll->[0], $ll->[1]});
}
$m->out('</div>');
}
}


if ($ARGS{addcode}) {
	$rmd_dbh->do(q{REPLACE INTO restoremd.doctors_all SELECT * FROM rd3.doctors_all WHERE QS1CODE=?}, undef, ($ARGS{addcode}));
		my $dfksjdlf = $rmd_dbh->selectrow_hashref(q{SELECT * FROM restoremd.doctors_all WHERE QS1CODE=?}, undef, $ARGS{addcode});

	my $dbmsg=qq{REPLACE INTO restoremd.doctors_all SELECT * FROM rd3.doctors_all WHERE QS1CODE=} .$ARGS{addcode} . $dfksjdlf->{doctorAddress1};
	$msg.=qq{<div>Added $ARGS{addcode}<br/>Remember to Re-GeoCode when done...</div>};
	my $DC = $rmd_dbh->selectrow_array(q{SELECT DoctorCode FROM doctors_all WHERE QS1CODE=?}, undef, $ARGS{addcode});
	$rmd_dbh->do(q{REPLACE INTO restoremd.Notes SET noteText=?, DoctorCode=?}, undef, ($ARGS{noteText}, $DC)) if $ARGS{noteText};
}

if ($ARGS{rmcode}) {
	$rmd_dbh->do(q{DELETE FROM restoremd.doctors_all WHERE QS1CODE=?}, undef, $ARGS{rmcode});
	$msg.=qq{<div style="color:red;">Removed $ARGS{rmcode}</div>};
}

</%init>
<%args>
$ZIP => undef
$cpoint => $ZIP
$num => 10
$msg => undef
$Dmap => undef
$body => undef
$forPatient => undef
$makeMap => undef
</%args>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
	<head>
	  <title>RestoreMD.com</title>
% if ($ZIP) {
	  <script src=http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAU5LiEWKkYg16iE0Vg9KFShSVxs3CDl8jIE6dr_G9nLtcZcoJnRQlLmogIBvqCEfoVAeW5prSufHEIw type=text/javascript></script>

<script>
var geocoder = null;
  var map = null;
  var online = true;
  var bounds = new GLatLngBounds();
 

  function load() {
    if (online && GBrowserIsCompatible()) {
      geocoder = new GClientGeocoder();
      bounds.extend(marker_1.getPoint());
      bounds.extend(marker_2.getPoint());
//      bounds.extend(marker_3.getPoint());
      map.setZoom(map.getBoundsZoomLevel(bounds));
      map.setCenter(bounds.getCenter());
    }
    }
    
    function goTo(point, html) {
      bounds.extend(marker_1.getPoint());
      bounds.extend(point.getPoint());
      map.setZoom(map.getBoundsZoomLevel(bounds));
      map.setCenter(bounds.getCenter());
      point.openInfoWindowHtml(html);

		}
	function showDiv(div){document.getElementById(div).style.display="block";}
</script>
% }
<LINK REL="STYLESHEET" TYPE="text/css" HREF="http://womenshealth.com/white.css">
	</head>
	<body <% $ZIP ? 'onload="load();"' : '' %>>
	<div><a href="maincrm.html">Send emails</a></div>
	Searched: <% $ZIP %>

<div style="color: green;"><% $msg %></div>
% 		 ($head, $Dmap, $body) = $map->render if $map;
% $m->out(qq{<div align='center'>	$Dmap $body</div>});

<form method="post" name="zipper" action="http://restoremd.com/search/index.html">
<span>ZIP (or address): <input type="text" tabindex="1" autocomplete="off" name="ZIP" size="32"></span>
<span>Num Results: <input type="text" name="num" value="10"  size="4" tabindex="3" ></span>
<span><label for="forPatientl" />For Patient: <input id="forPatientl" type="checkbox" name="forPatient" value="11"></label></span>
<input type="submit" value="Search" tabindex="2" />
</form>

<div>
<table cellspacing="2" cellpadding="2">
% $mcnt=2;
% if (!$forPatient) {
%		foreach my $mark (@$info) {
<tr>
<td><% $lets[$mcnt] %>. <a href='<% $mark->{link} %>'><% qq{$mark->{doctorName}, $mark->{doctorType} <span style='font-size:smaller'>($mark->{QS1CODE})</span>} %></a></td>
<td><span style='font-size:smaller'>($<% int $mark->{YTD} %>/ <% $mark->{Testing} ? 'Yes' : 'No' %>)</span></td>
<td><% $mark->{doctorAddress1} %></td>
<td><% qq{$mark->{doctorCity},  $mark->{doctorState} $mark->{doctorZIP}} %></td>
<td><% $mark->{doctorPhone1} %></td>
<td>Distance: <% int $mark->{diffc} %></td>
<td>
% if (@{$mark->{noteText}}) {
	<span style="cursor:pointer; text-decoration: underline; color: #528CAC;" onclick="showDiv('<% $mark->{QS1CODE} %>_Notes')" >Notes...</span><div id="<% $mark->{QS1CODE} %>_Notes" style="display:none;"><% join('<br/>', @{$mark->{noteText}}) %></div>
% }
</td>
</tr>
%		$mcnt++;	  }
% } else {
%		foreach my $mark (@$info) {
<tr>
<td><% $lets[$mcnt] %>. <a href='<% $mark->{link} %>'><% qq{$mark->{doctorName}, $mark->{doctorType}} %> </a></td>
<td><% $mark->{doctorAddress1} %></td>
<td><% qq{$mark->{doctorCity},  $mark->{doctorState} $mark->{doctorZIP}} %></td>
<td nowrap="nowrap"><% $mark->{doctorPhone1} %></td>
<td><% int $mark->{diffc} %> miles</td>
</tr>
%		$mcnt++;	  }
% }
</table>



</div>
<div style="border-style:groove; width:20%;">
<form name="addProvider" method="post">
QS1CODE: <input type="text" name="addcode" tabindex="10"  />
Notes:		<textarea name="noteText"></textarea>
<input type="submit" value="Add Provider" tabindex="11" />
</form>
<p/>
<form name="rmProvider" method="post">
QS1CODE: <input type="text" name="rmcode" tabindex="12"  />
<input type="submit" value="Remove Provider" tabindex="13" />
</form>
<p/>
<form name="recode" method="post">
<input type="hidden" name="recode" value="11" tabindex="14" />
<input type="submit" value="Re-GeoCode" tabindex="15"  />
</form>

</div>
	</body>
	</html>
