<%args>
$ZIP => undef
$num => 10
$forPatient => 0
$pe => undef
</%args>
<%init>
use JSON::XS;
my $map;
my $cpoint;
my ($mcnt, @lets);
my $info;
</%init>
<html>
<head>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("prototype", "1.6.0.3"); google.load("scriptaculous", "1.8.2");</script>
<style type="text/css">

.editable {
	border: solid 1px;
	border-color: #517cff;
	padding: .35em; min-height: 1.5em;
	max-width: 80%;
	margin: 1em;
}



div.autocomplete {
  margin:0px;  
  padding:0px;  
  width:250px;
  background:#fff;
  border:1px solid #888;
  position:absolute;
}

div.autocomplete ul {
  margin:0px;
  padding:0px;
  list-style-type:none;
}

div.autocomplete ul li.selected { 
  background-color:#ffb;
}

div.autocomplete ul li {
  margin:0;
  padding:2px;
  height:32px;
  display:block;
  list-style-type:none;
  cursor:pointer;
}

.allnotes {max-height: 9em; overflow: auto; }
</style>
<script>
var pemail = $('pe_0');
gotEmails = <% JSON::XS::encode_json($rmd_dbh->selectcol_arrayref(q{SELECT email FROM requests})) %>;
var sendInfo = function(){

	  var parms=Form.serializeElements($('providers_form').getInputs('checkbox', 'provID'), true);
	  parms['note']=$('pNotes').innerHTML;
	  parms['emailToSend']=$('emailToSend').innerHTML;
	  parms['rID']=$('p_rID').value;
	  parms['func']='sendEmail';
	  parms['rEmail']=$('p_rEmail').value;


	new Ajax.Request(
		'post.html', {
	  	parameters: parms,
	  method: 'post',
	  onSuccess: function(transport) {
		$('pscreen').update(transport.responseText);
		pemail.clear();
		pemail.focus();
	  }
	});
};
</script>
</head>
<%init>
my @rcols= qw(fname lname address city state zip country email phone0  PhyPac PatPac SendProfiles msg0 sengine squery );
</%init>
<style>

#providerInfo:before {content: 'Provider Info: '; }
#providerInfo {max-height: 12em; overflow: auto; }
#pNotes:before {content:'Notes: '; }
#emailToSend:before {content: "Email: " ;}

</style>

<div>
<a href="index.html">Check Map</a>

<a name="top"></a>

<div>
<form onsubmit="new Ajax.Updater('pscreen', '/search/crm.html', {parameters: this.serialize() } ); return false;" method="post">

<p>
  <label for="pe_0">Email:</label>
  <input id="pe_0" autocomplete="off" size="40" type="text" name="pe" value="" tabindex="1" /><input tabindex="2" type="submit" />
</p>
</form>
<div class="autocomplete" id="e_list" style="display:none"></div>

</div>
<script>
new Autocompleter.Local("pe_0", "e_list", gotEmails, {});
</script>
<div id="pscreen">
</div>