<%init>
my $result ;#= $m->cache->get('states');
    if (!defined($result)) {
       # ... compute $result ...
       $result = $rmd_dbh->selectall_hashref(q{SELECT * FROM doctorSites WHERE onoff='on' ORDER BY state, city }, ['state','city', 'DoctorCode']);
        $m->cache->set('states', $result, '1h');
    }
    
</%init>
<html>
<head>
	<script>
		var prevdr;
		var prevstate;
		function showdr(dr) {
			if (prevdr) {
			document.getElementById(prevdr).style.display="none";}
			document.getElementById(dr).style.display="block";
			prevdr=dr;
		}
		function hidiv(id) {
			if (id) {
			document.getElementById(id).style.display="none";}}
		</script>
</head>
<body>
<span style="position: absolute;right: 20px;"><a href="javascript:showdr('mapframe_id'); hidiv(prevstate)">Map</a></span>
<iframe 
src ="/test/us_map/labeled_USA_map.html"
width="100%" height='80%' name="mapframe" id="mapframe_id">
</iframe>
<div>
%	foreach my $st (sort keys	%${result}) {
	<div id="<% lc($st) %>_info" style="display:none;"><% $st %>: <br/>
%		foreach my $ci (sort keys	%{$result->{$st}}) {
%			foreach my $dr (sort keys	%{$result->{$st}->{$ci}}) {
				<span style="font-weight:bold;"><% $ci %>: <a href="javascript:showdr('<% $dr %>');"><% $result->{$st}->{$ci}->{$dr}->{title} %></a></span><br/>
			<div id="<% $dr %>" style="border-style:groove; display:none;">
			<span style="position: absolute;right: 20px;"><a href="javascript:hidiv('<% $dr %>');">Close</a></span>
				<h4><% $result->{$st}->{$ci}->{$dr}->{title} %></h4><br/>
% if		($result->{$st}->{$ci}->{$dr}->{clinicName}) {
				<% $result->{$st}->{$ci}->{$dr}->{clinicName} %><br/>
%				}
				<% $result->{$st}->{$ci}->{$dr}->{street0} %><br/>
				<% $result->{$st}->{$ci}->{$dr}->{city} %>, <% $result->{$st}->{$ci}->{$dr}->{state} %> <% $result->{$st}->{$ci}->{$dr}->{zip} %><br/>

				<p>
				HOURS: 				<% $result->{$st}->{$ci}->{$dr}->{hours} %>
				</p>
				TEL: 				<% $result->{$st}->{$ci}->{$dr}->{apptPhone} %>



								<div style="display: none;">
					<form method="post">
							<fieldset>
								<table>
									<tbody><tr>
										<td>
											<label for="posName">Name:</label>

										</td>
										<td><input class="text" size="25" name="posName" id="posName" value="" type="text"></td>
									</tr>
									<tr>
										<td>
											<label for="posEmail">Email:</label>
										</td>
										<td>

											<input class="text" size="25" name="emailQueue.email" id="posEmail" value="" type="text">
										</td>
									</tr>
									<tr>
										<td>
											<label for="posRegard">Regarding:</label>
										</td>
										<td>

											<input class="text" size="25" name="emailQueue.subject" id="posRegard" type="text">
										</td>
									</tr>
									<tr>
										<td>
											<label for="posText">Message:</label>
										</td>
										<td>

											<textarea cols="30" rows="5" name="emailQueue.premsg" id="posText"></textarea>
										</td>
									</tr>
									<tr>
										<td>
											<label for="selfCC">
											<input name="selfCC" id="selfCC" value="send" type="checkbox"> Send CC to self
											</label>

										</td>
									</tr>
									<tr>
										<td>
											<label>
												<input class="submit" name="sendContactEmail" id="sendContactEmail" value=" Send Email " type="submit">
											</label>
										</td>
									</tr>

								</tbody></table>
							</fieldset>
						</form>
				</div>
			</div>

% } }
	</div>
%	}
</div>
		
</body>
</html>