<%args>
$cpoint => 53562
$num => 10
$msg => undef
$forPatient => undef
$ZIP => 1
</%args>
<%init>

		my ($head, $Dmap, $body);
		my ($markers,  $std, $diffs);
		use HTML::GoogleMaps;
		my $map_key = "ABQIAAAAU5LiEWKkYg16iE0Vg9KFShT6LJlXWfVdD5kYmVXn0N4BnOhvMxQIl8rIUi2mSdWhXPubr5fwVdm-1g";
		$map_key=q{ABQIAAAAU5LiEWKkYg16iE0Vg9KFShToc5Xzi8-ESXVCWQSBIog9r57jIRSnAVH9Zr1pJ1xIPCs8BPtyzSusFg};
#		$map_key=q{ABQIAAAAU5LiEWKkYg16iE0Vg9KFShSVxs3CDl8jIE6dr_G9nLtcZcoJnRQlLmogIBvqCEfoVAeW5prSufHEIw};

		 my $map = HTML::GoogleMaps->new(key => $map_key, height => 1200, width => 1600);
			$map->controls('small_map_control');
			$map->info_window(1);
#		  $map->center( $cpoint);
#		   		  $map->v2_zoom(10 || int $zoom2);
		   		  $map->add_marker(point => $cpoint, html => qq{<div>Patient: $cpoint</div>}, noformat => 1);

		
	my $info=$rmd_dbh->selectcol_arrayref(q{SELECT zip FROM requests WHERE zip >1000 AND zip < 100000 LIMIT 1000});

my $mcnt;
my $txt;
	foreach my $mark (@$info) {
	next unless $mark;
#	$m->print(qq{<div>$mark</div>\n});
#	$m->flush_buffer;
	my $ll= Geo::geoCode_Tiger(\qq{$mark , United States of America});

			if ($ll->[0] &&  $ll->[1]) {
			  $map->add_marker(point => [($ll->[0], $ll->[1])], noformat => 1);
			  } else { next; 
			  #$ll= Geo::geoCode_Tiger(\qq{$mark , United States of America});
			  #			$map->add_marker(point => , noformat => 1) if $ll->[0];
			  }
			  $txt.= $mcnt++ . ": ($ll->[0], $ll->[1]) is $mark<p/>\n";

}
</%init>









<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
	<head>
	  <title>RestoreMD.com</title>
	  <script src=http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAU5LiEWKkYg16iE0Vg9KFShSVxs3CDl8jIE6dr_G9nLtcZcoJnRQlLmogIBvqCEfoVAeW5prSufHEIw type=text/javascript></script>

<script>
var geocoder = null;
  var map = null;
  var online = true;
  var bounds = new GLatLngBounds();
 

  function load() {
    if (online && GBrowserIsCompatible()) {
      geocoder = new GClientGeocoder();
      bounds.extend(marker_1.getPoint());
      bounds.extend(marker_2.getPoint());
//      bounds.extend(marker_3.getPoint());
      map.setZoom(map.getBoundsZoomLevel(bounds));
      map.setCenter(bounds.getCenter());
    }
    }
    
    function goTo(point, html) {
      bounds.extend(marker_1.getPoint());
      bounds.extend(point.getPoint());
      map.setZoom(map.getBoundsZoomLevel(bounds));
      map.setCenter(bounds.getCenter());
      point.openInfoWindowHtml(html);

		}
	function showDiv(div){document.getElementById(div).style.display="block";}
</script>
<LINK REL="STYLESHEET" TYPE="text/css" HREF="http://womenshealth.com/white.css">
	</head>
	<body <% $ZIP ? 'onload="load();"' : '' %>>
	Searched: <% $ZIP %>

<div style="color: green;"><% $msg %></div>
% 		 ($head, $Dmap, $body) = $map->render if $map;
% $m->out(qq{<div align='center'>	$Dmap $body</div>});

<% $txt %>

	</body>
	</html>
