<%args>
$func => 'send'
</%args>
<%init>
if ($func eq 'saveNote') {}

if ($func eq 'sendEmail') {

	 # save notes
	 $rmd_dbh->do(q{INSERT INTO rNotes SET rID=?, note=?}, undef, ( $ARGS{rID}, $ARGS{note})) if $ARGS{note};

	 $rmd_dbh->do(q{INSERT INTO rNotes SET rID=?, note=?}, undef, ( $ARGS{rID}, 'Sent Provider List')) ;

	 # save providers
	 				my @provIDs=ref $ARGS{provID} ?
					 @{$ARGS{provID}} : $ARGS{provID};
	 for my $d (@provIDs) {
	 	$rmd_dbh->do(q{REPLACE INTO req_prov_refs SET rID=?, QS1CODE=?}, undef, ( $ARGS{rID}, $d)) if $d
	 }


	 # send email
	
		my $outbuf;
	
  use Email::Send;
  use Email::Send::Gmail;
  use Email::Simple::Creator;

my $sender = 'RestoreMD <restore@womenshealth.com>';
my $recipient = $ARGS{rEmail};







 my $semail = Email::Simple->create(
      header => [
          From    => 'RestoreMD <restore@womenshealth.com>',
          To      => $recipient,
          Subject => 'RestoreMD Provider Referral List',
          "Content-Type" => 'text/html; charset="iso-8859-1"'
      ],
      body => $m->scomp('email1_top.html') . $ARGS{emailToSend} . $m->scomp('email0_bottom.html')
  );

  my $sendEMail = Email::Send->new(
      {   mailer      => 'Gmail',
          mailer_args => [
              username => 'restore@womenshealth.com',
              password => 'restore1289',
          ]
      }
  );
  eval { $sendEMail->send($semail) };
  die "Error sending email: $@" if $@;



	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
$m->out('<h3>Sent and Saved!</h3>');
}

if ($func eq 'updateProviders') {

				my ($location)=(\$ARGS{ZIP}); # location as a ref
				my $num=10;
				my @provIDs=ref $ARGS{provID} ?
					 @{$ARGS{provID}} : $ARGS{provID};
#				my $ll=Geo::geoCode_Tiger($location);
				my $ll=Geo::geoCode_Google($location);
				my $sqlstmt=qq{SELECT id, (SELECT ABS((latitude - ?) +  (longitude- ?))) AS diffc  FROM geocodes ORDER BY diffc LIMIT $num};

my ($lat1, $long1) = ($ll->[1],$ll->[0]);

my $info=$rmd_dbh->selectall_arrayref(qq{SELECT
d.*, 
 ABS(3963.0 * acos(sin(?/57.2958) * sin(latitude/57.2958) + cos(?/57.2958) * cos(latitude/57.2958) *  cos(longitude/57.2958 - ?/57.2958)))  AS diffc FROM restoremd.rmdproviders d JOIN restoremd.geocodes AS g ON g.id=QS1CODE 
 WHERE d.dactive=1 AND QS1CODE IN (} . join(',', ('?')x@provIDs) . qq{)
 ORDER BY diffc ASC LIMIT $num}, {Columns =>{}}, ($lat1, $lat1, $long1, @provIDs));

 
 my $dlist='';
 for my $d (@$info) {
	 $dlist .= qq{
	 	<div class="doctorInfo" style="margin: 1.5em;">
	 		<div class="name" >$d->{name}, $d->{dtype}</div>
	 		<div class="address">$d->{address1}</div>
	 		<div class="address">$d->{city}, $d->{state} $d->{zip}</div>	 		
	 		<div class="phone">$d->{phone}</div>
	 		<div class="notes" style="color: #414141;">$d->{notes}</div>
	 	</div>
	 };
 
 }
 
 
 
 
 $m->out($dlist);
 return;
}
</%init>
f is <% join(', ', keys %ARGS) %>func
save providers, notes, log contact,send mail


<%doc>

my $info=$rmd_dbh->selectall_arrayref(qq{SELECT doctorName, doctorType, doctorAddress1, doctorCity, doctorState, doctorPhone1, doctorZIP, YTD, QS1CODE, DoctorCode,
 ABS(3963.0 * acos(sin(?/57.2958) * sin(latitude/57.2958) + cos(?/57.2958) * cos(latitude/57.2958) *  cos(longitude/57.2958 - ?/57.2958)))  AS diffc FROM doctors_all JOIN geocodes AS g ON g.id=QS1CODE 
 WHERE DoctorCode IN (} . join(',', ('?')x@provIDs) . qq{)
 ORDER BY diffc ASC LIMIT $num}, {Columns =>{}}, ($lat1, $lat1, $long1, @provIDs));



# SMTP host (the host that should do the delivery); change as necessary

my $smtp_host = "localhost";

# Hash containing arguments for sendmail.

#@ MAIL_SENDMAIL
my %mail = (
		From => "$sender",
		To => "$recipient",
		Subject => "RestoreMD Provider Referral List",
		'content-type' => 'text/html; charset="iso-8859-1"',
		Message => $m->scomp('email0_top.html') . $ARGS{emailToSend} . $m->scomp('email0_bottom.html');
);
sendmail(%mail) or die "sendmail failure sending to $mail{To}: $!\n$Mail::Sendmail::error\n";
#print qq{$Mail::Sendmail::error\n};
#@ MAIL_SENDMAIL
#print "\n\n$outbuf";
#$rmd_dbh->do(qq{UPDATE emailQueue SET Status='Sent' WHERE ID=?}, undef, ($ID)) unless $Mail::Sendmail::error;
#print "$ID: $q->{$ID}->{email}\n";

	
	
	
	
	







</%doc>