<form method="post">
Auto-Correct: <input type="text" pattern="\S+" name="ac" />
<div>
Text:
<textarea name="text_ac" style="width: 70%; min-height: 5em;">What it should say...</textarea>
<input type="submit" />
</div>
</form>
<%init>
	if ($ARGS{ac} && $ARGS{text_ac}) {
			my $acsql=q{INSERT INTO `autocorrects` (`abbr`, `acText`, `inUse`, `LDU`, `user`, `acType`)
				VALUES
			(?, ?, '2', NOW(), ?, 'kLong')
		};
		
		$dbh->do( $acsql, undef, ( $ARGS{ac}, $ARGS{text_ac}, 'kalir' || $session{username} ));
		
	}
</%init>

<div>
	<table>
%	my $rws=$dbh->selectall_arrayref(q{SELECT abbr, acText FROM autocorrects WHERE inUse > 0 AND `user`='kalir'});
%	for my $rw (@$rws) {
		<tr><td><% $rw->[0] | h %></td><td><% $rw->[1]  %></td></tr>
%	}

	</table>
</div>