<%args>
$rxn => undef
$RxN => $rxn
$secondFax => undef
$notes => undef
$internal => undef
$ri => undef
$rfStatus => 'New' 
</%args>

<%init>
      			$m->out(q{<div><a href="http://rd300.restoredirect.com/api/v1.e/func/refill_fax_pdf.html?rxn=} . $rxn . q{">PDF</a>.  </div>});      
#      			return;
return unless ($ENV{REMOTE_ADDR} =~m/^(108|192.168)/);
#get fax #:

use Mozilla::CA;

my $faxTo= $dbh->selectrow_array(q{SELECT doctorFax FROM doctors_all da JOIN prescriptions_basic p ON p.DC=da.DoctorCode WHERE rxn=?}, undef, ($RxN));

	$faxTo =~s/\D//g;
;
$faxTo=~s{^(\d{10})$}{1$1};

# get token:
# 	curl -X PUT https://api.2600hz.com:8443/v1/user_auth -d '{ "data" : { "credentials" : "ba45a9f192c38bd4e8396459ed679660", "realm" : "mip1.sip.2600hz.com" } }'

my $api_url=q{https://api.2600hz.com:8443/v1};
	 $api_url=q{http://api.2600hz.com:8000/v1};
my $acct_id=q{7617ffea48ffaed61384fb5a80b10a80};
my $auth_token=q{96cbc2c047447e76c6760627246f2f3d};
# get cred info here: https://2600hz.atlassian.net/wiki/display/docs/Generating+an+Authentication+Token
my $creds=q|{"data" : { "credentials" : "ba45a9f192c38bd4e8396459ed679660", "realm": "mip1.sip.2600hz.com" } }|;
my $api_key='';


#$api_url=q{https://108.166.96.52:8443/v1};
{
  use LWP::UserAgent;
     use CACertOrg::CA;
  my $ua = LWP::UserAgent->new;
  $ua->agent("MyApp/0.1 ");
#  $ua->ssl_opts( verify_hostnames => 0 ,  								SSL_ca_file => Mozilla::CA::SSL_ca_file()	  );
   $ua->ssl_opts(        verify_hostnames => 0,                SSL_ca_file      => CACertOrg::CA::SSL_ca_file());
                
#verify_hostnames

  my $req = HTTP::Request->new( PUT => ($api_url || 'https://api.2600hz.com:8443/v1') . '/user_auth' );
		$req->header( 	
									'Content-Type' => 'application/json', 
									'X-Auth-Token' => $auth_token
									);
		$req->content( $creds || JSON::XS->new->pretty(1)->encode({"api_key" => $api_key}) );

  # Pass request to the user agent and get a response back
  my $res = $ua->request($req);

  # Check the outcome of the response
  if ($res->is_success) {
#      print $res->content;
  }
  else {
      print $res->status_line, "\n";
      print $res->content;

      $m->out('Error occurred.  Send manually...');
      			$m->out(q{<div><a href="http://rd300.restoredirect.com/api/v1.e/func/refill_fax_pdf.html?rxn=} . $rxn . q{">PDF</a>.  </div>});      


	return;      
  }

my $jsr=JSON::XS->new->decode($res->content);
$auth_token=$jsr->{auth_token};

}



my $fax_url = qq|/accounts/$acct_id/faxes|;
my $fxo = 
{
   "data" => {
      "document" => {
         "url" => "http://rd300.restoredirect.com/api/v1.e/func/refill_fax_pdf.html?rxn=" . $rxn,
         "method" => "get"
      },
      "retries" => 4,
      "from_name" => "Restore Health Pharmacy",
      "from_number" => "18888987412",
      "to_name" => "Prescriber",
      "to_number" => $faxTo
   }
};

 # Create a user agent object
  use LWP::UserAgent;
  my $ua = LWP::UserAgent->new;
  $ua->agent("MyApp/0.1 ");

  # Create a request





 {

  my $req = HTTP::Request->new(PUT => $api_url . $fax_url);
		$req->header( 	
									'Content-Type' => 'application/json', 
									'X-Auth-Token' => $auth_token
									);
		$req->content( JSON::XS->new->pretty(1)->encode($fxo) );

  # Pass request to the user agent and get a response back
  my $res = $ua->request($req);

  # Check the outcome of the response
  if ($res->is_success) {
      
      # check JSON:
      # save to refill Queue!
	my $rj={};
      eval{
      $rj=JSON::XS->new->decode($res->content);
      };
      if ($rj->{status} eq 'success') {
			$m->out(q{<div>Successfully sent <a href="http://rd300.restoredirect.com/api/v1.e/func/refill_fax_pdf.html?rxn=} . $rxn . q{">PDF</a>.  </div>});      
			$dbh->do(q{INSERT INTO `rxRefillAuthHist` (`RxN`, `totals`, `LDU`, `rfStatus`, `reFaxed`, `provCalled`, `dateEntered`, `dateComplete`, `pharmNotes`, `orgFaxed`, `orgFaxedStatus`, `reFaxedStatus`, `api_resp`, `api_id`)
VALUES
	(?, 0, NOW(), 'New', NULL, NULL, NOW(), NULL, NULL, NOW(), 'attempting', NULL, ?, ?) ON DUPLICATE KEY UPDATE api_id=VALUES(api_id), reFaxed=NOW(), api_resp=VALUES(api_resp)}, undef, ($rxn, $res->content, $rj->{data}{id}));
      } else {
      $m->out('Error occurred.  Send manually...');
      			$m->out(q{<div><a href="http://rd300.restoredirect.com/api/v1.e/func/refill_fax_pdf.html?rxn=} . $rxn . q{">PDF</a>.  </div>});      
      }
      
      
      
      
      
      
      
  }
  else {
      print $res->status_line, "\n" .
      $res->headers_as_string;
      $m->out('Error occurred.  Send manually...');
      			$m->out(q{<div><a href="http://rd300.restoredirect.com/api/v1.e/func/refill_fax_pdf.html?rxn=} . $rxn . q{">PDF</a>.  </div>});      

  }
  
}

</%init>
