<%init>
my $cnt=1;
my $sql=q{SELECT DrugName, COUNT(DrugCode) AS cnt FROM prescriptions WHERE DateFilled > DATE_SUB(NOW(), INTERVAL 30 DAY)  AND RxNumber < 8000000 GROUP BY DrugCode ORDER BY cnt DESC};
my $arr=$dbh->selectall_arrayref($sql, {Columns=>{}});
</%init>
<table>
% for my $ar (@$arr) {
	<tr><td><% $cnt++ %></td><td><% $ar->{DrugName} %></td><td><% $ar->{cnt} %></td></tr>
%	}
</table>