<script id="tmpl_dashboard"  type="text/x-jquery-tmpl">
<div id="dashboard">
	<div id="dash_area_1">
		
	</div>
	<div id="dash_area_2">
		<div id="db_patient_list">
			<div class="listing"><a href="#" class="func_patient_list plist_link" id="patient_list_link">${Object.keys(plist).length} Patients <span style="text-decoration:underline;">view </span></a></div>
		</div>
		<div id="rx_issues"></div>	
		<div id="diag_issues"></div>
		<div id="db_notices"></div>
	</div>
	<div id="dash_area_3">
		<div id="recent_patients"></div>

	</div>	
		
</div>
</script>
<script id="tmpl_db_rx_issues"  type="text/x-jquery-tmpl">
				{{if typeof acct.unfilled_rx == 'object' && acct.unfilled_rx.length}}
					<div class="listing">${acct.unfilled_rx.length} Unfilled Prescriptions <a href="#" class="func_unfilled_rx">view &gt;&gt;</a></div>
				{{/if}}
				{{if acct.refill_reqs.length}}
					<div class="listing"><a href="#" class="func_unfilled_rx gtgt no_underline" id="db_rfq_link">${acct.refill_reqs.length} Refill Requests <span style="text-decoration:underline;">view </span></a></div>
				{{/if}}
</script>

<script id="tmpl_db_diag_issues"  type="text/x-jquery-tmpl">
				{{if acct.diag_issues.length}}
				[loading...]
				{{else}}
				<div class="listing">None at this time</div>
				{{/if}}
</script>

<script id="tmpl_db_recent_diag_list"  type="text/x-jquery-tmpl">
           				<div class="gray_box">
							<ul class="list">
								{{each(i, di) acct.diag_issues}}
												
								<li class="func_diag_issue patient_name view_status_${di.view_status} rx_status_${di.rx_status} " data-patientid="${di.patientid}" data-rxn="">
									<span class="hipaa_name">${plist[di.patientid]['last_name']}, ${plist[di.patientid]['first_name']}</span>&nbsp;-&nbsp;<span class=" hipaa_date">${di.sample_date_f}</span>
								</li>
								{{/each}}
							</ul>
						</div>


</script>

<script id="tmpl_db_recent_patients"  type="text/x-jquery-tmpl">


                        <h4>Recently Viewed Patients</h4>
						<div class="gray_box">
						<ul class="list">
							{{each(i, pat) acct.recent_patients}}{{if typeof plist[pat] =="object"}}
							<li class="func_patient_chart patient_name" data-patientid="${pat}">
								<span class="hipaa_name">${plist[pat]['last_name']}, ${plist[pat]['first_name']}</span>&nbsp;-&nbsp;<span class=" hipaa_DOB">${plist[pat]['dob_f']}</span>
							</li>
							{{/if}}{{/each}}
						</ul>
						</div>


</script>

<script id="tmpl_db_recent_patients_org"  type="text/x-jquery-tmpl">
				<div class="noticeboxalt">
                    <div class="innernotice">
                        <h4>Recently Viewed Patients</h4>
						<ul class="list">
							{{each(i, pat) acct.recent_patients}}{{if typeof plist[pat] =="object"}}
							<li class="func_patient_chart patient_name" data-patientid="${pat}">
								<span class="hipaa_name">${plist[pat]['last_name']}, ${plist[pat]['first_name']}</span>&nbsp;-&nbsp;<span class=" hipaa_DOB">${plist[pat]['dob_f']}</span>
							</li>
							{{/if}}{{/each}}
						</ul>
                    </div>
                </div>

</script>

<script id="tmpl_db_notices"  type="text/x-jquery-tmpl">

% #				<div class="noticebox">
% #                    <div class="innernotice">
                        <h4>Notices</h4>
						<ul class="listing">
							{{if acct.notices.length}}
								{{each(i, notice) acct.notices}}
									<li>${notice}</li>
								{{/each}}
							{{else}}
							<li>A new version of RD will be available soon.  Find out <a href="#">more</a>.</li>
							{{/if}}
						</ul>
% #                    </div>
% #                </div>

</script>

<script id="tmpl_db_patient_list_short"  type="text/x-jquery-tmpl">
				
				<div class="patient_list_area">
					<div class="patient_list_toggle">Patient List</div>
					<div class="patient_list_table"></div>
				</div>
				<div class="noticebox">
                    <div class="innernotice">
                        <h4>Notices</h4>
						<ul>
							{{if acct.notices.length}}
								{{each(i, notice) acct.notices}}
									<li>${notice}</li>
								{{/each}}
							{{else}}
							<li>A new version of RD will be available soon.  Find out <a href="#">more</a>.</li>
							{{/if}}
						</ul>
                    </div>
                </div>

</script>
