% if (0) {
<div id="patient_info">
            <p id="current_action" class="dashboard"></p>
            <p class="selected_patient" id="working_patient"></p>
            <p class="userbtn"><a href="#" title="">Profile</a></p>
</div>
%	}
	<div class="pinfo_msgs_div">&nbsp;<span class="pinfo_msgs"></span></div>
<div id="pc_summary">
	<div id="pc_sum_top"></div>
	<div class="left_bar">
		<h5>Summary</h5>
		<div class="indent_15_em">
			<div id="pc_refill_reqs"></div>
			<div id="pc_sum_report_list" class="report_list"></div>
			<div id="pc_package_tracking"></div>			
			<div id="pc_msg_hist"></div>			
			<div id="pc_new_msg">
					<form method="post" onsubmit="send_ssl_msg(this); return false;" data-respdiv="respdiv_sum">
						<div><h3 class="rsection_title title_top">Send a Message to pharmacy:</h3></div>
						<textarea id="secure_msg_ta_sum" class="secure_msg_ta" autofocus placeholder="Send a message to pharmacy about this patient..." name="secure_msg" style="width: 300px ; margin 1.5em auto; min-height: 3em;"></textarea>
						<div>
							<input type="submit" value="Send Message" class="ui-button ui-widget ui-state-default ui-corner-all" role="button"> &nbsp; <span id="respdiv_sum"></span>
						</div>
					</form>

			</div>			
		</div>
	</div>
	<div class="right_bar">
		<div class="padded_box">
			<div id="pc_recent_activity" class="pc_recent_activity"></div>
		</div>
	</div>



</div>

<div id="pc_history">
	<div class="left_bar">
		<h5>History</h5>
		<div class="indent_15_em">
					<ul class="pc_chart_tabs" id="pc_chart_tabs">
						<li class="ui-button ui-widget ui-state-default ui-corner-all" onclick="pc_rxh_scrollbar.tinyscrollbar_update();"><a href="#rxHist_tbody" id="pc_med_hist_a" >Medication History</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#otcHist_tbody" id="pc_OTC_hist_a">OTC History</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" style="display:none; " ><a href="#labOrderHist_div" id="pc_lab_hist_a">Lab Order History</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" onclick="recentActivity_div_sb_scrollbar.tinyscrollbar_update();"><a href="#recentActivity_div" id="pc_recent_act_a" >Recent Activity</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_hist_shipping" id="pc_hist_t4">Shipping History</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_hist_messages" id="pc_hist_t5">Messages</a></li>
					</ul>
		</div>
	</div>
	<div class="right_bar">
		<div class="padded_box">
			<div id="rx_history_pc">
				<div id="otcHist_tbody"></div>
				<div id="rxHist_tbody"></div>
				<div id="labOrderHist_div">
					{{if rd.pobj.Lab_Orders}}
						<table>
							<thead>
								<tr>
									<th>Lab Test</th>
									<th>RxNumber</th>
									<th>Date Order</th>
									<th>Date Filled</th>
								</tr>
							</thead>
							<tbody>
								{{each(inx, lbo) rd.pobj.Lab_Orders}}
									<tr>
										<td>${lbo.DrugName}</td>
										<td>${lbo.RxNumber}</td>
										<td>${lbo.DatePrescribed}</td>
										<td>${lbo.DateFilled}</td>
									</tr>
								{{/each}}
							</tbody>
						</table>
					{{else}}
						<b>No lab orders on file</b>
					{{/if}}
				</div>
				<div id="recentActivity_div" class="pc_recent_activity"></div>
				<div id="pc_hist_shipping"></div>
				<div id="pc_hist_messages"><table id="pc_hist_msgs_tbl"></table></div>

			</div>
		</div>
	</div>
</div>


<div id="pc_pinfo_area">
	<div class="left_bar">
		<h5>Patient Information</h5>
		<div class="indent_15_em">
					<ul class="pc_chart_tabs">
						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_pinfo_address" id="pc_bil_t0">Address</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_pinfo_billing" id="pc_bil_t1">Insurance &amp; Billing</a></li>

						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_pinfo_send_msg" id="pc_send_msg_rx">Send Message</a></li>
					</ul>

		</div>
	</div>
	<div class="right_bar">
		<div class="padded_box">
			<div id="pc_bil_t3">
				<div id="pc_pinfo_address"><b>Patient Information</b></div>
				<div id="pc_pinfo_billing"><b>Insurance &amp; Billing Information</b></div>
				<div id="pc_pinfo_send_msg">
					<form method="post" onsubmit="send_ssl_msg(this); return false;" >
						<div><h4 class="title_top rsection_title">Send a Message to pharmacy:</h4></div>
						<textarea id="secure_msg_ta" class="secure_msg_ta" autofocus placeholder="Send a message to pharmacy about this patient..." name="secure_msg" style="width: 600px ; margin 1.5em auto; min-height: 9em;"></textarea>
						<div>
							<input type="submit" value="Send Message" class="ui-button ui-widget ui-state-default ui-corner-all" role="button">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


</div>


<div id="pc_rxpad">
RxPad Here	
</div>



<div id="pc_full_chart">

	<div class="left_bar">
		<h5>Chart</h5>
		<div class="indent_15_em" >
			<ul class="pc_chart_tabs">
				<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_labs" id="pc_bil_t0">Lab Charts</a></li>

				<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_hh" id="pc_bil_t1">Health History</a></li>
				<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_sym" id="pc_bil_t2">Symptoms Charts</a></li>
				<li  class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_notes" id="pc_bil_t3">Notes</a></li>
			</ul>
			<div id="report_list"></div>
		</div>
	</div>
	<div class="right_bar">
		<div class="padded_box">
			<div id="pc_bil_tb3">


				<div id="pc_labs">
					<div id="LabArea"></div>
					<div id="lab_graphing_area"></div>
				</div>
				

				
				<div id="pc_hh">
					<b class="rsection_title">Health History Information</b>
					{{if rd.gRxN}}
					<div id="importantInfo"><div id="imp_info_header">Health &amp; Lifestyle Information</div>	<ul class="healthConditionsList"></ul></div>
						{{tmpl({pat: pat}) "#tmpl_pat_summary"}}
						<div id="medicalHistoryArea"></div>
					{{else}}
					<div style="width: 20em; margin: 1em auto; text-align:center;"><h3>No Health History on file</h3></div>
					{{/if}}
				</div>
				<div id="pc_sym">
					<b class="rsection_title" style="display:block;">Symptoms History &amp; Charts</b>
					<div id="HormoneSummary"></div>
					<div id="symptomList"></div>
					<div id="sym_graphing_area"></div>
				</div>

				<div id="pc_notes">
					<div id="notes_storage">
						<b id="note_header" class="rsection_title">Notes</b>
						<div style="display: inline-block;max-width: 700px;">
							{{tmpl({notes: pat.notes}) "#tmpl_pat_notes"}}
						</div>
						{{tmpl "#tmpl_add_notes"}}
					</div>
				</div>

			</div>
		</div>
	</div>


</div>









</div>

% $m->comp('patient_chart_misc.html');

<%doc>


fillPatientReportedCMeds

$('HormoneSummary').innerHTML=determineDefs(rd.pobj['instances'][gRxN],Pat);


createMedList
function () {
		$('curMedContainer').style.display='block';
		var mlhtml='';
		 rd.pobj['instances']['all'].each( function(conv){ if (conv['RxNumber']) {mlhtml=cmHeader.evaluate(conv)+mlhtml;}});
		 $('curMedList').innerHTML=mlhtml;
	}
	
	
	/* labs */
	
	labChart();

// symDefChart(); fix graph, then re-enable someday 2011-05
cortisolChart();

new Ajax.Updater('symptomList', '/aa/symptomhistory.html', {parameters: {patientID: rd.pobj['info']['pinfo']['patientID'], ajax: 1}});
new Ajax.Updater('LabArea', '/aa/labresults.html', {parameters: {RxN: gRxN, patientID: rd.pobj['info']['pinfo']['patientID'],  ajax: 1}});



/* Med History */
new Ajax.Updater('medicalHistoryArea', '/aa/medicalHistoryArea.html', {parameters: {RxN: gRxN, patientID: rd.pobj['info']['pinfo']['patientID'],  ajax: 1, qType: rd.pobj['instances']['all'][rd.pobj['instances'][gRxN]]['qType']}});




var fillImpInfo =
function () {
 {

	var statHTML='	<ul class="healthConditionsList">';
		Object.keys(impInfs).each(function(sv) {
		if (rd.pobj['HH'][rd.pobj['instances'][gRxN] || 0]['EAV'][sv]) {
			var snVal=rd.pobj['HH'][rd.pobj['instances'][gRxN] || 0]['EAV'][sv];
			if (quotedHI.include(sv) && snVal.match("[a-zA-Z]") && !(['yes', 'no', 'Yes', 'No'].include(snVal)) ) {				snVal='"'+snVal+'"';			} 
			statHTML+=$('#tmpl_statusesLI').tmpl({shortName: impInfs[sv], sVal: snVal})[0];
			}
			});
		statHTML+='	</ul>';
		$('#importantInfo').html(statHTML);
	}
};
</%doc>