            <div class="contentbox">
{{each( sectName, k1 ) recs}}
            	<div class="${sectName} rec_section">
 	{{each( subSectName, k2 ) k1}}            
            	<div class="${subSectName} rec_section">
		 	{{each( medSystem )[] $.map(rxpad.recommendations[sectName][subSectName], function(value, index){return index ;}).sort(function (a, b){if (a == 'Systemic') {return -4;}  if (a == 'OTC') {return 1;}  if (b == 'Systemic' ) {return 4;} return -2;})]}}
	            		<div class="rec_system ${medSystem}">
		 	{{each( medCategory ) $.map(rxpad.recommendations[sectName][subSectName][medSystem], function(value, index){return index ;}).sort(function (a, b){if (rxpad.order[medSystem][a] > rxpad.order[medSystem][a] ) {return -1;}    if (rxpad.order[medSystem][a] < rxpad.order[medSystem][a] ) {return 1;}      if (rxpad.order[medSystem][a] == rxpad.order[medSystem][a] ) {return 0;}     })}}
	            			<div class="rec_category ${medCategory}">
			 	{{each( rec )  $.map(rxpad.recommendations[sectName][subSectName][medSystem][medCategory], function(value, index){return rec ;}).sort(function(a, b){if (a.methodPreference > b.methodPreference) {return -1;} if (a.methodPreference == b.methodPreference) {return 0;} if (a.methodPreference < b.methodPreference ) {return 1;} })    }}
	            				<div class="rec_medication ${rec.Medication} andor_${rec.andor}" >
									<label for="${rec.sectName+'_'+rec.ID}">
	            						<span class="rec_display_full_rec">
		            						<span class="add_rec"><input type="checkbox" data-medication="${rec.MedicationDN}" data-dose="${rec.Dose}" data-sig="${rec.Instructions}" data-qty="30 Day Supply" id="${rec.sectName+'_'+rec.ID}" /></span>
				            				<span class="rec_display_med">${rec.MedicationDN}</span>&nbsp;<span class="rec_display_dose">${rec.Dose}</span>&nbsp;<span class="rec_display_sig">${rec.Instructions}</span>
			            				</span>
			            			</label>
	            				</div>
			 	{{/each}}
	            			</div>
		 	{{/each}}
	            		</div>
	 	{{/each}}
            	</div>
 	{{/each}}
            	</div>
{{/each}}            
        </div>
        
