





<div id="rftb_${rxn}" class="pat_${patientid} rfqe" >

								<div id="li_rfq_${patientID}-${rxn}"  class=" ${priorityClass} rfg_refillLine  pat_${patientid} rfql rfq_line_${eoo}" data-patientid="${patientid}"  data-rxn="${rxn}">
									<span class="rfList_Patient">${Patient}</span>
									<span class="rfList_Drug">${DrugName}</span>
									<span class="rfList_DateFilled">${DateFilled}</span>
								</div>
								<div id="rfq_expanded-${rxn}"  class="pat_${patientid} rfqx" style="display:none;">
		<form method="post" action="a-refillSubmit.html" class="rq_form" data-rfid="${i}" id="rq_f_${rxn}">
			<div style="float:left; padding: .5em 1em .5em 1.5em;">	
				<div class="formattedPatientInfo">
					<span style="display:inline;">
						<ul>
							<li>${Patient}</li>
							<li>DOB: ${DOB}</li>
							<li><span style="display:block">${Address1}</span></li>
							<li>${PatientCity}, ${PatientState} ${PatientZIP}</li>
							<li>H: ${PatientHomePhone} W: ${PatientWorkPhone}</li>
							<li></li>
						</ul>
					</span>
				</div>
			
			</div>
			
			<div>
				<table>
				<tbody>
					<tr><td class="rfq_desc">Prescription#: </td><td class="rfq_val">${rxn}</td></tr>
					<tr><td class="rfq_desc">Product: </td><td class="rfq_val rfq_drug_name">${DrugName}</td></tr>
					<tr><td class="rfq_desc">Quantity: </td><td class="rfq_val">${Quantity}</td></tr>
					<tr><td class="rfq_desc">Directions: </td><td class="rfq_val">${Sig}</td></tr>
					<tr><td class="rfq_desc">Date Written: </td><td class="rfq_val">${DatePrescribed}</td></tr>
					<tr><td class="rfq_desc">Last Dispensed: </td><td class="rfq_val">${DateFilled}</td></tr>
					<tr><td class="rfq_desc">Last Lab Test: </td><td class="rfq_val"><span id="showLabsFor${rxn}" href="/aa/labresults.html" title="Show Lab Results" >${LastSampleDate}</span> / <a href="#" class="func_goto_chart" data-patientid="${patientID}" ><b>Go To Chart</b></a></td></tr>
					<tr><td colspan="2" id="LabsFor${rxn}"></td></tr>	
				</tbody>
				</table>
			</div>
			<br style="clear:both;" />
					<input type="hidden" name="rxn" value="${rxn}" />
					<div class="rf_opts">
						<div class="rfList_ToRefill"><label for="dorefill_${rxn}" ><input type="checkbox" name="dorefill" value="${rxn}"  class="" id="dorefill_${rxn}" /> I authorize this refill plus</label> <input type="number" name="refills" min="0" value="" step="1" max="${max}"  class=" ToRefill"  autocomplete="off" /> additional refills</div>
						<div class="rfList_RefillOpts"><label for="${rxn}_dnr"><input type="checkbox" onclick="$('#${rxn}_Sig').val('Do Not Fill');" name="dnr"  class="" id="${rxn}_dnr"  /> Do Not Refill</label></div>
						<span class="rfList_RefillOpts"><label for="${rxn}_patContact"><input id="${rxn}_patContact" type="checkbox" name="patContact"  class=""  /> Have the patient contact my office</label></span>

					</div>
					<div class="sigLine" id="li_rfq_Sig_${patientID}"><span><label style="vertical-align: middle;">Directions:</label> <textarea class="newSig" name="sig" id="${rxn}_Sig" >${Sig}</textarea></span></div>
					<div class="rf_final_opts">
						<div class="electronicSignatureLine">
							Sign Here: <input name="esig" type="text" class="rf_esig" required />&nbsp;
							<span>
								<input type="submit"  value="Submit Refill"  id="submit-${rxn}"  class="rf_sr ui-button ui-widget ui-state-default ui-corner-all" />
							</span>
					</div>
					
				<img src="/images/ajax-loader-blue.gif" id="progress-${rxn}" style="display: inline; display:none;" />
				</div>
				<input type="hidden" name="qty" value="${Quantity}" /> <input type="hidden" name="medication" value="${DrugName}" />
				<input type="hidden" name="patientid" value="${patientid}" />
			</form>
			<div class="child2-close">x</div>

	</div>

</div>
