<form id="rxp_rx_history_prompt_form">

<div id="rxhist_sb" class="jqscrollbar" style="width: 616;">
	<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
	<div class="viewport" style="width: 570px; height: 500px;">
		<div class="overview">


		<table style="">
			<thead>
				<tr>
					<th rowspan="2">Add<br/>Rx #</th>
					<th>Medication</th>
					<th class="small_header">Rx'ed</th>
					<th class="small_header">Filled<br/><span class="xsmall_header">(More)</span></th>
					<th>QTY</th>
					<th class="small_header">Unused Refills</th>
				</tr>
				<tr>
					<th colspan="5">Sig</th>
				</tr>
			</thead>
			<tbody style="border: black 2px solid;">
			{{each(i, rx) rxs}}
				<tr  class="add-border {{if i % 2 }} alt{{/if}}">
					<td class="addRx" rowspan="2"  data-rxn="${rx.rxn}">
						
						<label class="label_check" for="${rx.rxn}_${i}">
						<div style="min-height:1em; min-width: 1em; ">&nbsp;</div>
							<span class="add_rec"><input type="checkbox" id="${rx.rxn}_${i}" data-rxn="${rx.rxn}" data-medication="${rx.medication}"  data-sig="${rx.sig}" data-qty="${rx.QTY}"   /></span>
						</label>
					<div class="RxN {{if rx.active}}active{{/if}}">${rx.rxn}</div>
					</td>

					<td class="medication">${rx.medication}</td>
					<td class="date_prescribed">${rx.prescribed_f}</td>
					<td class="date_filled">
						{{if rx.fill_dates_f[0]}}
								${rx.fill_dates_f[0]}<a href="#fill_history_${rx.rxn}" data-rxn="${rx.rxn}" class="rx_hist_fill_dates">&nbsp;&gt;&gt;</a>
							<div class="fill_date_list" style="display:none;">
							{{each(ii, fdate) rx['fill_dates_f']}}
								<div class="fill_date">${fdate}</div>
							{{/each}}
							</div>
						{{/if}}{{if ! rx.fill_dates_f[0]}}<span class="unfilled">Unfilled</span>{{/if}}
					</td>
					<td class="QTY">${rx.QTY}</td>
					<td class="">${rx.remaining_refills} / ${rx.refills_authorized}</td>
				</tr>
				<tr class="sig-row">
					<td class="sig" colspan="5">${rx.sig}</td>
				</tr>
		{{/each}}
			</tbody>
		</table>


		</div>
	</div>
</div>	


    <input style="margin: 1.1em;" type="submit" value="Add to Rx Pad" class=" ui-button ui-widget ui-state-default ui-corner-all" />
</form>