<%doc>
				groups:
					{
						group: [
							{medication, [medDoses], combinable, qType}
						]
					}	
</%doc>
<div id="rxp_rx_template">

<div id="rxtempl_sb" class="jqscrollbar" style="width: 590px;">
	<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
	<div class="viewport" style="width: 570px; height: 500px;">
		<div class="overview">
			<div id="providerTemplate">
				{{each(i, group) rxs}}
				<div class="template_group">
					{{each(ii, med) group}}
					<div>
					<form>
						<div class="template_med">
							<span class="medDN">
								<label for="tm_${med.tmpl_id}">
									<input id="tm_${med.tmpl_id}" type="checkbox"  class="tmpl_checkbox"/>
									${med.med_dn}
								</label>
							</span>
							<span class="doses_deactivated tmpl_doses">
							{{each(iii, dose) med.doses}}
							<span class="tmpl_med_dose">
								<label for="tm_d${med.tmpl_id}_${iii}">
									<input id="tm_d${med.tmpl_id}_${iii}" type="radio" value="${dose}" data-medication="${med.med_dn}" data-dose="${dose}" name="${med.med_dn}" class="tmpl_med_radio" />
									${dose}
								</label>
							</span>
							{{/each}}

							<span class="tmpl_med_dose manual_dose" >
								<label for="tm_${med.tmpl_id}_${iii}">
									<input id="tm_${med.tmpl_id}_${iii}" name="tm_r_${med.med_dn}" type="radio" value="" data-medication="${med.med_dn}" data-dose=""  class="tmpl_med_radio"/>
									<input  type="text" value="" onchange="$('#tm_${med.tmpl_id}').val(this.value); $('#tm_${med.tmpl_id}').dataset('dose', this.value);" name="${med.med_dn}"/>
								</label>
							</span>
							</span>
						</div>
					</form>
					</div>
					{{/each}}
				</div>
				{{/each}}
			</div>
		</div>	
	</div>
</div>	
<input id="rxp_rx_template_add" style="margin: 1.1em;" type="submit" value="Add to Rx Pad"  class=" ui-button ui-widget ui-state-default ui-corner-all" />

</div>
