
<div style="width: 30em;">
<div class="rxp_med" data-medid="">
	<span class="remove_med" data-medid="">X</span>
		<input type="hidden" name="RxN" value="${rx.RxN}" />
	<span class="med_name"><input name="medication"  value="${rx.medication}" placeholder="Medication" class="med_medication_i" /></span>
	<span class="med_dose"><input name="dose"   class="med_dose_i" value="${rx.dose}" placeholder="Dose"/></span>
	<span class="med_qty"><input name="qty"   class="med_qty_i" value="${rx.qty}" placeholder="30 Day Supply" /></span>
	<span class="med_refills"><input name="refills"   value="${rx.refills}" placeholder="3" class="med_refills_i"/></span>
	<div class="med_sig"><textarea rows="1" style=" overflow: hidden; width: 100%;" name="sig" placeholder="Instructions">${rx.sig}</textarea></div>
</div>
</div>
