<%doc>
use Digest::Groestl;
#my $arr=$dbh->selectall_arrayref(q{SELECT * FROM users}, {Columns=>{}});
#for my $ar (@$arr) {
#$dbh->do(q{INSERT IGNORE INTO auth_list SET u_name=? , auth_key=?}, undef, ($ar->{username}, Digest::Groestl::groestl_512_hex($ar->{password})));
#$m->out(qq{<pre>} . $ar->{username} . ':     ' . Digest::Groestl::groestl_512_hex($ar->{password}) . q{</pre>});
#}
#$$m->out(qq{<pre>} . 'login' . ':     ' . Digest::Groestl::groestl_512_hex('login_only') . q{</pre>});
</%doc>
<div>
<pre>
<% join(', ', grep($_,  @{JSON::XS->new->pretty(1)->decode(  q{[         null,         null,         "2",         "",         "",         null,         null,         "",         "7",         ""      ]})})) %>
<% JSON::XS->new->pretty(1)->decode(  q{[         null,         null,         "",         "",         "",         null,         null,         "",         "",         ""      ]}) %>
</pre>
</div>
