<%args>
$patient_name => 'Patient Name'
$DOB => '06/13/52'
$RxN => '8812345'
$lab_date => '05/24/12'
$bs => 'border:0; margin: 4.5mm 0 0.0mm 0;'
$faxorprint => undef
</%args>
<%init>
if ( $ARGS{pg} eq 'reported_symptoms' || 1) {
$bs='border:0; margin: 0em 0 0.5em 0;'
}
</%init>
<html><head>
	<style>
		#patient_name {margin-right: 4.5em;}
		#DOB_date {margin-right: 4.5em;}
	</style>
</head><body style="<% $bs %>" >
<div style="text-align: center; font-family: 'Trebuchet MS'; font-size: small; color: <% $faxorprint ? 'black' : '#989fa8' %>;"><span id="patient_name">Patient: <% $patient_name |h %></span><span id="DOB_date">DOB: <% $DOB %></span><span id="Lab_Info">Lab: <% $RxN %> - <% $lab_date %></span></div>
<img style="width: 100%" src="/templates/rsc/reports/footer.png" />
% if ( $ARGS{pg} eq 'reported_symptoms') {
<br/>
%	}
</body></html>
