<Response>
       <GetDigits action="https://rdi.restoredirect.com/api/v1.e/func/plivo.html" method="GET">
	   	<Speak>Please enter your 4-digit pin number, followed by the hash key</Speak>
    </GetDigits>
</Response>