<%args>
$rxn => undef
$RxN => $rxn
$secondFax => undef
$notes => undef
$internal => undef
$ri => undef
$rfStatus => 'New' 
</%args>
<%attr>
topleft => 'none'
bottomleft => 'none'
</%attr>
<%init>
return unless $RxN;
my $rqd=q{SELECT CONCAT_WS(', ', pat.PatientLastName, pat.PatientFirstName) AS Patient, DATE_FORMAT(pat.DOB, '%m/%d/%y' ) AS DOB, CONCAT_WS('<br/>\n',pat.PatientAddressLine1 , pat.PatientAddressLine2) AS Address1, pat.PatientCity, pat.PatientState, pat.PatientZIP, pat.PatientPhone, pat.PatientWorkPhone,  p.RxNumber, p.DrugName, Date_ADD(p.DateFilled, INTERVAL DaySupply DAY), DATE_FORMAT(MAX(p.DateFilled), '%m/%d/%y' ) AS DateFilled, p.patientID, DATE_FORMAT(p.DatePrescribed, '%m/%d/%y') AS DatePrescribed, p.Sig, p.QuantityDisp AS Quantity,  p.DoctorCode ,
DATEDIFF(Date_ADD(p.DateFilled, INTERVAL DaySupply DAY), CURDATE()) AS DaysRemaining
 FROM prescriptions p
 JOIN patients pat ON p.patientID=pat.patientID
WHERE
p.RxNumber = ? AND p.Voided='NO'
GROUP BY p.patientID, p.DrugCode
};



my $rx=$dbh->selectrow_hashref($rqd, undef,  ( $RxN));

my $profile = RD2::getdoctorinfo($dbh, DoctorCode => $rx->{DoctorCode});

my $date=$dbh->selectrow_array(q{SELECT DATE_FORMAT(CURDATE(), '%M %D, %Y')});
</%init>

<style type="text/css">
	#refillQueueArea:before { content: 'Upcoming Refills'; font-weight: bold; }
	
	#refillQueueArea {max-width: 50em;}
	.rfList_Remaining {display: none;}
	.ToRefill {max-width: 3em;}
	.newSig {width: 30em; vertical-align: middle;;}
	.rfg_refillLine  {border-top: solid black 2px; padding: 1em; margin: 1em; cursor: pointer;}
	.rfCompleted {color: gray;}
	.rfCompleted:before {color: green; font-weight: bold; content: 'Refilled'; font-size: large; display: block; text-align: center;}
	
	.rfList_Patient {max-width: 16em; width: 16em; overflow:hidden; margin-right: 2em;}
	.rfList_DateFilled { max-width: 10em; width: 10em; overflow:hidden; margin-right: 2em;}
	.rfList_Drug { max-width: 16em; min-width: 16em; width: 16em; overflow:hidden; margin-right: 2em; }
	
	#header {text-align: center; border-bottom: 2px black solid;}
	#sectionBar {text-align: center; border-bottom: 2px black solid; border-top: 2px black solid; font-weight: bold; font-size: x-large;}
	#formattedPatientInfo ul {	list-style: none;	}
	.newSig {display: none;}
	.sigLine {display: none;}
	
	input[type="text"] {
		border-bottom: solid black 2px;
		border-top: none;
		border-left: none;
		border-right: none;
		}
	
	.rfList_ToRefill {margin: 0.5em;}
	.rfList_RefillOpts {margin: 0.5em;}
	.electronicSignatureLine {margin: 1.5em; float: left;}
	.rfq_desc.toolong {font-size: smaller;}
</style>


<div id="header">
	<b style="font-size:xx-large; margin-bottom: .15em">	Restore Health Pharmacy</b>
	<div>
	1289 Deming Way
	Madison, WI 53717 &nbsp; &nbsp; &nbsp; &nbsp;
	Phone: 800-558-7046 &nbsp; &nbsp; &nbsp; &nbsp;Fax: 888-898-7412
	</div>
</div>
<div id="noteArea">
	<div><% $date %></div><br/>
	<div id="profileinfo" align="left">


		<div class="prov_name">
			<% $profile->{doctorLastName} ? "$profile->{doctorLastName}, $profile->{doctorFirstName}" : "$profile->{doctorName}" %>
			<span class="prov_npi" style="margin-left: 3em;">NPI: <% $profile->{NPI} %></span>	
		</div>

		<div class="prov_address1"><% $profile->{doctorAddress1} %></div>
		<div class="prov_address2"><% $profile->{doctorAddress2} %></div>
		<div class="prov_csz"><% $profile->{doctorCity} %>, <% $profile->{doctorState} %> <% $profile->{doctorZIP} %></div>
		<div class="prov_phone">Phone: <% $profile->{doctorPhone1} %></div>
% if ( $profile->{doctorPhone2} =~m/[1-8]/)		{
		<div class="prov_phone2"><% $profile->{doctorPhone2} ? qq{Phone 2: $profile->{doctorPhone2}} : qq{Fax: $profile->{doctorFax}} %></div>
%		}
		<div class="prov_fax"><%qq{Fax: $profile->{doctorFax}} %></div>

		<table border="0" cellspacing="1" cellpadding="3" style="display:none;">
			<tr>
				<td><% $profile->{doctorLastName} ? "$profile->{doctorLastName}, $profile->{doctorFirstName}" : "$profile->{doctorName}" %></td>
				<td>&nbsp;</td>
				<td>NPI: <% $profile->{NPI} %></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><a href="mailto:<% $profile->{email} %>" ><% $profile->{email} %></a></td>
				<td></td>
			</tr>
			<tr>
				<td><% $profile->{doctorAddress1} %></td>
				<td></td>
				<td></td>
			</tr>
% if (defined $profile->{doctorAddress2}) {
			<tr>
				<td><% $profile->{doctorAddress2} %></td>
				<td></td>
				<td></td>
			</tr>
%	}
			<tr>
				<td><% $profile->{doctorCity} %>, <% $profile->{doctorState} %> <% $profile->{doctorZIP} %></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Phone: <% $profile->{doctorPhone1} %></td>
				<td> <% $profile->{doctorPhone2} ? qq{Phone 2: $profile->{doctorPhone2}} : qq{Fax: $profile->{doctorFax}} %></td>
				<td><% $profile->{doctorPhone2} ? qq{Fax: $profile->{doctorFax}} : '&nbsp;' %></td>
			</tr>
		</table>
	</div>
	<div style="margin: 1.5em; font-size:small;">
% if ($RxN < 6000000)	{
We have received a REFILL REQUEST for Schedule III-V medication for the patient listed below.  Federal law requires that a new prescription be submitted.  Please write a new prescription on the form provided below, or on your own Rx pad, and fax it to the pharmacy at 888-898-7412.
%	} else {
		The patient identified below is requesting a refill for the prescription indicated; however, there are no authorized refills remaining.  If you would like to authorize additional refills, please complete this form (<span class="notice">Wisconsin law requires prescriber's signature</span>) and fax it back to us at 888-898-7412, or you may contact the pharmacist by calling 800-558-7046.
%		}
		<p/>
		Sincerely,
		<p/>
		Rapp, J / RPH
	</div>
% if ($internal && $ri) {
	<div id="">
	<div class="pharmInfo">
	<ul class="statusList">
		<li>Fax Date: <% $ri->{dateEntered} %></li>
		<li>Re-Faxed: <% $ri->{reFaxed} %></li>
		<li>Provider Called: <% $ri->{provCalled} %></li>
	</ul>
	<div>
		<% $ri->{pharmNotes} | h %>
	</div>
</div>
	</div>
%	}
</div>
<div id="sectionBar">
<% $secondFax ? '--- Second Notice: Refill Authorization Request ---' : 'Refill Authorization Request' %>
</div>
<div id="refillData">
<div id="rftb_<% $rx->{RxNumber} %>">
% if (0) {
								<div id="li_rfq_<% $rx->{patientID} %>-<% $rx->{RxNumber} %>" onClick="Effect.BlindDown('rfq_expanded-<% $rx->{RxNumber} %>')" class=" <% $rx->{priorityClass} %> rfg_refillLine "  >
									<span class="rfList_Patient"><% $rx->{Patient} %></span>
									<span class="rfList_Drug"><% $rx->{DrugName} %></span>
									<span class="rfList_DateFilled"><% $rx->{DateFilled} %></span>
								</div>
%								}
								<div id="rfq_expanded-<% $rx->{RxNumber} %>" style="display:block;">
		<form method="post" action="a-refillSubmit.html" onSubmit="$('progress-<% $rx->{RxNumber} %>').show(); $('submit-<% $rx->{RxNumber} %>').disable(); this.request({   method: 'post', onComplete: function(){ $('li_rfq_<% $rx->{patientID} %>-<% $rx->{RxNumber} %>').addClassName('rfCompleted'); $('progress-<% $rx->{RxNumber} %>').hide(); } }); this.disable(); return false;" >
<div style="float:left; padding: .5em 1em .5em 1.5em;">	
	<div id="formattedPatientInfo">
			<ul >
				<li><% $rx->{Patient} %></li>
				<li>DOB: <% $rx->{DOB} %></li>
				<li><span style="display:block"><% $rx->{Address1} %></span></li>
				<li><% $rx->{PatientCity} %>, <% $rx->{PatientState} %> <% $rx->{PatientZIP} %></li>
				<li>H: <% $rx->{PatientHomePhone} %> W: <% $rx->{PatientWorkPhone} %></li>

		</span>
	</div>

</div>

<div>
	<table>
	<tbody>
		<tr><td class="rfq_desc">Prescription#: </td><td class="rfq_val"><% $rx->{RxNumber} %></td></tr>
		<tr><td class="rfq_desc">Product: </td><td class="rfq_val"><% $rx->{DrugName} %></td></tr>
		<tr><td class="rfq_desc">Quantity: </td><td class="rfq_val"><% $rx->{Quantity} %></td></tr>
		<tr><td class="rfq_desc">Directions: </td><td class="rfq_val"><% $rx->{Sig} %></td></tr>
		<tr><td class="rfq_desc">Date Written: </td><td class="rfq_val"><% $rx->{DatePrescribed} %></td></tr>
		<tr><td class="rfq_desc toolong">Last Dispensed: </td><td class="rfq_val"><% $rx->{DateFilled} %></td></tr>

	</tbody>
	</table>
</div>
% if ($RxN < 6000000)	{
<div id="controlled_form">
<div>Patient Name:____________________________________________________________________________</div>

<div>Patient Address:____________________________________________________________________________</div>
<div>___________________________________________________________________________________________</div>
<div>Drug name and Strength: _____________________________________________________________________</div>
<div>Directions:__________________________________________________________________________________</div>
<div>Quantity Authorized:_________________________________________________________________________</div>
<div>Refills: _____________________</div>
<p/>
<div>Prescriber Name:____________________________________________________________________________</div>
<div>Prescriber Address:__________________________________________________________________</div>
<div>Prescriber DEA Number:________________________________</div>
<p/>
<div>Authorized By:______________________________________________&nbsp;&nbsp;Date:_____________________</div>
</div>
%	} else {



<br style="clear:both;" />
		<input type="hidden" name="RxN" value="<% $rx->{RxNumber} %>" />
		<div class="rfList_ToRefill"><input type="checkbox" name="dorefill_<% $rx->{RxNumber} %>" value="<% $rx->{RxNumber} %>"  class="" id="dorefill_<% $rx->{RxNumber} %>" /><label for="dorefill_<% $rx->{RxNumber} %>" > I authorize this refill plus</label> <input type="text" name="<% $rx->{RxNumber} %>_refills" min="1" value="" step="1" max="<% $rx->{max} %>"  class=" ToRefill"  autocomplete="off" /> additional refills</div>
		<div class="rfList_RefillOpts"><input type="checkbox" name="<% $rx->{RxNumber} %>_dnr"  class="" id="<% $rx->{RxNumber} %>_dnr"  /><label for="<% $rx->{RxNumber} %>_dnr">Do Not Refill</label></div>

		<div class="rfList_RefillOpts"><input id="<% $rx->{RxNumber} %>_patContact" type="checkbox" name="<% $rx->{RxNumber} %>_patContact"  class=""  /><label for="<% $rx->{RxNumber} %>_patContact">Have the patient contact my office</label></div>
		
	<div class="sigLine" id="li_rfq_Sig_<% $rx->{patientID} %>"><span><label style="vertical-align: middle;">Directions:</label> <span class="newSig" name="<% $rx->{RxNumber} %>_Sig" ><% $rx->{Sig} %></span></span></div>

	<div class="electronicSignatureLine" style="clear:both;">
		Authorized By: <input name="signer" type="text" size="30"/> &nbsp;  &nbsp; 	
	</div>	
	<div class="electronicSignatureLine" style="float:left;">
		Date: <input name="signer_date" type="text" size="12" /> 
	</div>
	<input type="hidden" name="<% $rx->{RxNumber} %>_qty" value="<% $rx->{Quantity} %>" /> <input type="hidden" name="<% $rx->{RxNumber} %>_DrugName" value="<% $rx->{DrugName} %>" />
% }
</form>	
											</div>

</div>

</div>