<script id="tmpl_view_charge_list"  type="text/x-jquery-tmpl">
	<div>
		<form id="" class="func_charge_patients">
			<div>Autoship:
				<a href="#" class="func_toggle_cb_class" data-cbtype="autoship" data-cboff="0">On</a> - <a href="#" class="func_toggle_cb_class" data-cbtype="autoship" data-cboff="1">Off</a>&nbsp;
				<span style=" color: #2196C4;; ">3rd Party:</span>
				<a href="#" class="func_toggle_cb_class" data-cbtype="third_party" data-cboff="0">On</a> - <a href="#" class="func_toggle_cb_class" data-cbtype="third_party" data-cboff="1">Off</a>&nbsp;
				Cash:
				<a href="#" class="func_toggle_cb_class" data-cbtype="cash" data-cboff="0">On</a> - <a href="#" class="func_toggle_cb_class" data-cbtype="cash" data-cboff="1">Off</a>&nbsp;
				Non-AS:
				<a href="#" class="func_toggle_cb_class" data-cbtype="nonautoship" data-cboff="0">On</a> - <a href="#" class="func_toggle_cb_class" data-cbtype="nonautoship" data-cboff="1">Off</a>&nbsp;
			</div>
			<div class="rp_scroll_area" style="max-width: 450px; max-height:400px">
				<table class="charge_list">
					<thead>
						<tr>
							<th>Patient</th>
							<th>RxN</th>
							<th>Description</th>
							<th>Amount</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						{{each(pt,pi) sorted_charges}}
							<tr>
								<td colspan="4"><a href="#" class="func_toggle_pt_cbs" data-patientid="${pi}"><input style="display:none" type="checkbox" checked="checked" data-pid="${pi}" data-total="${sum_array(charges[pi], 'amt')}"/>${typeof plist[pi] == "object" ? plist[pi]['last_name'] + ', ' + plist[pi]['first_name'] : pi}</span>  - &#36;${sum_array(charges[pi], 'amt')}</td>
							</tr>
							{{each(ci, crg) charges[pi]}}
							<tr class="{{if crg.amt > 0 }}charge{{else}}free{{/if}} {{if crg.pc_type == '3'}}third_party{{/if}}">
								<td class="check">
									{{if crg.bill_acct == 1}}<input type="checkbox" class="{{if crg.pc_type == '3'}}third_party{{else}}cash{{/if}} {{if crg.autoship > 0}}autoship{{else}}nonautoship{{/if}} pid_${pi}" name="${pi}" value="${crg.trans_id}" />{{else}}<span class="vsm txt">${bill_acct}</span>{{/if}}</td>
								<td class="rxn">${crg.rxn}</td>
								<td class="desc">${crg.desc}</td>
								<td class="amt">${crg.amt}</td>
								<td class="created_tstamp ${crg.charge_age}">${crg.created}</td>
							</tr>
							{{/each}}
						{{/each}}
					</tbody>
				</table>
				<b>--END--</b>
			</div>
			<input type="submit" class="ui-button ui-widget ui-state-default ui-corner-all" value="Charge"/>
		</form>
	</div>
</script>


<style>
table.charge_list { }
table.charge_list tr.free {color:#787878 }
table.charge_list td {padding: 0;}
table.charge_list tr.third_party { color: #2196C4;; }
div.rp_scroll_area {  overflow-y: hidden;}
div.rp_scroll_area:hover {  overflow-y: scroll;}
.vsm.txt {font-size: x-small; color: #b14040;}
input.autoship:after {
content: 'AS';
font-size: 0.6em;
padding-left: 1.5em;
}

.created_tstamp {font-size: small; color:gray;}
.created_tstamp.today {
color: green;
opacity: 0.4;
}

.created_tstamp.older {
color: goldenrod;
opacity: 0.6;
}

</style>

<script id="tmpl_update_pt_cc_area"  type="text/x-jquery-tmpl">
	<div>
		<div>
			<h4>Update Credit Card</h4>
			<div class="gray_box" style="padding-top: 0.5em;">
			<form class="func_update_pt_cc">
				<input placeholder="{{if pat.info.pinfo.CCNum4}}${pat.info.pinfo.CCNum4}{{else}}CC{{/if}}" pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$" oninvalid="setCustErrMsg(this);" onchange="setCustomValidity('')"  data-errormessage="Not a valid card number" name="new_card" class="update_cc_input" />
				&nbsp; 
				<input name="new_exp" placeholder="{{if pat.info.pinfo.CCNum4}}${pat.info.pinfo.CCExpMM}${pat.info.pinfo.CCExpYY}{{else}}MMYY{{/if}}" pattern="[01][0-9][123][0-9]" maxlength="4" size="4" oninvalid="setCustErrMsg(this);" onchange="setCustomValidity('')"  data-errormessage="Not a valid Exp Date"/>
				<input type="submit" class="ui-button ui-widget ui-state-default ui-corner-all" style="font-weight: bold; max-height: 2.0em;"/>
			</form>
			</div>
		</div>
		<div>
			<div class="gray_box" style="padding-top: 0.5em;">
			<form class="func_get_pt_update_billing_link">
				<input name="url" value="https://secure.restorehc.com/api/v1.e/func/update_billing_form.html"  type="hidden" />
				<input name="pid" value="${rd.patientid}" type="hidden" />
				<input type="submit"  value="Get Update Credit Card Link" class="ui-button ui-widget ui-state-default ui-corner-all" style="font-weight: bold; max-height: 2.0em;"/>
			</form>
			<div id="billing_url_return_area"></div>
			</div>
		</div>
	</div>
</script>

<script id="tmpl_show_charges"  type="text/x-jquery-tmpl">
	<div>
		<form class="func_list_charges">
			<input type="date" name="crg_date"/>&nbsp;			<input type="submit" class="ui-button ui-widget ui-state-default ui-corner-all" style="font-weight: bold; max-height: 2.0em;"/>
		</form>
		<div id="charge_list_return_area"></div>
	</div>
</script>


<script id="tmpl_show_charges_line"  type="text/x-jquery-tmpl">
	<div>
		
	</div>
</script>