<script id="tmpl_ni_table_with_form" type="text/x-jquery-tmpl">
<div>
	<div id="bulk_img_input">
		<form class="func_scan_for_disp_img"><span><label>Scan image for Central Fill Rx:&nbsp;</label><input type="text" name="sp_num" id="cf_ni_sp_num" placeholder="Please scan label barcode here." style="width: 16em;" required /></span><input type="submit" value="Scan Document" /></form>
	</div>
	<div id="dq_needing_imgs">
		<table id="tbl_dq_wo_imgs">
		</table>
	</div>
</div>
</script>




<script id="tmpl_disp_qe_details" type="text/x-jquery-tmpl">
<div>
<div class="dispensing_details">
	<div class="patient_name">					<span class="med_rxn">[${rxi.rx_data.RxN}]</span> ${p.last_name}, ${p.first_name} - ${p.DOB}</div>
	<table class="rxi_table">
		<tbody>
			<tr>
				<td class="med_name med_medication"><label for="cbox_${id}">${rxi.rx_data.medication}</label></td>
				<td class="med_dose">${rxi.rx_data.dose}</td>
				<td class="med_qty">${rxi.rx_data.qty_disp}</td>
				<td class="med_refills">${rxi.rx_data.rf_rem} / ${rxi.rx_data.rf_auth}</td>
			</tr>
			<tr>
				<td colspan="4" class="med_sig">${rxi.Instructions}</td>
			</tr>
			<tr>
				<td colspan="4" class="cf_rx_info_details">
					<span class="cf_rx_date">Fill Date: ${rxi.rx_data.start_date}</span>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div>
		<form class="func_show_disp_qe_details disp_qe_details ">
			<input name="id" value="${id}" type="hidden">
			<input name="RxID" value="${rxi.RxID}" type="hidden">
			Beyond Use: <input type="date" name="beyond_use" class="beyond_use_date" tabindex="1"> &nbsp; <a href="#" data-days="30" class="func_change_date_input" data-dateinput=".beyond_use_date">30 Days</a> &nbsp; <a href="#" data-days="90" class="func_change_date_input" data-dateinput=".beyond_use_date">90 Days</a> &nbsp; <a href="#" data-days="180" class="func_change_date_input" data-dateinput=".beyond_use_date">180 Days</a> &nbsp; <a href="#" data-days="365" class="func_change_date_input" data-dateinput=".beyond_use_date">365 Days</a> &nbsp;
			<div class="rx_nums">
				<span><label labelfor="dispensing_details_lot_num">Lot Num:</label> <input id="dispensing_details_lot_num" type="text" name="lot_num" autocomplete="on" tabindex="2"></span>
				<span><label labelfor="dispensing_details_sp_num">Ext ID:</label> <input id="dispensing_details_sp_num" type="text" name="sp_num" autocomplete="off" tabindex="3"></span>
			</div>
			<div class="button-block">
				<input type="button" style="display: block; margin: 1em;" class="func_generate_dispensing_label ui-button ui-widget ui-state-default ui-corner-all" value="Generate Label" tabindex="4">
				<input name="dstatus" type="hidden" value="Filled" />
				<input type="submit" style="display: block; margin: 1em;" class=" ui-button ui-widget ui-state-default ui-corner-all" value="Mark Filled" tabindex="5">
			</div>
		</form>
	</div>
</div>
</div>
</script>




<script id="tmpl_disp_qe_details_w_camera" type="text/x-jquery-tmpl">
	<div>
        <div class="dispensing_details">
            <ul>
                <li><a href="#cfdisp_start"><span>Start</span></a>

                </li>
                <li><a href="#cfdisp_scan"><span>Capture</span></a>

                </li>
                <li><a href="#cfdisp_fin"><span>Finalize</span></a>

                </li>
            </ul>
            <!-- ##################### TAB 0 ######################### -->
            <div id="cfdisp_start">
				<div class="patient_name">					<span class="med_rxn">[${rxi.rx_data.RxN}]</span> ${p.last_name}, ${p.first_name} - ${p.DOB}</div>
				<table class="rxi_table">
					<tbody>
						<tr>
							<td class="med_name med_medication"><label for="cbox_${id}">${rxi.rx_data.medication}</label></td>
							<td class="med_dose">${rxi.rx_data.dose}</td>
							<td class="med_qty">${rxi.rx_data.qty_disp}</td>
							<td class="med_refills">${rxi.rx_data.rf_rem} / ${rxi.rx_data.rf_auth}</td>
						</tr>
						<tr>
							<td colspan="4" class="med_sig">${rxi.Instructions}</td>
						</tr>
						<tr>
							<td colspan="4" class="cf_rx_info_details">
			
								<span class="cf_rx_date">Fill Date: ${rxi.rx_data.start_date}</span>
							</td>
						</tr>
					</tbody>
				</table>
                <div>
                    <form class="func_show_disp_qe_details disp_qe_details " id="cfdisp_form">
                        <input name="id" {{if id}} value="${id}" {{else}} {{if disp}} {{if disp.id}} value="${disp.id}" {{/if}} {{/if}} {{/if}} type="hidden" />
                        <input name="rx_worksheet_img" type="hidden" value="" />
                        <input name="RxID" value="${rxi.RxID}" type="hidden" />Beyond Use:
                        <input type="date" id="cfdisp_beyond_use_date" name="beyond_use" class="beyond_use_date" tabindex="1" {{if disp.beyond_use}} value="${disp.beyond_use}" {{/if}} />&nbsp; <a href="#" data-days="30" class="func_change_date_input" data-dateinput=".beyond_use_date">30 Days</a> &nbsp; <a href="#" data-days="90" class="func_change_date_input" data-dateinput=".beyond_use_date">90 Days</a> &nbsp; <a href="#" data-days="180" class="func_change_date_input" data-dateinput=".beyond_use_date">180 Days</a> &nbsp; <a href="#" data-days="365" class="func_change_date_input" data-dateinput=".beyond_use_date">365 Days</a> &nbsp;
                        <div class="rx_nums"> <span><label labelfor="dispensing_details_lot_num">Lot Num:</label> <input id="dispensing_details_lot_num" type="text" {{if disp}} {{if disp.lot_num}} value="${disp.lot_num}" {{/if}} {{/if}} name="lot_num" autocomplete="on" tabindex="2" /></span>  <span><label labelfor="dispensing_details_sp_num">Ext ID:</label> <input id="dispensing_details_sp_num" type="text" {{if disp}} {{if disp.sp_num}} value="${disp.sp_num}" {{/if}} {{/if}} name="sp_num" autocomplete="off" tabindex="3" /></span> 
                        </div>
                        <div class="button-block">
                            <input type="button" style="display: block; margin: 1em;" class="func_generate_dispensing_label ui-button ui-widget ui-state-default ui-corner-all" value="Generate Label" tabindex="4" />
                            <input name="dstatus" type="hidden" value="Filled" />
                        </div>
                    </form>
                    <form class="func_clear_from_disp_queue">
                        <div class="button-block">
	                        <input name="RxID" value="${rxi.RxID}" type="hidden" />
							<input name="id" {{if id}} value="${id}" {{else}} {{if disp}} {{if disp.id}} value="${disp.id}" {{/if}} {{/if}} {{/if}} type="hidden" />
							<input type="button" style="display: block; margin: 1em;" class="ui-button ui-widget ui-state-default ui-corner-all func_remove_from_cf_q" value="Remove From Queue" tabindex="4" {{if id}} data-dispid="${id}" {{else}} {{if disp}} {{if disp.id}} data-dispid="${disp.id}" {{/if}} {{/if}} {{/if}} />
                        </div>
                    </form>
                </div>
            </div>
            <!-- ##################### TAB 1 ######################### -->
            <div id="cfdisp_scan">
                <figure id="camViews">
                    <div id="vidOverlay"></div>
                    <video id="streamVideo"></video>
                    <img id="captureImg" />
                    <figcaption>
                        <input type="button" id="cfdisp_capBtn" value="Capture Document" />
                    </figcaption>
                </figure>
                <canvas id="captureCanvas"></canvas>
            </div>
            <!-- ##################### TAB 2 ######################### -->
            <div id="cfdisp_fin">
                <p>Please verify the following information:</p>
                <div id="confirmWrap">
                <figure id="confirmImg">
                </figure>
                <div id="confirmDataBlock">
                    <p>Name: ${p.last_name}, ${p.first_name} - ${rxi.rx_data.RxN}<p>
                    <p>QTY: <span id="confirmQTY">${rxi.rx_data.qty_disp}</span></p>
                    <p>Rx Code: <span id="confirmRxCode">${rxi.rx_data.medication}</span></p>
                </div>
                </div>
                <div class="button_block">
                    <input type="submit" style="display: block; margin: 1em;" class=" ui-button ui-widget ui-state-default ui-corner-all" value="Mark Filled" tabindex="5" form="cfdisp_form" />
                </div>
            </div>
        </div>
	</div>
</script>




<script id="tmpl_disp_qe_details_wo_camera" type="text/x-jquery-tmpl">
	<div>
        <div class="dispensing_details">
            <ul>
                <li><a href="#cfdisp_start"><span>Start</span></a>

                </li>
                <li><a href="#cfdisp_scan"><span>Capture</span></a>

                </li>
                <li><a href="#cfdisp_fin"><span>Finalize</span></a>

                </li>
            </ul>
            <!-- ##################### TAB 0 ######################### -->
            <div id="cfdisp_start">
				<div class="patient_name">					<span class="med_rxn">[${rx_data.rxi.rx_data.RxN}]</span> ${PatientLastName}, ${PatientFirstName} - ${DOB}</div>
				<table class="rxi_table">
					<tbody>
						<tr>
							<td class="med_name med_medication"><label for="cbox_${id}">${rxi.rx_data.medication}</label></td>
							<td class="med_dose">${rxi.rx_data.dose}</td>
							<td class="med_qty">${rxi.rx_data.qty_disp}</td>
							<td class="med_refills">${rxi.rx_data.rf_rem} / ${rxi.rx_data.rf_auth}</td>
						</tr>
						<tr>
							<td colspan="4" class="med_sig">${rxi.Instructions}</td>
						</tr>
						<tr>
							<td colspan="4" class="cf_rx_info_details">
			
								<span class="cf_rx_date">Fill Date: ${rxi.rx_data.start_date}</span>
							</td>
						</tr>
					</tbody>
				</table>
                <div>
                    <form class="func_show_disp_qe_details disp_qe_details " id="cfdisp_form">
                        <input name="id" value="${id}" type="hidden" />
                        <input name="rx_worksheet_img" type="hidden" value="" />
                        <input name="RxID" value="${rxi.RxID}" type="hidden" />Beyond Use:
                        <input type="date" id="cfdisp_beyond_use_date" name="beyond_use" class="beyond_use_date" tabindex="1" />&nbsp; <a href="#" data-days="30" class="func_change_date_input" data-dateinput=".beyond_use_date">30 Days</a> &nbsp; <a href="#" data-days="90" class="func_change_date_input" data-dateinput=".beyond_use_date">90 Days</a> &nbsp; <a href="#" data-days="180" class="func_change_date_input" data-dateinput=".beyond_use_date">180 Days</a> &nbsp; <a href="#" data-days="365" class="func_change_date_input" data-dateinput=".beyond_use_date">365 Days</a> &nbsp;
                        <div class="rx_nums"> <span><label labelfor="dispensing_details_lot_num">Lot Num:</label> <input id="dispensing_details_lot_num" type="text" name="lot_num" autocomplete="on" tabindex="2" /></span>  <span><label labelfor="dispensing_details_sp_num">Ext ID:</label> <input id="dispensing_details_sp_num" type="text" name="sp_num" autocomplete="off" tabindex="3" /></span> 
                        </div>
                        <div class="button-block">
                            <input type="button" style="display: block; margin: 1em;" class="func_generate_dispensing_label ui-button ui-widget ui-state-default ui-corner-all" value="Generate Label" tabindex="4" />
                            <input name="dstatus" type="hidden" value="Filled" />
                        </div>
                    </form>
                </div>
            </div>
            <!-- ##################### TAB 1 ######################### -->
            <div id="cfdisp_scan">
                <figure id="camViews">
                    <div id="vidOverlay"></div>
                    <video id="streamVideo"></video>
                    <img id="captureImg" />
                    <figcaption>
                        <input type="button" id="cfdisp_capBtn" value="Capture Document" />
                    </figcaption>
                </figure>
                <canvas id="captureCanvas"></canvas>
            </div>
            <!-- ##################### TAB 2 ######################### -->
            <div id="cfdisp_fin">
                <p>Please verify the following information:</p>
                <div id="confirmWrap">
                <figure id="confirmImg">
                </figure>
                <div id="confirmDataBlock">
                    <p>Name: ${p.last_name}, ${p.first_name} - ${rxi.rx_data.RxN}<p>
                    <p>QTY: <span id="confirmQTY">${rxi.rx_data.qty_disp}</span></p>
                    <p>Rx Code: <span id="confirmRxCode">${rxi.rx_data.medication}</span></p>
                </div>
                </div>
                <div class="button_block">
                    <input type="submit" style="display: block; margin: 1em;" class=" ui-button ui-widget ui-state-default ui-corner-all" value="Mark Filled" tabindex="5" form="cfdisp_form" />
                </div>
            </div>
        </div>
	</div>
</script>





<script id="tmpl_dispensing_search_area" type="text/x-jquery-tmpl">
<div>
	<div class="left_bar">
		<h5>Search</h5>
		<div class="indent_15_em">
					<ul class="pc_chart_tabs" id="disp_sa_tabs">
						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#disp_scan_search_area"  >Scan</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#disp_info_search_area">Search</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all"><a href="#disp_recent_activity" >Recent Activity</a></li>
					</ul>
		</div>
	</div>
	<div class="right_bar">
		<div class="padded_box">
			<div id="disp_search_rarea">
				<div id="disp_scan_search_area">{{tmpl() "#tmpl_ni_table_with_form"}}</div>
				<div id="disp_info_search_area"></div>
				<div id="disp_recent_activity"></div>
			</div>
		</div>
	</div>
</div>
</script>






































	<style type="text/css">
	
#bulk_img_input,
#dq_needing_imgs {
	display: block;
}

/*********************** Dialog Changes ***********************/
#confirmRxCode {display: none;}
 #cf_disp_dialog {
    display: block;
    z-index: 1002;
    outline: 0px;
    position: absolute;
    height: auto;
    width: 660px;
    top: 335.5px;
    left: 387.5px;
}
/*********************** Cam Capture CSS **********************/
#camViews {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 200px;
    border: 2px solid #ccc;
    overflow: hidden;
}
#confirmWrap {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    vertical-align: top !important;
    width: 100%;
}
#confirmImg {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 200px;
    overflow: hidden;
    border: 2px solid #ccc;
    margin: 0;
}
#confirmDataBlock {
    display: inline-block;
    position: relative;
    margin-left: 8px;
    padding: 0;
    width: 260px;
    vertical-align: top;
}
#confirmDataBlock p {
    display: block;
}
#vidOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-family: Arial;
    font-size: 8em;
    font-weight: bold;
    z-index: 9998;
    padding-top: 0.5em;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
#cfdisp_scan #camViews #streamVideo {
    float: left;
    clear: none;
    z-index: 9990;
}
#captureImg {
    z-index: 9993;
}
#cfdisp_fin #confirmWrap #captureImg,
#cfdisp_scan #camViews #streamVideo,
#cfdisp_scan #camViews #captureImg {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    margin: 0;
}
#camViews figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 9999;
}
button, div#w_wrap, div#h_wrap {
    display: inline-block;
}
div#w_wrap, div#h_wrap {
    width: 47%;
    text-align: left;
}
canvas {
    display: none;
}
	</style>





<style>
#ma #dispensing_queue_tbl {width: 100%;}
</style>
<style>
.dispensing_details {
	font: 100 12px ProximaNovaRegular, Arial, sans-serif;
	
}
.dispensing_details .patient_name {
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: bold;
	border-bottom: 1px solid #666;
}
.dispensing_details .rxi_table {
	font: 100 12px ProximaNovaRegular, Arial, sans-serif;
	width: 100%;
	margin-bottom: 1em;
}
.dispensing_details .rxi_table td {
	border: none;
	border-spacing: 3px;
	background-color: #fff;
	vertical-align: top;
}
.dispensing_details .med_medication { font-weight: bold;}
.dispensing_details .rxi_table .med_dose {
	width: 8em;
	word-break: break-word;
	text-wrap: unrestricted;
}
.dispensing_details .rxi_table .med_qty {
	width: 4em;
	word-break: break-word;
	text-wrap: unrestricted;
}
.dispensing_details .rxi_table .med_refills {
	width: 4.75em;
	word-break: break-word;
	text-wrap: unrestricted;
}
.dispensing_details .button-block {
	height: 38px;
}
.dispensing_details .button-block * {
	margin: 1em;
	border: 1px solid #b6b6b6;
	font-weight: normal;
	color: #4f4f4f;
	height: 31px !important;
	padding: 0 1em !important;
	font-family: Arial,sans-serif;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
	-webkit-user-select: none;
	-webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background: -webkit-gradient( linear, left bottom, left top, color-stop(1, rgb(237, 237, 237)), color-stop(0, rgb(196, 196, 196)) );
}
.dispensing_details .button-block input[type="button"] {
	float: left;
}
.dispensing_details .button-block input[type="submit"] {
	float: right;
}
.dispensing_details .rx_nums {	margin-top: .5em;	}


.long_med.small {	font-size: smaller;}
</style>
