<script id="tmpl_lab_order_mgmt"  type="text/x-jquery-tmpl">
<div>
	<div id="lo_search">
		<form method="post" id="lo_search_frm"><input name="rxn" placeholder="Lab ID"   pattern="^\d+$" required="required" autofocus /><input type="submit"  style="display: block; margin: 1em;" class=" ui-button ui-widget ui-state-default ui-corner-all"/></form>
	<div id="lo_update_indicator" style="float: right; margin-left: 1.5em; display: block; margin-right: 4em;"></div>
	</div>
	{{tmpl '#tmpl_lab_order_mgmt_area'}}
</div>
</script>
<script id="tmpl_lab_order_mgmt_area"  type="text/x-jquery-tmpl">
<div>
	<div id="lo_display">
		<div id="lo_o_info">
			<span id="lo_id"></span> &nbsp; &nbsp; <span id="lo_transfer"></span>
			<div>
				<span id="lo_pname"></span>
				<span id="lo_DOB"></span>
				<span id="lo_patientid"></span>
				<div id="lo_provider"></div>
				<div >
					<span id="lo_paid" class="lo_amt_paid"></span>
					<span id="lo_price"></span>
				</div>
				<div id="lo_update_payment" >
					<form method="post" id="lo_update_payment_frm" onsubmit="return false;">
						<input type="number" name="paid" value="" class="lo_amt_paid" placeholder="Amount Paid" />
						<input type="hidden" name="rxn" value="" class="lo_lab_id" />
						<input type="hidden" name="patientID" value="" class="lo_pid" />
						<input type="hidden" name="DC" value="" class="lo_DC" />
						<input type="submit" value="Update" />
					</form>
				</div>
				<div id="lo_instruction_saved"></div>
			</div>
		</div>
		<div id="lo_o_info_details">
			<div id="lo_LDU"></div>
			<div id="lo_statuses"></div>
		</div>
		<div id="lo_type_selection">
			<h3  class="accordion_header">Saliva</h3><div id="labs_list_saliva">{{tmpl '#tmpl_lab_orderm_saliva'}}</div>
			<h3  class="accordion_header">Serum</h3><div id="labs_list_serum">{{tmpl '#tmpl_lab_orderm_serum'}}</div>
		</div>
	</div>
</div>
</script>





<script id="tmpl_lab_orderm_saliva" type="text/x-jquery-tmpl">
<div>
<div id="lab_product_list_saliva">
	<form id="order_labs_saliva_frm">
		<div>Scheduled for: <input type="date" name="scheduledDate" id="lo_scheduledDate" />
			<div><b>Saliva/Urine Labs</b></div>
		<input type="hidden" name="lab_type" value="saliva" />
		<div class="lab-category panel">
			{{each(i, lab) restoreProducts['Lab-Saliva']['Panel-Custom']}}	
				<div class="lab_product  panel_custom rpid_${i}">
					<label class="label_check" for="labp_saliva${i}">       <input type="checkbox" id="labp_saliva${i}" name="lab_product" value="${lab.productID}" data-price="${lab.productPrice}" data-sprice="${lab.productPrice}"  data-lpid="${i}" class="custom_rpp lpid_${i}"  > ${lab.productDisplayName} <span class="labProductPrice custom_rpp" data-lpid="${i}">${lab.productPrice}</span> 						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc" style="display:none;">{{html lab.productDescription}}</div>
				</div>
			{{/each}}

			{{each(i, lab) restoreProducts['Lab-Saliva']['Panel']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_saliva${i}">       <input type="checkbox" id="labp_saliva${i}" name="lab_product" value="${lab.productID}" data-price="${lab.productPrice}" data-sprice="${lab.productPrice}"  data-lpid="${i}" class="custom_rpp lpid_${i}"  > ${lab.productDisplayName} <span class="labProductPrice custom_rpp" data-lpid="${i}">${lab.productPrice}</span> 						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}
		</div>
		<div class="lab-category indiv">
			{{each(i, lab) restoreProducts['Lab-Saliva']['Individual']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_saliva${i}">       <input type="checkbox" id="labp_saliva${i}" name="lab_product" value="${lab.productID}"  data-price="${lab.productPrice}" data-sprice="${lab.productPrice}"  data-lpid="${i}" class="custom_rpp lpid_${i}"  > ${lab.productDisplayName} <span class="labProductPrice custom_rpp" data-lpid="${i}">${lab.productPrice}</span> 						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}
		</div>
		<div class="lab-category clinic">
			{{each(i, lab) restoreProducts['Lab-Saliva']['Clinical']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_saliva${i}">       <input type="checkbox" id="labp_saliva${i}" name="lab_product" value="${lab.productID}"  data-price="${lab.productPrice}" data-sprice="${lab.productPrice}"  data-lpid="${i}" class="custom_rpp lpid_${i}"  > ${lab.productDisplayName} <span class="labProductPrice custom_rpp" data-lpid="${i}">${lab.productPrice}</span></label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}
		</div>
		<div class="centered_div">
			Order Status:
			<select name="loStatus" id="lo_status_select">
				<option value="" id="lo_status_selected" selected="selected">Order Status:</option>
% for my $stat (qw(Cancelled Complete Electronic Filled New OfficeSupply)) {
				<option value="<% $stat %>"><% $stat %></option>
%			}
			</select>


			<textarea name="instructions" class="styled" id="lo_notes_i" placeholder="Instructions"></textarea>	
			<div id="losal_subm"><input type="submit" id="lo_submit" value="Update Order"  class=" ui-button ui-widget ui-state-default ui-corner-all" /></div>
		</div>
	</form>
</div>
</div>
</div>
</script>


<script id="tmpl_lab_orderm_serum" type="text/x-jquery-tmpl">
<div>
<div id="lab_product_list_serum">
	<form id="order_labs_serum_frm">
		<div>Scheduled for: <input type="date" name="scheduledDate" id="lo_scheduledDate" />
	<div><b>Serum</b></div>
		<input type="hidden" name="lab_type" value="serum" />
		<div class="lab-category panel">
			{{each(i, lab) restoreProducts['Lab-Serum']['Panel-Custom']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_serum${i}">       <input type="checkbox" id="labp_serum${i}" name="lab_product" value="${lab.productID}" data-price="${lab.productPrice}" data-sprice="${lab.productPrice}"  data-lpid="${i}" class="custom_rpp lpid_${i}"  > ${lab.productDisplayName}  [${lab.productID}] <span class="labProductPrice custom_rpp" data-lpid="${i}">${lab.productPrice}</span> 						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc"  style="display:none;">{{html lab.productDescription}}</div>
				</div>
			{{/each}}
			{{each(i, lab) restoreProducts['Lab-Serum']['Panel']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_serum${i}">       <input type="checkbox" id="labp_serum${i}" name="lab_product" value="${lab.productID}" data-price="${lab.productPrice}" data-sprice="${lab.productPrice}"  data-lpid="${i}" class="custom_rpp lpid_${i}"  > ${lab.productDisplayName} [${lab.productID}] <span class="labProductPrice custom_rpp" data-lpid="${i}">${lab.productPrice}</span> 						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc"  style="display:none;">{{html lab.productDescription}}</div>
				</div>
			{{/each}}
		</div>
		<div class="lab-category indiv">
			{{each(i, lab) restoreProducts['Lab-Serum']['Individual']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_serum${i}">       <input type="checkbox" id="labp_serum${i}" name="lab_product" value="${lab.productID}"  data-price="${lab.productPrice}" data-sprice="${lab.productPrice}"  data-lpid="${i}" class="custom_rpp lpid_${i}"  > ${lab.productDisplayName} <span class="labProductPrice custom_rpp" data-lpid="${i}">${lab.productPrice}</span> 						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}
		</div>
		<div class="lab-category clinic">
			{{each(i, lab) restoreProducts['Lab-Saliva']['Clinical']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_serum${i}">       <input type="checkbox" id="labp_serum${i}" name="lab_product" value="${lab.productID}"  data-price="${lab.productPrice}" data-sprice="${lab.productPrice}"  data-lpid="${i}" class="custom_rpp lpid_${i}"  > ${lab.productDisplayName} <span class="labProductPrice custom_rpp" data-lpid="${i}">${lab.productPrice}</span></label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}
		</div>
		<div class="centered_div">
			<div>Billing: 
				<div id="lab_billing_options">
					<label for="lab_bill_3rd_party">Bill Insurance</label><input type="radio" id="lab_bill_3rd_party" name="bill_to"  value="3rd" /> &nbsp; 
					<label for="lab_bill_CC">Bill Credit Card</label><input type="radio" id="lab_bill_CC" value="cc" name="bill_to" data-cc="" /> &nbsp; 
				</div>
			</div>
			Order Status:
			<select name="loStatus" id="lo_status_select">
				<option value="" id="lo_status_selected" selected="selected">Order Status:</option>
% for my $stat (qw(Cancelled Complete Electronic New)) {
				<option value="<% $stat %>"><% $stat %></option>
%			}
			</select>


			<textarea name="instructions" class="styled" id="lo_notes_i" placeholder="Instructions"></textarea>	
			<div id="losal_subm"><input type="submit" id="lo_submit" value="Update Order"  class=" ui-button ui-widget ui-state-default ui-corner-all" /></div>
		</div>
	</form>
</div>
</div>
</script>





<script id="tmpl_lab_order_statuses" type="text/x-jquery-tmpl">
	<div>
				<div id="lo_kit_status" class="${lk.kitStatus}">${lk.kitStatus}{{if lk.receiveDate}} [${lk.receiveDate}]{{/if}}  &nbsp; &nbsp; <a href="#" onclick="lo_receive_kit(${lo.id}); return false;" style="color:#666;" >Receive Kit</a></div>
				<div id="lo_lab_status" class="${status.labStatus}">${status.labStatus}</div>
				<div ><span id="lo_hh_status" class="${status.hhStatus}">${status.hhStatus}</span></div>
				<div id="lo_report_status" class="${status.reportStatus}">${status.reportStatus}</div>
				<div id="lo_print_receipt"><form action="/api/v1.lab/func/labs/generate_lab_receipt.html" method="post" target="_blank"><input type="hidden" name="rxn" value="${lo.id}" /><input type="submit" value="Print" /></form></div>
	</div>
</script>

<script id="tmpl_lo_enter_hh_tmp" type="text/x-jquery-tmpl">
<div>
<form name="hh" action="https://labs.restorehc.com/healthhistory/hh.html" method="POST" target="_blank" id="lo_enter_hh_tmp">
	<table>
		<tbody><tr>
			<td>Edit HH: </td><td><input type="text" name="RxNumber" value="${rxn}"></td>
		</tr>
	</tbody></table>
	<input type="hidden" name="new" value="1">
	<input type="hidden" name="can_skip" value="1">

</form>
</div>
</script>












<script id="tmpl_labs_check_scans" type="text/x-jquery-tmpl">

 <style>
 .miniJPG {width: 16em;  display:block; -webkit-transition: width .5s ease-in; cursor: pointer;}
 </style>
 <div id="numOfFilesScanned">
 	<div>Pages Scanned: ${num_files}</div>
	<div>With barcodes: ${with_barcodes}</div>
 </div>
{{if manual_display}}
 <form method="post" name="recordsSubmitForm" id="rsf0" >
 <input type="hidden" name="posted" value="1" />
<table>

	{{each(mdi, mf)}}
	{{if mdi % 5 ==0}}<tr>{{/if}
 		<td>
 			<img src="/tmp/img/${mf}_sm.jpg" class="miniJPG" onclick="this.style.maxWidth='40em'; this.style.width='40em';" ondblclick="this.style.width=''; this.style.maxWidth='';" />
 			<input tabindex="" name="${mf}" autocomplete="off" /><br/>
 			Rotate:<input name="${mf}_rotate" autocomplete="off" />
 		</td>
	{{if mdi % 5 ==0}}<tr>{{/if}
</table> 
<input type="submit" />
</form>
{{else}
	<h3>No files to be sorted</h3>
{{/if}}
</script>




<script id="tmpl_labs_receive_kit" type="text/x-jquery-tmpl">
	<div>
		<form method="post" id="lk_rec_kit">
			<input type="hidden" name="rxn" value="${ls.rxn}" />
			
			<b>Samples:</b>
			<div>
				<div>
					<label for="lkr_1"><input id="lkr_1" type="checkbox" {{if ls.ss1_time}}checked="checked"{{/if}}  name="ls1" onchange="$('#lkr_1t').prop('disabled', this.checked ?  false : true);"  value="1"/> 1         </label> &nbsp; 
					<input type="time" name="ls1_time" id="lkr_1t" {{if ls.ss1_time}}value="${ls.ss1_time}"{{else}}disabled="disabled"{{/if}} /> &nbsp; 
				</div>
				<div>
				<label for="lkr_2"><input id="lkr_2" type="checkbox"  {{if ls.ss2_time}}checked="checked"{{/if}}  name="ls2"  onchange="$('#lkr_2t').prop('disabled', this.checked ?  false : true);"  value="1"  /> 2        </label> &nbsp; 
				<input type="time" name="ls2_time" id="lkr_2t"  {{if ls.ss2_time}}value="${ls.ss2_time}"{{else}}disabled="disabled"{{/if}} />  &nbsp; 
				</div>
				<div>
				<label for="lkr_3"><input id="lkr_3" type="checkbox"  {{if ls.ss3_time}}checked="checked"{{/if}}  name="ls3"  onchange="$('#lkr_3t').prop('disabled', this.checked ?  false : true);"    value="1" /> 3        </label> &nbsp;  
				<input type="time" name="ls3_time" id="lkr_3t"  {{if ls.ss3_time}}value="${ls.ss3_time}"{{else}}disabled="disabled"{{/if}} /> &nbsp; 
				</div>
				<div>
				<label for="lkr_4"><input id="lkr_4" type="checkbox"  {{if ls.ss4_time}}checked="checked"{{/if}}  name="ls4"  onchange="$('#lkr_4t').prop('disabled', this.checked ?  false : true);"    value="1" /> 4         </label> &nbsp;  
				<input type="time" name="ls4_time" id="lkr_4t"  {{if ls.ss4_time}}value="${ls.ss4_time}"{{else}}disabled="disabled"{{/if}} /> &nbsp; 
				</div>
				<div>
				<label for="lkr_u"><input id="lkr_u" type="checkbox"  {{if ls.su5_time}}checked="checked"{{/if}} name="lsu"  onchange="$('#lkr_ut').prop('disabled', this.checked ?  false : true);"   value="1" /> Urine </label> &nbsp;  
				<input type="time" name="lsu_time" id="lkr_ut"  {{if ls.su5_time}}value="${ls.su5_time}"{{else}}disabled="disabled"{{/if}} /> &nbsp; 
				</div>
			</div>
			<div>
				Sample Date: <input type="date" name="ls_date" placeholder="Sample Date" value="{{if ls.sampleDate}}${ls.sampleDate}{{/if}}"/>
			</div>
			<div>
				Receive Date: <input type="date" name="lk_receive_date" placeholder="Sample Date" value="{{if ls.receiveDate}}${ls.receiveDate}{{/if}}"/>
			</div>
			<div>
				Reject? &nbsp; <input type="text" placeholder="Reason..." name="reject_reason" value="{{if ls.reject_reason}}${ls.reject_reason}{{/if}}"/>
			</div>
			<div>
				Status: 
				<div>
					<label for="lss_pro"><input id="lss_pro" type="radio"  name="lab_sample_status" value="Received" {{if ls.lab_sample_status=='Rejected' && ls.lab_sample_status !='Received'}} {{else}}checked="checked"{{/if}}/> - Received</label>
				</div>
				<div>
					<label for="lss_cancel"><input id="lss_cancel" type="radio"  name="lab_sample_status" value="Rejected" {{if ls.lab_sample_status=='Rejected'}}checked="checked"{{/if}}/> - Rejected</label>
				</div>
				<div>
					<label for="lss_notrec"><input id="lss_notrec" type="radio"  name="lab_sample_status" value="Not Received" {{if ls.lab_sample_status=='Not Received'}}checked="checked"{{/if}} /> - Not Received</label>
				</div>

			</div>
			
			<div>
				<input type="submit" style="display: block; margin: 1em;" class=" ui-button ui-widget ui-state-default ui-corner-all">
			</div>	

		</form>
		<div><a href="#" class="func_get_cmeds_area" data-id="${ls.rxn}" >Current Medications</a>
				 <div class="lk_cmeds"></div>
		</div>
		<div id="lk_review_area"></div>
	</div>

</script>


<script id="tmpl_labs_review_kit" type="text/x-jquery-tmpl">
<div>
	
	<form id="lk_ssts">
		<input type="hidden" name="id" value="${id}" />
		<div><input type="checkbox" name="dnfp" {{if rd.tv.lo.lk.dnfp == 1}}checked="checked"{{/if}} value="1" id="dnfp_cb" /><label for="dnfp_cb">Did not follow protocol</label></div>
		{{each(lti, ltt) lttr}}
			<div class="lttr">
				${ltt.labLabel}:  
				<select name="sst_${ltt.labTest}">
					<option value="{{if typeof slks[ltt.labTest] =='object' && slks[ltt.labTest].sample !=0}}${(slks[ltt.labTest].sample > 4 ? 'su' : 'ss' )}${slks[ltt.labTest].sample}{{/if}}" selected="selected">{{if typeof slks[ltt.labTest] =="object" && slks[ltt.labTest].sample !=0 }}${slks[ltt.labTest].sample} - ${rd.tv.lo.lk[ (slks[ltt.labTest].sample > 4 ? 'su' : 'ss' ) + slks[ltt.labTest].sample + '_time']}{{else}}Sample:{{/if}}</option>
					{{each(lksi, lks) salk }}
					<option value="${lks.smpl}">${lks.smpl} - ${lks.stime}</option>
					{{/each}}
				</select>
			</div>
		{{/each}}
				<input type="submit" style="display: block; margin: 1em;" class=" ui-button ui-widget ui-state-default ui-corner-all">
	</form>	
	
</div>
</script>
