<script id="tmpl_lab_order_saliva" type="text/x-jquery-tmpl">

<div id="lab_product_list_saliva"><div><b>Saliva/Urine Labs</b></div>
	<form id="order_labs_saliva_frm" class="order_labs_frm">
		<input type="hidden" name="lab_type" value="saliva" />
		<div class="lab-category panel">
			{{each(i, lab) restoreProducts['Lab-Saliva']['Panel-Custom']}}	
				<div class="lab_product panel_custom rpid_${i}">
					<label class="label_check" for="labp_saliva${i}">       <input type="checkbox" id="labp_saliva${i}" name="lab_product" value="${lab.productID}" data-price="${lab.productPrice}" data-sprice="${lab.productPrice}"  data-lpid="${i}" class="custom_rpp lpid_${i}"> ${lab.productDisplayName} <span class="labProductPrice custom_rpp" data-lpid="${i}">${lab.productPrice}</span> 						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}

			{{each(i, lab) restoreProducts['Lab-Saliva']['Panel']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_saliva${i}">       <input type="checkbox" id="labp_saliva${i}" name="lab_product" value="${lab.productID}" data-price="${lab.productPrice}" data-sprice="${lab.productPrice}"  data-lpid="${i}" class="custom_rpp lpid_${i}"> ${lab.productDisplayName} <span class="labProductPrice custom_rpp" data-lpid="${i}">${lab.productPrice}</span> 						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}
		</div>
		<div class="lab-category indiv">
			{{each(i, lab) restoreProducts['Lab-Saliva']['Individual']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_saliva${i}">       <input type="checkbox" id="labp_saliva${i}" name="lab_product" value="${lab.productID}"  data-price="${lab.productPrice}"> ${lab.productDisplayName} <span class="labProductPrice"  data-lpid="${i}">${lab.productPrice}</span> 						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}
		</div>
		<div class="lab-category clinic">
			{{each(i, lab) restoreProducts['Lab-Saliva']['Clinical']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_saliva${i}">       <input type="checkbox" id="labp_saliva${i}" name="lab_product" value="${lab.productID}"  data-price="${lab.productPrice}"> ${lab.productDisplayName} <span class="labProductPrice"  data-lpid="${i}">${lab.productPrice}</span></label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}
		</div>
		<div class="centered_div">
			<textarea name="instructions" class="styled" onfocus="this.value=''; $(this).css('background-color', '#B6DFE7');" onblur="$(this).css('background-color', 'white');">Enter notes/instructions here...</textarea>	
			<div id="losal_subm"><input type="submit" id="lo_submit" value="Order Labs"  class=" ui-button ui-widget ui-state-default ui-corner-all" /></div>
		</div>
	</form>
</div>

</script>


<script id="tmpl_lab_order_serum" type="text/x-jquery-tmpl" data-note="See lab_order_mgmt.html">

<div id="lab_product_list_serum"><div><b>Serum Labs</b></div>
	<form id="order_labs_serum_frm" class="order_labs_frm">
		<input type="hidden" name="lab_type" value="serum" />
		<div class="lab-category panel">

			{{each(i, lab) 	restoreProducts['Lab-Serum']['Panel-Custom']}}	
				<div class="lab_product panel_custom rpid_${i}">
					<label class="label_check" for="labp_serum${i}">       <input type="checkbox" id="labp_serum${i}" name="lab_product" value="${lab.productID}" data-price="${lab.productPrice}" data-sprice="${lab.productPrice}"  data-lpid="${i}" class="custom_rpp lpid_${i}"> ${lab.productDisplayName} <span class="labProductPrice custom_rpp" data-lpid="${i}">${lab.productPrice}</span> 						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}

			{{each(i, lab) restoreProducts['Lab-Serum']['Panel']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_serum${i}">       <input type="checkbox" id="labp_serum${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} <span class="labProductPrice"  data-lpid="${i}">${lab.productPrice}</span>						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc">{{html lab.productDescription}}</div>					
				</div>
			{{/each}}
		</div>
		<div class="lab-category indiv">
			{{each(i, lab) restoreProducts['Lab-Serum']['Individual']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_serum${i}">       <input type="checkbox" id="labp_serum${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} <span class="labProductPrice"  data-lpid="${i}">${lab.productPrice}</span> 						<span class="productCategory-minor">(${lab.productCategory})</span>
					</label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}
		</div>
		<div class="lab-category clinic">
			{{each(i, lab) restoreProducts['Lab-Saliva']['Clinical']}}	
				<div class="lab_product">
					<label class="label_check" for="labp_serum${i}">       <input type="checkbox" id="labp_serum${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} <span class="labProductPrice"  data-lpid="${i}">${lab.productPrice}</span></label>
					<div class="lab-desc">{{html lab.productDescription}}</div>
				</div>
			{{/each}}
		</div>

		<div class="centered_div">
			<textarea name="instructions" class="styled" onfocus="this.value=''; $(this).css('background-color', '#B6DFE7');" onblur="$(this).css('background-color', 'white');">Enter notes/instructions here...</textarea>
			<div id="loser_subm"><input type="submit" id="lo_submit" value="Order Labs"  class=" ui-button ui-widget ui-state-default ui-corner-all" /></div>
		</div>



	</form>
</div>

</script>






<script id="tmpl_order_labs" type="text/x-jquery-tmpl">
{{tmpl tmpl_lab_order_saliva}}
</script>














<script id="tmpl_OTC_order_orig_static" type="text/x-jquery-tmpl">

<div id="otc_product_list"><div><b>Order Supplements</b></div>
	<form id="order_otc_frm">
		<input type="hidden" name="lab_type" value="otc" />
		<div class="css3_2column">
			<div class="lab-category Protocol">
				{{each(i, lab) restoreProducts['Supplements']['Protocol']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 
							<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
			<div class="lab-category Women">
				{{each(i, lab) restoreProducts['Supplements']['Women']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} </label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
	
			<div class="lab-category Prevention">
				{{each(i, lab) restoreProducts['Supplements']['Prevention']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
			<div class="lab-category Cardio">
				{{each(i, lab) restoreProducts['Supplements']['Cardio']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
	
	
			<div class="lab-category Metabolic">
				{{each(i, lab) restoreProducts['Supplements']['Metabolic']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
	
			<div class="lab-category Osteo">
				{{each(i, lab) restoreProducts['Supplements']['Osteo']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>

	
	
			<div class="lab-category Rest">
				{{each(i, lab) restoreProducts['Supplements']['Rest']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	







		</div>
		<div class="centered_div">
			<textarea name="instructions" class="styled" onfocus="this.value=''; $(this).css('background-color', '#B6DFE7');" onblur="$(this).css('background-color', 'white');">Enter notes/instructions here...</textarea>
			<div id="oootc_subm"><input type="submit" id="oo_submit" value="Order Supplements"  class=" ui-button ui-widget ui-state-default ui-corner-all" /></div>
		</div>

	</form>
</div>

</script>







<script id="tmpl_OTC_order" type="text/x-jquery-tmpl">

<div id="otc_product_list"><div><b>Order Supplements</b></div>
	<form id="order_otc_frm">
		<input type="hidden" name="lab_type" value="otc" />
		<div class="css3_2column">
			<div class="lab-category Protocol">
				{{each(i, lab) restoreProducts['Supplements']['Protocol']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 
							<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
			<div class="lab-category Women">
				{{each(i, lab) restoreProducts['Supplements']['Women']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} </label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
	
			<div class="lab-category Prevention">
				{{each(i, lab) restoreProducts['Supplements']['Prevention']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
			<div class="lab-category Cardio">
				{{each(i, lab) restoreProducts['Supplements']['Cardio']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
	
	
			<div class="lab-category Metabolic">
				{{each(i, lab) restoreProducts['Supplements']['Metabolic']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	
	
			<div class="lab-category Osteo">
				{{each(i, lab) restoreProducts['Supplements']['Osteo']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>

	
	
			<div class="lab-category Rest">
				{{each(i, lab) restoreProducts['Supplements']['Rest']}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
	

				{{each(cate, cateo) restoreProducts['Supplements']}}
				{{if jQuery.inArray(cate, ['Rest', 'Osteo', 'Metabolic', 'Cardio', 'Prevention', 'Women', 'Protocol']) > -1 }}
				{{else}}
			<div class="lab-category ${cate}">
				{{each(i, lab) restoreProducts['Supplements'][cate]}}	
					<div class="lab_product">
						<label class="label_check" for="labp_${i}">       <input type="checkbox" id="labp_${i}" name="lab_product" value="${lab.productID}"> ${lab.productDisplayName} - &#36;${lab.productPrice} 						<span class="productCategory-minor">(${lab.productCategory})</span>
						</label>
						<div class="lab-desc">{{html lab.productDescription}}</div>
					</div>
				{{/each}}
			</div>
				{{/if}}
				{{/each}}






		</div>
		<div class="centered_div">
			<textarea name="instructions" class="styled" onfocus="this.value=''; $(this).css('background-color', '#B6DFE7');" onblur="$(this).css('background-color', 'white');">Enter notes/instructions here...</textarea>
			<div id="oootc_subm"><input type="submit" id="oo_submit" value="Order Supplements"  class=" ui-button ui-widget ui-state-default ui-corner-all" /></div>
		</div>

	</form>
</div>

</script>

