<script>
var activate_lks_review_queue = function(qdata, tblid) {
	if (! tblid) { tblid='#lksrq_tbl';}
	lksqr_table=$(tblid).dataTable( {
	"bDestroy": true,
	"bJQueryUI": true,
	'bAutoWidth':false,
		"aaData": toTableArray( qdata,  [ 'oid', 'labs_to_run', 'receiveDate',  'dn', 'data' ]),
		"aoColumnDefs": [
			{ "sTitle": "Kit#", "sClass": "center small" , "aTargets": [ 0 ] , "sWidth": "9em"},
			{ "sTitle": "# Labs", "sClass": "center", "aTargets": [ 1 ] , "sWidth": "8em"},
			{ "sTitle": "Rec'd" , "aTargets": [ 2 ], "sWidth": "15em"},
			{ "sTitle": "Kit", "sClass": "center small" , "aTargets": [3 ] , "sWidth": "19em"},
			{"bSearchable": true, "bVisible": true, "aTargets": [0]}
						],
		"0aoColumns": [
		],
		"aaSorting": [[1,'desc']],
		
		    "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
			    	$('td:first-child', nRow).html( '<a class="func_display_lab_kit_review" href="#" data-id="' + aData[0] + '">' + aData[0] + '</a>' );
        },

		"fnDrawCallback": function () {	
		}
	} );
};



var display_lksrq = function() {
	var tmp_filt=$('#lksrq_filter > label > input').val(); 

	$.postJSON('/api/v1.lab/get_lk_review_queue', {limit: 500}, function(data) {{	
			lksrq_list=data.data; 
			activate_lks_review_queue(lksrq_list);
				if (typeof tmp_filt == "string" && tmp_filt.length > 0) { lksrq_table.fnFilter( tmp_filt );}
			 }	}	) };




var activate_lab_order_queue = function(qdata, tblid) {
	if (! tblid) { tblid='#loq_tbl';}
	lksqr_table=$(tblid).dataTable( {
	"bDestroy": true,
	"bJQueryUI": true,
	'bAutoWidth':false,
		"aaData": toTableArray( qdata,  [ 'id', 'initiatedBy', 'dateEntered', 'DC', 'notes', 'data' ]),
		"aoColumnDefs": [
			{ "sTitle": "Kit#", "sClass": "center small" , "aTargets": [ 0 ] , "sWidth": "9em"},
			{ "sTitle": "Initiated By", "sClass": "center", "aTargets": [ 1 ] , "sWidth": "8em"},
			{ "sTitle": "Created" , "aTargets": [ 2 ], "sWidth": "15em"},
			{ "sTitle": "Provider", "sClass": "center small" , "aTargets": [3 ] , "sWidth": "19em"},
			{ "sTitle": "Notes", "sClass": "center small" , "aTargets": [4] , "sWidth": "19em"},
			{"bSearchable": true, "bVisible": true, "aTargets": [0]}
						],
		"0aoColumns": [
		],
		"aaSorting": [[1,'desc']],
		
		    "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
			    	$('td:first-child', nRow).html( '<a class="func_display_lab_order" href="#" data-id="' + aData[0] + '">' + aData[0] + '</a>' );
			    	if (typeof provider_list[aData[3]] == "object") {
				    	$('td:nth-child(4)', nRow).html( '' + provider_list[aData[3]]['doctorName'] + '' );
				    	}
        },

		"fnDrawCallback": function () {	
		}
	} );
};



var display_loq = function() {
	var tmp_filt=$('#loq_filter > label > input').val(); 

	$.postJSON('/api/v1.lab/get_lo_queue', {limit: 500}, function(data) {{	
			loq_list=data.data; 
			activate_lab_order_queue(loq_list);
				if (typeof tmp_filt == "string" && tmp_filt.length > 0) { loq_table.fnFilter( tmp_filt );}
			 }	}	) };












var activate_lab_report_send_queue = function(qdata, tblid) {
	if (! tblid) { tblid='#lsr_tbl';}
	lsqr_table=$(tblid).dataTable( {
	"bDestroy": true,
	"bJQueryUI": true,
	'bAutoWidth':false,
		"aaData": toTableArray( qdata,  [ 'id', 'DC', 'complete_date',  'clinical_svc', 'data' ]),
		"aoColumnDefs": [
			{ "sTitle": "Lab#", "sClass": "center small" , "aTargets": [ 0 ] , "sWidth": "9em"},
			{ "sTitle": "Patient/Provider", "sClass": "center small" , "aTargets": [1 ] , "sWidth": "19em"},
			{ "sTitle": "Completed" , "aTargets": [ 2 ], "sWidth": "15em"},
			{ "sTitle": "CS?", "sClass": "center", "aTargets": [ 3 ] , "sWidth": "8em"},
			{"bSearchable": true, "bVisible": true, "aTargets": [0]}
						],
		"0aoColumns": [
		],
		"aaSorting": [[1,'desc']],
		
		    "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
		    console.log(aData);
			    	$('td:first-child', nRow).html( '<a class="func_display_lab_send_report_review" href="#" data-id="' + aData[0] + '">' + aData[0] + '</a>' );
			    	$('td:nth-child(2)', nRow).html( typeof rlu[aData[0]] == "object" ||  typeof rlu[aData[0]] == "string" ? plist[rlu[aData[0]]]['last_name']   + ' / ' + (typeof provider_list[aData[1]] == "object" ?  provider_list[aData[1]]['doctorName'] : ' - ' ) : aData[0]);
        },

		"fnDrawCallback": function () {	
		}
	} );
};



var display_lsrq = function() {
	var tmp_filt=$('#lsrq_filter > label > input').val(); 

	$.postJSON('/api/v1.lab/get_report_send_queue', {limit: 500}, function(data) {
			lsrq_list=data.data; 
			activate_lab_report_send_queue(lsrq_list);
				if (typeof tmp_filt == "string" && tmp_filt.length > 0) { lsrq_table.fnFilter( tmp_filt );}
			 }	);
			  };





var send_lab_report = function(via, id, where) {
//console.log({via: via, id: id, sendTo: where , limit: 500});
	$.postJSON('/api/v1.lab/send_lab_report', {via: via, id: id, sendTo: where , limit: 500}, function(data) {
		display_lsrq();
		$('#rsq_right').prepend(data.data.html)
		display_errs(data.errs);
	  });
	  };
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
var activate_gaok_tbl = function(qdata, tblid) {
	if (! tblid) { tblid='#gaok_tbl';}
	gaok_table=$(tblid).dataTable( {
	"bDestroy": true,
	"bJQueryUI": true,
	'bAutoWidth':false,
		"aaData": toTableArray( qdata,  [ 'id',  'dateEntered',  'labelName', 'loStatus', 'surveyStatus', 'kitStatus', 'labStatus', 'instructions', 'scheduledDate',  'pname', 'report_ready', 'data' ]),
		"aoColumnDefs": [
			{ "sTitle": "Lab#", "sClass": "center small" , "aTargets": [ 0 ] , "sWidth": "9em"},
			{ "sTitle": "Ordered" , "aTargets": [ 1 ], "sWidth": "6em",
				   /*	"sType": 'date', -- should work, but has an issue */
				   "fnRender": function ( oObj ) {
              var javascriptDate = new Date(oObj.aData[1]);
              javascriptDate = 1+ javascriptDate.getMonth()+"/"+javascriptDate.getDate()+"/"+javascriptDate.getFullYear();
              return '<span class="small oDate">' + javascriptDate + (oObj.aData[8] ? '</span><div class="small sDate">' + oObj.aData[8] +'</div>' : '</span>');
              }
				
			},
			{ "sTitle": "Ordered By", "sClass": "center", "aTargets": [ 2 ] , "sWidth": "8em", "bSearchable": true},
			{ "sTitle": "Order", "sClass": "center", "aTargets": [ 3 ] , "sWidth": "6em"},
			{ "sTitle": "HH", "sClass": "center", "aTargets": [ 4 ] , "sWidth": "4em"},
			{ "sTitle": "Kit", "sClass": "center", "aTargets": [ 5 ] , "sWidth": "4em",
				"fnRender": function ( oObj ) { var ret=''; var job=JSON.parse(oObj.aData[11]); ret+=job.clinical_svcs ?  '\nClinical Svcs' : '';  ret+=job.specimen_type ?  '\n[' + job.specimen_type +']'  : ''; 
				 return '<span class="small  oDate">' + (oObj.aData[5] || '') + ret + '</span>'; }
				
			},
			{ "sTitle": "Results", "sClass": "center", "aTargets": [ 6 ] , "sWidth": "4em",
					"fnRender": function ( oObj ) { var ret=''; var risr=oObj.aData[10];  ret+= risr=='report_ready' ?  '\n[Ready]'  : ''; 
																			return oObj.aData[6] + '<span class="small oDate">' + ret + '</span>'; }
				 
			},
			{ "sTitle": "Notes", "sClass": "center", "aTargets": [ 7 ] , "sWidth": "18em"},
			{"bSearchable": true, "bVisible": true, "aTargets": [0]},
			{"bSearchable": false, "bVisible": false, "aTargets": [8]},

			{ "bSearchable": true, "bVisible": false, "aTargets": [ 9 ] }

						],
		"0aoColumns": [
		],
		"aaSorting": [[1,'desc']],
		
		    "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
		    		$('td:first-child', nRow).html( '<a class="func_display_lab_order ' + (aData[10] || '') + '" href="#" data-id="' + aData[0] + '">' + aData[0] + '</a><div class="small pname">' + aData[9] +'</div>' );
			    	//$('td:nth-child(2)', nRow).html('<span class="small oDate">' + aData[1] + (aData[8] ? '</span><div class="small sDate">' + aData[8] +'</div>' : '</span>') );

        },

		"fnDrawCallback": function () {	
		}
	} );
};


var display_gaok=function(noclear) {
									if(noclear) {} else {
										activate_area('');   $('#action_info_area').html('');
										$('#ma').html('<table id="gaok_tbl"></table>');
									}
										$.postJSON('/api/v1.lab/get_all_outstanding_kits', {}, function(data) {
														display_errs(data.errs);
														if (data.data.success) {	
															activate_gaok_tbl(data.data.gaok);
														}
										});
	
};



if (user_type == 'lab') {
	$(document).ready(function () {setTimeout('display_gaok();' , 3500);});
	}

</script>



<script id="tmpl_lab_addl_funcs"  type="text/x-jquery-tmpl">
<div>
	<div  id="lab_addl_funcs_tbs_div">
		<div class="left_bar">
			<h5>Functions</h5>
			<div class="indent_15_em">
						<ul class="lab_addl_funcs_tbs" id="lab_addl_funcs_tbs">
							<li class="ui-button ui-widget ui-state-default ui-corner-all" onclick=""><a href="#lab_func_view_lab_orders"  >Lab Orders</a></li>
							<li class="ui-button ui-widget ui-state-default ui-corner-all" onclick="setTimeout('display_lksrq();', 800);"><a href="#lab_func_review_kits"  >Review Kits</a></li>
							<li class="ui-button ui-widget ui-state-default ui-corner-all" onclick=""><a href="#lab_func_review_scans"  >Review Scans</a></li>
							<li class="ui-button ui-widget ui-state-default ui-corner-all" onclick=""><a href="#lab_func_enter_lab_results" >Enter Results</a></li>
							<li class="ui-button ui-widget ui-state-default ui-corner-all" onclick=""><a href="#lab_func_prep_reports"  >Prep Reports</a></li>
							<li class="ui-button ui-widget ui-state-default ui-corner-all" onclick=""><a href="#lab_func_send_reports"  >Send Reports</a></li>
							<li class="ui-button ui-widget ui-state-default ui-corner-all" onclick=""><a href="#lab_func_gen_bc"  >Barcodes</a></li>
							<li class="ui-button ui-widget ui-state-default ui-corner-all" onclick=""><a href="#lab_func_lc_pscs"  >LC Beacon</a></li>

						</ul>
			</div>
		</div>
		<div class="right_bar">
			<div class="padded_box">
				<div id="lab_funcs_area">
					<div id="lab_func_view_lab_orders"><h5>New Orders</h5>{{tmpl "#tmpl_lm_view_lab_orders"}}</div>
					<div id="lab_func_review_kits"><h5>Review Kits</h5>{{tmpl "#tmpl_lm_review_lab_kits"}}</div>
					<div id="lab_func_review_scans"><h5>Review Scans</h5>{{tmpl "#tmpl_lm_review_scans"}}</div>
					<div id="lab_func_enter_lab_results"><h5>Enter Lab Results</h5>{{tmpl() "#tmpl_lm_enter_results"}}</div>
					<div id="lab_func_prep_reports"><h5>Prep Reports</h5>{{tmpl "#tmpl_lm_prep_reports"}}</div>
					<div id="lab_func_send_reports"><h5>Send Reports</h5>	{{tmpl(emtmpl) "#tmpl_lm_send_reports"}}</div>
					<div id="lab_func_gen_bc"><h5>Barcodes</h5>	{{tmpl "#tmpl_gen_barcodes"}}</div>
					<div id="lab_func_lc_pscs"><h5>LabCorp Results</h5>	{{tmpl "#tmpl_lc_results"}}</div>
				</div>
			</div>
		</div>
	</div>
</div></script>


<script id="tmpl_lm_view_lab_orders"  type="text/x-jquery-tmpl">
	<div>Lab Orders Queue</div>
	<span class="func_refresh_loq_tbl"><img src="/images/buttons/refresh.png" style="max-width: 1.5em; float: right; margin: .25em; cursor:pointer;"></span><table id="loq_tbl"></table>

</script>

<script id="tmpl_lm_review_lab_kits"  type="text/x-jquery-tmpl">
	<div>Review Lab Kits</div>
	<span class="func_refresh_lkrq_tbl"><img src="/images/buttons/refresh.png" style="max-width: 1.5em; float: right; margin: .25em; cursor:pointer;"></span><table id="lksrq_tbl"></table>
	<div>
		<form class="func_print_lab_sample_sheets"><textarea placeholder="Print Sample Sheets" name="lab_ids"></textarea><input type="submit" value="Print Kit Sheets" /></form>
	</div>
</script>

<script id="tmpl_lm_review_scans"  type="text/x-jquery-tmpl">
<div>
	<div>Review Scans</div>
	<span class="func_refresh_view_scans"><img src="/images/buttons/refresh.png" style="max-width: 1.5em; float: right; margin: .25em; cursor:pointer;"></span>
 <form method="post" name="recordsSubmitForm" id="rsf0" >
 <input type="hidden" name="posted" value="1" />
 <div id="manual_scans_list"></div>
<div><input type="submit" /></div>
</form>
</div>

</script>

<script id="tmpl_lm_enter_results"  type="text/x-jquery-tmpl">
	<div>
		<form id="lab_results_select_id">
								<input id="lid_sel_id" name="rxn" value=""/>
								<input type="submit" id="lid_submit_s" value="Enter Results"  form="lab_results_select_id" class="ui-button ui-widget ui-state-default ui-corner-all"  onclick="display_enter_labs($('#lid_sel_id').value()); return false;;">
		</form>
		<div id="enter_lab_results_area"></div>
	</div>
</script>

<script id="tmpl_lm_prep_reports"  type="text/x-jquery-tmpl">
	<div>
		<form class="func_prep_reports_area"><input name="lab_id" placeholder="Lab ID"   pattern="^\d+$" required="required" autofocus /><input type="submit" value="Report Tools" /></form>
		<div id="prep_reports_area"></div>		
	</div>
</script>

<script id="tmpl_lm_send_reports"  type="text/x-jquery-tmpl">
	<div>Send Reports</div>
		<span class="func_refresh_lsrq_tbl"><img src="/images/buttons/refresh.png" style="max-width: 1.5em; float: right; margin: .25em; cursor:pointer;"></span><table id="lsr_tbl"></table>

</script>



<script id="tmpl_gen_barcodes"  type="text/x-jquery-tmpl">
	<div>Generate Barcodes</div>
	<div>
		<form method="post" target="_blank" action="/api/v1.lab/func/generate_barcode.html">
			<textarea name="lab_ids"  style="height: 405px;" placeholder="Generate Barcodes" id="generate_barcodes_ta"></textarea>
			<input type="submit" />
		</form>
	</div>
	<div>
			<form class="func_generate_office_supply_kits">
				<input type="number" placeholder="# Kits"  name="num_office_supply" />
			<input type="submit"  value="Create Office Supply Kits"/>
		</form>

	</div>
</script>







<script id="tmpl_manual_scans"  type="text/x-jquery-tmpl">
<div>
{{if manualDisplay.length > 0 }}
{{each(ti, mf) manualDisplay}}
<div class="md_float">
	<div class="md_float_clipper">
 			<img src="/tmp/img/${mf}_sm.jpg" class="miniJPG" onclick="this.style.maxWidth='100%'; this.style.width='100%';" ondblclick="this.style.width=''; this.style.maxWidth='';" />
 	</div>
 			<input name="${mf}" autocomplete="off" placeholder="Lab ID"/>&nbsp;&nbsp;&nbsp;<input name="${mf}_rotate" autocomplete="off" placeholder="Rotate"/>
</div>
{{/each}}
{{else}}
<h4>No scans available</h4>
{{/if}}
</div>
</script>


<script id="tmpl_lc_pscs"  type="text/x-jquery-tmpl">
<div style="width: 900px; clear:both;">
<p><iframe src="http://batchgeo.com/map/1e114cc62c53971b6616e8630cb6e174" frameborder="0" width="100%" height="550" style="border:1px solid #aaa;border-radius:10px;"></iframe></p><p><small>View <a href="http://batchgeo.com/map/1e114cc62c53971b6616e8630cb6e174">LabCorp PSCs</a> in a full screen map</small></p>
</div>
</script>

<script id="tmpl_testing_status"  type="text/x-jquery-tmpl">
<div>
	<table id="testingStatus">
		<thead>
			<tr>
				<th>Lab ID</th>
				<th>Lab Status</th>
				<th>HH Status</th>
				<th>Updated</th>
			</tr>
		</thead>
		<tbody>
{{each(rsi, res) tkresults}}
			<tr>
				<td>${res.id}</td>
				<td>${res.loStatus} / ${res.labStatus}</td>
				<td>${res.surveyStatus}</td>
				<td>{{if res.LastDateUpdated}}${res.LastDateUpdated}{{else}}[${res.dateEntered}]{{/if}}</td>
			</tr>
{{/each}}
		</tbody>
	</table>
</div>
</script>	








<script>

var save_lc_lab_results=function(){
	var clean_all_labs=new Array();;
	var all_lclabs=new Array(); $('div.trends-icon').each(function(ti, te) {$(te).html(te.id)}); 
	$('.results-details-tbl-row').each(function(elmi, elm) {all_lclabs.push($(elm).text().split("\n"))}); 
	$.each(all_lclabs, function(ali, ale){ 
	clean_all_labs.push(new Array());
		$.each(all_lclabs[ali], function(sali, sale) { all_lclabs[ali][sali]=sale.trim(); 
						if (all_lclabs[ali][sali].length > 0) {
							clean_all_labs[ali].push(all_lclabs[ali][sali]);
							}  } )   }   ); 
var rep_id=$('#hdnPrintReportsIds').val();
var labcorp_lab_id=$('#accessionNo').val();
var rd_lc_id=$('#lc_res_rd_id').val();
var lc_collection_date=new Date($('.report-details .report-collected').text().match(/\d\d\/\d\d\/\d\d\d\d/g));
console.log({lc_collection_ts: lc_collection_date.toISOString(), labcorp_lab_id: labcorp_lab_id, lab_id:  rd_lc_id, results: clean_all_labs});
							$.postJSON('/api/v1.lab/post_labcorp_results', {lc_collection_ts: lc_collection_date.toISOString(), labcorp_lab_id: labcorp_lab_id, lab_id:  rd_lc_id, results: clean_all_labs}, function(data) {
									display_errs(data.errs);
									});

};

var get_lc_html=function() {$('#report_html_div').html($('#lcb').contents().find('#result-details-body').find('script,noscript,style').remove().end().html());};

var get_lc_html=function() {$('#report_html_div').html($('#lcb').contents().find('#result-details-body').find('script,noscript,style,link').remove().end().html());
	var clean_all_labs=new Array();;
	var all_labs=new Array(); 
	$('div.trends-icon').each(function(ti, te) {$(te).html(te.id)}); 
	$('.results-details-tbl-row').each(function(elmi, elm) {all_labs.push($(elm).text().split("\n"))}); 
	$.each(all_labs, function(ali, ale){ 
	clean_all_labs.push(new Array());
		$.each(all_labs[ali], function(sali, sale) { all_labs[ali][sali]=sale.trim(); 
						if (all_labs[ali][sali].length > 0) {
							clean_all_labs[ali].push(all_labs[ali][sali]);
							}  } )   }   ); 

var rep_id=$('#hdnPrintReportsIds').val();
var labcorp_lab_id=$('#accessionNo').val();
var rd_lc_id=$('#lc_res_rd_id').val();

var lc_collection_date=new Date($('.report-details .report-collected').text().match(/\d\d\/\d\d\/\d\d\d\d/g));

	  
	  var tmp_pre='';
	  $.each(clean_all_labs, function(ie, ee) {tmp_pre+=ee.join(' ' ); tmp_pre+="\n"; })
	  $('#tmp_lc_results_review').html(tmp_pre);
	
	
};


</script>

<script id="tmpl_lc_results"  type="text/x-jquery-tmpl">
<style>#report_html_div {display: none;}</style>
<form class="func_get_labcorp_results">
<input onclick="get_lc_html();" type="button" value="Get Report" />
<input name="lab_id" id="lc_res_rd_id" placeholder="LabID"/>
<input onclick="save_lc_lab_results();" type="button" value="Save Results" />
</form>
<pre id="tmp_lc_results_review"></pre>
<iframe id="lcb" src="https://www.labcorpbeacon.com/results-web/results/authentication/public/login" width="740px" height="800px"></iframe>
<div id="report_html_div"></div>
</script>