% if (0) {
<div id="patient_info">
            <p id="current_action" class="dashboard"></p>
            <p class="selected_patient" id="working_patient"></p>
            <p class="userbtn"><a href="#" title="">Profile</a></p>
</div>
%	}
	<div class="pinfo_msgs_div">&nbsp;<span class="pinfo_msgs"></span></div>
<div id="pc_summary">
	<div id="pc_sum_top"></div>
	<div class="left_bar">
		<h5>Summary&nbsp;<span class="visible_pt_id"></span></h5>
		<div class="indent_15_em">
			<div id="pc_refill_reqs"></div>
			<div id="pc_sum_report_list" class="report_list pc_unpriv"></div>
			<div id="pc_package_tracking"></div>			
			<div id="pc_msg_hist"></div>			
			<div id="pc_new_recs "></div>
			<div id="pc_new_msg">
					<form method="post" onsubmit="send_ssl_msg(this); return false;" data-respdiv="respdiv_sum">
						<div><h4 class="rsection_title title_top">Send a Message to pharmacy:</h4></div>
						<textarea id="secure_msg_ta_sum" class="secure_msg_ta" autofocus placeholder="Send a message to pharmacy about this patient..." name="secure_msg" style="width: 300px ; margin 1.5em auto; min-height: 3em;"></textarea>
						<div>
							<input type="submit" value="Send Message" class="ui-button ui-widget ui-state-default ui-corner-all" role="button"> &nbsp; <span id="respdiv_sum"></span>
						</div>
					</form>

			</div>
			<div id="update_cc_an">{{tmpl({pat: pat}) '#tmpl_update_pt_cc_area'}}</div>
		</div>
	</div>
	<div class="right_bar">
		<div class="padded_box">
			<div id="pc_testing_status" class="pc_testing_status pc_unpriv"></div>
				<div id="rx_notes_div" class="gray_box"></div>
				<div id="sms_history_area" class="gray_box"></div>
				<div id="call_history_area" class="gray_box"></div>
				<div id="summary_rxHist_tbody" class="rxHistory_area"></div>
			<div id="pc_recent_activity" class="pc_recent_activity pc_unpriv"></div>
		</div>
	</div>



</div>

<div id="pc_history">
	<div class="left_bar">
		<h5>History</h5>
		<div class="indent_15_em">
					<ul class="pc_chart_tabs" id="pc_chart_tabs">
						<li class="ui-button ui-widget ui-state-default ui-corner-all" onclick="pc_rxh_scrollbar.tinyscrollbar_update();"><a href="#rxHist_tbody" id="pc_med_hist_a" >Medication History</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#otcHist_tbody" id="pc_OTC_hist_a">OTC History</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" style="display:none; " ><a href="#labOrderHist_div" id="pc_lab_hist_a">Lab Order History</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" onclick="recentActivity_div_sb_scrollbar.tinyscrollbar_update();"><a href="#recentActivity_div" id="pc_recent_act_a" >Recent Activity</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_hist_shipping" id="pc_hist_t4">Shipping History</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_hist_messages" id="pc_hist_t5">Messages</a></li>
					</ul>
		</div>
	</div>
	<div class="right_bar">
		<div class="padded_box">
			<div id="rx_history_pc">
				<div id="otcHist_tbody"></div>
				<div id="rxHist_tbody"></div>

				<div id="labOrderHist_div">
					{{if rd.pobj.Lab_Orders}}
						<table>
							<thead>
								<tr>
									<th>Lab Test</th>
									<th>RxNumber</th>
									<th>Date Order</th>
									<th>Date Filled</th>
								</tr>
							</thead>
							<tbody>
								{{each(inx, lbo) rd.pobj.Lab_Orders}}
									<tr>
										<td>${lbo.DrugName}</td>
										<td>${lbo.RxNumber}</td>
										<td>${lbo.DatePrescribed}</td>
										<td>${lbo.DateFilled}</td>
									</tr>
								{{/each}}
							</tbody>
						</table>
					{{else}}
						<b>No lab orders on file</b>
					{{/if}}
				</div>
				<div id="recentActivity_div" class="pc_recent_activity"></div>


				<div id="pc_hist_shipping"></div>
				<div id="pc_hist_messages"><table id="pc_hist_msgs_tbl"></table></div>

			</div>
		</div>
	</div>
</div>


<div id="pc_pinfo_area">
	<div class="left_bar">
		<h5>Patient Information</h5>
		<div class="indent_15_em">
					<ul class="pc_chart_tabs">
						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_pinfo_address" id="pc_bil_t0">Address</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_pinfo_billing" id="pc_bil_t1">Insurance &amp; Billing</a></li>

						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_pinfo_send_msg" id="pc_send_msg_rx">Send Message</a></li>
					</ul>

		</div>
	</div>
	<div class="right_bar">
		<div class="padded_box">
			<div id="pc_bil_t3">
				<div id="pc_pinfo_address"><b>Patient Information</b></div>
				<div id="pc_pinfo_billing"><b>Insurance &amp; Billing Information</b></div>
				<div id="pc_pinfo_send_msg">
					<form method="post" onsubmit="send_ssl_msg(this); return false;" >
						<div><h4 class="title_top rsection_title">Send a Message to pharmacy:</h4></div>
						<textarea id="secure_msg_ta" class="secure_msg_ta" autofocus placeholder="Send a message to pharmacy about this patient..." name="secure_msg" style="width: 600px ; margin 1.5em auto; min-height: 9em;"></textarea>
						<div>
							<input type="submit" value="Send Message" class="ui-button ui-widget ui-state-default ui-corner-all" role="button">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


</div>


<div id="pc_rxpad">
RxPad Here	
</div>



<div id="pc_full_chart">

	<div class="left_bar">
		<h5>Chart</h5>
		<div class="indent_15_em" >
			<ul class="pc_chart_tabs">
				<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_labs" id="pc_bil_t0">Lab Charts</a></li>

				<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_hh" id="pc_bil_t1">Health History</a></li>
				<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_sym" id="pc_bil_t2">Symptoms Charts</a></li>
				<li  class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_notes" id="pc_bil_t3">Notes</a></li>
			</ul>
			<div id="report_list"></div>
		</div>
	</div>
	<div class="right_bar">
		<div class="padded_box">
			<div id="pc_bil_tb3">


				<div id="pc_labs">
					<div id="LabArea"></div>
					<div id="lab_graphing_area"></div>
				</div>
				

				
				<div id="pc_hh">
					<b class="rsection_title">Health History Information</b>
					{{if rd.gRxN}}
					<div id="importantInfo"><div id="imp_info_header">Health &amp; Lifestyle Information</div>	<ul class="healthConditionsList"></ul></div>
						{{tmpl({pat: pat}) "#tmpl_pat_summary"}}
						<div id="medicalHistoryArea"></div>
					{{else}}
					<div>No Health History on file</div>
					{{/if}}
				</div>
				<div id="pc_sym">
					<b class="rsection_title" style="display:block;">Symptoms History &amp; Charts</b>
					<div id="HormoneSummary"></div>
					<div id="symptomList"></div>
					<div id="sym_graphing_area"></div>
				</div>

				<div id="pc_notes">
					<div id="notes_storage">
						<b id="note_header" class="rsection_title">Notes</b>
						<div style="display: inline-block;max-width: 700px;">
							{{tmpl({notes: pat.notes}) "#tmpl_pat_notes"}}
						</div>
						{{tmpl "#tmpl_add_notes"}}
					</div>
				</div>

			</div>
		</div>
	</div>


</div>









</div>

% $m->comp('patient_chart_misc.html');

