% $m->comp('address_mgmt.html');


<script type="text/x-jquery-tmpl" id="tmpl_pinfo_area_wedit">
<h3 class="rsection_title">Contact &amp; Address Information</h3>
<div class="pinfo_funcs"><a class="toggle_edit_pinfo" href="#" id="toggle_edit_pinfo">Edit</a><a class="toggle_save_pinfo" id="toggle_save_pinfo"  href="#"  style="display:none;">Save</a></div>
<div id="pinfo_display">
	<div><span class="pc_pinfo_form_label">Name:</span> <span id="PatientFirstName" class="ji_edit">${PatientFirstName}</span> <span id="PatientLastName" class="ji_edit">${PatientLastName}</span>       </div>       <div>       	<span class="pc_pinfo_form_label">Date of Birth:</span> <span id="DOB" class="ji_edit">${DOB}</span>       </div>       <div>       	<span class="pc_pinfo_form_label">Sex:</span> <span id="sex" class="ji_edit">${Sex}</span>       </div>                     <br style="clear:none;" />       <div id="pc_contact_info_area">       	<div><span class="pc_pinfo_form_label">Daytime Tel:</span> <span class="ji_edit" id="PatientPhone">${PatientPhone}</span></div>       	<div><span class="pc_pinfo_form_label">Alternate Tel:</span> <span class="ji_edit" id="PatientWorkPhone">${PatientWorkPhone}</span></div>       	<div><span class="pc_pinfo_form_label">Email:</span><span href="mailto:${email}" class="ji_edit" id="email">${email}</span></div>       </div>
</div>

<div id="pinfo_edit" >
<form id="pinfo_edit_form" style="display:none;">
	<div><span class="pc_pinfo_form_label">Name:</span> <input placeholder="First Name" name="PatientFirstName" value="${PatientFirstName}" /> <input  placeholder="Last Name"  name="PatientLastName" value="${PatientLastName}" /></div>
	<div>       	<span class="pc_pinfo_form_label">Date of Birth:</span> <input type="date" class="use_datepicker" name="DOB" value="${DOB}" placeholder="MM/DD/YYYY"/></div>
	<div>       	<span class="pc_pinfo_form_label">Sex:</span> <label style="display: inline-block;"class="label_radio {{if Sex == 'F'}}r_on{{/if}}" for="pisf">F <input id="pisf" style="display: inline-block;" type="radio" name="sex" value='F' {{if Sex == 'F'}}checked="checked"{{/if}}/></label> &nbsp;  <label class="label_radio {{if Sex == 'M'}}r_on{{/if}}" style="display: inline-block;" for="pism">M <input id="pism" type="radio"  name="sex" value='M' {{if Sex == 'M'}}checked="checked"{{/if}}/></label></span>       </div>                     <br style="clear:none;" />       
	<div id="pc_contact_info_area_edit">       	
	<div><span class="pc_pinfo_form_label">Daytime Tel:</span> <input type="tel" placeholder="Phone" name="PatientPhone" value="${PatientPhone}" /></span></div>       	
	<div><span class="pc_pinfo_form_label">Alternate Tel:</span> <input type="tel" placeholder="Alt Phone" name="PatientWorkPhone" value="${PatientWorkPhone}" /></span></div>       	
	<div><span class="pc_pinfo_form_label">Email:</span><input type="email" value="${email}" name="email" placeholder="Email"></span></div>       </div>       
	<input type="hidden" name="patientID" value="${rd.patientid}" />
</form>
</div>








<div id="pc_shipping_choices">{{tmpl(rd.pobj.info.pinfo) "#tmpl_address_mgmt"}}</div>
</script>











<script type="text/x-jquery-tmpl" id="tmpl_pinfo_area">
	
<div>
	<span class="pc_pinfo_form_label">Name:</span> <span id="PatientFirstName" class="ji_edit">${PatientFirstName}</span> <span id="PatientLastName" class="ji_edit">${PatientLastName}</span>
</div>
<div>
	<span class="pc_pinfo_form_label">Date of Birth:</span> <span id="DOB" class="ji_edit">${DOB}</span>
</div>
<div>
	<span class="pc_pinfo_form_label">Sex:</span> <span id="sex" class="ji_edit">${Sex}</span>
</div>

<div id="pc_shipping_choices" class="css3_2column">
%	if (0) {
	<table>
		<tr><td>
					<div>
						<span class="pc_pinfo_form_label">Ship to Primary Address:</span> <input id="shipTo"  name="shipto" value="primary" type="radio" {{if rd.pobj.info.pinfo.shipTo != 'alternate'}}checked="checked"{{/if}} onclick="changeShipTo(this);" />
						{{if typeof rd.pobj.info.pinfo.PatientCity == 'string'}}
						<div>
							<span id="PatientAddressLine1" class="ji_edit">${PatientAddressLine1}</span>
						</div>
						<div>
							<span id="PatientAddressLine2" class="ji_edit">${PatientAddressLine2}</span>
						</div>
						<div>
							<span id="PatientCity" class="ji_edit">${PatientCity}</span>
						</div>
						<div>
							<span id="PatientState" class="ji_edit">${PatientState}</span>, <span class="ji_edit" id="PatientZIP">${PatientZIP}</span>
						</div>
						{{else}}						<input type="button" id="add_pri address_button" value="Add Address" class="add_address_button ui-button ui-widget ui-state-default ui-corner-all" role="button" data-patientid="${rd.patientid}" data-addressType="primary">{{/if}}
					</div>
	</td>
	<td>
					<div>
						<span class="pc_pinfo_form_label">Ship to Alternate Address:</span> <input id="shipTo" name="shipto" value="alternate" type="radio" {{if rd.pobj.info.pinfo.shipTo == 'alternate'}}checked="checked"{{/if}} onclick="changeShipTo(this);"/>
						{{if typeof rd.pobj.info.pinfo.shippingCity == 'string'}}
						<div>
							<span id="shippingAddressLine1" class="ji_edit">${shippingAddressLine1}</span>
						</div>
						<div>
							<span class="ji_edit" id="shippingAddressLine2" >${shippingAddressLine2}</span>
						</div>
						<div>
							<span id="shippingCity" class="ji_edit">${shippingCity}</span>
						</div>
						<div>
							<span class="ji_edit" id="shippingState">${shippingState}</span>, <span class="ji_edit" id="shippingZIP">${shippingZIP}</span>
						</div>
						{{else}}
								<input type="button" id="add_alt address_button" value="Add Alternate Address" class="add_address_button ui-button ui-widget ui-state-default ui-corner-all" role="button" data-patientid="${rd.patientid}" data-addressType="alternate">
														<div>
							<span id="shippingAddressLine1" class="ji_edit">${shippingAddressLine1}</span>
						</div>
						<div>
							<span class="ji_edit" id="shippingAddressLine2" >${shippingAddressLine2}</span>
						</div>
						<div>
							<span id="shippingCity" class="ji_edit">${shippingCity}</span>
						</div>
						<div>
							<span class="ji_edit" id="shippingState">${shippingState}</span>, <span class="ji_edit" id="shippingZIP">${shippingZIP}</span>
						</div>

						{{/if}}

					</div>
		</td></tr>
	</table>
% 	}
<h5>Manage Addresses:</h5>
	{{tmpl(rd.pobj.info.pinfo) '#tmpl_address_mgmt'}}
</div>
<br style="clear:none;" />
<div id="pc_contact_info_area">
	<div><span class="pc_pinfo_form_label">Daytime Tel:</span> <span class="ji_edit" id="PatientPhone">${PatientPhone}</span></div>
	<div><span class="pc_pinfo_form_label">Alternate Tel:</span> <span class="ji_edit" id="PatientWorkPhone">${PatientWorkPhone}</span></div>
	<div><span class="pc_pinfo_form_label">Email:</span><span href="mailto:${email}" class="ji_edit" id="email">${email}</span></div>
</div>
</script>

<script type="text/x-jquery-tmpl" id="tmpl_pc_billing_area">


</script>







<script type="text/x-jquery-tmpl" id="tmpl_pc_billing_areatest">
	<table>
		<thead>     <tr>      <th>Product</th>      <th >QTY</th>      <th class="small_header">Date Filled</th>	</tr></thead>
		<tbody>
			{{each(oi, otcp}}
							<tr>      <th>Product</th>      <th >QTY</th>      <th class="small_header">Date Filled</th>	</tr>
			{{/each}}
		</tbody>
	</table>

</script>
