        	<img src="/private_img/${encodeURI(xat)}/patient_${Crypto.SHA256(rd.patientid, { asString: true })}.png" width="44" height="44" class="hoverimg" alt="">
            <p id="current_action" class="dashboard"></p>
            <p class="selected_patient" id="working_patient"></p>
            <p class="userbtn"><a href="#" title="">Profile</a></p>





