NOT USED
<div id="pc_history">
	<div class="left_bar">
		<h5>History</h5>
		<div class="indent_15_em">
					<ul class="pc_chart_tabs" id="pc_chart_tabs">
						<li class="ui-button ui-widget ui-state-default ui-corner-all" onclick="pc_rxh_scrollbar.tinyscrollbar_update();"><a href="#rxHist_tbody" id="pc_med_hist_a" >Medication History</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#otcHist_tbody" id="pc_OTC_hist_a">OTC History</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" style="display:none; " ><a href="#labOrderHist_div" id="pc_lab_hist_a">Lab Order History</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" onclick="recentActivity_div_sb_scrollbar.tinyscrollbar_update();"><a href="#recentActivity_div" id="pc_recent_act_a" >Recent Activity</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_hist_shipping" id="pc_hist_t4">Shipping History</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#pc_hist_messages" id="pc_hist_t5">Messages</a></li>
					</ul>
		</div>
	</div>
	<div class="right_bar">
		<div class="padded_box">
			<div id="rx_history_pc">
				<div id="otcHist_tbody"></div>
				<div id="rxHist_tbody"></div>

				<div id="labOrderHist_div">
					{{if rd.pobj.Lab_Orders}}
						<table>
							<thead>
								<tr>
									<th>Lab Test</th>
									<th>RxNumber</th>
									<th>Date Order</th>
									<th>Date Filled</th>
								</tr>
							</thead>
							<tbody>
								{{each(inx, lbo) rd.pobj.Lab_Orders}}
									<tr>
										<td>${lbo.DrugName}</td>
										<td>${lbo.RxNumber}</td>
										<td>${lbo.DatePrescribed}</td>
										<td>${lbo.DateFilled}</td>
									</tr>
								{{/each}}
							</tbody>
						</table>
					{{else}}
						<b>No lab orders on file</b>
					{{/if}}
				</div>
				<div id="recentActivity_div" class="pc_recent_activity"></div>


				<div id="pc_hist_shipping"></div>
				<div id="pc_hist_messages"><table id="pc_hist_msgs_tbl"></table></div>

			</div>
		</div>
	</div>
</div>

