
<script id="tmpl_display_rxq_item_med" type="text/x-jquery-tmpl">

	<div class="rxp_med {{if control_level}}controlled control_level_${control_level}{{/if}}" style="width: 40em;">
		<span class="med_rxid"><input type="checkbox" value="${RxID}" name="rx_ids" id="cbox_${RxID}" form="rxq_update" {{if RxStatus == "Queued"}} {{else}} disabled="disabled"{{/if}} /></span>		
		<span class="med_refill_rxn">${refillRxNumber}</span>		
		<span class="med_refill_rxn">${refillRxNumber}</span>
		<span class="med_name med_medication"><label for="cbox_${RxID}">{{if RxStatus == "Queued"}} {{else}}[${RxStatus}] {{/if}}${Medication}</label></span>
		<span class="med_dose">${Dose}</span>
		<span class="med_qty">${Qty}</span>
		<span class="med_refills">${Refill}</span>
		<div class="med_sig">${Instructions}</div>
	</div>

</script>


<script id="tmpl_display_rxq_item_med_cf" type="text/x-jquery-tmpl">
	<div class="rxp_med {{if control_level}}controlled control_level_${control_level}{{/if}}" style="width: 40em;">
		<span class="med_rxid"><input type="checkbox" value="${RxID}" name="rx_ids" id="cbox_${RxID}" form="rxq_update" {{if RxStatus == "Queued"}} {{else}} disabled="disabled"{{/if}} /></span>		
		<span class="med_name med_medication"><label for="cbox_${RxID}">{{if RxStatus == "Queued"}} {{else}}[${RxStatus}] {{/if}}${Medication}</label></span>
		<span class="med_dose">${Dose}</span>
		<span class="med_qty">${rx_data.qty_disp}</span>
		<span class="med_refills">${rx_data.rf_rem} / ${rx_data.rf_auth}</span>
		<div class="med_sig">${Instructions}</div>
		<div class="cf_rx_info_details">
			<span class="med_rxn">[${rx_data.RxN}]</span> &nbsp; 
			<span class="cf_rx_date">Fill Date: ${rx_data.fill_date}</span>&nbsp; <a href="#" onclick="$('#${RxID}_details.cf_rx_info_details_more').show(); return false;">See Details</a>

			<div id="${RxID}_details" class="cf_rx_info_details_more" style="display:none;">
            <div class="rx_details_more rxed_date" data-label="rxed_date">${rx_data.rxed_date}</div>
            <div class="rx_details_more start_date" data-label="start_date">${rx_data.start_date}</div>
            <div class="rx_details_more orig_date" data-label="orig_date">${rx_data.orig_date}</div>
            <div class="rx_details_more stop_date" data-label="stop_date">${rx_data.stop_date}</div>
            <div class="rx_details_more exp_date" data-label="exp_date">${rx_data.exp_date}</div>
           
            <div class="rx_details_more TxN" data-label="TxN">${rx_data.TxN}</div>
			<div class="rx_details_more day_supply" data-label="day_supply">${rx_data.day_supply}</div>
            <div class="rx_details_more qty_auth" data-label="qty_auth">${rx_data.qty_auth}</div>
            <div class="rx_details_more safety_cap" data-label="safety_cap">${rx_data.safety_cap}</div>

            <div class="rx_details_more Refill" data-label="Refill">${rx_data.Refill}</div>
            <div class="rx_details_more Copay" data-label="Copay">${rx_data.Copay}</div>
            <div class="rx_details_more Price" data-label="Price">${rx_data.Price}</div>
			</div>
		</div>
	</div>

</script>












<script id="tmpl_display_rxq_item" type="text/x-jquery-tmpl">
<section id="dialog_wrap">
	<header id="dialog_header">
{{if !qdata.is_central_fill}}
	{{if typeof patient.QS1CODE == "undefined" || patient.QS1CODE =='' || patient.QS1CODE === null}}
	<div id="needsQS1CODE">
		<form name="qs1update" method="POST" >
			<span style="color:red; font-weight:bold;">Patient Needs to be Entered into QS1!  &nbsp;<b>${meds[0].patientID}</b></span><br/>
			<!--
				<span style="" >Please enter QS1CODE: <input type="text" name="QS1CODE" /></span><br/>
				<input type="submit" value="Update QS1" class=" ui-button ui-widget ui-state-default ui-corner-all" role="button" />
			-->
		</form>
	</div>
	{{/if}}
{{/if}}
		<div id="dialog_title"><h3>{{if qdata.is_central_fill}}${qdata.cf_provider_name}, ${qdata.cf_degree}{{else}}${meds[0].doctorName}{{/if}}</h3></div>
	</header><!-- #dialog_header -->

	<article id="cf_wrap">
		<div id="cf_nonmeds_row">
			<div id="cf_meta">
{{if qdata.is_central_fill}}
				<div id="cf_prescriber_meta">
					<h3>Prescriber Information</h3>
					<p id="cf_prescriber_address">	
					<div id="provider-header">
						<div style="float: left;">
							Address:
							<span style="font-size: smaller;">
								<div class="central_fill" id="cf_provider_info_display">
									<div class="prescriber_name">${qdata.cf_provider_name}, ${qdata.cf_degree}</div>
									<div class="address_info">
										<div>${qdata.cf_paddress1}</div>
										<div>${qdata.cf_pcity}, ${qdata.cf_pstate} ${qdata.cf_pzip}</div>
									</div>
								</div>							
							</span>
						</div>
					</div>
					</p>
					<p id="cf_prescriber_phf">Phone/Fax:<span style="font-size: smaller;">${qdata.cf_pphone} / ${qdata.cf_pfax}</span></p>
					<p>
						<ul class="inline">
							<li id="cf_prescriber_reg">REG: ${qdata.cf_dea}</li>
							<li id="cf_prescriber_npi">NPI: ${qdata.cf_npi}</li>
						</ul>
					</p>
				</div><!-- #cf_prescriber_meta -->

{{else}}
				<div id="cf_prescriber_meta">
					<h3>Prescriber Information</h3>
					<p id="cf_prescriber_address">	
					<div id="provider-header">
						<div style="float: left;">
							Address:
							<span style="font-size: smaller;">
								<div>${meds[0].doctorAddress1}</div>
								<div>${meds[0].doctorAddress2}</div>
								<div>${meds[0].doctorCity}, ${meds[0].doctorState} ${meds[0].doctorZIP}</div>
							</span>
						</div>
					</div>
					</p>
					<p id="cf_prescriber_phf">Phone/Fax:<span style="font-size: smaller;">${meds[0].doctorPhone1} / ${meds[0].doctorFax}</span></p>
					<p>
						<ul class="inline">
							<li id="cf_prescriber_reg">REG: ${meds[0].DEANum}</li>
							<li id="cf_prescriber_npi">NPI: ${meds[0].NPI}</li>
						</ul>
					</p>
				</div><!-- #cf_prescriber_meta -->
				{{/if}}
				<div id="cf_client_meta">
					<h3>Patient Information</h3>
					<p>${meds[0].patientID}</p>
					<p>${meds[0].PatientFirstName} ${meds[0].PatientLastName} (${meds[0].DOB})</p>
					<p id="cf_client_address">${meds[0].PatientAddressLine1} ${meds[0].PatientAddressLine2} ${meds[0].PatientCity}, ${meds[0].PatientState} ${meds[0].PatientZIP}</p>
					<p id="cf_client_phones">TELEPHONE<br />
						<ul class="inline">
							<li id="cf_client_hph">H: ${meds[0].PatientPhone}</li>
							<li id="cf_client_wph">W: ${meds[0].PatientWorkPhone}</li>
						</ul>
					</p>
					<p id="cf_client_email">${meds[0].email}</p>
				</div><!-- #cf_client_meta -->
			</div><!-- #cf_meta -->
{{if qdata.is_central_fill}}
			<div id="cf_area">
				<h2>**Central Fill**</h2>
			{{if rx_image}}
				<a href="${URL.createObjectURL(datauri_to_blob(rx_image))}" target="_blank"><div>Full Image</div>
			{{if 0}}
				<object data="${rx_image}"  width="400" height="400" id="cf_img"  style="max-width:400px; max-height:400px;">
					alt : <a href="${rx_image}" target="_blank">View Full</a>
  			</object>
  			{{else}}<img src="${rx_image}" id="cf_img"  style="max-width:400px; max-height:400px;"/>{{/if}}
				</a>
			{{/if}}
			</div><!-- #cf_area -->
		</div>
{{/if}}
		<div id="cf_meds_row">
						<div class="rxp_med" data-medid="" style="white-space: nowrap; border: 2px whiteSmoke; border-radius: 0.8em 0.8em 0.0em 0.0em; background-color: #FAFAFA; border-color: whiteSmoke; border-bottom: none;">
						
							<span class="remove_med" data-medid="" style="visibility:hidden;"></span>
							<span class="med_medication">Medication</span>
							<span class="med_dose">Dose</span>
							<span class="med_qty">QTY</span>
							<span class="med_refills">Refills</span>
							<div style="display:none;" class="med_sig">Instructions</div>
						</div>
					<div id="rxp_form"  >
						<div id="rxp_meds">{{if qdata.is_central_fill}}{{tmpl(meds) "#tmpl_display_rxq_item_med_cf"}}{{else}}{{tmpl(meds) "#tmpl_display_rxq_item_med"}}{{/if}}</div>

					</div>
					<div id="rxpad_foot">
						<div class="rx_verify" id="rxp_electronic_sig" style="padding: 1.5em;">Electronically Signed By: ${signer}</div>
						<div id="rx_submit">
							<form id="rxq_update" >
								<input type="hidden" name="GroupID" value="${meds[0].GroupID}" />
								<input type="hidden" name="qid" value="${qid}" />
								<input type="submit" id="rxp_submit_s" value="Remove from Queue"  form="rxp_form" class="rx_verify ui-button ui-widget ui-state-default ui-corner-all"  onclick="$('#rxq_update').submit(); return false;;">
							</form>
{{if qdata.is_central_fill}}
							<form id="rxq_cf_accept" >
								<input type="hidden" name="GroupID" value="${meds[0].GroupID}" />
								<input type="hidden" name="qid" value="${qid}" />
								<input type="submit" id="rxp_accept_s" value="Accept"  form="rxq_cf_accept" class="rx_verify ui-button ui-widget ui-state-default ui-corner-all"  onclick="$('#rxq_cf_accept').submit(); return false;;">
							</form>
							<form id="rxq_cf_reject" >
								<input type="hidden" name="GroupID" value="${meds[0].GroupID}" />
								<input type="hidden" name="qid" value="${qid}" />
								<input type="submit" id="rxp_submit_s" value="Reject"  form="rxq_cf_reject" class="rx_verify ui-button ui-widget ui-state-default ui-corner-all"  onclick="$('#rxq_cf_reject').submit(); return false;;">
							</form>

{{/if}}

					</div>
	</article><!-- #cf_wrap -->
</section><!-- #dialog_wrap -->
</script>




<script id="tmpl_display_rxq_item_next_gen" type="text/x-jquery-tmpl">
<div>
	{{if typeof patient.QS1CODE == "undefined" || patient.QS1CODE =='' || patient.QS1CODE === null}}
	<div id="needsQS1CODE">
		<form name="qs1update" method="POST" >
			<span style="color:red; font-weight:bold;">Patient Needs to be Entered into QS1!  &nbsp;<b>${meds[0].patientID}</b></span><br/>
			<!--
				<span style="" >Please enter QS1CODE: <input type="text" name="QS1CODE" /></span><br/>
				<input type="submit" value="Update QS1" class=" ui-button ui-widget ui-state-default ui-corner-all" role="button" />
			-->
		</form>
	</div>
	{{/if}}

			<div id="rxpad_order_area">
				<div id="rxpad"  class="ui-form ">
					<div style="width: 40em;" id="rxp_head">
						<div>
						<div id="provider-header">
						<div style="float: left;">
							Address:
							<span style="font-size: smaller;">
								<div>${meds[0].doctorAddress1}</div>
								<div>${meds[0].doctorAddress2}</div>
								<div>${meds[0].doctorCity}, ${meds[0].doctorState} ${meds[0].doctorZIP}</div>
							</span>
						</div>
{{if qdata.cf_img}}
						<div style="float: right;" id="cf_area">
						<b style="color: #3A7D97; font-size: 1.1em">**Central Fill**</b>
							<a href="${qdata.cf_img}" target="_blank"><img src="${qdata.cf_img}" id="cf_img"  style="max-width:400px; max-height:400px;"/></a>
						</div>
{{/if}}
						<div style="float:right:">
							Phone/Fax:<span style="font-size: smaller;">${meds[0].doctorPhone1} / ${meds[0].doctorFax}</span>
						</div>
						<br style="clear:both;" />
						<div style="font-size:smaller;">REG: ${meds[0].DEANum} &nbsp; &nbsp; NPI: ${meds[0].NPI}</div>
						</div>
						<div id="rx_pat_info">
							<div>${meds[0].patientID}</div>
							<div>${meds[0].PatientFirstName} ${meds[0].PatientLastName} (${meds[0].DOB})</div>
							<div>${meds[0].PatientAddressLine1} ${meds[0].PatientAddressLine2} ${meds[0].PatientCity}, ${meds[0].PatientState} ${meds[0].PatientZIP}</div>
							<div>TELEPHONE H: ${meds[0].PatientPhone} W: ${meds[0].PatientWorkPhone} &nbsp; <b>Email:</b> ${meds[0].email}</div>
						</div>
						</div>
						<div class="rxp_med" data-medid="" style="white-space: nowrap; border: 2px whiteSmoke; border-radius: 0.8em 0.8em 0.0em 0.0em; background-color: #FAFAFA; border-color: whiteSmoke; border-bottom: none;">
						
							<span class="remove_med" data-medid="" style="visibility:hidden;"></span>
							<span class="med_medication">Medication</span>
							<span class="med_dose">Dose</span>
							<span class="med_qty">QTY</span>
							<span class="med_refills">Refills</span>
							<div style="display:none;" class="med_sig">Instructions</div>
						</div>
					</div>
					<div id="rxp_form"  >
						<div id="rxp_meds">{{tmpl(meds) "#tmpl_display_rxq_item_med"}}</div>
					</div>
					<div id="rxpad_foot">
						<div class="rx_verify" id="rxp_electronic_sig" style="padding: 1.5em;">Electronically Signed By: ${signer}</div>
						<div id="rx_submit">
							<form id="rxq_update" >
								<input type="hidden" name="GroupID" value="${meds[0].GroupID}" />
								<input type="hidden" name="qid" value="${qid}" />
								<input type="submit" id="rxp_submit_s" value="Remove from Queue"  form="rxp_form" class="rx_verify ui-button ui-widget ui-state-default ui-corner-all"  onclick="$('#rxq_update').submit(); return false;;">
							</form>
					</div>
				</div>

</div>
</script>
<script id="tmpl_search_rx_queue" type="text/x-jquery-tmpl">
	<div>
		<form class="func_search_rx_queue">
			<div>Start:<input type="date" name="date_start" /> - End: 			<input type="date" name="date_stop" /></div>
			<div>Name Like: <input name="last_name" /></div>
			<div>Status: <input name="qstatus" list="qstatuses_list" />
				<datalist id="qstatuses_list">
						<option value="New">
						<option value="viewed">
				</datalist>
			</div>
			<input type="submit" value="search" />
		</form>
	</div>
</script>


<style>
.rx_details_more:before {
	content: attr(data-label) ": ";
}
#dialog_wrap {
	width: 900px;
	margin: 0 auto;
	border: 1px dotted #c0c0c0;
}
#dialog_title {
	text-align: center;
}
#dialog_title h3 {
	margin: 0 auto;
	font-weight: bold;
	margin-bottom: 8px;
	font-size: 16px;
	text-align: center;
}
#cf_nonmeds_row {
	padding: 0 20px;
}
#cf_meta, #cf_area {
	display: inline-block;
	clear: none;
}
#cf_meta {
	width: 500px;
	min-height: 422px;
}
#cf_prescriber_meta {
	margin-bottom: 4em;
}
#cf_area {
	width: 310px;
	height: 418px;
	float: right;
	border: 1px dotted green;
}
#cf_img {
	max-height: 400px;
	max-width: 400px;
	margin: 0;
	padding: 0;
}
ul.inline {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}
ul.inline li {
	padding: 0;
	display: inline-block;
}
ul.inline li:first-of-type {
	margin-left: 0;
}
ul.inline li:not(:first-of-type) {
	margin-left: 4em;
}
#cf_meds_row {
	width: 100%;
	padding: 0 20px;
}
#rxq_update {display: inline;}
#rxq_cf_accept {display: inline;}
#rxq_cf_reject {display: inline;}
</style>

























<!-- OLD -->

<script id="tmpl_display_rxq_item_orig" type="text/x-jquery-tmpl">
<div>
	{{if typeof patient.QS1CODE == "undefined" || patient.QS1CODE =='' || patient.QS1CODE === null}}
	<div id="needsQS1CODE">
		<form name="qs1update" method="POST" >
			<span style="color:red; font-weight:bold;">Patient Needs to be Entered into QS1!  &nbsp;<b>${meds[0].patientID}</b></span><br/>
			<!--
				<span style="" >Please enter QS1CODE: <input type="text" name="QS1CODE" /></span><br/>
				<input type="submit" value="Update QS1" class=" ui-button ui-widget ui-state-default ui-corner-all" role="button" />
			-->
		</form>
	</div>
	{{/if}}

			<div id="rxpad_order_area">
				<div><b class="rsection_title">${meds[0].doctorName}</b></div>
				<div id="rxpad"  class="ui-form ">
					<div style="width: 40em;" id="rxp_head">
						<div>
						<div id="provider-header">
						<div style="float: left;">
							Address:
							<span style="font-size: smaller;">
								<div>${meds[0].doctorAddress1}</div>
								<div>${meds[0].doctorAddress2}</div>
								<div>${meds[0].doctorCity}, ${meds[0].doctorState} ${meds[0].doctorZIP}</div>
							</span>
						</div>
{{if qdata.cf_img}}
						<div style="float: right;" id="cf_area">
						<b style="color: #3A7D97; font-size: 1.1em">**Central Fill**</b>
							<a href="${qdata.cf_img}" target="_blank"><img src="${qdata.cf_img}" id="cf_img"  style="max-width:400px; max-height:400px;"/></a>
						</div>
{{/if}}
						<div style="float:right:">
							Phone/Fax:<span style="font-size: smaller;">${meds[0].doctorPhone1} / ${meds[0].doctorFax}</span>
						</div>
						<br style="clear:both;" />
						<div style="font-size:smaller;">REG: ${meds[0].DEANum} &nbsp; &nbsp; NPI: ${meds[0].NPI}</div>
						</div>
						<div id="rx_pat_info">
							<div>${meds[0].patientID}</div>
							<div>${meds[0].PatientFirstName} ${meds[0].PatientLastName} (${meds[0].DOB})</div>
							<div>${meds[0].PatientAddressLine1} ${meds[0].PatientAddressLine2} ${meds[0].PatientCity}, ${meds[0].PatientState} ${meds[0].PatientZIP}</div>
							<div>TELEPHONE H: ${meds[0].PatientPhone} W: ${meds[0].PatientWorkPhone} &nbsp; <b>Email:</b> ${meds[0].email}</div>
						</div>
						</div>
						<div class="rxp_med" data-medid="" style="white-space: nowrap; border: 2px whiteSmoke; border-radius: 0.8em 0.8em 0.0em 0.0em; background-color: #FAFAFA; border-color: whiteSmoke; border-bottom: none;">
						
							<span class="remove_med" data-medid="" style="visibility:hidden;"></span>
							<span class="med_medication">Medication</span>
							<span class="med_dose">Dose</span>
							<span class="med_qty">QTY</span>
							<span class="med_refills">Refills</span>
							<div style="display:none;" class="med_sig">Instructions</div>
						</div>
					</div>
					<div id="rxp_form"  >
						<div id="rxp_meds">{{if qdata.is_central_fill}}{{tmpl(meds) "#tmpl_display_rxq_item_med_cf"}}{{else}}{{tmpl(meds) "#tmpl_display_rxq_item_med"}}{{/if}}</div>
					</div>
					<div id="rxpad_foot">
						<div class="rx_verify" id="rxp_electronic_sig" style="padding: 1.5em;">Electronically Signed By: ${signer}</div>
						<div id="rx_submit">
							<form id="rxq_update" >
								<input type="hidden" name="GroupID" value="${meds[0].GroupID}" />
								<input type="hidden" name="qid" value="${qid}" />
								<input type="submit" id="rxp_submit_s" value="Remove from Queue"  form="rxp_form" class="rx_verify ui-button ui-widget ui-state-default ui-corner-all"  onclick="$('#rxq_update').submit(); return false;;">
							</form>
					</div>
				</div>

</div>
</script>


