
<script id="tmpl_rmd_provs" type="text/x-jquery-tmpl">
<div>
{{each(i,prov) provs}}
	{{if (prov['4mo_avg'] > 200 && prov['diffc'] < 100) }}
		<div class="func_add_rmd_prov rmd_prov {{if prov.labs}}labs{{/if}} {{if prov['4mo_avg'] > 200}} hv {{/if}} {{if prov['4mo_avg'] > 2000}} vhv {{/if}}"  data-name="${prov.doctorName}" data-phone="${prov.doctorPhone1}" data-addresselm="prov_address_${i}"   data-lat="${prov.latitude}" data-long="${prov.longitude}" data-distance="${prov.diffc}" >
			<span class="name">${prov.doctorName}</span>		
			<span class="address" id="prov_address_${i}">${prov.doctorAddress1} ${prov.doctorCity}, ${prov.doctorState} ${prov.doctorZIP}</span>		
			<span class="phone">${prov.doctorPhone1}</span>
			<span class="distance">${prov.diffc} (${prov['4mo_avg']})</span>
		</div>
	{{/if}}
{{/each}}

{{each(i,prov) provs}}
	{{if (prov['4mo_avg'] > 200 && prov['diffc'] < 100) }}
		<div class="func_add_rmd_prov rmd_prov {{if prov.labs}}labs{{/if}} {{if prov['4mo_avg'] > 200}} hv {{/if}} {{if prov['4mo_avg'] > 2000}} vhv {{/if}}"  data-name="${prov.doctorName}" data-phone="${prov.doctorPhone1}" data-addresselm="prov_address_${i}"   data-lat="${prov.latitude}" data-long="${prov.longitude}" data-distance="${prov.diffc}" >
			<span class="name">${prov.doctorName}</span>		
			<span class="address" id="prov_address_${i}">${prov.doctorAddress1} ${prov.doctorCity}, ${prov.doctorState} ${prov.doctorZIP}</span>		
			<span class="phone">${prov.doctorPhone1}</span>
			<span class="distance">${prov.diffc} (${prov['4mo_avg']})</span>
		</div>
	{{/if}}
{{/each}}
{{each(i,prov) provs}}
	{{if  ! (prov['4mo_avg'] > 200 && prov['diffc'] < 100) }}
		<div class="func_add_rmd_prov rmd_prov {{if prov.labs}}labs{{/if}} {{if prov['4mo_avg'] > 200}} hv {{/if}}" data-name="${prov.doctorName}" data-phone="${prov.doctorPhone1}" data-addresselm="prov_address_${i}"   data-lat="${prov.latitude}" data-long="${prov.longitude}" data-distance="${prov.diffc}" >
			<span class="name">${prov.doctorName}</span>		
			<span class="address" id="prov_address_${i}">${prov.doctorAddress1} ${prov.doctorCity}, ${prov.doctorState} ${prov.doctorZIP}</span>		
			<span class="phone">${prov.doctorPhone1}</span>
			<span class="distance">${prov.diffc} (${prov['4mo_avg']})</span>
		</div>
	{{/if}}
{{/each}}

</div>
</script>

<script id="tmpl_rmd_prov_insert" type="text/x-jquery-tmpl">
<div>
		<div class="name">${name}</div>
		<div class="address">${address} [<a target="_rmdprovmap" href="https://maps.google.com/?near=${lat},${long}&q=${name}">Map</a>]</div>		
		<div class="phone">${phone}</div>
		<div><br/></div>
</div>
</script>
<script id="tmpl_rmd_prov_email" type="text/x-jquery-tmpl">
<div>
	<div id="rmd_email_body">
		<div>
		Thank you for your recent inquiry.  RestoreMD is an elite national network of healthcare professionals focused on wellness and healthy aging.  Our physician members practice the latest age management therapies, including hormone therapy with bioidentical hormones compounded exclusively by Restore Health Pharmacy.  Our state-of-the-art pharmacy is a leading national provider of personalized medicine for menopause, andropause, dermatology, pain management, thyroid imbalance and many other personal care products.  Please visit www.restorehc.com for more information.</div>
		<br/>
		<div>Based on your location, your nearest healthcare provider(s) are:</div><br/>
		<div id="rmd_email_body_provs"></div>
		<br/>
		<div>Please contact their office(s) directly to discuss your specific needs and to make an appointment.</div>
		<br/>
		<div>Yours in Health,</div>
		<br/>
		<div>RestoreMD</div>
		<div>Restore Health Pharmacy</div>
		<div>1-800-558-7046</div>
	</div>
</div>
</script>

<script id="tmpl_rmd_search_area" type="text/x-jquery-tmpl">
<div>
	<div>
	<form id="rmd_form" onsubmit="findproviders(this.zip.value); return false;">
		<input type="number" placeholder="ZIP" name="zip" /> &nbsp; <input type="submit"  value="Search" class="ui-button ui-widget ui-state-default ui-corner-all" />
	</form>
	<div style="float:right;"><a href="#" id="regeocoder" onclick="regeocode(); return false;">Re-geocode</a></div>
	</div>

	<div id="rmd_prov_results"></div>
	{{tmpl "#tmpl_rmd_prov_email"}}
</div>
	<form id="rmd_email"  onsubmit="this.body.value=$('#rmd_email_body')[0].innerHTML; "> 	
				<input name="from" value="Restore Health <referral@restorehc.com>" type="hidden">
				<input name="subject" value="Restore Health Provider Referral" type="hidden">
				<input name="content_type" value="text/html" type="hidden">
				<textarea style="display:none;" name="body"></textarea> &nbsp; <input type="email" name="to" value="" /> &nbsp; <input type="submit" class="ui-button ui-widget ui-state-default ui-corner-all" value="Send">
	</form>

</script>
<script>
	var findproviders = function(zzz) {
				$('#rmd_prov_results').html('');
				$.postJSON('/api/v1.i/getRMDProvs', {limit: 50, zip: zzz}, function(data) {
						$('#tmpl_rmd_provs').tmpl({provs: data.data}).appendTo('#rmd_prov_results');
						});
	};

	var regeocode = function(zzz) {
				$('#rmd_prov_results').html('');
				$('#regeocoder').hide();
				$.postJSON('/api/v1.i/regeocode', {}, function(data) {
						$('#rmd_prov_results').html('<div>Re-geocoding:</div><div>' + data.data.resp + '</div>');
										$('#regeocoder').show();
						});
	};
</script>
<style>
#rmd_prov_results { margin: 1.4em;  max-height: 15em; overflow-y: auto;  }
#rmd_prov_results div.rmd_prov { margin: 0.4em; cursor:pointer;}
#rmd_prov_results div.rmd_prov.off_hv {font-weight: bold;}
#rmd_prov_results div.rmd_prov.off_vhv {color: #649B5D; font-weight: bold; text-decoration: underline;}

#rmd_prov_results div.rmd_prov:hover {color: #4d8688;}
span.distance::before {content: ' - '; margin-left: 1em; margin-right: 1em;}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
</style>