
<script id="tmpl_as_details_addl_funcs"  type="text/x-jquery-tmpl">
	<div>
		<form class="func_save_as_addl" method="post">
			<div>Reset Day Supply: 
				<input name="reset_ds" type="date" {{if as_details.reset_ds}}value="${as_details.reset_ds}" {{/if}}/>
				<input type="hidden" name="rxn" value="${rxn}" />
				<input type="hidden" name="func" value="save_reset_ds" />
				<input type="submit" class="ui-button ui-widget ui-state-default ui-corner-all" />
			</div>
		</form>
		<div class="as_rxh_table">
		{{each(i, rxh) rx_history}}
			<div class="as_rxh_row">${rxh.df} (${rxh.ds}): &#36;${rxh.price}</div>
		{{/each}}
		</div>
		<div class="as_note_table">
		{{each(i, asn) as_notes}}
			<div class="as_note_row nstatus_{{if asn.nstatus == 1}}on{{else}}off{{/if}}" data-nstatus="{{if asn.nstatus == 1}}1{{else}}0{{/if}}"  data-nid="${asn.id}" data-rxn="${rxn}">${asn.ndate_f} - ${asn.note} <span class="listed_rxn">[${rxn}]</span></div>
		{{/each}}
		</div>
		<div><a onclick="$('.nstatus_off').hide('slow'); return false;"  href="#">Hide</a> / <a onclick="$('.nstatus_off').show('slow'); return false;" href="#">Show</a> Archived Notes</div>
	</div>
</script>


<script id="tmpl_cs_addl_funcs"  type="text/x-jquery-tmpl">
<div>
	<div  id="cs_addl_funcs_tbs_div">
		<div class="left_bar">
			<h5>Functions</h5>
			<div class="indent_15_em">
						<ul class="cs_addl_funcs_tbs" id="cs_addl_funcs_tbs">
							<li class="ui-button ui-widget ui-state-default ui-corner-all" onclick=""><a href="#cs_func_rmd" id="csf_r" >RMD</a></li>
							<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#cs_func_email_tmpl" id="csf_et">Email Templates</a></li>
							<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#cs_func_sms" id="csf_sms">SMS</a></li>
							<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#cs_func_reports" id="csf_rep">Reports</a></li>
							<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#cs_func_metrics" id="csf_metrics">Metrics</a></li>
							<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#cs_func_rx_status_area" id="csf_rx_status_area">Update Rx Status</a></li>
						</ul>
			</div>
		</div>
		<div class="right_bar">
			<div class="padded_box">
				<div id="cs_funcs_area">
					<div id="cs_func_rmd"><h5>RMD</h5>{{tmpl() "#tmpl_rmd_search_area"}}</div>
					<div id="cs_func_email_tmpl"><h5>Email Templates</h5>	{{tmpl(emtmpl) "#tmpl_email_templates"}}</div>
					<div id="cs_func_sms"><h5>SMS</h5>{{tmpl "#tmpl_sms_sending"}}</div>
					<div id="cs_func_reports"><h5>Reports</h5>{{tmpl "#tmpl_reporting"}}</div>
					<div id="cs_func_metrics"><h5>Metrics</h5>{{tmpl "#tmpl_metrics"}}</div>
					<div id="cs_func_rx_status_area">{{tmpl "#tmpl_set_rx_fill_status"}}</div>
					
				</div>
			</div>
		</div>
	</div>
</div></script>


<script id="tmpl_email_templates"  type="text/x-jquery-tmpl">
<div>
<div class="general_templates_email">
	{{each(itmp, tmp) ['new_rx', 'new_pt', 'mdd', 'ccd_m']}}
				<form action="mailto:me@example.com" target="_send_email">
				<input name="subject" value="${emtmpl[tmp]['subject']}" type="hidden" >
				<textarea  style="display:none;" name="body" class="emtmpl_${tmp}">${emtmpl[tmp]['body']}</textarea>
				<input type="submit" class="ui-button ui-widget ui-state-default ui-corner-all"  value="${emtmpl[tmp]['name']}" onclick="$('.emtmpl_${tmp}').prop('value', emtmpl[tmp]['body']);"/>
			</form>
	{{/each}}
</div>

<div class="pt_dropoff_emails">

	{{each(itmp, tmp) ['30_no_refills', '30_with_refills', 'Profiled', 'MD_Denied', '30_HTPC', '60_HTPC']}}
				<form action="mailto:me@example.com" target="_send_email">
				<input name="subject" value="${emtmpl[tmp]['subject']}" type="hidden" >
				<textarea  style="display:none;" name="body" class="emtmpl_${tmp}">${emtmpl[tmp]['body']}</textarea>
				<input type="submit" class="ui-button ui-widget ui-state-default ui-corner-all"  value="${emtmpl[tmp]['name']}" onclick="$('.emtmpl_${tmp}').prop('value', emtmpl[tmp]['body']);"/>
			</form>
	{{/each}}
</div>

	<div class="custom_smses">
			{{tmpl() "#tmpl_sms_forms"}}
	</div>

</div>
</script>


<script id="tmpl_sms_sending"  type="text/x-jquery-tmpl">
<div>
	<form id="send_sms_away">
		<textarea style="height: 30em; float: left" name="contacts" placeholder="Numbers"></textarea>
		<div style="float: left;">
			<textarea style="height: 4em; width: 15em;"  name="message" placeholder="Message"></textarea>
			<select name="sms_from">
		{{each(i, smsnum) acct.smsnums}}
				<option value="${smsnum.smsid}" {{if smsnum.default}}selected="selected"{{/if}}>${smsnum.name}</option>
		{{/each}}
			</select>
			<input type="submit" style="display: block; margin: 1em;" class=" ui-button ui-widget ui-state-default ui-corner-all"/>
		</div>
	</form>
</div>
</script>


<script id="tmpl_reporting"  type="text/x-jquery-tmpl">
<div id="addl_as_funcs"><b>AS Report:</b>		<form id="pull_as_report" class="func_getASReport0" target="_blank" action="/api/v1.i/func/as_barcode_report.html" method="post"><b>DS</b> A/S Dates: <br> <span>Start:<input name="as_date_start" type="date"></span> &nbsp; <span>End:<input name="as_date_end" type="date"></span> <label for="tpty3" style="display:inline; padding-right: 1px;">3</label> <input type="radio" style="display:inline;" name="3pty" value="3" id="tpty3"> &nbsp;  <label for="tptyr" style="display:inline;  padding-right: 1px;">R</label> <input type="radio" name="3pty" value="R" id="tptyr" style="display:inline;"> <input type="submit" value=" Get Report " class="ui-button ui-widget ui-state-default ui-corner-all"><div id="as_return_link"></div></form>		<form id="pull_as_report" class="func_getASReport_nth" target="_blank" action="/api/v1.i/func/as_barcode_report_nth.html" method="post"><b>N-th</b> A/S Dates: <br> <span>Start:<input name="as_date_start" type="date"></span> &nbsp; <span>End:<input name="as_date_end" type="date"></span> <label for="tpty3" style="display:inline; padding-right: 1px;">3</label> <input type="radio" style="display:inline;" name="3pty" value="3" id="tpty3"> &nbsp;  <label for="tptyr" style="display:inline;  padding-right: 1px;">R</label> <input type="radio" name="3pty" value="R" id="tptyr" style="display:inline;"> <input type="submit" value=" Get Report " class="ui-button ui-widget ui-state-default ui-corner-all"><div id="as_return_link"></div></form><br class="clearer"><div><b>Refill Report:</b></div>		<form id="pull_as_report0stop" class="func_getAS0stopReport" target="_blank" action="/api/v1.i/func/as_0stop_report.html" method="post"> Next Fill Dates: <br> <span>Start:<input name="lf_date_start" type="date"></span> &nbsp; <span>End:<input name="lf_date_end" type="date"></span><input type="submit" value=" Get Report " class="ui-button ui-widget ui-state-default ui-corner-all"><div id="as_return_link"></div></form><br class="clearer"><div><b>OTC Expired Report:</b></div>		<form id="pull_as_report0stopOTC" class="func_getAS0stopReportOTC" target="_blank" action="/api/v1.i/func/as_0stop_reportOTC.html" method="post"> Next Fill Dates: <br> <span>Start:<input name="lf_date_start" type="date"></span> &nbsp; <span>End:<input name="lf_date_end" type="date"></span><input type="submit" value=" Get Report " class="ui-button ui-widget ui-state-default ui-corner-all"><div id="as_return_linkOTC"></div></form></div>
<div>
	<form id="as_estimate_report" class="func_as_estimate_report" target="_blank" action="/api/v1.i/func/as_0stop_report.html" method="post"> <b>AS Estimate:</b> <br> <span>Start:<input name="start_date" type="date"></span> &nbsp; <span>End:<input name="end_date" type="date"></span><input type="submit" value=" Get Report " class="ui-button ui-widget ui-state-default ui-corner-all"><div id="as_return_link"></div>
	</form>
</div>
<div>
	<form id="ma_partner_data_display" class="func_get_ma_partner_data" target="_blank" action="/api/v1.i/get_ma_partner_data" method="post"> <b>Partner Data:</b> <span class="report_options1"><input type="checkbox" name="rxed_only" value="1" checked="checked" id="i26ajdb" /><label for="i26ajdb">Filter by Dated Rx'ed</label>&nbsp;<input name="account_group" placeholder="Account Group" /></span> <br/> <span>Start:<input name="start_date" type="date"></span> &nbsp; <span>End:<input name="end_date" type="date"></span><input type="submit" value=" Get Report " class="ui-button ui-widget ui-state-default ui-corner-all"><div id="ma_partner_return_link"><table id="ma_partner_data_table"></table></div>
	</form>
</div>

<div>
	<form id="global_ma_partner_data_display" class="func_get_global_ma_partner_data" target="_blank"  method="post"> <b>Global Partner Data:</b> <span class="report_options1"><input type="checkbox" name="rxed_only" value="1" checked="checked" id="i26ajdb" /><label for="i26ajdb">Filter by Dated Rx'ed</label>&nbsp;<input name="account_group" placeholder="Account Group" /></span> <br/> <span>Start:<input name="start_date" type="date"></span> &nbsp; <span>End:<input name="end_date" type="date"></span><input type="submit" value=" Get Report " class="ui-button ui-widget ui-state-default ui-corner-all"><div id="global_ma_partner_return_link"><table id="global_ma_partner_data_table"></table></div>
	</form>
</div>


<div>
	<form class="func_get_shipping_partners_report" target="_blank"  method="post">
		<b>Get Partner Shipping Data:</b>
		<span class="report_options1"></span>
		<div>
			<span>Start:<input name="start_date" type="date"/></span>
			&nbsp;
			<span>End:<input name="end_date" type="date"></span>
			<input type="submit" value=" Get Report " class="ui-button ui-widget ui-state-default ui-corner-all" />
		</div>
	</form>
</div>



<div>
	{{tmpl() "#tmpl_new_prov_simple01"}}
</div>

<div>
	{{tmpl() "#tmpl_mw_sales_report"}}
</div>


<div>
	<form id="insurance_receipt_gen" class="func_insurance_receipt_gen" target="_blank" method="post"> <b>Insurance Receipt:</b> <br> <span>Transaction #:<input name="tn" type="number"></span> &nbsp; <span>Rx #:<input name="rx" type="number"></span><input value="1" name="old_rx" type="checkbox" />OLD <input type="submit" value=" Get Receipt " class="ui-button ui-widget ui-state-default ui-corner-all"><div id="rx_i_r_return_link"></div>
	</form>
</div>
<div>
	<form id="drop_off_pts_frm" class="func_view_drop_off_pts" action="/api/v1.i/func/patient_dropoff.html" target="_blank" method="post"> <b>Lost Patients Report</b> <input type="submit" value=" Dropped Patients List " class="ui-button ui-widget ui-state-default ui-corner-all">
	</form>
</div>

<div>
	<form id="ccd_pts_frm" class="func_view_ccd_pts" action="/api/v1.i/func/as_ccd_report.html" target="_blank" method="post"> <b>Patients with billing or refill issues</b> <input type="submit" value=" Exception Queue " class="ui-button ui-widget ui-state-default ui-corner-all">
	</form>
</div>
<div>
<b>Expiring Credit Cards:</b> <br>
<button type="submit" value=" Get Expiring Cards " class="ui-button ui-widget ui-state-default ui-corner-all func_getExpiringCreditCards">   &nbsp; Get Expiring Cards &nbsp;   </button><div id="expcc_return_area"></div>
</div>

<div>
<b>Charges:</b> <br>
<button type="submit" value=" Get Unpaid Charges " class="ui-button ui-widget ui-state-default ui-corner-all func_get_unpaid_charges">   &nbsp; Get Unpaid Charges &nbsp;   </button><div id="charges_area"></div>
</div>


</script>

<& '/tmpl/lab_order_mgmt.html' &>


<script id="tmpl_check_record_scans"  type="text/x-jquery-tmpl">
<div>

</div>
</script>


<script id="tmpl_as_estimate_area"  type="text/x-jquery-tmpl">
<div>
	{{each(di, dv) days}}
		<div class="as_day">${next_fill}: &#36;${amount} (${rxs})</div>
	{{/each}}
</div>
</script>


<script id="tmpl_expiring_cc"  type="text/x-jquery-tmpl">
<div>
	<table>
	{{each(di, dv) expp}}
		<tr>
			<td>
				${dv.PatientLastName}, ${dv.PatientFirstName}
				<div><a href="#" class="func_pt_contacted_exp_cc" data-pid="${dv.pid}"  data-ctype="CC Expiring" >Mark Contacted</a> {{if dv.last_contacted}}<b class="ccexp_last_contacted">[${dv.last_contacted}]</b>{{/if}}</div>
			</td>
			<td> ${dv.next_fill} : ${dv.exp} </td>
		<td>{{if dv.email}}
		<form action="mailto:${dv.email}" target="_send_email">
				<input name="subject" value="Update Your Expiring Card" type="hidden">
				<textarea style="display:none;" name="body" id="exp_cc_body_${dv.pid}" class="emtmpl_new_rx">Dear ${dv.PatientLastName}, ${dv.PatientFirstName},
				 Your credit card on file ending in ${dv.last4} with expiration date ${dv.exp} needs to be updated.  Please update your credit card on file using the link below or by calling us at 1-800-558-7046.
				 

Yours in Health,

Restore Health Pharmacy
1-800-558-7046
www.restorehc.com
</textarea>
				<input type="submit" class="ui-button ui-widget ui-state-default ui-corner-all" value="Email" onclick="$('#exp_cc_body_${dv.pid}').prop('value', emtmpl['expiring_cc']['body'](${JSON.stringify(dv)}));">
			</form>
		<button class="func_send_expiring_cc_email" style="display:none;" data-last4="${dv.last4}" data-exp="${dv.exp}" data-email="${dv.email}", data-lname="${dv.PatientLastName}" data-fname="${dv.PatientFirstName}" value="Email" >  Email  </button>{{/if}}</td>
		<td>{{if dv.sms}}<button class="func_send_expiring_cc_sms" data-link="${dv.short_link}" data-last4="${dv.last4}" data-exp="${dv.exp}" data-email="${dv.email}" data-lname="${dv.PatientLastName}" data-fname="${dv.PatientFirstName}" value-sms="${dv.sms}" value="SMS" />  SMS  </button>{{/if}}</td>
		<td>${dv.PatientPhone}</td>
		</tr>
	{{/each}}
	</table>
</div>
</script>








<!--	from qo.html -->

<script id="tmpl_display_msgq" type="text/x-jquery-tmpl">
	<div>
		<b>Message:</b> 
		<div class="msg">${qdata.val}</div>
		<div class="tstamp">From: ${enteredBy} on ${date_entered}</div>
		<form class="msg_q" method="post">
			<input type="hidden" name="id" value="${id}" />
			<input type="submit" value="Mark as Viewed" class="ui-button ui-widget ui-state-default ui-corner-all" /> &nbsp; <input type="button" value="Keep in Queue" class="func_close_popup ui-button ui-widget ui-state-default ui-corner-all" />
		</form>
	</div>
	
</script>

<script id="tmpl_display_address_change" type="text/x-jquery-tmpl">
	<div>
		<b>Updated Address:</b>

		<div class="msg">
								Address ID: <span style="text-transform: capitalize;" >${qdata.addresstype} &nbsp; ${qdata.adr_id}</span>
								<div class="address_display alt_address" id="alt_add_${qdata.address_id}">

					       			<div>
					       				<span class="address_display">${qdata.line1}</span>
									</div>
		       						<div>
					       				<span class="address_display">${qdata.line2}</span>
									</div>
		       						<div>
										<span class="address_display">${qdata.city}</span>&nbsp;<span class="address_display">${qdata.state}</span>, <span class="address_display">${qdata.zip}</span>
									</div>
									{{if qdata.country != 'US'}}
		       						<div>
		       							<span class="address_display">${qdata.country}</span>
									</div>
									{{/if}}

								</div>




			</div>
		<div class="tstamp">From: ${enteredBy} on ${date_entered}</div>
		<form class="msg_q" method="post">
			<input type="hidden" name="id" value="${id}" />
			<input type="submit" value="Mark as Viewed" class="ui-button ui-widget ui-state-default ui-corner-all" /> &nbsp; <input type="button" value="Keep in Queue" class="func_close_popup ui-button ui-widget ui-state-default ui-corner-all" />
		</form>
	</div>
	
</script>

<script id="tmpl_display_pinfo_change" type="text/x-jquery-tmpl">
	<div>

<h3 class="rsection_title">Contact &amp; Address Information</h3>
		<div class="msg">



<div id="pinfo_display">
	<div><span class="pc_pinfo_form_label">Name:</span> <span id="PatientFirstName" class="ji_edit">${qdata.PatientFirstName}</span> <span id="PatientLastName" class="ji_edit">${qdata.PatientLastName}</span>       </div>       <div>       	<span class="pc_pinfo_form_label">Date of Birth:</span> <span id="DOB" class="ji_edit">${qdata.DOB}</span>       </div>       <div>       	<span class="pc_pinfo_form_label">Sex:</span> <span id="sex" class="ji_edit">${qdata.Sex}</span>       </div>                     <br style="clear:none;" />       <div id="pc_contact_info_area">       	<div><span class="pc_pinfo_form_label">Daytime Tel:</span> <span class="ji_edit" id="PatientPhone">${qdata.PatientPhone}</span></div>       	<div><span class="pc_pinfo_form_label">Alternate Tel:</span> <span class="ji_edit" id="PatientWorkPhone">${qdata.PatientWorkPhone}</span></div>       	<div><span class="pc_pinfo_form_label">Email:</span><span href="mailto:${email}" class="ji_edit" id="email">${qdata.email}</span></div>       </div>
</div>




			</div>
		<div class="tstamp">From: ${enteredBy} on ${date_entered}</div>
		<form class="msg_q" method="post">
			<input type="hidden" name="id" value="${id}" />
			<input type="submit" value="Mark as Viewed" class="ui-button ui-widget ui-state-default ui-corner-all" /> &nbsp; <input type="button" value="Keep in Queue" class="func_close_popup ui-button ui-widget ui-state-default ui-corner-all" />
		</form>
	</div>

</script>





<script id="tmpl_display_patient_billing_info"  type="text/x-jquery-tmpl">
	<div>


	<h3 class="rsection_title">Insurance &amp; Billing Information</h3>
		<div class="msg">

	<div id="get_pbi">


		<div id="get_ins">
			<div>Insurance ID: ${qdata.ins_policy_id}

			</div>
			<div>Rx Group: ${qdata.ins_group}
			</div>
			<div>Bin #: ${qdata.bin_num}
			</div>
			<div>PCN: 	${qdata.processor}
				<div id="ins_rel_radios">Cardhold Relationship:
				{{if  typeof qdata.ins_relationship != 'undefined' && qdata.ins_relationship ==1}}Primary{{/if}}
				{{if typeof qdata.ins_relationship != 'undefined' && qdata.ins_relationship ==2}}Secondary{{/if}}
				</div>
			</div>
			<div>Insurance Phone [Optional]: ${qdata.ins_phone}
			</div>
		</div>
		<div id="get_cc">
			<div>Credit Card: ${qdata.cc_num}
			</div>
			<div>Month / Year (MM/YY): ${qdata.cc_exp_mm}/${qdata.cc_exp_yy}
			</div>
		</div>
	</div>
	
	
	
	
	
	
	
			</div>
		<div class="tstamp">From: ${enteredBy} on ${date_entered}</div>
		<form class="msg_q" method="post">
			<input type="hidden" name="id" value="${id}" />
			<input type="submit" value="Mark as Viewed" class="ui-button ui-widget ui-state-default ui-corner-all" /> &nbsp; <input type="button" value="Keep in Queue" class="func_close_popup ui-button ui-widget ui-state-default ui-corner-all" />
		</form>
	</div>

</script>








<script id="tmpl_display_patient_address_date_info"  type="text/x-jquery-tmpl">
	<div>


	<h3 class="rsection_title">Address Date Change</h3>
		<div class="msg">

		<b>{{if qdata.qdata.q_msg}}${qdata.qdata.q_msg}{{/if}}</b>
		<div><b style="margin-bottom: .3em;">Current Alt Address/Dates on file:</b></div>
<div class="css3_2column">
	{{each(i, adr) addresses}}
<div class="addl_address avoid-column-break" id="alt_add_div_${adr.id}">
								<div class="address_display alt_address" id="alt_add_${adr.id}">

					       			<div>
					       				<span class="address_display">${adr.line1}</span>
									</div>
		       						<div>
					       				<span class="address_display">${adr.line2}</span>
									</div>
		       						<div>
										<span class="address_display">${adr.city}</span>&nbsp;<span class="address_display">${adr.state}</span>, <span class="address_display">${adr.zip}</span>
									</div>
									{{if adr.country != 'US'}}
		       						<div>
		       							<span class="address_display">${adr.country}</span>
									</div>
									{{/if}}

								</div>



									<div class="address_dates_area">
										<b>Dates:</b>
											{{if adr.dates.length}}
											{{each(si, sdte) adr.dates}}
												<div class="ship_to_date">
													<span class="start_date">${sdte.start_date_f}</span><span class="stop_date">${sdte.stop_date_f}</span>
												</div>
											{{/each}}
											{{else}}<div> - No Dates - </div>
											{{/if}}
									</div>
</div>
{{/each}}

</div>
	
	
	
	
	
	
			</div>
		<div class="tstamp">From: ${qdata.enteredBy} on ${qdata.tstamp}</div>
		<form class="msg_q" method="post">
			<input type="hidden" name="id" value="${qdata.id}" />
			<input type="submit" value="Mark as Viewed" class="ui-button ui-widget ui-state-default ui-corner-all" /> &nbsp; <input type="button" value="Keep in Queue" class="func_close_popup ui-button ui-widget ui-state-default ui-corner-all" />
		</form>
	</div>

</script>











<script id="tmpl_display_SMS-IN"  type="text/x-jquery-tmpl">
	<div>


	<h3 class="rsection_title">SMS</h3>
		<div class="msg">
			${qdata.Body}
		</div>
		<div><a href="#" class="func_view_patient_smss" data-patientid="${uid}" data-smsbnbr="${qdata.From}">View SMS History</a></div>
		<div class="pt_sms_history"></div>
		<div class="tstamp">From: ${enteredBy} on ${date_entered}</div>
		<form class="msg_q" method="post">
			<input type="hidden" name="id" value="${id}" />
			<input type="submit" value="Mark as Viewed" class="ui-button ui-widget ui-state-default ui-corner-all" /> &nbsp; <input type="button" value="Keep in Queue" class="func_close_popup ui-button ui-widget ui-state-default ui-corner-all" />
		</form>
	</div>

</script>






<script id="tmpl_display_sms_history"  type="text/x-jquery-tmpl">
	<div>
			<h5>SMS History for ${sms_pt}</h5>
								{{each(si, sms) smss}}
									<div class="sms_history_msg ${sms.class}">
										<span class="sent_date ">${sms.date_sent}</span>: &nbsp; <span class="sms_tofrom">{{if '+1' + sms.from ==  sms_pt}} &gt; {{else}} &lt; {{/if}}</span>&nbsp;<span class="sms_message">${sms.message}</span>
									</div>
								{{/each}}
	</div>
</script>



<script id="tmpl_sms_forms"  type="text/x-jquery-tmpl">
	<div>
			<input class="meta_search_plist">
			<form class="func_send_ccd_sms">
					<div><input type="submit" value="Send CCD SMS" class="ui-button ui-widget ui-state-default ui-corner-all" style="width: 16em;" /></div>
			</form>
			<div class="pt_sms_history"></div>
	</div>
</script>

<%doc>
/* rx notes 
rx_notes":[{"tstamp":"2013-08-30 00:00:04","ntstamp":"2013-08-29 08:55:16","orig_date":"2013-08-29","hoa":null,"author":"MMWRXRPH","note_text":"6467818: PRIME T BACK TOma_partner. MMW","orig_order":"1","rxn":"6467818","pid":"44016","norder":"1","nstatus":"","ntype":"P"}]},"notes":[],"Lab_Orders":[],"shipments":[],"MedHistory":[[]]}
*/
</%doc>

<script id="tmpl_display_note_history"  type="text/x-jquery-tmpl">
	<div>
			<h5>Note History</h5>
								{{each(si, note) notes}}
									<div class="rx_note_history ${note.class}">
										<span class="note_date ">${note.note_tstamp}</span>: &nbsp; <span class="note_note_text">${note.note_text}</span>&nbsp;<span class="note_author">${note.author}</span>
									</div>
								{{/each}}
	</div>
</script>


<script id="tmpl_display_call_history"  type="text/x-jquery-tmpl">
	<div>
			<h5>Call History</h5>
								{{each(si, call) calls}}
									<div class="call_history ${call.class}">
										<span class="call_date ">${call.calldate}</span>: &nbsp; <span class="dst">${call.dst} [${duration} secs]</span>&nbsp;{{if call.recordingfile}}<span class="call_record" data-rfile="${call.recordingfile}">(file)</span>{{/if}}
									</div>
								{{/each}}
	</div>
</script>







<style>
#ndc_dialog_table thead tr {
	background-color: #E6F5FA
	font-weight: bold;
	border-bottom:  2px solid #E5EFF8;
}
#ndc_dialog_table tbody tr {
	border-bottom:  2px solid #E5EFF8;
}
#ndc_dialog_table tbody tr:last-of-type {
	border-bottom: 2px solid #E5EFF8;
}
#ndc_dialog_table tbody tr:nth-of-type(even) {
	background-color: #E6F5FA; color: #3A6781;
}
.fill_date.func_popup_rxtrans_details {cursor: pointer; }
</style>
<script id="tmpl_ndc_dialog_tbody" type="text/x-jquery-tmpl">
	<div>
		<table id="ndc_dialog_table">
			<thead>
				<tr>
					<th>Description</th><th>NDC</th><th>Qty</th>
				</tr>
			</thead>
			<tbody id="ndc_dialog_tbody">
				{{each(ndci, ndc) ndcs}}
					<tr>	<td>${desc}</td><td>${ndc}</td><td>${qty}</td></tr>
				{{/each}}
			</tbody>
		</table>
		<form id="insurance_receipt_gen" class="func_insurance_receipt_gen" target="_blank" method="post">
			<input name="tn" type="hidden" value="${transrcd}">
			<input type="submit" value=" Get Receipt " class="ui-button ui-widget ui-state-default ui-corner-all">
			<div id="rx_i_r_return_link"></div>
		</form> &nbsp;
		{{if tracking}}<a href="#" data-tracknum="${tracking}" data-pkgindx="1" class="func_pb_tracking">Track</a>{{/if}}
	</div>
</script>


<script id="tmpl_metrics"  type="text/x-jquery-tmpl">
<div>
<div>
	<form id="metrics_data_display" class="func_show_all_metrics"  method="post"> <b>Metrics Data:</b> <span class="report_options1"></span><input type="submit" value=" Get Metrics " class="ui-button ui-widget ui-state-default ui-corner-all"></form>
</div>
	
</div>
</script>

<script id="tmpl_cf_rx_activity_details"  type="text/x-jquery-tmpl">
<div>
	<div style="float: left; padding-right: 1em;">
		<div>Orig. Pharmacy User: ${rxd.ph_rec_id}</div>
		<div>Fulfillment Pharmacy User: ${rxd.ph_ful_id}</div>
		<div>Received: ${rxd.dateEntered}</div>
		<div>Dispensed By: ${rxd.dispensed_by}</div>
		<div>Dispensed Date: ${rxd.disp_date}</div>
		<div>Beyond Use Date: ${rxd.beyond_use}</div>
	</div>
	<div class="rx_data_imgs" style="float:left;">
		<a href="#"  class="func_view_data_img" data-dataimgid="${rxd.img_id}" target="_blank">
			<img src="${disp_img}" class="disp_image" />
		</a>
		<div><a target="_blank" href="" id="op_original_document" data-cfimgid="${rxd.rx_data.cf_img_id}">Original Document</a></div>
	</div>
</div>
</script>

  <script id="tmpl_q_new_provider_info"  type="text/x-jquery-tmpl">
  		<div>
  			<div>${qdata.doctorName} - ${qdata.doctorType}</div>
  			<div>${qdata.doctorAddress1}</div>
  			<div>${qdata.doctorCity}, ${qdata.doctorState} ${qdata.doctorZIP}</div>
  			<br/>
  			<div>Phone: ${qdata.doctorPhone1} &nbsp; Fax: ${qdata.doctorFax}</div>
  			<div>NPI: ${qdata.npi}</div>
  			<br/>
  			<div class="tstamp">From: ${qdata.enteredBy} on ${qdata.date_entered}</div>
  			<form class="msg_q" method="post">    			<input type="hidden" name="id" value="${id}" />    <input type="submit" value="Mark as Viewed" class="ui-button ui-widget ui-state-default ui-corner-all"> &nbsp; <input type="button" value="Keep in Queue" class="func_close_popup ui-button ui-widget ui-state-default ui-corner-all">   </form>
  		</div>
  </script>