<script  id="tmpl_set_rx_fill_status" type="text/x-jquery-tmpl">
	<div>
		<div class="statuses_left">
			<h5>Update Rx Status</h5>
			<form id="set_rx_status_frm" class="func_set_rx_fill_status_rhc_unique_class">
				<input name="rxn" placeholder="RXN" required /> &nbsp; <input name="fill_num" placeholder="Fill #" type="number" pattern="\d{1,2}" style="width: 120px;" required /> &nbsp; <select name="rx_status" id="rx_fill_statuses" required>
						<option value="">Select a Status</option>
						<option value="REPLACED W/NEW RX">REPLACED W/NEW RX</option>
						<option value="CONTACTING PATIENT">CONTACTING PATIENT</option>
						<option value="INSURANCE PROCESSING">INSURANCE PROCESSING</option>
						<option value="CONTACTING PRESCRIBER">CONTACTING PRESCRIBER</option>
						<option value="ASSISTANCE REQUIRED">ASSISTANCE REQUIRED</option>
						<option value="NO GO">NO GO</option>
					</select>
					<datalist id="dl_replaced">
						<option value="NO RX INS, FAX FOR SPRX: " />
						<option value="BULK INGRED NOT COVERED, FAX FOR SF03:" />
						<option value="COMPOUNDS NOT COVERED, FAX FOR SPRX:" />
						<option value="MEDICARE PART D, FAX FOR SF03:" />
						<option value="OTHER:" />
					</datalist>
					<datalist id="dl_contacting_pt">
						<option value="CLM TO VERIFY PT INS AND ADDRESS:" />
						<option value="PT HAS COPAY-NEED PAYMENT INFO AND AUTH TO SHIP:" />
						<option value="INFORM PT INS DOESN'T COVER, ASK IF PT WANTS STD FORMULA:" />
						<option value="WORK COMP/PIP REJECT, NEED COMMERCIAL INS INFO:" />
						<option value="OTHER:" />
					</datalist>
					<datalist id="dl_insurance">
						<option value="WORKMAN COMP/PIP CLAIM:" />
						<option value="PRIOR AUTH PENDING W/INS:" />
						<option value="OTHER:" />
					</datalist>
					<datalist id="dl_contacting_rxr">
						<option value="RX MISSING INFO, NEED FOLLWING:" />
						<option value="NO SIGNATURE FROM PRESCRIBER:" />
						<option value="PT HAS ALLERGY/CONTRAINDICATION:" />
						<option value="NEED VERBAL OK FOR CONTROLLED SUBSTANCE (KETAMINE):" />
						<option value="OTHER:" />
					</datalist>
					<datalist id="dl_assist">
						<option value="PRIOR AUTH CLINICAL INFO NEEDED-DIAGNOSIS CODE, PRIOR MEDICATIONS TRIED W/ DATES:" />
						<option value="PT HAS COPAY-NEED PAYMENT INFO AND AUTH TO SHIP:" />
						<option value="PT INFO NEEDED:" />
						<option value="OTHER:" />
					</datalist>
					<datalist id="dl_nogo">
						<option value="NO INS, PT DOESN'T WANT STANDARD FORMULA:" />
						<option value="PT DECLINE INS COPAY/COB PRICE:" />
						<option value="PT UNAWARE MD PRESCRIBED RX:" />
						<option value="RX FILLED AT OTHER PHARMACY:" />
						<option value="NOT NEEDED, NO SYMPTOMS:" />
						<option value="OTHER:" />
					</datalist>
				<div><input id="set_fill_status_note" type="text" placeholder="Message" name="rx_status_note" list="" style="width: 480px;" maxlength="255" required /><br/><small>*You must specify pt eligibility for COB by YCOB if patient qualifies or NCOB if patient doesn't qualify.</small></div>
				<div>
					<input type="file" name="attachmentFile" id="attachmentFile" />
					<input type="hidden" value="" name="attachment" id="attachmentURL" />
					<input type="hidden" value="" name="mime" id="attachmentMime" />
				</div>
				<div>
					<div class="rxPic_details">
			            <div id="rxPic_scan">
			                <figure id="rxPic_camViews">
			                    <div id="rxPic_vidOverlay"></div>
			                    <video id="rxPic_streamVideo"></video>
			                    <img id="rxPic_captureImg" />
			                    <figcaption>
			                        <input type="button" class="ui-button ui-widget ui-state-default ui-corner-all func_capture_rx_attachment" id="rxPic_cfdisp_capBtn" value="Capture Document" /> <select id="pageOrientation" class=""><option value="landscape">Landscape</option><option value="portrait">Portrait</option></select> <input type="button" class="ui-button ui-widget ui-state-default ui-corner-all func_clear_rx_attachment_capture" value="Clear" />
			                    </figcaption>
			                </figure>
			                <canvas id="rxPic_captureCanvas"></canvas>
			            </div>
			        </div>
				</div>
				<input type="submit" value="Update Status"  class="ui-button ui-widget ui-state-default ui-corner-all" role="button" id="atchSubmit" /> &nbsp;
			</form>
		</div>
		<div class="statuses_right">
			<h5>Rx Status Information</h5>
			<div id="status_info_rx">
				<div><strong>Status:</strong> <output class="rx_status"> </output></div>
				<div><strong>Message:</strong> <output class="rx_message"> </output></div>
				<div>&nbsp;</div>
				<div><input type="button" class="ui-button ui-widget ui-state-default ui-corner-all func_view_rx_status_attachment" value="View Status Attachment" role="button" style="display: none;" data-atid="" /></div>
			</div>
		</div>
	</div>
	<hr />
	<div>
		<div class="statuses_left">
			<form class="func_set_fax_status">
				<h5>Update Fax Status</h5>
				<div>
					<input type="text" name="rhc_id" autofocus="true" style="width: 200px;" placeholder="Fax ID" required /> <select name="fstatus" style="width: 200px;" id="rx_fax_statuses" required>
						<option value="">Select a Status</option>
				    	<option value="new">New Fax</option>
				    	<option value="assist">Contacting Prescriber</option>
				    	<option value="error">An Error Occurred</option>
				    	<option value="nonrx">Non-Prescription Fax</option>
				    	<option value="resolved">Resolved</option>
			    	</select><br />
			    	<datalist id="dl_fax_assist">
						<option value="PRIOR AUTH CLINICAL INFO NEEDED-DIAGNOSIS CODE, PRIOR MEDICATIONS TRIED W/ DATES:" />
						<option value="PT HAS COPAY-NEED PAYMENT INFO & AUTH TO SHIP:" />
						<option value="PT INFO NEEDED:" />
						<option value="OTHER:" />
					</datalist>
					<datalist id="dl_fax_error">
					</datalist>
					<input type="text" name="status_note" maxlength="255" style="width: 480px;" list="" id="set_fax_status_note" placeholder="Fax Status Note" required /><br>
			    	<input type="submit" class="func_submit_set_fax_status ui-button ui-widget ui-state-default ui-corner-all" role="button" value="Set Fax Status" />
				</div>
	    	</form>
		</div>
		<div class="statuses_right">
			<h5>Fax Status Information</h5>
			<div id="status_info_fax">
				<div><strong>Sent From:</strong> <output class="fax_from"> </output></div>
				<div><strong>Receiving Fax #:</strong> <output class="fax_to"> </output></div>
				<div><strong>Status:</strong> <output class="fax_status"> </output></div>
				<div><strong>Status Note:</strong> <output class="fax_note"> </output></div>
				<div>
					<figure class="fax_status_preview" style="display:none;">
						<img src="" />
						<figcaption>
							<p>
								<input type="button" class="func_view_previewed_fax_full ui-button ui-widget ui-state-default ui-corner-all" value="View Full" data-faxid="" data-pngid="" />&nbsp;<input type="button" class="func_view_previewed_fax_pdf ui-button ui-widget ui-state-default ui-corner-all" value="View PDF" data-faxid="" data-pdfid="" />
							</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/javascript">
var clear_RxStatusCam = function() {
	var video = document.querySelector('video');
    var canvas = document.getElementById('rxPic_captureCanvas');
    var img = document.getElementById('rxPic_captureImg');
    img.src = null;
    video.src = null;
    $('#rxPic_captureImg').hide();
    $('#rxPic_streamVideo').hide();
};

var capRxStatusImage = function (orientation) {
    'use strict';
    $('#rxPic_captureImg').hide();
    $('#rxPic_streamVideo').show();
    
    var docOrient = 'landscape';
    if (typeof orientation == 'string' && (orientation.match(/landscape/i) || orientation.match(/portrait/i))) {
	    docOrient = orientation.toLowerCase();
    }

    var video = document.querySelector('video');
    var canvas = document.getElementById('rxPic_captureCanvas');
    var img = document.getElementById('rxPic_captureImg');
    var ctx = canvas.getContext('2d');

    var vW = 0;
    var vH = 0;

    var imgData = false;

    var constraints = {
        video: {
            mandatory: {
                "minHeight": "1080",
                 "minWidth": "1920",
                 "minFrameRate": "10"
            }
        }
    };
    
    video.addEventListener('loadeddata', onLoadedData, false);
    
    function successCallback(stream) {
        window.stream = stream;
        // Set the source of the video element with the stream from the camera
        if (video.mozSrcObject !== undefined) {
            video.mozSrcObject = stream;
        } else {
            video.src = (window.URL && window.URL.createObjectURL(stream)) || stream;
        }
        video.play();
    }

    function errorCallback(error) {
        console.log('An error occurred:', error );
        // Display a friendly "sorry" message to the user
    }
    
    function snapshot() {

        $('#rxPic_vidOverlay').hide();

	// This is what turns off the stream; most cameras will turn off when they no longer send the stream
        if (video.videoWidth != 0 && video.videoHeight != 0) {
            ctx.drawImage(video, 0, 0, video.videoWidth, video.videoHeight);
            var cw = canvas.width;
            var ch = canvas.height;
            
		    video.src = null;
		    window.stream.stop();
		    
		    if (docOrient == 'portrait') {
			    var tmpimg = new Image();
			    tmpimg.src = canvas.toDataURL();
			    tmpimg.onload = function() {
				    canvas.setAttribute('width', ch);
				    canvas.setAttribute('height', cw);
				    ctx.rotate(Math.PI / 2);
				    ctx.drawImage(tmpimg, 0, (-1 * cw));
//				    ctx.restore();

					console.log(tmpimg);
				    
				    tmpimg = null;
				    imgData = canvas.toDataURL('image/jpg', 1.0);
			    };
		    } else {
	            imgData = canvas.toDataURL('image/jpg', 1.0);
            }
            img.src = imgData;

            $('#attachmentURL').val(imgData);

            $('#rxPic_streamVideo').hide();

            $('#rxPic_captureImg').show();

            if ($('#attachmentURL').val().length > 0) {
            } else {
                console.log('snapshot() -- There was an error; hidden input value was not set.');
            }
        }
    }

    function countDown(countFrom) {
        var n = countFrom;
        var i = n;
        $('#rxPic_vidOverlay').show();

	img.src = "";

	$('#rxPic_captureImg').hide();
	$('#rxPic_streamVideo').show();

        function decI() {
            if (i <= 0) {

                $('#rxPic_vidOverlay').text('0');
                clearInterval(a);
                snapshot();
            } else {

                $('#rxPic_vidOverlay').text(i);
                i--;
            }
        }

        var a = setInterval(decI, 1000);
    }

    function onLoadedData() {
        console.log('onLoadedData() -- Called');

        vW = video.videoWidth;
        vH = video.videoHeight;

        console.log('Video dimensions: ' + vW + ' x ' + vH);

        canvas.width = vW;
        canvas.height = vH;
        img.height = vH;
        img.width = vW;

        countDown(5); // was 10 seconds
    }

    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
    window.URL = window.URL || window.webkitURL || window.mozURL || window.msURL;

    // Call the getUserMedia method with our callback functions
    if (navigator.getUserMedia) {
        navigator.getUserMedia(constraints, successCallback, errorCallback);
    } else {
        console.log('Native web camera streaming (getUserMedia) not supported in this browser.');
        // Display a friendly "sorry" message to the user
    }
};


$(document).ready(function() {
	$("body").on('submit', '.func_set_rx_fill_status_rhc_unique_class',   function(eml) {
		eml.preventDefault();
		
		var control = $('attachmentFile');
		control.replaceWith( control = control.clone( true ) );

		clear_RxStatusCam();
		
		var rxi = $(this).serializeObject();
		
		console.log(rxi);
		
		$.postJSON('/api/v1.2.i/set_rx_fill_status', rxi , function(data) {
			if (data.success && data.errs.length < 1) {
				popup("Rx status has been successfully updated.");
				$(this)[0].reset();


				$('output.rx_status').text('');
				$('output.rx_message').text('');

				$('.func_view_rx_status_attachment').attr('data-rxn', '');
				$('.func_view_rx_status_attachment').attr('data-fillnum', '');
				$('.func_view_rx_status_attachment').hide();
			} else {
				display_errs(data.errs);
				
				$('output.rx_status').text('');
				$('output.rx_message').text('');

				$('.func_view_rx_status_attachment').attr('data-rxn', '');
				$('.func_view_rx_status_attachment').attr('data-fillnum', '');
				$('.func_view_rx_status_attachment').hide();
			}
		});
	});

	$("body").on('change', '#rx_fill_statuses', function(e) {
		var subStats = {
			"REPLACED W/NEW RX": "dl_replaced",
			"CONTACTING PATIENT": "dl_contacting_pt",
			"INSURANCE PROCESSING": "dl_insurance",
			"CONTACTING PRESCRIBER": "dl_contacting_rxr",
			"ASSISTANCE REQUIRED": "dl_assist",
			"NO GO": "dl_nogo",
			"":""
		};
		
		var val = $(this).val();
		
		$('#set_fill_status_note').attr("list", subStats[val]);
		if (val === "" || subStats[val] === "") {
			$('#set_fill_status_note').val("");
		}
	});
	
	$("body").on('submit', '.func_set_fax_status', function(e) {
		e.preventDefault();
		
		var fargs = $(this).serializeObject();
		$.postJSON('/api/v1.3.faxes/set_fax_status', fargs, function(data) {
	 		$(this)[0].reset();
	 		console.log('Set Fax Status Server Response: ', data);
	 		if (data.data.success) {
		 		popup('Fax status has been successfully set.');
 				$(this)[0].reset();

		 		$('output.fax_from').html('');
				$('output.fax_to').html('');

				$('output.fax_status').text('');
				$('output.fax_note').text('');
	 		} else {
		 		display_errs(data.errs);
		 		$('output.fax_from').html('');
				$('output.fax_to').html('');

				$('output.fax_status').text('');
				$('output.fax_note').text('');
	 		}
	 	});
	});
	
	$("body").on('change', '#rx_fax_statuses', function(e) {
		var subStats = {
			"new": "",
			"assist": "dl_fax_assist",
			"error": "",
			"nonrx": "",
			"resolved": "",
			"":""
		};
		
		var val = $(this).val();
		
		$('#set_fax_status_note').attr("list", subStats[val]);
		if (val === "" || subStats[val] === "") {
			$('#set_fax_status_note').val("");
		}
	});
		
	$("body").on('change', '#attachmentFile', function(e) {
//		var control = $('attachmentFile');
		
		var file = this.files[0];
//		var f_sz = false;
		
		function byteSize(num_bytes) {
			var tb = {
				'size': 0,
				'unit': 'B'
			};
			if (typeof (num_bytes) == 'number') {
				if (num_bytes <= 1024) {
					tb.size = num_bytes;
					return tb;
				} else if (num_bytes > 1024 && num_bytes <= (1024 * 1024)) {
					tb.size = Math.round(num_bytes / 1024 * 100) / 100;
					tb.unit = 'kB';
					return tb;
				} else if (num_bytes > (1024 * 1024) && num_bytes <= (1024 * 1024 * 1024)) {
					tb.size = Math.round((num_bytes / (1024 * 1024)) * 100) / 100;
					console.log('tb.size = ' + tb.size);
					tb.unit = 'MB';
					return tb;
				} else {
					popup("File is too large for upload.");
					console.log("Error - You shouldn't be uploading gigabyte files...");
					return false;
				}
			} else {
				return false;
			}
		}
		
		if (file.size) {
			console.log('file.size = ' + file.size);
			var myfs = byteSize(file.size);
			console.log('myfs = ' + myfs);

		}
		
		function errorHandler(evt) {
			// Use something other than alerts here?
			switch (evt.target.error.code) {
				case evt.target.error.NOT_FOUND_ERR:
					popup('File Not Found!');
					break;
				case evt.target.error.NOT_READABLE_ERR:
					popup('File could not be read. (Do you have permission to access this file?)');
					break;
				case evt.target.error.ABORT_ERR:
					break; // noop
				default:
					popup('An unknown error occurred reading this file.');
					console.log("Unknown error occurred.", evt);
					break;
			}
		}

		function updateProgress(evt) {
			// evt is an ProgressEvent.
			if (evt.lengthComputable) {
				var percentLoaded = Math.round((evt.loaded / evt.total) * 100);
				// Increase the progress bar length.
				if (percentLoaded < 100) {
					//progress.style.width = percentLoaded + '%';
					//progress.textContent = percentLoaded + '%';
					$('#atchSubmit').prop('disabled', true);
					$('#atchSubmit').attr('value', 'Uploading');
				}
			}
		}
		
		var rdr = new FileReader();

		rdr.onerror = errorHandler;
		rdr.onprogress = updateProgress;

		rdr.onload = (function (f) {
			return function (e) {
				$('#attachmentURL').attr('value', e.target.result);
				$('#attachmentMime').attr('value', file.type);
//				console.log(e.target.result);
//				console.log(file.type);
				
//				control.replaceWith( control = control.clone( true ) );
				
				$('#atchSubmit').prop('disabled', false);
				$('#atchSubmit').attr('value', 'Ready / Update Status');
			};
		})(file);
		rdr.readAsDataURL(file);
	});
	
	$('body').on("change", 'input[name="rxn"], input[name="fill_num"]', function(e) {
		var myname = $(this)[0].name;
		var myval = $(this)[0].value;
		
		var fnGetRxInfo = function(rxn, fill_num) {
			$.postJSON('/api/v1.2.i/get_rx_fill_status', {rxn: rxn, fill_num: fill_num}, function(data) {
				if (data.success && data.errs.length < 1 && data.data) { console.log(data);
					$('output.rx_status').text((data.data.rx_status)?data.data.rx_status:'No rx status has been set.');
					$('output.rx_message').text((data.data.rx_status_note)?data.data.rx_status_note:'No status note has been set.');

					if (data.data.attachment_id) {
						$('.func_view_rx_status_attachment').attr('data-atid', data.data.attachment_id);
						$('.func_view_rx_status_attachment').show();
					}

				} else {
					$('output.rx_status').text('');
					$('output.rx_message').text('');

					$('.func_view_rx_status_attachment').attr('data-rxn', '');
					$('.func_view_rx_status_attachment').attr('data-fillnum', '');
					$('.func_view_rx_status_attachment').hide();
				}
			});
		};
		
		// switch this out for a function hash to increase speed
		switch(myname) {
			case 'rxn':
				if (myval != '' && $('input[name="fill_num"]').val() != '') {
					fnGetRxInfo(myval, $('input[name="fill_num"]').val());
				}
				break;
			case 'fill_num':
				if (myval != '' && $('input[name="rxn"]').val() != '') {
					fnGetRxInfo($('input[name="rxn"]').val(), myval);
				}
				break;
			default:
				console.log('Unknown input: ', myname);
				break;
		}
	});

	$('body').on("change", '.func_set_fax_status input[name="rhc_id"]', function(e) {
		var fid = $(this)[0].value;
		
		$('figure.fax_status_preview img').attr('src', '');
		$('figure.fax_status_preview').hide();

		$.postJSON('/api/v1.2.i/get_fax_status', {rhc_id: fid}, function(data) {
			if (data.success && data.errs.length < 1 && data.data) {
				var preview_id = data.data.preview_id;
				var pdf_id     = data.data.pdf_id;
				var png_id     = data.data.png_id;
				var fax_id     = data.data.original_fax_id;
				
				$('output.fax_from').html((data.data.from_did)?("(" + data.data.from_did.substring(0,3) + ") " + data.data.from_did.substring(3,6) + "-" + data.data.from_did.substring(6, 10)):"&mdash;");
				$('output.fax_to').html((data.data.to_did)?("(" + data.data.to_did.substring(0,3) + ") " + data.data.to_did.substring(3,6) + "-" + data.data.to_did.substring(6, 10)):"&mdash;");

				$('output.fax_status').text((data.data.fstatus)?data.data.fstatus:"No fax status has been set.");
				$('output.fax_note').text((data.data.status_note)?data.data.status_note:"No fax status not has been set.");
				
				$('.func_view_previewed_fax_full').attr('data-rhcid', fid);
				$('.func_view_previewed_fax_pdf').attr('data-rhcid', fid);
				
				$('.func_view_previewed_fax_full').attr('data-pngid', png_id);
				$('.func_view_previewed_fax_pdf').attr('data-pdfid', pdf_id);
				
				$.postJSON('/api/v1.2.i/get_fax_img', {"rhc_id":fid, "data_record_id":preview_id}, function (data) {
					//console.log(data);
					if (data.success && data.errs.length < 1 && data.data) {
						$('figure.fax_status_preview img').attr('src', data.data.img_data);
						$('figure.fax_status_preview').show();
					} else {
						display_errs(data.errs);
					}
				});
			} else {
				display_errs(data.errs);
				
				$('output.fax_from').html('');
				$('output.fax_to').html('');

				$('output.fax_status').text('');
				$('output.fax_note').text('');
			}
		});
	});
	
	$('body').on(click_event, '.func_view_rx_status_attachment', function(e) {
		// POLISH THIS UP
		var stat_atid = $(this).data('atid');
		
		$.postJSON('/api/v1.2.i/get_rx_status_attachment', {'attachment_id':stat_atid }, function(data) {
			console.log('Stat Attach: ', data);
			if (data.success && data.data && data.errs.length < 1) {
				console.log('win');
				popup('<img src="' + data.data.img_data + '" style="max-width: 100%;" />');
			} else {
				console.log('fail');
				display_errs(data.errs);
			}
		});
	});
	
	$('body').on(click_event, '.func_view_previewed_fax_full', function(e) {
		var rhc_id = $(this).data('rhcid');
		var png_id = $(this).data('pngid');
		// POLISH THIS UP
		$.postJSON('/api/v1.2.i/get_fax_img', {"rhc_id":rhc_id, data_record_id:png_id}, function(data) {
			//console.log(data);
			if (data.success && data.errs.length < 1 && data.data && data.data.img_data) {
				popup('<img src="' + data.data.img_data + '" style="max-width:100%;" />');
			}
		});
	});
	
	$('body').on(click_event, '.func_view_previewed_fax_pdf', function(e) {
		var rhc_id = $(this).data('rhcid');
		var pdf_id = $(this).data('pdfid');

		// POLISH THIS UP
		$.postJSON('/api/v1.2.i/get_fax_img', {"rhc_id":rhc_id, data_record_id:pdf_id}, function(data) {
			//console.log(data);
			if (data.success && data.errs.length < 1 && data.data && data.data.img_data) {
				window.open(data.data.img_data);
			}
		});
	});

	$(document).on(click_event, '.func_capture_rx_attachment', function() {capRxStatusImage($('#pageOrientation').val());});
	$(document).on(click_event, '.func_clear_rx_attachment_capture', function() {clear_RxStatusCam(); });
});
</script>



<style type="text/css">
div.statuses_left,
div.statuses_right {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}
div.statuses_left {
	max-width: 510px;
	border-right: 2px dotted silver;
}
div.statuses_right {
	max-width: 408px;
	margin-left: 10px;
	padding-left: 1em;
}

figure.fax_status_preview {
	margin: 1em 0;
}
figure.fax_status_preview img {
	border: 1px solid #ddd;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.5);
	margin: 0 auto;
}
figure.fax_status_preview figcaption {
	width: 100%;
	text-align: center;
	margin-top:1em;
}
figure.fax_status_preview figcaption p {
	margin: 0 auto;
}
/*********************** Cam Capture CSS **********************/
#pageOrientation { display: none; }
#rxPic_camViews {
    display: inline-block;
    position: relative;
    width: 480px;
    height: 300px;
    border: 2px solid #ccc;
    overflow: hidden;
    margin: 1em 0;
}
#rxPic_confirmWrap {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    vertical-align: top !important;
    width: 100%;
}
#rxPic_confirmImg {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 200px;
    overflow: hidden;
    border: 2px solid #ccc;
    margin: 0;
}
#rxPic_confirmDataBlock {
    display: inline-block;
    position: relative;
    margin-left: 8px;
    padding: 0;
    width: 260px;
    vertical-align: top;
}
#rxPic_confirmDataBlock p {
    display: block;
}
#rxPic_vidOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-family: Arial;
    font-size: 8em;
    font-weight: bold;
    z-index: 998;
    padding-top: 0.5em;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
#rxPic_scan #rxPic_camViews #rxPic_streamVideo {
    float: left;
    clear: none;
    z-index: 990;
}
#rxPic_captureImg {
    z-index: 993;
}
#rxPic_fin #rxPic_confirmWrap #rxPic_captureImg,
#rxPic_scan #rxPic_camViews #rxPic_streamVideo,
#rxPic_scan #rxPic_camViews #rxPic_captureImg {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    margin: 0;
}
#rxPic_camViews figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 999;
}
button, div#rxPic_w_wrap, div#rxPic_h_wrap {
    display: inline-block;
}
div#rxPic_w_wrap, div#rxPic_h_wrap {
    width: 47%;
    text-align: left;
}
canvas.rxPic_canvas {
    display: none;
}

.rxPic_details {
	font: 100 12px ProximaNovaRegular, Arial, sans-serif;
	
}
.rxPic_details .patient_name {
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: bold;
	border-bottom: 1px solid #666;
}
.rxPic_details .rxi_table {
	font: 100 12px ProximaNovaRegular, Arial, sans-serif;
	width: 100%;
	margin-bottom: 1em;
}
.rxPic_details .rxi_table td {
	border: none;
	border-spacing: 3px;
	background-color: #fff;
	vertical-align: top;
}
.rxPic_details .med_medication { font-weight: bold;}
.rxPic_details .rxi_table .med_dose {
	width: 8em;
	word-break: break-word;
	text-wrap: unrestricted;
}
.rxPic_details .rxi_table .med_qty {
	width: 4em;
	word-break: break-word;
	text-wrap: unrestricted;
}
.rxPic_details .rxi_table .med_refills {
	width: 4.75em;
	word-break: break-word;
	text-wrap: unrestricted;
}
.rxPic_details .button-block {
	height: 38px;
}
.rxPic_details .button-block * {
	margin: 1em;
	border: 1px solid #b6b6b6;
	font-weight: normal;
	color: #4f4f4f;
	height: 31px !important;
	padding: 0 1em !important;
	font-family: Arial,sans-serif;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
	-webkit-user-select: none;
	-webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background: -webkit-gradient( linear, left bottom, left top, color-stop(1, rgb(237, 237, 237)), color-stop(0, rgb(196, 196, 196)) );
}
.rxPic_details .button-block input[type="button"] {
	float: left;
}
.rxPic_details .button-block input[type="submit"] {
	float: right;
}
.rxPic_details .rx_nums {	margin-top: .5em;	}


.long_med.small {	font-size: smaller;}

hr {
	height: 1px;
	border: none;
	border-top: 2px dotted silver;
}
</style>
