{{if rxpad.patientid}}





{{if typeof rxpad.recommendations == "object" &&  jQuery.map(Object.keys(rxpad.recommendations), function(i,v) {  if (typeof rxpad.recommendations[i] == "object") {return Object.keys(rxpad.recommendations[i]);} })[0] }}
<form id="rxp_recommendations_prompt_form">
            <div class="contentbox">
{{each( sectName, k1 ) recs}}
            	<div class="${sectName} rec_section">
 	{{each( subSectName, k2 ) k1}}            
            	<div class="${subSectName} rec_section">
		 	{{each( i, medSystem ) recs[sectName][subSectName]['omedSystem']}}

	            		<div class="rec_system ${medSystem}">
		 	{{each( ii, medCategory  ) recs[sectName][subSectName][medSystem]['omedCategory'] }}
	            			<div class="rec_category ${medCategory}">
			 	{{each( iii, rec )    recs[sectName][subSectName][medSystem][medCategory]['orecs'] }}
            				<div class="rec_medication ${rec.Medication} andor_${rec.andor}         " >
									<label class="label_check" for="${rec.sectName+'_'+rec.ID}">
	            						<span class="rec_display_full_rec">
		            						<span class="add_rec"><input type="checkbox" data-medication="${rec.MedicationDN}" data-dose="${rec.Dose}" data-sig="${rec.Instructions}" data-qty="30 Day Supply" id="${rec.sectName+'_'+rec.ID}" /></span>
				            				<span class="rec_display_med">${rec.MedicationDN}</span>&nbsp;<span class="rec_display_dose">${rec.Dose}</span>&nbsp;<span class="rec_display_sig">${rec.Instructions}</span>
			            				</span>
			            			</label>
			            			{{if iii> 0 && rec.andor == 'and' }}
			            			<div class="rec_plus">+</div>
			            			{{/if}}
	            				</div>
			 	{{/each}}
	            			</div>
		 	{{/each}}
	            		</div>
	 	{{/each}}
            	</div>
 	{{/each}}
            	</div>
{{/each}}            
        </div>
        <input type="submit" value="Add to Rx Pad" class=" ui-button ui-widget ui-state-default ui-corner-all" />
</form>
{{else}}
<span class="pick_patient_first">No recommendations for this patient</span>
{{/if}}
{{else}}
<span class="pick_patient_first">Please select a patient first!</span>
{{/if}}