<style type="text/css">
	#refillQueueArea:before { content: 'Upcoming Refills'; font-weight: bold; }
	
	#refillQueueArea {max-width: 50em;}
	.rfList_Remaining {display: none;}
	.ToRefill {max-width: 3em;}
	.newSig {
		width: 30em;
		vertical-align: middle;
		margin: 0em .5em;
		border-radius: .4em;
		padding: .7em;
		border: solid 1px silver;
	}
	.rfg_refillLine  {border-top: solid black 2px; padding: 1em; margin: 1em; cursor: pointer;}
	.rfq_header.rfg_refillLine {
		border: solid whiteSmoke 2px !important;
		cursor: pointer;
		padding: 0.5em 1.0em;
		background-color: #FAFAFA;
		white-space: nowrap;
		border-top: 1px whiteSmoke;
		border-radius: 0.8em 0.8em 0.0em 0.0em;

		border-bottom: none;
		margin: 0;
		font-weight: bold;

	}
	
	.rfq_header.rfg_refillLine span.rfList_Patient {
		min-width: 276px; display: inline-block; margin-right:0px;
	}
	.rfq_header.rfg_refillLine span.rfList_Drug {
		min-width: 450px; display: inline-block; margin-right:0px;
	}
	
	.rfq_header.rfg_refillLine span.rfList_DateFilled {
		min-width: 150px; display: inline-block; margin-right:0px;
	}

	.rfg_refillLine span.rfList_Patient {
		min-width: 276px; display: inline-block;
	}
	.rfg_refillLine span.rfList_Drug {
		min-width: 450px; display: inline-block;
	}
	
	.rfg_refillLine span.rfList_DateFilled {
		min-width: 150px; display: inline-block;
	}

	
	.rfq_header.rfg_refillLine span {display: inline-block;}
	
	.rfCompleted {color: gray;}
	.rfCompleted::before {color: green; font-weight: bold; content: 'Submitted'; font-size: large; display: block; text-align: center;}
	
	.rfList_Patient {max-width: 16em; width: 16em; overflow:hidden; margin-right: 2em;}
	.rfList_DateFilled { max-width: 10em; width: 10em; overflow:hidden; margin-right: 2em;}
	.rfList_Drug { max-width: 16em; min-width: 16em; width: 16em; overflow:hidden; margin-right: 2em; }
	
	
	
	
	
	
.rfq_line_odd {
	background-color: #E6F5FA;
	border-bottom: 1px solid #E5EFF8;
}


.rfq_line_even {
	background-color: white;
	border-collapse: collapse;
	border-style: none;
	color: #3A6781;
}

	
	
</style>


<script  id="tmpl_refill_q_area" type="text/x-jquery-tmpl">
							<div id="rftb_DESC">
								<div id="li_rfq_DESC" class=" rfq_header rfg_refillLine "  >
									<span class="rfList_Patient">Patient</span>
									<span class="rfList_Drug">Medication</span>
									<span class="rfList_DateFilled">Last Date Filled</span>
								</div>
								<div id="refillQ_area"></div>
							</div>
</script>
<script  id="tmpl_refill_q_entry" type="text/x-jquery-tmpl">
<& '/tmpl/refillQ_entry.html' &>
</script>
<script>
//bad bad bad:
var tmp_rf_data;
var tmp_rf_msg;

// end badness 
var sendRefillQ =function(tdata) {
	var data=$(tdata).serializeObject();
	$('#progress-' + data.rxn).show(); 
	// only once:
	data.refills = data.refills *1;
						tmp_rf_data=null;
						tmp_rf_msg=null;



	$.postJSON('/api/v1/verifyRx', { meds: [data] } , function(msg) {

				if (msg.success) {
					$(this).removeClass( 'errors_present' );
						tmp_rf_data=data;
						tmp_rf_msg=msg;

					if (msg.errs[0]) {
							var tmp_cb= msg.errs[0].cb ? function(){eval(msg.errs[0].cb)} : "submitRxRefill(tmp_rf_data, tmp_rf_msg)";
							display_errs(msg.errs, null, tmp_cb  );
								} else {
								submitRxRefill(data, msg);
								}
				} else {	$(this).addClass( 'errors_present' );	display_errs(msg.errs, null, function(){eval(msg.errs[0].cb)}  );}
			});
	};


var submitRxRefill = function( data, msg) {

					
					 	$('#rq_f_' + data.rxn).find(':input:not(:disabled)').prop('disabled',true);
					 	
					 	$.postJSON('/api/v1/submitRefill', { meds: msg.data } , function(msg_p) {
							if (msg_p.errs) {display_errs(msg_p.errs, null, function(){eval(msg_p.errs[0].cb)} );}
							if (msg_p.success) {
								 $('#li_rfq_' +data.patientid + '-' +data.rxn).addClass('rfCompleted'); $('#progress-' +data.rxn).hide();
									acct.refill_reqs[$(tdata).dataset('rfid')] = new Object();;
									if (typeof rd.pobj =='object' && typeof $('#pc_refill_reqs')[0] == 'object') {show_patient_refills();}
					 		} else {$(this).addClass( 'errors_present' );}
					 		});

};

var display_refillQ = function(rfq) {
		push_lh({loc: 'refillq', self:[] });

activate_area({title: 'Pending Refill Requests'});

	 			$('#tmpl_refill_q_area').tmpl({}).appendTo('#ma'); 	 
if (! rfq[0]) { $('#refilQ_area').append(  '<h3>No Refills at this time</h3>' ); return false;}

			

$.each(	rfq,
		 function(i, conv){ 

		 	if (conv['rxn']) 
		 		{
		 			//console.log(conv);
		 			conv['i']=i;
		 			conv['eoo']= (i % 2 ? 'even' : 'odd');
		 			$('#tmpl_refill_q_entry').tmpl(conv).appendTo('#refillQ_area'); 
		 		}
		 	}
	);
};
	 var showLabs_Refills = function(patid, elm) {
	 	var labDiv=$('labDisplayArea');
	 	window_factory(labDiv, {    closeOnClick: 'container',  
    offsetLeft: 150  })
		var tl=elm.cumulativeOffset;
	 	new Ajax.Updater(labDiv, '/aa/labresults.html', {
			  parameters: { patientID: patid },
			  onSuccess: function() {			  }
			  
			});
		
			
	 }
	 
	 
	 
	 
	 
var fixup_rf_radios = function() {
	// when authorize is checked - uncheck do not refill
	
	// when dnf is checked - uncheck auth and empty refill #
	$("body").delegate(".rfq_dnr", "click", function(){
			if (this.checked)  {
				var trxn=$(this).dataset('rxn');
				$('#' + trxn + '_something_here')
			}
		});
		};
	 
</script>
