{{if rxpad.patientid}}
{{if rxpad.rx_history && rxpad.rx_history[0]}}

<form id="rxp_rx_history_prompt_form">

<div id="rxhist_sb" class="jqscrollbar" style="width: 616px; new-broken-width: 478px;">
	<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
	<div class="viewport" style="width: 570px; new-broken-width:432px; height: 500px;">
		<div class="overview">


		<table style="" id="rx_hist_tbl">
			<thead>
				<tr>
					<th >Add<br/>Rx #</th>
					<th>Medication</th>
					<th class="small_header">Rx'ed</th>
					<th class="small_header">Filled<br/><span class="xsmall_header">(More)</span></th>
					<th>QTY</th>
					<th class="small_header">Refills</th>
				</tr>
			</thead>
			<tbody >
			{{each(i, rx) rxs}}
				<tr  class="add-border row-border-img-top {{if i % 2 }} alt rxh_even {{else}} rxh_odd {{/if}}">
					<td class="addRx" rowspan="2"  data-rxn="${rx.rxn}">
						
						<label class="label_check" for="${rx.rxn}_${i}">
						<div style="min-height:1em; min-width: 1em; ">&nbsp;</div>
							<span class="add_rec"><input type="checkbox" id="${rx.rxn}_${i}" data-rxn="${rx.rxn}" data-medication="${rx.medication}"  data-sig="${rx.sig}" data-qty="${rx.QTY}"   /></span>
						</label>
					<div class="RxN {{if rx.active > 0}}active{{/if}} {{if rx.refill_requested > 0}}refill_requested{{/if}} ">${rx.rxn}</div>
					</td>

					<td class="medication">${rx.medication}</td>
					<td class="date_prescribed">${rx.prescribed_f}</td>
					<td class="date_filled">
						{{if rx.fill_dates_f[0]}}
								${rx.fill_dates_f[0]}<a href="#fill_history_${rx.rxn}" data-rxn="${rx.rxn}" class="rx_hist_fill_dates">&nbsp;<img src="/css/img/gt_gt.png" /></a>
							<div class="fill_date_list" style="display:none;">
							{{each(ii, fdate) rx['fill_dates_f']}}
								<div class="fill_date func_popup_rxtrans_details" data-rxn="${rx.rxn}" data-transrcd="${rx['transactionrcds'][ii]}">${fdate} - ${rx['fill_qtys'][ii]}</div>
							{{/each}}
							</div>
						{{/if}}{{if ! rx.fill_dates_f[0]}}<span class="unfilled">Unfilled</span>{{/if}}
					</td>
					<td class="QTY">${rx.QTY}</td>
					<td class="refills">${rx.remaining_refills} / ${rx.refills_authorized}</td>
				</tr>
				<tr class="sig-row {{if i % 2 }} alt rxh_even {{else}} rxh_odd {{/if}} " >
					<td class="sig" colspan="5">${rx.sig}</td>
				</tr>
		{{/each}}
			</tbody>
		</table>


		</div>
	</div>
</div>	


    <input style="margin: 1.1em;" type="submit" value="Add to Rx Pad" class=" ui-button ui-widget ui-state-default ui-corner-all" />
</form>
{{else}}
<span class="pick_patient_first">No Rx History for this patient</span>
{{/if}}
{{else}}

{{else}}
<span class="pick_patient_first">Please select a patient first!</span>
{{/if}}