

<script id="add_rxp_med" type="text/x-jquery-tmpl">


<div class="rxp_med" data-medid="${medid}" style="width: 40em;">
	<span class="remove_med" data-medid="${medid}">X</span>
		<input type="hidden" name="RxN" value="${RxN}"  data-medid="${medid}"/>
	<span class="med_name"><input name="medication" id="rxp_med_medication_${medid}" value="${medication}" placeholder="Medication" class="med_medication_i"  data-medid="${medid}" required/></span>
	<span class="med_dose"><input name="dose"   class="med_dose_i warn_only" value="${dose}" placeholder="Dose"  data-medid="${medid}" required/></span>
	<span class="med_qty"><input name="qty"   class="med_qty_i" value="${qty}" placeholder="30 Day Supply"  data-medid="${medid}" required /></span>
	<span class="med_refills"><input name="refills"   value="${refills}" placeholder="#refills" class="med_refills_i"  data-medid="${medid}" required pattern="\d+"/></span>
	<div class="med_sig"><textarea rows="1" class="med_sig_i" name="sig" placeholder="Instructions"  data-medid="${medid}"required>${sig}</textarea></div>
</div>


</script>
<script id="display_rxp_meds" type="text/x-jquery-tmpl">

	<div class="rxp_med" data-medid="${medid}" data-rxn="${rx.RxN}" data-medication="${rx.medication}" data-dose="${rx.dose}" data-qty="${rx.qty}" data-refills="${rx.refills}" data-sig="${rx.sig}" style="width: 40em;">
		<span class="remove_med rx_entry" data-medid="${medid}">X</span>
			<input type="hidden" name="RxN" value="${rx.RxN}"  data-medid="${medid}"/>
		<span class="med_name med_medication"><input type="hidden" name="medication" id="rxp_med_medication_${medid}" value="${rx.medication}" placeholder="Medication" class="med_medication_i"  data-medid="${medid}"/>${rx.medication}</span>
		<span class="med_dose"><input  type="hidden" name="dose"   class="med_dose_i" value="${rx.dose}" placeholder="Dose"  data-medid="${medid}"/>${rx.dose}</span>
		<span class="med_qty"><input name="qty"    type="hidden" class="med_qty_i" value="${rx.qty}" placeholder="30 Day Supply"  data-medid="${medid}" />${rx.qty}</span>
		<span class="med_refills"><input name="refills"   type="hidden"  value="${rx.refills}" placeholder="#refills" class="med_refills_i"  data-medid="${medid}"/>${rx.refills}</span>
		<div class="med_sig"><textarea rows="1" style="display:none; overflow: hidden; width: 100%; margin-left: 0.6em;" class="med_sig_i" name="sig" placeholder="Instructions"  data-medid="${medid}">${rx.sig}</textarea>${rx.sig}</div>
	</div>

</script>

<script id="tmpl_rxpad"  type="text/x-jquery-tmpl">
	<div class="pinfo_msgs_div">&nbsp;<span class="pinfo_msgs"></span></div>
<div id="rxp_left_tabs">
	<div class="left_bar">
		<h5>Prescribe &amp; Order</h5>
		<div class="indent_15_em">
					<ul class="ui_left_tabs pc_chart_tabs" id="rxp_left_tabs_ul">
						<li class="ui-button ui-widget ui-state-default ui-corner-all"><a href="#rxpad_order_area" id="pc_rxp_rxpad_sub_tab" >Medications</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#otc_order_area" id="pc_rxp_otc_sub_tab">Supplements</a></li>

						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#lab_saliva_order_area" id="pc_rxp_lab_saliva_sub_tab">Saliva/Urine</a></li>
						<li class="ui-button ui-widget ui-state-default ui-corner-all" ><a href="#lab_serum_order_area" id="pc_rxp_lab_serum_sub_tab" >Serum</a></li>
					</ul>
		</div>
	</div>
	<div class="right_bar">
		<div class="padded_box">
			

					<div id="rxp_patient_select">
						<form class="patient_search" method="post"  >
							<div class="small_label selecting_patient" id="rxp_choose_pt_header">Choose Patient</div>
							<input name="patient_search"  class="patient_search selecting_patient clear_on_click" size="64" placeholder="Patient Name or DOB (MM/DD/YY)" /> <span id="rxp_selected_pt_changer" class="selected_patient click_to_change_patient qtm-dbl_click_to_change_patient qselector"></span>&nbsp;<span id="rxp_change_pt" class="patient_selected" style="display:none;">Change</span>
							<input type="button" id="rxp_add_patient" value="Add Patient" form="rxp_form" class="func_add_patient selecting_patient ui-button ui-widget ui-state-default ui-corner-all" role="button">
				
						</form>
					</div>


			<div id="rxpad_order_area">
				<div><b class="rsection_title">Rx Pad</b></div>
				<div id="rxpad"  class="ui-form ">
					<div class="rx_verify" id="rxp_verify_msg">Verify Prescription Below</div>
					<div style="width: 40em;" id="rxp_head">
						<div class="rxp_med" data-medid="" style="white-space: nowrap; border: 2px whiteSmoke; border-radius: 0.8em 0.8em 0.0em 0.0em; background-color: #FAFAFA; border-color: whiteSmoke; border-bottom: none;">
							<span class="remove_med" data-medid="" style="visibility:hidden;"></span>
							<span class="med_medication">Medication</span>
							<span class="med_dose">Dose</span>
							<span class="med_qty">QTY</span>
							<span class="med_refills">Refills</span>
							<div style="display:none;" class="med_sig">Instructions</div>
						</div>
					</div>
					<form id="rxp_form" name="rxp_form" >
						<div id="rxp_meds"></div>
					</form>
					<div id="rxpad_foot">
						<div id="add_rxpad_row" class="rx_entry">+ Add Another</div>
						<div id="edit_rxpad_verify" class="rx_verify">Edit</div>
						<div class="rx_verify" id="rxp_electronic_sig">Electronically Sign: <input type="text" name="esig" id="rxp_esig" placeholder="Your Signature" style="width: 20em;" /></div>
						<div id="rx_submit">
							<input type="button" id="rxp_submit_v" value="Verify Rx"  form="rxp_form" class="rx_entry ui-button ui-widget ui-state-default ui-corner-all" role="button">
							<input type="button" id="rxp_submit_s" value="Submit Rx"  form="rxp_form" class="rx_verify ui-button ui-widget ui-state-default ui-corner-all" role="button">
					</div>
					<div id="completed_rx" style="display:none;">Successfully Sent</div>
					<div id="completed_rx_options" style="display:none;">
							<input type="button" id="rxp__after_submit_D" value="Go To Dashboard"   class=" func_goto_dashboard ui-button ui-widget ui-state-default ui-corner-all" role="button"> &nbsp; 
							<input type="button" id="rxp__after_submit_PC" value="Go To Chart"   class="func_goto_chart ui-button ui-widget ui-state-default ui-corner-all" role="button">
					</div>
				</div>
	
				<div id="rxp_toolset" class="ui-buttonset" >
						<input type="radio" id="radio1" name="radio" class="patient_selected rx_entry  recommendation_popup ui-helper-hidden-accessible" ><label for="radio1" aria-pressed="false" class="patient_selected rx_entry   ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left ui-state-hover" role="button"><span class="ui-button-text rxp_recommendations_button">Recommendations</span></label>
						<input type="radio" id="radio2" name="radio" checked="checked" class=" rx_entry  rx_template_popup ui-helper-hidden-accessible"><label for="radio2" class="rx_entry ui-button ui-widget ui-state-default ui-button-text-only " aria-pressed="true" role="button" aria-disabled="false"><span class="ui-button-text">Template</span></label>
						<input type="radio" id="radio3" name="radio" class="patient_selected rx_entry rx_history_popup ui-helper-hidden-accessible"><label for="radio3" aria-pressed="false" class="patient_selected rx_entry ui-button ui-widget ui-state-default ui-corner-right ui-button-text-only" role="button" aria-disabled="false"><span class="ui-button-text rxp_history_button">Rx History</span></label>
				</div>
			
			</div>	 
			</div>
			
			<div id="otc_order_area">
			</div>
			
			<div id="lab_saliva_order_area">
			</div>

			<div id="lab_serum_order_area">
			</div>

				
		</div>
	</div>

</div>
</script>
<script id="tmpl_recommendations"  type="text/x-jquery-tmpl">
<& '/tmpl/recommendations_b.html' &>
</script>

<script id="tmpl_rx_history"  type="text/x-jquery-tmpl">
<& '/tmpl/rx_history2.html' &>
</script>

<script id="tmpl_rx_template"  type="text/x-jquery-tmpl">
<& '/tmpl/rx_template.html' &>
</script>






