<script id="tmpl_sales_sb" type="text/x-jquery-tmpl">
<div id="prov_list">
				<ul>
					{{each(i, prov) provs}}
					<li>${prov.provName} - ${prov.total_rx_cnt}</li>
					{{/each}}
				</ul>

</div>
<div id="prov_details"></div>
</script>
<script id="tmpl_prov_dtls" type="text/x-jquery-tmpl">
	<div>
		{{if last_rd_login}}<div class="prove_info"><b>Last RD Login: </b> ${last_rd_login}</div>{{/if}}
			
		<div class="prove_info">
			<b>Top Rxs:</b>
				<ul id="top_rx_list">
					{{each(i, rx) top_rxs}}
					<li>${rx.DrugName} - ${rx.rxCnt} [${rx.last_rxed}]</li>
					{{/each}}
				</ul>
		</div>
		<p/>
		<hr/>
		<p/>
		<div class="prove_info">
			<b>Recently Prescribed:</b>
				<ul id="pat_rx_list" class="">
					{{each(i, pat) recent_patients}}
					<li class="patient_name"><a href="#" onclick="$('#p_rxs_${pat.patientID}').show(); return false;"><span class="hipaa_name">${pat.pname}</span> - ${pat.DOB}</a>
						<ul class="patient_rxs" id="p_rxs_${pat.patientID}" style="display:none;">
						{{each(i, rx) pat.rxs}}
							<li class="rx_info"><span class="drug_name"><b>${rx.DrugName}</b> - ${rxn}</span> <span class="last_rx">[${rx.DatePrescribed} / ${rx.last_fill}]</span> <span class="ds">DS: ${day_supply}</span> <span class="fills"><a href="#" onclick="$('#filldates_${rxn}').show(); return false;">Fills</a></span>
								<div id="filldates_${rxn}" style="display:none;">${fill_dates}</div></li>
						{{/each}}
						</ul>
					</li>
					{{/each}}
				</ul>
		</div>
	</div>
</script>

<script id="tmpl_new_prov_simple01" type="text/x-jquery-tmpl">
<div>
<form  class="func_getNewProviders_simple01" target="_blank" action="/api/v1.2.s/getNewProviders_simple01" method="post"><b>New Providers:</b><br> <span>Start:<input name="date_start" type="date"></span> &nbsp; <span>End:<input name="date_end" type="date"></span><input type="submit" value=" Get Report " class="ui-button ui-widget ui-state-default ui-corner-all"><div id="as_return_link"></div></form>
</div>
</script>

<script id="tmpl_mw_sales_report" type="text/x-jquery-tmpl">
<div>
	<form  class="func_mw_sales_report" target="_blank" action="/api/v1.2.s/getProviders_for_sales" method="post"><b>Providers Report:</b><br> <span>Start:<input name="date_start" type="date"></span> &nbsp; <span>End:<input name="date_end" type="date"></span><input type="submit" value=" Get Report " class="ui-button ui-widget ui-state-default ui-corner-all"><div id="as_return_link"></div></form>
</div>
</script>

