<script id="tmpl_ups_track_tbl"  type="text/x-jquery-tmpl">
	<table id="ups_track_tbl"></table>
</script>



<script id="tmpl_ups_track_list"  type="text/x-jquery-tmpl">
	<div class="gray_box">
		<ul id="ups_track_ul" class="list">
			{{if (typeof shipments =='array' || typeof shipments =='object')  && rd.pobj.shipments.length}}
				{{each(pi, pkg) shipments}}
					<li class=""><a href="#" data-tracknum="${pkg.trackNum}" data-pkgindx="${pi}" class="func_pb_tracking">${shipDate_f}</a></li>
				{{/each}}
			{{else}}
				<li class="empty_list">No shipments on file</li>
			{{/if}}
		</ul>
	</div>
</script>


<script id="tmpl_ups_tracking_info"  type="text/x-jquery-tmpl">
{{if typeof raw !='undefined' }}
{{if  typeof raw.Shipment  !='undefined' &&  typeof raw.Shipment.InquiryNumber  !='undefined'  && raw.Shipment.InquiryNumber.Code == '03'}}
<div><a target="_blank" href="http://www.ups-mi.net/packageID/PackageID.aspx?PID=${raw.Shipment.InquiryNumber.Value}">Track in new window</a></div>
{{else}}
	<div class="tracking_info">
		<div class="track_status">
			
			<span class="delivery_date">
				{{if raw.Shipment.RescheduledDeliveryDate}}${raw.Shipment.RescheduledDeliveryDate} / Originally: {{/if}}
				{{if raw.Shipment.ScheduledDeliveryDate}}${raw.Shipment.ScheduledDeliveryDate} / {{/if}}
				{{if typeof raw.Shipment.Package.Message != 'undefined'}}${raw.Shipment.Package.Message.Description}{{/if}}</span>

		</div>
		<div class="tracking_activity">
			<table border="0" cellpadding="0" cellspacing="0" class="activity_table">
				<tbody>
					<tr>
		        		<th class="ts_loc">Location</th>
		        		<th class="ts_date">Date</th>
		        		<th class="ts_time">Local Time</th>
		        		<th class="ts_act">Activity</th>
		           	</tr>
{{each( inx, tact ) raw.Shipment.Package.Activity}}
			       	<tr class="activity_entry">
			          	<td >
			    			${tact.address_str}
			          	</td>
						<td >
  			              	${tact.Date}
				        </td>
			          	<td >
							${tact.Time}
						</td>
		          		<td class="ts_act">${tact.Status.StatusType.Description}
		          		</td>
		        	</tr>
{{/each}}
				</tbody>
			</table>
		</div>
{{/if}}		
{{else}}
<div>
	{{if usps}}
	 USPS: <a target="_usps" href="https://tools.usps.com/go/TrackConfirmAction_input?strOrigTrackNum=${tracking_num}">${tracking_num}</a>
	{{else}}Tracking information not yet available
	{{/if}}</div>
{{/if}}
		<div class="pkg_contents">
			<ul class="pkg_list">
{{each( inx, itm ) contents}}
				<li class="pkg_item">
					<span class="rxn">${itm.RxNumber}</span>
					<span class="item_name">${itm.DrugName}</span>
					<span class="qty">${itm.QuantityDisp}</span>
					 <span class="price">${itm.price}</span>
				</li>
{{/each}}		
			</ul>	
		</div>
	
</script>
<style title="ups_tracking">
	#ups_track_tbl_wrapper {
							display: inline-block;
							max-width: 780px;
							}
	.tracking_activity {
							max-height: 300px;
							overflow-y: scroll;
							}
	.activity_table { font-size: 0.7em; table-layout: fixed;  width: 600px; max-width:600px;}
	.activity_entry td { padding: 1px 3px;   word-wrap:break-word;}
	.activity_table .ts_act {max-width:250px; word-wrap:break-word;}
	
	.delivery_date:before {content: 'To be delivered on: '; font-weight:bold;}
	.pkg_contents {}
	div.pkg_contents:before {content: 'Package Contents'; font-weight:bold;}
	.pkg_list li.pkg_item {}
	.pkg_list li.pkg_item span.rxn:after { content: ' - ';}
	.pkg_list li.pkg_item span.item_name:after { content: ' ';}
	.pkg_list li.pkg_item span.qty:before { content: ' (';}
	.pkg_list li.pkg_item span.qty:after { content: ') ';}
	.pkg_list li.pkg_item span.price:before { content: '\000024';}
</style>