
/* general */

.area-box div.wheader {    width: 100%; margin: .5em auto; font-size:large; color: white; background-color: #6EB4C1; padding: 0.7em}

.area-wrap {	border: 2px solid #6EB4C1;	 page-break-inside: avoid;}	 
.area-box {	border: 2px solid #6EB4C1;	}	

		.no-support-cols2 {
			-moz-column-count: 2;
			-moz-column-gap: 20px;
			-webkit-column-count: 2;
			-webkit-column-gap: 20px;
			column-count: 2;
			column-gap: 20px;
		}


/* symptoms */



#symcolstable #symptomsKeyChart .tr { width: 100%; }
#symColsTable .tr {
float: left;
width: 50%;
display: list-item;
margin: .1em 0 0.1em 0;
}


#symColsTable .symptomsline {
border-top: none;
}

#symColsTable div.tr:nth-child(even) {clear:both;}
#symColsTable div.tr:nth-child(3n) span.td {	border-bottom:  solid black 2px; 	}
#symColsTable div.tr:nth-child(3n) span.th {	border-bottom:  solid black 2px;	}

#symptomListingTFOOT  .th.symptomsDates ,  #symptomListingTHEAD .th.symptomsDates {
min-width: 59px; min-width: 42px;
}




/* orig */
#symptomListingTBODY > div.tr:first-child {	margin: 2.8em 0 0 0; }
	
		.th.column1 {display: inline-block; min-width: 22em;
									min-width:245px;
									max-width:245px;
									font-size: 0.9em;

		}
		.reportedCol {display: inline-block; min-width: 50px;
								text-align: center;
								margin-left: auto;
								margin-right: auto;
								line-height: 1.5em;
								vertical-align: bottom;
		} 

#symcolstable div.tr:nth-child(3n) span.td.reportedCol { padding-bottom: 0.25em;}

	#aw_symptomList::before {content: 'Reported Symptom History';    font-size:large; color: white; background-color: #6EB4C1; padding: 0.35em 0 0.35em 0;  display: block}
	.symtoms2 { border: none; }
	.0symptomsline { vertical-align: top;  }
		.symptomsline { vertical-align: bottom; }

	.symptomsdates {
								font-family: inherit;
								font-weight: normal;
								font-size: 0.85em;
								text-align: center;
								margin-left: auto;
								margin-right: auto;
								white-space: nowrap;
								display: inline-block;
					display: inline-block;
					min-width: 50px;
					text-align: center;
					margin-left: auto;
					margin-right: auto;
					line-height: 1.5em;
					border-bottom: solid black 2px;
	}

		/* to shrink */
		
		.symptomsimg {
			max-height: .85em;
			}

	.reportedcol {min-width: 40px;}
	.th.symptomsDates {min-width: 40px;}
	
	
	.sym_smaller {font-size: 0.85em; line-height: 1.70em;}
	.sym_smaller.sym_vsmaller {font-size: 0.75em; line-height: 1.50em;}
	
	
	#aw_symptomList::before {display: none;}
	#aw_symptomList { border: none !important;}
	#symptombox {
		padding-top: 0em !important;
	}
	
	#symColsTable + br {display: none;}
/* medical history */

#importantinfo {
max-width: 100%;
border-radius: 0;
-webkit-border-radius: 0;
padding: 1em;
border: none;
float: none;
-webkit-column-rule-color: #ccc;
-webkit-column-rule-style: dotted;
-webkit-column-rule-width: 2px;
margin-right: 0em;
margin-bottom: 0em;

}

#importantinfo::before {display: none;}
#medicalhistoryarea::before  {display: none;}
#aw_importantInfo::before {content: 'Health Status';   font-size:large; color: white; background-color: #6EB4C1; display: block}

ul.healthConditionsList {-webkit-margin-before: 0em; -webkit-padding-start: 25%;}

#aw_medicalHistoryArea::before {content: 'Reported Medical History';    font-size:large; color: white; background-color: #6EB4C1; padding: 0.35em 0 0.35em 0;  display: block}

#medicalhistoryarea {
	page: auto
	border-radius: 0;
	border-radius: 0;
	border: 0;
	float: none;
	font-family: 'Gill Sans', Rockwell, 'Trebuchet MS', TAHOMA, 'CENTURY GOTHIC';
	margin: 0;
	width: 100%;
	max-width: 100%;
	padding: 0;
	text-align: left;
}


#medicalHistoryAreaM {
		-webkit-column-rule-color: #ccc;
		-webkit-column-rule-style: dotted;
		-webkit-column-rule-width: 2px;
		padding: 1em;
	}
	
#medicalHistoryAreaM .medicalhistorylist li { float: none;  width: 32em; padding: 0 ;}

#medicalHistoryAreaM .medicalhistorylist {
	-webkit-margin-before: 0em; -webkit-padding-start: 25%;
}

/* ========================== Hormone Therapy Data ============================ */
#medhistorydisplay { border-bottom: none; border-top: none;	}


#diagnosesarea::before {
content: 'Diagnostic and Therapy Considerations';
font-weight: bold;
color: #6EB4C1;
}

#diagnosesarea {
	background-color: #D1E5EB;
	color: #6EB4C1;
	margin: 0;
	padding: 0.25em 1em 0.25em 1em;;

}

#diagnosesArea li ul { -webkit-margin-after: 0em; }


#aw_MedHistoryDisplay { margin: 2em 0 0 0 ;}

#aw_MedHistoryDisplay::before {
content: 'Hormone Therapy Data';
  font-size:large; color: white; background-color: #6EB4C1; padding: 0.35em 0 0.35em 0;  display: block;
}
#medhistorydisplay::before  { display: none; }

#MedHistoryDisplay {
	margin: 0;
	padding: 1.25em 1em 1.25em 1em;;
	float: none;
}




#aw_FurtherTherapyConsiderations_off::before { content: 'Further Therapy Considerations';
  font-size:large; color: white; background-color: #6EB4C1; padding: 0.35em 0 0.35em 0;  display: block;
}
#FurtherTherapyConsiderations {
 	background-color: #D1E5EB;
	color: #6EB4C1;
	margin: 0;
	padding: 0.25em 1em 0.25em 1em;

 }

#FurtherTherapyConsiderations::before { display: none; }


/* lab results table */

#lrTable > caption {  font-size:large; color: white; background-color: #6EB4C1; padding: 0.15em 0em .15em .65em; }

.labRefRanges .caption {
padding: 0em !important;
font-size: .80em !important;
font-weight: bold;
}


#aw_LabArea::after {
	display: block;
	content: "Please Note: A laboratory reference range is based on 95% of all values found in patients who have tested at that laboratory. A reference range encompasses hormone levels which may be lower or higher than optimal for an individual patient. While an individual's optimal hormone ranges may vary, use of a therapeutic target range (a more focused set of values within the reference range) promotes relief of the symptoms and physical signs of hormone deficiency without provoking symptoms of hormonal excess. The therapeutic target range is at the same level as those found in adults in their late twenties to early thirties in age.";
 	background-color: #D1E5EB;
	color: #6EB4C1;
	margin: 0;
	padding: 0.25em 1em 0.25em 1em;
	border-top: solid 1px #6EB4C1;
}



.sal_f_lo #aw_LabArea::after, .sal_m_lo #aw_LabArea::after {
	display: block;
	content: "Please Note: A laboratory reference range is based on 95% of all values found in patients who have tested at that laboratory. A reference range encompasses hormone levels which may be lower or higher than optimal for an individual patient.";
 	background-color: #D1E5EB;
	color: #6EB4C1;
	margin: 0;
	padding: 0.25em 1em 0.25em 1em;
	border-top: solid 1px #6EB4C1;
}



body.fax  #aw_LabArea::after, body.fax   #aw_LabArea::after {
 	background-color: white !important;
	color: black !important;
}

.sal_f_lo #labnotes::after , .sal_m_lo #labnotes::after  { display: none;  /* because of code above for "#aw_LabArea::after"*/ }

#lrtable {width: 100%;}
#lrTable tbody tr:first-of-type td {color: black;  font-weight: 700;  }
#lrTable tbody tr:first-of-type .labData {color: black;  font-weight: 700; }
.lab3 tbody tr:first-of-type td.labrefranges {font-size: 1.0em;}
#lrtable tbody tr:first-of-type td:first-of-type {  opacity: 0;}

#lrTable td.labData {color: black;}

#0aw_LabArea {border: none;}
#LabArea {width: 100%;}
#lrTable {border-spacing: 0px; border-collapse: collapse; }
#lrTable td { border: 2px solid #6EB4C1; }
#lrTable td:first-child { border-left: none;  max-width: 7em;}
#lrTable td:last-child { border-right: none; }

#labarea {display: inline-block;}

.lab3 tbody tr.odd th, .lab3 tbody tr.odd td {background-color: #D1E5EB;}
.symptoms tbody tr.odd td, tbody tr.odd  {color: #6EB4C1;}

.lab3 caption { font-family: inherit;}
/* evaluation */

#aw_TherapyEvaluation::before {
content: 'Therapy Evaluation';
  font-size:large; color: white; background-color: #6EB4C1; padding: 0.35em 0 0.35em 0;  display: block;
}
#therapyevaluation::before { display: none; }



#aw_recommendations_area::before { content: 'Therapy Recommendations';
  font-size:large; color: white; background-color: #6EB4C1;   display: block;
}

#recommendations_area::before { display: none;}
#aw_recommendations_area::after {
	content: "A variety of hormone dosage options are given to allow the practitioner to select those that are most appropriate therapeutically as well as for patient compliance and preference.";
	display: block;
	background-color: #D1E5EB;
	color: #6EB4C1;
	margin: 0;
	padding: 0.25em 1em 0.25em 1em;
	border-top: 2px solid #6EB4C1;
	border-collapse: collapse;
}

#recommendations_area { border: none; }


/* addl testing and self cares */

	#aw_additionaltesting::before {  content: '   Additional Testing';
  font-size:large; color: white; background-color: #6EB4C1; padding: 0.35em 0 0.35em 0;  display: block;
}
	#aw_selfcarenotes::before  {  content: '   Self-Care Recommendations';
		  font-size:large; color: white; background-color: #6EB4C1; padding: 0.35em 0 0.35em 0;  display: block;
}



#selfcarenotes li {
	list-style-image:none; }
	#additionaltesting::before { display: none; }
	#selfcarenotes::before  { display: none; }
	
	
	
	/* set margins */
	
	#aw_selfcarenotes {	margin-top: 1.5em;	}
	#aw_additionaltesting {	margin-top: 1.5em;		}
	#aw_recommendations_area {	margin-top: 1.5em;		}

	#aw_TherapyEvaluation {	margin-top: 0.25em;	}
	#TherapyEvaluation {	margin: 0em auto 0em auto !important; }

	#aw_LabArea {	margin-top: 1.5em;		}
	#aw_MedHistoryDisplay {	margin-top: 1.5em;}
	#aw_medicalHistoryArea	 {	margin-top: 1.5em;}
	
	#selfcarenotes {	padding: 1.25em;	}
	#additionaltesting {	padding: 1.25em;	}
	#recommendations_area {	padding: 1.25em;	}
	#TherapyEvaluation {	padding: 1.25em;	}
	#LabArea {	padding: 1.25em;	}
	#LabArea {	padding: 0em;	}
	#MedHistoryDisplay {	padding: 1.25em; }


	#aw_selfcarenotes::before {	padding: 0.15em 0em .15em .65em;  }
	#aw_additionaltesting::before {	padding: 0.15em 0em .15em .65em; 	}
	#aw_recommendations_area::before {	padding: 0.15em 0em .15em .65em;	}
	#aw_TherapyEvaluation::before {	padding: 0.15em 0em .15em .65em; 	}
	#aw_MedHistoryDisplay::before {	padding: 0.15em 0em .15em .65em; 	}
	#aw_medicalHistoryArea::before {	padding: 0.15em 0em .15em .65em; 	}
	#aw_importantInfo::before {	padding: 0.15em 0em .15em .65em; 	}


/* adjust */
#aw_recommendations_area {position: relative; top: 2em; }


/* cols */
#medicalHistoryAreaM {
			-moz-column-count: 2;
			-moz-column-gap: 20px;
			-webkit-column-count: 2;
			-webkit-column-gap: 20px;
			column-count: 2;
			column-gap: 20px;
	}
	
#importantinfo {
			-moz-column-count: 2;
			-moz-column-gap: 20px;
			-webkit-column-count: 2;
			-webkit-column-gap: 20px;
			column-count: 2;
			column-gap: 20px;
	}
	
	
	
	
	
	/* until QT5-wkhtml2pdf supports CSS3 columns */
	
	
/* use this: */
  /* allow room for 3 columns */
ul.healthconditionslist {
width: 100%;
/*	min-height: 12em; */
}
ul.healthconditionslist {
-webkit-margin-before: 0em;
-webkit-padding-start: 12.5%;
-webkit-padding-start: 2.5%;
}
  /* float & allow room for the widest item */
ul.healthconditionslist li {
float: left;
width: 50%;
}

  /* stop the float */
  ul.healthconditionslist::after
  {
    clear: left;
  }

  /* separate the list from subsequent markup */
#importantInfo
  {
    margin-bottom: 3em;
  }
#importantinfo { 
-webkit-column-count: 0 !important;
-webkit-column-gap: 20px;
}




/* ==================== Reported Med Hist ========================== */

#medicalhistoryaream { -webkit-column-count: 0 !important; }


#medicalhistoryaream ul.medicalHistoryList {
width: 100%;
min-height: 10em;
margin-bottom: 1em;
}
#medicalhistoryaream ul.medicalHistoryList {
-webkit-margin-before: 0em;
-webkit-padding-start: 12.5%;
-webkit-padding-start: 2.5%;
}
  /* float & allow room for the widest item */
#medicalhistoryaream ul.medicalHistoryList li {
float: left;
width: 50%;
}

  /* stop the float */
#medicalhistoryaream  ul.medicalHistoryList::after
  {
    clear: left;
  }

  /* separate the list from subsequent markup */



#importantInfo
  {
    margin-bottom: 1em; 
    page: initial;
  }


#diagnosesarea {    page: initial;	}
#furthertherapyconsiderations {page: initial;}
#medhistorydisplay {page: initial;}
#medicalhistoryarea {    page: initial; }

/* ===================================== /END CSS3 Columns Hack ======================================= */
	
/*= ================================ EVAL EDITOR ====================================================*/

#diagnosesarea.editable {	color: black;	}
#furthertherapyconsiderations.editable {	color: black;	}

/*= ============================== /END EVAL EDITOR ==================================================*/	
	
	
	
	
	
	/* kali turn off */
	
	.healthConditionsList .weight {display:none;}
	.healthConditionsList .height {display:none;}
	
	
	#MedicationsNotes { padding: 1em;  	background-color: #D1E5EB;
	color: #6EB4C1;
	margin: 0;
	padding: 0.25em 1em 0.25em 1em;
 }
 
 
 
 
 
 
 
 
 
 
 /* turn off extra cols for symptoms */
 .reportedCol {display: none;}
.reportedCol.reportCol2 {display: inline-block;}
.reportedCol.reportCol3 {display: inline-block;}
.reportedCol.reportCol4 {display: inline-block;}
.reportedCol.reportCol5 {display: inline-block;}

.symptomsDates {display: none;}
.symptomsDates.reportCol2 {display: inline-block;}
.symptomsDates.reportCol3 {display: inline-block;}
.symptomsDates.reportCol4 {display: inline-block;}
.symptomsDates.reportCol5 {display: inline-block;}

#pChartArea .symptomsDates {display: inline-block;}
#pChartArea .reportedCol {display: inline-block;}










/* fixes for wkhtmltopdf */

.ltblr {page-break-inside: avoid;}
#aw_LabArea {page-break-inside:auto !important;}
#aw_labarea::after {page-break-inside: avoid;}
#labclias {page-break-inside: avoid;}



/* more wkhtmltopdffixes */

.labLabel {display: inline-block; min-width: 8em; max-width: 8em; }
.labRefRanges{display: inline-block; min-width: 12em; max-width: 12em; border-left: 2px solid #6EB4C1; border-right: 2px solid #6EB4C1;}
.labData {display: inline-block; min-width: 6em; max-width: 9em; }
div.odd.ltblr {background-color: #D1E5EB;}


body.fax div.odd.ltblr {background-color: white;}
/*
.labLabel {display: block; float: left; }
.labRefRanges {display: block; float: left; }
.labData {display: block; float: left; }
.ltblr {clear:both;}
*/

.labLabel {padding: .25em .5em;}
.labRefRanges {padding: .25em .5em;}
.labData {padding: .25em .5em;}

.ltblr {
clear: both;
}
.lablabel {
float: left;
}

.labRefRanges {
min-height: 2.5em;
0float: left;
}

div.odd.ltblr .labLabel {background-color: #D1E5EB;}
div.odd.ltblr .labRefRanges  {background-color: #D1E5EB;}
div.odd.ltblr .labData {background-color: #D1E5EB;}


body.fax div.odd.ltblr .labLabel {background-color: white;}
body.fax div.odd.ltblr .labRefRanges  {background-color: white;}
body.fax div.odd.ltblr .labData {background-color: white;}


.lab3 .labrefranges {
font-family: Georgia,Times,serif;
font-weight: normal;
font-size: 1.0em;
text-align: left;
}
.lablabel {
font-weight: bold;
color: black;
}

body.fax .lablabel a {
font-weight: bold;
color: black;
}

#lrtable ltblr span {
	border: 2px solid #6EB4C1;
}


#aw_labarea {
margin-top: 0em;
}

#lrtable .ltblr > span:first-child {
border-left: none;
max-width: 7em;
}

#000lrtable .ltblr > span {
border: 2px solid #6EB4C1;
}

#lrtable:before {
	
font-size: large;
color: white;
background-color: #6EB4C1;
padding: 0.15em 0em .15em .65em;
content: 'Lab Results';
display: block;	
}

#lrtable_cbc:before {
font-size: large;
color: white;
background-color: #6EB4C1;
padding: 0.15em 0em .15em .65em;
content: 'CBC Results';
display: block;
}

#lrtable_metabolic:before {
font-size: large;
color: white;
background-color: #6EB4C1;
padding: 0.15em 0em .15em .65em;
content: 'Metabolic Results';
display: block;
}

#lrtable_lipid:before {
font-size: large;
color: white;
background-color: #6EB4C1;
padding: 0.15em 0em .15em .65em;
content: 'Lipid Results';
display: block;
}




#lrtable  .ltblr:first-of-type > span:first-of-type {opacity: 0;}

#lrtable .ltblr:first-of-type > span {
	font-weight: 700;
}

 .ltblr {border-top: solid 1px #6EB4C1; border-bottom: solid 1px #6EB4C1;}
 #labclias { display: block; border-top: solid 1px #6EB4C1; }

/* END */
/* put into report.css */
#lrTable .labRefRanges td {
border: dotted 1px #999;

border-collapse: collapse !important;
padding: 0.15em 0.5em;
text-align: center;

}

#lrTable .labRefRanges table {
margin-top: .5em;
margin-bottom: 0em !important;
/* because of the line break we need we adjust the table accordingly */
top: .7em; 
position:relative;
}

#lrTable .labRefRanges table tr.full_rr { display: none; }

.labData {
position: relative;
top: .5em;
vertical-align: top;
}


body * { font-family: ProximaNovaRegular !important;}
.ltblr .labLabel {word-wrap: break-word;}


.lab_value.hilo_0::after {
content: 'L';
font-size: 0.65em;
vertical-align: super;
right: .25em;
position: relative;
color: red;
}
.lab_value.hilo_1::after {
content: 'L';
font-size: 0.65em;
vertical-align: super;
right: .25em;
position: relative;
}

.lab_value.hilo_3::after {
content: 'H';
font-size: 0.65em;
vertical-align: super;
right: .25em;
position: relative;
}

.lab_value.hilo_4::after {
content: 'H';
font-size: 0.65em;
vertical-align: super;
right: .25em;
position: relative;
color: red;
}





.lab_value.hilo_0::after {
content: 'L';
font-size: 0.75em;
vertical-align: super;
left: .25em;
position: relative;
color: red;
font-weight: bold;
}
.lab_value.hilo_1::after {
content: 'L';
font-size: 0.65em;
vertical-align: super;
left: .25em;
position: relative;
}

.lab_value.hilo_3::after {
content: 'H';
font-size: 0.65em;
vertical-align: super;
left: .25em;
position: relative;
}

.lab_value.hilo_4::after {
content: 'H';
font-size: 0.75em;
vertical-align: super;
left: .25em;
position: relative;
color: red;
font-weight: bold;
}



/* turn off for kali 2013-07-29 */
/* fully enable again ASAP */

body.ath_kalir .lab_value.hilo_0::after { display: none; }
body.ath_kalir .lab_value.hilo_1::after { display: none; }
body.ath_kalir .lab_value.hilo_2::after { display: none; }
body.ath_kalir .lab_value.hilo_3::after { display: none; }
body.ath_kalir .lab_value.hilo_4::after { display: none; }












.lab_value {
min-width: 6em;
display: inline-block;
max-width: 6em;
padding: .25em .5em;
float: left;
min-height: 2.5em;
border-collapse: collapse;
}



.lab_value+.lab_value {
display: inline-block;

max-width: 6em;
max-width: min-intrinsic;
border-left: 2px solid #6EB4C1;
}

.labRefRanges { float:left;}

.lab3 {clear: both;}
#lrTable {max-width: min-intrinsic !important;}

.labLabel {
display: inline-block;
max-width: 9em;
min-width: 9em;
}

div.odd.ltblr .lab_value {
background-color: #D1E5EB;
}




/* no longer need floats, floats also mess up page-break-avoid, also note that JS is now used */
	.lab3 span.labLabel {float: none !important; vertical-align: middle;}
	.lab3 span.labRefRanges {float: none !important; vertical-align: middle;}
	.lab3 span.lab_value {float: none !important; vertical-align: middle;}
	
	
	
	
	
	
/* limited space on paper - hide old labs */
.lab_value {display:none !important; max-width: 0px !important;}
.lab_value:nth-last-of-type(1) {
display: inline-block !important;
}
.lab_value:nth-last-of-type(2) {
display: inline-block !important;
}
.lab_value:nth-last-of-type(3) {
display: inline-block !important;
}
.lab_value:nth-last-of-type(4) {
display: inline-block !important;
border-collapse: collapse;
border-left: none;
}

.lab_units {
margin-top: 0.75em;
font-size: smaller;
}
.lab_units:before {
content: 'Units: ';
}

