<%init>
				my $lo=RD::Orders::getOrder($dbh, $ARGS{rxn}); if ($lo) {
									
									
									my $companyInfo=JSON::XS::decode_json( q|{"fax_800":"888-898-7412",
																						"website_corporate":"www.restorehc.com",
																						"website_restore":"www.restoredirect.com",
																						"name_pharmacy":"Restore Health Pharmacy",
																						"name_full":"Restore Health, LLC",
																						"website_pharmacy":"www.restorehc.com/pharmacy",
																						"footer":"<b>Restore Health</b><br/>Restore Diagnostics, LLC <br/>1289 Deming Way &#8226; Madison, WI 53717 &#8226; 800.558.7046 &#8226; Fax: 888.898.7412 &#8226; www.restorehc.com ",
																						"fax":"608-833-7412",
																						"phone_800":"800-558-7046",
																						"name_corporate":"Restore Health",
																						"phone_local":"608-833-7046",
																						"address":{"city":"Madison",
																						"line3":"",
																						"postalcode":"53717",
																						"line1":"1289 Deming Way",
																						"line2":"",
																						"state":"WI", "formatted_city" : "Madison, WI 53717"},
																						"website_lab":"www.restorehc.com/laboratory",
																						"name_short":"Restore Health",
																						"hours":"Monday - Friday, 8:00 am to 5:30 pm CST",
																						"logo": "/images/logos/rhclogo.jpg",
																						"email_main":"info@restorehc.com",
																						"name_lab": "Restore BioDiagnostics, LLC"
																						}| );
																						

						my $DC=$lo->{lo}->{DC};
						my $patientid=$lo->{lo}->{patientID};
						my $programName='Restore Testing';
						my $patient=RD2::getpatientinfo($dbh, patientID => $patientid);
						my $doctorInfo = RD2::getdoctorinfo($dbh,  DoctorCode => $DC);
						my $products=[map {$_->{labType}} @{$lo->{loi}}];
						my $productinfo=RD2::getRestoreProductInfo($dbh, productids => $products);
						my %co=(	logo_uri => $companyInfo->{1}->{logo},
								Info => q{<div style="text-align: center;">} . $companyInfo->{1}->{footer} . q{</div>},
								Name =>  $companyInfo->{1}->{name_short} 
							);
						my $rmaker= '/api/v1/func/custom_receipt.html';

			
						my $sp=$m->comp($rmaker,
								patient => $patient,
								doctorInfo => $doctorInfo,
								programName => $programName,
								productinfo => $productinfo,
								programs => $products,
								co => \%co
								);
								
								return {	receipt_html => $sp	};
								
					}
</%init>