<%args>
$lab_id
</%args>
<%init>
	my $li=$dbh->selectrow_hashref(q{SELECT * FROM aa_lab_info WHERE lab_id=?},  undef, ($lab_id));
	return unless $li;
</%init>

<div class="li_q">
<div class="question">
If you are still menstruating/having periods: During what portion of your menstrual cycle did you have your blood drawn? Day one (1) is the first day of menstrual bleeding. </div>

<b class="pt_lif_ans"><% $li->{still_menstruating} %></b>

</div>
<div class="li_q">
<div class="question">How long is your normal menstrual cycle? A menstrual cycle is measured from the first day of one menstrual period to the first day of the next. </div>


<b class="pt_lif_ans"><% $li->{normal_menstrual} %></b>



</div>
<div class="li_q">
<div class="question">Please list all your hormone medications. Hormones include: estradiol/estrogens, progesterone/progestins, testosterone, methyltestosterone, DHEA, pregnenolone, androstenedione, thyroid, cortisol, Vivelle-Dot, etc.</div>
<div style="margin:1em 0 .35em 0;"><span class="med_desc_header">Medication</span> <span class="med_desc_header">Strength</span> <span class="med_desc_header">Dosage Form</span> <span class="med_desc_header">Amount</span> <span class="med_desc_header">Frequency</span> <span class="med_desc_header">Exact Time</span> <span class="med_desc_header">Date</span></div>


<b class="pt_lif_ans"><% $li->{all_medications} %></b>


</div>
<div class="li_q">
<div class="question">Please list all hormone medications taken within 24 hours of collecting samples. This includes both the day before 
and the day of collection. 
Hormones include: estradiol/estrogens, progesterone/progestins, testosterone, methyltestosterone, DHEA, 
pregnenolone, thyroid, cortisol, Vivelle-Dot, etc. 
</div>
<div style="margin:1em 0 .35em 0"><span class="med_desc_header">Medication</span> <span class="med_desc_header">Strength</span> <span class="med_desc_header">Dosage Form</span> <span class="med_desc_header">Amount</span> <span class="med_desc_header">Frequency</span> <span class="med_desc_header">Exact Time</span> <span class="med_desc_header">Date</span></div>


<b class="pt_lif_ans"><% $li->{day_of_testing_medications} %></b>


</div>
<div class="li_q" style="border: 1px solid gray; padding: 0.5em">
For Hormone Patch Users:
Name or type of patch: 

<b class="pt_lif_ans"><% $li->{name_of_patch} %></b>
strength: 


<b class="pt_lif_ans"><% $li->{patch_strength} %></b>

<div>Frequency patch is changed: 

<b class="pt_lif_ans"><% $li->{patch_change_frequency} %></b>
	
</div>
</div>
<div class="li_q"  style="border: 1px solid gray; padding: 0.5em">
<div class="question">For Oral Contraceptive/Birth Control Users (check one):</div>

<b class="pt_lif_ans"><% $li->{contraceptive_use} %></b>

</div>
<div class="li_q">
<div class="question">Please list all other medications, supplements, and over-the-counter products normally taken, their dosage strength, dosage 
form (tablet, capsule, cream, etc.), frequency (daily, twice a day, etc.), and exact time(s) taken/applied. </div>
<div style="margin:1em 0 .35em 0">
	<span class="med_desc_header">Medication</span> 
	<span class="med_desc_header">Strength</span> 
	<span class="med_desc_header">Dosage Form</span> 
	<span class="med_desc_header">Amount</span> 
	<span class="med_desc_header">Frequency</span> 
	<span class="med_desc_header">Exact Time</span> 
	<span class="med_desc_header">Date</span> 
</div>

<b class="pt_lif_ans"><% $li->{medications_other} %></b>

</div>

<div>Hormone Therapy Questionnaire:</div>
<div class="li_q">

<div class="question">1.) Are you using your hormone therapy as instructed on the bottle/package/pump jar?</div>

<b class="pt_lif_ans"><% $li->{using_as_instructed} %></b>

<div class="question">If you answered No, please identify which hormone(s) and explain how you are using differently: </div>
<div style="margin:1em 0 .35em 0">
	<span class="med_desc_header">Hormone Name</span> 
	<span class="med_desc_header">I use more/less amount/often (specify amount/often)</span> 
	<span class="med_desc_header">Reason for change</span> 
</div>

<b class="pt_lif_ans"><% $li->{medications_changes} %></b>

</div>
<div class="li_q">
<div class="question">2.) Did you stop using any hormone medication(s)? </div>
<b class="pt_lif_ans"><% $li->{stopped_hormones} %></b>

<div class="question">If you answered Yes, please identify which hormone(s) you stopped using and why (check all that apply): </div>
<div>
<div class="question">Hormone Name: 

<b class="pt_lif_ans"><% $li->{stopped_hormone1} %></b>

</div>

<b class="pt_lif_ans"><% $li->{stopped_hormone1_reason} %></b>


<b class="pt_lif_ans"><% $li->{stopped_hormone1_explanation} %></b>


</div>

<div>
<div class="question">Hormone Name: 
<b class="pt_lif_ans"><% $li->{stopped_hormone2	} %></b>
	
</div>
<b class="pt_lif_ans"><% $li->{stopped_hormone2_reason} %></b>
<b class="pt_lif_ans"><% $li->{stopped_hormone2_explanation} %></b>


</div>

</div>
<div class="li_q">
<div class="question">3.) Were you using your hormone therapy consistently for a minimum of 6-8 weeks prior to testing? </div>

<b class="pt_lif_ans"><% $li->{consistent_use} %></b>


</div>
