<%init>

my @cols=qw(pname rxn date_due last_fill  DrugName doctorName notes);



		my $lfsql=q{SELECT CONCAT(PatientLastName, ', ', PatientFirstName ) AS pname, v_as.rxn, DATE_ADD(last_fill, INTERVAL day_supply DAY) AS date_due, last_fill,  DrugName, v_as.doctorName,
			doctorFax AS fax,
			IF((doctorState='NY' AND v_as.rxn < 5000000), 'check_first', 0) AS check_first
			, GROUP_CONCAT(asn.note SEPARATOR ';') AS notes
		FROM v_as 
		JOIN doctors_all ON v_as.DC=doctors_all.DoctorCode
		LEFT JOIN RxLookUp rlu ON v_as.patientID=rlu.patientID
		LEFT JOIN autoship_notes asn ON rlu.RxNumber=asn.rxn  				AND ((asn.nstatus=1 AND asn.note LIKE 'refill:%' ) OR asn.note IS NULL)
		 WHERE 
						v_as.rxn < 8000000 AND
								((DATE_ADD(last_fill, INTERVAL day_supply DAY)) >= ? AND (DATE_ADD(last_fill, INTERVAL day_supply DAY) <= ?))
								AND
								(
										(DATE_ADD(last_fill , INTERVAL day_supply DAY) >= StopDate 
												OR
										next_fill LIKE 'Expired%')

									OR remaining_refills=0
								)
								GROUP BY v_as.rxn
								ORDER BY IF(v_as.DC IN (40794, 40790), 999, 1),  DATE_ADD(last_fill, INTERVAL day_supply DAY), v_as.doctorName, PatientLastName,  PatientFirstName 
								};
		my $asr=$dbh->selectall_arrayref($lfsql, {Columns => {}}, ($ARGS{lf_date_start} , $ARGS{lf_date_end} ) );




use Barcode::Code128 'FNC1';
my @pngs;
for my $rxn (@$asr) {
	my $code = new Barcode::Code128;
	$code->option('show_text', 0);
	$code->option('border', 1);
	$code->option('scale', 1);
	my $text =	$code->text(FNC1. $rxn->{rxn});
	$rxn->{png}=$code->png($text, undef, 24);

	$rxn->{fax}=~s/^000\-([1-9]\d\d)\-(\d\d\d\d)$/608-$1-$2/;
	$rxn->{fax}=~s/^999\-([1-9]\d\d)\-(\d\d\d\d)$//;
	$rxn->{fax}=~s/^000\-(000)\-(\d\d\d\d)$//;

  }
  
  my $name;
</%init>

<style>
.rxrf_DrugName { max-width: 12em; }
.0check_first:before { content: 'NY-Controlled'; color:red; font-weight:bold;}
.check_first td {border: 2px dotted red;}
</style>
<div>To be filled: <% qq{$ARGS{lf_date_start} -  $ARGS{lf_date_end}}%></div>
<table>
	<thead>
		<tr>
			<th></th>
%		for my $col (@cols) {
			<th>
				<% $col %>
			</th>
%		}

			
		</tr>
	</thead>
	<tbody>
% my $cnt;
%	for my $rxn (@$asr) { $cnt++;
	<tr class="<% $rxn->{'check_first'} || '' %>">
		<td>(<% $cnt %>)</td>

%		for my $col (@cols) {
		<td class="rxrf_<% $col %>">
%		if ($col eq 'pname' && $name eq $rxn->{pname}) { next;		} else {
			<% $rxn->{$col} %>
%			}
		</td>
%		}
		<td>
%			if ($rxn->{fax}) {
				<a target="refill_fax" href="/api/v1.i/func/refill_fax_send.html?rxn=<% $rxn->{rxn} | u %>"><% $rxn->{fax} %></a>
%				} else {
				<a target="refill_fax" href="/api/v1.e/func/refill_fax_pdf.html?rxn=<% $rxn->{rxn} | u %>">PDF</a>
%				}
		</td>

		<td>
				<img src="data:image/png;base64, <% MIME::Base64::encode_base64($rxn->{png}) %>" />
		</td>
	</tr>

%  $name=$rxn->{pname};	}
</tbody>
</table>