<%init>

my @cols=qw(pname email phone1 phone2 date_due last_fill  doctorName  reason date_of_issue);



		my $lfsql=q{SELECT CONCAT(p.PatientFirstName, ' ', p.PatientLastName ) AS pname_f, CONCAT(p.PatientLastName, ', ', p.PatientFirstName ) AS pname, p.email, p.PatientPhone AS phone1, p.PatientWorkPhone AS phone2, DATE_ADD(last_fill, INTERVAL day_supply DAY) AS date_due, last_fill, v_as.doctorName,
		IF(an.note LIKE 'ccd%', 'Credit Card Denied', 'Refill Denied') AS reason,
		DATE_FORMAT(an.ndate, '%m/%d/%y') AS date_of_issue
		FROM v_as 
		JOIN patients p ON v_as.patientID=p.patientID
		JOIN autoship_notes an ON v_as.rxn=an.rxn 
		 WHERE 
			(an.note LIKE 'ccd%' OR an.note LIKE 'mdd%') AND nstatus=1
			ORDER BY an.ndate DESC
								};
		my $asr=$dbh->selectall_arrayref($lfsql, {Columns => {}}, () );




use Barcode::Code128 'FNC1';
my @pngs;
for my $rxn (@$asr) {
	my $code = new Barcode::Code128;
	$code->option('show_text', 0);
	$code->option('border', 1);
	$code->option('scale', 1);
	my $text =	$code->text(FNC1. $rxn->{rxn});
	$rxn->{png}=$code->png($text, undef, 24);
  }
  
  my $name;
  
  my %subjects=(
	'Credit Card Denied' =>  	'Payment Processing Error',
  	'Refill Denied' => 'Restore Health Refill Error'
  	);
</%init>
<style>
.rxrf_DrugName { max-width: 12em; }
tr:nth-of-type(even) {background: #DFF2FA; }
tr:nth-of-type(3n-1) td {
	border-bottom: 2px silver solid;

}


</style>

<table>
	<thead>
		<tr>

%		for my $col (@cols) {
			<th>
				<% $col %>
			</th>
%		}

			
		</tr>
	</thead>
	<tbody>
%	for my $rxn (@$asr) {
<%perl>
  my $nicename= $rxn->{pname_f};
  $nicename=~s/([\w']+)/\u\L$1/g;
  my %bodies;
  my $cbody=q{Dear } . $nicename . q{,
  
We experienced a problem in processing payment for your scheduled order.  To resolve, please contact Customer Care at 1-800-558-7046 (option 1) at your earliest convenience.
Yours in Health,
 
Restore Health Pharmacy
1-800-558-7046
www.restorehc.com}; 

my $mdd_body= 
q{Dear } . $nicename . q{,

Restore Health Pharmacy recently requested your healthcare provider to authorize additional refills for
a prescription(s) on file. Unfortunately your provider has denied our request. To resolve, please contact
your provider at your earliest convenience to discuss your medication needs.

Yours in Health,

Restore Health Pharmacy
1-800-558-7046
www.restorehc.com
};

$bodies{'Credit Card Denied'}=$cbody;
$bodies{'Refill Denied'}=$mdd_body;

</%perl>

	<tr>
%		for my $col (@cols) {
		<td class="rxrf_<% $col %>">
%		if ($col eq 'pname' && $name eq $rxn->{pname}) { next;		} else {
			<% $rxn->{$col} %>
%			}
		</td>
%		}
		<td>
%			if ($rxn->{email}) {
			<form action="mailto:<% $rxn->{email} %>" target="_send_ccd_email">
				<input name="subject" value="<% $subjects{$rxn->{reason}} %>" type="hidden" >
				<textarea  style="display:none;" name="body"><% $bodies{$rxn->{reason}} %></textarea>
				<input type="submit"  value="SEND"/>
			</form>
%			}
		</td>
	</tr>

%  $name=$rxn->{pname};	}
</tbody>
</table>
