<%init>
$dbh->do("SET time_zone='-6:00'");
#use File::stat;
#Sage Backups:
use File::DirList;


my $getNewestFile=sub{
my ($DIR)=@_;

			opendir(my $DH, $DIR) or die "Error opening $DIR: $!";
			my @files = map { [ stat "$DIR/$_", $_ ] } grep(! /^\.\.?$/, readdir($DH));
			closedir($DH);

			sub rev_by_date { $b->[0][9] <=> $a->[0][9] }

			my @sorted_files = sort rev_by_date @files;

#			print join(', ', map{ $_->[0][9]} @sorted_files);
				my @newest = @{$sorted_files[0]};
			return pop(@newest);
};


my $sage_bkup_loc='/mnt/rhc_u/Accounts/';
my @sblist = File::DirList::list($sage_bkup_loc, 'M');
	my $sb = stat($sblist[0]);
	my $sb_info= $sb ? sprintf "File is %s, size is %s,  mtime %s\n", $sblist[0], $sb->size , scalar localtime $sb->mtime : '<span class="warn">ERROR, could not read file ' . $sage_bkup_loc . '</span>';
 
#U drive bkup:
	#same as above

#mysql running
	#lets just show the error log:
		my $mysql_log="/usr/jails/mysql/var/db/mysql/mysql.err";

  use File::ReadBackwards ;
    # Object interface
    my $ml_cnt; my $mysql_info;

    my $bw = File::ReadBackwards->new( $mysql_log ) or  do {$mysql_info = qq{<span class="warn">can't read 'log_file' $!</span>} };
    if ($bw) {while( defined( my $log_line = $bw->readline && $ml_cnt < 5) ) {            $mysql_info.= $log_line ."\n" ; $ml_cnt++;    }}
		
#	mysql slave replication
	# not active yet

# CPU % on each jail
my $cpu_info=`nice top -j -P -a`;


#Autoship emails sent
	my $as_emails=$dbh->selectall_arrayref(q{SELECT s_status, COUNT(*), date_sent FROM as_notify_log WHERE date_sent > DATE_SUB(NOW(), INTERVAL 24 HOUR) GROUP BY s_status}, {Columns =>{}});
	
#HL7 interface parsing data
 my $hl7_last_parse=$dbh->selectrow_array(q{SELECT MAX(parse_date) FROM hl7d.hl7_log});
#check PDF generation
 my ($pdf_last_gen, $pdf_last_status)=$dbh->selectrow_array(q{SELECT MAX(tstamp), qstatus FROM rd3.tmp_report_gen});	
#check latest rx imports
 my $rx_last_imp=$dbh->selectrow_array(q{SELECT MAX(tstamp) FROM rd3.prescriptions_basic WHERE fill100 IS NULL});
#check disk spaces
	my $zfs_info=`zfs list`;
#HL7 interface receiving data
	 my $hl7_last_received=$dbh->selectrow_array(q{SELECT MAX(tstamp) FROM hl7d.hl7_log});

#Last RD login
 my $RD_last_login=$dbh->selectrow_hashref(q{SELECT `user`, `password`, `ip`, `tstamp`, `note`, `wh`, `user_agent` FROM `AuditLog` WHERE ip NOT LIKE '192%' ORDER BY tstamp DESC LIMIT 1});
 
#check daemons running
	my @should_be_running=('/usr/bin/perl /public_html/perl/rd_report_gen.pl', '/bin/sh /usr/local/etc/rc.d/start_rd_report_gen.sh start', 'perl /public_html/perl/rd3_pobj_cache.pl', '/usr/local/sbin/cupsd -C /usr/local/etc/cups/cupsd.conf' , '/usr/sbin/cron -J 15 -s',  '/usr/local/sbin/httpd');
	my $currently_running=`ps ax`;

#Security attempts?
#	my @block_list=  do {    open my $fh, "<", $filename        or die "could not open $filename: $!";    <$fh>;}; #">
	
#ups/endicia post backs
	my $shipping_info = $dbh->selectrow_hashref(q{SELECT `dbid`, `pid`, `name`, `address`, `zip`, `trackNum`, `tstamp`, `RxNumber`, `shipDate`, `cost`, `voided`, `status`, `extra`, `customerID`, `serviceType`, `scanId`, `id`, `usps_tracking` FROM `ups_tracking`  ORDER BY shipDate DESC LIMIT 1		}	);
#possibly phone system - but it's rather self contained now
#patient object cache
	my $last_pobj_cache=$dbh->selectrow_array(q{ SELECT MAX(cache_ts) FROM pobj_cache});

#QS1 backup
	my $qs1_bkup_loc='/mnt/rhc_bkup/qs1/bkups/qs1_bkup_0.7z';
 use File::stat;
    my $qb = stat($qs1_bkup_loc);
    my $qs1b_info=$qb? sprintf "File is %s, size is %s, mtime %s\n", $qs1_bkup_loc, $qb->size,  scalar localtime $qb->mtime : '<span class="warn">ERROR: Could not read '. $qs1_bkup_loc . '</span>';
    
#autoship backup working

use File::DirList;
my $asb_info;
my $as_dir='/mnt/rhc_u/Exports/as_bkups/';
 if (-d $as_dir) {
 my $nasf=&$getNewestFile('/mnt/rhc_u/Exports/as_bkups/');
	my $asb=stat($as_dir . $nasf);
	$asb_info= $asb ? sprintf "Latest AS Backup is: is %s, size: %s,  created: %s\n", $nasf, $asb->size , scalar localtime $asb->mtime : '<span class="warn">ERROR: could not read autoship backups' . $nasf . '</span>';
} else {$asb_info = 'can not read it';}
#network ping times












my %fix_proccess=(
	'/usr/bin/perl /public_html/perl/rd_report_gen.pl' => q|log into RDi as root.  Run /usr/local/etc/rc.d/start_rd_report_gen.sh start;|,
	'perl /public_html/perl/rd3_pobj_cache.pl' => q|log into RDi as root.  Run /usr/local/etc/rc.d/rd3_pobj_cache start;|,
	'/usr/local/sbin/cupsd -C /usr/local/etc/cups/cupsd.conf'  => q|log into RDi as root.  Run /usr/local/etc/rc.d/cupsd restart|,
	'/usr/sbin/cron -J 15 -s' => q|log into RDi as root. Run /etc/rc.d/cron stop; /etc/rc.d/cron start|,
	'/usr/local/sbin/httpd' => q|log into RDi as root. Run /usr/local/etc/rc.d/apache22 restart|
);

</%init>


<div id="bkups">
% for my $bki ($sb_info, $qs1b_info, $asb_info) {
	<div class="bki"><% $bki %></div>
% }
</div>
<h4>mysql log:</h4>
<pre><% $mysql_info  %></pre>
<p/>
<h4>CPU:</h4>
<pre><% $cpu_info |h %></pre>

<p/>
<h4>Disk/ZFS</h4>
<pre><% $zfs_info |h %></pre>
<p/>
<h4>Processes that should appear:</h4>
<pre>
% for my $prcss (@should_be_running) {
% if ($currently_running=~m/$prcss/i) {
<span style="color:<% $currently_running=~m//i ? 'green' : 'red' %>;"><% $prcss |h %></span>
% } else {
<span style="color:<% $currently_running=~m//i ? 'green' : 'red' %>;"><b><% $prcss |h %></b></span>
<% $fix_proccess{$prcss} %>
%}
%	}
</pre>
<div>Running:
	<pre><% $currently_running | h %></pre>
</div>

<p/>
<h4>Last item shipped:</h4>
<div>
<% RD2::jd($shipping_info) %>
</div>

<p/>
<h4>Autoship emails sent in 24 hours:</h4>
<div>
<% RD2::jd($as_emails) %>
</div>
<p/>
<h4>HL7 interface:</h4>
<div>
	<div>Last received: <% $hl7_last_received %></div>
	<div>Last parsed: <% $hl7_last_parse %></div>
</div>


<h4>RX-Basic Exports:</h4>
<div>
	<div>Last Update: <% $rx_last_imp %></div>

</div>



<p/>
<h4>PDF generation (lab reports and pharmacy rx):</h4>
<div>
	<div>Last received: <% $pdf_last_gen %></div>
	<div>Status: <% $pdf_last_status || q{0 - sometimes a 0, but should quickly change to 1, if not check daemons running.  Try /usr/local/etc/rc.d/start_rd_report_gen.sh start if it does not resolve itself} %></div>
</div>

<p/>
<h4>Last RD Login:</h4>  <% RD2::jd($RD_last_login)  %>
<p/>

<h4>Lastest patient-object cache:</h4> <% $last_pobj_cache | h %>

<style>.warn {color: #A72D2D; font-size: 1.05em}</style>