<%init>
#	my $fixes=$dbh->selectall_arrayref(q{SELECT rxn, DATE_SUB(MAX(DateFilled), INTERVAL 75 DAY) FROM prescriptions_basic pb JOIN prescriptions p ON rxn=RxNumber WHERE fill100='2012-08-01' AND Voided='NO' GROUP BY p.RxNumber});
#	for my $fix (@$fixes) { $dbh->do(q{UPDATE prescriptions_basic SET fill100=? WHERE rxn=? AND fill100='2012-08-01'}, undef, ($fix->[1], $fix->[0] )); $m->out('<pre>'. $fix->[0] . $fix->[1] . '</pre>');}
	
my $rxo_sql=q{SELECT MAX(DATE_ADD(rx.DateFilled, INTERVAL rx.DaySupply DAY)) AS end_rx, DATEDIFF(NOW(), MAX(DATE_ADD(rx.DateFilled, INTERVAL rx.DaySupply DAY))) AS days_out_of_meds, MAX(rx.DateFilled) AS last_filled, 
	GROUP_CONCAT( DISTINCT CONCAT(autoship.rxn, IF(autoship.hold=1,'*',''))  SEPARATOR ', ' ) AS on_autoship, 
(SELECT GROUP_CONCAT(' ', rxn) FROM prescriptions_basic rx2 WHERE pt.patientID=rx2.pid AND  rx2.rxn < 8000000 AND rx2.rx_remaining_refills > 0 AND rx2.StopDate > CURDATE() AND discontinue = 0  )   AS active_rx,
PatientLastName, PatientFirstName, PatientPhone, pt.email, da.doctorName
FROM patients pt JOIN doctors_all da ON pt.DoctorCode=da.DoctorCode
JOIN prescriptions rx ON pt.patientID=rx.patientID AND rx.Voided='NO'
JOIN prescriptions_basic rxb ON rx.RxNumber=rxb.rxn
LEFT JOIN autoship ON rx.RxNumber=autoship.rxn AND autoship.as_onoff=1 AND rx.discontinue NOT IN ('A' , '#') 
WHERE rx.DateFilled > DATE_SUB(NOW(), INTERVAL 180 DAY) AND rx.RxNumber < 8000000

GROUP BY rx.patientID
HAVING end_rx < DATE_SUB(NOW(), INTERVAL 30 DAY)
 AND end_rx > DATE_SUB(NOW(), INTERVAL 120 DAY)
ORDER BY days_out_of_meds};

my $rx_sql=q{SELECT MAX(DATE_ADD(DATE_ADD(rxb.fill100 , INTERVAL 75 DAY), INTERVAL rxb.day_supply DAY)) AS end_rx, 
DATEDIFF(NOW(), 
	MAX(
		DATE_ADD(
			DATE_ADD(rxb.fill100 , INTERVAL 75 DAY), 
			INTERVAL rxb.day_supply DAY
		)
	)
) AS days_out_of_meds, 
DATE_ADD(			rxb.fill100 , INTERVAL 75 DAY		) AS last_filled, 
	GROUP_CONCAT( DISTINCT CONCAT(autoship.rxn, IF(autoship.hold=1,'*',''))  SEPARATOR ', ' ) AS on_autoship, 
(SELECT GROUP_CONCAT(' ', rxn) FROM prescriptions_basic rx2 WHERE pt.patientID=rx2.pid AND  rx2.rxn < 8000000 AND rx2.rx_remaining_refills > 0 AND rx2.StopDate > CURDATE() AND discontinue = 0  )   AS active_rx,
PatientLastName, PatientFirstName, PatientPhone, pt.email, da.doctorName
FROM patients pt JOIN doctors_all da ON pt.DoctorCode=da.DoctorCode
JOIN prescriptions_basic rxb ON pt.patientID=rxb.pid AND rxb.discontinue=0
LEFT JOIN autoship ON rxb.rxn=autoship.rxn AND autoship.as_onoff=1 AND rxb.discontinue=0
WHERE DATE_ADD(rxb.fill100 , INTERVAL 75 DAY) > DATE_SUB(NOW(), INTERVAL 180 DAY) AND rxb.rxn < 8000000
AND rxb.fill100 IS NOT NULL
GROUP BY rxb.pid
HAVING end_rx < DATE_SUB(NOW(), INTERVAL 30 DAY)
 AND end_rx > DATE_SUB(NOW(), INTERVAL 120 DAY)
ORDER BY days_out_of_meds

 };

my $pts=$dbh->selectall_arrayref($rx_sql, {Columns => {}});

my ($actives, $inactives);
for my $pt (@$pts) { if ($pt->{active_rx}) {$actives++;} else {$inactives++;}	}
</%init>
<div>
	Actives / Inactives: <% $actives %> / <% $inactives %>
</div>
<table>
	<tr>
%	for my $hdr (keys %{$pts->[0]}) {
		<td><% $hdr %></td>
%		}
	</tr>
%	for my $pt (@$pts) {
	<tr>
%		for my $hdr (keys %{$pts->[0]}) {
			<td><% $pt->{$hdr} %></td>
%			}
			<td><input type="button" onclick="pt_droppoff_send_email('<% $pt->{email} %>', {active_rx: <% $pt->{active_rx} ? 'true' : 'false' %>});" value="Email" /></td>
			<td><input type="button" onclick="pt_droppoff_send_sms('<% $pt->{email} %>', {active_rx: <% $pt->{active_rx} ? 'true' : 'false' %>});"   value="SMS"/></td>

	</tr>
%		}
</table>
