<%args>
$rxn => undef
$RxN => $rxn
$secondFax => undef
$notes => undef
$internal => undef
$ri => undef
$rfStatus => 'New' 
</%args>

<%init>
return unless ($ENV{REMOTE_ADDR} =~m/^(108|192.168)/);
				my $host=  $ENV{HTTP_HOST} || '192.168.0.200:10003';
      			$m->out(q{<div><a href="//} . $host . q{/api/v1.e/func/refill_fax_pdf.html?rxn=} . $rxn . q{">PDF</a>.  </div>});      
      			
my $faxTo= $dbh->selectrow_array(q{SELECT doctorFax FROM doctors_all da JOIN prescriptions_basic p ON p.DC=da.DoctorCode WHERE rxn=?}, undef, ($RxN));
	$faxTo =~s/\D//g;
	$faxTo=~s/^000([1-9]\d\d)(\d\d\d\d)$/1608$1$2/;
	$faxTo=~s{^(\d{10})$}{1$1};




	$faxTo=~s/^999([1-9]\d\d)(\d\d\d\d)$//;
	$faxTo=~s/^000(000)(\d\d\d\d)$//;

      			if ('send_via_email_api' && $faxTo) {
					    my %smtp=(
					    		Host => 'smtp.gmail.com',
					    		host => 'smtp.gmail.com',
					            Port => 587,
					            port => 587,
								sasl_username => 'efax@restorehc.com',
								sasl_password => 'efax9821',
					            User => 'efax@restorehc.com',
					            Password => 'efax9821',
					            Hello => 'restorehc.com',
					            );

	    use Email::Simple::Creator; # or other Email::
		use Email::MIME;					    
					    
					    
					    my $pdf_data;
					    #get PDF
					    require LWP::UserAgent;
					    use Mozilla::CA;

					 my $ua = LWP::UserAgent->new;
					 $ua->timeout(10);
					 $ua->env_proxy;
					  $ua->agent("MyApp/0.1 ");
					 $ua->ssl_opts( verify_hostnames => 1 ,  								noSSL_ca_file => Mozilla::CA::SSL_ca_file()	  );
					  # $ua->ssl_opts(        verify_hostnames => 0,                SSL_ca_file      => CACertOrg::CA::SSL_ca_file());
					 
					 my $response = $ua->get('http://' . $host . '/api/v1.e/func/refill_fax_pdf.html?rxn=' . $rxn );
					 
					 if ($response->is_success) {
					     $pdf_data = $response->decoded_content;  # or whatever
					 }
					 else {
					     die $response->status_line;
					 }
					    
					    
					    my %sendi = (
					            From    => 'efax@restorehc.com',
					            To      => $faxTo . '@faxmessage.net',
					            Subject => 'u=efax p=yist467a',
							        Type     => 'text/html' || 'application/pdf',
#							        Encoding =>'base64',
#							        Data     => '$pdf_data'
							    );

#	$sendi{To}='rperry@restorehc.com';


my @parts2= (
    Email::MIME->create(
        attributes => {
            content_type => "text/plain",
            format       => "flowed",
            charset      => "US-ASCII",
        },
        body => '',
    ),
    Email::MIME->create(
        attributes => {
#            filename     => $rxn .'.pdf',
            content_type => "application/pdf",
            encoding     => "base64",
            name         => $rxn .'.pdf',
        },
        body => $pdf_data,
    ),
);



 my $quicky = Email::MIME->create(
      header_str => [
          From => $sendi{From},
          To   => $sendi{To},
           Subject => 'u=efax p=yist467a',

      ],
	      parts => \@parts2 ||  [	$pdf_data      ],
  );
 my $es= MIME::Base64::encode_base64( Encode::encode("utf8", $quicky->as_string )  );
      			use lib qw(/public_html/perl /public_html/perl/aws_ses);
				use MIME::Base64;
				use Getopt::Long;
				use Pod::Usage;
				use SES;
				use Encode;


my %rsps= (
 '200'  => 'OK',
 '400'  => 'BAD_INPUT',
 '403'  => 'SERVICE_ACCESS_ERROR',
 '500'  => 'SERVICE_EXECUTION_ERROR',
 '503'  => 'SERVICE_ERROR'
);



		my %params = (
#		      "Message.Body.Text.Data" =>  $quicky->body_raw,
				"RawMessage.Data" => $es,
		      "Action" => "SendRawEmail",
		      "Message.Subject.Data" => $sendi{Subject},
		      "Source" => $sendi{From},
		      "Destination.ToAddresses.member.1" => $sendi{To}
		   );
		  my %opts =(
		      "e" => undef,
		      "verbose" => undef,
		      "r" => undef,
		      "m" =>  $es ,
		      "s" => $sendi{Subject},
		      "c" => undef,
		      "h" => undef,
		      "k" => "/public_html/perl/aws_ses/creds",
		      "b" => undef,
		      "f" => $sendi{From},
		      "t" => [
		         $sendi{To}
		      ]
		);
		
	my ($response_code, $response_content, $response_flag) = SES::call_ses \%params, \%opts;      			
my $clr = $response_code ==200 ? 'green' : 'red'; 
$m->out(qq|ATTEMPT TO SEND TO $faxTo: <b style="color:$clr">$rsps{$response_code} $response_code, $response_content, $response_flag </b>|);
#					    $mailer->send($quicky) or die $!;
#					    eval { $mailer->send($email2) };					    die "Error sending email: $@" if $@;
      				
      				$dbh->do(q{INSERT INTO `rxRefillAuthHist` (`RxN`, `totals`, `LDU`, `rfStatus`, `reFaxed`, `provCalled`, `dateEntered`, `dateComplete`, `pharmNotes`, `orgFaxed`, `orgFaxedStatus`, `reFaxedStatus`, `api_resp`, `api_id`)	VALUES	(?, 0, NOW(), 'New', NULL, NULL, NOW(), NULL, NULL, NOW(), 'attempting', NULL, ?, ?) ON DUPLICATE KEY UPDATE api_id=VALUES(api_id), reFaxed=NOW(), api_resp=VALUES(api_resp)}, undef, ($rxn, undef, $rsps{$response_code}));
      				

      			}

      			return;




























#get fax #:

use Mozilla::CA;


# get token:
# 	curl -X PUT https://api.2600hz.com:8443/v1/user_auth -d '{ "data" : { "credentials" : "ba45a9f192c38bd4e8396459ed679660", "realm" : "mip1.sip.2600hz.com" } }'

my $api_url=q{https://api.2600hz.com:8443/v1};
	 $api_url=q{http://api.2600hz.com:8000/v1};
my $acct_id=q{7617ffea48ffaed61384fb5a80b10a80};
my $auth_token=q{96cbc2c047447e76c6760627246f2f3d};
# get cred info here: https://2600hz.atlassian.net/wiki/display/docs/Generating+an+Authentication+Token
my $creds=q|{"data" : { "credentials" : "ba45a9f192c38bd4e8396459ed679660", "realm": "mip1.sip.2600hz.com" } }|;
my $api_key='';


#$api_url=q{https://108.166.96.52:8443/v1};
{
  use LWP::UserAgent;
     use CACertOrg::CA;
  my $ua = LWP::UserAgent->new;
  $ua->agent("MyApp/0.1 ");
#  $ua->ssl_opts( verify_hostnames => 0 ,  								SSL_ca_file => Mozilla::CA::SSL_ca_file()	  );
   $ua->ssl_opts(        verify_hostnames => 0,                SSL_ca_file      => CACertOrg::CA::SSL_ca_file());
                
#verify_hostnames

  my $req = HTTP::Request->new( PUT => ($api_url || 'https://api.2600hz.com:8443/v1') . '/user_auth' );
		$req->header( 	
									'Content-Type' => 'application/json', 
									'X-Auth-Token' => $auth_token
									);
		$req->content( $creds || JSON::XS->new->pretty(1)->encode({"api_key" => $api_key}) );

  # Pass request to the user agent and get a response back
  my $res = $ua->request($req);

  # Check the outcome of the response
  if ($res->is_success) {
#      print $res->content;
  }
  else {
      print $res->status_line, "\n";
      print $res->content;

      $m->out('Error occurred.  Send manually...');
      			$m->out(q{<div><a href="http://restoredirect.com/api/v1.e/func/refill_fax_pdf.html?rxn=} . $rxn . q{">PDF</a>.  </div>});      


	return;      
  }

my $jsr=JSON::XS->new->decode($res->content);
$auth_token=$jsr->{auth_token};

}



my $fax_url = qq|/accounts/$acct_id/faxes|;
my $fxo = 
{
   "data" => {
      "document" => {
         "url" => "http://restoredirect.com/api/v1.e/func/refill_fax_pdf.html?rxn=" . $rxn,
         "method" => "get"
      },
      "retries" => 4,
      "from_name" => "Restore Health Pharmacy",
      "from_number" => "18888987412",
      "to_name" => "Prescriber",
      "to_number" => $faxTo
   }
};

 # Create a user agent object
  use LWP::UserAgent;
  my $ua = LWP::UserAgent->new;
  $ua->agent("MyApp/0.1 ");

  # Create a request





 {

  my $req = HTTP::Request->new(PUT => $api_url . $fax_url);
		$req->header( 	
									'Content-Type' => 'application/json', 
									'X-Auth-Token' => $auth_token
									);
		$req->content( JSON::XS->new->pretty(1)->encode($fxo) );

  # Pass request to the user agent and get a response back
  my $res = $ua->request($req);

  # Check the outcome of the response
  if ($res->is_success) {
      
      # check JSON:
      # save to refill Queue!
	my $rj={};
      eval{
      $rj=JSON::XS->new->decode($res->content);
      };
      if ($rj->{status} eq 'success') {
			$m->out(q{<div>Successfully sent <a href="http://restoredirect.com/api/v1.e/func/refill_fax_pdf.html?rxn=} . $rxn . q{">PDF</a>.  </div>});      
			$dbh->do(q{INSERT INTO `rxRefillAuthHist` (`RxN`, `totals`, `LDU`, `rfStatus`, `reFaxed`, `provCalled`, `dateEntered`, `dateComplete`, `pharmNotes`, `orgFaxed`, `orgFaxedStatus`, `reFaxedStatus`, `api_resp`, `api_id`)
VALUES
	(?, 0, NOW(), 'New', NULL, NULL, NOW(), NULL, NULL, NOW(), 'attempting', NULL, ?, ?) ON DUPLICATE KEY UPDATE api_id=VALUES(api_id), reFaxed=NOW(), api_resp=VALUES(api_resp)}, undef, ($rxn, $res->content, $rj->{data}{id}));
      } else {
      $m->out('Error occurred.  Send manually...');
      			$m->out(q{<div><a href="http://restoredirect.com/api/v1.e/func/refill_fax_pdf.html?rxn=} . $rxn . q{">PDF</a>.  </div>});      
      }
      
      
      
      
      
      
      
  }
  else {
      print $res->status_line, "\n" .
      $res->headers_as_string;
      $m->out('Error occurred.  Send manually...');
      			$m->out(q{<div><a href="http://restoredirect.com/api/v1.e/func/refill_fax_pdf.html?rxn=} . $rxn . q{">PDF</a>.  </div>});      

  }
  
}

</%init>
