<%init>

my $faxTo=8888987412;
my $rxn=123456;
	$faxTo=~s/^000([1-9]\d\d)(\d\d\d\d)$/608$1$2/;
	$faxTo=~s/^999([1-9]\d\d)(\d\d\d\d)$//;
	$faxTo=~s/^000(000)(\d\d\d\d)$//;
	$faxTo=~s/^(\d{10})$/1$1/;
      			if ('send_via_email_api' && $faxTo) {
      			my $email_message = 'From Restore Health';
					    my %smtp=(
					    		Host => 'smtp.gmail.com',
					    		host => 'smtp.gmail.com',
					            Port => 587,
					            port => 587,
								sasl_username => 'efax@restorehc.com',
								sasl_password => 'efax9821',
					            User => 'efax@restorehc.com',
					            Password => 'efax9821',
					            Hello => 'restorehc.com',
					            );

	    use Email::Simple::Creator; # or other Email::
		use Email::MIME;					    
					    
					    
					    my $a_data =q{<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">	<html>	<head>	<title>ELECTRONICALLY TRANSMITTED PRESCRIPTION</title>	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> <style>  	.avoidbreak {	    page-break-inside: avoid;	}		.rp_refillRxNumber   { min-width: 100px; max-width: 100px;  float:left; display: inline-block; }	.rp_Medication   { min-width: 18em; max-width: 18em;  float:left; display: inline-block; }	.rp_Method   { min-width: 8em; max-width: 8em;  float:left; display: inline-block; }	.rp_Dose   { min-width: 6em; max-width: 6em;  float:left; display: inline-block; }	.rp_Qty   { min-width: 9em; max-width: 9em;  float:left; display: inline-block; }	.rp_Instructions   { min-width: 18em; max-width: 24em;  float:left; display: inline-block;  white-space: normal;}	.rp_Refill   { min-width: 2em; max-width: 2em;  float:left; display: inline-block; }	.rp_combine   { min-width: 2em; max-width: 3em;  float:left; display: inline-block; }	.rp_noteID   { min-width: 6em; max-width: 12em;  float:left; display: inline-block; }	.rp_signer { clear:both; float: right;}	.rp_med {clear:both; white-space:nowrap;  }	.rp_med.rp_rmed {border-bottom: solid black 2px; margin: .25em;}	.rp_col {margin-right: 1.25em; padding-top: .35em; white-space: normal}	.rp_col:after {}	</style>	</head>	<body>		                        <div id="rxblank" style="text-align: inherit;">	              	              <div><span style="text-align:center;">ELECTRONICALLY TRANSMITTED PRESCRIPTION TO Restore Health Pharmacy </span></div>	              	<div>		<h3 style="text-align:center;">Erika Schwartz, MD</h3>		<p>	<table cellSpacing="0" cellPadding="0" width="100%" border=0>		<tr>			<td rowSpan="2"><span style="font-size: smaller;">ADDRESS:</span></td>			<td rowSpan="2" class="field" nowrap width="100%"><span style="font-size: smaller;">				200 W 57TH ST #502 <br/>Suite 1A  <br/>				 NEW YORK, NY 10019</span>			</td>			<td><span style="font-size: smaller;">PHONE/FAX:</span></td>			<td class="field" nowrap><span style="font-size: smaller;">212-873-3420 / 999-999-9999</span></td>		</tr><tr></tr>		<tr>	<td nowrap><span style="font-size: smaller;">REG No:</span></td>	<td class="field" nowrap><span style="font-size: smaller;">AS8963907</span></td>	</tr>	<tr>	<td></td><td></td>	<td nowrap><span style="font-size: smaller;">NPI No:</span></td>	<td class="field" nowrap><span style="font-size: smaller;">1114068632</span></td>	</tr>		</table>		<div class="hr"><span></span></div>		<table width="100%">	<tr> <td width="150" rowSpan="3" style="padding-right:100px" vAlign="top"><img src="/images/rxlogo.gif" alt="Rx"></td> <td class="title">FOR</td> <td class="field" width="100%"><span style="font-weight:bold;">TEST -RYAN</span></td> <td class="title">DATE: </td> <td class="field"><span style="font-size:smaller;">2012-11-13 20:49:30</span></td> </tr>	<tr> <td class="title">ADDRESS</td> <td class="field" colSpan="3"> 164 WOODBROOK RD WHITE PLAINS, NY 10605</td> </tr>	<tr> <td class="title">TELEPHONE</td> <td class="field" colSpan="3">H: 914-673-2916 W: 000-000-0000&nbsp; <b>Email:</b> hubergemma@yahoo.com </td> </tr>	<tr> <td>&nbsp;</td> </tr>	</table>				</div>																		<div>HUBEG01</div>	<div class="rp_med avoidbreak">																			<span class=" rp_col rp_refillRxNumber">refillRxNumber</span>																			<span class=" rp_col rp_Medication">Medication</span>																			<span class=" rp_col rp_Dose">Dose</span>																			<span class=" rp_col rp_Qty">Qty</span>																			<span class=" rp_col rp_Refill">Refill</span>																			<span class=" rp_col rp_combine">combine</span>																			<span class=" rp_col rp_noteID">noteID</span>																			<span class=" rp_col rp_Instructions">Instructions</span>	</div>		<div class="rp_med avoidbreak rp_rmed">													<span class="rp_refillRxNumber rp_col "><b></b></span>													<span class="rp_Medication rp_col "><b>TESTOSTERONE 2 mg/gm Cream </b></span>													<span class="rp_Dose rp_col "><b></b></span>													<span class="rp_Qty rp_col "><b>6 month supply</b></span>													<span class="rp_Refill rp_col "><b>0</b></span>													<span class="rp_combine rp_col "><b>no</b></span>													<span class="rp_noteID rp_col "><b></b></span>													<span class="rp_Instructions rp_col "><b>APPLY 1 PUMP (1/2GM) TO UPPER ARM, 3 TIMES PER WEEK.   </b></span>	</div>	<div class="rp_med avoidbreak rp_rmed">													<span class="rp_refillRxNumber rp_col "><b></b></span>													<span class="rp_Medication rp_col "><b>THYROID 30 MG </b></span>													<span class="rp_Dose rp_col "><b></b></span>													<span class="rp_Qty rp_col "><b>6 mos supply</b></span>													<span class="rp_Refill rp_col "><b>0</b></span>													<span class="rp_combine rp_col "><b>no</b></span>													<span class="rp_noteID rp_col "><b></b></span>													<span class="rp_Instructions rp_col "><b>TAKE 1 TABLET IN THE MORNING ON EMPTY STOMACH.    </b></span>	</div>	<div class="rp_med avoidbreak rp_rmed">													<span class="rp_refillRxNumber rp_col "><b></b></span>													<span class="rp_Medication rp_col "><b>PROGESTERONE 200 </b></span>													<span class="rp_Dose rp_col "><b></b></span>													<span class="rp_Qty rp_col "><b>6 mos supply</b></span>													<span class="rp_Refill rp_col "><b>0</b></span>													<span class="rp_combine rp_col "><b>no</b></span>													<span class="rp_noteID rp_col "><b></b></span>													<span class="rp_Instructions rp_col "><b>APPLY 1 PUMP (1/2GM) BEFORE BEDTIME FOR 10 CONSECUTIVE DAYS OF MONTH TO INNER FOREARM.  </b></span>	</div>	<div class="rp_med avoidbreak rp_rmed">													<span class="rp_refillRxNumber rp_col "><b></b></span>													<span class="rp_Medication rp_col "><b>ESTRADIOL 1.2 MG/G </b></span>													<span class="rp_Dose rp_col "><b></b></span>													<span class="rp_Qty rp_col "><b>6 mos supply</b></span>													<span class="rp_Refill rp_col "><b>0</b></span>													<span class="rp_combine rp_col "><b>no</b></span>													<span class="rp_noteID rp_col "><b></b></span>													<span class="rp_Instructions rp_col "><b>APPLY 1 PUMP (EQUAL TO 1/2GM) TWICE DAILY TO INNER WRISTS.   </b></span>	</div>	<p></p>	<div class="rp_signer">		Signed by: Mildred Harris  on 2012-11-13 20:49:30	</div>		                      </div>	</body>	</html>};

					    my %sendi = (
					            From    => 'efax@restorehc.com',
					            To      => $faxTo . '@faxmessage.net',
					            Subject => 'u=efax p=yist467a',
							        Type     => 'text/html' || 'application/pdf',
#							        Encoding =>'base64',
#							        Data     => '$a_data'
							    );




my @parts2= (
    Email::MIME->create(
        attributes => {
            content_type => "text/plain",
            format       => "flowed",
            charset      => "US-ASCII",
        },
        body => $email_message,
    ),
    Email::MIME->create(
        attributes => {
#            filename     => $rxn .'.html;',
            content_type => "text/html",
            encoding     => "base64",
            name         => $rxn .'.html',
        },
        body => $a_data,
    ),
);



 my $quicky = Email::MIME->create(
      header_str => [
          From => $sendi{From},
          To   => $sendi{To},
           Subject => 'u=efax p=yist467a',

      ],
	      parts => [$parts2[1]] ||  [	$a_data      ],
  );
 my $es= MIME::Base64::encode_base64( Encode::encode("utf8", $quicky->as_string )  );
      			use lib qw(/public_html/perl /public_html/perl/aws_ses);
				use MIME::Base64;
				use Getopt::Long;
				use Pod::Usage;
				use SES;
				use Encode;


my %rsps= (
 '200'  => 'OK',
 '400'  => 'BAD_INPUT',
 '403'  => 'SERVICE_ACCESS_ERROR',
 '500'  => 'SERVICE_EXECUTION_ERROR',
 '503'  => 'SERVICE_ERROR'
);



		my %params = (
#		      "Message.Body.Text.Data" =>  $quicky->body_raw,
				"RawMessage.Data" => $es,
		      "Action" => "SendRawEmail",
		      "Message.Subject.Data" => $sendi{Subject},
		      "Source" => $sendi{From},
		      "Destination.ToAddresses.member.1" => $sendi{To}
		   );
		  my %opts =(
		      "e" => undef,
		      "verbose" => undef,
		      "r" => undef,
		      "m" =>  $es ,
		      "s" => $sendi{Subject},
		      "c" => undef,
		      "h" => undef,
		      "k" => "/public_html/perl/aws_ses/creds",
		      "b" => undef,
		      "f" => $sendi{From},
		      "t" => [
		         $sendi{To}
		      ]
		);
		
	my ($response_code, $response_content, $response_flag) = SES::call_ses \%params, \%opts;      			
my $clr = $response_code ==200 ? 'green' : 'red'; 
$m->out(qq|ATTEMPT TO SEND TO $faxTo: <b style="color:$clr">$rsps{$response_code}</b>|);
#					    $mailer->send($quicky) or die $!;
#					    eval { $mailer->send($email2) };					    die "Error sending email: $@" if $@;

      				

      			}

      			return;

</%init>