<%args>
$lgix197i 
$tmp_sess_id => Digest::SHA3::sha3_384_base64($Igix197i)
</%args>
<% Digest::SHA3::sha3_384_base64($lgix197i ) %>
<form method="post" id="updatePatientBillingInfo_frm">
	<input type="hidden" name="tmp_sess_id" value="<% $tmp_sess_id %>" />
	<input type="hidden" name="lgix197i" value="<% $lgix197i %>" />
	<input type="hidden" name="func" value="updatePatientBillingInfo" />
	<div>Card Number: <input type="text" name="cc_num" pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$" value="" placeholder="Credit Card Number" style="width:14.05em;"/></div>
	<div>Exp Date (MM/YY): <input type="text" name="cc_exp_mm" pattern="^[01]\d$" value="" placeholder="MM" style="max-width:3.05em;"  /> / <input type="text" name="cc_exp_yy" pattern="^[12]\d$" value="" placeholder="YY" style="max-width:3.05em;"/></div>
	<div></div>	
	<div><input type="submit" name=""  value="Update Billing Information" /></div>	
</form>
<script>
	$(document).ready(function(){
		$('body').on('submit', '#updatePatientBillingInfo_frm', function(eml) {
					eml.preventDefault();
					var upfi=$(this).serializeObject() ;
					$.postJSON('https://restoredirect.com/api/v1.e/updatePatientBillingInfo',upfi, function(data) {
														display_errs(data.errs);
														if (data.data) {		}
										});
			});
	});

//Popup dialog
var popup = function (message, opts) {

		if(! (typeof opts == 'object')) {opts=new Object(); }
	$( "#dialog-message" ).dialog( "destroy" );
		// display the message- moved up because of subsequent calls...
			$('#dialog-message').html(message);
			if ( typeof opts.modal == 'undefined') {opts.modal=true; }
			if ( typeof opts.width == 'undefined') {opts.width=660;}
			//if (! typeof opts.autoOpen) {opts.autoOpen=false;}
			if ( typeof opts.close == 'undefined') {opts.close= function(event, ui)        {    console.log(this); console.log(event);           ; $(this).dialog('destroy') ;  $(this).empty();     }}
			console.log(opts);
			$('#dialog-message').dialog(opts);
			return;
	// calculate the values for center alignment
	var dialogTop =  (maskHeight/3) - ($('#dialog-box').height());  
	var dialogLeft = (maskWidth/2) - ($('#dialog-box').width()/2); 
	
	// assign values to the overlay and dialog box
	$('#dialog-overlay').css({height:maskHeight, width:maskWidth}).show();
	$('#dialog-box').css({top:dialogTop, left:dialogLeft}).show();
	
	// display the message
//	$('#dialog-message').html(message);
			
};

var closePopUp = function () {$('#dialog-overlay, #dialog-box').hide(); return false;};


	var display_errs = function (errs, title, cb, data, opts) {
		if (typeof errs && errs[0]) {
			if(! (typeof opts == 'object')) {opts=new Object(); }
			opts.title=title || "Messages";
			popup($('#tmpl_display_errs').tmpl({errs:errs, cb: cb, opt: opts || {}}), opts); 
		
		}
	};


function userAborted(xhr) {
  return !xhr.getAllResponseHeaders();
}

$.postJSON = function(url, data, callback, async) {
		var t_data= data.data ? JSON.stringify(data) : JSON.stringify({data:data});
		console.log(t_data);
		async = ((typeof async == "undefined") ? true : async);
	if (async==false) {
//				    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
		var rjson = $.ajax({
					  type: 'POST',
					  url: url,
					  data: t_data,
					  success: callback,
					  dataType: 'json',

					scriptCharset: "utf-8" ,

					contentType: "application/json; charset=utf-8",
			processData: false,
					  async: async,
					   error: function(x, t, m) {
				        if(t==="timeout") {
				            alert("Request timed out.  Please refresh your browser.");
				        } else {
				            alert(t);
				        }
				    }
					  
					  
				 }).responseText;
				 //console.log(url + ': ' + rjson);
// why?				 var json = JSON.parse(rjson);
//does this even do anything:		 return json;
return rjson;
	}
	else {
		var tmp_xhr=$.ajax({
			  type: 'POST',
			  url: url,
			  data: t_data,
			  success: callback,
			  dataType: 'json',

					scriptCharset: "utf-8" ,
					contentType: "application/json; charset=utf-8",
			processData: false,
			  async: async,
			  error: function(x, t, m) {
				        if(t==="timeout") {
				            alert("Request timed out.  Please refresh your browser.");
				        } else if (t==="abort" && userAborted(x)) {	;	}
				        else {
				            alert("Request timed out.  Please refresh your browser.  \n\n" + t);
				        }
				    }
					  

			});
			return tmp_xhr;
	} 
 

};


$.fn.serializeObject = function()
{
    var o = {};
    var a = this.serializeArray();
    $.each(a, function() {
        if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
                o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });
    return o;
};







var xhrs=new Object();


</script>