<%doc>
my %postInfo=
	(
		'$lev{$p->{EAV}->{Level_Estradiol}}->[$ll]' => 'Level_Estradiol',
		'$lev{$p->{EAV}->{Level_Progesterone}}->[$ll]' => 'Level_Progesterone',
		'$lev{$p->{EAV}->{Level_NTx}}->[$ll]' => 'Level_NTx',
		"1000" => 'SentenceOrder',
		"100" => 'commentOrder',
		"Estradiol" => 'commentSection',
		'$p->{EAV}->{hasSyms_P_deficiency}' => 'hasSyms_P_deficiency',
		'$p->{EAV}->{hasSyms_E_deficiency}' => 'hasSyms_E_deficiency',
		'$p->{EAV}->{hasSyms_E_excess}' => 'hasSyms_E_excess',
		'$logicID' => 'logicID',
		"aYf0" => 'qType',
		"currentIRMA.commentsTherapyEvaluation" => 'sectName',
		'$p->{EAV}->{set.GiveSystemicE}' => 'set.GiveSystemicE',
		'$p->{EAV}->{set.changeEDose}' => 'set.changeEDose',
		'$p->{EAV}->{set.GiveP}' => 'set.GiveP',
		'$p->{EAV}->{set.changePDose}' => 'set.changePDose',
		'$p->{EAV}->{onEstradiol}' => 'onEstradiol',
		'$p->{EAV}->{onProgesterone}' => 'onProgesterone',
		'$textIDE' => 'textID',
		'HTML' =>	  '$E_HTML'
	);
E	exc	def	giveE	giveP
~~ = 
 grep $_ eq $b, (@hi)
</%doc>
<%args>
$p
</%args>
<%init>
# E	P	NTx	E	E	P	onE	onP	rev	date				E		P	gvE	gvP
# lo	lo	opt	y	n	y	n	n 	1	@opt009-11-0@opt 16:@opt@opt:41	maint	inc	n	y
# AlloPreg
my (@lo)=(0,1);
my @opt=(2);
my @hi=(3,4);
</%init>
<div id="coritsol_graph_area" class="graph_png">GRAPH</div>
<span class="consider-u" >&nbsp;</span>


% if ($p->{EAV}->{'GiveCortisol'} eq 'y') {
% 	if ($p->{EAV}->{'changeCortisolDose'} =~ m/^inc/ ) {
	 <% $p->{EAV}->{onCortisol} eq 'y' ? 'Adjust/increase' : 'Begin' %> Cortisol therapy. 
%	 } elsif ($p->{EAV}->{'changeCortisolDose'} =~ m/^mai/ ) {
	 <% $p->{EAV}->{onEstradiol} eq 'y' ? 'Continue' : 'Begin' %> Cortisol therapy. 
% 	}  elsif ($p->{EAV}->{'changeCortisolDose'} =~ m/^dec/ ) {
	 <% $p->{EAV}->{onEstradiol} eq 'y' ? 'Adjust/reduce' : 'Begin' %> Cortisol therapy. 
% 	}

%	} # GiveCortisol y
% 	else {
Monitor Cortisol in 6 months. Further adrenal studies may be indicated. 
% } 


<br/><span class="rationale-u" >&nbsp;</span>

% if (0 &&$p->{EAV}->{hasSyms_E_excess} eq 'y' && $p->{EAV}->{hasSyms_E_deficiency} eq 'y') {

% 	if ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@lo)) {
	Estrogen excess and deficiency symptoms are both reported with a <% $p->{EAV}->{EstradiolLevelLabel} %> Estradiol level.  
	This can indicate Estradiol is too low, but still dominant over Progesterone.
% 	}
% 	elsif ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@opt)) {
	Though the Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>, 
	estrogen excess and deficiency symptoms are both reported.
% 	}
% 	elsif ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@hi)) {
	Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %> with estrogen excess and deficiency symptoms both reported.  	
%		if ($p->{EAV}->{hotFlashes} eq 'Moderate' || $p->{EAV}->{hotFlashes} eq 'Severe')	{
			Symptom of hot flashes/night sweats can occur when Estradiol levels are too high, as well as too low.
%		}
% 	}


% } elsif (0 && $p->{EAV}->{hasSyms_E_excess} eq 'y' && $p->{EAV}->{hasSyms_E_deficiency} eq 'n') {
% 	if ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@lo)) {
	Though the Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>, 
	estrogen dominance symptoms are reported.  This does not necessarily mean there is too much estrogen,
	only that it needs to be balanced with and opposed by progestagens such as progesterone.
% 	}
% 	elsif ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@opt)) {
	Though the Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>, 
	estrogen dominance symptoms are reported.  This does not necessarily mean there is too much estrogen,
	only that it needs to be balanced with and opposed by progestagens such as progesterone.
% 	}
% 	elsif ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@hi)) {
	<% $p->{EAV}->{EstradiolLevelLabel} %> estradiol lab value correlates with estrogen excess symptoms.  
% 	}





% } elsif ($p->{EAV}->{hasSyms_Cortisol_deficiency} eq 'y') {
% 	if ( grep $_ eq  $p->{EAV}->{Level_Cortisol_1}, (@lo)) {
	<% $p->{EAV}->{CortisolLevelLabel} %> Cortisol lab value correlates with Cortisol deficiency symptoms.  Cortisol level(s) may return to normal when other hormones are balanced.
% 	}
% 	elsif ( grep $_ eq  $p->{EAV}->{Level_Cortisol_1}, (@opt)) {
	Cortisol level is <% $p->{EAV}->{CortisolLevelLabel} %> with Cortisol deficiency symptoms reported.
% 	}
% 	elsif ( grep $_ eq  $p->{EAV}->{Level_Cortisol_1}, (@hi)) {
		Cortisol level is <% $p->{EAV}->{CortisolLevelLabel} %> with Cortisol deficiency symptoms reported.  Cortisol level(s) may return to normal when other hormones are balanced.
% 	}






% } elsif ( $p->{EAV}->{hasSyms_Cortisol_deficiency} eq 'n') {
	Symptoms are managed and Cortisol level is <% $p->{EAV}->{CortisolLevelLabel} %>.
% 	if ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@lo)) {
Cortisol level(s) may return to normal when other hormones are balanced.
% 	}
% 	elsif ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@opt)) {

% 	}
% 	elsif ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@hi)) {
Cortisol level(s) may return to normal when other hormones are balanced.
% 	}



% }

