<%args>
$p
$commentType => undef
</%args>
<%init>
if ($commentType eq 'Estrogen') {
return unless ( $p->{EAV}->{'GiveSystemicE'} eq 'y' ); }

elsif ($commentType eq 'Progesterone') {
return unless ( $p->{EAV}->{'GiveP'} eq 'y' ); }
</%init>
<%perl>
my $undStr='Note:';
	if ( grep {$_ eq $p->{EAV}->{periodsLastYear}} qw(1-3  4-8)) {

	if ($p->{EAV}->{regularMenstrualCycle} =~ m/^n/i) {
		$undStr.=qq{ Irregular Cycles reported, };
		}
	$undStr.=qq{ $p->{EAV}->{periodsLastYear} cycles in the last year};
}
elsif ( grep {$_ eq $p->{EAV}->{periodsLastYear}} qw(1-3 4-8)) {
	$undStr.=qq{ $p->{EAV}->{periodsLastYear} cycles in the last year};
}
elsif ( grep { $_ eq $p->{EAV}->{periodsLastYear}} ( '9-12' , '13+') ) {
	$undStr.=qq{};
}
</%perl>
% if ($commentType eq 'Estrogen'){
 <span class="commentTitleU"><% $undStr %></span> Use systemic estrogen therapy either days 1-21 of cycle based on a 28 day cycle OR 3 weeks on/1 week off. 
% }
% if ($commentType eq 'Progesterone') {
%	if ((grep {$_ eq $p->{EAV}->{periodsLastYear}} ('1-3',  '4-8')) ) {
	  <span class="commentTitleU"><% $undStr %></span> Use Progesterone therapy days 14-28 based on a 28 day cycle OR 2 weeks on/2 weeks off. Patient should be instructed that if menses start while using Progesterone to hold Progesterone and begin counting the days of a new cycle, with day one being the first day of menstrual bleeding.
%		} elsif ( grep {$_ eq $p->{EAV}->{periodsLastYear}} ( '9-12' , '13+') ) {
	  <span class="commentTitleU"><% $undStr %></span> Patient should be instructed that if menses start while using Progesterone to hold Progesterone and begin counting the days of a new cycle, with day one being the first day of menstrual bleeding.
%  		}
%	}
<%doc>

Clarify based on Kali's email dated 01-18-11


Done:
  Need to create these:
  
  cyc-reg-912_E.html
  cyc-irreg-912_E.html
  cyc-reg-912_P.html
  cyc-irreg-912_P.html

  cyc-13-48-13_E.html
  cyc-13-48-13_P.html
</%doc>