	<span class="consider-u" >&nbsp;</span> Consider monitoring level in 6 months. Neither oral nor transdermal DHEA therapy are suggested.
<div>
	<span class="rationale-u" >&nbsp;</span> Level may improve when other hormones are balanced; however, further adrenal studies may be indicated.
</div>