<%args>
$p => undef
$commentType => undef
$lab_id
$patientID => undef
</%args>
<li>
	<b>Over-view of saliva testing instructions: </b>
 Patients are directed to collect a 2 mL saliva sample at 8 AM on the day they test. Patients are instructed to then take/apply their hormone medications. Additional 2 mL saliva samples are collected at 12, 4 and 8 PM. The 12 PM sample is normally used for analysis as it represents the peaking hormone level. 
</li>

% my $reported_meds=RD::Pat_test::getmedhistory($dbh, $patientID, $lab_id);
% if ($reported_meds->[0]->[0]) {
 <li><b>Patient reports hormone use as follows on the day of testing: </b> 
% for my $med (@{$reported_meds->[0]})	{
		<div class="cmMed">
			<% $med->{medicationName} . ' ' . $med->{medicationDeliveryMethod} . ' ' . $med->{medicationDosage} %> - <span class="med_last_taken">[<% $med->{last_used} %>]</span>
			<div class="cmNotes ecmInstructions " data-medid="<% $med->{ID} %>" ><% $med->{medicationNotes} %></div>
			</div>
%		}
 </li>
%	}