<%doc>
my %postInfo=
	(
		'$lev{$p->{EAV}->{Level_Estradiol}}->[$ll]' => 'Level_Estradiol',
		'$lev{$p->{EAV}->{Level_Progesterone}}->[$ll]' => 'Level_Progesterone',
		'$lev{$p->{EAV}->{Level_bone_health}}->[$ll]' => 'Level_bone_health',
		"1000" => 'SentenceOrder',
		"100" => 'commentOrder',
		"Estradiol" => 'commentSection',
		'$p->{EAV}->{hasSyms_P_deficiency}' => 'hasSyms_P_deficiency',
		'$p->{EAV}->{hasSyms_E_deficiency}' => 'hasSyms_E_deficiency',
		'$p->{EAV}->{hasSyms_E_excess}' => 'hasSyms_E_excess',
		'$logicID' => 'logicID',
		"aYf0" => 'qType',
		"currentIRMA.commentsTherapyEvaluation" => 'sectName',
		'$p->{EAV}->{set.GiveSystemicE}' => 'set.GiveSystemicE',
		'$p->{EAV}->{set.changeSEDose}' => 'set.changeSEDose',
		'$p->{EAV}->{set.GiveP}' => 'set.GiveP',
		'$p->{EAV}->{set.changePDose}' => 'set.changePDose',
		'$p->{EAV}->{onEstradiol}' => 'onEstradiol',
		'$p->{EAV}->{onProgesterone}' => 'onProgesterone',
		'$textIDE' => 'textID',
		'HTML' =>	  '$E_HTML'
	);

ntx
perimeno + depression:

Am J Obstet Gynecol. @opt000 Aug;183(@opt):414-@opt0.
Estrogen replacement in perimenopause-related depression: a preliminary report.
PMID: 1094@opt479

!!!!!!!!
Change to:
Management of reported symptoms.

Default for SC:
While not contraindicated we typically do not recommend use of systemic estrogen therapy when a woman is still regularly cycling as often symptom management and bone health protection (if needed) may be attained with use of self care measures and other hormone therapy.



If on Estradiol:
Con: Consider Biest which is 20% Estradiol and 80% Estriol. 
Rat: In the book 'What Your Doctor May Not Tell You About Breast Cancer'; Dr. John Lee reported that studies have shown Estriol to be effective in aiding in protecting bone health. 

http://www.ncbi.nlm.nih.gov/pubmed/1@opt900318?dopt=Abstract

($p->{EAV}->{\S+}) eq 'hi'

E	exc	def	giveE	giveP
~~ = 
 grep $_ eq $b, (@hi)
</%doc>
<%args>
$p
</%args>
<%init>
# E	P	NTx	E	E	P	onE	onP	rev	date				E		P	gvE	gvP
# lo	lo	opt	y	n	y	n	n 	1	@opt009-11-0@opt 16:@opt@opt:41	maint	inc	n	y
# AlloPreg
my (@lo)=(0,1);
my @opt=(2);
my @hi=(3,4);
</%init>
<span class="consider-u" >&nbsp;</span>

% if ($p->{EAV}->{activelyCycles} eq '4+') {
			Estrogen therapy is not recommended at this time.  
% } else {

%	 if ($p->{EAV}->{'GiveSystemicE'} eq 'y') {
%	 	if ($p->{EAV}->{'changeSEDose'} =~ m/^inc/ ) {
		 <% $p->{EAV}->{onEstradiol} eq 'y' ? 'Adjust/increase estrogen therapy. ' : 'Initiate systemic estrogen therapy with Biest which is 20% Estradiol and 80% Estriol.' %>
%		 } elsif ($p->{EAV}->{'changeSEDose'} =~ m/^mai/ ) {
		 <% $p->{EAV}->{onEstradiol} eq 'y' ? 'Continue current  estrogen therapy. ' : 'Initiate systemic estrogen therapy with Biest which is 20% Estradiol and 80% Estriol.' %>
%	 	}  elsif ($p->{EAV}->{'changeSEDose'} =~ m/^dec/ ) {
		 <% $p->{EAV}->{onEstradiol} eq 'y' ? 'Adjust/reduce estrogen therapy. ' : 'Initiate systemic estrogen therapy with Biest which is 20% Estradiol and 80% Estriol.' %>
%	 	}
% ### Estradiol-try Biest:
%		if ($p->{EAV}->{onEstradiolType} eq 'Estradiol') {
			Consider Biest which is 20% Estradiol and 80% Estriol.
%		}
	
%		} # GiveSystemicE y
%	 	else {
			Systemic Estrogen therapy is not recommended at this time.	
% #	 		<% RD2::jd($p->{EAV}) %>
%	 } 

% }

<br/><span class="rationale-u" >&nbsp;</span>&nbsp;

% if ($p->{EAV}->{activelyCycles} eq '4+') {
While not contraindicated we typically do not recommend use of systemic estrogen therapy when a woman is still regularly cycling.  For these women symptom management and bone health protection (if needed) may be attained with use of self care measures and other hormone therapy.
% #new/experimental:
% $p->{EAV}->{'GiveSystemicE'} = 'n';


% } else {

% if ($p->{EAV}->{hasSyms_E_excess} eq 'y' && $p->{EAV}->{hasSyms_E_deficiency} eq 'y') {

% 	if ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@lo)) {
<!--	Estrogen excess and deficiency symptoms are both reported with a <% $p->{EAV}->{EstradiolLevelLabel} %> Estradiol level.  
	This can indicate Estradiol is too low, but still dominant over Progesterone.
	-->
	<!-- HF / Bone Health or Mgmt Reported Syms -->
%		if ($p->{EAV}->{hotFlashes} eq 'Moderate' || $p->{EAV}->{hotFlashes} eq 'Severe')	{
			Management of reported symptom of hot flashes.
%		}

%		if ( $p->{EAV}->{'Level_bone_health'} > 2 )	{
			Bone health protection.
%		}


% 	}
% 	elsif ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@opt)) {

Patient is reporting symptoms which may be related to estrogen dominance, as well as estrogen deficiency. 
% if ( $p->{EAV}->{onProgesterone} =~ m/^n/i ) {
  Because estrogen receptors may down-regulate and lose sensitivity, adversely effecting symptom management, when estrogen is unopposed by Progesterone it is unclear if increasing therapy would be of benefit. See further comments under Progesterone below. 
%	}

	<!-- HF / Bone Health or Mgmt Reported Syms -->
% 	}
% 	elsif ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@hi)) {
	Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %> with estrogen excess and deficiency symptoms both reported.  	
%		if ($p->{EAV}->{hotFlashes} eq 'Moderate' || $p->{EAV}->{hotFlashes} eq 'Severe')	{
			Symptom of hot flashes/night sweats can occur when Estradiol levels are too high, as well as too low.
%		}
% 	}







% } elsif ($p->{EAV}->{hasSyms_E_excess} eq 'y' && $p->{EAV}->{hasSyms_E_deficiency} eq 'n') {
% 		if ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@lo)) {
		Though the Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>, 
		estrogen dominance symptoms are reported.  This does not necessarily mean there is too much estrogen,
		only that it needs to be balanced with and opposed by progestagens such as progesterone.
% 		}
% 		elsif ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@opt)) {
		Though the Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>, 
		estrogen dominance symptoms are reported.  This does not necessarily mean there is too much estrogen,
		only that it needs to be balanced with and opposed by progestagens such as progesterone.
% 		}
% 		elsif ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@hi)) {
			<% $p->{EAV}->{EstradiolLevelLabel} %> estradiol lab value correlates with estrogen excess symptoms.  
% 		}





% } elsif ($p->{EAV}->{hasSyms_E_excess} eq 'n' && $p->{EAV}->{hasSyms_E_deficiency} eq 'y') {
%	 	if ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@lo)) {
			<% $p->{EAV}->{EstradiolLevelLabel} %> estradiol lab value correlates with estrogen deficiency symptoms.
% 		}
%	 	elsif ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@opt)) {
			Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %> with estrogen deficiency symptoms reported.
% 		}
%	 	elsif ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@hi)) {
			Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %> with estrogen deficiency symptoms reported.
			This can indicate imbalances of other hormones.
%			if ( ($p->{EAV}->{hotFlashes} eq 'Moderate' || $p->{EAV}->{hotFlashes} eq 'Severe') && $p->{EAV}->{'changeSEDose'} =~ m/^dec/ )	{
				Symptom of hot flashes/night sweats can occur when Estradiol levels are too high, as well as too low.
%			}
% 		 }
% 	} elsif ( $p->{EAV}->{hasSyms_E_excess} eq 'n' && $p->{EAV}->{hasSyms_E_deficiency} eq 'n') {
	<span id="estrogen_html_line_<% __LINE__ %>">Symptoms are managed</span>\
% 		if ( $p->{EAV}->{'Level_bone_health'} < 3 ) {
			and rate of bone loss is normal.
% 		}
% 		if ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@lo)) {
% 		}
% 		elsif ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@opt)) {
% 		}
% 		elsif ( grep $_ eq  $p->{EAV}->{Level_Estradiol}, (@hi)) {
% 		}
% }

% } # ActivelyCycling 
% if ($p->{EAV}->{hasSyms_E_deficiency} eq 'y' && $p->{EAV}->{'GiveP'} eq 'y'  && $p->{EAV}->{'GiveSystemicE'} eq 'n' && $p->{EAV}->{onProgesterone} eq 'n') {
	When estrogen is unopposed by progesterone, estrogen receptors down-regulate.  Progesterone re-sensitizes the receptors and estrogen deficiency symptoms can be managed with progesterone therapy in this way.
%		}







%		if (( $p->{EAV}->{onEstradiolType} eq 'Estradiol' && $p->{EAV}->{'GiveSystemicE'} eq 'y' ) || ($p->{EAV}->{'GiveSystemicE'} eq 'y' && $p->{EAV}->{'breastCancer'} eq 'yes')) {
In the book 'What Your Doctor May Not Tell You About Breast Cancer'; Dr. John Lee reported that studies have shown 2 mg of oral Estriol taken daily was effective in managing symptoms of hot flashes/night sweats as well as aiding in protecting bone health. 

%		}


<%doc>



no HF, no Bone, still sxs and inc E2:
While patient does not report moderately severe or severe symptom of Hot flashes/night sweats and NTx value is normal, use of additional systemic estrogen therapy may improve management of reported symptoms.




















      One of the most important lessons I learned. When I give this to a woman who's doctor has her on estrogen, it turns out the dose he has ordered is ALWAYS, two, four, eight, times too much. And I was trying to figure out, is the doctor that dumb? What is happening here? Why is it that when I give progesterone they get estrogen side effects? They get breast swelling, they get water retention, they get headaches, their feet swell, that's estrogen. Well, it dawned on me finally when I looked it up. Turns out when you have the same hormone all the time like estrogen, unopposed by progesterone, the estrogen receptors tune down. Just as if you're working in an office where there's too much noise. After working there for six months you end up not noticing the noise. Then you go away for two weeks and come back and say, "oh my God, how could I have been working here without realizing all this noise is here?" Every cell that they work on, it does so because there's a receptor, already made that binds and unites with that hormone's molecule, and goes to the nucleus and creates the effects of the message. But it takes binding with that receptor. When you have unopposed estrogen, the receptors tune down. When you add the progesterone the receptors come back to full force again, full efficiency.

     So, I learned that every time I added progesterone to a woman already on estrogen I had to tell her to cut her estrogen at least in half. Then later she could cut it down even more because the progesterone was handling so many of her problems. She didn't need all that much estrogen. Then I had some ladies who kept cutting it down, cutting it down and pretty soon they weren't taking any, and they were doing fine. No hot flashes, no vaginal dryness, no problems, they were doing fine and I said, "how can this be?" I was taught in medical school es
</%doc>