<%args>
$p
</%args>
% #  <% RD2::jd($p->{EAV}) %>
<%init>
my $ratCnt;
#E	P	NTx	E	E	P	onE	onP	rev	date				E		P	gvE	gvP
#lo	lo	opt	y	n	y	n	n	1	2009-11-02 16:22:41	maint	inc	n	y
#inc
# AlloPreg
my @lo=(0,1);
my @opt=(2);
my @hi=(3,4);


#  <% RD2::jd($p) %>
my @endComments;
</%init>

% if ($p->{EAV}->{Level_Progesterone} == 4 && $p->{EAV}->{onProgesteroneMethod} eq 'cream or patch') {
<div class="labWarning">
	<span class="commentTitleU">Note:</span> Transdermal dosing can promote higher levels as it is more fully absorbed; however, high levels with transdermal dosing may also represent a depot effect or accidental contamination of the collection tube.
</div>
% }




<span class="consider-u" >&nbsp;</span>

% if ($p->{EAV}->{'GiveP'} eq 'y') {
% 	if ($p->{EAV}->{'changePDose'} =~ m/^inc/ ) {
	 <% $p->{EAV}->{onProgesterone} eq 'y' ? 'Adjust/increase' : 'Initiate' %> Progesterone therapy. 
%	 } elsif ($p->{EAV}->{'changePDose'} =~ m/^mai/ ) {
	 <% $p->{EAV}->{onProgesterone} eq 'y' ? 'Continue current' : 'Initiate' %> Progesterone therapy. 
% 	}  elsif ($p->{EAV}->{'changePDose'} =~ m/^dec/ ) {
	 <% $p->{EAV}->{onProgesterone} eq 'y' ? 'Adjust/reduce' : 'Initiate' %> Progesterone therapy. 
% 	}

%	} # GiveP y 
% 	else {
%	if ($p->{EAV}->{hasSyms_E_deficiency} eq 'y' && $p->{EAV}->{hasSyms_P_deficiency} eq 'y') {
	Symptoms and levels suggest Progesterone may be dominant over estrogen.  
%	 }
		Progesterone therapy is not recommended at this time.	
% } 
% # P: am + pm both Above + not on P:
% 		if ($p->{EAV}->{'Progesterone_0-OOR'} eq 'hi' && $p->{EAV}->{'Progesterone_1-OOR'} eq 'hi' && $p->{EAV}->{onProgesterone} =~m/^n/i) {
Consider ruling out products and conditions that can influence Progesterone levels. If influencing factors are ruled out, please call for a free retest kit for this level. 
%	}















% # recently added "$p->{EAV}->{'GiveP'} eq 'y'" to rationales, could be better structured though

<br/><span class="rationale-u" >&nbsp;</span>&nbsp;

% if ( (grep {$_ eq  $p->{EAV}->{Level_Progesterone}} (@lo) ) && $p->{EAV}->{hasSyms_P_deficiency} eq 'y' && $p->{EAV}->{'GiveP'} eq 'y') {
<!--<% $p->{EAV}->{ProgesteroneLevelLabel} %>-->
Management of reported symptoms.  
%	} elsif ( ! (grep {$_ eq  $p->{EAV}->{Level_Progesterone}} (@lo)) && $p->{EAV}->{hasSyms_P_deficiency} eq 'y' && $p->{EAV}->{'GiveP'} eq 'y') {
Management of reported symptoms.  
%	} elsif ($p->{EAV}->{hasSyms_P_deficiency} eq 'n' && $p->{EAV}->{'GiveP'} eq 'n') {
Progesterone related symptoms are reported as managed.  
%	} 

%	if( 1 && $p->{EAV}->{'GiveP'} eq 'y' && $p->{EAV}->{'GiveSystemicE'} eq 'n' && $p->{EAV}->{'Level_NTx'} > 2) {
	Aid in bone health protection.
%	}
% if ($p->{EAV}->{'GiveP'} eq 'y') {
%		if ($p->{EAV}->{'GiveSystemicE'} eq 'y' && $p->{EAV}->{onProgesterone} eq 'n') {
		It is important to give Progesterone when using Estrogen\
%		 if ($p->{EAV}->{'hysterectomy'} =~ m/^y/i) {
		even if the patient has had a hysterectomy\
%		}
.  Progesterone protects the uterine endometrium. Additionally, when Estrogen is not opposed by progesterone, Estrogen receptors may down-regulate and lose sensitivity.  
% # removed - Progesterone re-sensitizes the receptors and sometimes less estrogen can be used after starting progesterone therapy.

%			if ($p->{EAV}->{'hysterectomy'} eq 'no') {
% push(@endComments, q{<div id="logic_p_html_line_} .  __LINE__ . q{"><span class="commentTitleU">Note:</span> Patient has not had a hysterectomy; clinical studies have been inconclusive regarding whether transdermal Progesterone therapy is effective in opposing estrogens effects on the uterus. </div> });
%			}
%		} #/ giveSysE == y + onP == n

%	if (  $p->{EAV}->{progesteroneMoodSymptoms} > 3 ) { $ratCnt++;
Progesterone is a calming hormone which may help manage reported mood-related symptoms.
%	}

%	if ($p->{EAV}->{bloating_0} =~ m/^(:?Moderate|Severe)/i || $p->{EAV}->{breastTenderness} =~ m/^(:?Moderate|Severe)/i ) { $ratCnt++;
		Progesterones effects on the fluid metabolism of the body may help 
%		if ($p->{EAV}->{bloating_0} =~ m/^(:?Moderate|Severe)/i && $p->{EAV}->{breastTenderness} =~ m/^(:?Moderate|Severe)/i ){
			symptoms of Bloating/water retention and Breasts tender/sore and/or swollen. 	
%		} else {
			symptom of <% $p->{EAV}->{bloating_0} =~ m/^(:?Moderate|Severe)/i ? 'Bloating/water retention' : 'Breasts tender/sore and/or swollen' %>. 
%		}
% 	}

%	if( 1 && $p->{EAV}->{'GiveP'} eq 'y' && $p->{EAV}->{'sleepDisturbances'} =~ m/^(:?Moderate|Severe)/i  && $p->{EAV}->{'onProgesteroneMethod'} ne 'oral') {
% #&& $p->{EAV}->{'changePDose'} =~ m/^(:?mai|inc)/i) {
Patient reports symptom of difficulty falling and staying asleep which may be helped with oral Progesterone therapy at bedtime (hs). Use of oral Progesterone creates metabolites which enhance drowsiness and may aid a patient in falling asleep; use of even release tablets may help the patient stay asleep.
%	}



% if ( (grep { $_ eq  $p->{EAV}->{Level_Progesterone}} @hi) && $p->{EAV}->{'changePDose'} =~ m/^(:?mai|inc)/i) {
  Progesterone therapy is typically well-tolerated even at higher levels.
%	} elsif ( (grep {$_ eq  $p->{EAV}->{Level_Progesterone}} @opt) && $p->{EAV}->{'changePDose'} =~ m/^inc/i) {
  Progesterone therapy is typically well-tolerated even at higher levels.
%	}
% } #/GiveP eq 'y'





% # P: am + pm both Above + not on P:
% 		if ($p->{EAV}->{'Progesterone_0-OOR'} eq 'hi' && $p->{EAV}->{'Progesterone_1-OOR'} eq 'hi' && $p->{EAV}->{onProgesterone} =~m/^n/i) {
Patient may be using a product which influences this level. If a free retest is requested direct patient to follow testing protocol carefully as face and lip cosmetics and oral hygiene products may influence this level.  
%	}









<% join("\n", @endComments) %>







% 		if ($p->{EAV}->{activelyCycles} eq '4+' && $p->{EAV}->{GiveP} eq 'y' && 0) {
<div>THIS COMMENT IS ALREADY IN CYCLING LOGIC:<br/>
	<span class="commentTitleU" >Note:</span> Patient should be instructed that if menses start while using Progesterone to hold Progesterone and begin counting the days of a new cycle, with day one being the first day of menstrual bleeding.
</div>
% 		}

<%doc>
      One of the most important lessons I learned. When I give this to a woman who's doctor has her on estrogen, it turns out the dose he has ordered is ALWAYS, two, four, eight, times too much. And I was trying to figure out, is the doctor that dumb? What is happening here? Why is it that when I give progesterone they get estrogen side effects? They get breast swelling, they get water retention, they get headaches, their feet swell, that's estrogen. Well, it dawned on me finally when I looked it up. Turns out when you have the same hormone all the time like estrogen, unopposed by progesterone, the estrogen receptors tune down. Just as if you're working in an office where there's too much noise. After working there for six months you end up not noticing the noise. Then you go away for two weeks and come back and say, "oh my God, how could I have been working here without realizing all this noise is here?" Every cell that they work on, it does so because there's a receptor, already made that binds and unites with that hormone's molecule, and goes to the nucleus and creates the effects of the message. But it takes binding with that receptor. When you have unopposed estrogen, the receptors tune down. When you add the progesterone the receptors come back to full force again, full efficiency.

     So, I learned that every time I added progesterone to a woman already on estrogen I had to tell her to cut her estrogen at least in half. Then later she could cut it down even more because the progesterone was handling so many of her problems. She didn't need all that much estrogen. Then I had some ladies who kept cutting it down, cutting it down and pretty soon they weren't taking any, and they were doing fine. No hot flashes, no vaginal dryness, no problems, they were doing fine and I said, "how can this be?" I was taught in medical school es
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     Rationale:  It is important to give Progesterone when using Estrogen. Progesterone protects the uterine endometrium. Additionally, when Estrogen is not opposed by progesterone, Estrogen receptors may down-regulate and lose sensitivity. 

     
     
     
</%doc>