<%args>
$p
</%args>
<%init>
#E	P	NTx	E	E	P	onE	onP	rev	date				E		P	gvE	gvP
#lo	lo	opt	y	n	y	n	n	1	2009-11-02 16:22:41	maint	inc	n	y
#inc
# AlloPreg
my @lo=(0,1);
my @opt=(2);
my @hi=(3,4);

#  <% RD2::jd($p->{EAV}) %>
#  <% RD2::jd($p) %>

</%init>

% if ($p->{EAV}->{Level_Testosterone} == 4 && $p->{EAV}->{onTestosteroneMethod} eq 'cream or patch') {
<div class="labWarning">
</div>
% }




<span class="consider-u" >&nbsp;</span>

% if ($p->{EAV}->{'GiveTestosterone'} =~ m/^y/i) {
% 	if ($p->{EAV}->{'changeTDose'} =~ m/^inc/ ) {
	 <% $p->{EAV}->{onTestosterone} eq 'y' ? 'Adjust/increase' : 'Begin' %> Testosterone therapy. 
%	 } elsif ($p->{EAV}->{'changeTDose'} =~ m/^mai/ ) {
	 <% $p->{EAV}->{onTestosterone} eq 'y' ? 'Continue current' : 'Begin' %> Testosterone therapy. 
% 	}  elsif ($p->{EAV}->{'changeTDose'} =~ m/^dec/ ) {
	 <% $p->{EAV}->{onTestosterone} eq 'y' ? 'Adjust/reduce' : 'Begin' %> Testosterone therapy. 
% 	}

%	} # GiveP y 
% 	else {
%	if ($p->{EAV}->{hasSyms_E_deficiency} eq 'y' && $p->{EAV}->{hasSyms_P_deficiency} eq 'y') {
%	 }
  Testosterone therapy is not recommended at this time.
% } 
% # T: am + pm both Above + not on T:
% 		if ($p->{EAV}->{'Testosterone_0-OOR'} eq 'hi' && $p->{EAV}->{'Testosterone_1-OOR'} eq 'hi' && $p->{EAV}->{onTestosterone} =~m/^n/i) {
Consider ruling out products and conditions that can influence Testosterone levels. If influencing factors are ruled out, please call for a free retest kit for this level. 
%	}

<div class="TE_rationale">

% if ($p->{EAV}->{'GiveTestosterone'} =~ m/^y/i) {
<span class="rationale-u" >&nbsp;</span>

% if ( grep $_ eq  $p->{EAV}->{Level_Testosterone}, (@lo) && $p->{EAV}->{hasSyms_T_deficiency} eq 'y' && $p->{EAV}->{'GiveTestosterone'} =~ m/^y/i) {

<span id="t_logic_line<% __LINE__ %>">Management of reported symptoms. </span>

% if ($p->{EAV}->{'lackOfEnergy'} =~ m/^M/i || $p->{EAV}->{'lackOfEnergy'} =~ m/^M/i  ) { # could add fatigue...
<span id="t_logic_line<% __LINE__ %>">Testosterone is an energizing hormone and use may improve symptoms of Lack of energy/endurance. </span>
%	 }






% }
% # opt/sxs:

% if ( $p->{EAV}->{Level_Testosterone} ==2 && $p->{EAV}->{hasSyms_T_deficiency} eq 'y'  && !$p->{EAV}->{'changeTDose'} =~ m/^mai/ ) {
<span id="t_logic_line<% __LINE__ %>">Optimizing Testosterone level within the therapeutic target range may improve management of reported symptoms.</span>
% }
% elsif ( $p->{EAV}->{Level_Testosterone}  > 1 && $p->{EAV}->{hasSyms_T_deficiency} eq 'y' && $p->{EAV}->{'changeTDose'} =~ m/^mai/ ) {
<span id="t_logic_line<% __LINE__ %>">Symptom management may improve when other hormones are balanced. </span>
% } # opt/no sxs
% elsif ( $p->{EAV}->{Level_Testosterone}  > 1 && $p->{EAV}->{hasSyms_T_deficiency} eq 'n' && $p->{EAV}->{'changeTDose'} =~ m/^mai/ ) {
<span id="t_logic_line<% __LINE__ %>">Maintain reported management of symptoms which may be improved by use of Testosterone therapy.</span>
% } elsif ($p->{EAV}->{Level_Testosterone}  > 2 && $p->{EAV}->{hasSyms_T_deficiency} eq 'n'  && $p->{EAV}->{'changeTDose'} =~ m/^dec/ ) { # hi/ no sxs:
<span id="t_logic_line<% __LINE__ %>">Avoid potential effects of higher Testosterone level.  Hormonal balance.</span>
% } elsif ($p->{EAV}->{Level_Testosterone}  > 2 && $p->{EAV}->{hasSyms_T_deficiency} eq 'y'  && $p->{EAV}->{'changeTDose'} =~ m/^dec/ ) { 
<span id="t_logic_line<% __LINE__ %>">Management of reported symptoms.  Avoid potential effects of higher Testosterone level.  Hormonal balance.</span>
% } elsif ($p->{EAV}->{Level_Testosterone}  > 2 && $p->{EAV}->{hasSyms_T_deficiency} eq 'y'  && $p->{EAV}->{'changeTDose'} =~ m/^inc/ ) { 
<span id="t_logic_line<% __LINE__ %>">Management of reported symptoms.  </span>
% } elsif ($p->{EAV}->{Level_Testosterone}  > 2 && $p->{EAV}->{hasSyms_T_deficiency} eq 'n'  && $p->{EAV}->{'changeTDose'} =~ m/^inc/ ) { 
<span id="t_logic_line<% __LINE__ %>">Hormonal balance.</span>
% }
% elsif ( $p->{EAV}->{Level_Testosterone}  < 3 && $p->{EAV}->{hasSyms_T_deficiency} eq 'n'  && $p->{EAV}->{'changeTDose'} =~ m/^dec/ ) {
<span id="t_logic_line<% __LINE__ %>">Avoid potential effects of higher Testosterone level.  Hormonal balance.</span>
% }
% elsif ( $p->{EAV}->{Level_Testosterone}  < 3 && $p->{EAV}->{hasSyms_T_deficiency} eq 'n'  && $p->{EAV}->{'changeTDose'} =~ m/^inc/ ) {
<span id="t_logic_line<% __LINE__ %>">Hormonal balance.</span>
% }
% elsif ( $p->{EAV}->{Level_Testosterone}  < 2 && $p->{EAV}->{hasSyms_T_deficiency} eq 'n'  && $p->{EAV}->{'changeTDose'} =~ m/^mai/ ) {
<span id="t_logic_line<% __LINE__ %>">Maintain reported management of symptoms which may be improved by use of Testosterone therapy.</span>
% } 

% if ($p->{EAV}->{'GiveTestosterone'} =~ m/^y/i && $p->{EAV}->{'GiveSystemicE'} eq 'y' && $p->{EAV}->{'Level_NTx'} > 2 && $p->{EAV}->{onTestosterone} eq 'n') {
<span id="t_logic_line<% __LINE__ %>">Studies have shown that use of Testosterone with estrogen is more effective than use of Estradiol alone in increasing bone mineral density.
</span>
%	}



% } elsif ($p->{EAV}->{'GiveTestosterone'} =~ m/^n/i) {
% 	if ($p->{EAV}->{onTestosterone} eq 'n') {
%		if ($p->{EAV}->{hasSyms_T_deficiency} eq 'y') {
		<span id="t_logic_line<% __LINE__ %>">Symptom management may improve when other hormones are balanced.</span>
%		}

%	} elsif ($p->{EAV}->{onTestosterone} eq 'y') {
		<span id="t_logic_line<% __LINE__ %>"><% $p->{EAV}->{noTReason} %></span>
%	}



% }



% if (0) {
Symptoms of Fatigue/tired and/or exhausted and Lack of energy/endurance may be related to factors other than Testosterone level.  

Reported symptom of Lack of sex drive/libido/sexual desire may take several months to improve once the Optimal Range is reached. Additionally, Lack of sex drive/libido/sexual desire may be related to factors other than Testosterone level. 

<something about excess?>
<Estradiol + SHBG>
sxs + ($p->{EAV}->{'changeTDose'} =~ m/^mai/ || ($p->{EAV}->{'GiveTestosterone'} =~ m/^n/i && $p->{EAV}->{'onTestosterone 
'} eq 'y' )
Symptom management may improve with recommended change to systemic estrogen therapy. 











Reducing Testosterone conversion into DHT may improve symptoms.  Limiting red meat consumption and getting adequate zinc and vitamin B6 are effective at limiting 5&alpha-reductase which converts Testosterone into DHT.

Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>.  Estradiol, especially when taken orally, increases SHBG which binds to free Testosterone, thus decreasing it.  Consider using Estradiol to help bring androgens into balance and begin Testosterone therapy concurrently.  Progesterone is also a mild Testosterone inhibitor.

Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>.  Estradiol, especially when taken orally, increases SHBG which binds to free Testosterone, thus decreasing it.  Transdermal estradiol has a milder effect.  Consider options for bringing Estradiol into balance with androgens. 

Begin Testosterone therapy and closely monitor <a href="" onclick="return getMI('androgen excess symtoms');" class="getMI" >symptoms of androgen excess</a>.

Low Estradiol and excessive Testosterone both play a role in blood glucose metabolism and increased risk of insulin resistance.

Have patient avoid foods such as sweets, chocolate, and milk products, caffeine, and alcohol.  These reduce the beneficial effects from Testosterone and promote the adverse effects - especially inflammation of sebum  glands and oil formation resulting in acne.















% }



% # T: am + pm both Above + not on T:
% 		if ($p->{EAV}->{'Testosterone_0-OOR'} eq 'hi' && $p->{EAV}->{'Testosterone_1-OOR'} eq 'hi' && $p->{EAV}->{onTestosterone} =~m/^n/i) {
Patient may be using a product which influences this level. If a free retest is requested direct patient to follow testing protocol carefully as face and lip cosmetics and oral hygiene products may influence this level.  
%	}

</div><!-- end rationale -->

% if ( $p->{EAV}->{onTestosteroneMethod} eq 'cream or patch' &&  grep $_ eq  $p->{EAV}->{Level_Testosterone}, (@hi)) {
<div>
	<span class="commentTitleU">Route of administration comment:</span> Transdermal dosing can promote higher levels due to being more fully absorbed, a depot effect or accidental contamination of the collection tube. 
</div>
% }


% return;
<BEST>
Rationale: Optimizing Testosterone level within the Therapeutic target range may improve libido. Testosterone enhances muscle tone and growth which may improve reported symptom of Muscle weakness and/or loss of strength. Testosterone is an energizing hormone which may help reported Lack of energy/endurance.

</BEST>
12/14








<span class="commentTitleB">Androgens:</span> Testosterone level is <% $p->{EAV}->{TestosteroneLevelLabel}  %> and symptoms are managed.  No therapy is recommended at this time.

<span class="commentTitleB">Androgens:</span> <% $p->{EAV}->{TestosteroneLevelLabel}  %> Testosterone level does not correlate with the symptoms of androgen excess.  Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>.  Estradiol, especially when taken orally, increases SHBG which binds to free Testosterone, thus decreasing it.  Consider using Estradiol to help bring androgens into balance and begin Testosterone therapy concurrently.  Progesterone is also a mild Testosterone inhibitor.

<span class="commentTitleB">Androgens:</span> <% $p->{EAV}->{TestosteroneLevelLabel}  %> Testosterone level does not correlate with the symptoms of androgen excess.  Reducing Testosterone conversion into DHT may improve symptoms.  Limiting red meat consumption and getting adequate zinc and vitamin B6 are effective at limiting 5&alpha-reductase which converts Testosterone into DHT.

<span class="commentTitleB">Androgens:</span> Testosterone level is <% $p->{EAV}->{TestosteroneLevelLabel}  %> with symptoms of androgen excess.  Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>.  Estradiol, especially when taken orally, increases SHBG which binds to free Testosterone, thus decreasing it.  Consider using Estradiol to balance with androgens.  Progesterone is also a mild Testosterone inhibitor.
<span class="commentTitleB">Androgens:</span> <% $p->{EAV}->{TestosteroneLevelLabel}  %> Testosterone level does not correlate with the symptoms of androgen excess.  Reducing Testosterone conversion into DHT may improve symptoms.  Limiting red meat consumption and getting adequate zinc and vitamin B6 are effective at limiting 5&alpha-reductase which converts Testosterone into DHT.  No Testosterone therapy recommended at this time.
<span class="commentTitleB">Androgen Excess:</span> <% $p->{EAV}->{TestosteroneLevelLabel}  %> Testosterone level correlates with the symptoms of androgen excess.  Estradiol level is low.  Oral estradiol increases SHBG which binds to free Testosterone, thus decreasing it.  Consider using Estradiol to help bring androgens into balance.  Progesterone is also a mild Testosterone inhibitor.
<span class="commentTitleB">Androgen Excess:</span> <% $p->{EAV}->{TestosteroneLevelLabel}  %> Testosterone level correlates with the symptoms of androgen excess.  Oral estradiol increases SHBG which binds to free Testosterone, thus decreasing it.  Consider using Estradiol to help bring androgens into balance.  Progesterone is also a mild Testosterone inhibitor.  
<span class="commentTitleB">Androgens:</span> Testosterone level is <% $p->{EAV}->{TestosteroneLevelLabel}  %> and deficiency symptoms are reported.  Initiate Testosterone therapy.
<span class="commentTitleB">Androgens:</span> Testosterone level is <% $p->{EAV}->{TestosteroneLevelLabel}  %> and deficiency symptoms are reported.  Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>.  Estradiol, especially when taken orally, increases SHBG which binds to free Testosterone, thus decreasing it.  Transdermal estradiol has a milder effect.  Consider options for bringing Estradiol into balance with androgens.  Initiate Testosterone therapy.  
<span class="commentTitleB">Androgens:</span> Testosterone level is <% $p->{EAV}->{TestosteroneLevelLabel}  %> with symptoms of androgen deficiency.  <br/><span class="consider-u" >&nbsp;</span>Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>.  Estradiol, especially when taken orally, increases SHBG which binds to free Testosterone, thus decreasing it.<br/>Begin Testosterone therapy.
<span class="commentTitleB">Androgens:</span> Testosterone level is <% $p->{EAV}->{TestosteroneLevelLabel}  %> with symptoms of androgen deficiency.<br/><span class="consider-u" >&nbsp;</span>Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>.  Estradiol, especially when taken orally, increases SHBG which binds to free Testosterone, thus decreasing it.<br/>Begin Testosterone therapy and closely monitor <a href="" onclick="return getMI('androgen excess symtoms');" class="getMI" >symptoms of androgen excess</a>.
<span class="commentTitleB">Androgens:</span> Testosterone level is <% $p->{EAV}->{TestosteroneLevelLabel}  %> with symptoms of androgen deficiency.  <br/><span class="consider-u" >&nbsp;</span>Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>.  Estradiol, especially when taken orally, increases SHBG which binds to free Testosterone, thus decreasing it.<br/>Begin Testosterone therapy and closely monitor <a href="" onclick="return getMI('androgen excess symtoms');" class="getMI" >symptoms of androgen excess</a>.
<span class="commentTitleB">Androgens:</span> Testosterone level is <% $p->{EAV}->{TestosteroneLevelLabel}  %> with symptoms of androgen deficiency.  Low Estradiol and excessive Testosterone both play a role in blood glucose metabolism and increased risk of insulin resistance.<br/><span class="consider-u" >&nbsp;</span>Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>.  Estradiol, especially when taken orally, increases SHBG which binds to free Testosterone, thus decreasing it.<br/>If beginning Testosterone therapy closely monitor <a href="" onclick="return getMI('androgen excess symtoms');" class="getMI" >symptoms of androgen excess</a>.
<span class="commentTitleB">Androgens:</span> Testosterone level is <% $p->{EAV}->{TestosteroneLevelLabel}  %> with symptoms of androgen deficiency.<br/><span class="consider-u" >&nbsp;</span>Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>.  Estradiol, especially when taken orally, increases SHBG which binds to free Testosterone, thus decreasing it.<br/>If beginning Testosterone therapy closely monitor <a href="" onclick="return getMI('androgen excess symtoms');" class="getMI" >symptoms of androgen excess</a>.
<span class="commentTitleB">Androgens:</span> Symptoms of both deficiency and excess are reported with Testosterone level as <% $p->{EAV}->{TestosteroneLevelLabel} %>.  Have patient avoid foods such as sweets, chocolate, and milk products, caffeine, and alcohol.  These reduce the beneficial effects from Testosterone and promote the adverse effects - especially inflammation of sebum  glands and oil formation resulting in acne.<br/><span class="consider-u" >&nbsp;</span>Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>.  Estradiol, especially when taken orally, increases SHBG which binds to free Testosterone, thus decreasing it.  Estrogen dominance over Testosterone can exacerbate the symptoms of androgen deficiency.<br/>  Begin Testosterone therapy and closely monitor <a href="" onclick="return getMI('androgen excess symtoms');" class="getMI" >symptoms of androgen excess</a>.
<span class="commentTitleB">Androgens:</span> Symptoms of both deficiency and excess are reported with Testosterone level as <% $p->{EAV}->{TestosteroneLevelLabel} %>.  Have patient avoid foods such as sweets, chocolate, and milk products, caffeine, and alcohol.  These reduce the beneficial effects from Testosterone and promote the adverse effects - especially inflammation of sebum  glands and oil formation resulting in acne.<br/><span class="consider-u" >&nbsp;</span>Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>.  Estradiol, especially when taken orally, increases SHBG which binds to free Testosterone, thus decreasing it.  Testosterone dominance over estrogen can exacerbate the symptoms of androgen excess.<br/>  Begin Testosterone therapy and closely monitor <a href="" onclick="return getMI('androgen excess symtoms');" class="getMI" >symptoms of androgen excess</a>.
<span class="commentTitleB">Androgen Balance:</span> <% $p->{EAV}->{TestosteroneLevelLabel}  %> Testosterone level correlates with the symptoms of androgen excess.  Estradiol level is <% $p->{EAV}->{EstradiolLevelLabel} %>.  Oral estradiol increases SHBG which binds to free Testosterone, thus decreasing it.  Consider using Estradiol to help bring androgens into balance.  Progesterone is also a mild Testosterone inhibitor.
<span class="commentTitleB">Androgens:</span> Symptoms of both deficiency and excess are reported with Testosterone level as <% $p->{EAV}->{TestosteroneLevelLabel} %>.  Have patient avoid foods such as sweets, chocolate, and milk products, caffeine, and alcohol.  These reduce the beneficial effects from Testosterone and promote the adverse effects - especially inflammation of sebum  glands and oil formation resulting in acne.  Continue current therapy or increase and closely monitor <a href="" onclick="return getMI('androgen excess symtoms');" class="getMI" >symptoms of androgen excess</a>.
<span class="commentTitleB">Androgens:</span> Symptoms are managed.  Continue current Testosterone therapy.
<span class="commentTitleB">Androgens:</span> Symptoms are managed.  Low Estradiol and excessive Testosterone both play a role in blood glucose metabolism and increased risk of insulin resistance.  Oral estradiol increases SHBG which binds to free Testosterone, thus decreasing it.  Continue current Testosterone therapy and consider using Estradiol to help bring Testosterone level into balance.  Progesterone is also a mild Testosterone inhibitor.
<span class="commentTitleB">Androgens:</span> Symptoms are managed.  Continue current Testosterone therapy.  Explain <a href="" onclick="return getMI('androgen excess symptoms');">symptoms of excess</a> to the patient as the testosterone level is high.
<span class="commentTitleB">Androgens:</span> Symptoms of excess are reported.  Estradiol level is low which may be the cause of such symptoms.  Using oral Estradiol further inhibits testosterone by increasing SHBG.  Continue current Testosterone therapy.
<span class="commentTitleB">Androgens:</span> Symptoms of excess are reported.  Estradiol level is normal-low which may be the cause of such symptoms.  Using oral Estradiol further inhibits testosterone by increasing SHBG.  Continue current Testosterone therapy.
<span class="commentTitleB">Androgens:</span> Symptoms of excess are reported and Testosterone level is low.  Reducing Testosterone conversion into DHT may improve symptoms.  Limiting red meat consumption and getting adequate zinc and vitamin B6 are effective at limiting 5&alpha-reductase which converts Testosterone into DHT.  Continue current Testosterone therapy.
<span class="commentTitleB">Androgens:</span> Symptoms of excess are reported and Testosterone level is normal-low.  Reducing Testosterone conversion into DHT may improve symptoms.  Limiting red meat consumption and getting adequate zinc and vitamin B6 are effective at limiting 5&alpha-reductase which converts Testosterone into DHT.  Continue current Testosterone therapy.
<span class="commentTitleB">Androgens:</span> Lab values conflict with the symptoms of androgen deficiency.  Oral estradiol increases SHBG which binds to free Testosterone, thus decreasing it.  As Estradiol is increased androgen excess symptoms may improve.  Continue current Testosterone therapy and consider using Estradiol to help bring androgens into balance.  Progesterone is also a mild Testosterone inhibitor.
<span class="commentTitleB">Androgens:</span> Patient has symptoms of excess despite labs.  Have patient avoid foods such as sweets, chocolate, and milk products.  Continue current Testosterone therapy.
<span class="commentTitleB">Androgen Excess:</span> Lab values confirm the symptoms of androgen excess.  Estradiol level is low.  Oral estradiol increases SHBG which binds to free Testosterone, thus decreasing it.  Decrease androgen dosing and consider using Estradiol to help bring androgens into balance.  Progesterone is also a mild Testosterone inhibitor.
<span class="commentTitleB">Androgen Excess:</span> Lab values confirm the symptoms of androgen excess.  Decrease androgen dosing.
<span class="commentTitleB">Androgens:</span> Testosterone level is <% $p->{EAV}->{TestosteroneLevelLabel}  %> and deficiency symptoms are reported.  Increase Testosterone therapy.
<span class="commentTitleB">Androgens:</span> Lab values conflict with the symptoms of androgen deficiency.  Oral estradiol increases SHBG which binds to free Testosterone, thus decreasing it.  As Estradiol is increased androgen symptoms may improve.  Continue current Testosterone therapy and consider using transdermal Estradiol to help bring androgens into balance.  Progesterone is also a mild Testosterone inhibitor.
<span class="commentTitleB">Androgens:</span> Symptoms of deficiency are reported while lab levels are normal.  Continue current Testosterone therapy or increase, explaining <a href="" onclick="return getMI('androgen excess symptoms');">symptoms of excess</a> to the patient.
<span class="commentTitleB">Androgens:</span> Symptoms of deficiency and excess are reported while lab levels are normal.  Continue current Testosterone therapy or increase, explaining <a href="" onclick="return getMI('androgen excess symptoms');">symptoms of excess</a> to the patient.
<span class="commentTitleB">Androgens Unbalanced:</span> Lab values conflict with the symptoms of androgen deficiency.  Low Estradiol and excessive Testosterone both play a role in blood glucose metabolism and increased risk of insulin resistance.  Oral estradiol increases SHBG which binds to free Testosterone, thus decreasing it.  Continue current Testosterone therapy and consider using Estradiol to help bring androgens into balance.  Progesterone is also a mild Testosterone inhibitor.
<span class="commentTitleB">Androgens:</span> Symptoms of deficiency are reported while lab levels are normal-high.  Continue current Testosterone therapy or increase, explaining <a href="" onclick="return getMI('androgen excess symptoms');">symptoms of excess</a> to the patient.
<span class="commentTitleB">Androgens:</span> Symptoms of deficiency are reported while lab levels are normal-high.  This could be due to the estrogen dominance over testosterone.  Continue current Testosterone therapy or increase, explaining <a href="" onclick="return getMI('androgen excess symptoms');">symptoms of excess</a> to the patient.
<span class="commentTitleB">Androgens:</span> Symptoms of deficiency are reported while lab levels are high.  Continue current Testosterone therapy, explaining <a href="" onclick="return getMI('androgen excess symptoms');">symptoms of excess</a> to the patient.
<span class="commentTitleB">Androgens:</span> Symptoms of deficiency are reported while lab levels are high.  This could be due to estrogen dominance over Testosterone.  Continue current Testosterone therapy, explaining <a href="" onclick="return getMI('androgen excess symptoms');">symptoms of excess</a> to the patient.
<span class="commentTitleB">Androgens:</span> Symptoms of both deficiency and excess are reported with Testosterone level as <% $p->{EAV}->{TestosteroneLevelLabel} %>.  Have patient avoid foods such as sweets, chocolate, and milk products, caffeine, and alcohol.  These reduce the benefical effects from Testosterone and promote the adverse effects - especially inflammation of sebum  glands and oil formation resulting in acne.  Continue current therapy or increase and closely monitor <a href="" onclick="return getMI('androgen excess symtoms');" class="getMI" >symptoms of androgen excess</a>.
<span class="commentTitleB">Androgens:</span> Symptoms of deficiency and excess are reported while lab levels are normal.  Continue current Testosterone therapy.