<%args>
$p
</%args>
<%init>
my @dcs=qw(22778 40784 41038 40836 43226 );

$p->{GiveVaginal_DHEA}='n';
return unless (grep{ $_ == $p->{DoctorCode} } @dcs);
$p->{GiveVaginal_DHEA}='y';
</%init>
<span id="give_vaginal_dhea_sym_vd">
	<span class="commentTitleU">Also consider:</span> Initiate use of DHEA vaginally.
<div>
	<span class="rationale-u" >&nbsp;</span> DHEA can help reported Vaginal dryness/pain/itching by producing beneficial effects on signs and symptoms of vaginal atrophy; as well as exert a stimulatory effect on collagen formation in the vaginal lamina propria. 
</div>
</span>