<%args>
$p
$opharm
$cf_pharm
$rx
$rx_trans
</%args>
<article>
	<div class="label_header">
		<div class="opharm_info">
			<div class="opharm_name"><% $opham->{pharmacy_name} %></div>
			<div class="opharm_address"><% $opham->{pharmacy_address} %></div>
			<div class="opharm_phone"><% $opham->{pharmacy_phone} %></div>
		</div>
		<div class="cf_pharm_info">		
			<div class="cf_pharm_name"><% $cf_pharm_>{pharmacy_name} %></div>
			<div class="cf_pharm_address"><% $cf_pharm->{pharmacy_address} %></div>
			<div class="cf_pharm_phone"><% $cf_pham->{pharmacy_phone} %></div>
		</div>
	</div>
	<div class="patient_info">
		<div class="patient_name"><% $p->{last_name} %>, <% $p->{first_name} %> <%  $p->{middle_name} %></div>
		<div class="patient_address_info">
			<div class="patient_address"><% $p->{address1} %></div>
			<div class="patient_address"><% $p->{address2} %></div>
			<div class="patient_address_csz"><% $p->{city} %>, <% $p->{state} %> <% $p->{ZIP} %></div>
		</div>
	</div>
	<div class="rx_info">
		<div class="rx_number"><% $rx->{rxn} %></div>
		<div class="prescriber_info">
			<div class="prescriber_label_name"><% $dr->{label_name} %></div>
		</div>
		<div class="rx_date"><% $rx->{date_dispensed} %></div>
	</div>
	<div class="rx_details">
		<div class="medication"><% $rx->{drug_name} %></div>
		<div class="quantity"><% $rx_trans->{qty} %> <% $rx_trans->{qty_unit} | h %></div>
		<div class="instructions"><% $rx->{sig} %></div>
		<div class="refill_info">
% if ($rx->{remaining_refills}) {
			<% $rx->{remaining_refills} %> until <% $rx->{stop_date_f} %>
%			}
		</div>
		<div class="beyond_use"><% $rx_trans->{beyond_use_date_f} %></div>
		<div class="lot_num"><% $rx_trans->{lot_num} %></div>
		<div class="drug_code"><% $rx->{drug_code} %></div>
	</div>
</article>
