.reporting-comments {
	border-bottom: 5px solid #bbb;
	margin-bottom: 1.5em;
}

.reporting-comments:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
}

.reporting-comments form>* {
	display: block;
}
.reporting-comments .comments_area_display {
	width: 100%;
	min-height: 4em;
	border: none;
}

.comments_area_display li b {
	font-weight: bold;
}

.comments_area_display ul,
.comments_area_display li {
	list-style-type: disc;
	margin-left: 1em;
}


.reporting-comments form textarea,
.reporting-comments form iframe {
	width: 100%;
	height: 12em;
	border: 1px solid #bbb;
}

.wysiwyg_toolbar {
	background-color: rgba(140, 140, 140, 0.2);
}

.wysiwyg_toolbar a {
	background-color: #fff;
	box-sizing: border-box;
	display: inline-block;
	font-family: "Times New Roman", serif !important;
	font-size: 1.4em;
	border: 1px solid #bbb;
	height: 30px;
	width: 30px;
	margin: 0.1em 0.5em;
	text-align: center;
	padding-top: 0.3em;
	border-radius: 6px;
}

.wysiwyg_toolbar a[data-wysihtml5-command="bold"] {
	font-weight: bold;
	text-decoration: none;
}

.wysiwyg_toolbar a[data-wysihtml5-command="italic"] {
	font-style: italic;
	text-decoration: none;
}

.wysiwyg_toolbar a[data-wysihtml5-command="insertUnorderedList"] {
	text-decoration: none;
	width: 46px;
}
.wysiwyg-font-size-smaller {
  font-size: smaller;
}

.wysiwyg-font-size-larger {
  font-size: larger;
}

.wysiwyg-font-size-xx-large {
  font-size: xx-large;
}

.wysiwyg-font-size-x-large {
  font-size: x-large;
}

.wysiwyg-font-size-large {
  font-size: large;
}

.wysiwyg-font-size-medium {
  font-size: medium;
}

.wysiwyg-font-size-small {
  font-size: small;
}

.wysiwyg-font-size-x-small {
  font-size: x-small;
}

.wysiwyg-font-size-xx-small {
  font-size: xx-small;
}

.wysiwyg-color-black {
  color: black;
}

.wysiwyg-color-silver {
  color: silver;
}

.wysiwyg-color-gray {
  color: gray;
}

.wysiwyg-color-white {
  color: white;
}

.wysiwyg-color-maroon {
  color: maroon;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-purple {
  color: purple;
}

.wysiwyg-color-fuchsia {
  color: fuchsia;
}

.wysiwyg-color-green {
  color: green;
}

.wysiwyg-color-lime {
  color: lime;
}

.wysiwyg-color-olive {
  color: olive;
}

.wysiwyg-color-yellow {
  color: yellow;
}

.wysiwyg-color-navy {
  color: navy;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-teal {
  color: teal;
}

.wysiwyg-color-aqua {
  color: aqua;
}

.wysiwyg-text-align-right {
  text-align: right;
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysiwyg-text-align-left {
  text-align: left;
}

.wysiwyg-float-left {
  float: left;
  margin: 0 8px 8px 0;
}

.wysiwyg-float-right {
  float: right;
  margin: 0 0 8px 8px;
}

.wysiwyg-clear-right {
  clear: right;
}

.wysiwyg-clear-left {
  clear: left;
}