<html>
	<head>
	<style>
				p{margin-top:0px;margin-bottom:0px;}
			table {cellSpacing:0; cellPadding:0;}
			.prodtitle {font: 10pt Verdana, arial, sans-serif; font-weight:bold; text-decoration:none}
			.prodheading {font: 9pt Verdana, arial, sans-serif; font-weight:bold; text-decoration:none}
			TD {
				font-family :Arial, Helvetica, Verdana,sans-serif;
				font-size: 12px;
				color:#3E3E3E;
			}
			
			.link4 {
				text-decoration: underline;
				color:#0000FF;
				vlink:#0000FF;
			}
			
			.link1 {
				text-decoration: underline;
				color:#3E3E3E;
				vlink:#3E3E3E;
			}
			
			.link1:hover {
				text-decoration: underline;
				color:#2E67CC;
			}
			
			.link2 {
				text-decoration: underline; 
				color:#0000FF;
				vlink:#0000FF;
			}
			
			.link2:hover {
				text-decoration: underline; 
				color:#23449A;
			}
			
			.link3 {
				text-decoration: underline; 
				color:#3366FF;
				vlink:#3366FF;
			}
			
			.link3:hover {
				text-decoration: underline; 
				color:##3399CC;
			}
			
			.price {
				font-family :Arial, Helvetica, Verdana,sans-serif;
				color:#D57919;
				font-weight : bold;
			}
			
			.dropdown { 
				position: absolute;
				top: 104px;
				left: 0px;
				width: 10px;
				z-index: 10;
				visibility: hidden;
			}
			
			.forminput {
				font-family:Arial; 
				font-size:11px; 
				color:#000000; 
				Border: solid 1px  #BABABA;
			}
		</style>
	</head>
<body>
% if (0){
% foreach my $key (sort keys %ARGS) {
<div style="color:green;">	<% $key %>: <% $ARGS{$key} %></div>
% }

% foreach my $key (sort keys %session) {
<div>	<% $key %>: <% $session{$key} %></div>
% } }


<table border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-style: groove; border: 1px solid gray" width="580" id="table2">
  <tr><form method="POST" name="cart" action="/store/cart.html"> 
    <td bgcolor="#C0C0C0" colspan="10" height="1"><span class='empty'></span></td>
  </tr>
  <tr>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>

    <td bgcolor="#E0E9F8" height="30">&nbsp;</td>
    <td bgcolor="#E0E9F8" height="30" width="300"><b>Item</b></td>
    <td bgcolor="#E0E9F8" align="right" height="30" width="80"><b>Unit Price</b></td>
    <td bgcolor="#E0E9F8" align="right" height="30" width="15">&nbsp;</td>
    <td bgcolor="#E0E9F8" height="30"><b>Qty.</b></td>
    <td bgcolor="#E0E9F8" height="30" align="center">&nbsp;</td>
    <td bgcolor="#E0E9F8" align="right" height="30" width="75"><b>Total Price</b></td>

    <td bgcolor="#E0E9F8" height="30">&nbsp;</td>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
  </tr>
% foreach my $item (keys %{$session{cartItems}}) { next unless $session{cartItems}->{$item}->{QTY};
  <tr>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
    <td height="30">&nbsp;</td>
    <td height="30">
    <a href="/store/index.html?productID=<% $session{cartItems}->{$item}->{prodID} %>"><% $session{cartItems}->{$item}->{info} %></a>
    </td>
    <td align="right" height="30">$<% sprintf("%.2f", $session{cartItems}->{$item}->{price}) %></td>
    <td align="right" height="30">&nbsp;</td>
    <td height="30">
    
    <input name="<% $item %>_QTY" type="text" value="<% $session{cartItems}->{$item}->{QTY} %>" size="1" class="forminput">&nbsp;<a class="link2" href="/store/cart.html?remove=<% $item %>">Remove</a>
    
    </td>
    <td height="30">&nbsp;</td>
    <td align="right" height="30">$<% sprintf("%.2f", $session{cartItems}->{$item}->{price} * $session{cartItems}->{$item}->{QTY}) %></td>

    <td height="30">&nbsp;</td>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
  </tr>
% }
	
  <tr>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
    <td bgcolor="#FFFFFF" colspan="8" height="1">&nbsp;</td>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
  </tr>

  <tr>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
    <td bgcolor="#C0C0C0" colspan="8" height="1"><span class='empty'></span></td>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
  </tr>
  <tr>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
    <td bgcolor="#E0E9F8">&nbsp;</td>
    <td bgcolor="#E0E9F8" colspan="5" align="right">

    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse" id="table3">
      <tr>
        <td><a href="processing/delete.asp?form=all">
		<span class='empty'></span></a></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
        <td>
		<input type="image" border="0" src="/images/update_cart.png" name='update_cart' alt="Click here to update the quantities in your shopping cart."></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>

        <td height="30">&nbsp;</td>
      </tr>
    </table>
    </td>
    <td bgcolor="#E0E9F8" align="right" height="20"></td>
    <td bgcolor="#E0E9F8">&nbsp;</td>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
  </tr></form>
  <tr>

    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
    <td>&nbsp;</td>
    <td align="center" height="22">&nbsp;</td>
    <td colspan="4" height="22">&nbsp;</td>
    <td height="22">&nbsp;</td>
    <td>&nbsp;</td>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
  </tr>
  <tr>

    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
    <td>&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td colspan="4" align="right">Merchandise&nbsp; Total:</td>
    <td height="20" align="right">$<% sprintf("%.2f",$merchTotal) %></td>
    <td>&nbsp;</td>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>

  </tr>
<script language="JavaScript">
function shipinfo(url) {
	sealWin=window.open(url,"win",'toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=1,resizable=1,width=550,height=250,left=0,top=0');
}
</script>
<!--
  <tr>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
    <td>&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td colspan="4" align="right"><font color="#CC0000">Discounts:</font></td>
    <td height="20" align="right"><font color="#CC0000">-$0.00</font></td>

    <td>&nbsp;</td>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
  </tr>
-->
  <tr>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
    <td>&nbsp;</td>
    <td align="right" height="22" colspan="5">Shipping:</td>
    <td align="right" height="22"><% sprintf('$%.2f', $shipping) || 'FREE' %></td>

    <td>&nbsp;</td>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
  </tr>
  <tr>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
    <td>&nbsp;</td>
    <td align="right" height="22" colspan="5">&nbsp;</td>
    <td align="right" height="22">&nbsp;</td>
    <td>&nbsp;</td>

    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
  </tr>
  <tr>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
    <td bgcolor="#E0E9F8">&nbsp;</td>
    <td bgcolor="#E0E9F8" colspan="5" align="right">
    <table border="0" cellpadding="0" style="border-collapse: collapse" id="table3" width="100%">
      <tr>
        <td>

	<input type="button" value="Continue Shopping" name="Continue Shopping" onClick="javascript:location='/store/index.html?shop=1'"></td>
        <td><input type="button" value="Checkout" name="Checkout" onClick="javascript:location='/store/checkout.html'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
        <td>
		&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
        <td height="30" align="right">&nbsp;*Sub Total:</td>
      </tr>

    </table>
    </td>
 
    <td bgcolor="#E0E9F8" align="right" height="20">$<% sprintf("%.2f", $total) %></td>
    <td bgcolor="#E0E9F8">&nbsp;</td>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
  </tr>
    <tr>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>

    <td>&nbsp;</td>
    <td colspan="6" align="right"><b>&nbsp;&nbsp;&nbsp; </b> </td>
    <td>&nbsp;</td>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>
  </tr>
  <tr>
    <td bgcolor="#C0C0C0" width="1"><span class='empty'></span></td>

    <td>&nbsp;</td>
    <td rowspan="1" colspan="1">
	Discounts will be applied at checkout time.
   </td>
  </tr>
 </table>
</body>
</html>
<%init>
my %prodInfo=(
	'VP120' => {
							info => "Nutritional Support for PMS Concerns",
							price => "17.95",
							name => "ProCycle"
	},
	'VG120' => {
							info => "Nutritional Support for Menopause Concerns",
							price => "17.95",
							name => "ProCycle Gold"
	},
	'BHRTS' => {
							info => "The HRT Solution by Marla Ahlgrimm, R.Ph. and John Kells",
							price => "14.95",
							name => "The HRT Solution"
	}
	);
if ($ARGS{remove}) {		delete $session{cartItems}->{$ARGS{'remove'}};}
if ($ARGS{prodID}) {
		$session{cartItems}->{$ARGS{prodID}}->{QTY}++;
		$session{cartItems}->{$ARGS{prodID}}->{info}=$prodInfo{$ARGS{prodID}}->{info};
		$session{cartItems}->{$ARGS{prodID}}->{price}=$prodInfo{$ARGS{prodID}}->{price};
		$session{cartItems}->{$ARGS{prodID}}->{name}=$prodInfo{$ARGS{prodID}}->{name};
}

my $merchTotal;
my $shipping=keys %{$session{cartItems}} ? 4.50 : 0;
foreach my $item (keys %{$session{cartItems}}) {
	delete $session{cartItems}->{$item} unless $prodInfo{$item};
#	print "<div>ITEM:$item</div>";
	$session{cartItems}->{$item}->{QTY}=$ARGS{$item.'_QTY'} if defined $ARGS{$item.'_QTY'};
	delete $session{cartItems}->{$item} unless $session{cartItems}->{$item}->{QTY} ;

	$merchTotal+=$session{cartItems}->{$item}->{price} * $session{cartItems}->{$item}->{QTY};
}
my $total=$merchTotal+$shipping;

</%init>
<%once>
</%once>