<%init>
unless ( $session{cartItems}) {
$m->out(qq{<h1>Empty Cart!</h1>});
$m->comp('cart.html');
return;
}

if ($ARGS{checkout}) {
my %prodInfo=(
	'VP120' => {
							info => "Nutritional Support for PMS Concerns",
							price => "17.95",
							name => "ProCycle"
	},
	'VG120' => {
							info => "Nutritional Support for Menopause Concerns",
							price => "17.95",
							name => "ProCycle Gold"
	},
	'BHRTS' => {
							info => "The HRT Solution by Marla Ahlgrimm, R.Ph. and John Kells",
							price => "14.95",
							name => "The HRT Solution"
	}
	);

my $merchTotal;
my $pID = $rmd_dbh->selectrow_array(q{SELECT pID FROM cof WHERE email=?}, undef, $ARGS{email}) if $ARGS{email};
my $shipping= $pID ? 0 : keys %{$session{cartItems}} ? 4.50 : 0;
my $orderHTML=q{<table>\n};

foreach my $item (keys %{$session{cartItems}}) {
	delete $session{cartItems}->{$item} unless $prodInfo{$item};
#	print "<div>ITEM:$item</div>";
#	$session{cartItems}->{$item}->{QTY}=$ARGS{$item.'_QTY'} if defined $ARGS{$item.'_QTY'};
	delete $session{cartItems}->{$item} unless $session{cartItems}->{$item}->{QTY} ;

	$merchTotal+=$session{cartItems}->{$item}->{price} * $session{cartItems}->{$item}->{QTY};
	$session{cartItems}->{$item}->{oID}=RD->randStr('cccnnccc');
	$orderHTML.=qq{\t<tr><td>$item:</td><td>$session{cartItems}->{$item}->{name}</td><td>\$$session{cartItems}->{$item}->{price} x $session{cartItems}->{$item}->{QTY}</td></tr>\n};
}
$orderHTML.=q{</table>};
my $total=$merchTotal+$shipping;
# COF
$total= $pID ? $total * .8 : $total;

#  use Business::OnlinePayment;
#	  use   Business::OnlinePayment::PayflowPro_v4;
  my $tx = new Business::OnlinePayment(
      'PayflowPro_v4',
      'vendor'    => 'womenshealth',
      'partner'   => 'vitalprocessing',
#      'cert_path' => '/path/to/your/certificate/file/',    # just the dir
  );
  my $invoice_number=RD->randStr('cccnnccc');
  my $customer_id=$ARGS{email};
    # See the module documentation for details of content()
  $tx->content(
      type           => 'VISA',
      action         => 'authorization only',
      description    => 'Business::OnlinePayment::PayflowPro_v4 test',
      amount         => $total,
      invoice_number => $invoice_number,
      customer_id    => $customer_id,
      name           => $ARGS{cardholder} || $ARGS{fname} . ' ' . $ARGS{lname},
      address        =>  $ARGS{baddress2} || $ARGS{baddress1} || $ARGS{address2} || $ARGS{address1},
      city           => $ARGS{bcity} || $ARGS{city},
      state          => $ARGS{bstate} || $ARGS{state} ,
      zip            => $ARGS{bzip} || $ARGS{zip} ,
      email          => $ARGS{email},
      card_number    => $ARGS{card_number},
      expiration     => $ARGS{mm}.'/'.$ARGS{yy},
      cvv2           => $ARGS{cvv2},
      order_number   => $invoice_number,
      login						=> 'womenshealth',
      password				=> 'windriver1'
  );
  $tx->test_transaction();
  $tx->submit();
  
  if ( $tx->is_success() ) {
      print(
          "Card processed successfully: ", $tx->authorization, "\n",
          "order number: ",                $tx->order_number,  "\n",
          "CVV2 code: ",                   $tx->cvv2_code,     "\n",
          "AVS code: ",                    $tx->avs_code,      "\n",
      );
  }
  else {
      my $info = "";
      $info = " (CVV2 mismatch)" if ( $tx->result_code == 114 );
      
      print(
          "Card was rejected: ", $tx->error_message, $info, "\n<br/>",
          "order number: ",      $tx->order_number,         "\n<br/>",
          "RCODE: ", $tx->result_code
      );
      print 
  }

if (1) {




  #STORE TO DB
  	# my $cID = $rmd_dbh->(q{SELECT cID FROM custs WHERE email=?}, undef, $ARGS{email});
  	my $cID=RD->randStr('cccnnccc');
  				#	0		1			2		3			4		5			6			7					8				9				10
  	my@custCols=qw(  cID 	  shopper   number   created   updated   comments   shipmethod   billtofirstname   billtolastname   billtoaddress1   billtoaddress2  
  				 billtoaddress3   billtocity   billtostate   billtozip   billtocountry   billtodayphone   billtonightphone   billtofax   email   shiptosameasbillto
  			   shiptofirstname   shiptolastname   shiptoaddress1   shiptoaddress2   shiptoaddress3   shiptocity   shiptostate   shiptozip   shiptocountry   shiptodayphone   shiptonightphone   shiptofax);
  	my @custVals;
if ($ARGS{bsas}) {
	$custVals[7]=$ARGS{fname};
	$custVals[8]=$ARGS{lname};
	$custVals[9]=$ARGS{address1};
	$custVals[10]=$ARGS{address2};
	$custVals[12]=$ARGS{city};	
	$custVals[13]=$ARGS{state};
	$custVals[14]=$ARGS{zip};
	$custVals[16]=$ARGS{phone};
	}
	else {
	$custVals[8]=$ARGS{cardholder};
	$custVals[9]=$ARGS{baddress1};
	$custVals[10]=$ARGS{baddress2};
	$custVals[12]=$ARGS{bcity};	
	$custVals[13]=$ARGS{bstate};
	$custVals[14]=$ARGS{bzip};
	$custVals[16]=$ARGS{phone};
	}

	$custVals[0]=$cID;
	$custVals[19]=$ARGS{email};
	$custVals[20]=$ARGS{bsas};
	$custVals[21]=$ARGS{fname};
	$custVals[22]=$ARGS{lname};
	$custVals[23]=$ARGS{address1};
	$custVals[24]=$ARGS{address2};
	$custVals[25]=$ARGS{city};
	$custVals[26]=$ARGS{state};
	$custVals[27]=$ARGS{zip};
	$custVals[29]=$ARGS{phone};

#	my $csqlstmt=q{INSERT INTO custs (} . join(', ', @custCols) . q{) VALUES (} . join (', ', ('?') x @custCols) . q{)};

my @pts;
	for (my $cnt=0; $cnt < @custCols; $cnt++) {push(@pts, qq{ $custCols[$cnt]=}. $rmd_dbh->quote($custVals[$cnt]));}
	
		my $csqlstmt=q{INSERT INTO custs SET } . join(', ', @pts) ;
	$m->out($csqlstmt); $m->flush_buffer;
  	$rmd_dbh->do($csqlstmt);
  	$rmd_dbh->do(q{INSERT INTO groupOrders SET cID=?, gID=?, gStatus='New', dateEntered=NOW()}, undef, ($cID, $invoice_number));
  	  foreach my $item (keys %{$session{cartItems}}) {
  	$rmd_dbh->do(q{INSERT INTO orderList SET gID=?, oID=?, productID=?, description=?}, undef, ($invoice_number, $session{cartItems}->{$item}->{oID}, $session{cartItems}->{$item}->{ID}, $item, $session{cartItems}->{$item}->{name}));
  	}
  	


  #/STORE TO DB
  
  
  # SEND EMAIL :
  
  
  my $custSVC = <<"SVC123";
  <html>
  	<table>
  		<tr>
  			<td>Name:</td><td>$ARGS{fname} $ARGS{lname} </td>
  		</tr>
  		<tr>
  			<td>Address:</td><td>$ARGS{address1}<br/> $ARGS{address2} <br/>$ARGS{city}, $ARGS{state} $ARGS{zip}</td>
  		</tr>
  		<tr>
  			<td>Email:</td><td>$ARGS{email}</td>
  		</tr>
  		<tr>
  			<td>Phone:</td><td>$ARGS{phone}</td>
  		</tr>
  		<tr>
  			<td>Order:</td><td>$orderHTML</td>
  		</tr>
  		<tr>
  			<td>QS1CODE (if CoF):</td><td>$pID</td>
  		</tr>
  		<tr>
  			<td>Billing as Shipping:</td><td>$ARGS{bsas}</td>
  		</tr>
  		<tr>
  			<td>Total:</td><td>$total</td>
  		</tr>
  		<tr>
  			<td>Link:</td><td><a href='http://192.168.1.200/restoremd/showorder.html?gID=$invoice_number'>Open Order</a></td>
  		</tr>
  	</table>
  </html>
SVC123

	RD->send_email(to => 'rperry@womenshealth.com', from => $ARGS{email}, subject => qq{Invoice: $invoice_number}, html => $custSVC);
  #/SEND EMAIL
  delete $session{cartItems};
$m->redirect('/store/thankyou.html');

}
}

</%init>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head>
<style type="text/css"><!--
BODY { font-family: verdana,arial,helvetica,sans-serif; font-size: small; background-color: #FFFFFF; color: #000000; margin-top: 0px; }
TD, TH { font-family: verdana,arial,helvetica,sans-serif; font-size: small; }
a:link { font-family: verdana,arial,helvetica,sans-serif; color: #003399; }
a:visited { font-family: verdana,arial,helvetica,sans-serif; color: #996633; }
a:active { font-family: verdana,arial,helvetica,sans-serif; color: #FF9933; }
.serif { font-family: times,serif; font-size: medium; }
.sans { font-family: verdana,arial,helvetica,sans-serif; font-size: medium; }
.small { font-family: verdana,arial,helvetica,sans-serif; font-size: small; }
.h1 { font-family: verdana,arial,helvetica,sans-serif; color: #CC6600; font-size: medium; }
.tiny { font-family: verdana,arial,helvetica,sans-serif; font-size: x-small; }

.helperinfo { font-size: smaller; color: #9b9b9b; }
.noshow { display: 'none'; }
.showTable { display: 'table-row-group';}
input.error {
    background-color: #ffcccc;
}
div.error {
    display: inline;
    color: red;
}
.valid {}

--></style>
<script>
function showSect(che, sect) {
	if (che) {document.getElementById(sect).style.display='none'; }
	else {document.getElementById(sect).style.display='table-row-group'; }
//	return false;
}
</script>
<script language="JavaScript1.2" type="text/javascript" src="/store/checkout.js"></script>
<script>
    function formValidate(form) {

        var errs = new errors();
        
        // execute all element validations in reverse order, so focus gets
        // set to the first one in error.
//        disableElement('submit', 5000);

        if ( !validateMatch(form.verifyemail, form.email) ) errs.add( 'Email and Verify Email must be the same.' );
        if ( !validateOnRegExp(form.email, 'email')) errs.add( 'Please enter your correct Email Address.' );
        if ( !validateOnRegExp(form.phone1, 'phone') ) errs.add( 'Please enter your correct Phone Number.' );
        if (!validateOnRegExp(form.zip,  'zip')) errs.add( 'Zipcode is invalid.' );
        if (!validateOnRegExp(form.state, 'state')) errs.add( 'State is invalid.' );
        if (!validatePresent(form.city, '!empty')) errs.add( 'City is invalid.' );
        if (!validatePresent(form.address1, '!empty')) errs.add( 'Address Line 1 is invalid.' );
        if (!validatePresent(form.address1, '!empty')) errs.add( 'Address Line 1 is invalid.' );
        if (!isValidCreditCard(form.card_number)) errs.add('Credit Card is invalid');
        if (!form.bsas.checked) {
            if (!validatePresent(form.cardholder, '!empty')) errs.add( 'Carholder is empty.' );
            if (!validateOnRegExp(form.bzip,  'zip')) errs.add( 'Billing ZIP is invalid.' );
            if (!validateOnRegExp(form.bstate, 'state')) errs.add( 'Billing State is invalid.' );
            if (!validatePresent(form.bcity, '!empty')) errs.add( 'Billing City is invalid.' );
            if (!validatePresent(form.baddress1, '!empty')) errs.add( 'Billing Address Line 1 is invalid.' );
        }

        errs.show();
        return ( errs.num == 0 );
        }
        
        
        function isValidCreditCard(ccnum) {
        	
        	var ctype;
	 if (ccnum.value.match(/^4/)) {ctype="Visa";}
	 else if (ccnum.value.match(/^5/)) {ctype="MC";}
	 else if (ccnum.value.match(/^6011/)) {ctype="Discover";}
	 else if (ccnum.value.match(/^3[4,7]/)) {ctype="AmEx";}
 	 else if (ccnum.value.match(/^3[0,6,8]/)) {ctype="Diners";}
	else return false;
   if (ctype == "Visa") {
      // Visa: length 16, prefix 4, dashes optional.
      var re = /^4\d{3}-?\d{4}-?\d{4}-?\d{4}$/;
   } else if (ctype == "MC") {
      // Mastercard: length 16, prefix 51-55, dashes optional.
      var re = /^5[1-5]\d{2}-?\d{4}-?\d{4}-?\d{4}$/;
   } else if (ctype == "Disc") {
      // Discover: length 16, prefix 6011, dashes optional.
      var re = /^6011-?\d{4}-?\d{4}-?\d{4}$/;
   } else if (ctype == "AmEx") {
      // American Express: length 15, prefix 34 or 37.
      var re = /^3[4,7]\d{13}$/;
   } else if (ctype == "Diners") {
      // Diners: length 14, prefix 30, 36, or 38.
      var re = /^3[0,6,8]\d{12}$/;
   }

   if (!re.test(ccnum.value)) return false;
         alert('passed');

   // Remove all dashes for the checksum checks to eliminate negative numbers
   ccnum.value = ccnum.value.split("-").join("");
   // Checksum ("Mod 10")
   // Add even digits in even length strings or odd digits in odd length strings.
   var checksum = 0;
   for (var i=(2-(ccnum.value.length % 2)); i<=ccnum.value.length; i+=2) {
      checksum += parseInt(ccnum.value.charAt(i-1));
   }
   // Analyze odd digits in even length strings or even digits in odd length strings.
   for (var i=(ccnum.value.length % 2) + 1; i<ccnum.value.length; i+=2) {
      var digit = parseInt(ccnum.value.charAt(i-1)) * 2;
      if (digit < 10) { checksum += digit; } else { checksum += (digit-9); }
   }
   if ((checksum % 10) == 0) return true; else return false;
}

</script>
</head>
<body>
<h2>Checkout</h2>
<hr/>
% if (0) {
<div>
%  foreach my $k (keys %session) {
 	<% qq{$k: $session{$k}} %><br/>
% }
</div>
% }
<div id="errors" class="error" ></div>
<div>
<table border="0" cellspacing="0" cellpadding="4" width="100%" align="center" border="1">
<tr><td>
  <form name="checkout" method="post" onsubmit="return formValidate(this);">
    <table border="0" cellpadding="2" cellspacing="2" width="100%">
      <tr><td><span style="color:#cc0000;">&nbsp;</span></td><td></td></tr>

<noscript>
  <input type="hidden" name="javascriptEnabled" value="0" />
</noscript>
<tbody>

		<tr>
			<td align="right" nowrap="nowrap" ><b>Email:&nbsp;</b>&nbsp;</td>
			<td width="99%">
				<input type="text" name="email" value="<% $session{Email} %>" size="20" maxlength="60"  />
			</td>
		</tr>
		<tr>
			<td align="right" nowrap="nowrap" ><b>Verify Email:&nbsp;</b>&nbsp;</td>
			<td width="99%">
				<input type="text" name="verifyemail" value="<% $session{Email} %>" size="20" maxlength="60"  />
			</td>
		</tr>
		
		
		<tr>
			<td align="right" nowrap="nowrap" ><b>First Name:&nbsp;</b>&nbsp;</td>
			<td width="99%">
				<input type="text" name="fname" value="<% $session{Firstname} %>" size="20" maxlength="60"  />
			</td>
		</tr>
		<tr>
			<td align="right" nowrap="nowrap" ><b>Last Name:&nbsp;</b>&nbsp;</td>
			<td width="99%">
				<input type="text" name="lname" value="<% $session{Lastname} %>" size="20" maxlength="60"  />
			</td>
		</tr>
		
		<tr>
			<td align="right" nowrap="nowrap" >
				<b>Address Line1:&nbsp;</b>&nbsp;
			</td>
			<td width="%99">
				<input type="text" name="address1" value="<% $session{Address} %>" size="50" maxlength="60"  />
				<br /><span class="tiny">Street address, P.O. box, company name, c/o</span>
			</td>
		</tr>
		
		<tr>
			<td align="right" nowrap="nowrap">
				<b>Address Line2:&nbsp;</b>&nbsp;
			</td>
			<td width="%99">
			   <input type="text" name="address2" value="" size="50" maxlength="60"  />
				<br /><span class="tiny">Apartment, suite, unit, building, floor, etc.</span>
			</td>
		</tr>
		
		<tr>
			<td align="right" nowrap="nowrap" ><b>City:&nbsp;</b>&nbsp;</td>
			<td width="%99">
			   <input type="text" name="city" value="<% $session{City} %>" size="25"   />
			</td>
		</tr>
		
		
		
		<tr>
			<td align="right" nowrap="nowrap" >
		<b>State:&nbsp;</b>&nbsp;
			</td>
			<td width="%99">
			   <input type="text" name="state" value="<% $session{State} %>" size="4" maxlength="2"  />
			</td>
		</tr>
		
		<tr>
			<td align="right" nowrap="nowrap" ><b>ZIP Code:&nbsp;</b></td>
			<td width="%99">
			   <input type="text" name="zip" value="<% $session{Zip} %>" size="20"   />
			</td>
		</tr>
		
		<tr>
			<td align="right" nowrap="nowrap" ><b>Phone Number:&nbsp;</b>&nbsp;</td>
			<td width="%99">
			   <input type="text" name="phone1" value="<% $session{Phone} %>" size="15"   />
			</td>
		</tr>
		

</tbody>
<tbody id="cardinfo" class="noshow">
    	<tr>
    		<td align="right" nowrap="nowrap" ><b>Card Number:&nbsp;</b>&nbsp;</td>
    		<td width="%99">
    		   <input type="text" name="card_number" value="" size="20" maxlength="16"   />
    		</td>
		</tr>
    	<tr>
    		<td align="right" nowrap="nowrap" ><b>Expiration:&nbsp;</b>&nbsp;<span class="helperinfo">(MM/YY)</span></td>
    		<td width="%99">
    		   <input type="text" name="mm" value="" size="3" maxlength="2"   />
    		   &nbsp;/&nbsp;
	  		   <input type="text" name="yy" value="" size="3" maxlength="2"   />
    		</td>
		</tr>
    	<tr>
    		<td align="right" nowrap="nowrap" ><b>CVV2:&nbsp;</b>&nbsp;<span class="helperinfo"></span></td>
    		<td width="%99">
    		   <input type="text" name="cvv2" value="" size="5" maxlength="4"   />
    		</td>
		</tr>


			<tr>
				<td align="right" nowrap="nowrap" ><label for="bsass"><b>Billing same as shipping:&nbsp;</b>&nbsp;</label></td>
				<td width="99%">
					<input type="checkbox" name="bsas" value="1"   id="bsass" onChange="showSect(this.checked, 'billinfo' );"  checked="checked" />
				</td>
			</tr>
</tbody>
<tbody id="billinfo" class="noshow" style="display:none;">
			<tr>
				<td align="right" nowrap="nowrap" ><b>Cardholder Name:&nbsp;</b>&nbsp;</td>
				<td width="99%">
					<input type="text" name="bname" value="" size="50" maxlength="60"  />
				</td>
			</tr>
			
			<tr>
				<td align="right" nowrap="nowrap" >
					<b>Billing Address Line1:&nbsp;</b>&nbsp;
				</td>
				<td width="%99">
					<input type="text" name="baddress1" value="" size="50" maxlength="60"  />
					<br /><span class="tiny">Street address, P.O. box, company name, c/o</span>
				</td>
			</tr>
			
			<tr>
				<td align="right" nowrap="nowrap">
					<b>Billing Address Line2:&nbsp;</b>&nbsp;
				</td>
				<td width="%99">
				   <input type="text" name="baddress2" value="" size="50" maxlength="60"  />
					<br /><span class="tiny">Apartment, suite, unit, building, floor, etc.</span>
				</td>
			</tr>
			
			<tr>
				<td align="right" nowrap="nowrap" ><b>Billing City:&nbsp;</b>&nbsp;</td>
				<td width="%99">
				   <input type="text" name="bcity" value="" size="25"   />
				</td>
			</tr>
			
			
			
			<tr>
				<td align="right" nowrap="nowrap" >
			<b>Billing State:&nbsp;</b>&nbsp;
				</td>
				<td width="%99">
				   <input type="text" name="bstate" value="" size="15"   />
				</td>
			</tr>
			
			<tr>
				<td align="right" nowrap="nowrap" ><b>Billing ZIP Code:&nbsp;</b></td>
				<td width="%99">
				   <input type="text" name="bzip" value="" size="20"   />
				</td>
			</tr>
</tbody>
    </table>
    <table border="0" cellpadding="2" cellspacing="2" width="100%">
<tr><td>&nbsp;</td>
<td nowrap="nowrap">
<input type="hidden" name="checkoutnow" value="1" />
        <input type="image" src="/images/continue_cart.png"  alt="Continue" name="shipToThisAddress" border="0" />
    </td></tr>
    </table>
  </form>
</td></tr>
</table>

<br />
<hr noshade="true" size="1" />
<div align="center" class="tiny">

</div>
</div>
