<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>What Next?</title>
<style type="text/css">	body,	html {		margin:0;		padding:0;		background:#white;
		color:#000;	}	body {		min-width:800px;	}

	.cart {
						 background-color: #EBEBFF;						 border-color: #1d1160 #1D1160 #1D1160;						 padding: 5px;												 margin: 15px;						 border-style: solid;						 border-top-width: 1px;						 border-right-width: 1px;						 border-bottom-width: 1px;						 border-left-width: 1px;
						 font-size: 0.8em;
						 text-decoration: none;
	}
	.cart a {text-decoration: none; color: #487365;}
	#wrap {		background:#white;
		margin:0 auto;		width:800px;	}	#header {		background:#white;
	}	#header h1 {    	padding:5px;	    margin:0;    }	#nav {		background:#white;
		padding:5px;	}	#nav ul{		margin:0;		padding:0;		list-style:none;	}	#nav li{		display:inline;		margin:0;		padding:0;	}	#main {		background:#white;
		float:left;		width:600px;	}	#main h2, #main h3, #main p {		padding:0 10px;    }	#sidebar {		background:#white;
		float:right;		width:200px;	}	#sidebar ul {		margin-bottom:0;    }    #sidebar h3, #sidebar p {		padding:0 10px 0 0;    }	#footer {		background:#white;		clear:both;
	}	#footer p {		padding:0px;		margin:0;    }
  #hrtsolution {
  	display: none;
  }
  #procyclegold {
  	display: none;
  }
  #procycle {
  	display: none;
  }
  .link {
  		cursor:pointer;
  		color: #4F2F72;

  }
	</style>
	<script>
	function showDiv(div) {hideOtherDiv(); document.getElementById(div).style.display='block';}
	function hideOtherDiv() { var divs=new Array;
																	divs[0]='hrtsolution';
																	divs[1]='procycle';
																	divs[2]='procyclegold';
																	for (i=0; i<divs.length; ++i) { document.getElementById(divs[i]).style.display='none'; }
		}
	</script>
	</head>
	<body><div id="wrap">	<div id="header"><h1><% $headermsg %></h1></div>	<div id="nav">
	</div>	<div id="main">
	Your next step is education and self-care
	<div id="education"></div>
	<div id="store">
				<p><span class="link" onclick="showDiv('hrtsolution');">Education</span></p>
				<p><span class="link" onclick="showDiv('procycle');">ProCycle</span></p>
				<p><span class="link" onclick="showDiv('procyclegold');">ProCycle Gold</span></p>
	</div>
<div id="hrtsolution">
<p>
		Marla Ahlgrimm, R.Ph. and John Kells
</p>
	<strong><em>The HRT Solution</em></strong> by Marla Ahlgrimm, R.Ph. and John 
Kells.&nbsp; This book will literally change the way you age.&nbsp; For the 
first time, you'll find answers to the questions millions of women are asking.


<p clear="all" align="center">
<table border="0" cellpadding="4" cellspacing="0" width="85%">

	
	<!-- <th class="tdborder">SKU #</th> --><tbody><tr><th class="tdborder" bgcolor="#ececec">&nbsp;<!--Description--></th><th class="tdborder" align="right" bgcolor="#ececec">Price</th><th class="tdborder" bgcolor="#ececec">Quantity</th><th class="tdborder" bgcolor="#ececec">&nbsp;</th>

	
	</tr><tr>
	<!--<td valign="top">00000</td>-->
	<td class="tdborder" valign="top">
		The HRT Solution
		
		
		
	</td>
	<td class="tdborder" align="right" valign="top">
		
		
		$14.95</td>
		<td>
			<form action="/store/cart.html" method="post">
				<input type="hidden" name="prodID" value="BHRTS" /><input type="submit" value=" Add to Cart " />
			</form>
		</td>
		</tr>
		</table>
<p style="margin-left: 3px;" align="left"><em><strong>The HRT 
Solution</strong></em> gives you the straight story about a revolutionary, 
innovative hormone management program.&nbsp; No more "one-size" fits all. &nbsp; 

Instead, <em><strong>The HRT Solution</strong></em> tells you how to:</p>
<ul>
<li>
<p align="left">Reduce your risk of heart disease and 
osteoporosis</p>
</li><li>
<p align="left">Enhance your long-term health</p>
</li><li>
<p align="left">Determine which hormones you need and how 
much</p>
</li><li>
<p align="left">Measure your hormone levels and your rate of bone 
breakdown precisely</p>

</li><li>
<p align="left">Avoid side effects of overdosing or persistent 
symptoms from underdosing</p></li></ul>
<p style="margin-left: 22px;" align="left">In <em><strong>The HRT 
Solution</strong></em>, Women's Health America CEO and Founder Marla Ahlgrimm 
brings forth two decades of knowledge and expertise about natural hormone 
replacement therapy.&nbsp; Based on her experience with thousands of women and 
their doctors all over the country, she explains what works, what the research 
says, and how an individualized hormone replacement program can be developed to 
meet your unique needs.</p>
	




	
</div>
<div id="procycle">
	<img src="image/Products/230/photo" align="right" hspace="4" vspace="4">
	
	</p><p>
	
	
		ProCycle PMS is a high potentcy vitamin and mineral supplement with an exacting ratio of magnesium, calcium, B-complex vitamins, antioxidant, and beta-carotene. This formula is specially designed to help relieve PMS symptoms
	
	</p>

	</p>


<p><a name="buynow" title="buynow"></a> </p>
<p>&nbsp;</p>

	




<p clear="all" align="center">
<table border="0" cellpadding="4" cellspacing="0" width="85%">

	
	<!-- <th class="tdborder">SKU #</th> --><tbody><tr><th class="tdborder" bgcolor="#ececec">&nbsp;<!--Description--></th><th class="tdborder" align="right" bgcolor="#ececec">Price</th><th class="tdborder" bgcolor="#ececec">Quantity</th><th class="tdborder" bgcolor="#ececec">&nbsp;</th>
	
	</tr><tr>
	<!--<td valign="top">PRO-PMS</td>-->
	<td class="tdborder" valign="top">
		Nutritional Support for PMS Concerns
		

		
		
	</td>
	<td class="tdborder" align="right" valign="top">
		
		
		$17.95</td>
				<td>
			<form action="/store/cart.html" method="post">
				<input type="hidden" name="prodID" value="VP120" /><input type="submit" value=" Add to Cart " />
			</form>
		</td>
</tr>
</table>
	
<p>This formula is specially designed to help relieve PMS symptoms:</strong></p>
<p>
	<strong>- Mood swings and depression<br>- Alcohol and sweet cravings<br>- Fluid retention<br>- Headaches and anxiety</strong></p>
<p><strong>Your Vitamins Are Restoring My Sanity</strong></p>
<p><em>''I'm so glad to be free of the breast-soreness two weeks of every month. I can hug my 10-year-old son...instead of screaming. I quit taking these for a month and everything awful came back! Now my family asks every day if I've taken my pills.'' </em>JH, Minneapolis, MN</p>
<p style="margin-left: 3px;"><strong>Suggested Use: </strong>Two tablets twice daily with meals or as directed by a physician as part of a total dietary program.</p>
<p style="margin-left: 3px;"><strong>Ingredients:</strong>  <table style="margin-left: 30px;" border="1" cellpadding="1" cellspacing="1" width="420"> <tbody> <tr> <td colspan="3"><strong>Supplement Facts</strong><br>Serving Size: 4 Tablets</td></tr> <tr> <td> <br></td> <td align="center">Amount Per Serving</td> <td align="center">%DV+</td></tr> <tr> <td height="25"> <div align="left">Vitamin A (as Palmitate and 60% (7500IU) as Beta Carotene)</div></td> <td height="25"> <div align="right">12500 IU</div></td> <td height="25"> <div align="right">250</div></td></tr> <tr> <td align="left" height="24"> <div align="left">Vitamin C (Ascorbic Acid)</div></td> <td height="24"> <div align="right">1500 mg</div></td> <td height="24"> <div align="right">2500</div></td></tr> <tr> <td align="right"> <div align="left">Vitamin D<sub>3</sub> (Cholecalciferol)</div></td> <td align="right"> <div align="right">200 IU</div></td> <td align="right"> <div align="right">50</div></td></tr> <tr> <td align="right" height="24"> <div align="left">Vitamin E (Natural d-alpha tocopherol Succinate)</div></td> <td align="right" height="24"> <div align="right">200 IU</div></td> <td align="right" height="24"> <div align="right">666</div></td></tr> <tr> <td align="right" height="22"> <div align="left">Vitamin B<sub>1</sub> (Thiamin HCl)</div></td> <td align="right" height="22"> <div align="right">25 mg</div></td> <td align="right" height="22"> <div align="right">1666</div></td></tr> <tr> <td align="left"> <div align="left">Vitamin B<sub>2 </sub>(Riboflavin)</div></td> <td> <div align="right">25 mg</div></td> <td> <div align="right">1470</div></td></tr> <tr> <td align="right" height="22"> <div align="left">Niacinamide</div></td> <td align="right" height="22"> <div align="right">25 mg</div></td> <td align="right" height="22"> <div align="right">125</div></td></tr> <tr> <td align="right"> <div align="left">Vitamin B<sub>6</sub> (Pyridozine HCl)</div></td> <td align="right"> <div align="right">300 mg</div></td> <td align="right"> <div align="right">15000</div></td></tr> <tr> <td align="right" height="22"> <div align="left">Folic Acid</div></td> <td align="right" height="22"> <div align="right">800 mcg</div></td> <td align="right" height="22"> <div align="right">200</div></td></tr> <tr> <td align="right"> <div align="left">Vitamin B<sub>12a</sub> (Hydroxocobalamin)</div></td> <td align="right"> <div align="right">62.5 mcg</div></td> <td align="right"> <div align="right">1041</div></td></tr> <tr> <td align="right" height="21"> <div align="left">Biotin</div></td> <td align="right" height="21"> <div align="right">62.5 mcg</div></td> <td align="right" height="21"> <div align="right">20</div></td></tr> <tr> <td align="right" height="22"> <div align="left">Pantothenic Acid ((D-Calcium Pantothenate)</div></td> <td align="right" height="22"> <div align="right">25 mg</div></td> <td align="right" height="22"> <div align="right">250</div></td></tr> <tr> <td align="right" height="23"> <div align="left">Calcium (Amino Acid Chelate)</div></td> <td align="right" height="23"> <div align="right">125 mg</div></td> <td align="right" height="23"> <div align="right">12</div></td></tr> <tr> <td align="right" height="23"> <div align="left">Iodine (from Kelp)</div></td> <td align="right" height="23"> <div align="right">75 mcg</div></td> <td align="right" height="23"> <div align="right">50</div></td></tr> <tr> <td align="right" height="23"> <div align="left">Magnesium (Amino Acid Chelate)</div></td> <td align="right" height="23"> <div align="right">300 mg</div></td> <td align="right" height="23"> <div align="right">75</div></td></tr> <tr> <td align="left" height="22"> <div align="left">Zinc (Amino Acid Chelate)</div></td> <td height="22"> <div align="right">25 mg</div></td> <td height="22"> <div align="right">166</div></td></tr> <tr> <td align="right" height="23"> <div align="left">Selenium (Amino Acid Chelate)</div></td> <td align="right" height="23"> <div align="right">200 mcg</div></td> <td align="right" height="23"> <div align="right">285</div></td></tr> <tr> <td align="right" height="22"> <div align="left">Copper (Amino Acid Chelate)</div></td> <td align="right" height="22"> <div align="right">0.5 mg</div></td> <td align="right" height="22"> <div align="right">25</div></td></tr> <tr> <td align="right" height="22"> <div align="left">Manganese (Amino Acid Chelate)</div></td> <td align="right" height="22"> <div align="right">10 mg</div></td> <td align="right" height="22"> <div align="right">500</div></td></tr> <tr> <td align="right" height="22"> <div align="left">Chromium (Amino Acid Chelate)</div></td> <td align="right" height="22"> <div align="right">200 mcg</div></td> <td align="right" height="22"> <div align="right">166</div></td></tr> <tr> <td align="right" height="23"> <div align="left">Potassium (Citrate)</div></td> <td align="right" height="23"> <div align="right">48 mg</div></td> <td align="right" height="23"> <div align="right">1</div></td></tr> <tr> <td align="right"> <div align="left">Proprietary Blend<br>Choline (Bitartrate), Citrus Bioflavonoids, Betaine HCl, Pancreatin 4X (provides Protease, Amylase and Lipase), PABA (Para-Aminobenzoic Acid), Rutin and Inositol. </div></td> <td align="right" valign="top"> <div align="right">830.8 mg</div></td> <td align="right" valign="top"> <div align="right">*</div></td></tr> <tr> <td colspan="3" align="right"> <div align="center">+ - % Daily Value * - Daily Value Not Established</div></td></tr> <tr> <td colspan="3" align="right"> <div align="left">Other Ingredients: Special Plant Cellulose, Vegetable Stearate, Natural Silica and Magnesium Stearate. </div></td></tr></tbody></table></p>
<p style="margin-left: 3px;">ProCycle™ PMS contains NO added sugar, salt, dairy, yeast, wheat, corn, soy, preservatives, artificial colors or  flavors. </p>

</div>
<div id="procyclegold">
		<img src="image/Products/231/photo" align="right" hspace="4" vspace="4">
	
	</p><p>
	
	
		Developed for women experiencing perimenopause, menopause, and postmenopause symptoms, ProCycle Gold is a complete vitamin and mineral supplement with an exacting ratio of magnesium to calcium, complete B-complex vitamins, vitamin E, antioxidants, and boron. 
	
	</p>
<p clear="all" align="center">
<table border="0" cellpadding="4" cellspacing="0" width="85%">

	
	<!-- <th class="tdborder">SKU #</th> --><tbody><tr><th class="tdborder" bgcolor="#ececec">&nbsp;<!--Description--></th><th class="tdborder" align="right" bgcolor="#ececec">Price</th><th class="tdborder" bgcolor="#ececec">Quantity</th><th class="tdborder" bgcolor="#ececec">&nbsp;</th>
	
	</tr><tr>
	<!--<td valign="top">PCGOLD</td>-->
	<td class="tdborder" valign="top">
		ProCycle Gold		
	</td>
	<td class="tdborder" align="right" valign="top">
		
		
		$17.95</td>
				<td>
			<form action="/store/cart.html" method="post">
				<input type="hidden" name="prodID" value="VG120" /><input type="submit" value=" Add to Cart " />
			</form>
		</td>
</tr>
</table>	





	<p><strong>This formula is designed to help relieve symptoms including:</strong></p> 
<p><strong>- Hot flashes and night sweats<br>- Irritability and fatigue<br>- Energy, mood, and mental sharpness<br>- The prevention of osteoporosis</strong></p> 
<p><strong>ProCycle Gold is Fantastic!</strong></p>
<p><em>''After my hysterectomy I had hot flashes all the time and my energy level dropped to nothing. After asking my doctor and trying a few things with little relief and no satisfaction, I found the solution at Women&rsquo;s Health America -- ProCycle Gold.'' </em>CT, Madison, WI</p>
<p style="margin-left: 3px;"><strong>Suggested Use: </strong>Two tablets twice daily with meals or as directed by a physician as part of a total dietary program for perimenopausal and menopausal women.</p>
<p style="margin-left: 3px;"><strong>Ingredients:</strong>  <table style="margin-left: 30px;" border="1" cellpadding="1" cellspacing="1" width="420"> <tbody> <tr> <td colspan="3"><strong>Supplement Facts</strong><br>Serving Size: 4 Tablets</td></tr> <tr> <td> <br></td> <td align="center">Amount Per Serving</td> <td align="center">%DV+</td></tr> <tr> <td height="22"> <div align="left">Vitamin A (as 60% Palmitate and 40% as Beta Carotene)</div></td> <td height="22"> <div align="right">5000 IU</div></td> <td height="22"> <div align="right">100</div></td></tr> <tr> <td align="left" height="22"> <div align="left">Vitamin C (Ascorbic Acid)</div></td> <td height="22"> <div align="right">250 mg</div></td> <td height="22"> <div align="right">416</div></td></tr> <tr> <td align="right"> <div align="left">Vitamin D<sub>3</sub> (Cholecalciferol)</div></td> <td align="right"> <div align="right">400 IU</div></td> <td align="right"> <div align="right">100</div></td></tr> <tr> <td align="right" height="21"> <div align="left">Vitamin E (Natural d-alpha tocopherol Succinate) </div></td> <td align="right" height="21"> <div align="right">400 IU</div></td> <td align="right" height="21"> <div align="right">1333</div></td></tr> <tr> <td align="right"> <div align="left">Vitamin B<sub>1</sub> (Thiamin HCl)</div></td> <td align="right"> <div align="right">10 mg</div></td> <td align="right"> <div align="right">666</div></td></tr> <tr> <td align="left"> <div align="left">Vitamin B<sub>2</sub> (Riboflavin)</div></td> <td> <div align="right">10 mg</div></td> <td> <div align="right">588</div></td></tr> <tr> <td align="right"> <div align="left">Vitamin B<sub>3</sub> (Niacinamide)</div></td> <td align="right"> <div align="right">20 mg</div></td> <td align="right"> <div align="right">100</div></td></tr> <tr> <td align="right"> <div align="left">Vitamin B<sub>6 </sub>(Pyridozine HCl)</div></td> <td align="right"> <div align="right">20 mg</div></td> <td align="right"> <div align="right">1000</div></td></tr> <tr> <td align="right" height="22"> <div align="left">Folic Acid</div></td> <td align="right" height="22"> <div align="right">800 mcg</div></td> <td align="right" height="22"> <div align="right">200</div></td></tr> <tr> <td align="right"> <div align="left">Vitamin B<sub>12a</sub> (Hydroxocobalamin)</div></td> <td align="right"> <div align="right">125 mcg</div></td> <td align="right"> <div align="right">2083</div></td></tr> <tr> <td align="right" height="21"> <div align="left">Biotin</div></td> <td align="right" height="21"> <div align="right">400 mcg</div></td> <td align="right" height="21"> <div align="right">133</div></td></tr> <tr> <td align="right" height="22"> <div align="left">Pantothenic Acid (D-Calcium Pantothenate)</div></td> <td align="right" height="22"> <div align="right">10 mg</div></td> <td align="right" height="22"> <div align="right">100</div></td></tr> <tr> <td align="right" height="21"> <div align="left">Calcium (Citrate, Amino Acid Chelate and Carbonate) </div></td> <td align="right" height="21"> <div align="right">1000 mg</div></td> <td align="right" height="21"> <div align="right">100</div></td></tr> <tr> <td align="right" height="21"> <div align="left">Iodine (from Kelp)</div></td> <td align="right" height="21"> <div align="right">150 mcg</div></td> <td align="right" height="21"> <div align="right">100</div></td></tr> <tr> <td align="right" height="20"> <div align="left">Magnesium (Citrate, Amino Acid Chelate and Oxide) </div></td> <td align="right" height="20"> <div align="right">600 mg</div></td> <td align="right" height="20"> <div align="right">150</div></td></tr> <tr> <td align="left" height="21"> <div align="left">Zinc (Amino Acid Chelate)</div></td> <td height="21"> <div align="right">15 mg</div></td> <td height="21"> <div align="right">100</div></td></tr> <tr> <td align="right" height="21"> <div align="left">Copper (Amino Acid Chelate)</div></td> <td align="right" height="21"> <div align="right">2 mg</div></td> <td align="right" height="21"> <div align="right">100</div></td></tr> <tr> <td align="right" height="21"> <div align="left">Selenium (Amino Acid Chelate)</div></td> <td align="right" height="21"> <div align="right">200 mcg</div></td> <td align="right" height="21"> <div align="right">285</div></td></tr> <tr> <td align="right" height="22"> <div align="left">Manganese (Amino Acid Chelate)</div></td> <td align="right" height="22"> <div align="right">10 mg</div></td> <td align="right" height="22"> <div align="right">500</div></td></tr> <tr> <td align="right" height="21"> <div align="left">Chromium (Amino Acid Chelate)</div></td> <td align="right" height="21"> <div align="right">200 mcg</div></td> <td align="right" height="21"> <div align="right">166</div></td></tr> <tr> <td align="right" height="21"> <div align="left">Potassium (Amino Acid Chelate)</div></td> <td align="right" height="21"> <div align="right">48 mg</div></td> <td align="right" height="21"> <div align="right">1</div></td></tr> <tr> <td align="right" height="22"> <div align="left">Boron (Aspartate)</div></td> <td align="right" height="22"> <div align="right">3 mg</div></td> <td align="right" height="22"> <div align="right">*</div></td></tr> <tr> <td align="right" height="21"> <div align="left">Proprietary Blend</div></td> <td align="right" height="21" valign="top"> <div align="right">328 mg</div></td> <td align="right" height="21" valign="top"> <div align="right">*</div></td></tr> <tr> <td colspan="3" align="right" height="21"> <div align="left">Betaine HCl, Pancreatin 4X, Inositol, Hesperidin, PABA and Rutin </div></td></tr> <tr> <td colspan="3" align="right"> <div align="center">+ - % Daily Value * - Daily Value Not Established</div></td></tr> <tr> <td colspan="3" align="right"> <div align="left">Other Ingredients: Special Plant Cellulose, Vegetable Stearate, Natural Silica and Magnesium Stearate. </div></td></tr></tbody></table> </p><p style="margin-left: 3px;">ProCycle Gold contains NO added sugar, salt, dairy, yeast, wheat, corn, soy, preservatives, artificial colors or flavors. </p>

	




</div>
</div>	<div id="sidebar">	 <div class="cart">
		<p>Items in your cart:</p>
		
% if ( $session{cartItems}) {
		<ul>
% foreach my $item (keys %{$session{cartItems}}) {
			<li><a href="#<% $item %>"><% $session{cartItems}->{$item}->{info} %></a> (<% $session{cartItems}->{$item}->{QTY} %>)</li>
% }
		</ul>
		<p><div><a href="cart.html" >Check Out</a></div></p>
% } else {
			<span>Cart is Empty</span>
% }
	 </div>












	 
	</div>	<div id="footer">			<table>
						<TR>
					<TD COLSPAN=2>
			            <map name="FPMap0">
			            <area href="mailto:wha@womenshealth.com" shape="rect" coords="596, 54, 754, 67">
			            <area href="http://www.womenshealth.com" shape="rect" coords="580, 70, 732, 81">
			            <area href="http://www.womenshealth.com" shape="rect" coords="35, 20, 337, 102"></map><IMG SRC="/images/whatop.gif" border="0" usemap="#FPMap0" alt="bioidentical hormone replacement therapy"></TD>
				</TR>
				<TR>
					<TD COLSPAN=2>
			        <p align="center">
			        &nbsp;
			
					</p>			
			        <p align="center">
			        <font size="1" face="Verdana, Arial">
			        <font size="1">
			        Restore is a registered trademark and exclusive program of Women's
			        Health America, Inc.<br>
			        For general website questions, please email us at <a href="mailto:wha@womenshealth.com">wha@womenshealth.com</a>
			        &nbsp;<br>
			        <b>
					Women's
			        Health America, Inc.</b><br>
			        &nbsp;Madison Pharmacy Associates, LLC &bull; Restore, LLC&nbsp;&bull; Cyclin
			        Pharmaceuticals, Inc.&bull; Madison BioDiagnostics, LLC&nbsp;<br>
			        1289 Deming Way &bull; Madison, WI 53717&nbsp;&bull; Phone: 800-558-7046 &bull;
			        Fax: 888-898-7412<br>
				</font>	<a href="http://www.womenshealth.com/privacy.jsp?supercategory=513"><font size="1">Privacy
			        Policy</font></a></font>
			
					</p>			
			        <div>
			          <p align="center">			
			        <font face="Verdana, Arial" size="1">			
			        Copyright &copy; 2007 Women&rsquo;s Health America, Inc. All rights
			          reserved. Material provided on this website is provided for
			          educational purposes only. It is not intended to treat, diagnose,
			          cure, or prevent any disease and has not been evaluated by the FDA.
			          Always seek the advice of your health care provider with questions or
			          before undertaking any diet, exercise, or other health program.	</font>	
			        </div>		
			            <p align="center">&nbsp;</p>
			        </TD>
				</TR>
			</TABLE>
	</div></div>
	</body>
</html>

<%init>
my %prodInfo;
my $headermsg= $ARGS{requested}? "Thank you for your request!" : 'RestoreMD.com';
</%init>