/*.direct-comms:before {content: 'Direct: '; }
.channel-comms:before {content: 'Channel: '; }
.total-comms:before {content: 'Total: '; }
*/
.direct-comms {
	padding-left: 1.5em;
/*	min-width: 6em; */
	display: inline-block;
}
.channel-comms {
	padding-left: 1.5em;
/*	min-width: 7em; */
	display: inline-block;
}
.total-comms {
	padding-left: 2.0em;
/*	min-width: 7em; */
	display: inline-block;
}

tr.treegrid-expanded {
border-bottom: 1px solid #a1a1a1;
font-weight: bold;
}

tr.rep-header {font-weight: bold; background: white;}

#dash-reps-list div.wrapper1 {overflow-y: auto; max-height: 368px;}

table#sls-rep-list-table {
	margin-top: 0.5em;
}

#sls-rep-list-table tbody:first-of-type tr:first-of-type td {padding-top: 2.2em;}
