body {
	min-width: 1130px;
	background-image: url('/images/sales/dark_background.png');
	
	padding-top: 30px !important;
}

.panel, .tab-content, .navbar-inverse {
	box-shadow: 0em 0.1em 0.5em rgba(0, 0, 0, 0.5);
}

.panel-primary .panel-title .badge {
  background: url('/images/sales/bgnoise.png') repeat scroll 0% 0% #eee;
  color: #357ebd;
}
#fancyChart {
  height: 350px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  min-width: 310px;
  margin: 0 auto;
}
.panel-footer table {
  margin: 0;
}
.func_show_fax_status_note {
	margin-top: 0.1em;
}
.func_view_fax,
.func_show_status_note,
.func_show_fax_status_note,
td[data-role='func_phone_call'],
td[data-role='func_get_directions'] {
  cursor: pointer;
}
textarea.dashRxrNotesEdit {
	color: #31487b;
}
td[role^='func_edit_notes_'] {
  padding: inherit 0 !important;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.panel-default table {
	font-size: 14px;
}
.panel-primary .panel-title {
	color: #fff;
}
.panel-heading button {
	margin-right: 1em;
	margin-top: -0.55em;
}
#prescriber-list-table td.view_prescriber_details {
	text-decoration: underline !important;
	cursor: pointer;
}
#panelToday li.list-group-item {
	text-align: left;
}
.panel-default .panel-heading {
	background-color: #a1a1a4;
}
#dash-prescriber-list hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border: none;
  border-bottom: 1px solid #c1c1c4;
  margin: 18px 0;
}

.dataTable,
.dataTable *,
#prescriber-details-table,
#prescriber-details-table table *,
#prescriber-list-table_wrapper,
#prescriber-list-table_wrapper * {
	-webkit-transition: -webkit-transform, opacity, height, width, display, visibility 0.8s ease-in-out;
	   -moz-transition:    -moz-transform, opacity, height, width, display, visibility 0.8s ease-in-out;
	    -ms-transition:     -ms-transform, opacity, height, width, display, visibility 0.8s ease-in-out;
		 -o-transition:      -o-transform, opacity, height, width, display, visibility 0.8s ease-in-out;
		 	transition:         transform, opacity, height, width, display, visibility 0.8s ease-in-out;

	-webkit-transition: color, border-color, background-color 0.3s ease-in-out;
	   -moz-transition: color, border-color, background-color 0.3s ease-in-out;
	    -ms-transition: color, border-color, background-color 0.3s ease-in-out;
	     -o-transition: color, border-color, background-color 0.3s ease-in-out;
		    transition: color, border-color, background-color 0.3s ease-in-out;
}

.form-control {
	color: #777;
}
.form-control::-webkit-input-placeholder {
	color: #c2c2c2;
}
.dataTable,
.table-commissions {
	font-size: 0.85em !important;
}
.dataTable .label {
	position: relative;
	font-size: 100%;
	width: 100% !important;
}
.dataTable>thead>tr>th, .dataTable>tbody>tr>th, .dataTable>tfoot>tr>th, .dataTable>thead>tr>td, .dataTable>tbody>tr>td, .dataTable>tfoot>tr>td {
	padding: 6px;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	background-color: #ccc;
	border-color: #ccc;
}
.well-title {
	padding-top: 0;
	margin-top: 0;
}
.page-header h1,
.page-header h2,
.page-header h3,
.page-header h4,
.page-header h5 {
	margin-top: 0;
	color: #428bca;
}
.btn-info,
.label-info { background: #a1a1a4; border-color: #a1a1a4; }

#rep_list_accordion_odd,
#rep_list_accordion_even {
	padding: 0;
}

#rep_list_accordion_odd li.list-group-item,
#rep_list_accordion_even li.list-group-item,
#rep_list_accordion_odd li.list-group-item h4.panel-title,
#rep_list_accordion_even li.list-group-item h4.panel-title {
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
}

#rep_list_accordion_odd>li.list-group-item .list-group-item,
#rep_list_accordion_even>li.list-group-item .list-group-item {
  background: rgba(255,255,255,0.2);
}
td.rx-activity-status {
	padding-top: 9px !important;
}
span.rx-activity-status.label-xs {
	padding: 4px !important;
}

#rep_list_accordion_even {
	max-height: 368px;
	overflow-y: auto;
}
.input-sm {
  margin-top: -5px;
}
.navbar-inverse {
	background-image: url('/images/sales/bgnoise.png');
	background-color: #a1a1a4;
	border-color: #a1a1a4;
}
#sales_dash_top {
	background-image: url('/images/Restore_Logo_white_60.png');
	background-position: 98% center;
	background-repeat: no-repeat;
}
.label-success {
	background-color: #95b75d;
	border-color: #95b75d;
}
.btn-success.RX-PROC,
.label-success.RX-PROC {
	background-color: #9CAC81;
	border-color: #9CAC81;
}

.table-commissions {
  font-size: 0.85em;
}
.table-commissions>tbody>tr:nth-child(odd)>td,
.table-commissions>tbody>tr:nth-child(odd)>th{
  background-color: rgba(50, 72, 220, 0.1);
}
.table-commissions>tfoot>tr>th {
  border-top: 2px solid #a1a1a4;
  font-size: 1.2em;
}
.table-commissions>tfoot>tr>td {
  border-top: none;
}
.table-commissions>tfoot>tr:first-of-type>td:not(:first-of-type) {
  border-top: 2px solid #a1a1a4;
}
.table-commissions caption {
  border-bottom: 2px solid #a1a1a4;
  padding-left: 1em;
}

.table-commissions tr.dummy {
  visibility: hidden;
}

.tab-pane {
	padding-top: 1em;
	background-image: url('/images/sales/bgnoise.png');
	background-color: #a1a1a4;
/*	background: url('/images/sales/roarbg.jpg') repeat scroll rgba(255, 255, 255, 0.0); */
}

.nav-tabs {border-bottom: none;}
.nav-tabs>li>a {
	background-image: url('/images/sales/bgnoise.png');
	background-color: #707082;
	border-color: #707082;
	color: #ddd;
	font-weight: bold;
	letter-spacing: 1.5px;
}
.nav-tabs>li:hover>a {
	background-image: url('/images/sales/bgnoise.png');
	background-color: #808090;
	border-color: #767684;
	color: #eee;
}
.nav-tabs>li.active>a {
	background-image: url('/images/sales/bgnoise.png');
/*	background-image: url('/images/sales/roarbg.jpg'); */
	background-color: #a1a1a4;
	border-color: rgba(0, 0, 0, 0.0);
	color: #fff;
}
.nav-tabs>li.active:hover>a {
	color: #fff;
	background-image: url('/images/sales/bgnoise.png');
	background-color: #90909c;
	border-color: rgba(0, 0, 0, 0.0);
}

.panel, .panel-header {background-image: url('/images/sales/bgnoise.png');}

.nav-pills {
	margin-bottom: 1em;
}
.dataTable tr.dtorig>td {
	border-color: #a1a1a4;
}
.dataTable tr.dtorig+tr {
	border-bottom: 2px solid #a1a1a4;
}



.demoToggle input {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.demoToggle {
	width: 3em;
	height: 1.5em;
	position: relative;
  margin-top: 0.0em;
  margin-right: 0.5em;
  margin-bottom: -0.3em;
  display: inline-block;
}

.demoToggle:before {
	content: 'Demo Mode: ';
	color: #fff;
	font-weight: bold;
	display: inline-block;
	float: left;
	margin-left: -7em;
}

.demoToggle label {
	display: block;
	width: 80%;
	height: 100%;
	position: relative;
	background: #919194; /*#121823*/
    background: linear-gradient(#919194, #818184);
	border-radius: .8em;
	box-shadow:
        inset 0 0.1em 0.2em 0em rgba(0,0,0,0.5),
        inset 0 1px 0 rgba(0,0,0,0.4),
        0 1px 0 rgba(255,255,255,0.3);
		-webkit-transition: all .5s ease-out;
transition: all .5s ease-out;

}

.demoToggle input ~ label i {
    display: block;
    height: 1.0em;
    width: 1.0em;
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    z-index: 2;
    border-radius: inherit;
    background: #b1b1b4; /* Fallback */
    background: linear-gradient(#b1b1b4, #919194);
    box-shadow:
        inset 0 1px 1px rgba(255,255,255,0.3),
        0 0 0.2em rgba(0,0,0,0.3),
        0 0.1em 0.1em rgba(0,0,0,0.4);
	-webkit-transition: all .3s ease-in;
transition: all .3s ease-in;
}


.demoToggle label + span {
	content: "";
	display: inline-block;
	position: absolute;
	left: 2.8em;
	top: 0em;
	width: 1.5em;
	height: 1.5em;
	border-radius: 55%;
	background: #600; /* #600 */
background: radial-gradient(#700, #400); /* #700, #400 */
box-shadow:
		  inset 0 1px 0 rgba(0,0,0,0.2),
  		0 1px 0 rgba(255,255,255,0.2),
  		0 0 0.4em rgba(187,0,0,0),
  inset 0 0 0.3em rgba(0,0,0,0.9),
  inset 0 -0.15em 0.2em rgba(0,0,0,0.3),
  inset 0 -0.15em 0.3em rgba(0,0,0,0.5);
 	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	z-index: 2;
}

 /* Toggle */
.demoToggle input:checked ~ label + span { 
	content: "";
	display: inline-block;
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	border-radius: 55%;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 2;
	background: #b00; /* #b9f3fe */
background: radial-gradient(#f22, #b00);
box-shadow:        
		  inset 0 1px 0 rgba(0,0,0,0.1),
		  0 1px 0 rgba(255,255,255,0.1),
		  0 0 0.4em rgba(255,10,10,1),
		  inset 0 0 0.2em rgba( 65,0,0,0.8),
  inset 0 -0.1em 0.2em rgba(255,30,30,0.4),
  inset 0 -0.1em 0.4em rgba(255,200,200,0.5);

 }

.demoToggle input:checked ~ label i {
    left: auto;
    left: 1.1em;
	box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.2),
        0 0 0.3em rgba(0,0,0,0.3),
        0 0.3em 0.3em rgba(0,0,0,0.3),
		inset -0.07em 0 0.2em rgba(255,0,0,0.4);

	-webkit-transition: all .3s ease-in;
transition: all .3s ease-in;
}

.idle-progress {
  border-radius: 0;
  margin: 0 -3px -1px;
  height: 3px;
  background: transparent;
  
    /* Hardware acceleration */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  /* Smooths things out in environments that don't handle the animation very well */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

}
.progress-bar {
	background: #d0d0e0;
}
.progress-bar.progress-bar-warning {
	background: #f3c022;
}
.progress-bar.progress-bar-danger {
	background: #FF6C60;
}
ul.nav-pills li {
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.4);
	margin-top: 0.4em;
	margin-right: 0.2em;
}
.btn-info:hover {
	background-color: #818184;
	border-color: #818184;
}
.rxActivityTable tr {
	font-size: 0.85em;
}