@charset "UTF-8";

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header, footer, section, .row { display: block; }

html, body {
	margin: 0 auto;
	text-align: justify;
	font: normal 11px/13px Geneva, OpenSans, Arial, sans-serif;
	vertical-align: top;
	background: #fff;
	zoom: 100%;
}

body {
	overflow-y: scroll;
	padding-top: 0.3in;
	margin-left: -0.2in;
}

#pageWrap {
	width: auto;
	float: none !important;
}

#pageHeader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 0.5in;
	text-align: center;
	border-bottom: 2px solid #000;
}

#pageHeader h1 {
	margin: 0.25in auto 0.1in;
	padding: 0;
	font-size: 2.25em;
	font-weight: bold;
}

#signatureBox,
#counselingNotice {
	top: 0.75in;
	position: absolute;
	border: 1px solid #000;
	border-radius: 0.1in;
	overflow: hidden;
	height: 1.1in;
}

#counselingNotice {
	width: 2.5in;
}

#counselingNotice header,
#pharmacyInformation header,
#patientInformation header,
#providerInformation header,
#prescriptionInformation header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 0.25in;
	vertical-align: top;
	margin: 0;
	padding: 0 0.1in;
}

#counselingNotice header h3,
#pharmacyInformation header h3,
#patientInformation header h3,
#providerInformation header h3,
#prescriptionInformation header h3 {
	font-size: 0.15in;
	padding: 0.5em 0 0;
	margin: 0;
}

#counselingNotice p {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 0.7in;
	margin: 0 0.1in 0.05in;
}

#signatureBox {
	width: 6in;
}
#signatureBox footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 0.35in;
	vertical-align: bottom !important;
	padding: 0;
	margin: 0;
	font-size: 0.25in;
}

#signatureBox footer p {
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 0.1in;
	left: 0.1in;
}

#signatureLine {
	display: inline-block;
	position: absolute;
	height: 0.1in;
	width: 3in;
	bottom: 0.08in;
	right: 0.1in;
	border-bottom: 2px solid #000;
}

#Infos {
	position: absolute;
	top: 2in;
	left: 0;
	right: 0;
	height: 1.5in;
}
#Infos section {
	position: relative;
	display: inline-block;
	border: 1px solid #000;
	border-radius: 0.1in;
	overflow: hidden;
	height: 1.25in;
	width: 31.333%;
}
#Infos section>header+div,
#prescriptionInformation>header+div {
	margin-top: 0.25in;
	padding: 0.05in;
}

#prescriptionInformation {
	position: absolute;
	top: 3.41in;
	height: 3in;
	border: 1px solid #000;
	border-radius: 0.1in;
	overflow: hidden;
}

#prescriptionInformation div table {
	display: table;
	width: 100%;
}
#prescriptionInformation div table th,
#prescriptionInformation div table td {
	font: bold 9px/10px OpenSans, Arial, sans-serif;
}
/************************************************************************************************************************
 * Begin: The Sticky Label (2x3.5")
 ************************************************************************************************************************/

#stickyLabel {
	position: absolute;
	top: 7.25in;
	height: 1.85in;
	width: 3.2in;
	border: 1px solid #000;
	border-radius: 0.1in;
	overflow: hidden;
	padding: 0.15in;
}

#stickyLabel header {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;

	width: 64mm;
	height: 10mm;

	
	font: 100 5px/6px "OpenSans Narrow", "Arial Narrow", sans-serif;
	background: #cdf;
	z-index: 999;
}

#stickyLabel header .expressContacts {
	text-align: left;
	position: absolute;
	left: 1mm;
	top: 0.5mm;
	font: 100 8px/10px "OpenSans Narrow", "Arial Narrow", sans-serif;
	letter-spacing: 0.3px;
}
#stickyLabel header .rhcContacts {
	text-align: right;
	position: absolute;
	right: 0.6mm;
	top: 0.10mm;
	font: 100 6px/7px "OpenSans Narrow", "Arial Narrow", sans-serif;
	letter-spacing: 0.3px;
}
#stickyLabel header .contactsHeader {
	display: block;
	text-align: left !important;
	border-bottom: 1px solid #000;
	border-collapse: collapse;
}
#stickyLabel #lbl_rxNumber {
	position: absolute;
	font: bold 10px/12px "OpenSans", "Arial", sans-serif;
	top: 10mm;
	left: 1mm;
}
#stickyLabel #lbl_rxNumber:before {
	content: 'RX#';
	padding-right: 2mm;
}
#stickyLabel #lbl_pharmOfRecord {
	position: absolute;
	top: 10mm;
	left: 23.5mm;
	font: 100 10px/12px OpenSans, Arial, sans-serif;
	text-transform: uppercase;
}
#stickyLabel #lbl_prescriberName {
	position: absolute;
	top: 10mm;
	right: 17mm;
	font: bold 10px/12px "OpenSans", Arial, sans-serif;
	text-transform: uppercase;
}
#stickyLabel #lbl_patientName {
	position: absolute;
	top: 13mm;
	left: 1mm;
	font: bold 10px/12px "OpenSans", Arial, sans-serif;
	text-transform: uppercase;
}
#stickyLabel #lbl_dateFilled {
	position: absolute;
	top: 13mm;
	right: 17mm;
	font: 100 10px/12px OpenSans, Arial, sans-serif;
}
#stickyLabel #lbl_patientAddy {
	position: absolute;
	top: 16mm;
	left: 1mm;
	font: 100 8px/10px "OpenSans", Arial, sans-serif;
	text-transform: uppercase;
}
#stickyLabel #lbl_rxInstructions {
	position: absolute;
	top: 19mm;
	left: 1mm;
	width: 63mm;
	max-height: 10mm;
	text-align: left !important;
	font: bold 9px/10px OpenSans, Arial, sans-serif;
	text-transform: uppercase;
	border-top: 1px solid #aaf;
/*	border: 1px dotted blue; */
}
#stickyLabel #lbl_rxReagents {
	text-align: left !important;
	position: absolute;
	top: 33mm;
	left: 1mm;
	height: 10mm;
	max-height: 10mm;
	width: 72mm;
	max-width: 72mm;
	border-top: 1px solid #aaf;
/*	border: 1px dotted red; */
}
#stickyLabel #lbl_rxReagents .block {
	display: block !important;
	font: bold 8px/9px OpenSans, Arial, sans-serif;
	text-transform: capitalize;
}
#stickyLabel #lbl_rxReagents ul {
	list-style-type: none;
	position: relative;
	padding: 0;
	margin: 0;
}
#stickyLabel #lbl_rxReagents li {
	float: left;
}
#stickyLabel #lbl_rxReagents li:not(:last-of-type) {
	padding-right: 3mm;
}
#stickyLabel #lbl_rxReagents li:last-of-type {
	padding-left: 5mm;
}
#lbl_unitQty, #lbl_unit, #lbl_prodCode {
	font: 100 10px/10px OpenSans, Arial, sans-serif !important;
	text-transform: uppercase;
}
#stickyLabel #lbl_rxReagents #lbl_unitQty {
}
#stickyLabel #lbl_rxReadents #lbl_unit {
}
#stickyLabel #lbl_rxReadents #lbl_prodCode {
}
#stickyLabel #lbl_rxNumRefills {
	position: absolute;
	bottom: 0.5mm;
	left: 2mm;
	font: 100 9px/11px OpenSans, Arial, sans-serif;
	text-align: right !important;
	max-width: 30mm;
	max-height: 3.6mm;
}
#stickyLabel #lbl_dateBeyondUse {
	position: absolute;
	bottom: 1mm;
	right: 9mm;
	font: 100 9px/10px OpenSans, Arial, sans-serif;
	border: 1px solid #f00;
}
#stickyLabel #lbl_dateBeyondUse:before {
	content: 'Beyond Use Date:';
	padding-right: 1mm;
}

#stickyLabel aside {
	font: 100 6px/7px "OpenSans Narrow", "Arial Narrow", sans-serif;
	z-index: 999999;
	right: 1mm;
	position: absolute;
	max-width: 1.65in;
	-webkit-transform: rotate(90deg) translate(16mm, -17mm);
}
#stickyLabel #qs1_sp_num {
	position: absolute;
	right: 13.5mm;
	bottom: 2.2mm;
	display: none;
	zoom: 0.8;
	-webkit-transform: rotate(90deg) translate(-7mm, -7mm);
}
#stickyLabel #lblBarcode {
	position: absolute;
	top: 37pt;
	right: 4pt;
	zoom: 0.7;
	-webkit-transform: rotate(90deg) translate(0pt, 0pt);
}
/************************************************************************************************
 * END: The Sticky Label
 ***********************************************************************************************/
 
#lbl_rxAuxiliaries {
	text-align: left !important;
	position: absolute;
	top: 8in;
	right: 1in;
	width: 2in;
	max-height: 1.75in;
	border: 1px solid red;
	border-radius: 0.1in;
	font: bold 9px/9px OpenSans, Arial, sans-serif;
	padding: 0.1in 0.1in 0.1in 16pt;
}
#lbl_rxAuxiliaries:before {
	position: absolute;
	left: 4pt;
	top: 0.25in;
	content: '!';
	font-size: 36pt;
	color: red;
}

/************************************************************************************************
 * SCREEN ONLY BEGIN
 ***********************************************************************************************/
@media screen {
	body {
		margin: 2em;
	}
	#counselingNotice,
	#Infos,
	#prescriptionInformation,
	#stickyLabel {
		left: 0.25in;
	}
	#counselingNotice header,
	#pharmacyInformation header,
	#patientInformation header,
	#providerInformation header,
	#prescriptionInformation header,
	#prescriptionInformation div table thead tr,
	#prescriptionInformation div table tbody tr:nth-of-type(even) {
		background-color: rgba(100, 144, 246, 0.3);
	}
	#signatureBox,
	#prescriptionInformation {
		right: 0.25in;
	}
	#Infos section:not(:last-of-type) {
		margin-right: 1.1em;
	}
	#stickyLabel header .logo {
		left: 2mm;
	}
}
/**************** SCREEN END ********************************/

/************************************************************************************************
 * PRINT ONLY BEGIN
 ***********************************************************************************************/
@media print {
	@page { size: letter portrait; margin: 0.25in !important; }
	
	#counselingNotice,
	#Infos,
	#prescriptionInformation {
		left: 0;
	}
	#stickyLabel {
		left: 6.8pt !important;
		top: 536.0pt !important;
		height: 136.0pt !important;
		width: 236.75pt !important;
		border-radius: 7.75pt !important;
	}
	#lbl_rxAuxiliaries {
		top: 8.75in;
		right: 0;
		width: 2in;
		max-height: 1.75in;
	}
	#prescriptionInformation { right: 0; }
	#counselingNotice header,
	#pharmacyInformation header,
	#patientInformation header,
	#providerInformation header,
	#prescriptionInformation header,
	#prescriptionInformation div table thead tr,
	#prescriptionInformation div table tbody tr:nth-of-type(even) {
		background-color: rgba(161, 161, 164, 0.25);
	}
	#signatureBox {
		right: 0;
		width: 4.6in;
	}
	#signatureBox footer p {
		font-size: 18px;
	}
	#signatureLine {
		width: 2.4in;
	}
	#Infos section:not(:last-of-type) {
		margin-right: 2.15%;
	}
	table {
		page-break-inside: avoid;
	}
	#stickyLabel {
		page-break-inside: avoid !important;
	}
	#stickyLabel header .logo {
		left: 2mm;
	}
}
/**************** PRINT END ********************************/
