<%attr>
topleft => '/atopleft.mas'
bottomleft => 'none'
</%attr>
<%args>
$RxN => undef
$patientID => $RxN ? RD2::getpatientidfromrxnumber($dbh, RxNumber => $RxN) : 'return'
</%args>

<%init>
my $l = [RD2::getLabResult($dbh, RxNumber => $RxN)]->[0];
my $NTxLevel=($l->{UrineNTx}{labValueAM} < 38 ? 'Normal' : $l->{UrineNTx}{labValueAM} < 61 ? 'Elevated' : $l->{UrineNTx}{labValueAM} < 1000 ? 'High' : '');

</%init>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 11 February 2007), see www.w3.org" />
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=us-ascii" />

  <title><% 'BioBalance Report' %></title>
  <style type="text/css">
/*<![CDATA[*/
        <!--
                @page { size: 8.5in 11in; margin-right: 1.25in; margin-top: 0.5in; margin-bottom: 1in }
                P { margin-bottom: 0.08in; direction: ltr; color: #000000; widows: 2; orphans: 2 }
      
        -->
  /*]]>*/
  </style>
  <style0 type="text/css">
/*<![CDATA[*/
  body {
  color: #000000;
  }
  :link { color: #0000FF }
  :visited { color: #800080 }
  p.c14 {margin-top: 0.19in; margin-bottom: 0.19in}
  p.c13 {text-align: center}
  p.c12 {font-weight: bold; text-align: center}
  p.c11 { margin-bottom: 0.19in; margin-top: 0.19in; page-break-before: always}
  div.c10 {text-align: center}
  p.c9 {font-0size: .9em; text-align: center}
  p.c8 { margin-bottom: 0.19in; margin-top: 0.19in}


  p.c5 {margin-bottom: 0.19in; margin-top: 0.19in}
  p.c4 { margin-bottom: 0in}
  span.c3 {font-0size: .9em}
  p.c2 {margin-bottom: 0in}
  p.c1 {margin-bottom: 0in; text-align: center}
  /*]]>*/
  </style>
<style>
/*  #labResults_AreaN {font-size: .8em;} */
#Symptoms_AreaN {}
  #lrTable {font-size: .9em;}
	#symptomBox {max-height:100em; height: 63em; overflow-y:auto; }
p {
color: -webkit-text;
font-size: .5em;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: normal;
text-align: -webkit-auto;
white-space: normal;
}

</style>
<script>
var showMoreInfo = function (mim, controller) {
		if ($(mim).style.display=='none') {$(controller).style.webkitTransform = 'rotate(90deg)'; $(mim).style.display="block"; $(controller).style.webkitTransform ='opacity(1)';} else {$(controller).style.webkitTransform = 'rotate(0deg)'; $(controller).style.webkitTransform ='opacity(0)'; $(mim).style.display='none';}
};
</script>
</head>

<body lang="en-US" dir="ltr" xml:lang="en-US">
<div id="PatientNameArea_N"><& '/formattedpatientinfo.mas', showPatientQS1 => 0, extras => 0 , patientID => $patientID &></div>
  <p class="western c2"><br /></p>
%	# <PRE><% JSON::XS->new->pretty(1)->encode($l) %></PRE>
  <p class="western c2">Dear Name,</p>

  <p class="c5"><span class="c3">Congratulations! You've taken the first important step
  toward understanding your hormonal health. Regular assessment of your hormones should
  be a part of your individual hormone health program.</span></p>

  <p class="c8"><span class="c7"><span class="c3">Women's Health America, Inc. is pleased
  to provide you with your personal results of the Restore</span><span class=
  "c6"><span class="trademark_symbol">&#153;</span></span><span class="c3">BioBalance Personal Hormone
  Assessment.</span></span></p>

  <p class="c8"><span class="c7"><span class="c3">The Restore</span><span class=
  "c6"><span class="trademark_symbol">&#153;</span></span><span class="c3">BioBalance Hormone Profile measures
  "free" hormone levels in saliva in the early morning
  when hormone levels are highest. The "free" hormone
  portion consists of only 1-10% of the total amount of hormone circulating in your body.
  It is only the "free" hormone that is active and able to
  cause important biochemical effects on receptors throughout the body.</span></span></p>

  <p class="c8"><span class="c3"><span class="c7">Saliva testing can be used to determine
  your baseline hormone levels, evaluate the beneficial effects of exercise or
  nutritional supplementation, adjust dosing if you are already taking hormones, or to
  simply monitor the changes in your hormone levels as you age.</span></span></p>


  <p class="western c2"><br /></p>

  <div class="c10">
          <p class="western c1"><span class="c3">Date sample
          collected: <% $l->{Test_Date}{sampleDate} %></span></p>
          <div id="labResults_AreaN">
          	
          	<& '/formattedlabresults.mas', RxNumber => $RxN &>
          
          </div>
  </div>


  <div class="c10">
          <p class="western c1"><span class="c3">Date Symptoms Reported: <% $l->{Test_Date}{sampleDate} %></span></p>
          <div id="Symptoms_AreaN">
          	
          	<& '/aa/symptomhistory.html', RxNumber => $RxN, sortType => 'questionOrder' &>
          
          </div>
  </div>

  <p class="c5"><span class="c3"><u><b>How to interpret your test
  results</b></u></span></p>

  <p class="c8"><span class="c3"><span class="c7">References to low, normal or high
  hormone levels refer to hormone levels that occur from 28-32 years of age when you are
  at your "peak of health." Hormone levels decline as we age. Decreasing hormone levels
  in our 40s, 50s, 60s, and beyond have been shown to be related to many health
  conditions affecting muscle strength, energy, bone loss, weight problems,
  mood</span></span></p>

  <p class="c11"><span class="c3">swings, and libido. Saliva hormone levels below or at
  the very low end of normal indicate sub-optimal values, and hormone replacement therapy
  may be indicated. However, if your results are above or below the target range, you
  should discuss them with your health care provider.</span></p>

% if ($l->{Estradiol}{labValueAM} ) {
<div id="BioBal_Estradiol">
  <p class="c8"><span class="c3"><span class="c7"><b>Estradiol</b><br />
  Estradiol (E2) is the most potent of the three estrogens that occur naturally in a
  woman&acirc;&euro;&trade;s body and is responsible for the normal menstrual cycle.
  Estradiol affects bone, blood vessel, heart, brain, and skin health as well as many
  other tissues. Normal estrogen levels are thought to contribute to memory as well as
  mood. Estradiol is primarily promoted as a hormone to prevent the development of
  osteoporosis and heart disease.</span></span></p>
  <div class="c10">
    <table width="524" border="0" cellpadding="1" cellspacing="0">
      <col width="244" />
      <col width="6" />
      <col width="268" />

      <tr>
        <td colspan="3" width="522">
          <p class="western c12">You may see these symptoms if your estradiol level is
          ...</p>
        </td>
      </tr>

      <tr>
        <td width="244">
          <p class="western c13">Less than 3.5</p>
        </td>

        <td width="6">
          <p class="western">&nbsp;</p>
        </td>

        <td width="268">
          <p class="western c13">Greater than 10.0</p>
        </td>
      </tr>

      <tr>
        <td width="244" valign="top">
          <p class="western c13">Hot flashes, night sweats, sleep disturbances, foggy
          thinking, memory loss, bone loss, depression, heart palpitations, urinary
          incontinence, vaginal dryness</p>
        </td>

        <td width="6">
          <p class="western">&nbsp;</p>
        </td>

        <td width="268" valign="top">
          <p class="western c13">Mood swings, PMS, breast tenderness, nervousness,
          irritability, headache, migraine, fibrocystic breasts, heavy menstrual flow,
          water retention, weight gain in hips, uterine fibroids</p>
        </td>
      </tr>
    </table>
  </div>
</div>
%	}
% if ($l->{Progesterone}{labValueAM} ) {
<div id="BioBal_Progesterone">
  <p class="c8"><span class="c3"><span class="c7"><b>Progesterone</b><br />
  In addition to estradiol, progesterone is one of the most important female hormones.
  Proper levels are critical for fertility in the second half of the monthly cycle.
  Progesterone is also believed to play a role in bone health and is associated with a
  decreased risk of heart disease. Progesterone is useful for the management of
  menopausal and perimenopausal symptoms and PMS. In contrast to the stimulating affect
  of estradiol on nerves, progesterone is considered more calming. If progesterone levels
  are low and estrogen levels are within normal range, symptoms of high estrogen (as
  noted above) may be experienced due to imbalance between progesterone and
  estrogen.</span></span></p>

  <p class="c14"><br />
  <br /></p>

  <div class="c10">
    <table width="524" border="0" cellpadding="1" cellspacing="0">
      <col width="522" />

      <tr>
        <td width="522">
          <p class="western c12">You may see these symptoms if your progesterone level is
          ...</p>
        </td>
      </tr>

      <tr>
        <td width="522">
          <p class="western c13">Less than 0.15</p>
        </td>
      </tr>

      <tr>
        <td width="522" valign="top">
          <p class="western c13">PMS, mood swings, cravings for sweets, breast
          tenderness, anxiety, irritability, heavy menstrual flow, water retention,
          headaches, fatigue, irregular periods, infertility, depression, and sleep
          disturbances</p>
        </td>
      </tr>
    </table>
  </div>

</div>
%	}
% if ($l->{Testosterone}{labValueAM} ) {
<div id="BioBal_Testosterone">

  <p class="c8"><span class="c3"><span class="c7"><b>Testosterone</b><br />
  Though testosterone is primarily thought of as a male hormone, it is very important for
  women's health as well. Testosterone plays a role in the proper function of sex drive,
  lean muscle mass and strength, bone health, mood, cardiac health, and blood production.
  For perimenopausal and menopausal women, testosterone is becoming a common part of
  hormone replacement therapy.</span></span></p>

  <div class="c10">
    <table width="524" border="0" cellpadding="1" cellspacing="0">
      <col width="270" />
      <col width="6" />
      <col width="242" />

      <tr>
        <td colspan="3" width="522">
          <p class="western c12">You may see these symptoms if your testosterone level is
          ...</p>
        </td>
      </tr>

      <tr>
        <td width="270">
          <p class="western c13">Less than 20.0</p>
        </td>

        <td width="6">
          <p class="western">&nbsp;</p>
        </td>

        <td width="242">
          <p class="western c13">Greater than 50.0</p>
        </td>
      </tr>

      <tr>
        <td width="270" valign="top">
          <p class="western c13">Low libido, fatigue, lack of energy, bone loss,
          decreased muscle mass, depression, weight gain</p>
        </td>

        <td width="6">
          <p class="western">&nbsp;</p>
        </td>

        <td width="242" valign="top">
          <p class="western c13">Oily skin, acne, excessive hair growth, anxiety,
          irritability, polycystic ovary disease</p>
        </td>
      </tr>
    </table>
  </div>

</div>
%	}
% if ($l->{DHEA}{labValueAM} ) {
<div id="BioBal_DHEA">

  <p class="c8"><span class="c3"><span class="c7"><b>DHEA</b><br />
  In women, the level of DHEA peaks at about 20-25 years of age and declines with aging.
  The decline of DHEA levels with aging correlates with a general decline in immunity,
  memory, libido, and energy, and lowering resistance to age-related diseases. DHEA
  protects against the effects of stress and levels are closely related to cortisol, the
  stress hormone. This hormone level typically increases when other hormones are
  balanced.</span></span></p>

</div>
%	}
% if ($l->{Cortisol}{labValueAM} ) {
<div id="BioBal_Cortisol">
  <p class="c8"><span class="c3"><span class="c7"><b>Cortisol</b><br />
  Cortisol is a very important hormone that is secreted by the adrenal glands. Cortisol
  helps in responding to and coping with stress, injury, and infection. This hormone
  affects the activity of other hormones such as insulin, thyroid, and DHEA. Cortisol is
  involved in balancing blood sugar, protein synthesis, proper immune function, and REM
  sleep (REM sleep is deep, sound sleep when your body is relaxed but your brain is
  active and you are probably dreaming). It also affects rate of bone breakdown and may
  be decreased due to chronic stress or elevated due to acute stress.</span></span></p>

  <div class="c10">
    <table width="524" border="0" cellpadding="1" cellspacing="0">
      <col width="263" />
      <col width="6" />
      <col width="249" />

      <tr>
        <td colspan="3" width="522">
          <p class="western c12">You may see these symptoms if your Cortisol level is
          ...</p>
        </td>
      </tr>

      <tr>
        <td width="263">
          <p class="western c13">Less than 2.0</p>
        </td>

        <td width="6">
          <p class="western">&nbsp;</p>
        </td>

        <td width="249">
          <p class="western c13">Greater than 17.0</p>
        </td>
      </tr>

      <tr>
        <td width="263" valign="top">
          <p class="western c13">Fatigue, sugar craving, allergies, chemical sensitivity,
          stress, cold body temperature, heart palpitations</p>
        </td>

        <td width="6">
          <p class="western">&nbsp;</p>
        </td>

        <td width="249" valign="top">
          <p class="western c13">Sleep disturbances, depression, bone loss, weight gain
          in waist, thin skin, loss of muscle mass</p>
        </td>
      </tr>
    </table>
  </div>
</div>
%	}
% if ($l->{UrineNTx}{labValueAM} ) {
<div id="NTx_BioBal_area">
		<p class="P14">The Restore&reg; BioBalance Bone Loss Analysis measures urine N-telopeptide (NTx), the most sensitive marker of bone breakdown. &nbsp;This test reveals how slowly or rapidly your bone is breaking down. For men and women trying to enhance their bone health, this test can be used to evaluate the beneficial effects of exercise, calcium supplementation, or prescription medication in as little as three months!</p>
	
	
<p class="P14">&nbsp;</p><p class="Standard"><span class="T7">The result of your personal Bone Loss Analysis is</span><span class="T9"> </span><span class="T8">within the </span><span class="T9">
	<% $NTxLevel %>
	</span><span class="T8"> range for a healthy adult. &nbsp;A measurement of </span><span class="T9">
	<% $l->{UrineNTx}{labValueAM} %>
	</span><span class="T8"> indicates that new bone is being produced as fast as old bone is being broken down and removed.</span></p><p class="P14">&nbsp;</p><p class="P14">Most of us think of bone as an unchanging structure that supports our body. &nbsp;But healthy bone is active, living tissue that constantly changes! &nbsp;Old bone is regularly removed and replaced by new bone. &nbsp;This process of continual renewal is called remodeling. &nbsp;When we are young and our bone is still growing, the production of new bone is much greater than the loss of old bone. &nbsp;Throughout our 20s and early 30s bone continues to increase in density. By our mid-30s, this process is complete and a reversal gradually begins. &nbsp;At first, bone loss only slightly exceeds bone building. &nbsp;However, as bone protective hormone levels fall, bone loss accelerates in both men and women. &nbsp;By the time a woman reaches menopause, bone loss greatly exceeds bone building and if left unchecked can eventually lead to osteoporosis.</p><p class="P16">&nbsp;</p><h3 class="P22"><a name="_Maximize_bone_density__minimize_bone_loss"><span></span></a>Maximize bone density, minimize bone loss</h3><p class="P16">&nbsp;</p><p class="P14">Building and maintaining strong, healthy bone should be the ongoing goal of your individual bone care program. &nbsp;Your comprehensive bone care program should include all the following components.</p><p class="P21">Exercise</p><p class="P14">Exercise is a must! There is a wealth of scientific studies demonstrating a direct link between physical activity and healthy bone. &nbsp;Walking seems to be one of the best forms of exercise to improve bone mass. &nbsp;Low-impact aerobics and weight training can also provide benefit. The goal is to stay physically active.</p><p class="P16">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p><p class="P16">Lifestyle</p><p class="P14">Decrease alcohol and caffeine consumption. &nbsp;Stop smoking.</p><p class="P16">&nbsp;</p><p class="P16">Diet</p><p class="P14">A calcium-rich diet including plenty of green, leafy vegetables, whole grains, and nuts is essential. These foods are great sources of bone-building nutrients, magnesium, and vitamin K. &nbsp;Make sure your diet includes 1000mg of elemental calcium a day. Supplement if necessary.</p><p class="P14">&nbsp;</p><p class="P14">Your bone needs a balance of nutrients in order to remain strong.</p><p class="P14">&nbsp;</p><p class="Standard"><span class="T10">Calcium</span><span class="T7"> is the most well-known, clinically studied bone health mineral. The recommended daily elemental calcium dosage is:</span></p><p class="P14">&nbsp;</p><h5 class="P18">For Women</h5><p class="P17">24 years old to menopause &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="margin-left:;">1000mg/day</span></p><p class="P17">Postmenopausal, taking HRT &nbsp; &nbsp; &nbsp; &nbsp; <span style="margin-left:;">1000mg/day</span></p><p class="P17">Postmenopaual, not on HRT &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="margin-left:;">1500mg/day</span></p><h5 class="P24"><a name="_For_Men"><span></span></a>&nbsp;For Men</h5><p class="P17">19-50 years &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="margin-left:;">1000mg/day</span></p><p class="P17">51 and older &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="margin-left:;">1500mg/day </span></p><p class="P14">&nbsp;</p><p class="Standard"><span class="T10">Vitamin D</span><span class="T7"> helps the body absorb calcium and regulates blood calcium levels.</span></p><p class="Standard"><span class="T10">Magnesium</span><span class="T7"> encourages calcium absorption and is necessary for strong bone mineral crystals.</span></p><p class="Standard"><span class="T10">Boron</span><span class="T7"> works with calcium, magnesium, and vitamin D to maintain bone health.</span></p><p class="P14">&nbsp;</p><p class="P16">Evaluate</p><p class="P14">A yearly Bone Loss Analysis provides you with an ongoing assessment of your bone health. Regular monitoring helps you determine when your bone care program needs adjustment. </p><p class="P14">&nbsp;</p><p class="P14">A yearly Saliva Hormone Analysis beginning around age 40 allows you to detect early changes in hormone levels and make informed decisions to enjoy optimal bone health for the rest of your life! </p>
</div xid="NTx_BioBal_area">
% }
<div id="end_BioBal">

	<p class="P26">A yearly Saliva Hormone Analysis beginning around age 40 allows you to detect early changes in hormone levels and make informed decisions to enjoy optimal hormonal for the rest of your life! </p><p class="Normal_20__28_Web_29_"><span class="T6">Please consult your health care provider if you have specific questions about your Restore&reg; BioBalance Personal Hormone Assessment test results. </span><span class="T4">Enclosed please find our booklet on disc – Restoring Balance, An Individualized Approach to Hormone Therapy. This booklet on disc will provide additional information on hormones, bone health, and specialized testing.</span></p><p class="P26">To your health,</p><p class="Normal_20__28_Web_29_">Women's Health America, Inc.</p><p class="Normal_20__28_Web_29_">&nbsp;</p><p class="Normal_20__28_Web_29_">&nbsp;</p><p class="Normal_20__28_Web_29_">&nbsp;</p><p class="P20">&nbsp;</p>

</div>





  <p class="c5"><span class="c3">A yearly Saliva Hormone Analysis beginning around age 40
  allows you to detect early changes in hormone levels and make informed decisions to
  enjoy optimal hormonal for the rest of your life!</span></p>

  <p class="c8"><span class="c3"><span class="c7"><b>Please consult your health care
  provider if you have specific questions about your Restore<span class="trademark_symbol">&#153;</span> BioBalance
  Personal Hormone Assessment test results.</b> Enclosed please find our booklet
   Restoring Balance, An Individualized Approach to Hormone Therapy.
  This booklet will provide additional information on hormones, bone health, and
  specialized testing.</span></span></p>

  <p class="c5"><span class="c3">To your health,</span></p>

  <p class="c8">Women's Health America, Inc.</p>
</body>
</html>
