<%flags>
inherit => undef
</%flags>
<%args>
$dbh => WHA::connect()
$RxNumber => '1111000'
$patientID => RD2::getpatientidfromrxnumber($dbh, RxNumber => $RxNumber)
</%args>
<%init>
my $patient= RD2::getpatientinfo($dbh, patientID => $patientID);
my $letterDate = RD->timer;
my ($lab)=RD2::getLabResult($dbh, RxNumber=>$RxNumber);
</%init>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>December 11, 2001</TITLE>
	<META NAME="GENERATOR" CONTENT="NeoOffice 1.2  (Unix)">
	<META NAME="AUTHOR" CONTENT=" Norb Rebholz">
	<META NAME="CREATED" CONTENT="20050506;9070000">
	<META NAME="CHANGED" CONTENT="20060222;16461400">
	<STYLE>
	<!--
		@page { size: 8.5in 11in; margin-right: 1.25in; margin-top: 0.5in; margin-bottom: 1in }
		P { margin-bottom: 0.08in; direction: ltr; color: #000000; widows: 2; orphans: 2 }
		P.western { font-family: "Times New Roman", serif; font-size: 12pt; so-language: en-US }
		P.cjk { font-family: "Times New Roman", serif; font-size: 12pt }
		P.ctl { font-family: "Times New Roman", serif; font-size: 12pt; so-language: ar-SA }
		A:link { color: #0000ff }
	-->
	</STYLE>
	<link rel="stylesheet" type="text/css" href="http://restoredirect.com/css/style.css" />
</HEAD>
<BODY LANG="en-US" TEXT="#000000" LINK="#0000ff" DIR="LTR">
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><IMG SRC="BioBalance_M_html_374f9955.gif" NAME="Object1" ALIGN=BOTTOM WIDTH=124 HEIGHT=85></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2><% $letterDate %></FONT></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>Mr.<% "$patient->{PatientFirstName} $patient->{PatientLastName}" %></FONT></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>

<% qq{$patient->{PatientAddressLine1}<br/>\n} %>
<% $patient->{PatientAddressLine2} ? qq{$patient->{AddressLine2} <br/>\n} : qq{}  %>
<% qq{$patient->{PatientCity}, $patient->{PatientState} $patient->{PatientZIP}<br/>\n} %>

</FONT></FONT></P>

<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT SIZE=2><FONT FACE="Arial, sans-serif">Date
of Birth: <SPAN STYLE="background: #ffff00"><% $patient->{DOB} %></SPAN></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial Unicode MS, sans-serif"><FONT SIZE=2><FONT FACE="Arial, sans-serif">Dear
<% $patient->{PatientFirstName} %>,</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>Congratulations!
You've taken the first important step toward understanding your
hormonal health. Regular assessment of your hormones should be a part
of your individual hormone health program.</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial Unicode MS, sans-serif"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>Women's
Health America, Inc. is pleased to provide you with your personal
results of the Restore</FONT><FONT SIZE=1 STYLE="font-size: 7pt"><SUP>SM</SUP></FONT><FONT SIZE=2>
BioBalance Personal Hormone Assessment. </FONT></FONT></FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial Unicode MS, sans-serif"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>The
Restore</FONT><FONT SIZE=1 STYLE="font-size: 7pt"><SUP>SM</SUP></FONT><FONT SIZE=2>
BioBalance Hormone Profile measures “free” hormone levels in
saliva in the early morning when hormone levels are highest. The
“free” hormone portion consists of only 1-10% of the total amount
of hormone circulating in your body. It is only the “free”
hormone that is active and able to cause important biochemical
effects on receptors throughout the body. </FONT></FONT></FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial Unicode MS, sans-serif"><FONT SIZE=2><FONT FACE="Arial, sans-serif">Saliva
testing can be used to determine your baseline hormone levels,
evaluate the beneficial effects of exercise or nutritional
supplementation, adjust dosing if you are already taking hormones, or
to simply monitor the changes in your hormone levels as you age.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>You
selected one or more of the following profiles: </FONT></FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in">  <FONT SIZE=2><FONT FACE="Arial, sans-serif">Male
Hormone Profile  – testosterone and estradiol</FONT></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in">  <FONT SIZE=2><FONT FACE="Arial, sans-serif">Stress
Hormone Profile – cortisol and DHEA</FONT></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in">  <FONT SIZE=2><FONT FACE="Arial, sans-serif">Longevity
Hormone Profile – testosterone and DHEA</FONT></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<CENTER>
<& '/formattedlabresults.mas', patientID => $patientID, RxNumber => $RxNumber &>
</CENTER>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2><U><B>How
to interpret your test results</B></U></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>Most
men are not aware of the impact that hormones have on overall health.
Studies show that the sex steroid hormones, mainly testosterone, but
also DHEA, androstenedione, and estradiol have an impact on a man’s
bone, heart, and sexual health.</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; page-break-before: always">
<FONT FACE="Arial, sans-serif"><FONT SIZE=2>Men experience a more
gradual decline in hormone levels as they age as compared to the
rapid drop in hormone levels that occurs in women at menopause.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><IMG SRC="BioBalance_M_html_m46ff3d38.gif" ALIGN=BOTTOM WIDTH=576 HEIGHT=2></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial Unicode MS, sans-serif"><FONT SIZE=2><FONT FACE="Arial, sans-serif"><B>Estradiol</B>
- Your level is <B><SPAN STYLE="background: #ffff00"><% $lab->{Estradiol}->{labValueAM} %></SPAN>.</B><BR>Though
estradiol is primarily thought of as a female hormone, men also
normally produce a small amount of estradiol in their bodies.
Usually, the high amount of testosterone that men produce does not
allow estradiol to have any significant effects on the body. If the
amount of estradiol compared to testosterone increases or
testosterone levels fall, certain symptoms such as weight gain
especially in the waist, decreased sex drive, and breast and skin
changes may occur. Chronic alcohol consumption, excessive body
weight, lack of exercise, and other chronic health conditions can
result in increased estradiol levels in men that can suppress
testosterone action. </FONT></FONT></FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><IMG SRC="BioBalance_M_html_m46ff3d38.gif" ALIGN=BOTTOM WIDTH=576 HEIGHT=2></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial Unicode MS, sans-serif"><FONT SIZE=2><FONT FACE="Arial, sans-serif"><B>Testosterone</B>
- Your level is <B><SPAN STYLE="background: #ffff00"><% $lab->{Testosterone}->{labValueAM} %></SPAN>.</B><BR>LOW
TESTOSTERONE: Low levels of testosterone have been associated with
decreased sex drive, impotence, infertility, breast changes, fatigue,
loss of energy, depression, lowered motivation, anger, anxiety,
irritability (or “grumpy old man” syndrome), memory or
concentration problems, weight gain, and decreased muscle size,
strength, and endurance. Testosterone levels reach their peak in
males from 20-30 years of age and gradually decline, approximately 1%
per year, after age 30. Low testosterone has also been implicated in
decreasing body hair, increased risk of osteoporosis, anemia, and
thinning of skin. </FONT></FONT></FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>In
healthy young men, testosterone is associated with lower
triglycerides and higher HDL (the good cholesterol). As testosterone
levels decline, triglycerides increase, HDL falls, blood pressure
rises, and coronary artery dilation decreases.</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>Testosterone
plays an important role in insulin and glucose metabolism. As
testosterone levels decrease, insulin production increases which can
lead to weight gain, increased cholesterol, and production on the
stress hormone, cortisol.</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>HIGH
TESTOSTERONE: Weight-bearing exercise increases muscle mass and
increases testosterone levels. Higher levels of testosterone increase
lean body mass and decrease body fat, increase weight, muscle size
and strength, and increase bone mineral density and maintain healthy
bone. Excessive testosterone levels are associated with acne, oily
skin, scalp hair loss, anxiety, and aggressive behavior.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><IMG SRC="BioBalance_M_html_m46ff3d38.gif" ALIGN=BOTTOM WIDTH=576 HEIGHT=2></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial Unicode MS, sans-serif"><FONT SIZE=2><FONT FACE="Arial, sans-serif"><B>DHEA</B>
- Your level is <B><SPAN STYLE="background: #ffff00"><% $lab->{DHEA}->{labValueAM} %></SPAN>.</B><BR>DHEA
(dehydroepiandrosterone) is one of the most abundant and important
hormones produced in the adrenal glands. It has been called the
mother of all hormones because it supports the functions of other
steroids in their immune system activity. It is an important
precursor or hormone building block for testosterone and for the
small amount of estradiol normally produced in men. Levels of DHEA in
men are usually much higher than in women peaking at about 25-30
years of age and declining with age. The decline in DHEA levels with
age correlates with a general decline in immunity and lowering
resistance to age-related diseases. Decreased DHEA levels are
observed in many chronic illnesses, obesity, decreased sex drive,
chronic fatigue, insomnia, and depression. </FONT></FONT></FONT>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><IMG SRC="BioBalance_M_html_m46ff3d38.gif" ALIGN=BOTTOM WIDTH=576 HEIGHT=2></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial Unicode MS, sans-serif"><FONT SIZE=2><FONT FACE="Arial, sans-serif"><B>Cortisol</B>
- Your level is <B><SPAN STYLE="background: #ffff00"><% $lab->{Cortisol_1}->{labValueAM} %></SPAN>.</B><BR>Cortisol,
often referred to as the stress hormone, is the most potent hormone
produced by the adrenal glands in response to stressors such as
emotional stress, exercise, surgery, illness, or starvation. This
hormone affects the activity of other hormones such as insulin and
DHEA. Cortisol plays an essential role in REM sleep (REM sleep is
deep, sound sleep when your body is relaxed but your brain is active
and you are probably dreaming), immune function, mobilizing the
body’s defenses against viral or bacterial infection, and fighting
inflammation. Cortisol levels are highest first thing in the morning.
</FONT></FONT></FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>Cortisol
is involved in balancing blood sugar. The brain derives most of its
energy from glucose, so maintaining adequate blood levels of glucose
is important. After a period of fasting, cortisol output increases to
initiate the breakdown of protein into simple amino acids for
conversion into glucose to nourish the brain.</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>LOW
CORTISOL: Chronic, excessive stress (emotional or physical), chronic
illness, protein deficiency, and lack of nutrients including vitamins
A, C, and B5 can cause the adrenal glands to become exhausted, so
they no longer produce adequate cortisol. This leads to low blood
sugar (hypoglycemia), excessive fatigue, sugar cravings, allergies,
chemical sensitivity, low body temperature, heart palpitations,
premature aging, and increased susceptibility to infection.</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>HIGH
CORTISOL: Cortisol increases in response to stress, after exercise,
and viral or bacterial infection. A high morning cortisol value can
be the result of a single stressful event. This elevation is a normal
physiologic response. A chronically elevated cortisol level can be
harmful to long term health, and is associated with sleep
disturbances, depression, weight gain in the waist, thin skin, and
loss of muscle mass. High cortisol levels increase the rate of bone
breakdown and bone loss. Chronic stress and elevated cortisol levels
eventually exhaust the adrenal glands, suppress the action of the
immune system, and predispose you to frequent infections.</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>Abnormal
cortisol levels have been observed in chronic fatigue, fibromyalgia,
depression, and other chronic illnesses.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><IMG SRC="BioBalance_M_html_m46ff3d38.gif" ALIGN=BOTTOM WIDTH=576 HEIGHT=2></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>A
yearly Saliva Hormone Analysis beginning around age 40 allows you to
detect early changes in hormone levels and make informed decisions to
enjoy optimal hormonal health for the rest of your life! </FONT></FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial Unicode MS, sans-serif"><FONT SIZE=2><FONT FACE="Arial, sans-serif"><B>Please
consult your healthcare provider if you have specific questions about
your Restore<SUP>SM</SUP> BioBalance Personal Hormone Assessment test
results. </B>Enclosed please find our booklet – Restoring Balance,
An Individualized Approach to Hormone Therapy. This booklet will
provide additional information on hormones, bone health, and
specialized testing.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>To
your health,</FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif"><FONT SIZE=2>Women's
Health America, Inc.</FONT></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
</BODY>
</HTML>