<div>

Dear <% $fname %>
</div>
<div>&nbsp;</div>
<div>Thank you for contacting&nbsp;Restore Health&nbsp;and allowing us to help you in your search for a caring healthcare provider who is knowledgeable about bioidentical hormone therapy!</div>
<div>&nbsp;</div>
<div>Choosing a healthcare provider and pharmacy to work with are important and highly individual decisions. As Dr. Christiane Northrup, author of&nbsp;The Wisdom of Menopause,&nbsp;noted on Oprah, "You want to be working with a team."</div>
<div>&nbsp;</div>
<div>A list of possible providers has been included within this e-mail. I would encourage you to contact them to determine whether or not they will meet your needs. Please let us know if you need additional referrals or if you would like us to help you set up your first appointment.</div>
<div>&nbsp;</div>
<div>It may take several months before your appointment. While you are waiting, I encourage you to try my specialized&nbsp;Self-care Plan&nbsp;that has helped thousands since the very first woman walked through our doors, nearly 27 years ago.&nbsp;&nbsp; &nbsp;</div>
<div>&nbsp;</div>
<div>1. Begin by educating yourself.</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; My book,&nbsp;<a href="http://www.womenshealth.com/health-store?page=shop.product_details&flypage=flypage.tpl&product_id=2039&category_id=21"><i>The HRT Solution</i></a>&nbsp;is a great place to start.&nbsp;Christiane Northrup,&nbsp;MD&nbsp;says this book "Should be the bible of hormone replacement for any woman who is considering hormone therapy."</div>
<div>&nbsp;</div>
<div>2.&nbsp;Nutritional supplementation goes a long way in reducing symptoms and is the foundation for any hormone management program.</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I developed&nbsp;<a href="http://www.womenshealth.com/health-store?page=shop.browse&category_id=53">ProCycle&reg;&nbsp;PMS</a>&nbsp;and&nbsp;<a href="http://www.womenshealth.com/health-store?page=shop.product_details&flypage=flypage.tpl&product_id=2009&category_id=53" >ProCycle&reg;&nbsp;Gold</a>&nbsp;therapeutic vitamin supplements to support a woman's healthy hormone balance.&nbsp; With a solid nutritional foundation, many find that they may not even need hormone therapy or if they do, in much lower doses.</div>
<div>&nbsp;</div>
<div>3.&nbsp;When self care isn't enough, start&nbsp;bio-identical hormone therapy&nbsp;in low doses after&nbsp;<a href="http://www.womenshealth.com/bioidentical-hormone-testing?layout=default">measuring your hormone levels</a>&nbsp;and&nbsp;<a href="http://www.womenshealth.com/health-library/37-bone-health-osteoporosis/776-faqs-about-bone-loss-and-testing">rate of bone loss</a>.</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Each&nbsp;<a href="http://www.womenshealth.com/compounding-pharmacy">natural hormone prescription</a>&nbsp;is carefully prepared, one at a time, just for you.&nbsp; I have formulated dosage forms that are unique to Restore Health&nbsp;including even release progesterone tablets, under the tongue dosages, mild estrogen vaginal tablets, and proprietary hormone cream formulas.</div>
<div>&nbsp;</div>
<div>At Restore Health, we recognize and appreciate each woman's individuality.&nbsp; Today, we are the oldest and largest,&nbsp;<a href="http://www.womenshealth.com/home/975-pcab-accreditation">accredited wlth pharmacy in America</a>.&nbsp; Our professional staff includes specialized nurses, pharmacists, health educators, and laboratory researchers. It will be our pleasure to work with you during your journey to health and wellness for the rest of your life!</div>
<div>&nbsp;</div>
<div>Please call us at&nbsp;1-800-558-7046&nbsp;if you have questions, to transfer your existing prescription, to enroll in our comprehensive&nbsp;<a href="http://womenshealth.com/bioidentical-hormone-testing">Restore&reg;&nbsp;Program</a>&nbsp;</div>
</div>
</div>