<%flags>
inherit => undef
</%flags>
<%args>
$email => undef
$subject => undef
$patientID => undef
$RxNumber => undef
$username => undef
$dbh => WHA::connect()
</%args>
<%init>
use WHA;
use String::Random;
my $pass = new String::Random;
my $rand=$pass->randpattern("CCccnccn");
#my $doctor=RD2::getdoctorinfo($dbh, columns => [
my $p=$dbh->selectrow_hashref(q{SELECT * FROM patients WHERE patientID=?}, undef, $patientID) if ($patientID);
	
</%init>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<body style="font-family:verdana">
<p>Hello <% $p->{PatientFirstName} %>,</p>
<p>Your Restore hormone test kit has been shipped to you.  Included with the kit is a ‘Patient Health History’ form which will need to be completed.  Although you can complete the paper form (in the instruction guide booklet) and include it with your samples, we encourage you to complete the form online through our secure website provided below.</p>

<p style="font-weight:bold;">To complete the ‘Health History’ online go to <a href="http://labs.restorehc.com">labs.restorehc.com</a></p>
<p>You will need this RxNumber: <% $RxNumber %></p>
<p style="color:grey;">(If you have completed a health history within the last 30 days or if you are doing our consumer BioBalance testing you may disregard this message.)</p>
</body>
</html>
<%doc>
Once you receive your kit, please locate the RxNumber beneath the barcode on the receipt to begin the Health History form (you can find further instructions at the link below).  
</%doc>