<%args>
$startD => undef
$endD => undef
$rows => undef
</%args>
<%init>
</%init>
<html>
<body>
<div>A new Roster dating from: <% $startD %> - <% $endD %> has been released.</div>
<table style="border: 2px solid black; padding: .75em; margin: .75em;">
%	for my $ro (@$rows) {
	<tr style="border: 2px solid black; padding: .25em;">
%		for my $col (@$ro) {
		<td style="border: 2px solid black; padding: .25em;"><% $col | h %></td>
%		}
	</tr>
%	}

</table>
</body>
</html>