<%flags>
inherit => undef
</%flags>
<%args>
$email => undef
$subject => undef
$patientID => undef
$RxNumber => undef
$username => undef
$dbh => WHA::connect()
</%args>
<%init>
use WHA;
use String::Random;
my $pass = new String::Random;
my $rand=$pass->randpattern("CCccnccn");
#my $doctor=RD2::getdoctorinfo($dbh, columns => [
my $p=$dbh->selectrow_hashref(q{SELECT * FROM patients WHERE patientID=?}, undef, $patientID) if ($patientID);
	
</%init>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<body style="font-family:verdana">
<p>Hello <% $p->{PatientFirstName} %>,</p>
<p>Your Restore hormone test kit has been received.  You will be notified by your provider once the lab report is completed.</p>
</body>
</html>
<%doc>
Once you receive your kit, please locate the RxNumber beneath the barcode on the receipt to begin the Health History form (you can find further instructions at the link below).  


IF NEW.labStatus='Received' AND (NEW.surveyStatus IS NULL OR NEW.surveyStatus ='Not Received') THEN


INSERT INTO emailQueue SELECT p.email, 'labStatusUpdate.html', "Update - Restore Hormone Testing", "Restore Health <restore@restorehc.com>", "We have received your labs and will be processing them soon.  Thanks!",  NULL,  NULL,  MD5(RAND()),  'Queued', RxL.RxNumber, RxL.patientID, NULL  FROM RxLookUp AS RxL JOIN patients AS p ON RxL.patientID=p.patientID WHERE RxNumber=NEW.RxNumber AND p.email REGEXP '([a-zA-Z0-9_.-])+@(([a-zA-Z0-9-])+.)+([a-zA-Z0-9]{2,4})+' LIMIT 1;

END IF;

</%doc>