<%flags>
inherit => undef
</%flags>
<%args>
$email => undef
$subject => undef
$patientID => undef
$RxNumber => undef
</%args>
<%init>
use String::Random;
my $pass = new String::Random;
my $rand=$pass->randpattern("CCccnccn");
</%init>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
Dear Friend,<br /><br />

Thank you again for visiting our new site (www.womenshealthamerica.com), and for your interest in Women&rsquo;s Health America and hormone health. Listening to women just like you tell us what you want and need has helped form the foundation of all our products and services. 

We invite you to &ldquo;talk&rdquo; to us, and give us some new direction today, by completing our brief (3-5 minute), &ldquo;Friends Talking With Friends&rdquo; survey. 

To show our appreciation for your comments and time, we&rsquo;ll send you a free gift: our DermaFex &ldquo;Instant Face Lift&rdquo; (a $25 value), or a $15 coupon for credit toward purchases from our online store. 

When you complete the survey, you can also enter our drawings for a chance to win a free, complete set of hormone level tests (five different hormones tested, a $150 value).

If you&rsquo;re ready to get started, <a href="http://<% $rand %>.restoredirect.com/index.html?email=<% $email %>&subject=<% $subject %>" >click here.</a> <br />
<br />
(http://<% $rand %>.restoredirect.com/index.html?email=<% $email|u %>)<br />
<br />
In good health,<br />
<br />
Marla Ahlgrimm<br />
CEO<br />
Women&rsquo;s Health America<br />
<br />
<br />
<br />
<br />
<span style="color:gray; font-size: 50%">Note: This message was resent to update the link above.</span>

</html>