<%flags>
inherit => undef
</%flags>
<%args>
$email => undef
$subject => undef
$patientID => undef
$RxNumber => undef
$username => undef
$dbh => WHA::connect()
</%args>
<%init>
use WHA;
use String::Random;
my $pass = new String::Random;
my $rand=$pass->randpattern("CCccnccn");
#my $doctor=RD2::getdoctorinfo($dbh, columns => [
my @columns=qw(doctors.doctorName  doctors.username doctors.password);
my $sqlstmt=qq{SELECT } . join(', ', @columns) . qq{ FROM doctors WHERE username=? LIMIT 1};
my $sth=$dbh->prepare($sqlstmt);
$sth->execute($username);
my $doctor=$sth->fetchrow_hashref;
</%init>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<body style="font-family:verdana">
Dear <% $doctor->{doctorName} %>: <p/>

Welcome to RestoreDirect.com. As a RestoreDirect provider, you now have easy online access to the critical patient information you need to determine and evaluate treatment for your hormone therapy patients. You can enroll new patients, order testing, and prescribe right online, with our staff of pharmacists and Restore Specialists available to assist you. And, we will send you referrals when a patient in your area is looking for a Restore provider. <p/>

Your current Restore patient information will be loaded and available to you through RestoreDirect.com within 24 hours. 
<p/>
If you have any questions or concerns about Restore or RestoreDirect.com, please email us at <a href="mailto:restore@restoredirect.com">restore@restoredirect.com</a> or call 800.558.7046 Monday-Friday, 8:00 am to 5:30 pm. <p/>

For technical questions or to report errors, <a href="mailto:support@restoredirect.com">support@restoredirect.com</a>.
<p/>

<b>Easy Access</b>
<p/>
For easy access to RestoreDirect.com, be sure to bookmark the Login page <a href="https://www.restoredirect.com/main/login.html">https://www.restoredirect.com/main/login.html</a> 
<br/>
From that page, you can login to the secure portion of the site and access your patient information by simply entering: <p/>

      1. Your login: <% $doctor->{username} %><br/>

      2. And password: <% $doctor->{password} %> <p/>

Once you are logged-in, you can change your email, password, or other personal information by going to My Office Tools, then choosing Update Profile. 

<p/>
<b>Tutorials</b>
<p/>
To learn more about how to use all the features of RestoreDirect.com, we recommend you click on the Tutorials button on the top right portion of your screen to access our QuickTime video tutorials.  

<a href='http://restoredirect.com/video/QuickTimeInstaller.exe'>Click here</a> to download the latest version of Quick Time Movie Player. 

<p/>
<b>Screen Resolution</b>
<p/>
RestoreDirect.com can be accessed via any internet browser with a recommended screen resolution of 1024 x 768 or higher, preferably 1280 x 768.  
<p/>
<b>Browser</b>
<p/>
Using <a href="http://getfirefox.com">Mozilla FireFox</a> as your web browser will provide the best results. 
<p/>
Once again, we welcome you to RestoreDirect.com. 
</body>
</html>