<%attr>
ajax => 1
</%attr>
<%args>
$p
</%args>
<%init>
my $pDate = 'June 23rd';
</%init>

<html>  
<head>  
<title>Introducing the New Women's Health America Website!</title>  
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"> 
<style type="text/css">                
BODY {  FONT-STYLE: normal;  	
		FONT-FAMILY: arial, helvetica;  	
		FONT-WEIGHT: normal;  	
		FONT-SIZE: 9pt;  	
		FONT-COLOR: #303132;  	
		background-color: #e0f1ed;  	
		margin-top: 0px;  	
		margin-bottom: 0px;  	
		margin-right: 0px;  	
		margin-left: 0px;  }  
P {  	FONT-WEIGHT: normal;  	
		FONT-SIZE: 9pt;  	
		FONT-STYLE: normal;  	
		FONT-FAMILY: arial, helvetica;  	
		margin: 0;  }  
P.link {FONT-WEIGHT: normal;  	
		FONT-SIZE: 9pt;  	
		FONT-STYLE: normal;  	
		FONT-FAMILY: arial, helvetica;  	
		margin: 5px;  }  
P.box { FONT-WEIGHT: normal;  	
		FONT-SIZE: 9pt;  	
		FONT-STYLE: normal;  	
		FONT-FAMILY: arial, helvetica;  	
		margin-top: 10px;  	
		margin-bottom: 10px;  	
		margin-right: 12px;  	
		margin-left: 12px;  }  
P.footer {FONT-WEIGHT: normal;  	
		FONT-SIZE: 7.5pt;  	
		FONT-STYLE: normal;  	
		FONT-FAMILY: arial, helvetica;  	
		margin: 0;  }  
P.quote {  	COLOR: #26b7de;  	
		FONT-WEIGHT: bold;  	
		FONT-SIZE: 9pt;  	
		FONT-STYLE: normal;  	
		FONT-FAMILY: arial, helvetica;  	
		margin: 0;  }  
H1 {COLOR: #04b08b;      
		FONT-COLOR: #04b08b;  	
		FONT-WEIGHT: bold;  	
		FONT-SIZE: 13pt;  	
		FONT-STYLE: normal;  	
		FONT-FAMILY: arial, helvetica;  	
		margin-top: 1px;      
		margin-bottom: 11px;  }  
H2 {COLOR: #211d57;      
		FONT-COLOR: #211d57;  	
		FONT-WEIGHT: bold;  	
		FONT-SIZE: 10pt;  	
		FONT-FAMILY: arial, helvetica;  	
		margin-top: 4px;      
		margin-bottom: 4px;  }
H3 {COLOR: #00aad7;      
		FONT-COLOR: #00aad7;  	
		FONT-WEIGHT: bold;  	
		FONT-SIZE: 10.5pt;  	
		FONT-FAMILY: arial, helvetica;  	
		margin-top: 4px;      
		margin-bottom: 4px;  }  
H3.blue { COLOR: #00aad7;      
		FONT-COLOR: #00aad7;  	
		FONT-WEIGHT: bold;  	
		FONT-SIZE: 10.5pt;  	
		FONT-FAMILY: arial, helvetica;  	
		margin-top: 4px;      
		margin-bottom: 4px;  }  
H3.green { COLOR: #14b18c;      
		FONT-COLOR: #14b18c;  	
		FONT-WEIGHT: bold;  	
		FONT-SIZE: 10.5pt;  	
		FONT-FAMILY: arial, helvetica;  	
		margin-top: 4px;      
		margin-bottom: 4px;  }  
H4 {COLOR: #14b18c;      
		FONT-COLOR: #14b18c;  	
		FONT-WEIGHT: bold;  	
		FONT-SIZE: 10.5pt;  	
		FONT-FAMILY: arial, helvetica;  	
		margin-top: 4px;      
		margin-bottom: 4px;  }  
H5 {	COLOR: #14b18c;      
		FONT-COLOR: #14b18c;  	
		FONT-WEIGHT: bold;  	
		FONT-SIZE: 9pt;  	
		FONT-FAMILY: arial, helvetica;  	
		margin-top: 4px;      
		margin-bottom: 4px;  }  
H6 {	COLOR: #00aad7;      
		FONT-COLOR: #00aad7;  	
		FONT-WEIGHT: bold;  	
		FONT-SIZE: 9pt;  	
		FONT-FAMILY: arial, helvetica;  	
		margin-top: 4px;      
		margin-bottom: 4px;  }  
TD {	COLOR: #303132;  	
		FONT-COLOR: #303132;  	
		FONT-WEIGHT: normal;  	
		FONT-SIZE: 9pt;  	
		FONT-STYLE: normal;  	
		FONT-FAMILY: tahoma, verdana, arial, helvetica  }  
A:link  {COLOR: #04b08b;      
		FONT-STYLE: normal;  	
		FONT-FAMILY: arial, helvetica;  	
		FONT-WEIGHT: bold;  	
		FONT-SIZE: 9pt;      
		TEXT-DECORATION: none  }  
A:visited  {COLOR: #04b08b;      
		FONT-STYLE: normal;  	
		FONT-FAMILY: arial, helvetica;  	
		FONT-WEIGHT: bold;  	
		FONT-SIZE: 9pt;      
		TEXT-DECORATION: none  }  
A:active  {COLOR: #211d57;      
		FONT-STYLE: normal;  	
		FONT-FAMILY: arial, helvetica;  	
		FONT-WEIGHT: bold;  	
		FONT-SIZE: 9pt;      
		TEXT-DECORATION: underline  }  
A:hover  {COLOR: #211d57;      
		FONT-STYLE: normal;  	
		FONT-FAMILY: arial, helvetica;  	
		FONT-WEIGHT: bold;  	
		FONT-SIZE: 9pt;      
		TEXT-DECORATION: underline  } 
UL {  	color: #211d57;  	
		margin: 0;  	
		padding: 0;  }  
OL {  	color: #211d57;  	
		margin: 0;  	
		padding: 0;  }  
LI {	margin-top: 2px;  	
		margin-left: 29px;  }
</style> 
</head>  

<body bgcolor="#e0f1ed" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<center>
<font face="arial, helvetica" color="#303132" style="font-size: 9pt; font-weight: normal"> Unable to view images? Click to view in browser: <a href="http://madisonbiodiagnostics.com/wha/ecommunications/WHA_NewWebsiteLaunchAnnouncement_06-2010.html" title="New Website Announcement Email">WHA_New Website Launch Announcement</a></font>
<table width="648" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="648" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colSpan="3" width="648" bgColor="#e0f1ed"><img src="http://www.madisonbiodiagnostics.com/wha/ecommunications/images/WHAweb_top_shadow.gif" /></td>
        </tr>
      <tr>
        <td width="34" rowSpan="2" background="http://www.madisonbiodiagnostics.com/wha/ecommunications/images/WHAweb_left.gif" vAlign="top" height="720" bgColor="#e0f1ed"><img height="780" width="34" src="http://www.madisonbiodiagnostics.com/wha/ecommunications/images/WHAweb_left.gif" /></td>
        <td valign="top"><table width="577" border="0" cellspacing="0" cellpadding="0"  bgcolor="ffffff">
          <tr>
            <td valign="top" colSpan="3" height="134" bgcolor="#e0f1ed"><img height="134" width="580" src="http://www.madisonbiodiagnostics.com/wha/ecommunications/images/WHAweb_top_logo.gif" alt="Women's Health America" /></td>
            </tr>
          <tr>
            <td><table width="580" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top" width="152" height="66" bgcolor="#ffffff"><img height="66" width="152" src="http://www.madisonbiodiagnostics.com/wha/ecommunications/images/WHAweb_top_left.gif" /></td>
                <td width="428" vAlign="top" height="66" bgColor="#ffffff"><p align="center" class="quote"><font face="arial, helvetica" color="#12285E" style="font-size: 18pt; font-weight: bold">ANNOUNCING <br>
                  OUR 
                  NEW WEBSITE! </font></p></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td valign="top" bgcolor="ffffff" align="left">
            <p><img src="http://www.madisonbiodiagnostics.com/wha/ecommunications/images/WHAweb_spacer.gif" alt="Left-spacer" width="15" height="721" align="left" />
            	<font face="arial, helvetica" color="#303132" style="font-size: 9pt; font-weight: normal"> <br>
             
              <% $pDate %> <br> 
              Dear <% $p->{firstName} | h %>: <br>
              <br>
              Women&#39;s Health America is excited to announce the launch of our new and improved website!  During the week of June 21, 2010, we will launch our completely enhanced website that will enable you to find information faster, and make shopping even easier! </font><br><br>
              <font color="#303132" face="arial, helvetica" style="font-size: 9pt"><font face="arial, helvetica" color="#211d57" style="font-size: 10pt; font-weight: bold">Q:</font> When will the new website launch take place?<br>
              <font face="arial, helvetica" color="#211d57" style="font-size: 10pt; font-weight: bold">A:</font> The  launch will occur during the hours of 11pm and 7am, June 23rd and 24th, 2010.</font><br><br>
            <font color="#303132" face="arial, helvetica" style="font-size: 9pt"><font face="arial, helvetica" color="#211d57" style="font-size: 10pt; font-weight: bold">Q:</font> Will there be any disruption of services? <br>
                <font face="arial, helvetica" color="#211d57" style="font-size: 10pt; font-weight: bold">A:</font> We don&#39;t anticipate any disruption of services.</font><br><br>
            <font color="#303132" face="arial, helvetica" style="font-size: 9pt"><font face="arial, helvetica" color="#211d57" style="font-size: 10pt; font-weight: bold">Q:</font> What are you upgrading? <br>
              <font face="arial, helvetica" color="#211d57" style="font-size: 10pt; font-weight: bold">A:</font> Women&#39;s Health America is upgrading to a new operating platform that will feature an improved user-interface, a dynamic community center, and an enhanced shopping cart that offers all the wonderful products you&#39;ve relied on for years to help &quot;feel like yourself&quot; again.  Mobile-capable enhancements are expected to come later  this year.</font><br><br>
            <font color="#303132" face="arial, helvetica" style="font-size: 9pt"><font face="arial, helvetica" color="#211d57" style="font-size: 10pt; font-weight: bold">Q:</font> Will the website upgrade affect my shopping cart log-in and password? <br>
                <font face="arial, helvetica" color="#211d57" style="font-size: 10pt; font-weight: bold">A:</font> Unfortunately, Yes. The previous shopping cart kept your log-in information completely secret, even from us! As such, we are unable to transfer your unique log-in information to the new cart interface. We have taken measures to re-load each and every one of you into the new cart and have assigned new log-in information below. You should expect to retain your <strong>Circle of Friends<sup>&reg;</sup> </strong>membership throughout this process. You may keep this new log-in or change it in the Customer Account Maintenance section after you&#39;ve logged-in to My Account for the first time with your new log-in information.</font><br><br>
            <font color="#303132" face="arial, helvetica" style="font-size: 9pt"><font color="#211d57" style="font-size: 10pt; font-weight: bold">Your N</font><font face="arial, helvetica" color="#211d57" style="font-size: 10pt; font-weight: bold">ew User-ID:</font> <% $p->{username}  | h %><br>
            <font color="#211d57" style="font-size: 10pt; font-weight: bold">Your N</font><font face="arial, helvetica" color="#211d57" style="font-size: 10pt; font-weight: bold">ew Password:</font> <% $p->{password} | h %> </font> <br><br>
            <font color="#303132" face="arial, helvetica" style="font-size: 9pt"><font face="arial, helvetica" color="#211d57" style="font-size: 10pt; font-weight: bold">Q:</font> Will I be able to view my account history after the system upgrades?<br>
              <font face="arial, helvetica" color="#211d57" style="font-size: 10pt; font-weight: bold">A:</font> No, your past order history will not be viewable to you, but we will be able to look up your order history for you upon request. </font><br><br>
            <p><font color="#303132" face="arial, helvetica" style="font-size: 9pt">If you have any questions about this upgrade, please call 800-558-7046 or 608-833-7046, <em>option 1</em>.</font></p><br><br><br>
            <p><font color="#303132" face="arial, helvetica" style="font-size: 9pt">In good health, </font></p>
            <p><img src="http://www.madisonbiodiagnostics.com/wha/ecommunications/images/WHAweb_marla_sig.gif" width="173" height="30" alt="Marla Ahlgrimm R.Ph."><br>
              <font color="#303132" face="arial, helvetica">Marla Ahlgrimm, R.Ph.</font><br>
              <font color="#303132" face="arial, helvetica" style="font-size: 9pt"><em>and your friends at Women&#39;s Health America, Inc. / Restore Health Pharmacy, LLC</em></font></p>
            </tr>
        </table></td>
        <td width="34" rowSpan="2" background="http://www.madisonbiodiagnostics.com/wha/public_html/t.madisonbiodiagnostics.com/wha/ecommunications/WHAweb_right.gif" vAlign="top" height="720" bgColor="#e0f1ed"><img height="780" width="34" src="http://www.madisonbiodiagnostics.com/wha/ecommunications/images/WHAweb_right.gif" /></td>
      </tr>
      <tr>
        <td align="center" width="580" height="35" bgColor="#eef7f5">
            	<p class="footer"><font face="arial, helvetica" color="#303132" style="font-size: 9.5pt; font-weight: normal">&copy;2010 Women&#39;s Health America, Inc.<br>
<a href="http://www.womenshealth.com/" title="Women's Health America" target="_blank">www.womenshealth.com</a>.<br>
           	    Restore Health Pharmacy, LLC &bull; Restore, LLC &bull; Cyclin Pharmaceuticals, Inc.  &bull; Restore BioDiagnostics, LLC <br>
           	    1289 Deming Way &bull; Madison, WI 53717<br>
                Phone: 800-558-7046 &bull; Fax: 888-898-7412 </font></p></td>
        </tr>
    </table></td>
  </tr>
</table>
</center>
</body>
</html>
