<%args>
$rsq => {rowID => 12345678}
$udigest => undef
</%args>
<html><head>  
	<title>Restore Health</title>  
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">  
</head>
<body>
<div style="font-family:'Trebuchet MS';font-size:12px;width:598px;padding:0px;border-width:1px;border-style:solid;border-color:#999999;margin:0 auto;">
	<div id="t_head" style="background-color:#6eb4c2; padding: 2em;">
		<img src="http://www.restorehc.com/sites/all/themes/restore_evo/logo.png" style="display: inline;">
	</div>
	<div style="padding: 2em; text-align:center;">
		<div style="font-size: 26px;"><strong>Your Lab Results are Complete!</strong></div>
		<div>Login below using <% ($rsq->{rowID} || ' the lab kit number ' ) | h %> for the Lab ID.</div>
		<div style="padding: 1.25em;"><a href="https://restorehc.com/my-results/?sessID=<% $udigest %>"><img src="http://www.restorehc.com/images/view_lab_results_button.png" /></a></div>
		<div>
          <span style="font-size: 13px;">If you are having trouble logging in or have questions on how to interpret your test results, please call a testing specialist at <strong>1-800-558-7046 ext. 200</strong> (M-F 8am-5pm CST)</span>
         </div>
	</div>
	<div style="background-color:#6eb4c2; padding: 2em;">
		<div style="text-align:center; color: #ffffff;">
			<div>Restore Health Pharmacy</div>
			<div>1289 Deming Way, Madison, WI&nbsp; 53717</div>
			<div>p:&nbsp; 800.558.7046&nbsp; |&nbsp; f:&nbsp; 888.898.7412</div>
			<div><a style="color:white; text-decoration:none;" href="http://restorehc.com">restorehc.com</a></div>
		</div>
	</div>
</div>
</body></html>