<%args>
$rsq
$udigest
</%args>
<html><head>  
	<title>Restore Health</title>  
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">  
</head><body bgcolor="#e0f1ed" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<style type="text/css">    
	BODY {  	FONT-STYLE: normal;  	
				FONT-FAMILY: arial, helvetica;  	
				FONT-WEIGHT: normal;  	
				FONT-SIZE: 9pt;  	
				FONT-COLOR: #303132;  	
				background-color: #e0f1ed;  	
				margin-top: 0px;  	
				margin-bottom: 0px;  	
				margin-right: 0px;  	
				margin-left: 0px;  }  
	
	P {  		FONT-WEIGHT: normal;  	
				FONT-SIZE: 9pt;  	
				FONT-STYLE: normal;  	
				FONT-FAMILY: arial, helvetica;  	margin: 0;  }  
	
	P.link {  	FONT-WEIGHT: normal;  	
				FONT-SIZE: 9pt;  	
				FONT-STYLE: normal;  	
				FONT-FAMILY: arial, helvetica;  	
				margin: 5px;  }  
				
	P.box {  	FONT-WEIGHT: normal;  	
				FONT-SIZE: 9pt;  	
				FONT-STYLE: normal;  	
				FONT-FAMILY: arial, helvetica;  	
				margin-top: 10px;  	
				margin-bottom: 10px;  	
				margin-right: 12px;  	
				margin-left: 12px;  }  
				
	P.footer {  FONT-WEIGHT: normal;  	
				FONT-SIZE: 7.5pt;  	
				FONT-STYLE: normal;  	
				FONT-FAMILY: arial, helvetica;  	
				margin: 0;  }  
				
	P.quote {  	COLOR: #26b7de;  	
				FONT-WEIGHT: bold;  	
				FONT-SIZE: 9pt;  	
				FONT-STYLE: normal;  	
				FONT-FAMILY: arial, helvetica;  	
				margin: 0;  }  
				
	H1 {     	COLOR: #04b08b;      
				FONT-COLOR: #04b08b;  	
				FONT-WEIGHT: bold;  	
				FONT-SIZE: 13pt;  	
				FONT-STYLE: normal;  	
				FONT-FAMILY: arial, helvetica;  	
				margin-top: 1px;      
				margin-bottom: 11px;  }  
				
	H2 {     	COLOR: #211d57;      
				FONT-COLOR: #211d57;  	
				FONT-WEIGHT: bold;  	
				FONT-SIZE: 10pt;  	
				FONT-FAMILY: arial, helvetica;  	
				margin-top: 4px;     
				margin-bottom: 4px;  }  
				
	H3 {      	COLOR: #00aad7;      
				FONT-COLOR: #00aad7;  	
				FONT-WEIGHT: bold;  	
				FONT-SIZE: 10.5pt;  	
				FONT-FAMILY: arial, helvetica;  	
				margin-top: 4px;      
				margin-bottom: 4px;  }  
				
	H3.blue {   COLOR: #00aad7;      
				FONT-COLOR: #00aad7;  	
				FONT-WEIGHT: bold;  	
				FONT-SIZE: 10.5pt;  	
				FONT-FAMILY: arial, helvetica;  	
				margin-top: 4px;     
				margin-bottom: 4px;  }  
				 
	H3.green {  COLOR: #14b18c;      
				FONT-COLOR: #14b18c;  	
				FONT-WEIGHT: bold;  	
				FONT-SIZE: 10.5pt;  	
				FONT-FAMILY: arial, helvetica;  	
				margin-top: 4px;      
				margin-bottom: 4px;  }  
				
	H4 {     	COLOR: #14b18c;      
				FONT-COLOR: #14b18c;  	
				FONT-WEIGHT: bold;  	
				FONT-SIZE: 10.5pt;  	
				FONT-FAMILY: arial, helvetica;  	
				margin-top: 4px;      
				margin-bottom: 4px;  }  
				
	H5 {      	COLOR: #14b18c;      
				FONT-COLOR: #14b18c;  	
				FONT-WEIGHT: bold;  	
				FONT-SIZE: 9pt;  	
				FONT-FAMILY: arial, helvetica;  	
				margin-top: 4px;      
				margin-bottom: 4px;  }
				  
	H6 {      	COLOR: #00aad7;      
				FONT-COLOR: #00aad7;  	
				FONT-WEIGHT: bold;  	
				FONT-SIZE: 9pt;  	
				FONT-FAMILY: arial, helvetica;  	
				margin-top: 4px;      
				margin-bottom: 4px;  } 
				 
	TD {  		COLOR: #303132;  	
				FONT-COLOR: #303132;  	
				FONT-WEIGHT: normal;  	
				FONT-SIZE: 9pt;  	
				FONT-STYLE: normal;  	
				FONT-FAMILY: tahoma, verdana, arial, helvetica  }  
				
	A:link  {   COLOR: #04b08b;      
				FONT-STYLE: normal;  	
				FONT-FAMILY: arial, helvetica;  	
				FONT-WEIGHT: bold;  	
				FONT-SIZE: 9pt;      
				TEXT-DECORATION: none  }  
				
	A:visited  {COLOR: #04b08b;      
				FONT-STYLE: normal;  	
				FONT-FAMILY: arial, helvetica;  	
				FONT-WEIGHT: bold;  	
				FONT-SIZE: 9pt;      
				TEXT-DECORATION: none  }  
				
	A:active  { COLOR: #211d57;      
				FONT-STYLE: normal;  	
				FONT-FAMILY: arial, helvetica;  	
				FONT-WEIGHT: bold;  	
				FONT-SIZE: 9pt;      
				TEXT-DECORATION: underline  }  
				
	A:hover  {  COLOR: #211d57;      
				FONT-STYLE: normal;  	
				FONT-FAMILY: arial, helvetica;  	
				FONT-WEIGHT: bold;  	
				FONT-SIZE: 9pt;      
				TEXT-DECORATION: underline  }  
				
	UL {  		color: #211d57;  	
				margin-top: 5px;  	
				margin-left: 15px;  	
				padding-left: 15px;  }  
				
	OL {  		color: #211d57;  	
				margin-top: 5px;  	
				margin-left: 19px;  	
				padding-left: 19px;  }
	</style>

<center><table width="648" border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="7" width="648" bgcolor="#e0f1ed">
			<img src="http://migrate.restorehc.com/images/rd-templates/myRestore/top_shadow.gif"></td>
		</tr>
		<tr>
			<td rowspan="3" valign="top" width="34" background="left.gif" bgcolor="#e0f1ed" height="720"><img src="http://migrate.restorehc.com/images/rd-templates/myRestore/left.gif" width="34" height="780"></td>
			<td colspan="5" width="580" bgcolor="#ffffff" height="200">
				<table width="580" border="0" cellpadding="0" cellspacing="0" height="200">
					<tbody>
						<tr>
							<td colspan="2" width="580" height="134">
								<img src="/sites/all/themes/restore_evo/logo.png" alt="Restore Health" width="580" height="134">
							</td>
						</tr>
						<tr>
							<td width="152" height="66"><img src="http://migrate.restorehc.com/images/rd-templates/myRestore/top_left.gif" width="152" height="66"></td>
							<td valign="top" width="428" bgcolor="#ffffff" height="66">
								<p class="quote" align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: 400">&nbsp;&nbsp;Providing healthy living and healthy aging options<br>
								&nbsp;to naturally support individual hormone balance for&nbsp; </span><br>
								<span size="3">one unique woman at a time. </span> </p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td rowspan="3" valign="top" width="34" background="right.gif" bgcolor="#e0f1ed" height="720"><img src="http://migrate.restorehc.com/images/rd-templates/myRestore/right.gif" width="34" height="780"></td>
		</tr>
		<tr>
			<td width="15" bgcolor="#ffffff" height="485"><img src="http://migrate.restorehc.com/images/rd-templates/myRestore/spacer.gif" width="15" height="485"></td>
			<td valign="top" width="363" bgcolor="#ffffff" height="485">
				<table width="363" border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td colspan="3" valign="top" width="363" align="left" bgcolor="#ffffff" height="236"><br>
							<h1 align="center">
							The report for <% $rsq->{PatientLastName} %>, <% $rsq->{PatientFirstName} %> is complete.  Access it with the link below: <a href="https://restorehc.com/my-restore/login.html?sessID=<% $udigest %>">RestoreHC.com</a> using <% ($rsq->{rowID} || ' the lab kit number ' ) | h %> for the Health History ID.<p/>
							</h1>
							<p align="center"><a href="https://restorehc.com/my-restore/login.html?sessID=<% $udigest %>"><img border="0" src="http://migrate.restorehc.com/images/rd-templates/myRestore/bg_e-mail-log-in_button.gif" width="160" height="31"></a></p>
							<p align="center">&nbsp;</p><p>To view your individual hormone level test results, click on the above button to go to My Restore<sup><span >&#8482;<br></span></sup>&nbsp;</p>
							<p>If you are having trouble logging in or have questions on how to interpret your test results, please call one of our highly trained customer service representatives, toll free at <strong>1-800-558-7046 x3</strong> M-F 8am-5pm CST</p>
							<p>&nbsp;</p>
							<h2 align="center">It is our pleasure to serve your unique needs.</h2>
							</td>
						</tr>
						<tr>
						 	<td width="1" bgcolor="#dcf0ea">&nbsp;</td>
						 	<td valign="bottom" width="361">&nbsp;</td>
						 	<td width="1" bgcolor="#dcf0ea">&nbsp;</td>
						 </tr>
					</tbody>
				</table>
			</td>
			<td width="13" bgcolor="#ffffff" height="485"><img src="http://migrate.restorehc.com/images/rd-templates/myRestore/spacer.gif" width="13" height="485"></td>
			<td valign="top" width="172" bgcolor="#ffffff" height="485">
			</td>
			<td width="17" bgcolor="#ffffff" height="485"><img src="http://migrate.restorehc.com/images/rd-templates/myRestore/spacer.gif" width="17" height="485"></td>
		</tr>
		<tr>
			<td colspan="5" width="580" align="center" bgcolor="#eef7f5" height="35">
			<p class="footer"><span style="font-weight: normal; font-size: 7.5pt" color="#303132" face="arial, helvetica">©2011 ¥ Restore Health Pharmacy, LLC ¥ Restore Health, LLC <br>
			1289 Deming Way ¥ Madison, WI 53717 ¥ Phone: 800-558-7046 ¥ Fax: 888-898-7412 </span></p>
		</td>
	</tr>
	</tbody>
</table></center> 
        
 
</body></html>