<%args>
$p
$type => 1
</%args>
% if ($type) {
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"><style type="text/css" media="print">.hide{display:none}</style>
<style type="text/css" >
 .qlist{font-weight: bold;}
 .qlist li {padding: .5em;}
 </style>
<link rel="stylesheet" href="http://womenshealth.com/templates/rhuk_milkyway/css/templates/rhuk_milkyway/css/template.css" type="text/css" />
<link rel="stylesheet" href="http://womenshealth.com/templates/_system/css/general.css" type="text/css" />

</head><body style="margin:0;padding:1.5em;">







% } else {
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" >
<head>
  <base href="http://womenshealth.com/about-wha" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="joomla, Joomla" />
  <meta name="title" content="About Women's Health America" />
  <meta name="author" content="Administrator" />
  <meta name="description" content="Joomla! - the dynamic portal engine and content management system" />
  <meta name="generator" content="Joomla! 1.5 - Open Source Content Management" />
  <title>About Women's Health America</title>
  <link href="/templates/WHAv4/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <script type="text/javascript" src="/media/system/js/mootools.js"></script>
  <script type="text/javascript" src="/media/system/js/caption.js"></script>


<link rel="stylesheet" href="/templates/system/css/system.css" type="text/css" />
<link rel="stylesheet" href="/templates/system/css/general.css" type="text/css" />
<link rel="stylesheet" href="/templates/WHAv4/css/template.css" type="text/css" />

<link rel="stylesheet" href="/templates/WHAv4/css/blue.css" type="text/css" />
<!-- 
	
	<link rel="stylesheet" href="/templates/WHAv4/css/blue_bg.css" type="text/css" />
 -->
<!--[if lte IE 5]>
<link href="/templates/WHAv4/css/ieonly.css" rel="stylesheet" type="text/css" />
<![endif]-->
<style type="text/css">
.doctorInfo {margin: 1.5em;}
#templateArea {
	width: 100%;
}
#templateArea img.ifix {position: relative; z-index: 3;}
#leftArea { float:left; width:24.7%; background-image:url('/images/WHA_General_01.png'); z-index: 3;}
#topBarArea { float:left; width: 75.3%; background-color: rgb(224,237, 221);}
#mainlevel-nav li+li { border-left: #418D71 solid;}
#midArea { float:left; width: 54.1%; background-image: url('/images/WHA_General_03.png');}
#rightGraphicArea { float:left; width: 21.2%; background-image: url('/images/WHA_General_04r.png'); }
#leftMenuArea {
height:100%;
width: 19.75%;
background-image: url('/images/WHA_General_06.png'); 
background-repeat: repeat-y;
z-index: 1;
position: fixed;
top:0; left:0px;
}
#lMA_img {position: relative; width: 100%; height:100%; float: left;}
#leftMenu  {
display: block;
height: 100%;
left: -20%;
max-width: 40%;
position: relative;
top: -5em; 
z-index: 10;
  } /*MUST BE DYNAMIC LIKE RESTOREMD ??? */
#topBar {position: absolute; right:10px; top: 5px; float: right; z-index: 5;}
body {background-color: white;}
#mainlevel-nav {
	border-style: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#mainlevel-nav li {
	border-style: none;
	float: left;
	margin: 0px;
	padding: 0px .5em;}
#leftMenu .menu {margin: 0;}
#contentArea {
margin-left: 24%;
max-width: 78%;
position: relative;
top: -3em;
z-index: 5;

}
#headArea {	left: 6em; 
			display: inline;
			position: relative;
			bottom: 3.5em;
			z-index: 5;
			color: #00B9DE;
			color: #4F185F;
			font-weight:bold;
			font-size: 2em;
			font-style: italic; 	
			display: none;
			}
			
			
			
			
.moduletable_mainmenu .menu {
			list-style: none;
			
}

.moduletable_mainmenu .menu li a {
			list-style: none;
			font-size: 	larger;
			color: #280163;
}

#findhelpnow {position: absolute; left: 1.5em; top: 40em; z-index: 7; max-width: 19.75%;}



.floatright
{


margin: 0 0 10px 10px;
background-color: #fff;
padding: 10px;
color: gray; font-weight:bold;
}
#northruptext {


float: left;
color: gray;
font-size: 1.4em;
font-style: italic;
font-weight: bold;
line-height: 1.1em;
position: absolute;
top: 20%;
width: 18em;
z-index: 17;
left: 40%;
display: none;
}

p { margin: 1.2em 0;}

li img { vertical-align: middle; margin: 0.5em; }

</style>

</head>
<body id="Body_page_bg" class="color_blue bg_blue width_fmax">
<div id="allMain">
	<div id="templateArea" onclick="">
		<img src="/images/WHA_General_01.png"   class="ifix" id="leftArea" />
		<img src="/images/WHA_General_02.png"   class="ifix"  id="topBarArea" />
		<div id="topBar">
		</div>
		<img src="/images/WHA_General_03.png"   id="midArea"  class="ifix" />
		<img src="/images/WHA_General_04r.png"   id="rightGraphicArea"  class="ifix" />
	<div    id="leftMenuArea" >
			<img id="lMA_img" src="/images/WHA_General_06.png"  class="ifix" />

	</div>			
	<div id="leftMenu">
                                		<div class="module_mainmenu"></div>
	</div>
<div id="contentArea">			
						<div id="leftcolumn"></div>
						<div id="maincolumn_full">

<div class="contentpaneopen">






<i style="color: gray;
font-size: 1.75em;
line-height: 1.1em;
font-style: italic;
font-weight: bold;
position:relative;
top: -3em;
">
                      <div>Women's Health America</div>
                      <div style="position:relative; left: 8em;">Healthcare - As Individual as You!</div>
</i>


<div style="max-width: 88%;">





% }







<div style="max-width:50em; margin: .5em auto;">
<img src="http://restoremd.com/images/wha-header.gif" style="min-width:100%; min-height: 4em;" />
<p><span class="tnr">Dear <% "\u$p->{fname}" %>,</span> <br/></p>

<p><span class="tnr">Wow, the response to the recent <i>
Oprah</i> show highlighting natural hormone therapy has been amazing!   <br>
I <u>love</u> hearing from women like you all over the country, and 
we're excited to have the opportunity to address your concerns.</span> <br>
</p>
<p><span class="tnr">Women's Health America is 
committed to providing customized, individualized care to each and every 
woman that comes to us.  We've already sent you an information 
packet in the mail, and a list of doctors through e-mail.  If you 
haven't received them yet, they should arrive soon.  We'll 
also be calling you personally, and will be happy to answer any questions 
you may have.  </span> <br></p>
<p><span class="tnr">You may have already made an 
appointment with one of the doctors we suggested.  Great!  
However, if you can't find one on the list that is right for you, 
we can help.  Please contact Karen Semrau (<a href="mailto:ksemrau@womenshealth.com" target="_blank">ksemrau@womenshealth.com</a>), 
our Professional Services Coordinator.</span> <br></p>
<p><span class="tnr">We are also happy to work with 
your current healthcare provider.  Many doctors are interested 
in learning more about low-dose natural hormone therapy.  Our pharmacists, 
nurses, and Restore testing specialists would be delighted to share 
our 27 years of experience and expertise with you and your doctor.</span> <br>
</p>
<p><span class="tnr">You may have to wait a month 
or more for your appointment, that's just the reality of doctors'
offices.  In the meantime, I'd like to answer some of your questions 
about Bioidentical Hormone Therapy and hormone testing that many of you are asking, such as:</span> <br>
</p>
<ul type="DISC" class="qlist">
	<li>
		<a href="http://womenshealth.com/home/981-faq#q1">
			Do I have to wait until my appointment to start my hormone level testing through Restore?
		</a>
	</li>
	<li>
		<a href="http://womenshealth.com/home/981-faq#q2">
			How much does Restore testing cost?
		</a>
	</li>
	<li>
		<a href="http://womenshealth.com/home/981-faq#q3">
			I'm taking hormone therapy but would like to switch to a bioidentical hormone prescription. Do I have to wait for my appointment?
		</a>
	</li>
	<li>
		<a href="http://womenshealth.com/home/981-faq#q4">
			Do I have to have hormone testing before starting hormone therapy?
		</a>
	</li>
	<li>
		<a href="http://womenshealth.com/home/981-faq#q5">
			What other tests should my doctor do?
		</a>
	</li>
	<li>
		<a href="http://womenshealth.com/home/981-faq#q6">
			 I'm having my prescriptions filled by another pharmacy, but I'm interested in enrolling in the Restore&reg; Program.
		</a>
	</li>
	<li>
		<a href="http://womenshealth.com/home/981-faq#q7">
			What can I do to relieve vaginal dryness/mood swings/insomnia or other symptoms right now?
		</a>
	</li>
	<li>
		<a href="http://womenshealth.com/home/981-faq#q8">
			I've had a partial or full hysterectomy. Is low-dose natural hormone therapy still an option for me?
		</a>
	</li>
	<li>
		<a href="http://womenshealth.com/home/981-faq#q9">
			How do I talk with my current doctor about natural hormone therapy?
		</a>
	</li>
	<li>
		<a href="http://womenshealth.com/home/981-faq#q10">
			My healthcare provider is not willing to work with bioidentical hormone therapy. How do I find a knowledgeable expert in bioidentical hormone therapy to work with right now?
		</a>
	</li>
</ul>
 <br>

<p><span class="tnr">At Women's Health America, 
we believe the foundation of good health is self-care, including nutrition, exercise, and dietary 
supplements.  Many hormone related symptoms can be greatly improved without prescription therapy!  And if hormone therapy is prescribed, you may find your symptoms relieved with lower dosages taken for a shorter amount of time.</span> <br></p>
<p><span class="tnr">Please call us at <b>1-800-558-7046</b> 
if you have any questions, would like to begin hormone testing, or want 
to transfer a prescription.  <b>When you work with Women's Health 
America, you get personal attention and assistance that is based on 
<u>your</u> needs and <u>your</u> concerns.  
We'll help you get on the road to optimum health by bringing our 27 
years of experience to developing a customized program of self care 
and natural hormone therapy that is created 
<u>just for you.</u></b>  And enrolling in the comprehensive Restore 
program is easy.  Just call us at the same number or visit us online 
at </span><a href="http://www.womenshealth.com/" target="_blank"><span color="#0000FF" class="tnr"><u>www.womenshealth.com</u></span></a><span class="tnr">.  We're looking forward to 
hearing from you.</span></p>
<img src="http://womenshealth.com/image/main/13/picture" style="max-height: 14em; padding: .25em 4.25em .25em  3.25em ; float: right;" />
<p><a name="0.1_graphic08"></a>

<span class="tnr">In 
good health,</span> <br/> <br/>
<img src="http://womenshealth.com/images/marlasig.jpg" alt="Marla Ahlgrimm." /><br/></p>
<p><span class="tnr">Marla Ahlgrimm, Pharmacist</span></p>
<p><span class="tnr">Founder and CEO</span> <br>

</p>

<p><a href="http://www.youtube.com/watch?v=C6TKpyiZ-AE" target="_blank"><span color="#0000FF" size="2" face="Arial"><b><i><u>View 
a recent NBC interview with Marla Ahlgrimm, R.Ph. </u></i></b></span></a></p>


</div>
% unless ($type) {
</div>
% }
</body>
</html>