<%args>
$content
</%args>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="OpenOffice.org 3.3  (Unix)">
	<META NAME="AUTHOR" CONTENT="Restore_Marketing">
	<META NAME="CREATED" CONTENT="20120409;20310000">
	<META NAME="CHANGEDBY" CONTENT="Restore_Marketing">
	<META NAME="CHANGED" CONTENT="20120409;20310000">
	<META NAME="AppVersion" CONTENT="14.0000">
	<META NAME="Company" CONTENT="Microsoft">
	<META NAME="DocSecurity" CONTENT="4">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
	<STYLE TYPE="text/css">
	<!--
		@page { margin-left: 0.63in; margin-right: 1in; margin-top: 0.5in; margin-bottom: 0.4in }
		P { margin-bottom: 0.08in; direction: ltr; color: #000000; line-height: 100%; widows: 2; orphans: 2 }
		P.western { font-size: 12pt }
		P.cjk { font-size: 12pt; so-language: ja-JP }
		P.ctl { font-family: ; font-size: 12pt }
		 #footer {
            position: fixed;
            bottom: 0;
            width: 600px;
            text-align:center;
            margin: 0.5em auto;
           margin-left: 1.5in; 
        }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" DIR="LTR">
<DIV TYPE=HEADER>
	<P STYLE="margin-bottom: 0.46in"><IMG SRC="/templates/rsc/Restore_Health_Letterhead_html_437604d4.png" ALIGN=LEFT HSPACE=11 WIDTH=324 HEIGHT=79 BORDER=0><BR>
	</P>
</DIV>
<P CLASS="western" STYLE="margin-bottom: 0.25in"><BR>
<% $content %>
<BR>
</P>
<DIV TYPE=FOOTER id="footer">
	<P ALIGN=CENTER STYLE="margin-top: 0.56in; margin-bottom: 0in; text-align:center;"><IMG SRC="/templates/rsc/Restore_Health_Letterhead_html_24177485.png" ALIGN=BOTTOM WIDTH=628 HEIGHT=20 BORDER=0></P>
</DIV>
</BODY>
</HTML>