<%attr>
topleft => '/atopleft.mas'
</%attr>
<%args>

</%args>
<%init>
my $as = $dbh->selectall_arrayref(q{SELECT * FROM aa_library}, {Columns =>{}});
</%init>

<style>
.hla div {margin:12px 8px;}
.hlaTitle {color: rgb(0, 135, 187); font-weight:bold; font-size: 1.4em; border-bottom: 1px solid rgb(170, 170, 170);}
.hlaCause:before {color: rgb(0, 135, 187); display:block; content: 'Causes'; font-weight:bold; font-size: 1.2em; border-bottom: 1px solid rgb(170, 170, 170);}
.hlaTreatment:before {color: rgb(0, 135, 187); display:block; content: 'Treatment'; font-weight:bold; font-size: 1.3em; border-bottom: 1px solid rgb(170, 170, 170);}
.hlaHT:before {color: rgb(0, 135, 187); display:block; content: 'Hormone Therapy'; font-weight:bold; font-size: 1.2em; }
.hlaSC:before {color: rgb(0, 135, 187); display:block; content: 'Self Care Options'; font-weight:bold; font-size: 1.2em;}
.hlaPrd:before {color: rgb(0, 135, 187); display:block; content: 'OTC Products'; font-weight:bold; font-size: 1.2em;}

.dnd0 {display:none;}

.clickableLink {cursor:pointer; color: #1366A5;}

</style>

<script>var saveMe;</script>
% for my $ta (@$as) {
<div><span class="clickableLink" onclick="saveMe=$('art_id_<% $ta->{id} %>'); saveMe.show(); saveMe.contentEditable='true';" ><% $ta->{title} %></span></div>
% }
<p/><p/>
<div>
% for my $ta (@$as) {
	<div id="art_id_<% $ta->{id} %>" style="display:none;">
	<% $ta->{html} %>
	</div>
% }
</div>
<span class="clickableLink" onclick="new Ajax.Request('aaLibrarySave.html', {parameters: {html: saveMe.innerHTML, textContent: saveMe.textContent, id:saveMe.id}}); saveMe.hide(); saveMe=null; ">Save</span>