
<%perl>
use utf8;
my $apliaDoses={
	E => {dose =>0.0625, unit => 'mg'},
	E2 => {dose =>0.0125, unit => 'mg'},
	E3 => {dose =>0.05, unit => 'mg'},
	P => {dose => 10, unit => 'mg'},
	T => {dose => 0.05, unit => 'mg'},
	
};
</%perl>
<style title="ApliaForm" type="text/css">
.apliaDosage {float: left; margin: .75em; border: 2px solid black; border-radius: 1em; padding: .5em;  -webkit-border-radius: 1em;  -moz-border-radius: 1em;  cursor:pointer; text-align: center;}
.apliaDosage * {cursor: inherit;}
#ApliaSelection label {margin: .75em;}
.apliaDosage {min-height: 3em; min-width: 3em; background-color: #D4EFFA;}
.apliaDosage:hover {background-color: #D4FAE7; }
.apliaDoseList {text-align: left;}
.apliaDoseList:before {content: 'Contains: '; font-size: smaller;}

ul.apliaDoseList i {content: 'Choose Above'; color: gray; display: block; font-size: smaller;}
ul.apliaDoseList li {font-size: .85em;}
.apliaDoseVal {font-weight: bold; font-size: x-large;}
#ApliaBox {max-width: 720px;}
</style>

<%attr>
topleft => '/atopleft.mas'
#topleft => 'none'
#bottomleft => 'none'
</%attr>
<div id="ApliaBox"  >
	<div class="centerceter" style="width: 300px;;"><img src="/images/aplia_logo_72.png" /></div>
	<div><h3>Metered Transmucosal Applicator</h3></div>
	<div>
		<div><h4>Transmucosal-Cream for Labial Application</h4></div>
		<div>1) Select one or more hormone ingredients/pump:</div>
		<div id="ApliaSelection" class="centerceter" style="dwidth: 80%;">
			<label><input type="checkbox" name="E" autocomplete="off" class="apliaDrugs" onclick="updateApliaDosages();" /> BiEst (E)</label>
			<label><input type="checkbox" name="P" autocomplete="off"  class="apliaDrugs" onclick="updateApliaDosages();" /> Progesterone (P)</label>
			<label><input type="checkbox" name="T" autocomplete="off"  class="apliaDrugs" onclick="updateApliaDosages();" /> Testosterone (T)</label>
		</div>
	</div>
	<div >
		<div><h3>Daily Dosage Strength</h3></div>
		<div>2) Select one dosing strength/pump grouping for the hormones selected:</div>
		<div class="centerceter">
			<label>
			<div class="apliaDosage">
				<input type="radio" name="apliaDosage" autocomplete="off"  value="1"  onclick="makeApliaMed();" /> <span class="apliaDoseVal">1</span>
				<div>
						<ul class="apliaDoseList" id="apliaDoseList_1"><i>Choose Above</i>
						</ul>
				</div>
			</div>
			</label>
			<label>
			<div class="apliaDosage">

				<input type="radio" name="apliaDosage" autocomplete="off"  value="2"  onclick="makeApliaMed();" /> <span class="apliaDoseVal">2</span>
				<div>

						<ul class="apliaDoseList" id="apliaDoseList_2"><i>Choose Above</i>
						</ul>
				</div>

			</div>
			</label>				
			<label>
			<div class="apliaDosage">

				<input type="radio" name="apliaDosage" autocomplete="off"  value="3" onclick="makeApliaMed();" /> <span class="apliaDoseVal">3</span>
				<div>

						<ul class="apliaDoseList" id="apliaDoseList_3">
						<i>Choose Above</i>
						</ul>
				</div>
			</div>
			</label>



			<label>
			<div class="apliaDosage">

				<input type="radio" name="apliaDosage" autocomplete="off"  value="4" onclick="makeApliaMed();" /> <span class="apliaDoseVal">4</span>
				<div>

						<ul class="apliaDoseList" id="apliaDoseList_4">
						<i>Choose Above</i>
						</ul>
				</div>
			</div>
			</label>
		</div>
		<div style="clear:both; vertical-align:middle; line-height:4em;">
			<span style="display:inline-block; margin: .5em; ">Patient Directions (Sig): </span><span><textarea name="apliaSig" id="aplia_apliaSig" style="vertical-align:middle ; margin-top: 2px; margin-bottom: 2px; height: 50px; margin-left: 2px; margin-right: 2px; width: 300px; ">Apply one (1) pump (0.16 gm) to labia or vaginal area daily at bedtime.</textarea> 
			&nbsp; 
			<input type="button"  onclick="addAplia(); return false;" value="  Add Aplía  " style="" /> </span>
		</div>
		<div style="font-size: 11px;">NOTE: Each aplía applicator is filled with a 30-day supply, when 1 pump daily is used. aplía is for women only.</div>
	</div>
</div>
<script>
	var apliaDoses=<% JSON::XS->new->pretty(1)->encode($apliaDoses) %>;
	var apliaButton=new Template('<li class="#{apliaClass}">#{shortName}: #{sVal}</li>');
	var apliaButton_BE=new Template('<li class="#{apliaClass}">#{shortName}: #{sVal}<ul>#{subli}</ul></li>');
	var apliaDrugs = $$(".apliaDrugs");
	var apliaDoseLists = $$('.apliaDoseList');
	var apliaMed=new Object();

	var updateApliaDosages = function() { 
		var aList=new Array();

		$A(apliaDrugs)._each(
		function(aD) {
			if (aD.checked) {
						aList.push(aD.name);
							} 
					}
						);
			if (!aList[0]) {		apliaDoseLists._each(function(tat){tat.update('<i>Choose Above</i>');}); return false;}
						//console.log(aList.join(', '));
		
		var aDoseListHTML=new Object();
				aDoseListHTML[1]='';
				aDoseListHTML[2]='';
				aDoseListHTML[3]='';
				aDoseListHTML[4]='';
			apliaMed = new Object();	
		$A(aList).each(function(drug) {
			for (var x = 1; x <= 4; x++) {


				if (drug == 'E') {
					var subli=apliaButton.evaluate({shortName: 'E2', sVal: ((apliaDoses['E2']['dose']) * x).toFixed(5) *1 + ' ' + apliaDoses[drug]['unit'] }) + apliaButton.evaluate({shortName: 'E3', sVal: (apliaDoses['E3']['dose'] * x).toFixed(5) *1 + ' ' + apliaDoses[drug]['unit']});
					aDoseListHTML[x]+=apliaButton_BE.evaluate({shortName: 'E', sVal: (apliaDoses[drug]['dose'] * x).toFixed(5) *1 + ' ' + apliaDoses[drug]['unit'] , subli: subli});
					
				}	else {aDoseListHTML[x]+=apliaButton.evaluate({shortName: drug , sVal: (apliaDoses[drug]['dose'] * x ).toFixed(5) *1 + ' ' + apliaDoses[drug]['unit'] , subli: ''})}

				$('apliaDoseList_' + x).update(aDoseListHTML[x]);
			}
			var aplia_Dose_radio = $$('input[name=apliaDosage]:checked').first();
			if (aplia_Dose_radio && aplia_Dose_radio.value) {apliaMed[drug]=(apliaDoses[drug]['dose'] * aplia_Dose_radio.value ).toFixed(5) *1;} else {
						//apliaMed[drug]=null;
							}
		});
		apliaDoseLists._each(function(tat){tat.show();})
		
		};
//				apliaDoseLists._each(function(tat){tat.hide();})



	var makeApliaMed= function(dose) {
			apliaMed = new Object();
				var aplia_Dose_radio = $$('input[name=apliaDosage]:checked').first();
			if (aplia_Dose_radio && aplia_Dose_radio.value) {
					var aList=new Array();
					$A(apliaDrugs)._each(function(aD) { if (aD.checked) {  aList.push(aD.name);	} 	}	);
		$A(aList).each(function(drug) {
						if (!aList[0]) {	apliaDoseLists._each(function(tat){tat.update('<i>Choose Above</i>');}); return false;}
						apliaMed[drug]=(apliaDoses[drug]['dose'] * aplia_Dose_radio.value ).toFixed(5) *1;	});
						}
		 else { return false;	}
		 return {med: apliaMed , aNum: aplia_Dose_radio.value};
	};

	var addAplia = function() {
		var aM = makeApliaMed
		if (rxpad) {
			var apliaName='Aplia - ' + aM.aNum + ': ';
			var apMeds=new Array();
			$H(aM).keys.each(function(drug){	apMeds.push(drug + ' ' + aM[drug] + apliaDoses[drug]['unit']);}
			apliaName+=apMeds.join();
			rxpad.add({
						Dose: "", 
						Medication: apliaName,
						Qty: '30 Day Supply',
						Refill: '3'
						},
						'aplia-70707',
						'Transmucosal-Cream',
						'',
						$('aplia_apliaSig').value
						);
		
		}
	}
</script>
