<%attr>
topleft => '/atopleft.mas'
</%attr>
<style>
#aplia_pad {border-radius: 1em; border: 2px solid #60A0C5; -webkit-border-radius: 1em; padding: .3em; margin: 1.5em;}
#aplia_pad td {margin: 0 .5em; padding: 0 .25em; white-space: nowrap;}
.aplia_col2 {background-color:#FFFFFF;  border-collapse: collapse; border-bottom: #FFFFFF;  border-top: #FFFFFF; padding-left: 1.2em}
.aplia_col3 {background-color:#FFFDCF; border-left: 2px solid; border-right: 2px solid; border-collapse: collapse; border-bottom: #FFFDCF; border-top: #FFFDCF;}
.aplia_col4 {background-color:#FFE6CE;  border-collapse: collapse; border-bottom: #FFE6CE; border-top: #FFE6CE;}
.aplia_col5 {background-color:#FFE4E4;  border-collapse: collapse; border-bottom: #FFE4E4; border-top: #FFE4E4;}

.highlightCol_0 {font-weight:bold;}
.rxInstructions {font-size:smaller; margin: 0 .75em;}

</style>
<script>
var highlightCol= function(cls) {
				$$('highlightCol_0').each(function(elm){elm.removeClassName('highlightCol_0'); elm.setStyle({
  backgroundColor: '#900',
  fontSize: '12px'
});
});
				$$('td.'+cls).each(function(elm){elm.addClassName('highlightCol_0');});
	};

var addAplia = function() {
	var addMed=new Object();
	addMed = {
	'med10146Medication': '',
	'med10146Dose': '',
	'med10146Qty': '1 month supply',
	'med10146Instructions': '',
	'med10146Refill': 0
	};
	var medDN='';
	var medAb={'biest':' E', 'progesterone':' P', 'testosterone':' T', 'dhea':' DHEA'};
	var meds=new Array('biest', 'progesterone', 'testosterone', 'dhea');
	meds.each(function(med){ medDN+=$('aplia_'+med).checked ? medAb[med] :'';});

	addMed['med10146Medication']=medDN;
	addMed['med10146Instructions']= ($('aplia_sigLevel_titrate').checked ? 'apply one pump to labial area at bedtime for 1 week, if still symptomatic increase to 2 pumps for 1 week, if still symptomatic increase to 3 pumps' : $('aplia_sigLevel_1').checked ? 'apply one pump to labial area at bedtime' : $('aplia_sigLevel_2').checked ? 'apply 2 pumps to labial area at bedtime ' : 'apply 3 pumps to labial area at bedtime ');
	//add progesterone
	if ($('aplia_progesterone_tabs').checked) {
			addMed['med10148Medication']= 'Progesterone ERT';
			addMed['med10148Dose'] = ($('aplia_sigLevel_titrate').checked ? '10 mg' : $('aplia_sigLevel_1').checked ? '10 mg' : $('aplia_sigLevel_2').checked ? '20 mg' : '30 mg');
			addMed['med10148Qty'] = '1 month supply';
			addMed['med10148Instructions'] = 'Take 1 q hs';
			addMed['med10148Refill'] = 0;
	} // added progesterone tabs
	
	//create HTML:
	var blank_aplia = new Template('<input type="hidden" name="#{name}" value="#{value}" />');
	var jpu='';
	$H(addMed).each(function(p){ if(p.value !=null && p.key !='') { alert(p.key); jpu+=blank_aplia.evaluate({name: p.key, value: p.value});}});
	var jmp='<div class="apliaMed">Aplia '+addMed['med10146Medication']+ ' <span class="rxInstructions">'+addMed['med10146Instructions']+'</span></div>'+'<div class="apliaMed">' + addMed['med10148Medication']+ ' '+addMed['med10148Dose']+' <span class="rxInstructions">'+addMed['med10148Instructions']+'</span></div>';
	$('show_aplia_result').update(jmp+jpu);
	return addMed;
	};
</script>
<table id="aplia_pad" >
	<caption></caption>
	<thead>
		<tr><th colspan="5" align="center">Aplia - Customized Precision Dosing</th></tr>
		<tr>
			<th>
				Transmucosal-Cream
			</th>
			<th>
				<div>1-pump</div>
			</th>
			<th>
				<div>2-pumps</div>
			</th>
			<th>
				<div>3-pumps</div>
			</th>
			<th>
				<div>4-pumps</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="aplia_col1"><input type="checkbox" name="Aplia" value="BiEst" id="aplia_biest" /><label for="aplia_biest"> BiEst</label></td>
			<td class="aplia_col2"><div>0.0625 mg</div><div>E2: 0.0125 mg</div><div>E3: 0.05 mg</div></td>
			<td class="aplia_col3"><div>0.125 mg</div><div>E2: 0.025 mg</div><div>E3: 0.1 mg</div></td>
			<td class="aplia_col4"><div>0.1875 mg</div><div>E2: 0.0375 mg</div><div>E3: 0.15 mg</div></td>
			<td class="aplia_col5"><div>0.25 mg</div><div>E2: 0.05 mg</div><div>E3: 0.2 mg</div></td>
		</tr>
		<tr style="display:none;">
			<td><input type="checkbox" name="Aplia" value="Progesterone_Tabs" id="aplia_progesterone_tabs" /><label for="aplia_progesterone_tabs"> Progesterone Even Release Tablet</label></td>
			<td class="aplia_col2">200 mg</td>
			<td class="aplia_col3">300 mg</td>
			<td class="aplia_col4">400 mg</td>
		</tr>
		<tr>
			<td><input type="checkbox" name="Aplia" value="Progesterone" id="aplia_progesterone" /><label for="aplia_progesterone"> Progesterone</label></td>
			<td class="aplia_col2">10 mg</td>
			<td class="aplia_col3">20 mg</td>
			<td class="aplia_col4">30 mg</td>
			<td class="aplia_col5">40 mg</td>
		</tr>
		<tr>
			<td><input type="checkbox" name="Aplia" value="Testosterone" id="aplia_testosterone" /><label for="aplia_testosterone"> Testosterone</label></td>
			<td class="aplia_col2">0.1 mg</td>
			<td class="aplia_col3">0.2 mg</td>
			<td class="aplia_col4">0.3 mg</td>
			<td class="aplia_col5">0.4 mg</td>
		</tr>
		<tr>
			<td><input type="checkbox" name="Aplia" value="DHEA" id="aplia_dhea" /><label for="aplia_dhea"> DHEA</label></td>
			<td class="aplia_col2">0.25 mg</td>
			<td class="aplia_col3">0.5 mg</td>
			<td class="aplia_col4">0.75 mg</td>
			<td class="aplia_col5">1 mg</td>
		</tr>
		<tr>
			<td>Maintenance Dosage: <span style="font-size:smaller;">(1 Pump is 0.16gm)</span></td>
			<td class="aplia_col2"><input type="radio" name="sigLevel" value="1" id="aplia_sigLevel_1" onclick="highlightCol('aplia_col2'); addAplia();"/><label for="aplia_sigLevel_1">1</label></td>
			<td class="aplia_col3"><input type="radio" name="sigLevel" value="2" id="aplia_sigLevel_2"  onclick="highlightCol('aplia_col3'); addAplia();"/><label for="aplia_sigLevel_2">2</label></td>
			<td class="aplia_col4"><input type="radio" name="sigLevel" value="3" id="aplia_sigLevel_3" onclick="highlightCol('aplia_col4');addAplia();"  /><label for="aplia_sigLevel_3">3</label></td>
			<td class="aplia_col5"><input type="radio" name="sigLevel" value="4" id="aplia_sigLevel_4" onclick="highlightCol('aplia_col5'); addAplia();"  /><label for="aplia_sigLevel_4">4</label></td>
		</tr>
		<tr>
			<td>Starting Dose:</td>
			<td colspan="4" style=" width: 20em;" class="aplia_col2" >
				<input type="radio" name="sigLevel" value="titrate" id="aplia_sigLevel_titrate" onclick="highlightCol('aplia_col2'); addAplia();"  /><label for="aplia_sigLevel_titrate">Titrate Up: 1-3 pumps </label>
			</td>
		</tr>
		<tr>

			<td colspan="5" style="margin:0 auto; width: 20em;" class="" align="center">
				Month Supply:<input type="text" size="6" name="QTY" style="border-style:none; border-bottom: 2px outset black;"> &nbsp; Refills: <input type="text" size="6" name="refills" style="border-style:none; border-bottom: 2px outset black;">
				<span style="font-size:smaller; margin-left:2em;">Aplia contains a 30 day supply of medication</span>
			</td>
		</tr>
	</tbody>
</table>
<div style="margin:0 auto; width: 20em;">
<input type="button" onclick="addAplia();" value="Add Aplia" class="showControl" />
<div id="show_aplia_result"></div>
</div>