<%attr>
ajax => 0
</%attr>
<%args>
$RxN => undef
</%args>
<%init>
my $pdfid;
my $msg;
if ($RxN) {
my $patientID=RD2::gpfr($dbh,  $RxN);
my %zz;
	my $nojunk;


my ($hstat, $qt)=$dbh->selectrow_array(q{SELECT hhstatus, qType FROM hhStatus WHERE rowID=?}, undef, ($RxN));
unless ($qt =~ m/^a/) {$msg.=qq{<div>Wrong qType: $qt -- Updating to aRFF or amaleHH</div>}; 
							(my $cqType = $qt eq 'RFF' ? 'aRFF' : $qt eq 'maleHH' ? 'amaleHH' : $qt);
							$dbh->do(q{UPDATE hhStatus SET qType=? WHERE rowID=? AND qType IN ('RFF', 'maleHH')}, undef, ($cqType, $RxN));
}
if ($hstat ne 'New' && !$ARGS{override} ) {
	$m->out(qq{<h4 style="color:red;">$RxN is marked "$hstat".  Mark if you want to reset to New.</h4>});
	$msg.=qq{<div><input name="override" value="1" type="checkbox" /> Reset to New</div>};
	} else {

my $Pat=$m->comp({store=> \$nojunk}, '/shared/ajax/patientchart.html', patientID => $patientID, RxN => $RxN , pp => 1, debug=>1, ncstatus => 'New');	#RD::Patient::getPatient($dbh, $patientID, ''); 


#// Templates:
my $cmListE = sub {my $med=shift; return qq{<div class="cmMed even combined$med->{medicationCombined} $med->{showCombinedInfo}">$med->{medicationName} $med->{medicationDosage} $med->{medicationUnit} <span class="medicationDelMethod">$med->{medicationDeliveryMethod}</span><div class="cmNotes">$med->{medicationNotes}</div></div>};
	};
my $cmListO = sub {my $med=shift; return qq{<div class="cmMed odd combined$med->{medicationCombined} $med->{showCombinedInfo}">$med->{medicationName} $med->{medicationDosage} $med->{medicationUnit} <span class="medicationDelMethod">$med->{medicationDeliveryMethod}</span><div class="cmNotes">$med->{medicationNotes}</div></div>};
	};
my $cmHeader = sub {my $med=shift; return qq{<li class="$med->{active} $med->{RxNumber}" id="cm_$med->{RxNumber}" onclick="activateMedList(\'$med->{RxNumber}\');">$med->{ShortDate}</li>};
	};


my @mthree= ('yes', 'no', 'NULL');

my $recTemplate =sub() {my $med=shift; return qq{
<div id="drag_$med->{ID}$med->{sectName}" class="recommendationList andor_$med->{andor}" >
	<div class="medPreclass">$med->{preclass}</div><b  class="recCategory_$med->{medCategory} andor_$med->{andor} " >$med->{MedicationDN}</b> <span class="recMedMethod">$med->{Method}</span> $med->{Dose}$med->{DoseUnit}<div>$med->{Instructions}</div>
</div>};
};








	my $reportEvalTextTemeplate = sub {my $inf=shift; return qq{
	<li id="lid_$inf->{logicID}"><span><div>$inf->{alltext}</div><a href="/aa/evalLogic.html?lID=$inf->{logicID}"  id="etid_$inf->{logicID}" class="editLogicLink" onclick=""  >Edit Logic</a></span></li>};};
	
	my $reportEvalTherapyOuterTemeplate = sub { my $inf=shift; return qq{<li id="lid_$inf->{logicID}"><span>$inf->{alltext}</span></li>}; };
	
	my $reportEvalTherapyTemeplate = sub { my $inf=shift; return qq{<span><div id="sid_$inf->{logicID}">$inf->{alltext}</div><a href="/aa/evalLogic.html?lID=$inf->{logicID}"  id="etid_$inf->{logicID}" class="editLogicLink" onclick=""  >Edit Logic</a></span>}; };
	
	my $reportEvalTextTemeplateInner = sub { my $inf=shift; return qq{<span id="tid_$inf->{textID}">$inf->{HTML}</span>}; };






#pinfo:
		
$zz{patientInfo}=qq{<div id="patientMoreInfo">	<img id="patientImage" src="/private_imgs/$Pat->{info}->{pinfo}->{patientID}patientPhoto.jpg?DoctorCode=$Pat->{info}->{pinfo}->{DoctorCode}" alt=" " style=" float:left;" />		$Pat->{info}->{pinfo}->{PatientLastName}, $Pat->{info}->{pinfo}->{PatientFirstName} $Pat->{info}->{pinfo}->{PatientMiddleInit}	<img id="morepatientinfoimage" style="max-height: 1.25em;" src="/images/aa_icons/next_icon.gif" onclick="showmorePinfo();" alt="More..."  class="showControl">	<ul id="morepinfo" style=""><li>DOB:  $Pat->{info}->{pinfo}->{DOB}</li>			<li> $Pat->{info}->{pinfo}->{PatientAddressLine1} <span style="display:block"> $Pat->{info}->{pinfo}->{PatientAddressLine2} </span></li>			<li>$Pat->{info}->{pinfo}->{PatientCity}, $Pat->{info}->{pinfo}->{PatientState} $Pat->{info}->{pinfo}->{PatientZIP}</li>			<li>H: $Pat->{info}->{pinfo}->{PatientPhone} W: $Pat->{info}->{pinfo}->{PatientWorkPhone}</li>			<li><a href="mailto: $Pat->{info}->{pinfo}->{email}">$Pat->{info}->{pinfo}->{email}</a></li>		</ul>	</div>};

#patientHHNotes
#// Patient Notes - Patient Notes are from online health histories.  We are separating Patient Notes and Restore Notes.
$zz{patientHHNotes} = $m->scomp( '/aa/getValues.html', RxN=>  $RxN, notes => ['currentIRMA.PatientNotesCurrent_Medications', 'currentIRMA.PatientNotesCycling_Questions', 'currentIRMA.PatientNotesGeneral_Information', 'currentIRMA.PatientNotesLifestyle', 'currentIRMA.PatientNotesMedical_History']);


#	'HormoneSummary',
	my %symptomLabels=@{$dbh->selectcol_arrayref(q{SELECT keyName, question FROM aa_symHormones sH JOIN hhQuestions hQ ON sH.keyName=hQ.saveValue},{Columns => [1,2]})};
	my %defLabels = ('E_deficiency'=> 'Estrogen Deficiency', 'Estriol_deficiency'=>'Estriol Deficiency', 'P_deficiency'=> 'Progesterone Deficiency',
					 'T_deficiency'=> 'Testosterone Deficiency', 'DHEA_deficiency'=>'DHEA Deficiency', 'Thyroid_deficiency'=> 'Thyroid Deficiency',
					 'Cortisol_deficiency'=> 'Cortisol Deficiency', 'Melatonin_deficiency'=>'Melatonin Deficiency', 'HGH_deficiency'=> 'HGH Deficiency',
					 'Pregnelone_deficiency'=> 'Pregnelone Deficiency', 'Aldosterone_deficiency'=>'Aldosterone Deficiency',
					 
					 'E_excess'=> 'Estrogen Dominance', 'Estriol_excess'=>'Estriol Excess', 'P_excess'=> 'Progesterone Excess',
					 'T_excess'=> 'Testosterone Dominance', 'DHEA_excess'=>'DHEA Excess', 'Thyroid_excess'=> 'Thyroid Excess',
					 'Cortisol_excess'=> 'Cortisol Excess', 'Melatonin_excess'=>'Melatonin Excess', 'HGH_excess'=> 'HGH Excess',
					 'Pregnelone_excess'=> 'Pregnelone Excess', 'Aldosterone_excess'=>'Aldosterone Excess'
					);
					
	my @hs= ('E_deficiency','E_excess','P_deficiency','T_deficiency','T_excess', 'Cortisol_excess',  'Cortisol_deficiency',  'Thyroid_deficiency'); #// 'P_excess' has been removed


        my $determineDefs = sub  {
        my $inst=shift || 0;
        my $Pat=shift;
        	my $dlist="<ul class='HormoneSummaryList'>";
			if (defined $Pat->{"HH"}[$inst]{'SymptomsTotal'}  && defined $Pat->{"HH"}[$inst]{'SymptomsDefTotal'}  ) {
        	for (my $vv=0; $vv <= @hs; $vv++ ) {	#//hormones _e or _d
        		my $def=$hs[$vv];
				if ($Pat->{HH}->[$inst]->{'SymptomsTotal'}->{$def} && $Pat->{HH}->[$inst]->{'SymptomsDefTotal'}->{$def}) { 
        		my $dP = 100*(
        		$Pat->{HH}->[$inst]->{'SymptomsDefTotal'}->{$def} / $Pat->{HH}->[$inst]->{'SymptomsTotal'}->{$def}
        		);
				if ($dP > 20) 
				{
					$dlist.=qq{<li  onmouseover='startHormoneTimer("$def", 550);' onmouseout='clearTimeout(focusHormoneTimer);'>$defLabels{$def}: <span class="symptomPoints">$dP%</span>	<ul>};


					for (my $vvv=0;$vvv <= @{$Pat->{HH}->[$inst]->{'order'}->{$def}};$vvv++)
					{
						my $key = $Pat->{HH}->[$inst]->{'order'}->{$def}[$vvv];
						if (!$key) {next;}
						my $defP = 100*(	$Pat->{HH}->[$inst]->{'Symptoms'}->{$key}{$def}	/	$Pat->{HH}->[$inst]->{'SymptomsDefTotal'}->{$def}	);
						if ($defP >= 5) 
						{
							#// do something
							$dlist.=qq{\n\t\t<li  class="$Pat->{HH}->[$inst]->{"Symptoms"}->{$key}{'keyValue'}" onclick="triggerMoreInfo('$key')" >$symptomLabels{$key}<span class="symptomPoints">($defP)</span> </li>\n};
							
						}
					}
					$dlist.="\n\t</ul>\n</li>\n";
				}	#//	else {$dlist.="<li>" . $defLabels[$def] . " is OK</li>";}
	        } }
	        }
	        if ($dlist eq "<ul class='HormoneSummaryList'>") {$dlist .='<li style="color: green; font-weight:bold;" >No issues found <br/> based on reported symptoms</li>';} 
	        $dlist.="\n</ul>";
	        return $dlist; 
	        
        };
          
        $zz{HormoneSummary}=&$determineDefs(0, $Pat);
        
#'symptomList',
$zz{symptomList} = $m->scomp( '/aa/symptomhistory.html', RxN=> $RxN, patientID => $patientID , ajax => 1);



#'LabArea',
$zz{LabArea} =
$m->scomp( '/aa/labresults.html', RxN=> $RxN, patientID => $patientID, ajax=> 1, showRanges => 1); 
 # $m->scomp('/aa/test.html');

#'MedHistoryDisplay',
#$m->out(JSON::XS->new->pretty(1)->encode($Pat->{'MedHistory'}[$Pat->{'instances'}->{$RxN}]));
my $fillMedHistory = sub {my $inst=shift; my $mhhtml=''; my $mhcnt=0; for my $index (0..@{$Pat->{'MedHistory'}[$inst]} - 1) {
my $conv =	$Pat->{'MedHistory'}[$inst][$index];

if (defined $Pat->{'MedHistory'}[$inst][$index+1] ) { 
	$conv->{'showCombinedInfo'}=$Pat->{'MedHistory'}[$inst][$index+1]{'medicationCombined'} eq 'no' ? 'showCombinedInfo' : ' ';
if (!(defined $conv->{'showCombinedInfo'})) {$conv->{'showCombinedInfo'}='showLastMed';}
} else {$conv->{'showCombinedInfo'}='showLastMed';}
$mhhtml.= $mhcnt % 2 ? &$cmListE($conv) : &$cmListO($conv); $mhcnt++;}
return $mhhtml || '<div class="cmMed even">No Hormone Therapy Reported</div>';};

$zz{MedHistoryDisplay}=&$fillMedHistory($Pat->{'instances'}->{$RxN});




#'importantInfo',

my $fillImpInfo = sub {
return
ref	  $Pat->{"HH"}->[$Pat->{'instances'}->{$RxN}] && 
	defined $Pat->{"HH"}->[$Pat->{'instances'}->{$RxN}]->{'EvaluationText'} &&
	$Pat->{"HH"}->[$Pat->{'instances'}->{$RxN}]->{'EvaluationText'}->{'importantInfo'} && 
	$Pat->{"HH"}->[$Pat->{'instances'}->{$RxN}]->{'hhstatus'} ne 'New'
?
$Pat->{"HH"}->[$Pat->{'instances'}->{$RxN}]->{'EvaluationText'}->{'importantInfo'}
:
'	<ul class="healthConditionsList">' . 
'		<li>Number of Ovaries: '.($Pat->{'HH'}->[$Pat->{'instances'}->{$RxN} || 0]->{'Status'}->{'currentIRMA.numOvaries'} || 'n/a').'</li>' . 
'		<li>Cycles in last year: '.($Pat->{'HH'}->[$Pat->{'instances'}->{$RxN} || 0]->{'Status'}->{'currentIRMA.periodsLastYear'} || 'n/a').'</li>' . 
'		<li>Still Cycling: '.($Pat->{'HH'}->[$Pat->{'instances'}->{$RxN} || 0]->{'Status'}->{'currentIRMA.menstruation'} || 'n/a').'</li>' . 
'		<li>Regular Cycles: '.($Pat->{'HH'}->[$Pat->{'instances'}->{$RxN} || 0]->{'Status'}->{'currentIRMA.regularMenstrualCycle'} || 'n/a').'</li>' . 
'		<li>Hysterectomy: '.($Pat->{'HH'}->[$Pat->{'instances'}->{$RxN} || 0]->{'Status'}->{'currentIRMA.hysterectomy'} || 'n/a').'</li>' . 
'		<li>Last Menstrual Period: '.($Pat->{'HH'}->[$Pat->{'instances'}->{$RxN} || 0]->{'Status'}->{'currentIRMA.lastPeriod'} || 'n/a').'</li>' . 

'		<li>Feels Excessive Stress: '.($Pat->{'HH'}->[$Pat->{'instances'}->{$RxN} || 0]->{'Status'}->{'currentIRMA.stress'} || 'n/a').'</li>' . 
'		<li>Weight Bearing Exercise: '.($Pat->{'HH'}->[$Pat->{'instances'}->{$RxN} || 0]->{'Status'}->{'currentIRMA.weeklyExercise'} || 'n/a').'</li>' . 
'		<li>Ideal Weight: '.($Pat->{'HH'}->[$Pat->{'instances'}->{$RxN} || 0]->{'Status'}->{'currentIRMA.idealWeight'} || 'n/a').'</li>' . 
'		<li>Cholesterol Level: '.($Pat->{'HH'}->[$Pat->{'instances'}->{$RxN} || 0]->{'Status'}->{'currentIRMA.cholesterolLevel'} || 'n/a').'</li>' . 
'		<li>Smoker: '.($Pat->{'HH'}->[$Pat->{'instances'}->{$RxN} || 0]->{'Status'}->{'currentIRMA.smoker'} || 'n/a').'</li>' . 
'		<li>Alcohol Consumption (weekly): '.($Pat->{'HH'}->[$Pat->{'instances'}->{$RxN} || 0]->{'Status'}->{'currentIRMA.alcohol'} || 'n/a').'</li>' . 
'		<li>Height: '.($Pat->{'HH'}->[$Pat->{'instances'}->{$RxN} || 0]->{'Status'}->{'currentIRMA.height'} || 'n/a').'</li>' .
'		<li>Weight: '.($Pat->{'HH'}->[$Pat->{'instances'}->{$RxN} || 0]->{'Status'}->{'currentIRMA.weight'} || 'n/a').'</li>' .
#// ect
'	</ul>';
};

$zz{importantInfo}=&$fillImpInfo;

#'medicalHistoryArea',
$zz{medicalHistoryArea} = $m->scomp('/aa/medicalHistoryArea.html', RxN => $RxN, patientID => $patientID, ajax => 1, qType => $Pat->{'instances'}{'all'}[$Pat->{'instances'}{$RxN}]{'qType'});


#'recommendations_Area',

my %obo;

my %Recs;
my %hder=(
	'yes' => { 'yes' => 'If patient followed protocol & is still cycling', 'no'=> 'If patient followed protocol & is not cycling', 'NULL' => 'If patient followed protocol'},
	'no'=> {'yes'=> 'If patient did not follow protocol & is still cycling', 'no'=> 'If patient did not follow protocol & is not cycling', 'NULL'=> 'If patient did not follow protocol'},
	'NULL'=> {'yes'=> 'If patient is still cycling', 'no'=> 'If patient is not cycling'}
	);

my $showRecommendations = sub {
my ($nrecs, $crecs)= @_;


my $recHTML='';
my $numOfRecs=0;
if ($nrecs) {$Pat->{info}->{Recommendations}=$nrecs;}
unless (defined $Pat && defined $Pat->{"info"}{"Recommendations"} ) {  return "No Recommendations for this Patient"; }
if (!$crecs) {  $crecs=$Pat->{info}->{Recommendations};}
 for (my $o=0; $o < @mthree; $o++) {
		my $opts = $mthree[$o];
	 if (!$crecs->{$opts}) { next;}
	for (my $v=0; $v < @mthree; $v++) {
		my $val = $mthree[$v];
	 if (!$crecs->{$opts}{$val}) { next;}
		my $sectName=$opts . '_'. $val;
		 if ($hder{$opts}{$val}) {
			$recHTML.='<h4  onclick="$(\'s' . $sectName . 'n\').show();">' . $hder{$opts}{$val} . ' <span class="showControl" style="color:grey; font-size:smaller;" >(Click to view)</span></h4>';
 }
$recHTML.='<div   id="s' . $sectName . 'n" style="display:' . ($hder{$opts}{$val} ? 'none' : 'block') . '; " class="recSectionGroup" >';
	 if ($hder{$opts}{$val}) {	
		$recHTML.='<div class="showControl" style="float:right; color: #428BA5; text-align:right; text-decoration: underline;" onclick="$(\'' .  $sectName . '\').hide();">Hide</div>';
	 }
	my $lastCat;
	for (my $r=0; $r < @{$crecs->{$opts}{$val}} ; $r++) {
		my $rec= $crecs->{$opts}{$val}[$r];
		if ($rec->{"ID"}) {
			if ($lastCat ne $rec->{'medCategory'} && $lastCat) {$recHTML.='<div class="recBreaker"></div>';}
			$recHTML.=&$recTemplate($rec);
			$numOfRecs++;
			$lastCat=$rec->{'medCategory'};
		}
	}
	$recHTML.='</div>';

	}
	}	
	
	if ($numOfRecs==0) {return '<div>No Recommendations at this time</div>';}
	return $recHTML;
};




$zz{recommendations_Area} = &$showRecommendations(undef, $Pat->{'HH'}[$Pat->{'instances'}{$RxN}]{'Recommendations'});





#'rxTemplateArea'

$zz{rxTemplateArea} = $m->scomp('/aa/rxtemplatearea.html', RxN =>  $RxN, patientID =>  $patientID,  ajax =>  1, qType =>  $Pat->{'instances'}{'all'}[$Pat->{'instances'}{$RxN}]{'qType'}, print =>  1);













# RxHistory


my $rxhist_row =sub() {my $med=shift; return qq{<div id="RxHistory_$med->{rxhist_num}" class="$med->{rwClass} rxDrop" ><span>$med->{DrugName}</span><span>$med->{QuantityDisp}</span><span>$med->{DatePrescribed}</span><span>$med->{DateFilled}</span><span>$med->{RemainingRefills}</span><div class="sig">$med->{Sig}</div></div>};
};

my $showRxHistory = sub() {
my $recHTML='';
unless( $Pat->{"info"}{"RxHistory"}) {  return "<tr><td colspan='6'>No Prescriptions on file for this Patient</td></tr>"; }
 for (my $o=0; $o < 6; $o++) {
 	my  $rec=$Pat->{"info"}{"RxHistory"}[$o];
 	next unless $rec;
 	$rec->{"rxhist_num"}=$o;
 	$rec->{"rwClass"}= $o % 2 ? 'odd' : 'even';
 	$recHTML.=&$rxhist_row($rec);
 	}
	return $recHTML;
};

$zz{rxhistory}=qq{
			<div class="rxHist">
    			<div class="theader">
    				<span>Drug</span>
    				<span>QTY</span>
    				<span>Prescribed</span>
    				<span>Filled</span>
    				<span>Refills</span>
    			</div>
    		</div>
    		<div id="rxhist_tbody" class="rxHist">} . (&$showRxHistory || '<h4>No prescriptions on file.</h4>') . q{</div>};

################################

my $fillSection = sub {
	my ($sect, $append, $inst, $storeIn) = @_;
	if (!$inst) {$inst=$Pat->{'instances'}{$RxN};}

if (!$sect) {
#// FIX
#//defaults:

if ($storeIn eq "diagnosesArea") { $sect='currentIRMA.commentsDiagnoses';
#&$fillSection(['currentIRMA.commentsDiagnoses'], 0, $Pat->{instances}->{$RxN}, 'diagnosesArea');
}

if ($storeIn eq "TherapyEvaluation") { $sect='currentIRMA.commentsTherapyEvaluation';
#	&$fillSection(['currentIRMA.commentsTherapyEvaluation'], 0, $Pat->{instances}->{$RxN}, "TherapyEvaluation");
	}

if ($storeIn eq "FurtherTherapyConsiderations") { $sect = 'currentIRMA.commentsDiagnosticConsiderations';
#	&$fillSection(['currentIRMA.commentsDiagnosticConsiderations'],0, $Pat->{instances}->{$RxN}, 'FurtherTherapyConsiderations');
}

if ($storeIn eq "AdditionalTesting") { $sect = 'currentIRMA.commentsAdditionalTesting';
#	&$fillSection(['currentIRMA.commentsAdditionalTesting'],0,$Pat->{instances}->{$RxN}, 'AdditionalTesting');
	}
if ($storeIn eq "SelfCareNotes") { $sect = 'currentIRMA.commentsDietLifestyle';
#	&$fillSection(['currentIRMA.commentsDietLifestyle'],0,$Pat->{instances}->{$RxN}, 'SelfCareNotes');
	}
if ($storeIn eq "LabNotes"){
#// WRONG!	fillSection(['currentIRMA.commentsDiagnoses','currentIRMA.commentsDiagnosticConsiderations'], 0, $Pat->{instances}->{$RxN}, "diagnosesArea");
	}
 return unless $sect;} 


						
	my $aHTML='';
	if ($sect eq 'currentIRMA.commentsTherapyEvaluation') {
	#//hash

	my @sortedSections=('generalLogic', 'Estradiol', 'Progesterone', 'Testosterone', 'DHEA', 'Cortisol','NTx');
#// CHANGE: we need to check Pat["HH"][inst]['TextLogic'][sect] and add to sortedSections


	for my $ss (@sortedSections) {
		my $sLI='';

	unless ($Pat->{HH}[$inst]{'TextLogic'}{$sect}{$ss} ) 		{ 	next  ;}
		#// var to store into

		#//array
		for my $lid (@{$Pat->{HH}[$inst]{'TextLogic'}{$sect}{$ss}}) {

			#//hash
			for my $tid (keys %{$lid}) {
				my $iHTML='';
				for my $ttid (@{$lid->{$tid}}) {
				#// we just reused reportDiagnosesTemplate over and over...


				$iHTML.=&$reportEvalTextTemeplateInner($ttid);
					$lid->{'logicID'}=$ttid->{'logicID'};
					}
					$lid->{'alltext'}=$iHTML;
					#//it can be found else where, but it is here too
			}
		$sLI .=	&$reportEvalTherapyTemeplate($lid) || '';
		}
		
		$aHTML.=&$reportEvalTherapyOuterTemeplate({alltext => $sLI, logicID=> $ss});
	}
	}	else{

						
			for my $ss (sort keys %{$Pat->{"HH"}[$inst]{'TextLogic'}{$sect}}) {

			#//array
			for my $lid (@{$Pat->{"HH"}[$inst]{'TextLogic'}{$sect}{$ss} }){

					#//hash
					for my $tid ( keys %$lid) {

						my $iHTML='';
							for my $ttid (@{$lid->{$tid}}) {
						#// we just reused reportDiagnosesTemplate over and over...
						$iHTML.= &$reportEvalTextTemeplateInner($ttid); 
							$lid->{'logicID'}=$ttid->{'logicID'};

							}
							$lid->{'alltext'}=$iHTML;

							#//it can be found else where, but it is here too

				}

					$aHTML.=&$reportEvalTextTemeplate($lid);

	}	}	}



		#if($append) {$(storeIn).innerHTML+=aHTML;} else {$(storeIn).innerHTML=aHTML;}
		return $aHTML;
		
};






########################################




my $fillEvaluationArea = sub {
	my ($sects, $inst, $notesonly, $scts, $fillSection)= @_;

	#// 2009-01-09:  notesonly option added to fill notes when New
	
	if (defined $Pat->{HH}[$inst] ) {
		if (defined $Pat->{HH}[$inst]{'EvaluationText'} &&  ($Pat->{HH}[$inst]{'hhstatus'} ne 'New' || $notesonly)) {
			for my $secti (@{$sects}) {

			if ( defined $Pat->{"HH"}[$inst]{'EvaluationText'}{$secti}) {
					$scts->{$secti} = $Pat->{"HH"}[$inst]{'EvaluationText'}{$secti};
					} else 	{ $scts->{$secti} =   &{$fillSection}(undef, 0, $Pat->{'instances'}{$RxN}, $secti);
					}
		}
		} else { 
			for my $secti (@{$sects}) {
				$scts->{$secti} = &$fillSection(undef, 0,   $Pat->{'instances'}{$RxN}, $secti); 
					} 
				}
		return $scts;
	}
};
########################################


#'MedicationsNotes',

#'diagnosesArea',

#'TherapyEvaluation',

#'FurtherTherapyConsiderations',

#'AdditionalTesting',

#'SelfCareNotes',

#'LabNotes',
#'SymptomNotes',
#'HealthStatusNotes',
#'TherapyEvaluationNotes',



my $br1 = &$fillEvaluationArea([('diagnosesArea','TherapyEvaluation','SelfCareNotes','AdditionalTesting', 'FurtherTherapyConsiderations',
	'TherapyEvaluationNotes')], $Pat->{'instances'}{$RxN}, undef, \%zz, $fillSection);

for my $k (keys %$br1) {$zz{$k}=$br1->{$k} ? $br1->{$k} : undef;}


my $br2=&$fillEvaluationArea([(
	'LabNotes',
	'SymptomNotes',
	'HealthStatusNotes',
	'DiagnosesNotes',
	'MedicationsNotes'
)],$Pat->{'instances'}{$RxN}, 1, \%zz, $fillSection); #//notesonly
for my $k (keys %$br2) {$zz{$k}=$br2->{$k} ? $br2->{$k} : undef;}

my @sects2=('patientInfo',
'patientHHNotes',
'HormoneSummary',
'symptomList',
'LabArea',
'MedHistoryDisplay',
'MedicationsNotes',
'diagnosesArea',
'importantInfo',
'medicalHistoryArea',
'TherapyEvaluation',
'FurtherTherapyConsiderations',
'AdditionalTesting',
'SelfCareNotes',
'recommendations_Area',
'LabNotes',
'SymptomNotes',
'HealthStatusNotes',
'TherapyEvaluationNotes',
'rxTemplateArea');

# now save, update status, put into Queue
my $junk;
 $pdfid = $m->comp({store => \$junk}, '/aa/saveAll.html', savePDF => 'saveonly', RxN=>$RxN, %zz);
$m->scomp('/aa/saveValue.html', arg => 'setStatus', RxN=>$RxN, val=>'Complete');
$msg.=qq{<div>$RxN Ready!</div>};
} #override
} #if RxN

</%init>
<form method="post">
<% $msg %>
RxN: <input tabindex="1" onload='this.focus();' type="text" name="RxN" autocomplete="off" value="<% $RxN %>" />
</form>
<div>
<form method="post" action='/fileStorage/<% $RxN %>.pdf' target="_blank">
 <input type="hidden" name="id" value="<% $pdfid %>" />
 <input type="submit" value="Print <% $RxN %>" />
</form>
</div>
<%doc>
<pre>
<% join(', ' , sort keys %zz) %>
<% join(', ' , sort @sects2) %>
<% JSON::XS->new->pretty(1)->encode(\%zz) %>


</pre>
</%doc>