<%attr>
topleft => 'none'
bottomleft => 'none'
</%attr>
<div id="DiagnosesNotes" class="evaluation editable evaluationNotes"></div>
<div id="diagnosesArea" class="evaluation editable"></div>
<%doc>







#args
$RxNumber => '8580488'
#/args

##init
#### BEGIN EAV-Code ####
my $logicstmt=qq {SELECT RestoreLogicTable2.rowID AS Log1
  FROM currentIRMA AS T 
LEFT OUTER JOIN
 RestoreLogicTable2
    ON RestoreLogicTable2.keyName = T.keyName  
	 AND RestoreLogicTable2.keyValue = T.keyValue 
WHERE T.rowID=?
GROUP BY
 T.rowID, RestoreLogicTable2.rowID         
HAVING COUNT(RestoreLogicTable2.rowID) = 
( SELECT COUNT(*) FROM RestoreLogicTable2 WHERE RestoreLogicTable2.rowID=Log1 		GROUP BY RestoreLogicTable2.rowID)
};
my $ncntr;

my $rowIDs=$dbh->selectcol_arrayref($logicstmt, undef, ($RxNumber));
# general comments:
#push(@$rowIDs, @{$dbh->selectcol_arrayref(qq{SELECT rowID FROM RestoreLogicTable2 WHERE keyName='currentIRMA.generalLogic'})});

	                       # need to get the comments from textStorage...
	                       my $txtStorageStmt = qq{SELECT RLC.keyName AS section, textLogic.commentSection AS subSection,   textLogic.commentOrder AS cOrder,  SentenceOrder, textLogic.logicID AS logicID, textLogic.textID, commentText AS text FROM textStorage
	                       							 JOIN textLogic ON textLogic.textID=textStorage.textID 
										JOIN LogicComments RLC ON logicID=RLC.keyValue
	                       							 WHERE textLogic.active='on' AND RLC.rowID IN (}.join(',',('?')x@$rowIDs).q{) 
	                       ORDER BY SentenceOrder
	                       };
	                       $ncntr++;
	                       
	                                my $text=$dbh->selectall_hashref($txtStorageStmt, [qw(section subSection cOrder SentenceOrder logicID textID)], undef, (@$rowIDs) );
	                                	my %cH;
	                                	for my $sect (keys %{$text}){
	                                		for my $subSect (keys %{$text->{$sect}}) {
	                                			for my $cOrder (sort keys %{$text->{$sect}->{$subSect}}) {
	                                				for my $SO (keys %{$text->{$sect}->{$subSect}->{$cOrder}}) {
	                                					for my $lid (keys %{$text->{$sect}->{$subSect}->{$cOrder}->{$SO}}) {
	                                					my $sarr;
		                                					for my $tid (keys %{$text->{$sect}->{$subSect}->{$cOrder}->{$SO}->{$lid}}) {
		                                					push(@$sarr, $text->{$sect}->{$subSect}->{$cOrder}->{$SO}->{$lid}{$tid});
	                                			}
		                               			push(@{$cH{$sect}->{$subSect}}, {$lid => $sarr});
	                                		}
	                                	}
	                                	}
	                                	}
	                                	}

use Data::Dumper;
 if ($ARGS{dump}) { 
 					$m->print('<pre>'.
 					Data::Dumper::Dumper(\%cH).'</pre>'); 

 					$m->print('<pre>'.
 					Data::Dumper::Dumper($text).'</pre>'); 

  return;}
my $aql =q{
SELECT DISTINCT  commentText AS ctext
, textLogic.logicID AS logicID, textLogic.textID, RLC.rowID, RLC.keyName
 FROM textStorage
	                       							 JOIN textLogic ON textLogic.textID=textStorage.textID 
										JOIN RestoreLogicComments RLC ON logicID=RLC.keyValue
	                       							 WHERE textLogic.active='on'  
ORDER BY RLC.keyName
};
	                       							 my $at=$dbh->selectall_arrayref($aql);
	                       							 my $lt = $dbh->selectcol_arrayref(q{SELECT rowID, rowID FROM LogicComments},  { Columns=>[1,2] });
	                       							  my %hash = @$lt;


######################### /init





	                       
	                       {sect: sect:
	                       		{
	                       			subSect: {
	                       				[logicID:[{textID: textID, text: text}]]
	                       			}
	                       		}
	                       }
	                       
	                                

	                                
	                                
	                                
																	my @sortedSections=('generalLogic', 'Estradiol', 'Progesterone', 'Testosterone', 'DHEA', 'Cortisol','NTx');
																						my %seen; # lookup table
																						my @aonly;# answer
																						# build lookup table
																						@seen{@sortedSections} = ();
																						
																						foreach my $item (sort keys %{$text}) {
																						    push(@sortedSections, $item) unless exists $seen{$item};}
																						my $linum=1;
																	foreach my $key (@sortedSections) { 
																	next unless $text->{$key};
																		my @li;
																		foreach my $cOrder (sort keys %{$text->{$key}}) { 
																			foreach my $logicID (sort keys %{$text->{$key}->{$cOrder}}) { 
																				my @sortedkeys = sort { $text->{$key}->{$cOrder}->{$logicID}->{$a}->{SentenceOrder} <=> $text->{$key}->{$cOrder}->{$logicID}->{$b}->{SentenceOrder} } keys %{$text->{$key}->{$cOrder}->{$logicID}};
																				foreach my $skey (@sortedkeys) {push(@li, $text->{$key}->{$cOrder}->{$logicID}->{$skey}->{text});}
																			}
																		}
																		if ($key eq 'generalLogic')	{
																		$commenthash{"currentIRMA.$commentCol"}.=  qq{  @li\n\n}; }
																		else {$commenthash{"currentIRMA.$commentCol"}.= qq{$linum. @li\n\n}; $linum++;}
																	}
																}

			foreach my $rowID (@$rowIDs)   {

								my $setValsStmt = qq{SELECT keyName, keyValue FROM RestoreLogicSetKeys WHERE rowID=?};
								my %setValsHash = @{$dbh->selectcol_arrayref($setValsStmt, { Columns=>[1,2] }, ($rowID))};
								@commenthash{keys %setValsHash} = values %setValsHash;
			}
	
	                foreach my $col (@commentCols) {
                        if ($commenthash{"currentIRMA.$col"}) {$commenthash{"currentIRMA.$col"}=qq{\n$commenthash{"currentIRMA.$col"}\n};}
                }

# we will use this to determine labs when available							RD::Logic->reportLabCalc($dbh, RxNumber => $RxNumber, ch => \%commenthash); #requires some items of ch, no setting though
# lab analysis could go to E2Excess => aa_symHormones, etc.  If labs were not available it get skipped.
                $commenthash{"$table0.RxNumber"}=$RxNumber;






% foreach my $ax () { #} (@$at) {
% next if $hash{$ax->[3]};
<div id="<% $ax->[3] %>"><% $ax->[4] %>:<% $ax->[3] %><div onclick="saveID('<% $ax->[3] %>'); "  style="border: 1px solid gray; font-family:  'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';">
	<pre style="cursor:pointer;"><% $ax->[0] %></pre>
</div></div>
% }









<script>
function saveID(id){
	new Ajax.Request('/1.html', {  parameters:  { rowID:id },   onSuccess: function(tr) {$(id).style.display='none';}
});

return true;
}
</script>


</%doc>