<%attr>
topleft => '/atopleft.mas'
</%attr>
<%args>
$RxNumber => undef
</%args>
<%init>

</%init>
<style>
#ACToolbar {position:fixed; top:1em; background-color: #555555; width: 80%;  }
</style>
<div id="userAgentWarning" style="font-weight:bold; color:red;"><% $ENV{'HTTP_USER_AGENT'} =~ m/WebKit/ ? '' : 'Could you be using the wrong browser?' %></div>

% #<& '/aa/toolbar.html' &>
% # <div id="ACToolbar"><& '/aa/evalACBar.html' &></div>
<& '/aa/patientselector.mas', val => $session{RxNumber} || $session{word} &>
% if ($session{userType} eq 'cs' ) {
<& '/aa/evaluationEditor.html' &>
% }
<div id="loading" onclick="this.hide();" style="position:fixed; z-index: 9999; font-size: 3em; top:45%; left: 45%; display:none; color:white; font-weight:bold; -webkit-border-radius: 1.5em; padding: 2em; background-color: black; opacity: 0.75;">Loading...</div>
<div id="pChartArea" style="display:none;">

<div id="patientInfo"></div>
<div id="SymptomsAndLabsArea">
	<div style=" float: left;">
		<ul id="symsorlabs" class="lp_tabs">  
			<li class="tab"><a href="#symptomList">Symptoms</a></li>  
			<li class="tab"><a href="#LabArea">Labs</a></li>  
		</ul>  
		<div class="someContainer " style="overflow: visible; max-width: 100%;">
			<div id="symptomList" ></div>
			<div id="LabArea" ></div>
		</div>
	</div>
	<div id="hormoneSummary" style="float:left;">
		<& '/aa/hormoneSummary.html', RxNumber => $RxNumber, columns => 2 &>
	</div>

	<div class="flotrChart" style="float:left">
		<& '/charts/createFlotr.html', id=> 'flotrcontainer3', header => 'Labs', onsubmit => 'labChart' &>
	</div>
	<div class="flotrChart" style="float:left">
		<& '/charts/createFlotr.html', id=> 'flotrcontainer2b', header => 'Symptoms' &>
	</div>
</div>

<div id="LabNotes" title="Lab Notes" class="evaluation editable evaluationNotes"></div>
<div id="SymptomNotes" title="Symptom Notes" class="evaluation editable evaluationNotes"></div>
<div id="curMedContainer" style="float:left;">
	<ul id="curMedList"></ul>
	<br style="clear:both;" />
	<div id="MedHistoryDisplay"></div>
</div>
	<div id="MedicationsNotes" class="evaluation editable evaluationNotes"></div>
	<br style="clear:both;" />
<& '/aa/diagnoses.html' &>
<& '/aa/importantinfo.html' &>
<div id="HealthStatusNotes" title="Health & Lifestyle Notes" class="evaluation editable evaluationNotes"></div>
<& '/aa/hhNotes.html' &>
<div style="float:left;">
	<& '/aa/recommendations.html' &>
</div>
<div style="float:left;">
	<& '/aa/rxhistory.html' &>
</div>
<br style="clear:both;" />
% if ($session{userType} eq 'doctor' || $session{doctorMode}) {
<div style=" float: left;">
	<ul id="rxortests" class="lp_tabs">  
		<li class="tab"><a href="#orderRxs">Rx Pad</a></li>  
		<li class="tab"><a href="#orderTests" >Order Testing</a></li>  
	</ul>  
	<div class="someContainer " style="overflow: visible; max-width: 100%;">
		<div id="orderRxs" >
			<& '/aa/rxpadheader.html' &>
			<& '/aa/rxpadbody.html' &>
		</div>
		<div id="orderTests" >
			<& '/aa/labtesting.html' &>
		</div>

	</div>
</div>
% } if ($session{userType} eq 'cs') {
</div><div>
 <& '/aa/evaluationRecommendor.html' &>

% }
% # <div style="float:left;"><& '/aa/recentinfo.html' &></div>


</div>

<& '/aa/aa.js' &>
<script>
// activate the lp_tabs:
$A(document.getElementsByClassName('lp_tabs')).each(function(tab_group){      new Control.Tabs(tab_group, {activeClassName: 'current'});  });  
var clearHTML=$('pChartArea').innerHTML;
</script>
