<%attr>
ajax => 1
</%attr>
<%args>
$lID => undef
</%args>
<%init>
my $obj=$dbh->selectall_hashref(q{select DISTINCT rlt.keyName, rlt.keyValue from `rd3`.`RestoreLogicComments` rlc JOIN RestoreLogicTable2 rlt ON rlc.rowID=rlt.rowID where rlc.`keyValue` = ?  limit 100}, ['keyName', 'keyValue'], undef, ($lID));
#$m->out('<pre>'.JSON::XS::encode_json($obj).'</pre>');



if ($ARGS{textID} && $ARGS{update}) {
$dbh->do(q{UPDATE textStorage SET commentText=?, commentHTML=? WHERE textID=? LIMIT 1},undef, ($ARGS{commentText}, $ARGS{commentHTML}, $ARGS{textID}) );
return;
}
my $txts=$dbh->selectall_hashref(q{SELECT tl.logicID, tl.textID, tl.SentenceOrder, ts.commentText, ts.commentHTML FROM textLogic tl JOIN textStorage ts ON tl.textID=ts.textID WHERE active='on' AND tl.logicID=?
ORDER BY logicID, SentenceOrder }, [1,2], {}, ($lID));






</%init>
<ul id="logicTriggers">
% for my $k (sort keys %$obj) { my $ke=$k; $ke=~s/^(:?currentSymptoms|currentIRMA)\.//gi;
	<li><% $ke %>: [<% join(', ', sort keys %{$obj->{$k}}) %>]</li>
% }
</ul>
<div id="logicText"></div>
<div id="editLText"></div>




% for my $logicID (keys %$txts) {
<div style="border-style:groove;">
<ul>
% for my $textID (keys %{$txts->{$logicID}}) {
	<li><% $txts->{$logicID}->{$textID}->{commentHTML} %></li>
% } 
</ul>
% for my $textID (keys %{$txts->{$logicID}}) {
<form name="form<% $textID %>" method="POST" onsubmit="return submitThisText(this, $('div<% $logicID.$textID %>')); return false">
<input type="hidden" name="logicID" value="<% $logicID %>" >
<input type="hidden" name="textID" value="<% $textID %>" />
<input type="hidden" name="update" value="<% $logicID %>" />
<div id="div<% $logicID.$textID %>" onfocus="$('msg<% $logicID.$textID %>').innerHTML='Ready to Update';" contentEditable="true" class="editable"><% $txts->{$logicID}->{$textID}->{commentHTML} %></div>
<div>
	<input type="submit"  value="     Save     " onclick="" class="button" />
	<span id="msg<% $logicID.$textID %>"></span>
</div>
</form>
% }
</div>
% }
<script>
activateCEs();
</script>