<%attr>
ajax => 1
</%attr>
<%args>
$RxN
</%args>
<%init>
# my $patientID=RD2::gpfr($dbh, $RxN);

 my $ptmsqlstmt=q{SELECT CONCAT_WS(' ', medicationName, medicationDosage, medicationDosageForm, medicationAmount, medicationTime, medicationFrequency) AS med,  medicationNotes FROM currentMedication_patients WHERE RxNumber=?};
</%init>
%  if	(my $rows=$dbh->selectall_arrayref($ptmsqlstmt, undef, ($RxN))) {
	<ul>
% for my $med (@$rows) {
		<li><% $med->[0] %><div><% $med->[1] %></div></li>
% }
	</ul>
% }