<%init>
# return if $m->cache_self(key => 'FastRecs_052007', expires_in => '12 hours');
my %meds;
# = (
#	cats => {
#		meths => {
#			Dose => (),
#			Instructions => ()
#			}
#	}
# );


#my $medCategory=$dbh->selectcol_arrayref(q{SELECT DISTINCT Medication FROM quickMeds});
#my $medCategory=$dbh->selectcol_arrayref(q{SELECT DISTINCT medType FROM DoseSigLogic2});
my $medCategory = [('BiEst', 'Estriol', 'Estradiol', 'Progesterone', 'Testosterone','DHEA','TriEst','Pregnenolone','Thyroid','Other', 'Systemic Estriol', 'Estriol Facial Serum', 'Methyltestosterone', 'Aplia','Auto-Ship', 'E2 + E3')];
my @AutoSuggests;

foreach my $cat (@{$medCategory}) {
				my $methos = $dbh->selectcol_arrayref(q{SELECT DISTINCT Method FROM quickMeds WHERE Medication=? OR medCategory=? OR medType=?}, undef, ($cat, $cat, $cat));
				foreach my $meth (@{$methos}) {
					my $doses = $dbh->selectcol_arrayref(q{SELECT DISTINCT Dose FROM  quickMeds WHERE (Medication=? OR medCategory=? OR medType=?) AND Method=?}, undef, ($cat, $cat,$cat, $meth));
					my $ins = $dbh->selectcol_arrayref(q{SELECT DISTINCT Instructions FROM  quickMeds WHERE (Medication=? OR medCategory=?  OR medType=?) AND Method=?}, undef, ($cat, $cat ,$cat , $meth));
					$meds{$cat}->{$meth}->{Dose}=$doses;
					$meds{$cat}->{$meth}->{Instructions}=$ins;
					}
					}


$meds{Other}={'Sublingual Tablet'=> undef,'Capsule-In Oil' => undef,'Sublingual Drops' => undef,'Cream-Transdermal' => undef,'Gel' => undef,'Patch-Transdermal' => undef,'Chewable Tablet' => undef,'Suppository-Vaginal' => undef,'Capsule-Powder' => undef,'Even Release Tablet' => undef,'Cream-Vaginal' => undef,'Cream-Facial' => undef,'SR Tablet' => undef,'Sublingual Drops' => undef,'Vaginal Tablet' => undef,'Other' => undef,'Sustained Release Capsule' => undef,'Discontinue' => undef};


#### Added to manipulate medCategory
								    my %medCats = (						
													'Message' => 'Message',
												    'OTC' => 'OTC',
												    'Aplia' => 'Aplia',

								    				"DHEA" => "DHEA",
													"Estradiol" => "Estrogen",
													"Vaginal Estradiol" => "Vaginal Estrogen",
													"Estriol" => "Estrogen",
													"Systemic Estriol" => "Estrogen",
													"BiEst" => "Estrogen",
													"TriEst" => "Estrogen",
													"Progesterone" => "Progesterone",
													"Systemic Progesterone" => "Progesterone",
													"Progesterone Cream" => "Progesterone",
													"Testosterone" => "Testosterone",
													"Methyltestosterone" => "Testosterone",
													"Vaginal Testosterone" => "Vaginal Testosterone"
												);





# added per Kali:

my @oIns= (
q{Apply 1 pump (=1/2 Gm = 1/8 tsp) daily},
q{Apply 2 pumps (=1 Gm = 1/4 tsp) daily},
q{Take 1 capsule every morning.},
q{Apply 1 pump (=1/2 Gm = 1/8 tsp) every morning.},
q{Apply 2 pumps (=1 Gm = 1/4 tsp) every morning.},
q{Take 1 capsule daily at bedtime},
q{Apply 1 pump (=1/2 Gm = 1/8 tsp) daily at bedtime},
q{Apply 2 pumps (=1 Gm = 1/4 tsp) daily at bedtime},
q{Apply 1 pump (=1/2 Gm = 1/8 tsp) daily on days 1-21 of cycle},
q{Apply 2 pumps (=1 Gm = 1/4 tsp) daily on days 1-21 of cycle},
q{Apply 1 pump (=1/2 Gm = 1/8 tsp) daily on days 1-21 of cycle OR use 3 weeks on/1 week off},
q{Apply 2 pumps (=1 Gm = 1/4 tsp) daily on days 1-21 of cycle OR use 3 weeks on/1 week off},
q{Apply 1 pump (=1/2 Gm = 1/8 tsp) in the morning on days 1-21 of cycle},
q{Apply 2 pumps (=1 Gm = 1/4 tsp) in the morning on days 1-21 of cycle},
q{Apply 1 pump (=1/2 Gm = 1/8 tsp) in the morning on days 1-21 of cycle OR use 3 weeks on/1 week off},
q{Apply 2 pumps (=1 Gm = 1/4 tsp) daily on days 1-21 of cycle OR use 3 weeks on/1 week off});


</%init>
% # Add modalbox:
<script src="/js/modalbox/modalbox.js"></script>
<link rel="stylesheet" type="text/css" href="/js/modalbox/modalbox.css">

<style type="text/css">
	#editRecsArea {-webkit-border-radius: 1em; border: solid medium grey; }
	#currentEvalRecommendtions {max-width: 50%; min-width:15em;  -webkit-border-radius: 1em; padding: .25em .75em .25em .75em; margin: .5em 1em .5em 1em; background-color: #E6F8FF; min-height: 25em; float: left;}
	
	#evalRecArea {max-width: 50%; min-width:15em;  min-height: 15em; float: left;}
	.eraDraggable {-webkit-border-radius: 1em; background-color: #C5E1FF; padding: .25em .75em .25em .75em; margin: .5em 0 .5em 0; cursor:pointer;}
	.eraInstructions {color: #525252; min-height: .75em;}
	.editor_field {min-width: 15em;}
	#mmedsig {min-width: 30em;}
	.eraOptions {float:right;}
	.eraOptions img {max-height: 1.25em;}
</style>
<script>

		function qm_resetForm(){
		putAway();
		$('displayMethods','displaySigs').invoke('show');
			return;}
		
		
		
        function checkMed(f) { 
                function checkMe(me) {if (f[me].value) {return true;} 
                		else {
                			if(me=="Dose" && f['Method'].value == "Discontinue") {return true;}
                		 	else {alert("No value for: "+me); return false;}
                		 }
                		 }
        		var elms = new Array('Medication', 'Method', 'Dose');
        		if (elms.every(checkMe)) {return true;}
				return false;

        		 // 'Instructions', 'methodPreference', 'ifFollowedProtocol', 'ifCycling', 'andor'
        		         		}
        		         		
		function putAway() {  // broken
	var divs= new Array();
	divs[0]='qm_Methods';
	divs[1]= 'qm_Doses';
	divs[2]= 'qm_Instructions';
	for ( var j=0, len=divs.length; j<=len; ++j ){
	var div=document.getElementById(divs[j]);
	if (div) {
      var items = div.getElementsByTagName("div");

      var i=items.length;
      var item;

      do

      {

        item = items[i];
		if (item){
         //Do something with item
        item.style.display="none";}

      }

      while (--i>=0);
}
}
}






function qm_showMethods(cat) {



				var mcs=$('medCatSel');
	$('qm_'+cat).show(); qm_displayMed(cat, 'Medication');
				
				
				  var elOptNew = document.createElement('option');
				  elOptNew.text = jsmedCats[cat];
				  elOptNew.value = jsmedCats[cat];

				mcs.add(elOptNew, null); // standards compliant; doesn't work in IE
				mcs.selectedIndex = mcs.options.length-1;
				mcs.value=jsmedCats[cat];
				mcs.options[mcs.selectedIndex].text=jsmedCats[cat];
				mcs.options[mcs.selectedIndex].value=jsmedCats[cat];
	}




				var qm_curr=new Object();
function qm_displayMed(med, sect) {
//	set		Medication, method, dose
				var dspMedRow = $('dspMedRow');
				if (med=='Other') {prompt_qm_mod(med, sect); return false;}
				qm_curr[sect] = med;
				//add now
				//$('qm_form').submit();
				// $RxN,  $medDose, $ARGS{Instructions}, $ARGS{Medication}, $ARGS{Medication}, $mc, $pc
}


function appendOptionLast(id, val)
{
  var elOptNew = document.createElement('option');
  elOptNew.text = val;
  elOptNew.value = val;
  var elSel = $(id);
  try {
    elSel.add(elOptNew, null); // standards compliant; doesn't work in IE
  }
  catch(ex) {
    elSel.add(elOptNew); // IE only
  }
}
function selectListItem(list, i) {
list.selectedIndex=i;
alert(list); alert(i);
  if (list.selectedIndex != i) list.selectedIndex = i;
}


function qm_showDoses(cat, meth) {	
	$('displayDoses').show();
	 $(cat+'_'+meth).show();
									 	qm_displayMed(meth, 'Method');

								}
function qm_showIns(cat, meth, dose){
document.getElementById(cat+'_'+meth+'_Instructions').style.display="block"; qm_displayMed(dose, "Dose");}
function addQMed(cat, meth, dose, Instruction){putAway(); }

function promptSig(med) {
				$('qm_form').show();
				qm_curr['Instructions']=med;
				$('mmedsig').value=med;
				
				}
var jsmedCats = new Object;
% for my $vl (keys %medCats) {
	jsmedCats['<% $vl | h %>']='<% $medCats{$vl} | h %>';
% }

</script>

<span class="showControl" onclick="updateERARecs({ RxN:gRxN, func: 'getonly'});" style="font-size:1em; color: silver">Update Recommendations <img src="/images/refreshicon.png"  style="display: inline;"/></span>

<span><h4  class="showControl" onclick="showMoreInfo( 'editRecsArea', 'eRecsImg'); $('qm_form').reset(); " >Edit Recommendations<img src="/images/buttons/next_icon.png" id="eRecsImg" style="margin: 0 .5em; max-height: 1.75em; position:relative; top: 0.5em;" alt="More..." /> </h4></span>

<div id="editRecsArea" style="display:bnone;">
	<div id="currentEvalRecommendtions" ></div>
	<div id="evalRecArea">
		<div id="evalRecommendationsForm">

				<div id="floatingRecs">
				<table><tr><td>
				<span width="40%">
	<div id="qm_categories">
% foreach my $cat (@{$medCategory}) {
		<span style="font-weight:bold; cursor: pointer;" onclick=" qm_resetForm(); qm_showMethods('<% $cat %>');"><% $cat %></span><br/>
% }
	</div xid="cat">

<hr/>
<div id="qm_Methods">
<span style="font-weight:bold; cursor:pointer; color:#5E9AB1;" onclick="$('displayMethods').show();;">Methods:</span>
<div id="displayMethods">
% foreach my $cat (@{$medCategory}) {
		<div id="qm_<% $cat %>" style="display:none;">
			<span style="font-weight: bold;"><% $cat %>:</span><p/>
% foreach my $meth (sort keys %{$meds{$cat}}) {
		<span style="font-weight:bold; cursor: pointer;" onclick="$('displayMethods').hide(); qm_showDoses('<% $cat %>', '<% $meth %>');"><% $meth %></span><br/>
% 	}
		<span style="font-weight:bold; cursor: pointer;" onclick="$('displayMethods').hide(); qm_showDoses('<% $cat %>', 'Other');">Other</span><br/>

		<span style="font-weight:bold; cursor: pointer;" onclick="$('displayMethods').hide(); qm_showDoses('<% $cat %>', 'Discontinue');">Discontinue</span><br/>
	</div>
% }
</div>
</div>


<div id="qm_Doses">
<span style="font-weight:bold; cursor:pointer; color:#5E9AB1;" onclick="$('displayDoses').show()">Doses:</span>
<div id="displayDoses">
% foreach my $cat (@{$medCategory}) {
% foreach my $meth ((sort keys %{$meds{$cat}}, 'Other')) {
			<div id="<% $cat %>_<% $meth %>"  style="display:none;">
% foreach my $dose ((@{$meds{$cat}->{$meth}->{Dose}}, 'Other')) {
			<span style="font-weight:bold; cursor: pointer;" onclick="$('displayDoses').hide(); qm_showIns('<% $cat %>', '<% $meth %>','<% $dose %>');"><% $dose %></span><br/>
% }
			</div>

% 	}
			<div id="<% $cat %>_Discontinue"  style="display:none;" >
				<input type="text" id="<% $cat %>_DiscontinueDose" size="6" /> <span style="font-weight:bold; cursor: pointer;" onclick="$('displayDoses').hide(); qm_showIns('<% $cat %>', 'Discontinue', document.getElementById('<% $cat %>_DiscontinueDose').value);">Other</span><br/>
			</div>
% # </div>

% }
</div>

</span>
			
</td>

				<td style="margin-left: auto; margin-right: 0px; vertical-align:text-top;">
					<table>
						<tr>
			  			<td>
					  		Pref: <input type="text" name="methodPreference" value='10000' size='10' autocomplete="off" />
						</td>
						</tr>
						<tr>
					  <td>
					  		<table style="border-style:groove;">
					  					<tr><td colspan='3'>If Followed Protocol</td></tr>
					  					<tr>
					  						<td style="  border-bottom-color: #6CAC97; border-top-color: #6CAC97; border-bottom-style: double; border-top-style: double;"><label for="ifFollowedYESREC_ID">Yes </label><input id="ifFollowedYESREC_ID" type='radio' name="ifFollowedProtocol" value='yes'  autocomplete="off" /></td>
					  						<td  style=" border-bottom-color: #BB1E1C; border-top-color: #BB1E1C;  border-bottom-style: double; border-top-style: double;"><label for="ifFollowedNOREC_ID">No </label><input type='radio'  id="ifFollowedNOREC_ID" name="ifFollowedProtocol" value='no'  autocomplete="off" /></td>
					  						<td style="border-bottom-style: double; border-top-style: double;"><label for="ifFollowedIGNOREREC_ID">Ignore </label><input type='radio'  id="ifFollowedIGNOREREC_ID" name="ifFollowedProtocol" value='nul' checked="checked" autocomplete="off" /></td>
					  					</tr>
					  		</table>
					  </td>
						</tr>
						<tr>
					  <td>
					  		<table style="border-style:groove;">
					  					<tr ><td colspan='3'>If Cycling</td></tr>
					  					<tr>
					  						<td style="border-bottom-style: double; border-top-style: double;  border-bottom-color: #6CAC97; border-top-color: #6CAC97;"><label for="ifCyclingYESREC_ID">Yes </label><input  id="ifCyclingYESREC_ID" type='radio' name="ifCycling"  value='yes'  autocomplete="off" /></td>
					  						<td style="border-bottom-style: double; border-bottom-color: #BB1E1C; border-top-color: #BB1E1C; border-top-style: double;"><label for="ifCyclingNOREC_ID">No </label><input id="ifCyclingNOREC_ID" type='radio' name="ifCycling" value='no'  autocomplete="off" /></td>
					  						<td style="border-bottom-style: double; border-top-style: double;"><label for="ifCyclingIGNOREREC_ID">Ignore </label><input id="ifCyclingIGNOREREC_ID" type='radio' name="ifCycling" value='nul' checked="checked"  autocomplete="off" /></td>
					  					</tr>
					  		</table>
					  </td>
						</tr>
						<tr>
					  <td>
					  		<table style="border-style:groove;">
					  					<tr><td colspan='3'>AND / OR</td></tr>
					  					<tr>
					  						<td colspan='2'><label for="andorandREC_ID">AND</label> <input id="andorandREC_ID" type='radio' name="andor" value='and'  autocomplete="off" /></td>
					  						<td colspan='1'><label for="andororREC_ID">OR</label> <input id="andororREC_ID" type='radio' name="andor" value='or' checked="checked"  autocomplete="off" /></td>
					  					</tr>
					  		</table>
						</td></tr>
						<tr><td>
						<table style="border-style:groove;">
					  					<tr><td colspan='3'>Med Category</td></tr>
					  					<tr>
					  						<td colspan='2'>
					  							<select id="medCatSel" name="medCat" onchange="qm_curr['medCategory']=this.value;">
					  								<option ></option>
%												for my $vl (values %medCats) {
					  								<option value="<% $vl %>"><% $vl %></option>
% 												}
					  							</select>
					  						</td>
					  					</tr>
					  		</table>
					  	</td></tr>
						
						</table>



</td>
</tr></table>	
<div id="qm_Instructions">
<span style="font-weight:bold; cursor:pointer; color:#5E9AB1;" onclick="$('displaySigs').show()">Instructions:</span>
<div id="displaySigs">
% foreach my $cat (@{$medCategory}) {
% foreach my $meth (keys %{$meds{$cat}}) {
		<div class="Instructions"  id="<% $cat %>_<% $meth %>_Instructions" style="display:none;">
% if ($meds{$cat}->{$meth}->{Instructions}) {
% foreach my $ins (@{$meds{$cat}->{$meth}->{Instructions}}) {
			<span style="font-weight:bold; cursor: pointer;" onclick="$('displaySigs').hide(); promptSig('<% $ins %>');"><% $ins %></span><br/>
% }	} elsif (ref $meds{$cat}->{''}->{Instructions}){
% foreach my $ins (@{$meds{$cat}->{''}->{Instructions}}) {
			<span style="font-weight:bold; cursor: pointer;" onclick="$('displaySigs').hide(); promptSig('<% $ins %>');"><% $ins %></span><br/>
%	}	} else { foreach my $ins (@oIns) {
			<span style="font-weight:bold; cursor: pointer;" onclick="$('displaySigs').hide(); promptSig('<% $ins %>');"><% $ins %></span><br/>
%	}	}
			<span style="font-weight:bold; cursor: pointer;" onclick="$('displaySigs').hide(); promptSig('');">Other...</span><br/>
		</div>

% }
		<div class="Instructions"  id="<% $cat %>_Discontinue_Instructions" style="display:none;">
			<span style="font-weight:bold; cursor: pointer;" onclick="$('displaySigs'); promptSig('Discontinue');">Discontinue...</span><br/>
		</div>

% }
</div>
</div>







% if (1){
<form method="post" onsubmit="new Ajax.Updater('currentEvalRecommendtions', '/aa/getCurrentRecs.html', {
  parameters: { RxN: gRxN, Medication: qm_curr['Medication'] +' '+ qm_curr['Method'], Dose: qm_curr['Dose'],  Instructions: $('mmedsig').value, func: 'madd',  medCat: qm_curr['medCategory']  } }); this.hide(); setTimeout('activateERAInstuctions()', 1000); return false;" id="qm_form" >
<textarea id="mmedsig"></textarea>
<input type="submit" value="Add Medication">
</form>

% }


		<div id="evalRecommendationsDrags" style="display:none;"></div>

<script type="text/javascript">
// Droppables.add('currentEvalRecommendtions', {accept: ['eraDraggable'], onDrop: function(elm){updateERARecs(elm, 'add');}});

function updateERARecs(elm, func) {
if (!func) {func='getonly';}
new Ajax.Updater('currentEvalRecommendtions' , '/aa/getCurrentRecs.html', {parameters:(elm['RxN'] ? elm : {id:elm.id, func: func, RxN: gRxN}), 
onFailue:function(transport){ alert('failed');},
onSuccess:function(transport){ 

	if (typeof transport.headerJSON == 'object') { 


				obo=transport.headerJSON;
				Pat.info.Recommendations=obo;
		$('recommendations_Area').innerHTML=showRecommendations(transport.headerJSON);    activateRecommendationDragging();
		} else {alert('no json!');}

	$('currentEvalRecommendtions').update(transport.responseText);
	} }); 
	setTimeout('activateERAInstuctions()', 1000);
}


function activateERAInstuctions() {	
	$A(document.getElementsByClassName('eraInstructions')).each(
		function(elm) {
					new Ajax.InPlaceEditor( elm, '/aa/saveValue.html', {ajaxOptions: {id: elm.id, arg: 'recommendationSig', val: elm.textContent  }, formId: 'ipeTF_'+elm.id,
					rows: 3,
					callback: function(form, value) { return 'RxN='+escape(gRxN)+'&arg=recommendationSig&id='+escape(elm.id)+'&val='+escape(value) }
					});
					});
					
					
// not working yet... does not build editor until clicked?
					$A(document.getElementsByClassName('editor_field')).each(
						function(elm) {	
							var fid=elm.identify();
							Element.insert(elm, { after: '<div id="'+fid+'_aclist"></div>' });
// turned off on change of editor							new Autocompleter.Local(fid, fid+'_aclist', qsigList, { });
						}
		);

					
}



var activateERAMed = function () {	
	$A(document.getElementsByClassName('eraInstructions')).each(
		function(elm) {
					if (typeof elm.ipe !='undefined') { elm.ipe.dispose(); }
					elm.ipe = new Ajax.InPlaceEditor( elm, '/aa/saveValue.html', {ajaxOptions: {id: elm.id, arg: 'recommendationSig', val: elm.textContent  }, formId: 'ipeTF_'+elm.id,
					rows: 3,
					onEnterEditMode: function(tst) { setTimeout('ipeRecsSigs();', 500);}	,

					callback: function(form, value) { return 'RxN='+escape(gRxN)+'&arg=recommendationSig&id='+escape(elm.id)+'&val='+escape(value) }
					});
					});

	$A(document.getElementsByClassName('rec_meddn')).each(
		function(elm) {
					if (typeof elm.ipe !='undefined') { elm.ipe.dispose(); }
					elm.ipe = new Ajax.InPlaceEditor( elm, '/aa/saveValue.html', {ajaxOptions: {id: elm.id, arg: 'recommendation_medDN', val: elm.textContent  }, formId: 'ipeTF_'+elm.id,
					rows: 1,
					callback: function(form, value) { return 'RxN='+escape(gRxN)+'&arg=recommendation_medDN&id='+escape(elm.id)+'&val='+escape(value) }
					});
					});



	$A(document.getElementsByClassName('rec_dose')).each(
		function(elm) {
					if (typeof elm.ipe !='undefined') { elm.ipe.dispose(); }
					elm.ipe = new Ajax.InPlaceEditor( elm, '/aa/saveValue.html', {ajaxOptions: {id: elm.id, arg: 'recommendation_medDose', val: elm.textContent  }, formId: 'ipeTF_'+elm.id,
					rows: 1,
					callback: function(form, value) { return 'RxN='+escape(gRxN)+'&arg=recommendation_medDose&id='+escape(elm.id)+'&val='+escape(value) }
					});
					});

					};
activateERAInstuctions=activateERAMed;










var qsigList = <% JSON::XS::encode_json($qsigList) %>;
var qmedList = <% JSON::XS::encode_json($qmedList) %>;
// new Autocompleter.Local('eraMed', 'eraMed_list', qmedList, { });
erdT=new Template('<div class="eraDraggable #{className}" id="era_#{ac}"><b>#{Medication}</b>, <span class="med_method">#{Method}</span> #{Dose}#{DoseUnit}<div class="eraInstructions">#{Instructions}</div></div>');
function eraDoseOptions() {
	if ($('eraMed').value && $('eraDose').value) {
	var erdHTML='';
//	var  = $('evalRecommendationsDrags');
	new Ajax.Request( '/aa/evalSearchRecs.html', {
	parameters:{MedCat: $('eraMed').value, DoseLevel: $('eraDose').value, RxN: gRxN}, 
	 onSuccess: function(transport) {
	 	var mat=transport.headerJSON;
	 	$A(mat).each(
	 		function(rec) {erdHTML+=erdT.evaluate(rec);}
	 	); 	 $('evalRecommendationsDrags').update(erdHTML);
	 	$A(document.getElementsByClassName('eraDraggable')).each(
	 		function(elm) {	 		
	 			new Draggable(elm.id, { revert: true } );
	 			} );
	 	if (transport.responseText  ) {
	 				$('eraManual').update(transport.responseText);
	 			 	updateERARecs(null, 'getonly');
	 	}
	 		}
	 	}
	 	);
		
		} else {alert('Need to select a dose!');}
}
	 	 	//} //, onFailure: 	 function() {$('evalRecommendationsDrags').update('No Matching Medications');}   


</script>
<form method="post" id="qm_nomeds" onsubmit="return false;" ><!-- This is where special "NO meds.." will go -->
	<select name="noMed" id="noMed" onchange="new Ajax.Updater('currentEvalRecommendtions', '/aa/getCurrentRecs.html', {
  parameters: { RxN: gRxN, Medication: this.value,    func: 'madd'  } }); updateERARecs({ RxN:gRxN, func: 'getonly'});  this.blur(); this.selectedIndex=0; ">
		<option value="" selected="selected"> --- Select No Recommendations --- </option>
% for my $v (('No Recommendations for hormone therapy at this time.', 'No Recommendations for hormone therapy at this time, pending further salivary hormone testing.', 'No Recommendations for hormone therapy at this time, see previous letter.', 'See previous letter for Recommendations.')) {
		<option value="<% $v %>"><% $v %></option>
% }
	</select>
</form>

<div id="qm_modal" style="min-height: 10em;"><form id="qm_mo_form" onsubmit="qm_displayMed( this.qm_mo_ret.value, this.sect.value) ; return false;"><textarea style="min-width: 25em; min-height:300px;"  name="qm_mo_ret"></textarea><input type="hidden" name="med" id="qm_mo_med" /><input type="hidden" name="sect" id="qm_mo_sect" /><input type="submit" onclick="Modalbox.hide();"/></form></div>
<a href="#qm_modal" id="qm_modal_click"  >&nbsp;</a>
<script async>


new Control.Modal($('qm_modal_click'),{  
    overlayOpacity: 0.75,  
    className: 'modal',  
    fade: true  
}); 
var prompt_qm_mod = function(med, sect) {
	$('qm_mo_med').value = med;
	$('qm_mo_sect').value = sect;
	Modalbox.show($('qm_modal'), {title:  'Enter Other:' , width: 300, height: 400  } ); 
	return false;
};
</script>
<%init>
my $qmedList=$dbh->selectcol_arrayref(q{SELECT DISTINCT Medication FROM quickMeds});
push(@$qmedList, 'Systemic Estriol');
my $qmedList2=$dbh->selectcol_arrayref(q{SELECT DISTINCT CONCAT_WS(' ', Medication, Method) FROM quickMeds});
my $qsigList=$dbh->selectcol_arrayref( q{ SELECT sig FROM recommendation_sigs} ||  q{SELECT DISTINCT Instructions FROM recommendations WHERE Instructions !='' GROUP BY Instructions HAVING COUNT(Instructions) > 50});
</%init>