<%attr>
ajax=>1
</%attr>
<%init>
my $reps = $dbh->selectall_arrayref(q{SELECT hS.`rowID`, hS.`hhstatus`, CONCAT_WS(' ', PatientFirstName, PatientLastName ) AS patientName, doctorName
FROM hhStatus hS JOIN RxLookUp RLU ON hS.rowID=RLU.RxNumber JOIN patients p ON RLU.patientID=p.patientID JOIN doctors_all d ON p.DoctorCode=d.DoctorCode
WHERE hS.hhstatus IN ('Editing', 'Check', 'Checked') ORDER BY hS.DateEntered DESC LIMIT 15}, {Columns=>{}}, ());
$session{saveSession}=" " . time;
</%init>
<style>
#patSelForm {max-width: 26em;  float: left}
#evaluationTools {clear:both;}
#showReportQueue:before {content:'Report Queue';}
#showReportQueue {opacity:.65; float: right;  background-color: #E0E0E0; padding: .5em; -webkit-border-radius: .5em; min-width: 50%; max-width: 50%; max-height: 4em; overflow: hidden; }
.reportQueue {}
#showReportQueue:hover {cursor:pointer; z-index:200; max-height:30em; opacity .85;}
.reportQueue .Editing  {background-color: #A7D9E6;}
.reportQueue .Check {background-color: #E6E6A8;}
.reportQueue .Checked {background-color: #E6A8A8;}

#showReportQueue li {
	display: inline;
	list-style-type: none;
	padding-right: 1em;
}

#showReportQueue:hover li {
	display: list-item;
	list-style-type: disc;
	padding-right: 1em;
}
#showReportQueue .rowInfo {display: none;}
#showReportQueue:hover .rowInfo {display: inline;}
</style>
Queue is currently unavailable
% return; # until queue is being used...
<ul class="reportQueue">
% for (0..0) {
%	foreach my $rep (@$reps) {
	<li onclick="activatePatient(null, '<% $rep->{rowID} %>');" class="<% $rep->{hhstatus} %>" ><% $rep->{rowID} %><span class="rowInfo">: <% qq|$rep->{patientName} / $rep->{DoctorName}| %></span></li>
%	} }
	<li><a href="/shared/letters/showReportsQ.html" style="padding: 0 2em;">Go to Report Queue Page (save first!)</a></li>
</ul>
