% if ($session{username} eq 'kalir' || 0) { $m->comp('evaluationRecommendor_kali3.html'); return; }


<style type="text/css">
	#editRecsArea {-webkit-border-radius: 1em; border: solid medium grey; padding: 1em; min-height:15em;}
	#currentEvalRecommendtions {max-width: 42%; min-width:15em;  -webkit-border-radius: 1em; padding: .25em .75em .25em .75em; margin: .5em 1em .5em 1em; background-color: #E6F8FF; min-height: 25em; float: left;}
	
	#evalRecArea {max-width: 48%; min-width:15em;  min-height: 15em; float: left;}
	.eraDraggable {-webkit-border-radius: 1em; background-color: #C5E1FF; padding: .25em .75em .25em .75em; margin: .5em 0 .5em 0; cursor:pointer;}
	.eraInstructions {color: #525252; min-height: .75em;}
	.editor_field {min-width: 15em;}
	#mmedsig {min-width: 30em;}
	.eraOptions {float:right;}
	.eraOptions img {max-height: 1.25em;}
</style>


% # <span style="font-size:smaller; color: silver">Need to add Autocompleter local for commonSigs</span>
<span class="showControl" onclick="updateERARecs({ RxN:gRxN, func: 'getonly'});" style="font-size:1em; color: silver">Update Recommendations <img src="/images/refreshicon.png"  style="display: inline;"/></span>
<h4  class="showControl" onclick="showMoreInfo( 'editRecsArea', 'eRecsImg'); $('eraMDForm').reset();" >Edit Recommendations<img src="/images/buttons/next_icon.png" id="eRecsImg" style="margin: 0 .5em; max-height: 1.75em; position:relative; top: 0.5em;" alt="More..." /> </h4>

<div id="editRecsArea" style="display:none;">
	<div id="currentEvalRecommendtions" >
	
	</div>
	<div id="evalRecArea">
		<div id="evalRecommendationsForm">
			<form onsubmit=" eraDoseOptions(); return false;" id="eraMDForm">
				Med: <input type="text" name="Medication" id="eraMed" />
				<div class="autocomplete" id="eraMed_list" style="display:none"></div>
				Dose: <input type="text" id="eraDose" name="Dose" style="max-width: 6em;"/> &nbsp; &nbsp; <input type="submit" />
			</form>
				<div id="eraManual"></div>
		</div>
		<div id="evalRecommendationsDrags"></div>
	</div>
	<br style="clear:both;" />
</div>

<script defer type="text/javascript">
% unless($session{username} eq 'cs') {
% # Droppables.add('currentEvalRecommendtions', {accept: ['eraDraggable'], onDrop: function(dragged, dropped, event){updateERARecs(dragged, 'add');}});
% }
// this.element.id will give the id, we can use to get block data from there


% if (0){
<form method="post" onsubmit="new Ajax.Updater('currentEvalRecommendtions', '/aa/getCurrentRecs.html', {
  parameters: { RxN: gRxN, Medication: $('eraMed').value, Dose: $('eraDose').value,  Instructions: $('mmedsig').value, func: 'madd'  } }); this.hide(); setTimeout('activateERAInstuctions()', 1000); return false;">
<textarea id="mmedsig"></textarea>
<input type="submit" value="Add Progesterone">
</form>

% }
var updateERARecs = function (elm, func) {
if (!func) {func='getonly';}
new Ajax.Updater('currentEvalRecommendtions' , '/aa/getCurrentRecs.html', {parameters:(elm['RxN'] ? elm : {id:elm.id, func: func, RxN: gRxN}), 
onFailue:function(transport){ alert('failed');},
onSuccess:function(transport){ 

	if (typeof transport.headerJSON == 'object') { 


				obo=transport.headerJSON;
				Pat.info.Recommendations=obo;
		$('recommendations_Area').innerHTML=showRecommendations(transport.headerJSON);    activateRecommendationDragging();
		} else {alert('no json!');}

	$('currentEvalRecommendtions').update(transport.responseText);
	} }); 
	setTimeout('activateERAInstuctions()', 1000);
};

function updateERARecs_o(elm, func) {
if (!func) {func='getonly';}
new Ajax.Updater('currentEvalRecommendtions' , '/aa/getCurrentRecs.html', {parameters:(elm['RxN'] ? elm : {id:elm.id, func: func, RxN: gRxN}), 
onFailue:function(transport){ alert('failed');},
onSuccess:function(transport){ 

	if (typeof transport.headerJSON == 'object') { 


				obo=transport.headerJSON;
				Pat.info.Recommendations=obo;
		$('recommendations_Area').innerHTML=showRecommendations(transport.headerJSON);    activateRecommendationDragging();
		} else {alert('no json!');}

	$('currentEvalRecommendtions').update(transport.responseText);
	} }); 
	setTimeout('activateERAInstuctions()', 1000);
}


var ipeRecsSigs= function() {						$A(document.getElementsByClassName('editor_field')).each(
						function(elm) {	
							var fid=elm.identify();
							Element.insert(elm, { after: '<div id="'+fid+'_aclist" class="autocomplete" style="font-size:larger;"></div>' });
							elm.ipeac = new Autocompleter.Local(fid, fid+'_aclist', qsigList, { });
						}
		);
							};












var activateERAMed = function () {	
	$A(document.getElementsByClassName('eraInstructions')).each(
		function(elm) {
					if (typeof elm.ipe !='undefined') { elm.ipe.dispose(); }
					elm.ipe = new Ajax.InPlaceEditor( elm, '/aa/saveValue.html', {ajaxOptions: {id: elm.id, arg: 'recommendationSig', val: elm.textContent  }, formId: 'ipeTF_'+elm.id,
					rows: 3,
					onEnterEditMode: function(tst) { setTimeout('ipeRecsSigs();', 500);}	,

					callback: function(form, value) { return 'RxN='+escape(gRxN)+'&arg=recommendationSig&id='+escape(elm.id)+'&val='+escape(value) }
					});
					});

	$A(document.getElementsByClassName('rec_meddn')).each(
		function(elm) {
					if (typeof elm.ipe !='undefined') { elm.ipe.dispose(); }
					elm.ipe = new Ajax.InPlaceEditor( elm, '/aa/saveValue.html', {ajaxOptions: {id: elm.id, arg: 'recommendation_medDN', val: elm.textContent  }, formId: 'ipeTF_'+elm.id,
					rows: 1,
					callback: function(form, value) { return 'RxN='+escape(gRxN)+'&arg=recommendation_medDN&id='+escape(elm.id)+'&val='+escape(value) }
					});
					});



	$A(document.getElementsByClassName('rec_dose')).each(
		function(elm) {
					if (typeof elm.ipe !='undefined') { elm.ipe.dispose(); }
					elm.ipe = new Ajax.InPlaceEditor( elm, '/aa/saveValue.html', {ajaxOptions: {id: elm.id, arg: 'recommendation_medDose', val: elm.textContent  }, formId: 'ipeTF_'+elm.id,
					rows: 1,
					callback: function(form, value) { return 'RxN='+escape(gRxN)+'&arg=recommendation_medDose&id='+escape(elm.id)+'&val='+escape(value) }
					});
					});

					};
activateERAInstructions=activateERAMed;

% if (0)					{
// this was part of the above					:
// not working yet... does not build editor until clicked?
					$A(document.getElementsByClassName('editor_field')).each(
						function(elm) {	
							var fid=elm.identify();
							Element.insert(elm, { after: '<div id="'+fid+'_aclist" class="autocomplete" style="font-size:larger;"></div>' });
							new Autocompleter.Local(fid, fid+'_aclist', qsigList, { });
						}
		);
}
% }
var qsigList = <% JSON::XS::encode_json($qsigList) %>;
var qmedList = <% JSON::XS::encode_json($qmedList) %>;
new Autocompleter.Local('eraMed', 'eraMed_list', qmedList, { });
erdT=new Template('<div class="eraDraggable #{className}" id="era_#{id}#{ac}"><b>#{Medication}</b>, #{Method} #{Dose}#{DoseUnit}<div class="eraInstructions">#{Instructions}</div></div>');
function eraDoseOptions() {
	if ($('eraMed').value && $('eraDose').value) {
	var erdHTML='';
//	var  = $('evalRecommendationsDrags');
	new Ajax.Request( '/aa/evalSearchRecs.html', {
	parameters:{MedCat: $('eraMed').value, DoseLevel: $('eraDose').value, RxN: gRxN}, 
	 onSuccess: function(transport) {
	 	var mat=transport.headerJSON;
	 	$A(mat).each(
	 		function(rec) {erdHTML+=erdT.evaluate(rec);}
	 	); 	 $('evalRecommendationsDrags').update(erdHTML);
	 	$A(document.getElementsByClassName('eraDraggable')).each(
	 		function(elm) {	 		
	 			new Draggable(elm.id, { revert: true , zindex: 151} );
	 			} );
	 	if (transport.responseText  ) {
	 				$('eraManual').update(transport.responseText);
	 			 	updateERARecs(null, 'getonly');
	 	}
	 		}
	 	}
	 	);
		
		} else {alert('Need to select a dose!');}
}
	 	 	//} //, onFailure: 	 function() {$('evalRecommendationsDrags').update('No Matching Medications');}   


</script>

<%init>
my $qmedList=$dbh->selectcol_arrayref(q{SELECT DISTINCT Medication FROM quickMeds});
push(@$qmedList, 'Systemic Estriol');
my $qmedList2=$dbh->selectcol_arrayref(q{SELECT DISTINCT CONCAT_WS(' ', Medication, Method) FROM quickMeds});



   my $cache = $m->cache; # save this line : saves 3.6 seconds
   
	 my $qsigList = $cache->get('MostlyStaticRestoreSigs');
   unless ($qsigList) {
		$qsigList=$dbh->selectcol_arrayref(q{
		SELECT DISTINCT Instructions FROM recommendations WHERE Instructions !='' 
		AND DATEDIFF(NOW(), LastDateUpdated) < 360
		GROUP BY Instructions HAVING COUNT(Instructions) > 30
		UNION
		SELECT DISTINCT Instructions FROM recommendations WHERE Instructions !='' 
		AND DATEDIFF(NOW(), LastDateUpdated) < 120
		GROUP BY Instructions HAVING COUNT(Instructions) > 5
		
		});

      $cache->set('MostlyStaticRestoreSigs', $qsigList, '1w');
       warn "setting cache for MostlyStaticRestoreSigs for 1 week";
   }







</%init>