<%attr>
topleft => '/atopleft.mas'
ajax =>0
</%attr>
<style>
#ACBar_list.autocomplete ul li * {display:inline;}
#ACBar_list.autocomplete ul li div {display:inline;}
#ACBar_list.autocomplete ul li ul {display:inline; 	position: relative;}
#ACBar_list.autocomplete ul li ul li {display:inline;}
#ACBar_list.autocomplete ul li.selected {max-height: 7.5em; overflow:hidden; text-overflow: ellipsis;}
</style>

	<script>
<%perl>
 use HTML::ExtractContent;
 my $achtmls = $dbh->selectcol_arrayref(q{SELECT acText FROM autocorrects  WHERE acType='kLong' LIMIT 1500} );
 my $extractor = HTML::ExtractContent->new;
 my @actexts;
 for my $ac (@$achtmls) {  push(@actexts, $extractor->extract($ac)->as_text);	}
</%perl>
var ACBarsList =  <% JSON::XS::encode_json($achtmls) %>;
var ACBarsText = <% JSON::XS::encode_json(\@actexts) %>;

ACBarsList.each(function(val, index) {
  this[index] = val.textContent;
  '<b>bad</b>'.textContent

}, ACBarsText);

	</script>


<form method="post" onsubmit="new Ajax.Updater('', '', {onSuccess: function(t) {copyToClipboard(t.responseText);}); return false;" >
<p>
  <label for="ACBars_from_the_70s">Autocorrect:</label>
  <br />
  <input id="ACBars_from_the_70s" autocomplete="off" style="width: 35%;" type="text" value="" />
</p>

<div class="autocomplete" id="ACBar_list" style="display:block; "></div>
</form>
<script>new Autocompleter.Local('ACBars_from_the_70s', 'ACBar_list', ACBarsList, { fullSearch: true, choices: 10});</script>
