<%args>
$id
$rec => undef
</%args>

<form onsubmit="this.RxN.value=gRxN; updateERARecs(this.serialize(true), 'edit'); return false;">
<input type="hidden" name="id" value="<% $id %>" />
<input type="hidden"name="RxN" />
<input type="hidden"name="func" value="edit" />
<div>
					  		Pref: <input type="text" name="methodPreference" value="<% $defs->{methodPreference} %>" size="10" autocomplete="off">
</div>
<div>

If Followed Protocol: 
<label for="ifFollowedYESREC_<% $id %>">Yes </label><input id="ifFollowedYESREC_<% $id %>" type="radio" name="ifFollowedProtocol" value="yes" autocomplete="off" <% $defs->{ifFollowedProtocol} eq 'yes' ?  ' checked="checked" ' : '' %> />
<label for="ifFollowedNOREC_<% $id %>">No </label><input type="radio" id="ifFollowedNOREC_<% $id %>" name="ifFollowedProtocol" value="no" autocomplete="off" <% $defs->{ifFollowedProtocol} eq 'no' ?  ' checked="checked" ' : '' %> />
<label for="ifFollowedIGNOREREC_<% $id %>">Ignore </label><input type="radio" id="ifFollowedIGNOREREC_<% $id %>" name="ifFollowedProtocol" value="" <% $defs->{ifFollowedProtocol} eq '' ?  ' checked="checked" ' : '' %> autocomplete="off">
</div>
<div>If Cycling:

<label for="ifCyclingYESREC_<% $id %>">Yes </label><input id="ifCyclingYESREC_<% $id %>" type="radio" name="ifCycling" value="yes" autocomplete="off" <% $defs->{ifCycling} eq 'yes' ?  ' checked="checked" ' : '' %>>
<label for="ifCyclingNOREC_<% $id %>">No </label><input id="ifCyclingNOREC_<% $id %>" type="radio" name="ifCycling" value="no" autocomplete="off" <% $defs->{ifCycling} eq 'no' ?  ' checked="checked" ' : '' %>>
<label for="ifCyclingIGNOREREC_<% $id %>">Ignore </label><input id="ifCyclingIGNOREREC_<% $id %>" type="radio" name="ifCycling" value="" <% $defs->{ifCycling} eq '' ?  ' checked="checked" ' : '' %> autocomplete="off">
</div>
<div>
AND / OR:
<label for="andorandREC_<% $id %>">AND</label> <input id="andorandREC_<% $id %>" type="radio" name="andor" value="and" <% $defs->{andor} eq 'and' ?  ' checked="checked" ' : '' %> autocomplete="off">
<label for="andororREC_<% $id %>">OR</label> <input id="andororREC_<% $id %>	" type="radio" name="andor" value="or" <% $defs->{andor} eq 'or' ?  ' checked="checked" ' : '' %>  autocomplete="off">
</div>
<div>









Med Category:
					  							<select id="medCatSel" name="medCategory">
					  								<option selected value="<% $defs->{medCategory} %>"><% $defs->{medCategory} %></option>
% for my $k (keys %medCats)						{
					  								<option value="<% $k | h %>"><% $medCats{$k} | h %></option>
%												}
												</select> 
</div>
<input type="submit" value="Update" />
</form>
<%init>
my $defs = $rec || $dbh->selectrow_hashref(q{SELECT * FROM recommendations WHERE ID=?}, undef, ($ARGS{id}));

								    my %medCats = (						
													'Message' => 'Message',
												    'OTC' => 'OTC',
												    'Aplia' => 'Aplia',

								    				"DHEA" => "DHEA",
													"Estradiol" => "Estrogen",
													"Vaginal Estradiol" => "Vaginal Estrogen",
													"Estriol" => "Estrogen",
													"Systemic Estriol" => "Estrogen",
													"BiEst" => "Estrogen",
													"TriEst" => "Estrogen",
													"Progesterone" => "Progesterone",
													"Systemic Progesterone" => "Progesterone",
													"Progesterone Cream" => "Progesterone",
													"Testosterone" => "Testosterone",
													"Methyltestosterone" => "Testosterone",
													"Vaginal Testosterone" => "Vaginal Testosterone"
												);



</%init>