% return unless $session{userType} eq 'cs';
<link rel="stylesheet" type="text/css" href="/templates/rsc/reports/report.css" />
<style title="turnoffs" type="text/css">
#rxTemplateArea {display: none;}
#showCurMedsE {background: white; z-index: 590;}
#showCurMedsE div.cmMed.odd {background: white; }
#showCurMedsE #reccmcurmedcontainer { max-width: 80%;}
#symColsTable .tr {	width: 100% !important; }

/* overrides for editor */

#importantinfo::before {display: block !important;}
#medicalhistoryarea::before  {display: block !important;}
#medhistorydisplay::before  { display: block !important;}

#FurtherTherapyConsiderations::before { display: block !important;}

#therapyevaluation::before { display: block !important;}
#recommendations_area::before { display: block !important;}

#symptomlistingtfoot .th.symptomsdates, #symptomlistingthead .th.symptomsdates {
min-width: 59px !important;
}

.reportedcol {min-width: 59px !important;}


</style>
  <link rel="stylesheet" type="text/css" href="/templates/rsc/reports/report.css" />

% if (1) {
	<div id="aaTools">		<span onclick="showMoreInfo('showCurMedsE', 'showCurMedsEImg'); make_cmeds_for_recs(); " alt="More..." class="showControl">Current Meds <img id="showCurMedsEImg" style="max-height: 1.25em;" src="/images/aa_icons/next_icon.gif" >
	</span>
		<div id="showCurMedsE">
		</div>
</div>

<script>
var make_cmeds_for_recs = function() {
	var rec_clone=Element.clone($('curMedContainer'), true);
	 rec_clone.select('*[id]').concat(rec_clone).each( 
    function(n){
    	var my_id = n.readAttribute('id');
    	n.removeAttribute('id');
    	console.log(my_id);
    	n.writeAttribute('id', 'reccm' + my_id);
    } 
  ); 
	 $('showCurMedsE').update(rec_clone);
	$A($$('#showCurMedsE div.cmMed')).each(
	 		function(elm) {
	 			elm.addClassName('eraDraggable');
	 			new Draggable(elm, { revert: true , zindex: 2151} );
	 			} );
	 			};
</script>
	<style>
		#aaTools {	position:fixed;
							right: 10px;

							background: #BED8E6;
							border-bottom-left-radius: 0.3em 0.3em;
							border-bottom-right-radius: 0.3em 0.3em;
							border-top-left-radius: 0.3em 0.3em;
							border-top-right-radius: 0.3em 0.3em;
							margin: 0.3em;
							position: fixed;
							right: 10px;
							padding: .3em;
							top: 4.25em;
						max-width: 50%
							}
	</style>
%		}
<div id="showReportQueue" style="display:none;">ReportQueue</div>
<script>




function sendLabs(f) {var lf = f.serialize(true); lf["labResults.0allrows::RxNumber"]=gRxN; new Ajax.Request('/aa/evalEditLabs.html' , {parameters:lf , onSuccess: function() {refreshLabs();} });}
  	
function initEvaluation() { // - not used... use fillEvaluationArea instead?
	fillSection(['currentIRMA.commentsDiagnoses'], 0, Pat['instances'][gRxN], "diagnosesArea");
	fillSection(['currentIRMA.commentsTherapyEvaluation'], 0, Pat['instances'][gRxN], "TherapyEvaluation");
	fillSection(['currentIRMA.commentsDiagnosticConsiderations'],0, Pat['instances'][gRxN], 'FurtherTherapyConsiderations');
	fillSection(['currentIRMA.commentsAdditionalTesting'],0,Pat['instances'][gRxN], 'AdditionalTesting');
	fillSection(['currentIRMA.commentsDietLifestyle'],0,Pat['instances'][gRxN], 'SelfCareNotes');
	
}

function activateEvaluation() {
activateCEs();
Pat['HH'][Pat['instances'][gRxN]]['followedProtocol'] =='no' ? $('followedProtocolNo').checked=true : $('followedProtocolYes').checked=true;
$('setEvalStatus').options[0].text=Pat['HH'][Pat['instances'][gRxN]]['hhstatus'];
$('setEvalStatus').options[0].value=Pat['HH'][Pat['instances'][gRxN]]['hhstatus'];
$('setEvalStatus').options[0].selected=true;
$('evalRecommendationsDrags').innerHTML='';
updateERARecs({id:''}, 'get');
$A(document.getElementsByClassName('patientNotes')).each(function(elm){elm.style.display="block";});
$A(document.getElementsByClassName('evaluationNotes')).each(function(elm){elm.style.display="block";});


// Patient Notes - Patient Notes are from online health histories.  We are separating Patient Notes and Restore Notes.
new Ajax.Updater('patientHHNotes', '/aa/getValues.html', {parameters: {RxN: gRxN, notes: 'all' }});


//  $('RestoreHHNotes2').update(Pat['HH'][Pat['instances'][gRxN]]['EvaluationText']['RestoreHHNotes2']);
if ($('activeRxDisplay')) {$('activeRxDisplay').innerHTML= Pat['HH'][Pat['instances'][gRxN]]['hhstatus'] =='Complete' ? buildrcform(gRxN) : gRxN;}

Control.Window.windows.each(function(elm){elm.destroy();})
$A(document.getElementsByClassName('editLogicLink')).each(function(em) {editLogicText(em);});
}

function buildrcform() {
	new Ajax.Updater('activeRxDisplay', '/aa/evalProviderLetterLink.html', {parameters:{RxN: gRxN}, onSuccess: function(transport) {return transport;}});

}

function saveAllCEs() {
	var emsgarea = $('evalMsgs');
	var enullarea = $('evalNullMsgs');

	$A(document.getElementsByClassName("editable")).each(
		function(ce){	

				new Ajax.Updater({ success: enullarea, failure: emsgarea }, '/aa/saveHTML.html', {
	  parameters: { RxN: gRxN, id: ce.id, HTML: (ce.innerText ? $(ce).innerHTML : null)}, insertion: 'bottom', onComplete: function(){enullarea.hide(); return true;}	});

	  	 }
);

	getChartHTML('flotrcontainer2b', 'cortisolChart');
	getChartHTML('flotrcontainer3', 'labFlotrChart');



}

var updateEAV = function (elm) {



if( $('setEvalStatus').value == "Complete" && Pat['instances']['all'][Pat['instances'][gRxN]]['qType'] =='aYf0') {
	var logic_savesave = confirm('Save For Logic Updates? -- Cancel is "No"', 'Yes'); if (logic_savesave) {console.log(logic_savesave);
	new Ajax.Request('/aa/saveValue.html', {  onSuccess: function(transport) {if(transport.responseText){alert('This report will be marked for new logic');}}, parameters: {arg: 'saveForLogic', val: gRxN, RxN: gRxN}});
}
}


if( $('setEvalStatus').value == "New") {
	// var plsave = confirm('Save Text Changes?', 'Yes'); if (plsave) {
	saveAllCEs(); // now always save with the option to roll back changes
	//}
	}

else {
	saveAllCEs();
}
new Ajax.Request('/aa/saveValue.html', {  onSuccess: function(transport) {if(transport.responseText){setTimeout("activatePatient(Pat['info']['pinfo']['patientID'], gRxN); ", 650);}}, parameters: {arg: elm.name, val: elm.value, RxN: gRxN}});
};

var getChartHTML = function (flotr, namedid){
var chartHTML='';

	var emsgarea = $('evalMsgs');
	var enullarea = $('evalNullMsgs');


chartHTML+='<div id="cont_'+flotr+'" class="graphContainer">';
chartHTML+='	<div id="header_'+flotr+'" class="graphHeader">';
chartHTML+=$('label_'+flotr).innerHTML;
chartHTML+='    </div><div style="width: 100%; min-height: 150px; z-index: 8; top: 0.25em; position: relative; cursor: default; ">';

$(flotr).childElements().each(function(elm,ix) {
	if (elm.hasClassName('flotr-canvas')) {
		chartHTML+='<img src="'+elm.toDataURL()+'" />';
		}
		
	else if (elm.tagName=='DIV') {chartHTML+='<div class="flotr-bottom-labels">' + elm.innerHTML + '</div></div>';}
		});
chartHTML+='    </div>';
chartHTML+='</div>';
new Ajax.Updater({ success: enullarea, failure: emsgarea }, '/aa/saveHTML.html', {
		  parameters: { RxN: gRxN, id: namedid+'_printable', 
		  				HTML: chartHTML },
		  				 insertion: 'bottom'	});

return chartHTML;
};


% if (0) {
function saveForPrinting(){ // Replaced
//show all symptoms:
//focusHormone('default'); -- replaced with Ajax.Updater:

//new Ajax.Updater('symptomList', '/aa/symptomhistory.html', {parameters: {patientID: Pat['info']['pinfo']['patientID'], ajax: 1}});

// now disable focusHormone
// var yunsk=focusHormone;
// focusHormone=function() {return;}

// save the ref ranges:

$A(document.getElementsByClassName('labRefRanges')).invoke('show');
//show patient info:
$('morepinfo').show();

//show all recommendation options:
$A(document.getElementsByClassName('recSectionGroup')).invoke('show');



// ----could customize this----
var savables=new Array(


'patientInfo',
'patientHHNotes',
'HormoneSummary',
'symptomList',
'LabArea',
// 'cont_flotrcontainer3',
// 'cont_flotrcontainer2b',
'MedHistoryDisplay',
'MedicationsNotes',
'diagnosesArea',
'DiagnosesNotes',

'importantInfo',
'medicalHistoryArea',
'TherapyEvaluation',
'FurtherTherapyConsiderations',
'AdditionalTesting',
'SelfCareNotes',
'recommendations_Area',
'rxhistory'
'LabNotes',
'SymptomNotes',
'HealthStatusNotes',
'TherapyEvaluationNotes',
'rxTemplateArea'
);

//cont_flotrcontainer2b
//label_flotrcontainer3	
//this works!  just need labels and such...
//Canvas2Image.saveAsPNG(oCanvas)


	var emsgarea = $('evalMsgs');
	var enullarea = $('evalNullMsgs');


if ($('symptomsAsTextCBox').checked) { 	savables.push( 'symptomsAsText');	} else {savables.push( 'symptomList');}
getChartHTML('flotrcontainer2b', 'cortisolChart');
getChartHTML('flotrcontainer3', 'labFlotrChart');
//activatePatient(); //again to ensure we display current values
savables.each(function(sv) {
// clone to save:
var sv_save=$(sv).innerHTML;
// clean up empty tags to remove empty notes, etc
if ($(sv)) {
	if ($(sv).empty()) {
		new Ajax.Updater({ success: enullarea, failure: emsgarea }, '/aa/saveHTML.html', {
	  parameters: { RxN: gRxN, id: sv+'_printable', HTML: null }, insertion: 'bottom'	});
	  return;
	 } else {
	$(sv).childElements().each(function(elm) {
		if (elm.empty() || elm.textContent.blank()) { elm.remove(); }
		});
	}
}

//	$(sv).innerHTML;
	new Ajax.Updater({ success: enullarea, failure: emsgarea }, '/aa/saveHTML.html', {
	  parameters: { RxN: gRxN, id: sv+'_printable', HTML: $(sv).innerHTML }, insertion: 'bottom'	});
// restore sv
$(sv).innerHTML=sv_save;

	  	 });
	  	 
// Save PDF:
	new Ajax.Updater({ success: enullarea, failure: emsgarea }, '/aa/print.m.pdf.html', {
	  parameters: { RxN: gRxN, save: 'saveonly'}, insertion: 'bottom'	});
	  

//restore:
$A(document.getElementsByClassName('labRefRanges')).invoke($('showRefRanges').checked ? 'show' : 'hide');


//while (Ajax.activeRequestCount) {}
//setTimeout("printThisDoc(gRxN)", 1500);
// used to call "printThisDoc(gRxN, 0, 'saveit');" afterwards
// we may want to update the printOptions save to save the PDF...


// now reenable focusHormone

//focusHormone=yunsk;
}

% }

var saveForPrinting = function () {

var saveArr=new Object();
saveArr['RxN'] = gRxN;
//show all symptoms:
//focusHormone('default'); -- replaced with Ajax.Updater:

//new Ajax.Updater('symptomList', '/aa/symptomhistory.html', {parameters: {patientID: Pat['info']['pinfo']['patientID'], ajax: 1}});

// now disable focusHormone
// var yunsk=focusHormone;
// focusHormone=function() {return;}

// save the ref ranges:

$A(document.getElementsByClassName('labRefRanges')).invoke('show');
//show patient info:
$('morepinfo').show();

//show all recommendation options:
$A(document.getElementsByClassName('recSectionGroup')).invoke('show');



// ----could customize this----
var savables=new Array(
'patientInfo',
'patientHHNotes',
'HormoneSummary',
'symptomList',
'LabArea',
// 'cont_flotrcontainer3',
// 'cont_flotrcontainer2b',
'MedHistoryDisplay',
'MedicationsNotes',
'diagnosesArea',
'DiagnosesNotes',
'importantInfo',
'medicalHistoryArea',
'TherapyEvaluation',
'FurtherTherapyConsiderations',
'AdditionalTesting',
'SelfCareNotes',
'recommendations_Area',
'rxhistory',
'LabNotes',
'SymptomNotes',
'HealthStatusNotes',
'TherapyEvaluationNotes',
'rxTemplateArea'
);

//cont_flotrcontainer2b
//label_flotrcontainer3	
//this works!  just need labels and such...
//Canvas2Image.saveAsPNG(oCanvas)


	var emsgarea = $('evalMsgs');
	var enullarea = $('evalNullMsgs');


if ($('symptomsAsTextCBox').checked) { 	savables.push( 'symptomsAsText');	savables.push( 'symptomList');} else {savables.push( 'symptomList');}
//- getChartHTML('flotrcontainer2b', 'symptomDefChart');
//- getChartHTML('flotrcontainer3', 'labFlotrChart');

savables.each(function(sv) {
// clone to save:
var sv_save=$(sv).innerHTML;
saveArr[sv]=sv_save; // added because I think we should be saving this at the same time
// clean up empty tags to remove empty notes, etc
if ($(sv)) {
	if ($(sv).empty()) {
		saveArr[sv+'_printable']=null;
	  return;
	 } else {
	$(sv).childElements().each(function(elm) {
		if (elm.empty() || elm.textContent.blank()) { elm.remove(); }
		});
	}
}
	saveArr[sv+'_printable']=($(sv).innerText ? $(sv).innerHTML : null);
//	console.log(saveArr);		
	//return;

// restore sv
$(sv).innerHTML=sv_save;
	  	 });

// Save PDF: - done with save Arr:
saveArr['savePDF']='saveonly';

saveArr['faxorprint']= $('faxorprint').checked;
//	console.log(saveArr);
new Ajax.Updater(emsgarea, '/aa/saveAll.html', {
  method: 'post',
  parameters: saveArr
});


//restore:
$A(document.getElementsByClassName('labRefRanges')).invoke($('showRefRanges').checked ? 'show' : 'hide');
$('faxorprint').checked=false;


// now reenable focusHormone

//focusHormone=yunsk;
};

function printThisDoc(RxN, fax, saveit, symAsTxt) {
	newwindow=window.open('/aa/print.m.pdf.html?RxN='+RxN+'&fax='+fax+'&save='+saveit+'&symAsTxt='+ symAsTxt,'printPDF');
	if (newwindow) {
	if ( window.focus) {newwindow.focus();}
	} else {	newwindow=window.open('/aa/print.m.pdf.html?RxN='+RxN+'&fax='+fax+'&save='+saveit+'&symAsTxt='+ symAsTxt,'printPDF'); newwindow.focus();}

}


% my %autoCs = @{$dbh->selectcol_arrayref(q{SELECT abbr, acText FROM autocorrects WHERE `user`=?},  { Columns=>[1,2] }, ('kalir' || $session{username} || 'kalir'))};
AutoCorrects=<% JSON::XS::encode_json(\%autoCs) %>;




function launchTool(t) {

// toolbar functions

var modal = new Control.Modal($('toolbarmodal'),{  
    overlayOpacity: 0.75,  
    className: 'modal',  
    fade: true ,
    fadeDuration: 0.5,
     
});










//Event.observe(window, 'load', function() { new Ajax.PeriodicalUpdater('showReportQueue', '/aa/evalDisplayQueue.html', {  method: 'post', frequency: 6});});

//window.observe('load', function() { new Ajax.PeriodicalUpdater('showReportQueue', '/aa/evalDisplayQueue.html', {  method: 'post', frequency: 6});});

}

Event.observe(window, 'load', function() { new Ajax.PeriodicalUpdater('showReportQueue', '/aa/evalDisplayQueue.html', {  method: 'post', frequency: 100});});










var addAplia = function() {
	var addMed=new Object();
	addMed = {
	'med10146Medication': '',
	'med10146Dose': '',
	'med10146Qty': '1 month supply',
	'med10146Instructions': '',
	'med10146Refill': 0
	};
	var medDN='';
	var medAb={'biest':' E', 'progesterone':' P', 'testosterone':' T', 'dhea':' DHEA'};
	var meds=new Array('biest', 'progesterone', 'testosterone', 'dhea');
	meds.each(function(med){ medDN+=$('aplia_'+med).checked ? medAb[med] :'';});

	addMed['med10146Medication']=medDN;
	addMed['med10146Instructions']= ($('aplia_sigLevel_titrate').checked ? '1 pump HS for 1 week, if still symptomatic increase to 2 pumps for 1 week, if still symptomatic increase to 3 pumps' : $('aplia_sigLevel_1').checked ? '1 pump HS' : $('aplia_sigLevel_2').checked ? '2 pump HS' :  $('aplia_sigLevel_3').checked ?  '3 pump HS' : $('aplia_sigLevel_4').checked ? '4 pumps HS' : '1 pumps HS');
	//add progesterone
	if ($('aplia_progesterone_tabs').checked) {
			addMed['med10148Medication']= 'Progesterone ERT';
			addMed['med10148Dose'] = ($('aplia_sigLevel_titrate').checked ? '10 mg' : $('aplia_sigLevel_1').checked ? '10 mg' : $('aplia_sigLevel_2').checked ? '20 mg' : $('aplia_sigLevel_3').checked ? '30 mg' :  $('aplia_sigLevel_4').checked ? '40 mg' : '10 mg');
			addMed['med10148Qty'] = '1 month supply';
			addMed['med10148Instructions'] = 'Take 1 q hs';
			addMed['med10148Refill'] = 0;
	} // added progesterone tabs
	
	//create HTML:
	var blank_aplia = new Template('<input type="hidden" name="#{name}" value="#{value}" />');
	var jpu='';
//	$H(addMed).each(function(p){ if(p.value !=null && p.key !='') { alert('debug key: ' +p.key + ' - '+p.value); jpu+=blank_aplia.evaluate({name: p.key, value: p.value});}});
	var jmp='<div class="apliaMed">Aplia '+addMed['med10146Medication']+ ' <span class="rxInstructions">'+addMed['med10146Instructions']+'</span></div>'+'<div class="apliaMed">' + addMed['med10148Medication']+ ' '+addMed['med10148Dose']+' <span class="rxInstructions">'+addMed['med10148Instructions']+'</span></div>';
	//$('show_aplia_result').update(jmp+jpu);

new Ajax.Updater('currentEvalRecommendtions', '/aa/getCurrentRecs.html', {
  parameters: { RxN: gRxN, Medication: 'Aplia ' + addMed['med10146Medication'], Dose: '',  Instructions: addMed['med10146Instructions'], func: 'madd'  } });  setTimeout('activateERAInstuctions()', 2000); 

	setTimeout("updateERARecs({ RxN:gRxN, func: 'getonly'})", 1000);
	return addMed;

	};



</script>

<div id="toolbarmodal"></div>
<div id="staticToolBar">
	<span style="margin: 1em;">RxN: <b id='activeRxDisplay'></b></span>
	
	Followed Protocol:
	<input type="radio" name="followedProtocol" onclick="updateEAV(this);" value="yes" id="followedProtocolYes"/><label for="followedProtocolYes">Yes</label>
	<input type="radio" name="followedProtocol" onclick="updateEAV(this);" value="no"  id="followedProtocolNo"/><label for="followedProtocolNo">No</label>
	<span class="boundarySep"> &nbsp; | &nbsp; </span>
	
		<span onclick="showMoreInfo('printOptions', 'morePrintOptionsImage'); new Ajax.Updater('editCoverLetter', '/aa/printOptions.html', {parameters:{RxN:gRxN}});" alt="More..." class="showControl">Print Options <img id="morePrintOptionsImage" style="max-height: 1.25em;" src="/images/aa_icons/next_icon.gif" ></span>
	
			<div id="printOptions" style="display:none;">
			<& '/gray_window.mas', title => "Print Options" &>
				<form action="/aa/print.m.pdf.html" method="post" target="_blank" onsubmit="this.ecl.value=$('editCoverLetter').innerHTML; this.RxN.value=gRxN;">
					<div id="editCoverLetter" contentEditable="true">
					</div>
					<input type="hidden" name="ecl" />
					<input type="hidden" name="RxN" />
					<label for="faxCss">Fax?</label><input type="checkbox" value="fax" checked="checked" name="fax" id="faxCss" />
					<label for="saveprintoption">Save?</label><input type="checkbox" value="save" checked="checked" name="saveecl" id="saveprintoption" />
					<label for="includeInvite">Invite?</label><input type="checkbox" value="KalisLetter"  name="KalisLetter" id="includeInvite" />
					<label for="includeOInvite">Outside Labs?</label><input type="checkbox" value="KalisOutsideLetter"  name="KalisOutsideLetter" id="includeOInvite" />
					<label for="saveForProvider">Save Only?</label><input type="checkbox" value="saveonly" checked="checked" name="save" id="saveForProvider" />
					<div><input type="submit" value="Print" /></div>
					<div >
					<span onclick="showMoreInfo('styleOptions', 'moreStyleOptionsImage'); " alt="More..." class="showControl">Section Options <img id="moreStyleOptionsImage" style="max-height: 1.25em;" src="/images/aa_icons/next_icon.gif" ></span>
					<div id="styleOptions">
						Hide:
			
% for my $idL (('patientInfo','HormoneSummary','LabArea','MedHistoryDisplay','diagnosesArea','DiagnosesNotes','importantInfo','TherapyEvaluation','FurtherTherapyConsiderations','AdditionalTesting','SelfCareNotes','recommendations_Area','LabNotes','SymptomNotes','HealthStatusNotes','MedicationsNotes','TherapyEvaluationNotes', 'labFlotrChart')) {		$m->out(qq{<div><label for="mil_$idL">$idL</label><input id="mil_$idL" type="checkbox" name="hideThese" value="$idL" /></div>}); }
			
			
					</div>
					
					</div>
				</form>
			<& '/gray_window.mas' &>
			</div>

		<div id="evalMsgs" style=" color:red;"></div>
		<div id="evalNullMsgs" style="display:none; color: green;"></div>

</div>

<div id="evaluationTools" style="background: #E2F8FF; z-index: 500;">

% #<a href="#" onclick="activateEvaluation();">Start Editing</a>



		Set Status:
			<select name="setStatus" onchange="this.blur();   updateEAV(this); this.blur();" id="setEvalStatus">
				<option>New</option>
				<option>New</option>
				<option>Editing</option>
				<option>Check</option>
				<option>Checked</option>
				<option>Complete</option>	
			</select>
		<span style="display:none;"><label for="symptomsAsTextCBox" >Symptoms As Text: </label><input type="checkbox" id="symptomsAsTextCBox"  /></span>
		<input type="button" value="Save for Provider" onclick="saveForPrinting();  return false;" style="cursor:pointer;"/>
		<input type="button" value="Print" onclick="printThisDoc(gRxN, 0, 0, $('symptomsAsTextCBox').checked); return false;" style="cursor:pointer;" />
		<input type="checkbox" value="1" name="faxorprint" id="faxorprint" />
		<label for="faxorprint"> Fax </label>
% #		<input type="button" value="Fax" onclick="printThisDoc(gRxN, 1, 0, $('symptomsAsTextCBox').checked); return false;" style="cursor:pointer;" />
		
		<input type="button" class=" " style="width: 8em;" value="Save All Edits" onclick="saveAllCEs();" />
		<span class="boundarySep"> &nbsp; | &nbsp; </span>
		<span>Email:
			<input type="button" onclick="sendEmailReport('email',gRxN, $('rsq_mailTo').value)" value="  Email  "> <input type="text" id="rsq_mailTo" name="mailTo" value="" style="width: 20em;">
		</span>
		<span class="boundarySep"> &nbsp; | &nbsp; </span>
		<span id="saveForLogicArea"><a href="#" onclick="new Ajax.Request('/aa/saveValue.html', {  onSuccess: function(transport) {if(transport.responseText){alert('This report will be marked for new logic');}}, parameters: {arg: 'saveForLogic', val: gRxN, RxN: gRxN}});
">Learn From this Report?</a></span>
		<div id="rrsq_actionArea"></div>
		



</div>

<& '/aa/evalEditCMeds.html' &>

<span onclick="showMoreInfo('editLabsArea', 'showelabsImage'); new Ajax.Updater('editLabsArea', '/aa/evalEditLabs.html', {parameters: {'RxNumber': gRxN || 'no rxn', 'Test': 'test'} }); " alt="More..." class="showControl" style="padding-right:2em;" >Edit Labs
	<img id="showelabsImage" style="max-height: 1.25em;" src="/images/aa_icons/next_icon.gif" >
</span> 
<div id="editLabsArea" style="display:none;">
</div>

<span onclick="showMoreInfo('restoreRecords', 'showrestoreRecordsImage'); new Ajax.Updater('restoreRecords', '/aa/evalShowRecords.html', {parameters: {'RxN': gRxN || 'no rxn', 'Test': 'test'} }); " alt="More..." class="showControl" style="padding-right:2em;" >Show Records
	<img id="showrestoreRecordsImage" style="max-height: 1.25em;" src="/images/aa_icons/next_icon.gif" >
</span> 
<div id="restoreRecords" style="display:none;">
</div>

<span onclick="showMoreInfo('restoreSpecificNotes', 'showrestoreSpecificNotes'); new Ajax.Updater('restoreSpecificNotes', '/aa/restoreSpecificNotes.html', {parameters: {'RxN': gRxN || 'no rxn', 'Test': 'test'} }); " alt="More..." class="showControl" style="padding-right:2em;" id="showRestoreNotes">Restore Notes
	<img id="showrestoreSpecificNotes" style="max-height: 1.25em;" src="/images/aa_icons/next_icon.gif" >
</span>
<div id="restoreSpecificNotes" style="display:none;"></div>


<script>
Event.observe(window, 'scroll', function() {
		var sot=document.viewport.getScrollOffsets();
        if ( sot[1] > 250) {$('evaluationTools').style.position='fixed'; $('evaluationTools').style.top='0';} else {$('evaluationTools').style.position='static'; $('evaluationTools').style.top='auto';}
});
var sendEmailReport = function (meth, id, sTo) {
	new Ajax.Updater('rrsq_actionArea', '/cs/queues/reportSend.html', {
	  parameters: { rowID: id , send: meth, pC: true, sendTo: sTo, msgONLY: 1}
	});
};

var addCortisolGraph=function() {
	$('coritsol_graph_area').update(	getChartHTML('flotrcontainer2b', 'cortisolChart'));
};
</script>

<div><a href="#" onclick="addCortisolGraph(); return false;" >Add Cortisol Graph</a></div>
