
<%attr>
ajax => 1
</%attr>
<%args>
$RxNumber => undef
$standalone => 0
</%args>
% if ($standalone){

<script>

var gRxN=<% $RxNumber %>;
var showMoreInfo = function(mim,controller) {
		if ($(mim).style.display=='none') {$(controller).style.webkitTransform = 'rotate(90deg)'; $(mim).style.display="block"; $(controller).style.webkitTransform ='opacity(1)';} else {$(controller).style.webkitTransform = 'rotate(0deg)'; $(controller).style.webkitTransform ='opacity(0)'; $(mim).style.display='none';}
}


var Pat = new Object;
Pat['instances']= new Object;
Pat['instances']['<% $RxNumber %>']=0;

</script>
<style>
#patientReportedCMeds:before {content: "Patient Reports: "; font-weight:bold;}
</style>
% }
<script>
var findSigs = function() {
	new Ajax.Updater( 'foundSigs',
		'/aa/evalEditCMedsSigs.html', {	parameters:{med: $('cm_mN').value}		}
				);
	$('foundSigs').show();
	}
</script>
<span onclick="showMoreInfo('editCurrentMedicationsArea', 'showecmaImage');" alt="More..." class="showControl" style="padding-right:2em;" >Edit Reported Medications
	<img id="showecmaImage" style="max-height: 1.25em;" src="/images/aa_icons/next_icon.gif" >
</span> 


<div id="editCurrentMedicationsArea" style="display:<% $standalone ?  'block' : 'none'  %>;">
<& '/gray_window.mas', title => "Edit Reported Meds" &>
<div>

	<div >
		<div>
			<input type="text" name="medicationName" id="cm_mN"	style="width: 20em;  "  list="fruits"/>
			<datalist id="fruits">
% for my $k (@$cmMedListPerl) {
				<option value="<% $k | h %>"><% $k | h %></option> 
%		}
			</datalist>
			
			<div class="autocomplete" id="cm_mN_choices" style="position: absolute; left: 35px; top: 234px; width: 248px; display: none; "></div>
			<input name="medicationDosage" id="cn_mD" type="text"  style="width: 6em;  " onfocus="findSigs();" />
			<div id="foundSigs"></div>
			<div contenteditable="true" style="width: 25em; height: 4.5em; background-color: #E6FAFF;" id="cm_Instructions" onkeypress="checkACs();"></div>
			<input type="button" onclick="saveNCMed(); return false;" id="cm_AddButton" value="Add" />
		</div>
		<div style="float:left;">
			Combined: 
			<label for="ifFollowedYESREC_ID">Yes </label><input id="ifFollowedYESREC_ID" type='radio' name="medicationCombined" value='yes'  autocomplete="off" />
			<label for="ifFollowedNOREC_ID">No </label><input type='radio'  id="ifFollowedNOREC_ID" name="medicationCombined" value='no'  autocomplete="off" checked="checked" />
		</div>
		<div style="float:left;">			
			<label for="DISC_ID">Discontinue? </label><input  id="DISC_ID" type='checkbox' name="discontinueMed" value='1'  autocomplete="off" />
		</div>
	</div>
<div id="ecurMedContainerEdits" >
	<br style="clear:both;">
		<div id="EditMedHistoryDisplay"></div>

</div>
<div id="patientReportedCMeds" style="display:block;">
% if ($standalone) {
Nothing Reported
% }
</div>





<div >
	<table cellspacing="1" cellpadding="2">
		<tbody>
			<tr style="font-weight:bold; border-bottom:1pt; border-bottom-style: double;		" >
				<td style="border-bottom:1pt; border-bottom-style: double;">Add</td>
				<td style="border-bottom:1pt; border-bottom-style: double;">Drug / QTY</td>
				<td style="border-bottom:1pt; border-bottom-style: double;">Dates Filled</td>
				<td  style="border-bottom:1pt; border-bottom-style: double;">RxNumber</td>
			</tr>
		</tbody>
		<tbody id="placeforqs1meds">
		</tbody>
	</table>
</div>

</div>
<& '/gray_window.mas' &>
</div>

<%init>

#########################################################################################################

my $qmedSQL=q{select DISTINCT CONCAT_WS(' ', medicationName, medicationDeliveryMethod) As nm,  COUNT(*) as cn, medicationName, medicationDeliveryMethod from `rd3`.`currentMedication`
WHERE
 surveyDate > '2007'
GROUP BY nm HAVING cn > 2
ORDER BY cn DESC};
my $cmMedListPerl = $dbh->selectcol_arrayref($qmedSQL, { Columns=>[1] });
my $cmMedList=JSON::XS::encode_json($cmMedListPerl);
</%init>
<script>

var cm_MedList=<% $cmMedList %>;

// new Autocompleter.Local('cm_mN', 'cm_mN_choices', cm_MedList);


function addQS1Med(dcode, pRxN) {
	new Ajax.Request('/shared/ajax/addCommonMed.html', {
		parameters: {pRxN: pRxN, dcode: dcode, RxNumber: gRxN},
	  	onSuccess: setTimeout('updateCMeds();', 500)
	});
	}
function activateIPEcm() {
				$A(document.getElementsByClassName('ecmInstructions')).each(
		function(elm) {
					new Ajax.InPlaceEditor( elm, '/aa/saveValue.html', {ajaxOptions: {id: elm.id, arg: 'cmedIns', val: elm.textContent  }, formId: 'ipeCM_'+elm.id,
					rows: 3,
					callback: function(form, value) { return 'RxN='+escape(gRxN)+'&arg=cmedIns&id='+escape(elm.id)+'&val='+escape(value) }
					});
					});

}
function updateCMeds() {
	new Ajax.Request(
	'/aa/getCMeds.html', {
		parameters:{RxN: gRxN <% $standalone ? ', oRx: gRxN ' : '' %>},
		onSuccess:function(transport)
		{
			Pat['MedHistory']=(transport.headerJSON || transport.responseText);
			fillEditMedHistory(Pat['instances'][gRxN]);
% unless ($standalone) {
			fillMedHistory(Pat['instances'][gRxN]);
%			}
			setTimeout('activateIPEcm()', 500);
		}
	});
}

var ecmListE = new Template('<div class="cmMed even combined#{medicationCombined} #{showCombinedInfo} ">#{medicationName} #{medicationDosage} #{medicationUnit} <span class="medicationDelMethod"> #{medicationDeliveryMethod}</span> <img class="deletebutton" src="/images/buttons/delete.png" onclick="removeCMed(\'#{ID}\', \'delete\');" /><div class="cmNotes ecmInstructions" id="cmnotes_#{ID}">#{medicationNotesTMP}</div></div>');
var ecmListO = new Template('<div class="cmMed odd combined#{medicationCombined} #{showCombinedInfo}">#{medicationName} #{medicationDosage} #{medicationUnit} <span class="medicationDelMethod"> #{medicationDeliveryMethod}</span> <img src="/images/buttons/delete.png" class="deletebutton" onclick="removeCMed(\'#{ID}\', \'delete\');" /><div class="cmNotes ecmInstructions" id="cmnotes_#{ID}" >#{medicationNotesTMP}</div></div>');

var fillEditMedHistory = function (inst, elmu) {var mhhtml=''; var mhcnt=0; Pat['MedHistory'][inst].each( function(conv, index){
if (typeof Pat['MedHistory'][inst][index+1] != 'undefined') { 

	conv['showCombinedInfo']=Pat['MedHistory'][inst][index+1]['medicationCombined'] == 'no' ? 'showCombinedInfo' : ' ';
if (conv['showCombinedInfo']==null) {conv['showCombinedInfo']='showLastMed';}
} else {conv['showCombinedInfo']='showLastMed';}
conv['medicationNotesTMP']=conv['medicationNotes'] || '';

mhcnt % 2 ? mhhtml+=ecmListE.evaluate(conv) : mhhtml+=ecmListO.evaluate(conv); mhcnt++; 
}); 

if (typeof elmu == 'object' ) {
	elmu.update(mhhtml||'<div class="cmMed even">No Hormone Therapy Reported</div>');
	} else {
		$('EditMedHistoryDisplay').update(mhhtml||'<div class="cmMed even">No Hormone Therapy Reported</div>');
	}
}

	var QS1MED_templ =	new Template(		'<tr>			<td>				<input type="checkbox" id="#{DrugCode}#{dcnt}" onclick="addQS1Med(\'#{DrugCode}\', \'#{RxNumber}\');" />#{DrugCode}			</td><td style="font-weight:bold;"><label for="#{DrugCode}#{dcnt}">#{DrugName} / #{QTY}</label></td>			<td>#{FillDates}</td>			<td>#{RxNumber}</td>		</tr>		<tr>			<td></td>			<td colspan="3">Sig: #{Sig}</td>		</tr>');

function fillQS1Meds() {
	new Ajax.Request(
		'/aa/evalGetQS1Meds.html', {
			parameters:{RxN:gRxN},
			onSuccess: function(transport) {
				var qsms=transport.headerJSON;
				var qmshtml='';
				$A(qsms).each(function(qm){
					qmshtml+=QS1MED_templ.evaluate(qm);
					});
					$(placeforqs1meds).update(qmshtml);
					}
			}	);
	}
	
function fillPatientReportedCMeds() {
	new Ajax.Updater( 'patientReportedCMeds',
		'/aa/evalGetPRCMeds.html', {
			parameters:{RxN:gRxN}			}	);
	}
	


function saveNCMed() {

	new Ajax.Request( '/aa/saveCMeds.html',
		{	method: 'post',
			parameters: {  RxN: gRxN, submitMeds: 1, medicationName: $('cm_mN').value, medicationDosage: $('cn_mD').value, 	medicationNotes: $('cm_Instructions').textContent, medicationCombined: ($('ifFollowedYESREC_ID').checked ? 'yes' : 'no') },
			onSuccess: setTimeout('updateCMeds()', 500),
//			onComplete: function(response) {$('mmm').update(response.responseText);}
		});
	$('cm_mN').clear(); $('cn_mD').clear(); $('cm_Instructions').update();
}
function removeCMed(id, act) {
	new Ajax.Request( '/aa/saveCMeds.html',
		{
			parameters: {  remove: id, RxN: gRxN },
			onSuccess: setTimeout('updateCMeds()', 500)
		});}
		
		
% if ($standalone) {
fillPatientReportedCMeds(gRxN);
fillQS1Meds();
setTimeout('updateCMeds();', 500);
% }
</script>


<%doc>
# just being a coward by not deleting...
#my %cL;
#var cm_Doses=<% JSON::XS::encode_json($cL) %>;
#for my $cm (@$cmMedList) {my $cmDoses=$dbh->selectall_arrayref(q{SELECT DISTINCT medicationName, medicationType, medicationDeliveryMethod, medicationDosage, medicationDosageUnit FROM currentMedications WHERE  surveyDate > '2007'
#AND CONCAT_WS(' ', medicationName, medicationDeliveryMethod)=?}, {Columns=>{}}, $cm);
#	$cL{$cm}=$cmDoses;
#}

# return if $m->cache_self(key => 'FastRecs_052007', expires_in => '12 hours');
my %meds;
# = (
#	cats => {
#		meths => {
#			Dose => (),
#			Instructions => ()
#			}
#	}
# );


#    my @curUnits=$medTableInfo->members('medicationUnit');
</%doc>