<%attr>
ajax => 1
</%attr>
<%args>
$RxN
</%args>
% return unless ($session{userType} eq 'cs' ||$session{userType} eq 'pharmacy' );
% my ($sendTo, $FaxTo, $dpassword, $doctorName, $dusername ) = $dbh->selectrow_array(q{SELECT d.email, d.doctorFax, d.password, d.doctorName, d.username FROM RxLookUp AS RLU STRAIGHT_JOIN patients ON RLU.patientID=patients.patientID STRAIGHT_JOIN doctors AS d ON patients.DoctorCode=d.DoctorCode  OR patients.DoctorCode=d.QS1CODE WHERE RLU.RxNumber=?}, undef, ($RxN));
% my ($sessID) = $dbh->selectrow_array(q{SELECT keyValue FROM aa_eav WHERE rowID=? AND keyName='sessID'}, undef, ($RxN));
% if ($sessID) {
<form style="display:inline;" target="_blank" action='https://restoredirect.com/main/post.html' method='POST' name='n260a664'><input type='hidden' name='username' value='<% $dusername %>' /><input type='hidden' name='password' value='<% $dpassword %>' />
<input type='hidden' name='sessID' value='<% $sessID %>' /></form>
<a href="javascript:document.n260a664.submit();"><% $RxN %></a> (<% $doctorName %>)
% } else {
<% $RxN %> [Not found, try to Re-Complete]\
% }
