
<%attr>
topleft => '/atopleft.mas'
</%attr>
<%args>
$RxN => undef
$standalone => 0
</%args>
% if ($standalone){

<script>

var gRxN=<% $RxN %>;
var showMoreInfo = function(mim,controller) {
		if ($(mim).style.display=='none') {$(controller).style.webkitTransform = 'rotate(90deg)'; $(mim).style.display="block"; $(controller).style.webkitTransform ='opacity(1)';} else {$(controller).style.webkitTransform = 'rotate(0deg)'; $(controller).style.webkitTransform ='opacity(0)'; $(mim).style.display='none';}
}


var Pat = new Object;
Pat['instances']= new Object;
Pat['instances']['<% $RxN %>']=0;

</script>
<style>
#patientReportedCMeds:before {content: "Patient Reports: "; font-weight:bold;}
</style>
% }
<style type="text/css">

.rml_0 {0padding-right: 3em; left: 20px; position: relative; min-width: 8em; display:inline-block;}
.rml_1 {0padding-right: 3em; left: 20px; position: relative; min-width: 8em; display:inline-block;}
.rml_2 {0padding-right: 3em; left: 20px; position: relative; clear:both; min-width: 8em; display:inline-block;}
.rml_3 {0padding-right: 3em; left: 20px; position: relative;  display:none;}

</style>
<span onclick="showMoreInfo('editRealMedicationsArea', 'showermaImage');" alt="More..." class="showControl" style="padding-right:2em;" >Edit Real Medications
	<img id="showermaImage" style="max-height: 1.25em;" src="/images/aa_icons/next_icon.gif" >
</span> 

<script async type="text/javascript">
var update_r_meds = function(frm) {new Ajax.Updater('editRealMedicationsArea_msg', '/aa/saveRMeds.html', {
				  parameters: frm
		});
};

var showMoreInfo = function(mim,controller) {
		if ($(mim).style.display=='none') {$(controller).style.webkitTransform = 'rotate(90deg)'; $(mim).style.display="block"; $(controller).style.webkitTransform ='opacity(1)';} else {$(controller).style.webkitTransform = 'rotate(0deg)'; $(controller).style.webkitTransform ='opacity(0)'; $(mim).style.display='none';}
}


</script>

<div id="editRealMedicationsArea" style="display:<% $standalone ?  'block' : 'none'  %>;">
<& '/gray_window.mas', title => "Edit Real Meds" &>
<div>
		<form id="realmedform" onsubmit="update_r_meds(this.serialize(true)); return false;">
		<div id="editRealMedicationsArea_msg" style="0display:none;"></div>
		<input type="hidden" value="<% $RxN %>" name="RxN" />
		<div class="real_med_line">
			<span class="rml_0">Med</span>
			<span class="rml_1">Dose</span>
			<span class="rml_2">Method</span>
			<span class="rml_3">More than 1x per day?</span>

		</div>
%		for my $med (@$meds, 'methyltestosterone', 'pregnenolone') {
		<div class="real_med_line">
			<span class="rml_0"><input onclick="$('rml_dose_<% $med %>').focus();" type="checkbox" name="rml_med_<% $med %>" value="<% $med %>" id="rml_<% $med %>"/><label for="rml_<% $med %>"><% $med %></label></span>
			<span class="rml_1"><input type="text" patter="\d*\.\d*"  name="rml_dose_<% $med %>" id="rml_dose_<% $med %>" /></span>
			<span class="rml_2">
				<select  name="rml_method_<% $med %>" >
					<option value=""></option>
%	for my $meth (@$methods) {
					<option value="<% $meth %>"><% $meth %></option>
%			}
				</select>
			</span>
			<span class="rml_3"><input type="checkbox" name="rml_med_<% $med %>" value="<% $med %>" id="rml_<% $med %>"/><label for="rml_<% $med %>">Multiple Daily Dosing</label></span>
		</div>
% }
	<input type="submit" />
		</form>
</div>
<& '/gray_window.mas' &>
</div>

<%init>

#########################################################################################################

my $medsSQL=q{select DISTINCT rMmedType FROM DoseSigLogic WHERE rMmedType IS NOT NULL AND rMmedType != '' 
GROUP BY rMmedType  ORDER BY COUNT(rMmedType) DESC};
my $methodsSQL=q{select DISTINCT medMethod FROM DoseMethodsLogic WHERE medMethod IS NOT NULL ORDER BY medMethod};
my $meds = $dbh->selectcol_arrayref($medsSQL, { Columns=>[1] });
my $methods = $dbh->selectcol_arrayref($methodsSQL, { Columns=>[1] });

</%init>
