<%attr>
ajax =>1
</%attr>
<%args>
$attrs => 1
$updltr => 0
$ptID => undef
</%args>

<%init>
$m->out( RD2::jd(\%ARGS));
#move top/bottom into this page...
my @otherlabs=();
if ($ARGS{submitLab}) {
	delete $ARGS{submitLab};
	my $Status=$ARGS{Status};
	delete $ARGS{Status};
		unless ($ARGS{"labResults.Test_Date::labValueAM"}=~m/^\d\d\d\d-\d\d-\d\d$/) {
					unless ($ARGS{"labResults.Test_Date::labValueAM"}=~s/^(\d\d)\D(\d\d)\D20(\d\d)$/20$3-$1-$2/) {
						unless ($ARGS{"labResults.Test_Date::labValueAM"}=~s/^(\d\d)\D(\d\d)\D(\d\d)$/20$3-$1-$2/) {$ARGS{"labResults.Test_Date::labValueAM"} = RD2::timer($dbh);}
					}
	}
	my %hash;
	foreach my $key (sort keys %ARGS) { # sort to get 0allrows first
		if($key=~m/^([a-zA-Z0-9\_]+)\.([a-zA-Z0-9\_]+):{0,2}([a-zA-Z0-9\_]+)?$/g) {
				#### KEEP THIS, otherwise values are repeated
				my $table=$1;
				my $labTest=$2;
				my $attr=$3;
				$hash{$table}->{$labTest}->{$attr}=$ARGS{$key};
				
		}
	}
	#add date to all
	$hash{labResults}->{'0allrows'}->{'sampleDate'} =	$hash{labResults}->{'Test_Date'}->{'labValueAM'};
	my %all=%{$hash{labResults}->{'0allrows'}};
	delete $hash{labResults}->{'0allrows'};
	my $errmsg=RD2::setLabResult($dbh,  all => \%all, results => \%{$hash{labResults}}, Status => $Status, overwrite => 1, _debug => 1 );

	$m->out( $errmsg ? qq{<h3 style="color:red;">Error: $errmsg</h3>} : qq{<h3 style="color:green;">$ARGS{"labResults.0allrows::RxNumber"} submitted as $Status</h3>});
} ########################
        my $patientLab;
        my $labRx;
        my $RxNumber = $labRx = $ARGS{RxNumber} || $ARGS{"labResults.0allrows::RxNumber"}; #works if changed to 1234567
        $RxNumber=RD2::RxLookUp($dbh, $RxNumber);
        my $patientID;
        my $labMSG;
if ($ptID && !$RxNumber) { $RxNumber=$dbh->selectrow_array(q{SELECT RxNumber FROM labStatus WHERE patientID=? ORDER BY sampleDate DESC}, undef, ($ptID));}

        # see if test exists
        if ( $RxNumber ) {
									($patientLab) = RD2::getLabResult($dbh, RxNumber => $RxNumber, debug=>1);
                $patientID = RD2::getpatientidfromrxnumber($dbh,  RxNumber => $RxNumber );
                $labMSG=qq{<span class='warning'>RxNumber: $RxNumber Not Found!</span>} unless $patientID;

                if ( !$patientID ) {
                       $patientID = $RxNumber = "";
                       $patientLab = ();
                       delete $ARGS{RxNumber};
                } else {@otherlabs=RD2::getpatientlabs($dbh, patientID=>$patientID, status=> [qw(Complete Error Received)]);}
                }
                
                

</%init>
<style>
.jlink {font-weight:bold; color: #305C96; text-align:center; cursor: pointer;}
</style>
<script type="text/javascript" src="js/receivekits.js"></script>
  <script type="text/javascript">
  	function showElm (elm) {
	  	  document.getElementById(elm).style.display='block';
	  	  return false;
  	}
  	

  </script>
<div style="padding:10px">
  <div id="msg" style="display:none; font-weight:bold"></div>

<& '/gray_window.mas', title => ( $patientID ? qq{Edit} : qq{Enter} )." Test Results ($RxNumber)" &>

<form name="lResults" action='/lab/lab/enterresults.html' method="POST" onsubmit="sendLabs(this); showMoreInfo('editLabsArea', 'showelabsImage'); return false;">
<%perl>
        unless ( defined $patientLab->{Test_Date}->{labValueAM} ) { $patientLab->{Test_Date}->{labValueAM} = RD2::timer($dbh); }
        my $displayType = 2; #1 = header
        # 1 is yes, 2 is no
        my $sex=$session{patientinfo}->{Sex} || 'F';
 
        foreach my $lType (('saliva', 'urine', 'urine spot', 'serum')) {
             my (@usedLabs,@labsLabels,@labsBarcoded, @labsDisplayType, $lab, $labTable, $totalLabLength, $lablabel);
        my $labType = "saliva";
        my @hasPM;
        my @retestable;
        my @labTypes;
        # removed the OR "Test_Date" from final ()ing
            my $ref = $dbh->selectall_arrayref( qq{SELECT labTest, labLabel, labBarcoded, labDisplayType, hasPM, retestable, u.labType, u.clia, c.refRange FROM labTestsUsed u  LEFT OUTER JOIN labRangesCalc c ON labTest=rangeType AND u.clia=c.clia AND u.labType=c.labType WHERE labUsed = 1 AND labDisplay = $displayType AND u.labType=? AND (c.Sex IS NULL OR c.Sex=?) ORDER BY labOrder}, undef, ( $lType, $sex));

        foreach my $row (@{$ref})   {
                push @usedLabs, $row->[0];                push @labsLabels, $row->[1];                push @labsBarcoded, $row->[2];                push @labsDisplayType, $row->[3];                push @hasPM, $row->[4];                push @retestable, $row->[5];                push @labTypes, $row->[6];        
                # 7 - CLIA
                # 8 - refRange
				$row->[8]=~s{[\n\t\s]+}{\n}gi;                
				$row->[8]=~s{<br/?>}{\n}gi;
				# print qq{<div><div style="color:green;">$row->[8]:</div>}; 
				HTML::Entities::decode_entities( $row->[8] );
				# print qq{<div style="color:red;">$row->[8]</div></div>\n\n};
                }

                $m->out( qq{
                <div class="jlink" style="text-transform:capitalize;" onclick="showElm('lType_$lType');">\u$lType Labs</div><hr/>
         <table cellspacing="5" cellpadding="0"  id="lType_$lType" style="} . ($lType eq 'saliva' ? '' : 'display:none;' ) .qq{">
                <tr>
                	<td>&nbsp;</td><td align="center">AM</td><td align="center">PM</td><td align="center">Re-Test?</td><td>CLIA#</td><td>Ref Range</td>
                	\t</tr>});
                	
        for (my $x; $x <= $#usedLabs; $x++) {
        				my $ti=$x+2;
                my $labLength += length($labsLabels[$x]) +2;
                $totalLabLength += $labLength;
                # fix for labs:
                my $rR;
                {
                $patientLab->{"$usedLabs[$x]"}->{refRange}=~s{<br/?>}{\n}gi;
                $rR=HTML::Entities::decode_entities($patientLab->{"$usedLabs[$x]"}->{refRange});
                }
                $m->out( qq{\t<tr>
                 <td>$labsLabels[$x]<br/><span style="color:grey; font-size:smaller;">(CLIA#: $ref->[$x]->[7])</span></td>
                 <td>
                 	<input type="hidden" name="labResults.$usedLabs[$x]::labType" value="$labTypes[$x]" />
                 	<input tabindex="$ti" autocomplete="off" type="text" name="labResults.$usedLabs[$x]} .  ($hasPM[$x] eq 'yes' ? '::labValueAM' : '::labValueAM' ) . qq{" size="$labLength" style="width:150px" value="$patientLab->{"$usedLabs[$x]"}->{labValueAM}" >
                 </td>} . ($hasPM[$x] eq 'yes' ? qq{
                 <td>
                 	<input tabindex="$ti" type="text" autocomplete="off" name="labResults.$usedLabs[$x]::labValuePM" size="$labLength" style="width:150px" value="$patientLab->{"$usedLabs[$x]"}->{labValuePM}" >
                 </td>} : '<td>&nbsp;</td>') . ( $retestable[$x] eq 'yes' ? qq{
                 <td>
                 	<input type="checkbox" name="labResults.$usedLabs[$x]::retest" value="yes" } . ($patientLab->{$usedLabs[$x]}->{retest} eq 'yes' ? 'checked' : '' ) . qq{ />
                 </td>} : '<td>&nbsp;</td>' ) . 
                 qq{<td><span class="jlink" onclick="showElm('labResults.$usedLabs[$x]::clia')">CLIA#</span>} .
                 qq{<td><input style="display:none" id="labResults.$usedLabs[$x]::clia" type="text" name="labResults.$usedLabs[$x]::clia"  value="} .($patientLab->{"$usedLabs[$x]"}->{clia} || $ref->[$x]->[7]) . q{" /></td>} .
                 qq{<td>} .
 qq{<span class="jlink" onclick="showElm('labResults.$usedLabs[$x]::refRange')">Ref Ranges</span><textarea  name="labResults.$usedLabs[$x]::refRange" id="labResults.$usedLabs[$x]::refRange" style="display:none;" >} .
 ( $rR || undef  ) .
# $ref->[$x]->[8]
                 q{</textarea></td>} .                 
                 qq{
                </tr>\n} );
        }
        $m->out(qq{</table><p/>\n});
        }
</%perl>
<table>
	<tr>
		<td>	  Status: </td>
		<td>
			  <select name="Status">
			  			<option value="Complete" selected >Complete</option>
			  			<option value="Received">Received</option>
			  			<option value="Error">Error</option>
			  </select>
		</td>
  </tr>
  </table>

	<input type="hidden" name="submitLab" value="1" />

  <p align="center"><input type="submit" value="Submit Lab"></p>
  </form>
<& '/gray_window.mas' &>
