<%args>
$RxN => undef
$patientID => RD2::getpatientidfromrxnumber($dbh, RxNumber => $RxN)
$barWidth => 10
$qType
</%args>
<%attr>
topleft => 'none'
bottomleft => 'none'
</%attr>
<%init>
my $qs=$dbh->selectall_arrayref(q{SELECT question, a.keyValue FROM hhQuestions h JOIN aa_eav a ON h.saveValue=a.keyName AND a.rowID=? WHERE qType=? and onOff=1 AND section='Medical History' ORDER BY questionOrder}, undef, ($RxN, $qType));
</%init>
<div id="medicalHistoryAreaM">
	<ul class="medicalHistoryList">
% for my $q (@$qs) {
		<li class="MedHist_<% $q->[1] =~ /yes/i ? 'yes' : 'no' %>" ><% qq{$q->[0]: $q->[1]} %></li>
%			 }
	</ul>
</div>