<%attr>
ajax => 1
</%attr>
<%args>
$RxN
@notes => undef
</%args>
<%init>
# warn q{SELECT * FROM aa_eav WHERE rowID=? AND keyName IN (}.(join(', ', ('?')x@notes)). q{)};
# warn join("', '", ($RxN, @notes));
my @oldNotes=('currentIRMA.PatientNotesCurrent_Medications', 'currentIRMA.PatientNotesCycling_Questions', 'currentIRMA.PatientNotesGeneral_Information', 'currentIRMA.PatientNotesLifestyle', 'currentIRMA.PatientNotesMedical_History');
my $ns;
if ($notes[0] eq 'all') {
$ns = $dbh->selectall_arrayref(q{SELECT * FROM aa_eav WHERE rowID=? AND (keyName IN (}.(join(', ', ('?')x@oldNotes)). q{) OR keyName LIKE 'PatientNotes-%' )}, {Columns=>{}}, ($RxN, @oldNotes));
} else {
$ns = $dbh->selectall_arrayref(q{SELECT * FROM aa_eav WHERE rowID=? AND keyName IN (}.(join(', ', ('?')x@notes)). q{)}, {Columns=>{}}, ($RxN, @notes));
}


return unless $ns->[0];
</%init>
	<ul>
% for my $li (@$ns) {
		<li id="<% $li->{keyName} %>"><% $li->{keyValue} %></li>
% }
	</ul>