<%attr>
topleft => 'none'
bottomleft => 'none'
</%attr>
<div id="patientHHNotes"></div>
<div id="RestoreHHNotes" ></div>

<div id="TherapyEvaluationNotes" notitle="Therapy Evaluation Notes" class="evaluation editable evaluationNotes" ></div>
<div id="TherapyEvaluation" notitle="Therapy Evaluation" class="evaluation editable"></div>
<div id="FurtherTherapyConsiderations" notitle="Further Therapy Considerations" class="evaluation editable"></div>
<div id="AdditionalTesting" class="evaluation editable" notitle="Additional Testing"></div>
<div id="SelfCareNotes" class="evaluation editable" notitle="Self-Care Notes"></div>