<style>
#recEdit { min-height: 400px; border-radius: 1em; background-color: #D5FFD1; min-width: 400px; padding: 0.85em; max-width: 45%; float:left;}
 #recEdit:before { content: 'Recommendations'; font-weight:bold;  }

#recSystemic { 
	border-radius: 1em; background-color: #D1FAFF; min-width: 400px; padding: 0.85em;
 }
 #recSystemic:before { content: 'Systemic'; font-weight:bold;  }

#rec_sys_discontinue {  
	border-radius: 1em; background-color: #FFD1D1; min-width: 400px; padding: 0.85em;
}
 #rec_sys_discontinue:before { content: ''; font-weight:bold;  }

#rec_sys_Estrogen { 
	border-radius: 1em; background-color: #D1FFFF; min-width: 400px; padding: 0.85em;

 }
 #rec_sys_Estrogen:before { content: 'Estrogens'; font-weight:bold;  }

#rec_sys_Progesterone { 
	border-radius: 1em; background-color: #D1FFFF; min-width: 400px; padding: 0.85em;

 }
 #rec_sys_Progesterone:before { content: 'Progesterone'; font-weight:bold;  }

#rec_sys_Androgen {
	border-radius: 1em; background-color: #D1FFFF; min-width: 400px; padding: 0.85em;

  }
 #rec_sys_Androgen:before { content: 'Androgen'; font-weight:bold;  }

#rec_sys_Adrenal { 
	border-radius: 1em; background-color: #D1FFFF; min-width: 400px; padding: 0.85em;

 }
 #rec_sys_Adrenal:before { content: 'Adrenal'; font-weight:bold;  }

#rec_sys_Thyroid { 
	border-radius: 1em; background-color: #D1FFFF; min-width: 400px; padding: 0.85em;

 }
 #rec_sys_Thyroid:before { content: 'Thyroid'; font-weight:bold;  }

#rec_sys_GH { 
	border-radius: 1em; background-color: #D1FFFF; min-width: 400px; padding: 0.85em;

 }
 #rec_sys_GH:before { content: 'GH'; font-weight:bold;  }

#rec_sys_Other { 
	border-radius: 1em; background-color: #D1FFFF; min-width: 400px; padding: 0.85em;

 }
 #rec_sys_Other:before { content: ''; font-weight:bold;  }

#recLocal {  }
 #recLocal:before { content: 'Local'; font-weight:bold;  }

#recSupplements {  }
 #recSupplements:before { content: ''; font-weight:bold;  }

</style>

<div id="recEdit" >
	<div id="recSystemic">
		<div id="rec_sys_discontinue">test</div>	
		<div id="rec_sys_Estrogen"></div>	
		<div id="rec_sys_Progesterone"></div>
		<div id="rec_sys_Androgen"></div>
		<div id="rec_sys_Adrenal"></div>	
		<div id="rec_sys_Thyroid"></div>
		<div id="rec_sys_GH"></div>	
		<div id="rec_sys_Other"></div>	
	</div>
	<div id="recLocal">
	
	</div>
	<div id="recSupplements">
	
	</div>

</div>
<div class="rec_med" data-id="3072">Progesterone ERT 300mg<div class="rec_sig">Take with water</div></div>