<%attr>
topleft=> 'none'
bottomleft=> 'none'
</%attr>
<%args>
$print => undef
$panelArgs => undef
$RxN => undef
@displays => undef
$direction => 'v'
$showRanges => undef
$patientID =>  $RxN ? RD2::getpatientidfromrxnumber($dbh,  RxNumber => $RxN) : @displays ? RD2::getpatientidfromrxnumber($dbh,  RxNumber => $displays[0]) : $session{patientID}
$show_clias => 1
</%args>
<%attr>

</%attr>


<%init>
#my @snotes;
use HTML::Entities;
#push(@displays, $RxN, $panelArgs->{RxNumber});
unless ($displays[0]) {my @allLabs=RD2::getpatientlabs($dbh,  patientID => $patientID );
										foreach my $lab (@allLabs){
											push(@displays, $lab->{RxNumber});}
}
my @labs;

foreach my $display (@displays) {
	push (@labs, RD2::getLabResult($dbh, RxNumber => $display, debug=> 0));
	}
unless (@labs) {$m->out(qq{No lab data. ($patientID): } . join(', ', @displays)); return;}
my $labType = 'saliva';

my @labcolumns = ('labTest', 'labLabel', 'graph', 'labUnit', 'shortLabLabel');
my %labquery = (
		labUsed => 'yes',
#		labType => "$labType",
		drDisplay => 'list'
);
		
my $laboptions = "ORDER BY labOrder";

my @labresults=RD2::sqlsearch($dbh,   columns => \@labcolumns, tables => 'labTestsUsed', query => \%labquery, options => $laboptions, debug => 0);

my @labRefRanges=RD2::getlabranges($dbh,  patientID => $patientID);

#clean
		foreach my $num (0..@labresults) {
						my $cleaner=0;

#			next if ($labresults[$num]->{labTest} eq 'RxNumber' || $labresults[$num]->{labTest} eq 'Test_Date' ) ;
			foreach my $row (@labs) {
				
				if (qq{$row->{"$labresults[$num]->{labTest}"}->{labValueAM}} || qq{$row->{"$labresults[$num]->{labTest}"}->{labValuePM}}) {	$cleaner=1;		}
#							print $row->{"$labresults[$num]->{labTest}"}->{labValueAM}, " is ", $cleaner, '<br/>';

			}
			unless ($cleaner) {	delete $labresults[$num];  #splice(@labresults, $num, 1);
			}
		}



# for JSON-based option list:
my @labGraphOptions;
		foreach my $labr (@labresults) {
		next unless $labr; #splice caused [ODD] problems	
			push(@labGraphOptions,{keyid=>$labr->{labTest}, key=> ($labr->{shortLabLabel} ? "$labr->{labLabel} ($labr->{shortLabLabel})" : $labr->{labLabel})}) if $labr->{graph} eq 'yes';
			}
			my $llabels=JSON::XS::encode_json(\@labGraphOptions);
			$r->headers_out->add('X-JSON'=> $llabels);


my %lab_hilo=(0=>'L', 4=>'H');
</%init>
<style>
.lab_hilo {color: rgb(71, 71, 71); font-size:smaller;}
</style>
% if ($direction eq 'v') {


<div><label class="showControl" for="showRefRanges">Show Reference Ranges</label>
<input class="showControl" id="showRefRanges" value="1" type="checkbox" onclick="$A(document.getElementsByClassName('labRefRanges')).invoke(this.checked ? 'show' : 'hide');">
</div>
<table class="lab3" id="lrTable">
<caption>Lab Results*</caption>
	<tbody>
% my $num=0;
%		foreach my $labr (@labresults) {
%		next unless $labr; #splice caused [ODD] problems	
	<tr class="<% $num % 2 ? 'even' : 'odd' %>">
%	my $onclick=qq{onclick="return loadIframe('ifrm', '/charts/testchart.html?labTest=$labr->{labTest}&patientID=$patientID&js=onblur')"} ; #|| onclick="javascript: popUp$funcName('/charts/testchart.html?labTest=$labr->{labTest}&patientID=$patientID&js=onblur');";
		<td class="labLabel"><% $labr->{graph} eq 'yes' ? qq{<a $onclick >$labr->{labLabel} <br/><span class='verysmalllink'>(graph)</span></a>} : $labr->{labLabel} %></td>
		<td class="labRefRanges" style="<% $showRanges ? '' : 'display:none;' %>"><span>
% # Ref Ranges:
% if ($labs[-1]->{$labr->{labTest}}->{refRange} =~/\S/g) {
% 	if ($labs[-1]->{$labr->{labTest}}->{refRange}  eq $labRefRanges[0]->{$labr->{labTest}})  {
 	<% $labs[-1]->{$labr->{labTest}} =~/\S/g ? $labs[-1]->{$labr->{labTest}} : '&#160;' %>
% 	}	else	{ 
		<% $labs[-1]->{$labr->{labTest}}->{refRange} || $labr->{labTest} %>
% 	}
% # /Ref Ranges
% }	else	{ 
			<% $labRefRanges[0]->{$labr->{labTest}} || '&#160;' %>
% }
		</span></td> 
		
		

% foreach my $row (@labs) {


% # DEPRECATED:  push(@snotes, qq{ <div id="supernote-note-} . $rand . qq{" class="snp-mouseoffset notedefault"><a name="$rand"></a><span> Ranges:<br/>} . $row->{$labr->{labTest}}->{refRange} . q{<br/>CLIA#: } . encode_entities($row->{$labr->{labTest}}->{clia}) .q{</span></div>});


%	my $rand=RD2::randStr($dbh, 'format' => 'ccccccc');
	<td class="labData"  ><span href="#<% $rand %>" id="SN<% $rand %>" class="supernote-hover-<% $rand %>"> \
% encode_entities($row->{$labr->{labTest}}->{refRange}); 	$row->{$labr->{labTest}}->{refRange}=~s/\n/<br>\n/g;

% my $str; $str=qq/$row->{"$labr->{labTest}"}->{labValueAM}/ if $row->{"$labr->{labTest}"}->{labValueAM};
% if ($row->{"$labr->{labTest}"}->{labValuePM}) { $str.=qq{ / $row->{"$labr->{labTest}"}->{labValuePM}}; }
% $str.= $str ? qq{  $labr->{labUnit}} : '-';
% $str .= qq{*} if (qq{$row->{"$labr->{labTest}"}->{retest}} eq 'yes');
% if ($labr->{labTest} eq 'RxNumber') { $str = qq{$row->{Test_Date}->{RxNumber}} };
% encode_entities($str);
<% $str ||'&nbsp;' %><sup class="lab_hilo">
	<% $row->{$labr->{labTest}}->{labValueAM} =~m/^(\d+\.?\d*|\.\d+)$/ || 
	$row->{$labr->{labTest}}->{labValuePM} =~m/^(\d+\.?\d*|\.\d+)$/ ?
	 $lab_hilo{$row->{$labr->{labTest}}->{hilo}}: '' %></sup> </span>
% # Ref Ranges:
% if ($row->{$labr->{labTest}}->{refRange} =~/\S/g) {
<% $row->{$labr->{labTest}}->{refRange}  eq $labRefRanges[0]->{$labr->{labTest}} ? $labr->{refRange} : qq{<div class="labRefRanges" style="display:none;">($row->{$labr->{labTest}}->{refRange})</div>} %>
% }
% # /Ref Ranges


</td>
% }
	</tr>
% $num++;}
 </table>
% # <% join(', ', keys %{$labs[0]->{Estradiol}}) %>
<span id="labclias">
<%perl>
my %clias;
 foreach my $row (@labs) {
	foreach my $labr (@labresults) { 
	next unless $labr;
	next unless $row->{$labr->{labTest}}->{clia};
			my $clia_label=$labr->{labLabel} ; #|| $labr->{shortLabLabel} ? "$labr->{labLabel} ($labr->{shortLabLabel})" : $labr->{labLabel};
			$clias{  $row->{$labr->{labTest}}->{clia}  }||={};
			push(@{$clias{$row->{$labr->{labTest}}->{clia}}->{$clia_label}}, $row->{$labr->{labTest}}{sampleDate});
			
	#		$m->out(qq{<div>$clia_label : } .encode_entities($row->{$labr->{labTest}}->{clia})  . q{</div>});
		}
		
	}			
delete	$clias{'52D0994567'};
	
#	$m->out(RD2::jd(\%clias) ) if $ARGS{debug}==1;
</%perl>
<style>
.lr_clia_list {font-size: x-small; color: gray;}
.lr_clia_labs+.lr_clia_labs:before { content: ', '; }
.clia_nums {font-weight: bold; font-size: x-small; color:gray;}
</style>
<div class="clia_nums">CLIA #s:</div>
% if ($show_clias){	for my $clia (%clias)	 { next unless ref $clias{$clia};
	<div class="lr_clia_list">
		<span class="lr_clia"><% $clia | h %>:</span>
			<span class="lr_clia_labs">
% 			 for my $cl (keys %{$clias{$clia}} ) {
				<span class="lr_clia_labs"><% $cl | h %> <% (@{$clias{$clia}->{$cl}} > 1) ? '[' . join(', ', @{$clias{$clia}->{$cl}}  ) . ']' : '' | h %></span>
%			}
		</span>
	</div>
%	}	}
	<div class="lr_clia_list">
		<span class="lr_clia">Others: 52D0994567</span>
	</div>
% }

