<%attr>
topleft => '/atopleft.mas'
</%attr>
<%init>
my $prods=$dbh->selectall_hashref(q{SELECT * FROM restoreProducts WHERE productAvailable='Y'}, ['productType', 'productCategory', 'productID']);
######################################## look in aa.js##################################################
use Data::Dumper;
 if ($ARGS{dump}) { 
 					$m->print('<pre>'.
 					Data::Dumper::Dumper($prods).'</pre>'); 
 					}

</%init>
% #<input type="button" onclick="showrPs();" value="Show R Products" />

<div id="rPListForm">
<form action="/aa/rxsubmit.html" onsubmit="
this.request({  parameters: { patientID:Pat['info']['pinfo']['patientID'], DoctorCode:Provider['info']['DoctorCode'], yam: 'may' },
	onComplete: function(){
	 alert('Thank you! '+Pat['info']['pinfo']['PatientFirstName']+ ' ' +Pat['info']['pinfo']['PatientLastName']+' will be contacted about the order'); }}); this.reset(); return false;">
	 
	 <input type="hidden" name="patientID" />	 <input type="hidden" name="DoctorCode" />
<div>
	<table>
		<tr>
			<td style="padding: 1em; width:50%">
				<ul id="rPList"></ul>
			</td>
			<td style="border-left: thin solid silver; padding: 1em;  min-width:12em; vertical-align:top;">
				<div style="text-align:center; color:grey; font-size:1.1em; font-weight:bold;">Lab Order</div>
				<div id="labOrderList"></div>
				<div>Instructions:
					<div><textarea name="Instructions" style="width:20em;"></textarea></div>
				</div>			<input type="submit" value="Order &gt;&gt;" />
			</td>
		</tr>
		<tr><td colspan="2"></td></tr>
		<tr><td colspan="2"></td></tr>
	</table>
</div>

</form>
</div>