<%attr>
topleft => '/atopleft.mas'
</%attr>
<%args>
$RxNumber => undef
</%args>
<%init>
	return unless ($session{username} eq 'kalir' || $session{username} eq 'cs' || $session{username} eq 'lolson' || $session{username} eq 'marla'  || $session{username} eq 'trutina' );
#    return if $m->cache_self(expire_in => '120 min', key => 'fookeyaa'.$session{username});
$m->flush_buffer;
</%init>

<style title="logic_debugger" type="text/css">
#sidebar  {float: left ; margin: 1.5em;}
#completedarea {float: left ; margin: 0.5em; width: 48%; max-width: 48%;}
#fresharea {float: left ; margin: 0.5em; width: 49%; max-width: 49%;}




% my @defloat = qw (DiagnosesNotes diagnosesArea importantInfo0 medicalHistoryArea0 patientHHNotes RestoreHHNotes TherapyEvaluationNotes TherapyEvaluation FurtherTherapyConsiderations AdditionalTesting SelfCareNotes );
% for my $div (@defloat) {
	#<% $div %> {float:none; max-width: none;}
%	}

% my @hides = qw (DiagnosesNotes  patientHHNotes RestoreHHNotes TherapyEvaluationNotes );
% for my $div (@hides) {
	#<% $div %> {display:none; }
%	}
	#medicalhistoryarea {width:auto;}
	.medicalhistorylist li {float:none;}
	#c_if {	width: 100%; height: 200em;	}
	#aaEAV {overflow-y: hidden; max-height: 18em; width: 18em; float:left;}
	#aaEAV:hover {overflow-y: scroll;}
</style>
<style>
#ACToolbar {position:fixed; top:1em; background-color: #555555; width: 80%;  }
#slque:hover {max-height: 4em; overflow-y: scroll;}
#slque {max-height: 4em; overflow-y: hidden;}
</style>
<div id="slque">
<%perl>
my $slq=$dbh->selectall_arrayref(q{SELECT ae.rowID, ae.keyValue FROM aa_eav ae JOIN hhStatus hs ON ae.rowID=hs.rowID WHERE keyName='learnLogic' AND keyValue NOT LIKE '%x' AND qType='aYf0'  ORDER BY ae.tstamp DESC LIMIT 20}, {Columns =>{}});
</%perl>
% for my $rid (@$slq) {
	<div><a href="#" onclick="$('enterPatientName').value=<% $rid->{rowID} %>; setTimeout('activatePatient(null, <% $rid->{rowID} %>, ap_args)', 500); document.getElementById('c_if').contentDocument.getElementById('enterPatientName').value=<% $rid->{rowID} %>; document.getElementById('c_if').contentWindow.activatePatient(null, <% $rid->{rowID} %>, {force_ncstatus: 'New', freshRecs: 1}); return false;"><% $rid->{rowID} %> - <% $rid->{keyValue} %></a></div>
%	}
</div>
<& '/aa/patientselector.mas', val => $session{RxNumber} || $session{word} &>

<div id="statusWarning" style="font-weight:bold; color:red;"></div>

<& '/aa/evaluationEditor_debug.html' &>

<div id="top_bar">
	<div id="curMedContainer" style="float:left;">
		<ul id="curMedList"></ul>
		<br style="clear:both;" />
		<div id="MedHistoryDisplay"></div>
	</div>
		<div id="MedicationsNotes" class="evaluation editable evaluationNotes"></div>
		<br style="clear:both;" />
	<div class="flotrChart" style="float:left">
		<& '/charts/createFlotr.html', id=> 'flotrcontainer3', header => 'Labs', onsubmit => 'labChart' &>
	</div>
	<div class="flotrChart" style="float:left">
		<& '/charts/createFlotr.html', id=> 'flotrcontainer2b', header => 'Symptoms' &>
	</div>

</div>
<hr/>
<br style="clear:both;" />

<div id="multicolumnarea">
	<div id="sidebar">Sidebar
	
	<div id="hormoneSummary" style="float:left;">
		<& '/aa/hormoneSummary.html', RxNumber => $RxNumber &>
	</div>


		<& '/aa/importantinfo.html' &>
		<div id="medicalHistoryArea"></div>
	<span onclick="showMoreInfo('aaEAV', 'show_aaEAV'); new Ajax.Updater('aaEAV', '/aa/show_aaEAV.html', {parameters: {'RxN': gRxN } }); " alt="More..." class="showControl" style="padding-right:1em;" id="show_aaEAV">EAV
	<img id="show_aaEAV" style="max-height: 1.25em;" src="/images/aa_icons/next_icon.gif">
</span>
<div id="aaEAV"></div>
	
</div>
		<br style="clear:both;" />
	<div id="completedarea"><h4>Completed Area</h4>
		<div id="pChartArea" style="display:none;">
		<div id="hormoneSummary" style="float:left;">
			<& '/aa/hormoneSummary.html', RxNumber => $RxNumber &>
		</div>
	
	
		
		
		
		
		<& '/aa/diagnoses.html' &>
		<& '/aa/hhNotes.html' &>
	
		
		<div style="float:left;">
			<& '/aa/recommendations.html' &>
		</div>
		

		
		</div>
	
	</div>
	<div id="fresharea">Fresh Logic Area<iframe id="c_if" src="/aa/logic_debug_fresh.html"></iframe></div>
</div>


<div id="loading" onclick="this.hide();" style="position:fixed; z-index: 9999; font-size: 3em; top:45%; left: 45%; display:none; color:white; font-weight:bold; -webkit-border-radius: 1.5em; padding: 2em; background-color: black; opacity: 0.75;">Loading...</div>




% $m->flush_buffer;
<& '/aa/aa_debug.js' &>
<script>
// activate the lp_tabs:
$A(document.getElementsByClassName('lp_tabs')).each(function(tab_group){      new Control.Tabs(tab_group, {activeClassName: 'current'});  });  
var clearHTML=$('pChartArea').innerHTML;
</script>
<script>

var goodbye = function (e) {
	if(!e) e = window.event;
	//e.cancelBubble is supported by IE - this will kill the bubbling process.
	e.cancelBubble = true;
	e.returnValue = 'You sure you want to leave?'; //This is displayed on the dialog

	//e.stopPropagation works in Firefox.
	if (e.stopPropagation) {
		e.stopPropagation();
		e.preventDefault();
	}


  var message = "Confirm you want to leave this report",
  e = e || window.event;
  // For IE and Firefox
  if (e) {
    e.returnValue = message;

  }

  // For Safari
  return message;

}
window.onbeforeunload=goodbye;
</script>