<%attr>
topleft => '/atoplefthead.mas'
bottomleft => 'none'

</%attr>
<%args>
$RxNumber => undef
</%args>
<%init>
	return unless ($session{username} eq 'kalir' || $session{username} eq 'cs' || $session{username} eq 'lolson' || $session{username} eq 'marla'  || $session{username} eq 'trutina' );
#    return if $m->cache_self(expire_in => '120 min', key => 'fookeyaa'.$session{username});
$m->flush_buffer;
</%init>

<style title="logic_debugger" type="text/css">
li ul {list-style-type:circle;}
#sidebar  {float: left ; margin: 1.5em;}
#fresharea {float: left ; margin: 1.5em; font-size: 16px;}
#completedarea {float: left ; margin: 1.5em;}




% my @defloat = qw (DiagnosesNotes diagnosesArea importantInfo medicalHistoryArea0 patientHHNotes RestoreHHNotes TherapyEvaluationNotes TherapyEvaluation FurtherTherapyConsiderations AdditionalTesting SelfCareNotes );
% for my $div (@defloat) {
	#<% $div %> {float:none; max-width: none;}
%	}

% my @hides = qw (DiagnosesNotes  patientHHNotes RestoreHHNotes TherapyEvaluationNotes );
% for my $div (@hides) {
	#<% $div %> {display:none;}
%	}
	#medicalhistoryarea {width:auto;}
	.medicalhistorylist li {float:none;}
</style>
<& '/aa/patientselector.mas', val => $session{RxNumber} || $session{word}, force_ncstatus => 'New', freshRecs => 1  &>
<h2><a href="#" onclick="$('enterPatientName').value=gRxN; $('enterPatientName').focus();">REfill</a></h2>
<hr/>

<br style="clear:both;" />

	<div id="fresharea"><h4>Fresh Logic Area</h4>
		<div id="pChartArea" style="display:none;">
		
		
		
		
		<& '/aa/diagnoses.html' &>
	
	<& '/aa/hhNotes.html' &>
	
		
		<div style="float:left;">
			<& '/aa/recommendations.html' &>
		</div>
		
		<br style="clear:both;" />
% if ($session{userType} eq 'cs') {
		</div><div>
% }
		
		</div>
	







<style>
#ACToolbar {position:fixed; top:1em; background-color: #555555; width: 80%;  }
</style>


% if ($session{userType} eq 'cs' ) {
<div id="statusWarning" style="font-weight:bold; color:red;"></div>

<& '/aa/evaluationEditor_debug.html' &>
% }
<div id="loading" onclick="this.hide();" style="position:fixed; z-index: 9999; font-size: 3em; top:45%; left: 45%; display:none; color:white; font-weight:bold; -webkit-border-radius: 1.5em; padding: 2em; background-color: black; opacity: 0.75;">Loading...</div>




% $m->flush_buffer;
<& '/aa/aa_debug.js' &>
<script>
// activate the lp_tabs:
$A(document.getElementsByClassName('lp_tabs')).each(function(tab_group){      new Control.Tabs(tab_group, {activeClassName: 'current'});  });  
var clearHTML=$('pChartArea').innerHTML;
</script>
