<%args>
$RxN => undef
$patientID => RD2::getpatientidfromrxnumber($dbh, RxNumber => $RxN)
$barWidth => 10
$qType
</%args>
<%attr>
topleft => 'none'
bottomleft => 'none'
</%attr>
<%init>
my $qs=$dbh->selectall_arrayref(q{SELECT question, a.keyValue FROM hhQuestions h JOIN aa_eav a ON h.saveValue=a.keyName AND a.rowID=? WHERE qType=? and onOff=1 AND section='Medical History' AND displayType != 'hidden' ORDER BY questionOrder}, undef, ($RxN, $qType));
unless(@$qs) {return;}
</%init>

<div id="medicalHistoryAreaM">
	<ul class="medicalHistoryList">
% for my $q (@$qs) {
		<li class="MedHist_<% defined $q->[1] ? ($q->[1] =~ /yes/i ? 'yes' : 'no') : 'mha_noanswer' %>" ><% qq{$q->[0]: $q->[1]} %></li>
%			 }
	</ul>
</div>
