<%attr>
topleft => '/atopleft.mas'
</%attr>
<%args>
$RxNumber => undef
</%args>
<%init>
my $timecnt=0;

#    return if $m->cache_self(expire_in => '120 min', key => 'fookeyaa'.$session{username});
$m->flush_buffer;
</%init>
<style>
#ACToolbar {position:fixed; top:1em; background-color: #555555; width: 80%;  }

#HormoneSummary { display:none; }
#pChartArea.sal_f_lo #HormoneSummary { display:none; }
#pChartArea.sal_f_lo #TherapyEvaluation { display:none; }
#pChartArea.sal_f_lo #AdditionalTesting { display:none; }
#pChartArea.sal_f_lo #FurtherTherapyConsiderations { display:none; }
#pChartArea.sal_f_lo #SelfCareNotes { display:none; }
#pChartArea.sal_f_lo #recommendations_Area { display:none; }
#pChartArea.sal_f_lo #rxhistory { display:none; }












.rlp_tabs {clear: both;}




.rlp_tabs ul.time_tabs {
font-size: bold 0.8em;
font-family: 'Gill Sans', 'Rockwell', 'Trebuchet MS', 'TAHOMA','CENTURY GOTHIC';
list-style-type: none;
padding-bottom: 0;
margin: 0;
position: relative;
top: 0.9em;
}

.rlp_tabs ul.time_tabs li.active {
border-bottom: 1px solid white;
background-color: white;
}
.rlp_tabs ul.time_tabs li {
-moz-border-radius-topleft: 1em;
-webkit-border-top-left-radius: 1em;
-moz-border-radius-topright: 1em;
-webkit-border-top-right-radius: 1em;
padding: 0.5em;
float: left;
height: 1.25em;
background-color: #D8F3FF;
margin: 2px 2px 0 2px;
border: 2px solid #3B9ED8;
cursor: pointer;
display: inline;
}

#importantinfo {
	float: none;
	clear: both;
	}

#medicalhistoryarea::before {
position: relative;
top: 1em;
}
</style>













% unless ($ENV{'HTTP_USER_AGENT'} =~ m/WebKit/ ) {
<div id="userAgentWarning" >
<% $ENV{'HTTP_USER_AGENT'} =~ m/WebKit/ ? qq|<span style="color: green;">$ENV{'HTTP_USER_AGENT'}  -- Good!</span>| : '<span style="font-weight:bold; color:red;">Could you be using the wrong browser? <a href="http://www.apple.com/safari/download/">Click here to download Safari</a></span>' %>
</div>
%	}
% #<& '/aa/toolbar.html' &>
% # <div id="ACToolbar"><& '/aa/evalACBar.html' &></div>
<& '/aa/patientselector.mas', val => $session{RxNumber} || $session{word} &>
% if ($session{userType} eq 'cs' ) {
<div id="statusWarning" style="font-weight:bold; color:red;"></div>
<!-- Time: <% $timecnt++ %>:<% time() %> -->

<& '/aa/evaluationEditor.html' &>
<!-- Time: <% $timecnt++ %>:<% time() %> -->
% }
<div id="loading" onclick="this.hide();" style="position:fixed; z-index: 9999; font-size: 3em; top:45%; left: 45%; display:none; color:white; font-weight:bold; -webkit-border-radius: 1.5em; padding: 2em; background-color: black; opacity: 0.75;">Loading...</div>
<div id="pChartArea" style="display:none;">
<div id="patientInfo"></div>
<div id="hormoneSummary" style="float:left;">
	<& '/aa/hormoneSummary.html', RxNumber => $RxNumber &>
	<!-- Time: <% $timecnt++ %>:<% time() %> -->
</div>
<div style=" float: left;">
	<ul id="symsorlabs" class="lp_tabs">  
		<li class="tab"><a href="#symptomList">Symptoms</a></li>  
		<li class="tab"><a href="#LabArea">Labs</a></li>  
	</ul>  
	<div class="someContainer " style="overflow: visible; max-width: 100% ; width: 800px;">
		<div id="symptomList" ></div>
		<div id="LabArea" ></div>
	</div>
</div>
	<!-- Time: <% $timecnt++ %>:<% time() %> -->
<div class="flotrChart" style="float:left">
	<& '/charts/createFlotr.html', id=> 'flotrcontainer3', header => 'Labs', onsubmit => 'labChart' &>
</div>
<div class="flotrChart" style="float:left">
	<& '/charts/createFlotr.html', id=> 'flotrcontainer2b', header => 'Cortisol' &>
</div>
<div id="LabNotes" title="Lab Notes" class="evaluation editable evaluationNotes"></div>
<div id="SymptomNotes" title="Symptom Notes" class="evaluation editable evaluationNotes"></div>
<div id="curMedContainer" style="float:left;">
	<ul id="curMedList"></ul>
	<br style="clear:both;" />
	<div id="MedHistoryDisplay"></div>
</div>

	<div id="MedicationsNotes" class="evaluation editable evaluationNotes"></div>
	<br style="clear:both;" />
<& '/aa/diagnoses.html' &>
<div class="rlp_tabs"><ul id="ii_tabs" class="showControl time_tabs"></ul><br style="clear:both;"/><& '/aa/importantinfo.html' &></div>

<div class="rlp_tabs"><ul id="mha_tabs" class="showControl time_tabs"></ul><br style="clear:both;"/><div id="medicalHistoryArea"></div></div>
<div id="HealthStatusNotes" title="Health & Lifestyle Notes" class="evaluation editable evaluationNotes"></div>
<& '/aa/hhNotes.html' &>
<div style="float:left;">
	<& '/aa/recommendations.html' &>
</div>
<div style="float:left;">
	<& '/aa/rxhistory.html' &>
</div>
<br style="clear:both;" />
% if ($session{userType} eq 'doctor' || $session{doctorMode}) {
<div style=" float: left;">
	<ul id="rxortests" class="rlp_tabs">  
		<li class="tab"><a href="#orderRxs">Rx Pad</a></li>  
		<li class="tab"><a href="#orderTests" >Order Testing</a></li>  
	</ul>  
	<div class="someContainer " style="overflow: visible; max-width: 100%;">
		<div id="orderRxs" >
			<& '/aa/rxpadheader.html' &>
			<& '/aa/rxpadbody.html' &>
		</div>
			<!-- Time: <% $timecnt++ %>:<% time() %> -->
		<div id="orderTests" >
			<& '/aa/labtesting.html' &>
		</div>

	</div>
</div>
	<!-- Time: <% $timecnt++ %>:<% time() %> -->
% } if ($session{userType} eq 'cs') {
</div><div>
	<div id="rxTemplateArea"></div>
 <& '/aa/evaluationRecommendor.html' &>

% }
% # <div style="float:left;"><& '/aa/recentinfo.html' &></div>
</div>
% $m->flush_buffer;
	<!-- Time: <% $timecnt++ %>:<% time() %> -->
<& '/aa/aa.js' &>
	<!-- Time: <% $timecnt++ %>:<% time() %> -->
<script async>
// activate the lp_tabs:
$A(document.getElementsByClassName('lp_tabs')).each(function(tab_group){      new Control.Tabs(tab_group, {activeClassName: 'current'});  });  
var clearHTML=$('pChartArea').innerHTML;
</script>
<script async>

var goodbye = function (e) {
	if(!e) e = window.event;
	//e.cancelBubble is supported by IE - this will kill the bubbling process.
	e.cancelBubble = true;
	e.returnValue = 'You sure you want to leave?'; //This is displayed on the dialog

	//e.stopPropagation works in Firefox.
	if (e.stopPropagation) {
		e.stopPropagation();
		e.preventDefault();
	}


  var message = "Confirm you want to leave this report",
  e = e || window.event;
  // For IE and Firefox
  if (e) {
    e.returnValue = message;

  }

  // For Safari
  return message;

}
window.onbeforeunload=goodbye;
</script>