<%attr>
ajax => 1
</%attr>
<%args>
$rinfo
$p
$sampleDate
$RxN
$author_id
$ecl
$d
$lDate
$author
</%args>
<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>RestoreDirect.com</title>
<base href="http://<% $ENV{HTTP_HOST} =~ m/127.0.0.1:8080/ ? '192.168.1.200' : $ARGS{base_href} || "$ENV{HTTP_HOST}" %>/" />

  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	
% #  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/aa_<% $ARGS{fax} ? 'fax.css' : 'print.css' %>" />
%	if ($m->comp_exists('/css/' . $rinfo->{qType} . '.css')) {
  <link rel="stylesheet" type="text/css" href="/css/<% $rinfo->{qType} %>.css" />
%  }

<style type="text/css">
* {letter-spacing: 0.5px !important; }
@page {
	size: letter portrait;
	  margin: 1.5cm;
    @bottom-right-corner {
	content: "Page " counter(page) "/" counter(pages)
    }

    @bottom {
    content: "Patient: <% $p->{PatientFirstName} | h %> <% $p->{PatientLastName} | h %> DOB: <% $p->{DOB} | h %> Sample Date: <% $sampleDate | h %>"
   /* Evaluation Prepared By: <% $author_id %>"*/
    }
}

@page coverPage {
	@top-left-corner {
		font-size: small;
		white-space: nowrap;
		content: "ID: <% $RxN | h %>";
		/*right: 4em;*/
	    }
}
.prews {white-space:pre;}

% if ($ARGS{KalisLetter})  {
@page KaliLetter {
 /* @top { content: "Symptoms" } */
/*    size: letter landscape; */
}
#KalisLetter {page:KaliLetter;}

%	}
% if ($ARGS{KalisLetter})  {
@page KaliOutsideLetter {
 /* @top { content: "Symptoms" } */
/*    size: letter landscape; */
}
#KalisOutsideLetter {page:KaliOutsideLetter;}

%	}
<%doc>
<% ($ARGS{symAsTxt} eq 'true' || $ARGS{fax}) ? '#symptomBox #symptomsAsText { display: block; } #symptomBox table.symtoms2 { display: none; } ' : '#symptomBox #symptomsAsText { display: none; } #symptomBox table.symtoms2 {display:table;} ' %>
body.meress #symptomBox #symptomsAsText { display: block; } body.meress #symptomBox table.symtoms2 { display: none; }
</%doc>
#disclaimer {font-size: x-small; color: #A0A0A0; white-space: normal; margin: 0.5em 1.5em;}

</style>
<% $ARGS{inline_style_printable} || '' %>
</head>
<body class=" <% $rinfo->{qType} %>  <% $rinfo->{hhstatus} %> <% $rinfo->{providerTemplate} %> <% $ARGS{bodyClass} %> ath_<% $author_id %>" style="margin-top: 4em;">






<div id="coverpage">
<div class="noprews" id="whaAddress">
<pre>
A Service Of <%  $companyInfo->{$session{_partnerGroup}}->{name_corporate} | h %>
Laboratory testing provided by <% $companyInfo->{$session{_partnerGroup}}->{name_lab} | h %>
<% $companyInfo->{$session{_partnerGroup}}->{address}->{line1} | h %>
<% $companyInfo->{$session{_partnerGroup}}->{address}->{formatted_city} | h %>
<% $companyInfo->{$session{_partnerGroup}}->{website_corporate} %>
</pre>
</div>
%	if (1) {
<div class="noprews" id="covpginfo">
	<div>
		<div>Date:  <% $lDate %> </div>
		<div>Health Care Provider: <span style="text-transform:capitalize;"><% $d->{doctorName} %></span><% $d->{doctorType} ? ', ' . $d->{doctorType} : '' %></div>
		<div>Phone: <% $d->{doctorPhone1} %></div>
		<div>Fax: <% $d->{doctorFax} %></div>
		<div>From: <% $author %></div>
% #		<div><% $companyInfo->{$session{_partnerGroup}}->{address}->{name_full} | h %></div>
		<div>Patient: <% $p->{PatientFirstName} %> <% $p->{PatientLastName} %></div>
		<div>DOB: <% $p->{DOB} %></div>
		<div>Lab ID: <% $RxN %></div>
	</div>
</div>
% }
<div class="noprews" id="covpgbasic">
<pre>
Included in this report are: Lab Results <% $rinfo->{qType} =~ m/_lo/i ? '' : 'and Evaluation' %>
Restore Providing: Laboratory Testing, Rx Compounding<% $rinfo->{qType} =~ m/_lo/i ? '' : ', and Nurse Case Management ' %>
Phone: <% $companyInfo->{$session{_partnerGroup}}->{phone_800} | h %>
Fax: <% $companyInfo->{$session{_partnerGroup}}->{fax_800} | h %>

<div id="disclaimer">The information contained in this communication is intended only for the personal
and confidential use of the designated recipient(s) named above. If the reader of
this message is not the intended recipient, or an agent responsible for delivering
it to the intended recipient, you are hereby notified that you have received this 
document in error, and that any review, dissemination, distribution, or copying of
this message is strictly prohibited. If you have received this communication in error,
please notify us immediately by phone and return the original message to us by U.S. Mail.
Thank you. 
</div>
</pre>
<div class="RestoreDirectMessage">
	<h4>Providers, Access Your Patient's Test Results Online at <% $companyInfo->{$session{_partnerGroup}}->{website_restore} | h %>:</h4>
	<ul>
		<li>Symptom History</li>
		<li>Prescription History</li>
		<li>Laboratory Results</li>
		<li>Order Prescription Therapy</li>
	</ul>
</div>

</div>
</div>

</body>
</html>


