<%attr>
ajax => 1
</%attr>
<%args>
$RxNumber => undef
$RxN => $RxNumber
$ecl => undef
</%args>
% # <?xml version="1.0" encoding="UTF-8"?> 
<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/2002/REC-xhtml1-20020801/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>RestoreDirect.com</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/aa_<% $ARGS{fax} ? 'fax.css' : 'print.css' %>" />
%	if ($m->comp_exists('/css/' . $rinfo->{qType} . '.css')) {
  <link rel="stylesheet" type="text/css" href="/css/<% $rinfo->{qType} %>.css" />
%  }
<base href="http://<% $ENV{HTTP_HOST} =~ m/127.0.0.1:8080/ ? '192.168.1.200' : $ENV{HTTP_HOST} %>/" />
<style type="text/css">
* {letter-spacing: 0.5px !important; }
@page {
	size: letter portrait;
	  margin: 1.5cm;
    @bottom-right-corner {
	content: "Page " counter(page) "/" counter(pages)
    }

    @bottom {
    content: "Patient: <% $p->{PatientFirstName} | h %> <% $p->{PatientLastName} | h %> DOB: <% $p->{DOB} | h %> Sample Date: <% $sampleDate | h %>"
   /* Evaluation Prepared By: <% $author %>"*/
    }
}

@page coverPage {
	@top-left-corner {
		font-size: small;
		white-space: nowrap;
		content: "ID: <% $RxN | h %>";
		/*right: 4em;*/
	    }
}
.prews {white-space:pre;}

% if ($ARGS{KalisLetter})  {
@page KaliLetter {
 /* @top { content: "Symptoms" } */
/*    size: letter landscape; */
}
#KalisLetter {page:KaliLetter;}

%	}
% if ($ARGS{KalisLetter})  {
@page KaliOutsideLetter {
 /* @top { content: "Symptoms" } */
/*    size: letter landscape; */
}
#KalisOutsideLetter {page:KaliOutsideLetter;}

%	}

<% ($ARGS{symAsTxt} eq 'true' || $ARGS{fax}) ? '#symptomBox #symptomsAsText { display: block; } #symptomBox table.symtoms2 { display: none; } ' : '#symptomBox #symptomsAsText { display: none; } #symptomBox table.symtoms2 {display:table;} ' %>
body.meress #symptomBox #symptomsAsText { display: block; } body.meress #symptomBox table.symtoms2 { display: none; }
</style>
<% $ht{inline_style_printable} %>
</head>
<body class=" <% $rinfo->{qType} %>  <% $rinfo->{hhstatus} %> <% $rinfo->{providerTemplate} %> <% $ARGS{bodyClass} %> ath_<% $author_id %>">
<%init>

	my $aa_reportSQL_hard = q{select *  from aa_reports A	inner	  join ( select keyName, max(id) as MaxID           from aa_reports
	WHERE rowID= ?
       group by rowID, keyName ) M
    on A.keyName = M.keyName
   and A.id = M.MaxID
WHERE rowID= ?

ORDER BY A.keyName};
	
	my $aa_reportSQL = q{SELECT t1.keyName, t1.keyValue
FROM aa_reports t1
LEFT JOIN aa_reports t2
ON t1.rowID = t2.rowID
AND t1.keyName = t2.keyName
AND t1.id < t2.id
WHERE t2.id IS NULL AND t1.rowID=?};


	my %ht=@{$dbh->selectcol_arrayref($aa_reportSQL, {Columns=>[1,2]}, ($RxN))};

my $rinfo = $dbh->selectrow_hashref(q{SELECT * FROM hhStatus WHERE rowID=?}, {}, ($RxN));
#patientInfo
#labFlotrChart
#symptomDefChart
my @divs=(qw(
inline_style

LabArea
LabNotes
),
 ( $ARGS{symAsText} eq 'true' ? 'symptomsAsText' : 'symptomList'),
  qw(
HormoneSummary
SymptomNotes


importantInfo
MedHistoryDisplay
MedicationsNotes

diagnosesArea
DiagnosesNotes

HealthStatusNotes
TherapyEvaluation
TherapyEvaluationNotes
FurtherTherapyConsiderations

recommendations_Area
AdditionalTesting
SelfCareNotes

));
#cortisolChart
 @divs=( qw(
inline_style


patientInfo
patientHHNotes
importantInfo

MedHistoryDisplay
MedicationsNotes
medicalHistoryArea
diagnosesArea
DiagnosesNotes
HealthStatusNotes


LabArea
LabNotes
labFlotrChart

),
 ( $ARGS{symAsText} eq 'true' ? 'symptomsAsText' : 'symptomList'),
  qw(

SymptomNotes
HormoneSummary



TherapyEvaluation
TherapyEvaluationNotes
FurtherTherapyConsiderations

recommendations_Area
rxhistory
AdditionalTesting
rxTemplateArea

SelfCareNotes

) ) if $rinfo->{qType} =~ m/^a/;

my %forcePrint=(LabNotes => 1);

#symptomList #- put in list to turn on the page
# need to rebuild flotr charts








##  ===========================================triggers for jsonCache
##  ===========================================set hhStatus for all HHs*
##	=========================================== pull from currentIRMA
### ===========================================rework RD doctor letter if found in aa_reports --> interim set old divs
#   ===========================================printing! - is mostly ok*
#   =========================================== provide Patient Notes*
# _printable vs regular? aa_reports 

#============================================== fix jsonCache***
# clean/fill hhStatus
# ============================================= update recommendations - [refresh]
# ============================================= excesses issue* 
# ============================================= symptoms as text
###  * = test

# ============================================= pdf destruction prevention!*
# label things - current meds
# ============================================= fix status template
# current meds css










my $patientID=RD2::getpatientidfromrxnumber($dbh, RxNumber => $RxN);
my $p = RD2::getpatientinfo($dbh,  patientID => $patientID);

my $d = RD2::getdoctorinfo($dbh,  QS1CODE => $ARGS{DoctorCode}, DoctorCode => $ARGS{DoctorCode} || $p->{DoctorCode});

my ($lDate, $sampleDate, $author_id)=$dbh->selectrow_array(q{SELECT DATE_FORMAT(LastDateUpdated, '%m/%d/%y'), DATE_FORMAT(sampleDate, '%b %d, %Y'), author FROM restoreReports WHERE RxNumber=? LIMIT 1}, undef, $RxN);

my $author= $dbh->selectrow_array(q{SELECT name0 FROM userInfo ui WHERE ui.uname=?}, undef, ($author_id));

if ($ecl && $ARGS{saveecl} && $RxN) {$dbh->do(q{REPLACE INTO aa_reports SET keyValue=?, keyName='ecl_printable' , rowID =?}, undef, ($ecl, $RxN));
my $inlineS='<style>';
my $divs = ref $ARGS{hideThese} ? 
	$ARGS{hideThese} :
	[ $ARGS{hideThese}];
for my $fin ( @$divs) { 
	$inlineS.= qq{#$fin { display:none;}\n};
}

$inlineS.='</style>';
$dbh->do(q{REPLACE INTO aa_reports SET keyValue=?, keyName='inline_style_printable' , rowID =?}, undef, ($inlineS, $RxN));


} else {
($ecl) ||= $dbh->selectrow_array(q{
		SELECT t1.keyValue
		FROM aa_reports t1
		LEFT JOIN aa_reports t2
		ON t1.rowID = t2.rowID
		AND t1.keyName = t2.keyName
		AND t1.id < t2.id
		WHERE t2.id IS NULL AND t1.rowID=? AND t1.keyName='ecl_printable'}, undef, ($RxN)); 
		}
if ($d->{doctorName}=~m/([^,]+),([^,]+)/) {
	$d->{doctorName}= ucfirst(lc($2)) . ' ' . ucfirst(lc($1)) ; # '", $d->{doctorType}";
	}
$p->{PatientFirstName} = ucfirst(lc($p->{PatientFirstName}));
$p->{PatientLastName} = ucfirst(lc($p->{PatientLastName}));
my %includeDiv;
</%init>
<div id="coverpage">
<div class="prews" id="whaAddress">
<pre>
A Service Of <%  $companyInfo->{$session{_partnerGroup}}->{name_corporate} | h %>
Laboratory testing provided by <% $companyInfo->{$session{_partnerGroup}}->{name_lab} | h %>
<% $companyInfo->{$session{_partnerGroup}}->{address}->{line1} | h %>
<% $companyInfo->{$session{_partnerGroup}}->{address}->{formatted_city} | h %>
<% $companyInfo->{$session{_partnerGroup}}->{website_corporate} %>
</pre>
</div>
<div class="prews" id="covpginfo">
<div>
% if ($ecl) {
<% $ecl %>
% } else {
<div>Date:  <% $lDate %> </div>
<div>Health Care Provider: <% $d->{doctorName} %>, <% $d->{doctorType} %>,</div>
<div>Phone: <% $d->{doctorPhone1} %></div>
<div>Fax: <% $d->{doctorFax} %></div>
<div>From: <% $author %></div>
<div><% $companyInfo->{$session{_partnerGroup}}->{address}->{name_full} | h %></div>
<div>Patient: <% $p->{PatientFirstName} %> <% $p->{PatientLastName} %></div>
<div>DOB: <% $p->{DOB} %></div>
% }
</div>
</div>
<div class="prews" id="covpgbasic">
<pre>
Included in this report are: Lab Results and Evaluation 
 
Restore Providing: Laboratory Testing, Rx Compounding, and Nurse Case Management 

Phone <% $companyInfo->{$session{_partnerGroup}}->{phone_800} | h %>

FAX <% $companyInfo->{$session{_partnerGroup}}->{fax_800} | h %>

The information contained in this communication is intended only for the personal
and confidential use of the designated recipient(s) named above. If the reader of
this message is not the intended recipient, or an agent responsible for delivering
it to the intended recipient, you are hereby notified that you have received this 
document in error, and that any review, dissemination, distribution, or copying of
this message is strictly prohibited. If you have received this communication in error,
please notify us immediately by phone and return the original message to us by U.S. Mail.
Thank you. 
</pre>
<div class="RestoreDirectMessage">
	<h4>Providers, Access Your Patient's Test Results Online<br/>24 hour/day access to:</h4>
	<ul>
		<li>Symptom History</li>
		<li>Prescription History</li>
		<li>Laboratory Results</li>
		<li>Order Prescription Therapy</li>
	</ul>
	
	<div>Simply go to <% $companyInfo->{$session{_partnerGroup}}->{website_restore} | h %> to register</div>	
</div>

</div>
</div>

% if ($ARGS{KalisLetter})  {
<div id="KalisLetter">
<div><strong>Restore Clinical Services -</strong> Natural Hormone<br>
Therapy Intervention Program of</div>
<img src="/images/invite_logo.png" style="float:right; margin-right: 4em; max-width: 20em;"/>
<div class="western"><span class="f3"><% $companyInfo->{$session{_partnerGroup}}->{name_short} | h %></span></div>
<p class="western c1"></p>
<p class="western c1"><span class="f3 c2">Hello <% $d->{doctorName} %>, <% $d->{doctorType} %>,</span></p>
<p class="western c1"></p>
<p class="western c1"><span class="f3 c2">Thank you for choosing Restore Clinical Services for your patients salivary hormone/bone resorption testing and comprehensive hormone evaluation.</span></p>
<p class="western c1"></p>
<p class="western c1"><span class="f3 c2">Our Restore program is still the most innovative hormone management program in the nation. Restore allows you to move beyond a one-size-fits-all approach to a low-dose, personalized hormone care plan for each of your patients.</span></p>
<p class="western c1"></p>
<p class="western c1"><span class="f3 c2">As your clinical consultant, I wish to invite you to contact me so I can help you get the most from our detailed Restore patient evaluation, as well as:</span></p>
<p class="western c1"></p>
<ul>
<li>
<p class="western c1"><span class="f3 c2">RestoreDirect.com for convenient, web-based access to:</span></p>
<p class="western c1"><span class="f3 c2">- patient files</span></p>
<p class="western c1"><span class="f3 c2">- requesting lab services</span></p>
<p class="western c1"><span class="f3 c2">- viewing symptom, lab and prescription history</span></p>
<p class="western c1"><span class="f3 c2">- ordering customized prescription therapy</span></p>
<p class="western c1"><span class="f3 c2">- viewing detailed patient evaluations</span></p>
<p class="western c1"><span class="f3 c2">- selecting office support materials</span></p>
<p class="western c1"></p>
</li>
<li>
<p class="western c1"><span class="f3 c2">RestoreMD patient referral network to help you build your practice</span></p>
<p class="western c1"></p>
</li>
<li>
<p class="western c3"><span class="f3">Complementary, on-going follow-up hormone/bone resorption testing for your patients using hormone therapy</span></p>
</li>
</ul>
<p class="western c1"></p>
<p class="western c1"><span class="f3 c2">Please contact me at 800-558-7046 and press 0 for our medical receptionist. If I am consulting with another health care provider when you call, our receptionist will request your name, phone number and the most convenient time for me to return your call. You may also reach me via e-mail at <a class="western" href="mailto:kreid@restorehc.com">kreid@restorehc.com</a> Monday - Friday 8:00am to 4:00pm CST</span></p>
<p class="western c1"></p>
<p class="western c1"><span class="f3 c2">I look forward to speaking with you!</span></p>
<p class="western c1"></p>
<p class="western c1"><span class="f3 c2">Sincerely,</span></p>
<p class="western c1"></p>

<p class="western c4">Kali Reid, RN, North American Menopause Society Menopause Practitioner. Nurse Case Manager for <span class="f3">RESTORE Clinical Services<br/>
Restore Health Pharmacy</span></p>
</div>
%	}

% if ($ARGS{KalisOutsideLetter})  {
<div id="KalisOutsideLetter">
<div><strong>Restore Clinical Services -</strong> Natural Hormone<br>
Therapy Intervention Program of</div>
<img src="/images/invite_logo.png" style="float:right; margin-right: 4em; max-width: 20em;"/>
<div class="western"><span class="f3">Restore Health</span></div>
<br/><br/><br/><br/>
<p class="western c1"><span class="f3 c2">Hello <% $d->{doctorName} %>, <% $d->{doctorType} %>,</span></p>
<p class="western c1">
Your patient <% qq{$p->{PatientFirstName} $p->{PatientLastName} DOB: $p->{DOB}} %> requested our assistance in evaluating her laboratory results from an external salivary or serum hormone testing laboratory. She has provided us with her lab report, completed a Health History form, forwarded us a medical release form and has requested that we provide you with the results of this evaluation.
</p>
<p class="western c1"><span class="f3 c2">I would like to take this opportunity to give you a brief introduction to Restore Health and our unique services.</span></p>
 
<p class="western c1"><span class="f3 c2">Our Restore program is still the most innovative hormone management program in the nation. Restore allows you to move beyond a one-size-fits-all approach to a low-dose, personalized hormone care plan for each of your patients.</span></p>
<p class="western c1">
Our ground-breaking Restore Program<span style="font-size:0.6em; vertical-align:top;">&reg;</span> assesses free (unbound) hormone levels 	through saliva testing which is collected in the privacy of the patient's home. The results of this testing can be faxed to each patient's Health Care Provider when 	completed or can be accessed by the provider on-line through our innovative laboratory, prescription and medical records tool, RestoreDirect. This comprehensive evaluation includes interpretation of lab results, review of symptoms and medical history and contains specific recommendations for bio-identical hormone therapy. The Restore Program also includes ongoing case management for your patient, so that she/he has someone to contact with any questions or concerns about her/his hormone therapy program.
</p>
<p class="western c1"><span class="f3 c2">
Your patient would be eligible for free follow-up assessment of hormone levels, Estradiol, Progesterone and Testosterone, through Restore after filling hormone prescriptions with Restore Health for 3 months. This follow-up testing provides you with a detailed evaluation of your patients response to her/his hormone therapy regimen -- both in symptom management and in salivary hormone levels. Assessment of adrenal hormones, DHEA and Cortisol, as well as assessment of N-telopeptide Bone Resorption marker are included in this comprehensive service. 
</span></p>
<p class="western c1">I would welcome the opportunity to discuss the attached evaluation letter (based on an external labs results) with you. Please call (800) 558-7046 and press "0" for assistance. If I am consulting with another Health Care Provider when you call, arrangements will be made for me to call you back at your convenience. </p>

<p class="western c1"></p>
<p class="western c1"><span class="f3 c2">Please contact me at 800-558-7046 and press 0 for our medical receptionist. If I am consulting with another health care provider when you call, our receptionist will request your name, phone number and the most convenient time for me to return your call. You may also reach me via e-mail at <a class="western" href="mailto:kreid@restorehc.com">kreid@restorehc.com</a> Monday - Friday 8:00am to 4:00pm CST</span></p>
<p class="western c1"></p>
<p class="western c1"><span class="f3 c2">I look forward to speaking with you!</span></p>
<p class="western c1"></p>
<p class="western c1"><span class="f3 c2">Sincerely,</span></p>
<p class="western c1"></p>

<p class="western c4">Kali Reid, RN, North American Menopause Society Menopause Practitioner. Nurse Case Manager for <span class="f3">RESTORE Clinical Services<br/>
Restore Health Pharmacy</span></p>
</div>
%	}


% for my $div (@divs) { $ht{$div.'_printable'}=~s{<script>(?!</script>)</script>}{}gi; next unless $ht{$div.'_printable'} || $forcePrint{$div};  next if $div =~ m/^inline_style/i;
	<div id="<% $div %>"><% $ht{$div.'_printable'} %></div>
% if ($includeDiv{$div})	{
	<div id="<% $includeDiv{$div}->{id} %>"><% $includeDiv{$div}->{html} %></div>
%	}
% }
</body>
</html>
% warn join (', ', @divs);