<%attr>
ajax => 1
topleft => 'none'
bottomleft => 'none'
</%attr>
<%args>
$RxN
$save => undef
$debug => undef
</%args>
<%init>
$r->content_type('application/pdf') unless ($debug || 'saveonly' eq $save);
$session{RxN}=$RxN;
$m->comp('/tidy.html', %ARGS) if $debug;
return if $debug;
sleep 1 unless $ARGS{nosleep};
#my $html=$m->scomp('/tidy.html');
my $locationHTML=RD2::randStr($dbh, format => 'cnncnn');
open OUT, '>/tmp_all/tidy/'.$locationHTML;
print OUT $m->scomp('/tidy.html', %ARGS);
close OUT;

# $ python '/System/Library/Automator/Combine PDF Pages.action/Contents/Resources/join.py' -o '/path/to/output.pdf' '/path/to/input1.pdf' '/path/to/input2.pdf'

my $pdfid;
my $pdf=`/usr/local/bin/prince /tmp_all/tidy/$locationHTML -o -`;
if ($save eq 'saveit' || $save eq 'saveonly') {
		my $pdfname = '/public_html/reports/PDF/'.$RxN.'.pdf';
		if ( -r $pdfname) {
			my @nname= stat($pdfname);
		rename $pdfname, '/public_html/reports/removed/'.$RxN."_$nname[9]".'.pdf';}
		open PDF, '>/public_html/reports/PDF/'.$RxN.'.pdf' or die $!;
		print PDF $pdf;
		close PDF;

					chmod 0666, '/public_html/reports/PDF/'.$RxN.'.pdf';


unless ($dbh->selectrow_array(q{SELECT DC FROM RxLookUp WHERE RxNumber=? AND DC IN (22778, 40928, 41046, 40790)}, undef, ($RxN))) {
#Trutina-HACK:
		my $pGr;
		if ($session{RxN} ) {
			$pGr=$dbh->selectrow_array(q{SELECT pGroup FROM RxLookUp rlu JOIN partnerProviders pp ON rlu.DC =pp. DC WHERE rlu.RxNumber=?}, undef, ($session{RxN}));
		}
		$session{_pGr}=$pGr;

#/HACK

#HACK for all PDFs:
		rename '/public_html/reports/PDF/'.$RxN.'.pdf', '/public_html/reports/PDF/'.$RxN.'_tmp.pdf';

		my $pdf2='';


my %rxTemplates=(
	3 => '/mnt/public_html/test.restoredirect.com/images/TRUTINA_RxForm.pdf',
	default => '/mnt/public_html/test.restoredirect.com/images/MPA_RxForm.pdf'
);
my $rT=$rxTemplates{ $session{_pGr} } || $rxTemplates{default};

warn "using $rT for $session{_pGr}";
		my $into=`/usr/bin/python '/System/Library/Automator/Combine PDF Pages.action/Contents/Resources/join.py' --verbose -o '/public_html/reports/PDF/${RxN}.pdf' '/public_html/reports/PDF/${RxN}_tmp.pdf' $rT` ;
		warn $into;
		if ($RxN =~m/^\d+$/) {		unlink '/public_html/reports/PDF/${RxN}_tmp.pdf'; 	}

do {

	undef $/;
		open PDF2, '</public_html/reports/PDF/'.$RxN.'.pdf';

	$pdf2 = <PDF2>;               # 'slurp' mode
	close PDF2;
	$pdf=$pdf2;
};


}
		

#/HACK



							
					$pdfid= Digest::MD6::md6_512_base64($pdf); 
					warn 'pdfid: ' . $pdfid . ($pdf ? 'pdf exists' : 'no PDF!');
					$dbh->do(q{REPLACE INTO fileStorage SET file=?, filename=?, id=?, username=?}, undef, ($pdf, $RxN . '.pdf', $pdfid, $session{username})) if $pdf;
					$dbh->do(q{UPDATE restoreReports SET pdfID=? , `Status`='Completed' , lastUser=? WHERE RxNumber=?}, undef, ($pdfid, $session{username}, $RxN ));

}

#warn "/usr/local/bin/prince /tmp_all/tidy/$locationHTML";
$m->out($pdf) unless $save eq 'saveonly';

if ($save eq 'saveonly') {
	warn "pdfid - $pdfid";

	$m->out('<script>window.close();</script>');
	return $pdfid if $ARGS{needpdfid};
}
#my $pdf=RD->getPrincePDF(\$html);
#$m->out($pdf);
# use IPC::Open2;
# 
#  my $pid = open2(*CHLD_OUT, *CHLD_IN, '/usr/local/bin/prince $locationHTML');
#  print CHLD_IN $m->scomp('/tidy.html');
#  close CHLD_IN;
# while ( my $pdf = <CHLD_OUT> ) { $m->out($pdf);}
# 
#  close CHLD_OUT;
# 
#  waitpid($pid, 0);
 
return;


</%init>