<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/2002/REC-xhtml1-20020801/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>RestoreDirect.com</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/aa_<% $ARGS{fax} ? 'fax.css' : 'print.css' %>" />
% #<base href="http://192.168.1.200/" />
<style type="text/css">
@page {
	size: letter portrait;
	  margin: 2cm;
    @bottom-right-corner {
	content: "Page " counter(page) "/" counter(pages)
    }
    @bottom {
    content: "Patient:  $p->{PatientFirstName}  $p->{PatientLastName}  DOB:  $p->{DOB}  Sample Date:  $sampleDate "

    }
}
.prews {white-space:pre;}

% if ($ARGS{KalisLetter})  {
@page KaliLetter {
 /* @top { content: "Symptoms" } */
/*    size: letter landscape; */
}
#KalisLetter {page:KaliLetter;}

%	}
% if ($ARGS{KalisLetter})  {
@page KaliOutsideLetter {
 /* @top { content: "Symptoms" } */
/*    size: letter landscape; */
}
#KalisOutsideLetter {page:KaliOutsideLetter;}

%	}

</style>

</head>
<body class=" aRFF  ">
