<%attr>
ajax => 1
topleft => 'none'
bottomleft => 'none'
</%attr>
<%args>
$RxN
$save => undef
$debug => undef
$comp => '/aa/rxTemplatearea.html'
</%args>
<%init>
my $cont=$m->scomp('/aa/print_test_h.html'). $m->scomp($comp, %ARGS) . '</body></html>';
$r->content_type('application/pdf') unless ($debug || 'saveonly' eq $save);
$m->comp('/tidy.html', dirtyhtml => $cont, %ARGS) if $debug;
return if $debug;
sleep 1 unless $ARGS{nosleep};
#my $html=$m->scomp('/tidy.html');
my $locationHTML=RD->randStr(format => 'cnncnn');
open OUT, '>/tmp_all/tidy/'.$locationHTML;
print OUT $m->scomp('/tidy.html', dirtyhtml => $cont, %ARGS);
close OUT;
my $pdfid;
my $pdf=`/usr/local/bin/prince /tmp_all/tidy/$locationHTML -o -`;
if ($save eq 'saveit' || $save eq 'saveonly') {
		my $pdfname = '/Volumes/RD/reports/PDF/'.$RxN.'.pdf';
		if ( -r $pdfname) {
			my @nname= stat($pdfname);
		rename $pdfname, '/Volumes/RD/reports/removed/'.$RxN."_$nname[9]".'.pdf';}
		open PDF, '>/Volumes/RD/reports/PDF/'.$RxN.'.pdf';
		print PDF $pdf;
		close PDF;

					chmod 0666, '/Volumes/RD/reports/PDF/'.$RxN.'.pdf';
					$pdfid= Digest::MD6::md6_512_base64($pdf); #RD->randStr(format => 'ccnnncccnnn');
					$dbh->do(q{REPLACE INTO fileStorage SET file=?, filename=?, id=?, username=?}, undef, ($pdf, $RxN . '.pdf', $pdfid, $session{username})) if $pdf;
					$dbh->do(q{UPDATE restoreReports SET pdfID=? , `Status`='Completed' , lastUser=? WHERE RxNumber=?}, undef, ($pdfid, $session{username}, $RxN ));

}

#warn "/usr/local/bin/prince /tmp_all/tidy/$locationHTML";
$m->out($pdf) unless $save eq 'saveonly';
if ($save eq 'saveonly') {
	warn "pdfid - $pdfid";

	$m->out('<script>window.close();</script>');
	return $pdfid if $ARGS{needpdfid};
}
#my $pdf=RD->getPrincePDF(\$html);
#$m->out($pdf);
# use IPC::Open2;
# 
#  my $pid = open2(*CHLD_OUT, *CHLD_IN, '/usr/local/bin/prince $locationHTML');
#  print CHLD_IN $m->scomp('/tidy.html');
#  close CHLD_IN;
# while ( my $pdf = <CHLD_OUT> ) { $m->out($pdf);}
# 
#  close CHLD_OUT;
# 
#  waitpid($pid, 0);
 
return;


</%init>