<%attr>
ajax => 1
topleft => 'none'
bottomleft => 'none'
</%attr>
<%args>
$RxN
$save => 'retrieve'
$debug => undef
$faxorprint => undef
</%args>
<%init>
warn 'GGG2-faxorprint: ' .$faxorprint;




my $fpdf=q{/tmp_all/report_tmp_pdf/} . $RxN . q{_f.pdf};
if (($save eq 'retrieve' || $save eq '0' ) ) {

	if ( -r $fpdf ) {
			$m->clear_buffer();
			$r->content_type('application/pdf');
			$r->sendfile( $fpdf );
		return;
	} else {sleep 3;  
		if (-r $fpdf) {
			$m->clear_buffer();
			$r->content_type('application/pdf');
			$r->sendfile( $fpdf );
		return;
		
		} else {
			# search DB:
			
			if (my $datapdf=$dbh->selectrow_arrayref(q{SELECT file FROM fileStorage WHERE filename=? ORDER BY LastDateUpdated DESC LIMIT 1}, undef, ($RxN . '.pdf')) ) {
						$m->clear_buffer();
						$r->content_type('application/pdf');
						$m->out($datapdf->[0]); return;

			} else {			die RD2::jd(\%ARGS); return; return $save;		}
		}
	}
}



if ($save eq 'saveonly' || $save eq 'saveit')
	{
		my $junk;
		my $pdfid=$m->comp({store => \$junk}, 'printable.html', RxN => $RxN, faxorprint => $faxorprint);
		my $pdf;
#		do {
#
#					undef $/;
#						open PDF2, '<' .$fpdf  or die $! . ' - ' . '/public_html/reports/PDF/'.$RxN.'.pdf' ;
#				
#					$pdf = <PDF2>;               # 'slurp' mode
#					close PDF2;
#				
#				};
#		
#			my $pdfid= Digest::MD6::md6_512_base64($pdf); 
#			$dbh->do(q{REPLACE INTO fileStorage SET file=?, filename=?, id=?, username=?}, undef, ($pdf, $RxN . '.pdf', $pdfid, $session{username})) if $pdf;
#			$dbh->do(q{UPDATE restoreReports SET pdfID=? , `Status`='Completed' , lastUser=? WHERE RxNumber=?}, undef, ($pdfid, $session{username}, $RxN ));


	if ($save eq 'saveonly') {
		$m->out('<script>window.close();</script>');
		return $pdfid || 'broke' if $ARGS{needpdfid};
	} 
	
	else {
			$m->clear_buffer();
			$r->content_type('application/pdf');
			$r->sendfile( $fpdf );
	}
} else {
	die RD2::jd(\%ARGS); return; return $save;
}
return;








































$r->content_type('application/pdf') unless ($debug || 'saveonly' eq $save);
$session{RxN}=$RxN;
$m->comp('/tidy.html', %ARGS) if $debug;
return if $debug;
sleep 1 unless $ARGS{nosleep};
#my $html=$m->scomp('/tidy.html');
#my $locationHTML=RD2::randStr($dbh, format => 'cnncnn');
#open OUT, '>/tmp_all/tidy/'.$locationHTML;
#print OUT $m->scomp('/tidy.html', %ARGS);
#close OUT;

# $ python '/System/Library/Automator/Combine PDF Pages.action/Contents/Resources/join.py' -o '/path/to/output.pdf' '/path/to/input1.pdf' '/path/to/input2.pdf'

my $pdfid;
my $pdf;
use URI::Escape;
 


my @uea = map {uri_escape($_) . '='.uri_escape($ARGS{$_})} keys %ARGS;
my $turl='http://192.168.0.200:10002/tidy.html?' . join('&', @uea);
my $pdfurl='/public_html/reports/PDF/'.$RxN.'.pdf';


if ($save eq 'saveit' || $save eq 'saveonly') {

		my $pdfname = '/public_html/reports/PDF/'.$RxN.'.pdf';
		if ( -r $pdfname) {
			my @nname= stat($pdfname);
			rename $pdfname, '/public_html/reports/removed/'.$RxN."_$nname[9]".'.pdf';
		}
warn "34: wkhtmltopdf --quiet '$turl' '$pdfurl'";
		my $rsp = `wkhtmltopdf --dpi 75 --quiet "$turl" "$pdfurl"` ;
warn $rsp;
		
					chmod 0666, '/public_html/reports/PDF/'.$RxN.'.pdf';

warn __LINE__ x 9;
unless (1  || $dbh->selectrow_array(q{SELECT DC FROM RxLookUp WHERE RxNumber=? AND DC IN (22778, 40928, 41046, 40790)}, undef, ($RxN))) {
#Trutina-HACK:
		my $pGr;
		if ($session{RxN} ) {
			$pGr=$dbh->selectrow_array(q{SELECT pGroup FROM RxLookUp rlu JOIN partnerProviders pp ON rlu.DC =pp. DC WHERE rlu.RxNumber=?}, undef, ($session{RxN}));
		}
		$session{_pGr}=$pGr;

#/HACK

#HACK for all PDFs:
		rename '/public_html/reports/PDF/'.$RxN.'.pdf', '/public_html/reports/PDF/'.$RxN.'_tmp.pdf';




my %rxTemplates=(
	3 => '/mnt/public_html/test.restoredirect.com/images/TRUTINA_RxForm.pdf',
	default => '/mnt/public_html/test.restoredirect.com/images/MPA_RxForm.pdf'
);
my $rT=$rxTemplates{ $session{_pGr} } || $rxTemplates{default};


		my $into=`/usr/bin/python '/System/Library/Automator/Combine PDF Pages.action/Contents/Resources/join.py' --verbose -o '/public_html/reports/PDF/${RxN}.pdf' '/public_html/reports/PDF/${RxN}_tmp.pdf' $rT` ;
		warn $into;
		if ($RxN =~m/^\d+$/) {		unlink '/public_html/reports/PDF/${RxN}_tmp.pdf'; 	}



}
		

#/HACK
warn __LINE__ x 9;

do {

	undef $/;
		open PDF2, '</public_html/reports/PDF/'.$RxN.'.pdf' or die $! . ' - ' . '/public_html/reports/PDF/'.$RxN.'.pdf' . '   ' .  join('&', @uea);

	$pdf = <PDF2>;               # 'slurp' mode
	close PDF2;

};

warn __LINE__ x 9;




							
					$pdfid= Digest::MD6::md6_512_base64($pdf); 
					warn 'pdfid: ' . $pdfid . ($pdf ? 'pdf exists' : 'no PDF!');
					$dbh->do(q{REPLACE INTO fileStorage SET file=?, filename=?, id=?, username=?}, undef, ($pdf, $RxN . '.pdf', $pdfid, $session{username})) if $pdf;
					$dbh->do(q{UPDATE restoreReports SET pdfID=? , `Status`='Completed' , lastUser=? WHERE RxNumber=?}, undef, ($pdfid, $session{username}, $RxN ));

}

#warn "/usr/local/bin/prince /tmp_all/tidy/$locationHTML";
$r->sendfile( '/public_html/reports/PDF/'.$RxN.'.pdf' ) unless $save eq 'saveonly';

if ($save eq 'saveonly') {
	warn "pdfid - $pdfid";

	$m->out('<script>window.close();</script>');
	return $pdfid if $ARGS{needpdfid};
}
#my $pdf=RD->getPrincePDF(\$html);
#$m->out($pdf);
# use IPC::Open2;
# 
#  my $pid = open2(*CHLD_OUT, *CHLD_IN, '/usr/local/bin/prince $locationHTML');
#  print CHLD_IN $m->scomp('/tidy.html');
#  close CHLD_IN;
# while ( my $pdf = <CHLD_OUT> ) { $m->out($pdf);}
# 
#  close CHLD_OUT;
# 
#  waitpid($pid, 0);
 
return;


</%init>
