<%attr>
ajax => 1
</%attr>
<%args>
$RxN
</%args>
<%init>

		my @columns;
				unless ($columns[0]) {@columns = qw(doctorName doctorType doctorAddress1 doctorAddress2 doctorCity doctorState doctorZIP doctorPhone1 doctorFax email DoctorCode );

		#('doctors.doctorType', 'doctors.DoctorCode','doctors.doctorName','doctors.doctorAddress1', 'doctors.doctorCity', 'doctors.doctorState', 	'doctors.doctorZIP', 	'doctors.doctorPhone1', 'doctors.doctorFax', 'doctors.email', 'doctors.doctorNotes');
		}

		my $doctorref;
		my $sqlstmt;


my $patientID=RD2::getpatientidfromrxnumber($dbh, RxNumber => $RxN);
my $p = RD2::getpatientinfo($dbh,  patientID => $patientID);

my $d = RD2::getdoctorinfo($dbh,  DoctorCode => $ARGS{DoctorCode} || $p->{DoctorCode});

my ($lDate, $sampleDate)=$dbh->selectrow_array(q{SELECT DATE_FORMAT(LastDateUpdated, '%m/%d/%y'), DATE_FORMAT(sampleDate, '%b %d, %Y') FROM restoreReports WHERE RxNumber=? LIMIT 1}, undef, $RxN);

my $author = $dbh->selectrow_array(q{SELECT name0 FROM userInfo ui JOIN restoreReports rr ON ui.uname=rr.author WHERE RxNumber=?}, undef, ($RxN));
my $reviewer= $author eq 'Kali Reid, RN, NAMS Menopause Practitioner' ? undef : undef;
my $ecl = $dbh->selectrow_array(q{SELECT t1.keyValue
FROM aa_reports2  t1
LEFT JOIN aa_reports2  t2
ON t1.rowID = t2.rowID
AND t1.keyName = t2.keyName
AND t1.id < t2.id
WHERE t2.id IS NULL AND t1.rowID=? AND t1.keyName='ecl_printable'}, undef, $RxN);
if ($ecl) {$m->out($ecl); return;}
</%init>
<div>Date:  <% $lDate %> </div>
<div>Health Care Provider: <% $d->{doctorName} %>, <% $d->{doctorType} %>,</div>
<div>Phone: <% $d->{doctorPhone1} %></div>
<div>Fax: <% $d->{doctorFax} %></div>
<div>From: <% $author %></div>
% if ($reviewer) {
<div>Reviewed: <% $reviewer %></div>
% }
<div><% $companyInfo->{$session{_partnerGroup}}->{name_full} | h %></div>
<div>Patient: <% $p->{PatientFirstName} %> <% $p->{PatientLastName} %></div>
<div>DOB: <% $p->{DOB} %></div>