<%args>
$rinfo
$p
$sampleDate
$RxN
$author_id
$ecl
$d
$lDate
</%args>
<%init>
if ($ARGS{or}) {
	$m->comp($ARGS{or}, %ARGS);
	return;
}
</%init>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>RestoreDirect.com</title>


<base href="http://<% $ENV{HTTP_HOST} =~ m/127.0.0.1:8080/ ? '192.168.1.200' : $ARGS{base_href} || "$ENV{HTTP_HOST}" %>/" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_black_macroman/proximanova_black_macroman.css" />
  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_bold_macroman/proximanova_bold_macroman.css" />
  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_thin_macroman/proximanova_thin_macroman.css" />
  <link rel="stylesheet" type="text/css" href="/css/fonts/proximanova_regular_macroman/proximanova_regular_macroman.css" />
% #  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/aa_<% $ARGS{'fax_moved_report.css'} ? 'fax.css' : 'print.css' %>" />
  <link rel="stylesheet" type="text/css" href="/templates/rsc/reports/report.css" />
%	if ($m->comp_exists('/css/' . $rinfo->{qType} . '.css')) {
  <link rel="stylesheet" type="text/css" href="/css/<% $rinfo->{qType} %>.css" />
%  }

<style type="text/css">
* {letter-spacing: 0.5px !important; }
@page {
	size: letter portrait;
	  margin: 1.5cm;
    @bottom-right-corner {
	content: "Page " counter(page) "/" counter(pages)
    }

    @bottom {
    content: "Patient: <% $p->{PatientFirstName} | h %> <% $p->{PatientLastName} | h %> DOB: <% $p->{DOB} | h %> Sample Date: <% $sampleDate | h %>"
   /* Evaluation Prepared By: <% $author_id %>"*/
    }
}

@page coverPage {
	@top-left-corner {
		font-size: small;
		white-space: nowrap;
		content: "ID: <% $RxN | h %>";
		/*right: 4em;*/
	    }
}
.prews {white-space:pre;}

% if ($ARGS{KalisLetter})  {
@page KaliLetter {
 /* @top { content: "Symptoms" } */
/*    size: letter landscape; */
}
#KalisLetter {page:KaliLetter;}

%	}
% if ($ARGS{KalisLetter})  {
@page KaliOutsideLetter {
 /* @top { content: "Symptoms" } */
/*    size: letter landscape; */
}
#KalisOutsideLetter {page:KaliOutsideLetter;}

%	}
<%doc>
OLD:
<% ($ARGS{symAsTxt} eq 'true' || $ARGS{fax}) ? '#symptomBox #symptomsAsText { display: block; } #symptomBox table.symtoms2 { display: none; } ' : '#symptomBox #symptomsAsText { display: none; } #symptomBox table.symtoms2 {display:table;} ' %>
body.meress #symptomBox #symptomsAsText { display: block; } body.meress #symptomBox table.symtoms2 { display: none; }
</%doc>
#symptomBox {	padding-top: 2em;	}


</style>
<% $ARGS{inline_style_printable} || '' %>
</head>
<body class=" <% $rinfo->{qType} %>  <% $rinfo->{hhstatus} %> <% $rinfo->{providerTemplate} %> <% $ARGS{bodyClass} %> <% $ARGS{fax} ? 'fax' : 'print' %> ath_<% $author_id %>" style="margin-top: 0.5em;">

			<%join("\n",  @{$ARGS{html}}) %>

</body>
</html>
