<%attr>
ajax => 1
</%attr>
<%args>
$RxNumber => undef
$RxN => $RxNumber
$ecl => undef
$print => undef
$faxorprint => undef
</%args>
<%init>
 use HTML::FormatText::Lynx;
			 use Apache2::SubProcess ();
  use Parallel::ForkManager;  
 # use Config;
#  use constant PERLIO_IS_ENABLED => $Config{useperlio};


my $host = $ENV{HTTP_HOST} =~ m/127.0.0.1:8080/ ? '192.168.0.200' : "$ENV{HTTP_HOST}";
my %divs = (
		maleHH => {
						cover_page => [qw(inline_style )],
						medical_profile => [qw(inline_style importantInfo medicalHistoryArea diagnosesArea FurtherTherapyConsiderations MedHistoryDisplay MedicationsNotes)],
						lab_results => [qw(LabArea lab_charts)],
						reported_symptoms => [qw(symptomList)],
						evaluation => [qw(TherapyEvaluation  recommendations_Area ) ],
						followup_selfcare	 => [qw(AdditionalTesting SelfCareNotes )]

			},
		amaleHH => {
						cover_page => [qw(inline_style )],
						medical_profile => [qw(inline_style importantInfo medicalHistoryArea diagnosesArea FurtherTherapyConsiderations MedHistoryDisplay MedicationsNotes)],
						lab_results => [qw(LabArea lab_charts LabNotes)],
						reported_symptoms => [qw(symptomList)],
						evaluation => [qw(TherapyEvaluation  recommendations_Area ) ],
						followup_selfcare	 => [qw(AdditionalTesting SelfCareNotes )]

			},
		aYf0 => {
						cover_page => [qw(inline_style )],
						medical_profile => [qw(inline_style importantInfo medicalHistoryArea  diagnosesArea FurtherTherapyConsiderations MedHistoryDisplay MedicationsNotes)],
						lab_results => [qw(LabArea lab_charts)],
						reported_symptoms => [qw(symptomList)],
						evaluation => [qw(TherapyEvaluation  recommendations_Area ) ],
						followup_selfcare	 => [qw(AdditionalTesting SelfCareNotes )]
			},
		sal_f_lo => {
						cover_page => [qw(inline_style )],
						medical_profile => [qw(inline_style importantInfo medicalHistoryArea  diagnosesArea FurtherTherapyConsiderations MedHistoryDisplay MedicationsNotes)],
						lab_results => [qw(LabArea lab_charts LabNotes)],
						reported_symptoms => [qw(symptomList)],

						followup_selfcare	 => [] # [qw(AdditionalTesting SelfCareNotes )]
		
		},
		sal_m_lo => {
						cover_page => [qw(inline_style )],
						medical_profile => [qw(inline_style importantInfo medicalHistoryArea diagnosesArea FurtherTherapyConsiderations MedHistoryDisplay MedicationsNotes)],
						lab_results => [qw(LabArea lab_charts LabNotes LabNotes)],
						reported_symptoms => [qw(symptomList)],

						followup_selfcare	 =>  [] #  [qw(AdditionalTesting SelfCareNotes )]
		
		}
);

my @pg_order = qw(cover_page medical_profile lab_results reported_symptoms evaluation followup_selfcare);





my %forcePrint=(LabNotes => 1, inline_style => 0);
my %forcePrintPage=(cover_page => 1);
my %po = (
		cover_page => 'printable-coverpage.html'
	);

my %addl_opts = (
		cover_page => ['--margin-top', '28mm'],
		medical_profile => ['--margin-top', '28mm'],
#		lab_results => ['--margin-top', ' 18mm'],
		reported_symptoms => ['--margin-top', '28mm', '-O', 'Landscape'],
		evaluation => ['--margin-top', ' 28mm'],
		followup_selfcare => ['--margin-top', '28mm']
);



my %html_opts = (
								importantInfo => {interrior_append => '<br style="clear:both;" />'},
								medicalHistoryArea => {append => '<br style="clear:both;" />'},
								recommendations_Area => { exterior_prepend =>  '<br style="clear:both; page-break-after:always; " /><div>&nbsp;</div>'}
							);






	my $aa_reportSQL_hard = q{select *  from aa_reports2 A	inner	  join ( select keyName, max(id) as MaxID           from aa_reports
	WHERE rowID= ?
       group by rowID, keyName ) M
    on A.keyName = M.keyName
   and A.id = M.MaxID
WHERE rowID= ?

ORDER BY A.keyName};
	
	my $aa_reportSQL = q{SELECT t1.keyName, t1.keyValue
FROM aa_reports2 t1
LEFT JOIN aa_reports2 t2
ON t1.rowID = t2.rowID
AND t1.keyName = t2.keyName
AND t1.id < t2.id
WHERE t2.id IS NULL AND t1.rowID=?};


	my %ht=@{$dbh->selectcol_arrayref($aa_reportSQL, {Columns=>[1,2]}, ($RxN))};
	my $rinfo = $dbh->selectrow_hashref(q{SELECT * FROM hhStatus WHERE rowID=?}, {}, ($RxN));
	my $patientID=RD2::getpatientidfromrxnumber($dbh, RxNumber => $RxN);
	my $p = RD2::getpatientinfo($dbh,  patientID => $patientID);
	my $d = RD2::getdoctorinfo($dbh,  DoctorCode => $ARGS{DoctorCode} || $p->{DoctorCode});

	my ($lDate, $sampleDate, $author_id, $sampleDate_mmddyy)=$dbh->selectrow_array(q{SELECT DATE_FORMAT(LastDateUpdated, '%m/%d/%y'), DATE_FORMAT(sampleDate, '%b %d, %Y') AS sampleDate_f, author, DATE_FORMAT(sampleDate, '%m/%d/%y') AS sampleDate_mmddyy FROM restoreReports WHERE RxNumber=? LIMIT 1}, undef, $RxN);
	my $author= $dbh->selectrow_array(q{SELECT name0 FROM userInfo ui WHERE ui.uname=?}, undef, ($author_id));

	if ($ecl && $ARGS{saveecl} && $RxN) {
			$dbh->do(q{REPLACE INTO aa_reports2 SET keyValue=?, keyName='ecl_printable' , rowID =?}, undef, ($ecl, $RxN));
			my $inlineS='<style>';
			my $divs = ref $ARGS{hideThese} ? 
				$ARGS{hideThese} :
				[ $ARGS{hideThese}];
			for my $fin ( @$divs) { 
				$inlineS.= qq{#$fin { display:none;}\n};
			}
			$inlineS.='</style>';
			$dbh->do(q{REPLACE INTO aa_reports2 SET keyValue=?, keyName='inline_style_printable' , rowID =?}, undef, ($inlineS, $RxN));
	} else {
	($ecl) ||= $dbh->selectrow_array(q{
			SELECT t1.keyValue
			FROM aa_reports2 t1
			LEFT JOIN aa_reports2 t2
			ON t1.rowID = t2.rowID
			AND t1.keyName = t2.keyName
			AND t1.id < t2.id
			WHERE t2.id IS NULL AND t1.rowID=? AND t1.keyName='ecl_printable'}, undef, ($RxN)); 
			}
	if ($d->{doctorName}=~m/([^,]+),([^,]+)/) {
		$d->{doctorName}= ucfirst(lc($2)) . ' ' . ucfirst(lc($1)) ; # '", $d->{doctorType}";
	}
	$p->{PatientFirstName} = ucfirst(lc($p->{PatientFirstName}));
	$p->{PatientLastName} = ucfirst(lc($p->{PatientLastName}));
	my %includeDiv;
	
	my $pg_cnt=0;	
	my @pdf_files;
	my $all_args={RxN => $RxN, pg_args => []};

			#	warn 'GGG2: faxorprint: ' . $faxorprint . $rinfo->{qType} . join(', ', @{$divs{$rinfo->{qType}}->{lab_results}});
	
	
#	my  $pm = new Parallel::ForkManager(3);
   my %skip_pg;
	for my $pg (@pg_order) {
	
	next unless $divs{$rinfo->{qType}}->{$pg};

			my $turl='/tmp_all/report_tmp/' . $RxN . $pg .  '.html';
			my $pdfurl='/tmp_all/report_tmp_pdf/' . $pg . '-'  . ( int(100*rand())) . '-' . $RxN.'.pdf';

			my @pghtmls;
			

			my $div_cnt_per_pg=0;
			warn 'GGG: ' . join(', ', @{$divs{$rinfo->{qType}}->{$pg}});
			for my $div (@{$divs{$rinfo->{qType}}->{$pg}}) { 

			unless($ht{$div.'_printable'}) {$ht{$div.'_printable'}=$ht{$div.''};} next unless (length($ht{$div.'_printable'}) > 3  && length( HTML::FormatText::Lynx->format_string($ht{$div.'_printable'})) > 3  ) || $forcePrint{$div}; 
					 push(@pghtmls, $html_opts{$div}->{exterior_prepend} . q{<div id="aw_} . $div . q{" class="area-wrap good"><div id="} . $div . q{">} . $ht{$div.'_printable'} . $html_opts{$div}->{interrior_append} . q{</div>	} . $html_opts{$div}->{append} . q{</div>});			}
			
				my %or = $po{$pg} ? ('or' => $po{$pg}) : ();
				unless (@pghtmls || $forcePrintPage{$pg}) {	$skip_pg{$pg}++; next;	}
				#success!
				push(@pdf_files, $pdfurl);
	
	
	    # Forks and returns the pid for the child:
#my $pid = $pm->start and next;			
	
				my $thtml=$m->scomp('print_ah.html',  base_href => '192.168.0.200:10003', rinfo => $rinfo,   p => $p,   sampleDate => $sampleDate,   RxN => $RxN,   author=> $author, author_id => $author_id,   ecl => $ecl,   d => $d,   fax => $faxorprint, lDate => $lDate, inline_style_printable => $ht{inline_style_printable}, html => \@pghtmls, %or);
			my $title =  '"' . $p->{PatientLastName} .', ' . $p->{PatientFirstName} . ' - DOB: ' .  $p->{DOB_mmddyy} . ' - Sample Date: ' .$sampleDate_mmddyy .  '"' ;				
			


			my @hparams;
			my %head_args = (
				patient_name => $p->{PatientLastName} .', ' . $p->{PatientFirstName},
				RxN =>  $RxN ,
				DOB => $p->{DOB_mmddyy},
				lab_date => $sampleDate_mmddyy,
				pg => $pg,
				faxorprint => $faxorprint
			);
			   while (my ($key,$value) = each(%head_args)) {
			        HTML::Mason::Escapes::url_escape(\$value);
			        HTML::Mason::Escapes::url_escape(\$key);
        			push(@hparams, "$key=$value");
		    }
			my $header_url = join('&', @hparams);


		my @fparams;
			my %foot_args = (
				patient_name => $p->{PatientLastName} .', ' . $p->{PatientFirstName},
				RxN =>  $RxN ,
				DOB => $p->{DOB_mmddyy},
				lab_date => $sampleDate_mmddyy,
				pg => $pg,
				faxorprint => $faxorprint
			);
			   while (my ($key,$value) = each(%foot_args)) {
			        HTML::Mason::Escapes::url_escape(\$value);
			        HTML::Mason::Escapes::url_escape(\$key);
        			push(@fparams, "$key=$value");
		    }
			my $footer_url = join('&', @fparams);
#			$footer_url ='RxN=1230000\&';

my @targs=('/usr/local/bin/wkhtmltopdf','--dpi', '300', '--page-size' , 'Letter' , '--header-spacing', '12',  '--footer-spacing', '6',  '--margin-bottom', '22mm', '--margin-top', '28mm',  '--title' , $title  , '--quiet', '--footer-html' , q{'http://} . $host . '/templates/reports/footer.html?'  . $footer_url . q{'}  ,  '--header-html' ,  q{'http://} . $host . '/templates/reports/' . $pg . '.html?'  . $header_url . q{'}     ,  ( ref $addl_opts{$pg} ? @{$addl_opts{$pg}} : '--quiet') ,   "'$turl'", "'$pdfurl'"); 




my %wkopts= ('--dpi', '300', '--page-size' , 'Letter' , '--header-spacing', '12',  '--footer-spacing', '6',  '--margin-bottom', '22mm', '--margin-top', '28mm',  '--title' , $title  , '--quiet', '--footer-html' , q{'http://} . $host . '/templates/reports/footer.html?'  . $footer_url . q{'}  ,  '--header-html' ,  'http://' . $host . '/templates/reports/' . $pg . '.html'     ,  ( ref $addl_opts{$pg} ? @{$addl_opts{$pg}} : '--quiet') );



				open OUT, '>' . $turl or die $! . qq{            $turl};;
				print OUT $thtml;
				close OUT or die $!;
					

	push(@{$all_args->{pg_args}}, {targs => \@targs, wkopts => \%wkopts  });


#			my ($in_fh, $out_fh, $err_fh) = $r->spawn_proc_prog($command, \@targs) or die $!;
#	$pm->finish; # Terminates the child process	
} 
# $pm->wait_all_children;
$all_args->{pdf_files}=\@pdf_files;
my $pdfid=Digest::SHA3::sha3_256_hex($all_args);
$all_args->{set_pdfid}=substr($pdfid, 128, 64) || $pdfid;
$dbh->do(q{INSERT INTO tmp_report_gen (jargs) VALUES (?)}, undef, (JSON::XS::encode_json($all_args)) ); 

return $pdfid;
</%init>
<%doc>

my $pdfs='"' . join('" "', @pdf_files) . '"';
my $fnnpdf=q{/tmp_all/report_tmp_pdf/} . $RxN . q{_fnn.pdf};
my $fpdf=q{/tmp_all/report_tmp_pdf/} . $RxN . q{_f.pdf};
rename $fnnpdf, $fnnpdf . '.last';
rename $fpdf, $fpdf . '.last';
use PDF::Reuse;

	my $tpc_f=0;  
if (10)  {
warn $fnnpdf;
	PDF::Reuse::prFile($fnnpdf);
	for my $tmp_pdf (@pdf_files) {	my $t_pg_cnt=PDF::Reuse::prDoc($tmp_pdf);	$tpc_f+=$t_pg_cnt;}
	PDF::Reuse::prEnd;
	} else {
	
#			my $fcommand=q{/public_html/perl/detach.pl /usr/local/bin/gs -dNOPAUSE -sDEVICE=pdfwrite -sOUTPUTFILE=}. $fnnpdf . q{ -dBATCH } . $pdfs;
#			my @fargs=('-dNOPAUSE', '-sDEVICE=pdfwrite', '-sOUTPUTFILE=' . $fnnpdf, q{ -dBATCH } ,  @pdf_files);
#			warn'FRSP:1	' . $fcommand;
#			my $frsp=$r->spawn_proc_prog($fcommand); 		#'/usr/local/bin/gs', @fargs);
#			warn'FRSP:' .  $frsp;
##			my $frsp= `$fcommand` ; #`/usr/local/bin/gs -dNOPAUSE -sDEVICE=pdfwrite -sOUTPUTFILE=/tmp_all/test.pdf -dBATCH $pdfs`;
	}
	
{
  my $n = 1;
my $input = $fnnpdf;
my $output = $fpdf ;
  PDF::Reuse::prFile($output);
 PDF::Reuse::prFontSize(14);
 my $tpc=0;
 warn '247';
$m->out('<b style="color: blue;">'. $input . '</b>'); $m->flush_buffer;
  while (1) {
     my $pc_str= $n++ . '/' . $tpc_f;
     PDF::Reuse::prFont('Times-Roman');
      my ($actualSize, $fontSizeBeforetheChange) = PDF::Reuse::prFontSize();
      warn $fontSizeBeforetheChange;
     PDF::Reuse::prText(1800, 1800, $pc_str);
     last unless PDF::Reuse::prSinglePage($input);
  }

  PDF::Reuse::prEnd();
}

if ($print) {
	$m->clear_buffer();
	$r->content_type('application/pdf');
	$r->sendfile( $fpdf );
	#$r->abort( Apache2::Const::HTTP_OK );
}
#	$m->file() or die $!;
	return $fpdf;
	
#	my $tpc_f=0;
	{
#		PDF::Reuse::prFile($fnnpdf . 'tmp');
#		$tpc_f=PDF::Reuse::prDoc($fnnpdf);
#		PDF::Reuse::prEnd;
	}
</%doc>