<%attr>
topleft => 'none'
bottomleft => 'none'
</%attr>
<%args>
$Status => 'Complete'
$patientID => 'BACKN01'
</%args>
<%doc>
# we might update RD module:
## We did move these to RD::Patient
# Reports:
# sub getpatientletters {
		$Status = ref $Status ? $Status : [$Status]; #force arrayref
				my @columns = qw(  restoreReports.surveyDate restoreReports.LastDateUpdated restoreReports.Status pdfID reportType );
				my $options = " ORDER BY surveyDate DESC";
				my $rsqlstmt=qq{SELECT DISTINCT(restoreReports.RxNumber), } . join(', ', @columns) . qq{ FROM restoreReports JOIN RxLookUp AS p ON p.RxNumber=restoreReports.RxNumber WHERE p.patientID=? AND p.patientID IS NOT NULL AND `Status` IN (} . join(', ',('?') x @$Status) .q{) } . $options;
				my $rr = $dbh->selectall_arrayref($rsqlstmt, {Columns =>{}}, ($patientID, @$Status));






# sub getPatientRecentActivity {
							# orders:			
							my $rorders=$dbh->selectall_arrayref(q{SELECT rP.productDisplayName, oQ.OrderStatus, oQ.LastDateUpdated FROM ordersQueue AS oQ JOIN restoreProducts AS rP on oQ.productID=rP.productID WHERE patientID=? UNION } . q{SELECT  CONCAT_WS(" ", oQ.Medication, oQ.Dose, oQ.Qty) AS med, oQ.RxStatus, oQ.LastDateUpdated FROM prescriptionQueue AS oQ  WHERE patientID=? ORDER BY LastDateUpdated DESC LIMIT  10}, undef, ($patientID, $patientID));

</%doc>






<script>
var rrRowTempl = new Template('<tr onclick="$(\'rr#{RxNumber}\').submit();"><td>#{surveyDate}</td><td>#{reportType}<form method="post"  id="rr#{RxNumber}" action="/doctors/patients/displayreport.html" target="_blank"><input type="hidden" name="RxNumber" value="#{RxNumber}" /></form></td></tr>');

function showRestoreReportList() {
	var rrHTML='';
	if (!Pat['info']['restoreReports']) {rrHTML+='<td colspan="2">No Reports on file</td>';}
	else {Pat['info']['restoreReports'].each(function(s, index) {	rrHTML+=rrRowTempl.evaluate(s);})}
	$('restoreReportTbody').innerHTML=rrHTML;
	}

var roRowTempl = new Template('<tr onclick="$(\'rr#{RxNumber}\').submit();"><td>#{productDisplayName}</td><td>#{OrderStatus}<form method="post"  id="rr#{RxNumber}" action="/doctors/patients/displayreport.html" target="_blank"><input type="hidden" name="RxNumber" value="#{RxNumber}" /></form></td><td>#{LastDateUpdated}</td></tr>');

function showRecentOrderList() {
	var rrHTML='';
	if (!Pat['info']['recentOrders']) {rrHTML+='<td colspan="2">No Recent Activity</td>';}
	else {Pat['info']['recentOrders'].each(function(s, index) {	rrHTML+=roRowTempl.evaluate(s);})}
	$('recentOrderTbody').innerHTML=rrHTML;
}





</script>


	<ul id="tabs_example_one" class="lp_tabs">  
		<li class="tab"><a href="#trreports">Reports</a></li>  
		<li class="tab"><a href="#trecentorders">Recent Orders</a></li>  
		<li class="tab"><a href="#ttestkit">Test Kits</a></li> 		
	</ul>  
	<div class="someContainer ">
	<div id="trreports" >
		<table class="restoreReportList">
			<caption>Restore Reports</caption>
			<thead>
				<tr><th>Survey Date</th><th>Report Type</th></tr>
			</thead>
			<tbody id="restoreReportTbody">	
				<tr><th>Survey Date</th><th>Report Type</th></tr>
			</tbody>
		</table>
	</div>
	<div id="trecentorders"  style="">		
			<table class="restoreReportList">
				<caption>Recent Orders</caption>
				<thead>
					<tr><th>Order</th><th>Status</th><th>Last Updated</th></tr>
				</thead>
				<tbody id="recentOrderTbody">	
								<tr><td colspan="3">Getting Data...</td></tr>
				</tbody>
			</table>
	</div>
	<div id="ttestkit">
			<table class="restoreReportList">
				<caption>Test Kits</caption>
				<thead>
					<tr><th>ID</th><th>Status</th><th>Last Updated</th></tr>
				</thead>
				<tbody id="testKitTbody">	
								<tr><td colspan="3">Getting Data...</td></tr>
				</tbody>
			</table>
	</div>
</div>



  



