% # <a href="#showRecommendations" id="RecWindow" title="Prescribing Recommendations">Show Recommendations</a>


% # <input type="button" onclick="styled_window_two.container.insert(showRecommendations()); activateRecommendationDragging();" value="Window Recs" />
% # <input type="button" onclick="$('recommendations_Area').innerHTML=showRecommendations(); activateRecommendationDragging();" value="Show Recommendations" />
<div id="recommendations_Area"></div>"

