<%attr>
ajax => 1
</%attr>
<%args>
$RxN
</%args>
<style>
#restoreSpecificNotes .note {
		border-bottom: 1px solid black;
		border-collapse: collapse;
		border-top: 1px solid black;
		padding: 0.15em;
		max-width: 400px;

	}
#restoreSpecificNotes .note .even {background: #F1FBFF;}
#restoreSpecificNotes .note .noteDetails	{	color: #444;	font-size: smaller;	}
#restoreSpecificNotes .archiveNote {float: right; cursor:pointer; max-height: 1.25em; vertical-align:middle; 		display: inline;}
#restoreSpecificNotes .archiveNote img {cursor:pointer; max-height: 1.2em;;  vertical-align:middle; padding-top: .5em;}

</style>
<%init>
sleep 1;
my $notes = $dbh->selectall_arrayref(q{SELECT * FROM notes WHERE patientID=? AND noteType='Restore' ORDER BY dateEntered DESC}, {Columns =>{}}, (RD2::gpfr($dbh, $RxN)));
</%init>
% my $even=0;
% for my $no (@$notes) {
<div class="<% $even % 2 ? 'odd' : 'even' %> note"><% $no->{noteText} | h %>
	<span class="archiveNote" onclick="
new Ajax.Updater('restoreSpecificNotes', '/aa/saveValue.html', {
  parameters: { arg: 'archiveNote', val: <% $no->{noteID} %>, RxN: <% $RxN %>  }
});"><img src="/images/buttons/delete.png" /></span>

	<div class="noteDetails"><% $no->{dateEntered} |h %>: <% $no->{author} |h %> (<% $no->{RxID} | h %>)</div>
</div>
%	$even++;	}

<div id="new_rsn" onclick="new Ajax.InPlaceEditor( this, '/aa/saveValue.html', {ajaxOptions: { arg: 'saveNote', val: this.textContent  }, formId: 'rsnTF_0',					rows: 3,					onEnterEditMode: function(tst) {}	,									callback: function(form, value) { new Ajax.Updater('restoreSpecificNotes', '/aa/restoreSpecificNotes.html', {parameters: {'RxN': gRxN || 'no rxn', 'Test': 'test'} }); return 'RxN='+escape(gRxN)+'&arg=saveNote&val='+escape(value); }					});" style="cursor:pointer; font-weight:bold; padding: .5em 0 .5em 0; color: #195985;">+ New Note</div>
