<%attr>
topleft=>'/atopleft.mas'
</%attr>

% if (0) {
<div class="scrollbar_container">  
    <div id="rxhist_content" class="scrollbar_content">
    </div>  
    <div id="rxhist_track" class="scrollbar_track"><div class="scrollbar_handle"></div></div>  
</div>
% }
		<div id="rxhistory" >
			<div class="rxHist">
    			<div class="theader" id="rxhistory_msg">These prescriptions are currently being filled at <% $companyInfo->{$session{_partnerGroup}}->{name_pharmacy} | h %></div>
    			<div class="theader">
    				<span>Drug</span>
    				<span>QTY</span>
    				<span>Prescribed</span>
    				<span>Filled</span>
    				<span>Refills</span>
    			</div>
    		</div>
    		<div id="rxhist_tbody" class="rxHist"></div>
    		<div id="otcHist_tbody" class="rxHist"></div>
		</div>
% #<input type="button" value="showRxHist" onclick="showRxHistory();" />

