<%attr>
topleft => 'none'
bottomleft => 'none'
</%attr>
<%args>

        $patientID => $session{patientID}
        $RxNumber => undef
        $nextURL => undef

</%args>

<div>

  <div id="RxpageHeader"><h3>Prescribe Hormones</h3></div>
	

% # RxPad
% #
    <div id="green_arrow" style="display:none"><img src="/images/droparrow.gif"></div>
    <div id="ptmsg"></div>
    
    <div id="rxblank">

      <div id="rxpadHeader">
      </div>
      <div id="bottomrxpad">
  <form name="prescribeoptions" id="prescribeoptions" method="POST" onSubmit="verifyRxForm(); return false;">
    <input type="hidden" name="DoctorCode" id="DoctorCode_rxid"/>
    <input type="hidden" name="patientID" id="patientID_rxid" />
% if ($nextURL) {    
    <input type="hidden" name="nextURL" value="<% $nextURL %>" />
% }


      <div id="outputs"></div>
      <hr />
            <div id="blank_row_area">
            	<table id="rxTable" style='display:block;' border="0" cellpadding="0" cellspacing="10" width="100%">
            		<tbody>
            			<tr>
            			 <td>Combine?</td>
            			 <td>Medication &#38; Dosage Form</td>
            			 <td>Dose</td>
            			 <td>Qty</td>
            			 <td>Instructions</td>
            			 <td>Refill</td>
            			</tr>
            			<tr>
	            			<td><input name='med0combine' type="checkbox" value='combine' /></td>
										<td class="field" >
											<input type="text" name="med0Medication" id="med0Medication" size="40" />
											<div class="autocomplete" id="med0Medication_select" style="position: absolute; left: 35px; top: 234px; width: 248px; display: none; "></div>
										</td>
	            			<td class="field"><input type="text" name="med0Dose" id="med0Dose" size="12" /><div class="autocomplete" id="med0DosageList" style="position: absolute; left: 35px; top: 234px; width: 248px; display: none; "></div>
</td>
	            			<td class="field"><input type="text" name="med0Qty" size="3" /></td>
	            			<td><textarea name="med0Instructions" rows="2" cols="25" wrap="PHYSICAL"></textarea></td>
	            			<td><input type="text" name="med0Refill" size="2" /></td>
            			</tr>
	            	</tbody>
	            </table>
	           </div>

      									<input type="button" onclick="addRR()" value="Add Blank Prescription Row" style="width:25em;" /> <input type='submit' value='Submit' style="width:10em;" />

	  </form>
	</div>
      <div id="bottomrxpad2" style="display:none;"></div>
      
    </div>
% # seems to be missing a div:    
</div>
