<%args>
$DoctorCode => undef
$patientID => undef
$yam => undef
$nextURL => undef
</%args>
<%attr>
topleft => 'none'
bottomleft => 'none'
</%attr>
<%init>
warn "warned: " . $yam;
unless ($ARGS{signer} eq 'test') {
delete $session{nextURL};
my @attrs=('Method','Dose','Instructions','Qty','Refill');
my $GroupID = $m->comp('/doctors/submitprescription.mas', DoctorCode => $DoctorCode, patientID => $patientID, submitted => \%ARGS);
$GroupID=$m->comp('/doctors/submitblankrxpad.mas', DoctorCode => $DoctorCode, patientID => $patientID, GroupID => $GroupID, submitted => \%ARGS);
eval{ 
#evaled so if the fax service is down we are still OK... (2008-01/09)
RD2::sendFax($dbh,  GroupID => $GroupID, data => $m->scomp('/pharmacy/pharmacy/rxprint.html', GroupID => $GroupID)) if $GroupID;
};

if ($GroupID) {
$m->out("<h3>Thank you!  Your prescription has been submitted.</h3>");
	if ($nextURL) {
		$m->out('<div style="margin: 8px 8px;"><a href="'.$nextURL.'" class="button">Continue</a></div>') ;
	} else {
		$m->out('<div style="margin: 8px 8px;"><a href="#reset"  onclick="resetForNewRx(); return false;" class="button">Write Another Prescription</a></div>') ;
	}
}
if ($ARGS{programOptions}) {

my @tests = ref($ARGS{programOptions}) ? @{$ARGS{programOptions}} : ($ARGS{programOptions});
warn join(', ', @tests);
my $sqlstmt=qq{INSERT INTO ordersQueue (DoctorCode, patientID, Instructions, GroupID, RxID, productID, dateEntered) VALUES \n} . (join (', ', ((qq{(?,?,?,?,?,?,NOW())\n}) x @tests)));
my $sth=$dbh->prepare($sqlstmt);
my @vals;
$GroupID||=RD2::randStr($dbh, format => 'cnncnn');
foreach my $test (@tests) {
	my $RxID=RD2::randStr($dbh, format => 'cnncnn');

push (@vals, ($session{DoctorCode}, $patientID, $ARGS{Instructions}, $GroupID, $RxID, $test));
}
$sth->execute(@vals);
$dbh->do(q{INSERT INTO testingStatus SET labStatus='Pending', surveyStatus='Pending', RxNumber=?}, undef, ($GroupID));
}
return;
}
</%init>
Test Worked