<%attr>
topleft => '/atopleft.mas'
ajax =>1
</%attr>
<%args>

  # This determines the use of experimental/development code.
  $dev => undef

 		$RxN => undef
        $RxNumber => $RxN
        $patientID => RD2::gpfr($dbh, $RxNumber)
        $nextURL => undef
		$print => undef
		$qType => 'RFF'
		$limit => 15
		$addAplia => 1
</%args>

<%perl>
	return if $qType eq 'RFF';
	return if $qType eq 'maleHH';
	return if $session{username} eq 'kalir';
 

	my $DC =  RD2::getDC($dbh, patientID => $patientID, RxN => $RxNumber) ;
	warn "DC: $DC for $patientID RXN: $RxNumber";
	$m->out(qq{<h3>DC: $DC</h3>}) if $ARGS{debug};
my $dbID=$dbh->quote($DC);

$dbID='"needtofix"';
my $arr = $dbh->selectall_arrayref(qq{select * FROM templateMeds2 WHERE id IN ($dbID, ?) AND qType=? ORDER BY medOrder }, {Columns=>{}}, ($qType, $qType));

	 my $gr ; #= $cache->get('rxTemplateGroups'.$DC);
	 my @groups=@{$gr} if 	 $gr;
   unless ( @groups ) {
	   		@groups=@{$dbh->selectcol_arrayref(qq{SELECT DISTINCT medCategory FROM templateMeds2 WHERE id IN ($dbID, ?) AND qType=? ORDER BY medOrder}, undef, ($qType, $qType))};
       #$cache->set('rxTemplateGroups'.$DC, \@groups, '72h');
       warn "should be setting cache";
   }

	 my $res2;# = $cache->get('rxTemplateMH'.$DC);
	 my %mh=%{$res2} if 	 $res2;
   unless ( %mh ) {
			my $cntr;
			foreach my $group (@groups) {
				my @meds=@{$dbh->selectcol_arrayref(qq{SELECT medication FROM templateMeds2 WHERE id IN ($dbID, ?) AND medCategory=? AND qType=? ORDER BY medOrder}, undef,  ( $qType, $group, $qType))};
				foreach my $med (@meds) {
					#next if $cntr > $limit *2;
					my $ref = $dbh->selectcol_arrayref(qq{SELECT medDose FROM templateMeds2 WHERE  id IN ($dbID, ?) AND medication=? AND medCategory='$group' AND qType=? ORDER BY medOrder}, undef, ( $qType, $med, $qType));
					($mh{$group}->{$med}->{inputName} , $mh{$group}->{$med}->{medDisplayName} , $mh{$group}->{$med}->{medCombinable}) = $dbh->selectrow_array(qq{SELECT inputName, medDisplayName, medCombinable FROM templateMeds2 WHERE  id IN ($dbID, ?) AND medication='$med' AND medCategory='$group' AND qType=? LIMIT 1}, undef,   ($qType, $qType));
					$mh{$group}->{$med}->{doses}=$ref;
# debugging:					$mh{$group}->{$med}->{medDisplayName}=$mh{$group}->{$med}->{medDisplayName} . $cntr;
					$cntr++ if $mh{$group}->{$med}->{medDisplayName};
				
				}
			}


       #$cache->set('rxTemplateMH'.$DC, \%mh, '72h');
       #warn "setting cache";
   }





my $cntr=100;
</%perl>
<script>
var rxtmpl_radioChange =function (id, cb) {
	    var chk=document.getElementById(cb);
	    if (chk.checked == false) {
			    var elem=document.getElementById(id);
 			    var ms=document.getElementById(id+'_ms');

		      var boxes=elem.getElementsByTagName("input");
		      for (var i=0; i<boxes.length; i++) {
		          var field=boxes[i];
		          field.checked=false;
		          field.disabled=true;}
		       chk.disabled=false;
		       //hide the related options
		     var  msBoxes=ms.getElementsByTagName("input");
		       for (var i=0; i<msBoxes.length; i++) {
		          var field=msBoxes[i];
		          field.checked=false;
		          field.disabled=true;}
//		          ms.class='hidden';
		          ms.style.display='none';
		          

	    }
		 else {
			    var elem=document.getElementById(id);
		      var boxes=elem.getElementsByTagName("input");
 			    var ms=document.getElementById(id+'_ms');
		      for (var i=0; i<boxes.length; i++) {
		          var field=boxes[i];
		          field.disabled=false;}
  		       //show the related options
		      var msBoxes=ms.getElementsByTagName("input");
		       for (var i=0; i<msBoxes.length; i++) {
		          var field=msBoxes[i];
		          field.disabled=false;}
//		          ms.class='visible';
		          ms.style.display='block';

	    }

}
</script>

<style>
.hideMe {display:<% $print ? 'inline' : 'none' %>;}
.underlineSig {border-style:none; border-bottom: 2px outset black; min-height:1.1em; margin-top: .25em; width: 32em;}
% if ($dev == 1) {
.underlineThis {border-style:none; border-bottom: 2px outset black; min-height:1.1em; margin-top: .25em; width: 450px;}
% } else {
.underlineThis {border-style:none; border-bottom: 2px outset black; min-height:1.1em; margin-top: .25em;}
% }

#rxTemplateArea {max-width: 65em;}
#rxTemplateArea td {font-size:0.8em;}

@page rxTemplateAreaPage {
  @bottom { content: "Restore Health Pharmacy Fax: 1-888-898-7412" } 
    size: letter portrait; 
}
#rxTemplateArea {
	 page: rxTemplateAreaPage;
}
.shortInput {max-width: 2.0em;}
.rxTemplate_SigArea { float:right; display:none;}
.rxTemplate_SigArea2 {display:none;}
.rxTemplate_GroupSigArea {line-height: 1.5em;}
#RxTemplate_col0  { white-space: nowrap;}
#RxTemplate_col1 { white-space: nowrap;}

% if ($dev == 1) {
.rxtempl_group {
  font-size: 0.9em;
}
.tmedname {
  display: inline-block;
  width: <% $print ? '225px' : '175px' %>;
}
.tcell {
  display: inline-block;
  width: 100px;
}
.sigLine > div {
  display: inline-block;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}
% } else {
.tcell {margin-left: 1.1em;}
% }
.rxtempl_group { font-size: 0.9em; }

% if ($dev != 1) {
.tcell.tmedname {min-width: 20em;}
% }
</style>
% if ($print) {
% # <& '/formattedpatientinfo.mas', patientID => $patientID &>
% $m->comp('/aa/padheader.mas', date => ' ', patientID  => $patientID, DC => $DC);
% # <% qq{ $DC -- $qType} %>
% }
% if ($ARGS{debug}) {
<pre>
% my @sorts=sort {$a->{medOrder} <=> $b->{medOrder}} @$arr;
% for my $grp (@sorts) {
	<% qq{$grp->{medDisplayName} $grp->{medDose}} %>
% }
<% JSON::XS::encode_json($arr) %>
</pre>
% } # debug

% if ($addAplia) {
% my $aplia_Form = 0 ? '/aa/apliaRxPad.html' : '/aa/aplia_pad.html';
	<& $aplia_Form &>
%	}
<table><tr><td id="RxTemplate_col0">
% foreach my $group (@groups) {
<!-- <% $group %> -->
% next unless $mh{$group};
<div class="rxtempl_group">

% foreach my $med (keys %{$mh{$group}}) {
% if ($dev == 1) {
	<div id='<% $group."_".$med %>' class="row">
		<div class="tmedname">
			<input type="checkbox" id='<% $group."_".$med %>_cb' name="<% "med" . $cntr . "Medication" %>" value="<% $mh{$group}->{$med}->{medDisplayName} %>" onClick="rxtmpl_radioChange('<% $group."_".$med %>', '<% $group."_".$med %>_cb')" /> <label for="<% $group."_".$med %>_cb"><% $mh{$group}->{$med}->{medDisplayName} %></label>
		</div>
% } else {
	<div id='<% $group."_".$med %>'>
		<span class="tcell tmedname">
			<input type="checkbox" id='<% $group."_".$med %>_cb' name="<% "med" . $cntr . "Medication" %>" value="<% $mh{$group}->{$med}->{medDisplayName} %>" onClick="rxtmpl_radioChange('<% $group."_".$med %>', '<% $group."_".$med %>_cb')" /> <label for="<% $group."_".$med %>_cb"><% $mh{$group}->{$med}->{medDisplayName} %></label>
		</span>
% }
%		my $tds=2;
%		foreach my $dose (@{$mh{$group}->{$med}->{doses}}) {
% if ($dev == 1) {
		<div class="tcell" >
			<input type="radio" name="<% "med" . $cntr . "Dose" %>" value="<% $dose %>" disabled='disabled' id="id<% "med" . $cntr . $tds . "Dose" %>" /> <label for="id<% "med" . $cntr .  $tds ."Dose" %>"><% $dose  %></label>
		</div>
% } else {
		<span class="tcell" >
			<input type="radio" name="<% "med" . $cntr . "Dose" %>" value="<% $dose %>" disabled='disabled' id="id<% "med" . $cntr . $tds . "Dose" %>" /> <label for="id<% "med" . $cntr .  $tds ."Dose" %>"><% $dose  %></label>
		</span>
% }

%				$tds++;}
% unless ($tds >6 ) {
% if ($dev == 1) {
		<div class="tcell">
			<input type="radio" name="<% "med" . $cntr . "Dose" %>" id="<% $group."_".$med %>_Other_dose"  disabled='disabled' />
			<label for="id<% "med" . $cntr . "DoseOther" %>">
				<input type="text" id="id<% "med" . $cntr . "DoseOther" %>"  onClick="document.getElementById('<% $group."_".$med %>_Other_dose').checked=true;" class="underlineSig shortInput" onChange="document.getElementById('<% $group."_".$med %>_Other_dose').value=this.value" size='10'/>

			</label>
		</div>
% } else {
		<span class="tcell">
			<input type="radio" name="<% "med" . $cntr . "Dose" %>" id="<% $group."_".$med %>_Other_dose"  disabled='disabled' />
			<label for="id<% "med" . $cntr . "DoseOther" %>">
				<input type="text" id="id<% "med" . $cntr . "DoseOther" %>"  onClick="document.getElementById('<% $group."_".$med %>_Other_dose').checked=true;" class="underlineSig shortInput" onChange="document.getElementById('<% $group."_".$med %>_Other_dose').value=this.value" size='10'/>

			</label>
		</span>
% }
%		}
% #	</div>
	<div class="rxTemplate_SigArea">
% if ($dev == 1) {
		<div class="tcell">
			<div id="<% $group."_".$med %>_ms" class='hideMe' >
				<div class="tcell">
						Directions: 	<input type="text" name="<% "med" . $cntr . "Instructions" %>"   class="underlineSig " id='<% $group."_".$med %>_Sig' disabled='disabled' />
					</div>
				<div class="tcell">
						Refills <input type="text" name="<% "med" . $cntr . "Refill" %>" id='<% "med" . $cntr . "Refill_id" %>' disabled='disabled' value='' class="underlineSig shortInput"  />
% if ($mh{$group}->{$med}->{medCombinable} eq 'yes' && 0) {						
						<div class="combinableTemplate">Combine? <input type="checkbox" name="<% "med" . $cntr . "combine" %>" id='<% "med" . $cntr . "combine_id" %>' disabled='disabled' /></div>
%	}						
					</div>
					<div class="tcell">
					 	QTY: <input type="text" class="underlineSig shortInput" name="<% "med" . $cntr . "Qty" %>" id='<% $group."_".$med %>_Qty' disabled='disabled' />
					</div>
				</div>
			</div>
% } else {
		<span class="tcell">
			<div id="<% $group."_".$med %>_ms" class='hideMe' >
				<span class="tcell">
						Sig: 	<input type="text" name="<% "med" . $cntr . "Instructions" %>"   class="underlineSig " id='<% $group."_".$med %>_Sig' disabled='disabled' />
					</span>
				<span class="tcell">
						Refills <input type="text" name="<% "med" . $cntr . "Refill" %>" id='<% "med" . $cntr . "Refill_id" %>' disabled='disabled' value='' class="underlineSig shortInput"  />
% if ($mh{$group}->{$med}->{medCombinable} eq 'yes' && 0) {						
						<div class="combinableTemplate">Combine? <input type="checkbox" name="<% "med" . $cntr . "combine" %>" id='<% "med" . $cntr . "combine_id" %>' disabled='disabled' /></div>
%	}						
					</span>
					<span class="tcell">
					 	QTY: <input type="text" class="underlineSig shortInput" name="<% "med" . $cntr . "Qty" %>" id='<% $group."_".$med %>_Qty' disabled='disabled' />
					</span>
				</div>
			</span>
% }
	</div>
	</div>
% $cntr++; }
</div>

% if ($dev == 1) {
  <div id="<% $group %>_ms" class="rxTemplate_GroupSigArea sigLine hideMe">
    <div class="">
      Directions: 	<input type="text" name="<% "med" . $cntr . "Instructions" %>"   class="underlineSig " id='<% $group %>_Sig' disabled='disabled' />
    </div>
    <div class="">
      Refills <input type="text" name="<% "med" . $cntr . "Refill" %>" id='<% "med" . $cntr . "Refill_id" %>' disabled='disabled' value='' class="underlineSig shortInput"  />
    </div>
    <div class="">
      QTY: <input type="text" class="underlineSig shortInput" name="<% "med" . $cntr . "Qty" %>" id='<% $group %>_Qty' disabled='disabled' />
    </div>
  </div>
% } else {
	<div class="rxTemplate_GroupSigArea">
		<span class="tcell">
			<div id="<% $group %>_ms" class='hideMe' >
				<span class="tcell">
						Sig: 	<input type="text" name="<% "med" . $cntr . "Instructions" %>"   class="underlineSig " id='<% $group %>_Sig' disabled='disabled' />
					</span>
				<span class="tcell">
						Refills <input type="text" name="<% "med" . $cntr . "Refill" %>" id='<% "med" . $cntr . "Refill_id" %>' disabled='disabled' value='' class="underlineSig shortInput"  />
					</span>
					<span class="tcell">
					 	QTY: <input type="text" class="underlineSig shortInput" name="<% "med" . $cntr . "Qty" %>" id='<% $group %>_Qty' disabled='disabled' />
					</span>
				</div>
			</span>
	</div>
</div>
% }

% }
</td>
<td id="RxTemplate_col1" >

% foreach my $group (@groups) {
<!-- <% $group %> -->
% next unless $mh{$group};
<div class="rxtempl_group">

% foreach my $med (keys %{$mh{$group}}) {
	<div id='<% $group."_".$med %>_SIG'>


% if ($dev == 1) {
	<div class="rxTemplate_SigArea2">
		<div class="tcell">
			<div id="<% $group %>_ms" class='hideMe' >
				<div class="tcell">
						Sig: 	<input type="text" name="<% "med" . $cntr . "Instructions" %>"   class="underlineSig " id='<% $group %>_Sig' disabled='disabled' />
					</div>
				<div class="tcell">
						Refills <input type="text" name="<% "med" . $cntr . "Refill" %>" id='<% "med" . $cntr . "Refill_id" %>' disabled='disabled' value='' class="underlineSig shortInput"  />
					</div>
					<div class="tcell">
					 	QTY: <input type="text" class="underlineSig shortInput" name="<% "med" . $cntr . "Qty" %>" id='<% $group."_".$med %>_Qty' disabled='disabled' />
					</div>
				</div>
			</div>
% } else {
	<div class="rxTemplate_SigArea2">
		<span class="tcell">
			<div id="<% $group %>_ms" class='hideMe' >
				<span class="tcell">
						Sig: 	<input type="text" name="<% "med" . $cntr . "Instructions" %>"   class="underlineSig " id='<% $group %>_Sig' disabled='disabled' />
					</span>
				<span class="tcell">
						Refills <input type="text" name="<% "med" . $cntr . "Refill" %>" id='<% "med" . $cntr . "Refill_id" %>' disabled='disabled' value='' class="underlineSig shortInput"  />
					</span>
					<span class="tcell">
					 	QTY: <input type="text" class="underlineSig shortInput" name="<% "med" . $cntr . "Qty" %>" id='<% $group."_".$med %>_Qty' disabled='disabled' />
					</span>
				</div>
			</span>
% }
	</div>
</div>
% } 

</div>
<br/>
% }

</td></tr></table>
<div id="providerSigningArea">
	Signature: <input type="text" class="underlineThis" style="max-width: 35em;"/> &nbsp; &nbsp; &nbsp; Date:  <input type="text" class="underlineThis"  style="max-width: 15em;"/>
</div>
% #<h1>DC <% $DC %></h1>
<%doc>

% if ($ARGS{debug}) {
% my @sorts=sort {$arr->{$a} <=> $arr->{$b}->{medOrder}} keys %$arr;
<% join(', ', @sorts) %>
<pre><% JSON::XS::encode_json($arr) %>
</pre>
% for my $grp (@sorts) {
	<div id="rxTA_<% $grp %>"><% $grp %>:
% for my $grpp (keys %{$arr->{$grp}}) {
		<div><% "$grpp:" %>
% for my $ds (keys %{$arr->{$grp}->{$grpp}}) {
<% $arr->{$grp}->{$grpp}->{medOrder} %>
					<% $ds %>
%					}
		</div>
%		}
	</div>
% }
% } # debug
</%doc>
