<%args>
$DoctorCode => undef
$patientID => undef
$nextURL => undef
</%args>
<%attr>
topleft => 'none'
bottomleft => 'none'
</%attr>
<%init>
#$m->comp('/debug.mas', submitted => \%ARGS);
my @attrs=('Method','Dose','Instructions','Qty','Refill'); # not including 'combine', done manually



my @definedMeds=grep {/^med[\d]+Medication$/} keys %ARGS;
my $definedMed;
my @definedMedsNums;
foreach my $dM (@definedMeds) {$definedMed++ if $ARGS{$dM}; $dM=~m/([\d]+)/; push(@definedMedsNums, $1);}

unless ($DoctorCode && $patientID && ($definedMed)) {
        $m->print(qq{<h3><span style="color:red; font-weight:700;">There was an error!</span></h3><br/>\n});
        $m->comp('/debug.mas', submitted => \%ARGS);
#        $m->comp('/doctors/pharmacy/index.html');
        return;}
</%init>



<form id="avrxpad" method="POST" name="rxpad" onSubmit="VerifySigner(); return false;" >
<table cellspacing="10" cellpadding="0" width="100%" align="center">
	<tr> <td colspan="1"><span style='font-size: smaller;'>(Combine?)</span></td><td colspan='2'> Medication</td> <td>Dose</td> <td>Instructions</td> <td>Qty</td> <td>Refill</td> </tr>
	<tr>

%                               for (@definedMedsNums) {
%                               	next if $ARGS{"med" . $_ . "Medication"} eq "";
%																	$ARGS{"med" . $_ . "Dose"}=~m/(\D*)(\d+\.?\d*)?(\D*)/;
%																	my $doseVal= 1 * (sprintf qq{%02f}, $2);
%																	my $doseStr = $ARGS{"med" . $_ . "Dose"};#$doseVal ? qq{$1$doseVal$3} : $ARGS{"med" . $_ . "Dose"}; #the regex got too complex.  a nice feature, but for a rainy day (it's actually raining as I'm removing this fuctionality...)
                                <tr>
                      <td class="field" colspan='1' > <input name='med<% $_ %>combine' type='checkbox' value='combine' <% $ARGS{"med" . $_ . "combine"} ? 'checked' : '' %> /> </td><td class="field" colspan='2' ><input type="hidden" name="med<% $_ %>refillRxNumber" value="<% $ARGS{"med" . $_ . "refillRxNumber"} %>"><% $ARGS{"med" . $_ . "refillRxNumber"} ?  qq{<span style="font-size: smaller; color: gray;">($ARGS{"med" . $_ . "refillRxNumber"})</span>&nbsp;} : '' %><b><input type='hidden' name='med<% $_ %>Medication' value="<% $ARGS{"med" . $_ . "Medication"} %>"><% $ARGS{"med" . $_ . "Medication"} %></b> </td>
<!--                        <td nowrap ><input type='hidden' name='med<% $_ %>Method' value="<% $ARGS{"med" . $_ . "Method"} %>"><% $ARGS{"med" . $_ . "Method"} %></td> -->
                            <td class="field"><input type='hidden' name='med<% $_ %>Dose' value="<% $ARGS{"med" . $_ . "Dose"} %>"><% $doseStr %></td>
                            <td class="field"><input type='hidden' name="med<% $_ %>Instructions" value="<% $ARGS{"med" . $_ . "Instructions"} %>"><% $ARGS{"med" . $_ . "Instructions"} %></td>
                            <td class="field"><input type='hidden' name='med<% $_ %>Qty' value="<% $ARGS{"med" . $_ . "Qty"} %>"><% $ARGS{"med" . $_ . "Qty"} %></td>
                            <td class="field"><input type="hidden" name="med<% $_ %>Refill" value="<% $ARGS{"med" . $_ . "Refill"} %>"><% $ARGS{"med" . $_ . "Refill"} %></td>
                        </tr>
% }                        
                  </table>
<span style="display:block;"><a href="#" onClick="new Effect.SlideDown('includeTestingTable')"; return false;" >Include Lab testing</a></span>
<p><table border="0" cellspacing="3" cellpadding="3" style="display: none;" id="includeTestingTable">
                                <tr>
                                        <td nowrap>Follow-up Test Kit to order: </td>
%                                               my $radio=0;
%                                               my %query = ( productCategory => 'Test' );                                      
%                                               my @restoreProducts=RD2::getrestoreproducts($dbh,  query => { productAvailable=>'Y'});
%                                               foreach my $item (@restoreProducts) {
%                                                       foreach my $items (@{$item->{types}->[0]->{productInfo}}) {
%                                                                                       my $productName=$items->{productDisplayName};
%                                                                                       my $productID=$items->{productID};
%                                                                               if ($radio > 1) { $m->out( "</tr><tr><td></td>"); $radio=0;}
<td nowrap><input type="checkbox" name="followupTest" value="<% $productID %>" /> <% $productName %> <% $items->{productPrice} ? " (\$$items->{productPrice})" : '' %></td>
%  $radio++;} }

                                </tr>
                                <tr><td colspan='2'><p/></td></tr>
                                <tr><td colspan='2'>Note for labs: <textarea name="followupTest.Insturctions" cols="80"></textarea></td></tr>
                        </table>
<p/>


          <table>
            <tr>
                <td>
                    Sign Here: <input type="text" id="signer" value="" name="signer" />
                </td>
            </tr>
            <tr>
            	<td>           	
                <input type="hidden" name="DoctorCode" value="<% $session{DoctorCode} %>" />
                <input type="hidden" name="patientID" value="<% $patientID %>" />
% if ($nextURL) {
                <input type="hidden" name="nextURL" value="<% $nextURL %>">
%       }                
                <input type="button" value='<<<  Go Back  ' onClick="new Effect.SlideUp('bottomrxpad2'); new Effect.SlideDown('bottomrxpad')"/>
                <input type="submit" value='    Submit Prescription    '/>
              </td>
           </tr>
         </table>
	     </form>
% #	     <& '/debug.mas', submitted => \%ARGS &>
<%doc>

                                <tr>
                                        <td nowrap>Follow-up Test kit to Include: </td>
%                                               my $radio=0;
%                                               my %query = ( productCategory => 'Test' );                                      
%                                               my @restoreProducts=RD->getrestoreproducts;                               
%                                               foreach my $item (@restoreProducts) {
%                                                       foreach my $items (@{$item->{types}->[0]->{productInfo}}) {
%                                                                                       my $productName=$items->{productDisplayName};
%                                                                                       my $productID=$items->{productID};
%                                                                               if ($radio > 1) { $m->out( "</tr><tr><td></td>");}
<td nowrap><input type="radio" name="followupTest" value="<% $productID %>" <% $ARGS{followupTest} eq  $productID ? 'checked' : '' %>> <% $productName %></td>
%  $radio++;} }
                                        <td nowrap><input type="radio" name="followupTest" value="None" <% $ARGS{followupTest} eq  'None' ? 'checked' : '' %>> None</td>
                                </tr>
                        </table>
</%doc>