<%attr>
ajax => 1
</%attr>
<%args>
$RxN
</%args>
<%init>

my %nargs;
my @keys = grep {$ARGS{$_} && $_ =~ /^rml/} keys %ARGS;
@nargs{@keys} = @ARGS{@keys};

my %margs;
 @keys = grep { $_ =~ /^rml_med_/} keys %ARGS;
@margs{@keys} = @nargs{@keys};

	$dbh->do(q{DELETE FROM currentMedication_real WHERE rowID=?}, undef, ($RxN));
for my $med (keys %margs) {
	my $ret=$dbh->do(q{INSERT INTO `currentMedication_real` (`rowID`,  `medicationType`, `medicationDeliveryMethod`, `medicationDosage`, `medicationDays`, `fromMPA`, `medicationFrequency`)
VALUES
	(?, ?, ?, ?, ?, ?, ?);
}, undef, ($RxN, $margs{$med}, $nargs{'rml_method_' . $margs{$med}}, $nargs{'rml_dose_' . $margs{$med}}, $nargs{'rml_days_' . $margs{$med}}, $nargs{'rml_mpa_' . $margs{$med}}, $nargs{'rml_frequency_' . $margs{$med}}));

#$m->out(qq{<div>INSERT INTO `currentMedication_real` (`rowID`,  `medicationType`, `medicationDeliveryMethod`, `medicationDosage`, `medicationDays`, `fromMPA`, `medicationFrequency`) VALUES (} . join (', ', ($RxN, $margs{$med}, $nargs{'rml_method_' . $margs{$med}}, $nargs{'rml_dose_' . $margs{$med}}, $nargs{'rml_days_' . $margs{$med}}, $nargs{'rml_mpa_' . $margs{$med}}, $nargs{'rml_frequency_' . $margs{$med}}) ) . qq{: <b>$ret</b></div> ) });
}


</%init>
% #<% RD2::jd(\%ARGS) %>
<h3 style="color: green;">Saved</h3>
