<%attr>
ajax => 1
topleft => 'none'
bottomleft => 'none'
</%attr>
<%args>
$RxN
$faxorprint => undef
</%args>
<%init>
my $inrRC2;


if ($RxN) {
	 ($inrRC2) = 0; # $dbh->selectrow_array(q{SELECT COUNT(*) FROM restoreReportsComplete2 WHERE rowID=? AND keyName IN ('currentIRMA.commentsDiagnoses', 'currentIRMA.NotesCurrent_Medications', 'coverPage_section')}, undef, ($RxN));
	my %mag;
	for my $k (keys %ARGS) {
		next if $k eq 'RxN';
		next if $k eq 'savePDF';
#		next unless $ARGS{$k};
#		next unless $ARGS{$k} =~ m/\S/;
		$dbh->do(q{INSERT INTO aa_reports2 SET rowID=?, keyName=?, keyValue=?} , undef, ($RxN, $k, $ARGS{$k})) unless $inrRC2;
#		$dbh->do(q{INSERT INTO aa_reports2 SET rowID=?, keyName=?, keyValue=?} , undef, ($RxN, $k . '_printable', $ARGS{$k. '_printable'} )) unless $inrRC2;
		$mag{$k}++;
	}
	
	if (keys %mag) {

			my $mout=qq{<style>.msgs_list {font-size: .8em; color: #5E856B;} .msgs_list li {display: inline;} .msgs_list li:after {
	content: ", ";
	} .msgs_list li.notSaved {color:red;} </style><div><span style="color:#5E856B;">Saved</span><span style="color:black;"> / </span><span style="color:red;">Not Saved</span>:\n\t<ul class="msgs_list">\n};
			for my $mk (sort keys %mag) { # next if $mk =~/_printable$/;
				$mout.=qq{\n\t\t<li>$mk</li>};
			}
			for my $mk (qw(AdditionalTesting FurtherTherapyConsiderations HormoneSummary LabArea MedHistoryDisplay SelfCareNotes TherapyEvaluation diagnosesArea importantInfo medicalHistoryArea patientInfo recommendations_Area rxTemplateArea symptomList symptomsAsText)) {
				$mout.=qq{\n\t\t<li class="notSaved">$mk</li>} unless $mag{$mk};
				}
	
	
	
			$mout.=qq{\n\t</ul>\n</div>};	
		$m->out(	$mout	);
	}
	if ($ARGS{savePDF} eq 'saveonly') {	my $junk ;# my $pdfid = $m->comp({store => \$junk}, 'print.m.pdf.html', RxN =>  $RxN, save => 'saveonly', nosleep => 1, needpdfid => 1);	
my $pdfid = $m->comp({store => \$junk}, 'print.m.pdf_wka.html', RxN =>  $RxN, save => 'saveonly', nosleep => 1, needpdfid => 1, faxorprint => $faxorprint);	


	warn "pdfid - $pdfid : $junk"; warn 'UT: ' . $session{userType}; return $pdfid;}
	

}
</%init>
<% $inrRC2 > 0 ? 'Can not edit: This report was done in OpenOffice' : 'Saved' %>
