<%attr>
topleft => 'none'
bottomleft => 'none'
</%attr>
<%once>
use Digest::MD5 qw(md5 md5_hex md5_base64);
use FreezeThaw qw(freeze);
</%once>

<%args>
$arg
$RxN
$val => undef
</%args>
<%init>
warn "$arg:$val:$RxN";

        if ( $arg eq 'followedProtocol' ) { $dbh->do(q{REPLACE INTO aa_eav SET rowID=?, keyName='followedProtocol', keyValue=?}, undef, ($RxN, $val)); 
        									$dbh->do(q{REPLACE INTO aa_eav SET rowID=?, keyName='currentIRMA.followedProtocol', keyValue=?}, undef, ($RxN, $val)); 
        									  $dbh->do(q{DELETE FROM jsonCache WHERE rowID=? LIMIT 1}, undef, (RD2::getpatientidfromrxnumber($dbh, RxNumber => $RxN)));
        }
        elsif ( $arg eq 'setStatus' ) { $dbh->do(q{UPDATE hhStatus SET hhstatus=? WHERE rowID=? LIMIT 1}, undef, ($val, $RxN) );

		        if ($val eq 'Complete' || $val eq 'New') { #clear old versions
		        	$dbh->do(q{
		        	DELETE ar1 FROM 
						aa_reports2 ar1 LEFT JOIN
						(SELECT t1.rowID, t1.keyName, t1.id
						FROM aa_reports2 t1
						LEFT JOIN aa_reports2 t2
						ON t1.rowID = t2.rowID
						AND t1.keyName = t2.keyName
						AND t1.id < t2.id
						WHERE t2.id IS NULL AND t1.rowID=?) AS ar2
						ON  ar1.rowID=ar2.rowID AND ar1.keyName=ar2.keyName AND  ar1.id=ar2.id
						WHERE ar1.rowID=? AND ar2.rowID IS NULL
		        	}, undef, ($RxN, $RxN));
		        
		        }
			        if ($val eq 'Complete') {
			            $dbh->do(q{INSERT INTO restoreReports (author, `Status`, completed, RxNumber) VALUES ( ?,'Completed', NOW() ,?) ON DUPLICATE KEY UPDATE author=VALUES(author), Status='Completed' , completed=IFNULL(completed, VALUES(completed))}, undef, ($session{username}, $RxN));			        
			            
#			            $dbh->do(q{UPDATE restoreReports SET author=?, `Status`='Completed', completed=NOW() WHERE RxNumber=?}, undef, ($session{username}, $RxN));
			            #insert into labOrders if it is not already there IF it is a(RFF|maleHH):
			            #check first:
			            my ($oea) = $dbh->selectrow_array(q{SELECT  rowID 
												FROM restoreReportsSendQueue 										
												WHERE restoreReportsSendQueue.rowID=?
												UNION
												SELECT id FROM labOrders l WHERE l.id=?}, undef, ($RxN, $RxN));
												my ($qType, $DC1)=$dbh->selectrow_array(q{SELECT qType, DC FROM hhStatus h JOIN RxLookUp r ON h.rowID=r.RxNumber WHERE rowID=?}, undef, ($RxN));
			
			            
			            
    
				            unless ($oea && !$qType =~ m/^a/) {
				    
				 					$dbh->do(q{INSERT INTO labOrders 
				 					(id, patientID, DC, loStatus, price, paid, initiatedBy, updatedBy, dateEntered) VALUES 
				 					(?, 	?, 		?, 		?, 		?, 		?, 	?,				?,			 NOW()) ON DUPLICATE KEY UPDATE LDU=NOW(), updatedBy=?}, undef, 
				 					($RxN, RD2::getpatientidfromrxnumber($dbh, RxNumber => $RxN), $DC1, 'Electronic', 0, 0, $session{username},  $session{username}, $session{username}));
					my $oid=$dbh->{'mysql_insertid'};
					my $types=[(($qType eq 'aRFF' ? '921' : '922'))];
					        #$m->print(q{<div>INSERT INTO labOrderItems (oID, labType) VALUES (} . join(", $oid,", ('?') x  @$types) . q{)} . " - qT: $qType</div>" . join(', ',  @$types)); $m->flush_buffer;
					        	$dbh->do(q{INSERT IGNORE INTO labOrderItems (oID, labType) VALUES (?, } . 
							join(", $oid,", ('?') x @$types) .
							 q{)}, undef, ($oid, @$types)); 
				}
            
            $dbh->do(q{UPDATE restoreReports SET author=?, `Status`='Completed' , `completed`=NOW() WHERE RxNumber=?}, undef, ($session{username}, $RxN));            
			###### set sessID:
			
#					print $RxN;
					($RxN)=$dbh->selectrow_array(q{SELECT RxNumber FROM restoreReports WHERE RxNumber=?}, undef, ($RxN));
#										print $RxN;
					return unless $RxN;
#								if ($ARGS{sendEmail}) { if ($ARGS{sendTo}=~m/^[\w-]+(?:\.[\w-]+)*@(?:[\w-]+\.)+[a-zA-Z]{2,7}$/) {RD2::sendReport($dbh, $RxN, $ARGS{sendTo}, $patientID, $ARGS{RDreminder});} else { $warning.=qq{<div>Can not send to: $ARGS{sendTo}</div>};}								}
#								if ($ARGS{sendFax}) {RD2::faxReport($dbh, $RxN, $ARGS{FaxTo});}


							#next set up direct URL access

							#print $sessID;
							#now we need dr code and pID
							my ($pID, $DC)=$dbh->selectrow_array(q{SELECT patientID, DC FROM RxLookUp WHERE RxLookUp.RxNumber=?}, undef, ($RxN));
							my $sessID = Digest::MD6::md6_hex($RxN.$pID.$DC);

							my $fzargs=JSON::XS->new->pretty(1)->encode({rxn => $RxN, RxNumber=>$RxN, DoctorCode=>$DC, patientID => $pID, pid =>$pID});
							$dbh->do(q{REPLACE INTO storedSessions SET sessID=?, DoctorCode=?, patientID=?, URL=?, args=?}, undef, ($sessID, $DC, $pID, '/doctors/patients/displayreport.html', $fzargs));
							$dbh->do(q{REPLACE INTO aa_eav SET keyName='sessID', keyValue=?, rowID=?}, undef, ($sessID, $RxN));
								my ($fRxN)=$dbh->selectrow_array(q{SELECT RxNumber FROM restoreReports WHERE RxNumber=? AND restoreReports.`Status`='Completed'}, undef, ($RxN));
						
              $m->out( "1" ) if $fRxN;
              
			
			###### /sessID            
            # we have not saved the whole document yet though...
        	#$m->scomp('/aa/print.m.pdf.html', RxN => $RxN, save =>'saveit');
        	}
        	#added because of problems when chaning status
        	        									  $dbh->do(q{DELETE FROM jsonCache WHERE rowID=? LIMIT 1}, undef, (RD2::getpatientidfromrxnumber($dbh, RxNumber => $RxN)));
        }
        
        elsif ($arg eq 'recommendationSig' ) {	my $id=$ARGS{id}; $id=~s/eraRecSig_(\d+)/$1/i; $dbh->do(q{UPDATE recommendations SET Instructions=? WHERE id=? LIMIT 1}, undef, ($val, $id)) if $val;	
        $m->out($val ? $val : 'There was a problem, try to "Undo" (Control-Z)');
        }
        elsif ($arg eq 'recommendation_medDN' ) {	my $id=$ARGS{id}; $id=~s/eraRec_medDN_(\d+)/$1/i; $dbh->do(q{UPDATE recommendations SET MedicationDN=? WHERE id=? LIMIT 1}, undef, ($val, $id)) if $val;	
        $m->out($val ? $val : 'There was a problem, try to "Undo" (Control-Z)');
        }
        elsif ($arg eq 'recommendation_medDose' ) {	my $id=$ARGS{id}; $id=~s/eraRec_dose_(\d+)/$1/i; $dbh->do(q{UPDATE recommendations SET Dose=? WHERE id=? LIMIT 1}, undef, ($val, $id)) if $val;	
        $m->out($val ? $val : 'There was a problem, try to "Undo" (Control-Z)');
        }        









        elsif ($arg eq 'saveNote' ) {
        	$dbh->do(q{INSERT INTO notes VALUES ('Restore', NOW(), ?, ?, ?, ?, NULL, NULL, NULL, NULL)}, undef, (	$session{username}, $val, $ARGS{RxN}, RD2::gpfr($dbh, $RxN))) if $val;	
	        $m->out($val ? $val : '');
        }
        elsif ($arg eq 'archiveNote' ) {
        	$dbh->do(q{UPDATE notes set noteType="Archived" WHERE noteID=? LIMIT 1}, undef, (	$val )) if $val;	
			$m->comp('/aa/restoreSpecificNotes.html', RxN => $RxN);
        }


        elsif ($arg eq 'cmedIns' ) {	my $id=$ARGS{id}; $id=~s/cmnotes_(\d+)/$1/i; $dbh->do(q{UPDATE currentMedication SET medicationNotes=? WHERE ID=? LIMIT 1}, undef, ($val, $id)) if $val;	
        $m->out($val ? $val : '');
        }

        elsif ( $arg eq 'saveForLogic' ) { $dbh->do(q{REPLACE INTO aa_eav SET rowID=?, keyName='learnLogic', keyValue=NOW()}, undef, ($RxN)); 
	    }



</%init>
