<%args>
$word => undef
$DoctorCode =>  'k105x469' # $session{DoctorCode} ||
$dateFormat => q{%m/%d/%Y}
</%args>

<%init>
# might want to check security on this file...
my @safe_users=qw(cs pharmacy admin);

use feature ':5.10';
unless($word) {
	for my $k (keys %ARGS) { next unless $ARGS{$k}; $word=$ARGS{$k}; last;}
}
my $arr;
#$m->flush_buffer;

if (0) {

				 my $limit=20;

			my $grpsqlstmt=qq{SELECT doctorGroups.DoctorGroup FROM doctorGroups WHERE DoctorCode='$DoctorCode' AND doctorGroups.DoctorGroup !="" AND doctorGroups.DoctorGroup IS NOT NULL};
			my $grpsth = $dbh->prepare ("$grpsqlstmt");
			 	 $grpsth->execute();
			my @groups;
			my ($qs1code)=$dbh->selectrow_array(qq{SELECT QS1CODE FROM doctors WHERE DoctorCode='$DoctorCode' LIMIT 1});
			while (my ($grp)=$grpsth->fetchrow_array) {
				push (@groups, $grp);
				}
			my $groupstr=join(' || ', @groups);
			my @columns = ('patients.patientID', 'patients.PatientFirstName', 'patients.PatientLastName', qq{DATE_FORMAT(patients.DOB,"$dateFormat") AS DOB}, 'patients.tstamp'); #qq{DATE_FORMAT(patients.tstamp,"$dateFormat") AS tstamp});
			my @jtables = ('patients');
			my $options = "ORDER BY tstamp DESC";
			my @results; 
			my $groupstr2=qq{ OR doctorspatients.DoctorGroup IN ("} . join('", "', @groups) . qq{" ) } if @groups;
			
			my $sqlstmt=qq{SELECT } . join(',', @columns) . qq{ FROM doctorspatients JOIN patients ON doctorspatients.patientID=patients.patientID  WHERE (doctorspatients.DoctorCode=? } . $groupstr2 . q{) AND (patients.PatientFirstName LIKE ? OR patients.PatientLastName LIKE ?) };

			my $sqlstmt2=qq{SELECT } . join(',', @columns) . qq{ FROM patients WHERE patients.DoctorCode IS NOT NULL AND patients.DoctorCode !='' AND (patients.DoctorCode=? OR patients.DoctorCode=?) AND (patients.PatientFirstName LIKE ? OR patients.PatientLastName LIKE ?) };
			my $qs1groupsstmt=qq{SELECT } . join(',', @columns) . qq{ FROM patients WHERE patients.DoctorCode IS NOT NULL AND patients.DoctorCode !='' AND (patients.DoctorCode IN (SELECT QS1CODE FROM doctors JOIN doctorGroups AS dG ON dG.doctorGroup=doctors.DoctorCode WHERE dG.DoctorCode = ? ) )
			AND (patients.PatientFirstName LIKE ? OR patients.PatientLastName LIKE ?) };

		my $arr=$dbh->selectall_arrayref(
			qq{SELECT * FROM ( ($sqlstmt)  UNION DISTINCT ($sqlstmt2) UNION DISTINCT ($qs1groupsstmt)) as t_2332322  WHERE patientID NOT IN (SELECT patientID FROM  patients_archived WHERE DoctorCode 
			IN ("} . join('", "', @groups, $DoctorCode) . qq{" ) } .
			 qq{) $options LIMIT $limit},
			 {Columns=>{}},
			 ($DoctorCode, $word.'%', $word.'%', $DoctorCode, $qs1code, $word.'%', $word.'%', $DoctorCode, $word.'%', $word.'%')
			 );

}

elsif ($session{userType} eq 'doctor') {

	$arr=$dbh->selectall_arrayref(
		q{
		SELECT p.patientID, patientFirstName, patientLastName 
		FROM patients p 
			JOIN doctorspatients dp ON  dp.patientID=p.patientID 
			JOIN doctorGroups dG ON dG.DoctorGroup=dp.DoctorGroup AND dG.DoctorCode=?
		WHERE
			(patientFirstName LIKE ? OR patientLastName LIKE ?)
		ORDER BY patientLastName
		LIMIT 20
			}, 
		undef, ($DoctorCode, $word.'%', $word.'%'));
}
elsif ($session{userType} ~~ @safe_users) {
	$arr=$dbh->selectall_arrayref(
		q{
		SELECT p.patientID, patientFirstName, patientLastName 
		FROM patients p 
		WHERE
			(patientFirstName LIKE ? OR patientLastName LIKE ?)
		ORDER BY patientLastName
		LIMIT 20
			}, 
		undef, ($word.'%', $word.'%'));


}
</%init>

<%attr>
topleft => 'none'
bottomleft => 'none'
</%attr>
<ul>
%	for my $ar (@$arr) { next unless $ar->[0];
    <li id="<% $ar->[0] %>"><% qq{$ar->[2], $ar->[1]} %></li>
%    }
</ul>
