<%attr>
ajax => 1
</%attr>
<%args>
$RxN
$kn => undef
</%args>
<%init>
my $ary_ref = $dbh->selectcol_arrayref(q{SELECT keyName, keyValue FROM aa_eav WHERE rowID=? ORDER BY keyName}, {Columns =>[1,2]}, ($RxN));
my %eav = @$ary_ref;
</%init>
<ul>
% for my $av (sort keys %eav) {
	<li><% $av | h %>: <% $eav{$av} | h %></li>
%	}
</ul>