<%attr>
topleft => 'none' # $ARGS{ajax} ? 'none' : undef
bottomleft => 'none' # $ARGS{ajax} ? 'none' : undef
</%attr>




<%args>
$panelArgs => undef
$patientID => undef
$RxNumber => undef
$RxN => $RxNumber
$dateFormat => '%m/%d/%y'
$sort => 1
$display => undef
@hs => qw{E P T}
@last2 => () #last 2 to pay attention to
@officialHHs => qw(RFF maleHH aRFF amaleHH aaF aaM aYf0) #official HH to look at in determining last2
$sortType => undef
$clean =>1;
$newKeyHack => 1
</%args>

<%init>

my $textOnly;
  use RD::Pat_test;
 unless ($patientID) {
 $patientID=RD2::getpatientidfromrxnumber($dbh, RxNumber=>$ARGS{RxN}||$ARGS{RxNumber});
 }
 unless (defined $patientID) {
	return;
 }



#$m->cache->set( 'Patient2_'.$patientID, $pob, "3 w" );
#$m->out($patientID);
 $dbh->do(q{DELETE FROM jsonCache WHERE rowID=?}, undef, ($patientID)) if $ARGS{kjc};
#	my $pobRD::Patient::getPatient($dbh, $patientID);
my $HHs=RD::Pat_test::getsymptoms($dbh, {patientID => $patientID, hs => [qw(E P T Cortisol Thyroid)], noReports => 1});

#$m->out(RD2::jd($HHs));

#getsymptoms({patientID => $patientID});
my %labelText=@{$dbh->selectcol_arrayref(q{SELECT keyName, question FROM aa_symHormones sH JOIN hhQuestions hQ ON sH.keyName=hQ.saveValue WHERE hQ.section='Symptoms'},{Columns => [1,2]})};

## All of this should go into PObject ##

my %symBEW=('0' => 'symequal', '1' => 'symbetter', '-1' => 'symworse');
#use XML::Dumper;

# my $xml  = XML::Dumper::pl2xml( $HHs );
# use Data::HTMLDumper;
# my $xml = Data::HTMLDumper->Dump($HHs );
 
# use Data::Dumper::HTML;
# my $ddhtml;
# $ddhtml=Data::Dumper::HTML::dumper_html(@HHs);
my $json;
#=JSON::
#$pob=RD2::getrecommendations2($dbh,  RxNumber => $RxNumber, include => 'yes');
use Data::Dumper;
 if ($ARGS{dump}) { 
 					$m->print('<pre>' );
 foreach my $hh ( @$HHs) {$m->out($hh->{RxNumber} . ': '. JSON::XS->new->pretty(1)->encode($hh->{Symptoms}) . "\n\n");}
# 					Data::Dumper::Dumper($HHs)
  					$m->print('</pre>');

# 					$m->print(Data::Dumper::Dumper(@defaultOrder));
#  return;
  }
</%init>

<div id="symptomBox">
<style>
#symptomsKeyChart td {background:transparent;}
</style>
<table class="symtoms2" summary="Patient Symptoms">
	<caption>Reported Symptoms History</caption>
	<thead id="symptomListingTHEAD">
	<tr class="odd">
		<th class="column1">
% unless ($sortType eq 'default' && 0) {
			<span class="verysmalllink" onclick="focusHormone('default');">View All</span>
%			}
			<span class="showControl">&nbsp; / &nbsp; </span>
			<span class="verysmalllink showControl" onclick="showMoreInfo( 'symptomsKeyChart', 'symKeyImg');">Key <img src="/images/buttons/next_icon.png" id="symKeyImg" style="margin: 0 .5em; max-height: 1.75em; position:relative; top: 0.5em;" alt="Key" /></span>
			<table id="symptomsKeyChart">
				<tr>
				<td style="" >None <img style="float:left; margin-right:.5em" class="symptomsImg symLevel none" src="/images/symptoms/none.png">&nbsp;&nbsp;</td>
				<td style="" >Minimal <img style="float:left; margin-right:.5em" class="symptomsImg symLevel minimal" src="/images/symptoms/minimal.png">&nbsp;&nbsp;</td>
				</tr>
				<tr>
				<td style="" >Moderate <img  style="float:left; margin-right:.5em" class="symptomsImg symLevel moderate" src="/images/symptoms/moderate.png">&nbsp;&nbsp;</td>
				<td style="" >Severe <img  style="float:left; margin-right:.5em" class="symptomsImg symLevel severe" src="/images/symptoms/severe.png">&nbsp;&nbsp;</td>				
				</tr>
				<tr>
				<td colspan="2">
				<div class="noFax noPrint"  style="clear:both;">
					<div class="symworse">Red - Symptom has become more severe</div>
					<div class="symbetter">Green - Symptom has improved</div>
				</div>
				</td>
				</tr>
			</table>

		</th>
<%perl>
 my $reportColNum=0; my $totalCols=0;
 # cleaning:

 if ($clean) {my $inx=0;
 $textOnly=$HHs->[0];
 foreach my $hh ( @$HHs) {
	my $kt;

 if ($newKeyHack ) {
	my @badKeys = grep(/^currentSymptoms\./, keys %{$hh->{Symptoms}}); my %hs;#=@{$hh->{Symptoms}}{@goodKeys};
 	for my $kyk (@badKeys) {my $nk=$kyk;
 		$nk=~s/^currentSymptoms\.//i; 
		my %tmphs=%{$hh->{Symptoms}->{$kyk}};
	 	if ($labelText{$nk}) {$hs{$nk}	= \%tmphs;
# $m->out(qq{<div style="color:blue;"> "$kyk -- $labelText{$nk}" :  RD2::jd([%tmphs]) </div>}); $m->flush_buffer;
 } else {$hs{$kyk}	= \%tmphs;}
 	} delete $hh->{Symptoms} if @badKeys;
 $hh->{Symptoms}=\%hs if @badKeys;
#<% RD2::jd($hh) %>

 }

	for my $k (keys %{$hh->{Symptoms}}) {
 if ($newKeyHack && 0) {
 my $newKeyNameHack=$k; if ($newKeyNameHack=~s/currentSymptoms\.//  && $labelText{$newKeyNameHack}) {
 				$hh->{Symptoms}->{$newKeyNameHack}=$hh->{Symptoms}->{$k}; delete($hh->{Symptoms}->{$k});
				$k=$newKeyNameHack;
	} 
 }


 if (defined $hh->{Symptoms}->{$k}->{keyValue}) {$kt++;} }

 if ($newKeyHack && $session{username} eq 'cs' && 0) {
 #	my @goodKeys = grep(!/^currentSymptoms\./, keys %{$hh->{Symptoms}}); my %hs;#=@{$hh->{Symptoms}}{@goodKeys};
 #	 for my $kyk (@goodKeys) {
 #	 $hs{$kyk}	= $hh->{Symptoms}->{$kyk};
 # }

 #	 $hh->{Symptoms}=\%hs
	}

	unless ($kt) {	splice(@$HHs, $inx, 1); next;}
  if ( %{$hh->{Symptoms}}) {$totalCols++; }	$inx++;}

 if ($sort) { my @defaultOrder;
	# sort by Severity:
	for my $hh (@$HHs) {
	push @defaultOrder, sort { $hh->{Symptoms}{$b}->{calcValue} <=> $hh->{Symptoms}{$a}->{calcValue} ||  $hh->{Symptoms}->{$a}->{relativeToLast} <=> $hh->{Symptoms}->{$b}->{relativeToLast} || $hh->{Symptoms}{$a}->{questionOrder} <=> $hh->{Symptoms}{$b}->{questionOrder}  } keys %{$hh->{Symptoms}};
	}

	# clean array
	@defaultOrder=List::MoreUtils::uniq(@defaultOrder);
		@defaultOrder = grep { ! /^currentSymptoms\./} @defaultOrder if $HHs->[0]->{qType} =~ m/^aY/;

	$HHs->[0]->{order}->{default}=\@defaultOrder;
	
	$m->out(RD2::jd($HHs->[0]->{order}->{$sortType||'default'})) if $RxN ==1111000 || $ARGS{dump} > 1;;
#return if $RxN ==1111000;

	
 }
 }
</%perl>
%	foreach my $hh ( reverse @$HHs) {  unless ($hh->{Symptoms} && keys %{$hh->{Symptoms}} && values %{$hh->{Symptoms}}) { next; }
		<th scope="col" class='symptomsDates <% $hh->{qType} %>  <% 'symColFor_' . $hh->{RxNumber} %>  reportCol<% $totalCols - $reportColNum +1 %> <% $totalCols %>_<% $reportColNum %>_test'  >
			<span ><% $hh->{dateA} %></span>
		</th>
% $reportColNum++; 
% }

	</tr>	
	</thead>
    <tfoot  id="symptomListingTFOOT">	
 	<tr class="odd">
		<th class="column1">&nbsp;</th>
% $reportColNum=0;		
%	foreach my $hh ( reverse @$HHs)    {  unless ( $hh->{Symptoms} && %{$hh->{Symptoms}}) {next; }
		<th scope="col" class='symptomsDates <% $hh->{qType} %>  reportCol<% $totalCols - $reportColNum +1 %> '  >
			<span ><% $hh->{dateA} %></span>
		</th>
% $reportColNum++; }
	</tr>	
	</tfoot>
	<tbody id="symptomListingTBODY">
% my $num=0;
%		foreach my $res ((@{$HHs->[0]->{order}->{$sortType||'default'}} )) { next unless $labelText{$res}; next unless 1;
		<tr id="symList-<% $res %>" class="<% $num % 2 ? 'odd' : 'even' %> <% $symBEW{$HHs->[$last2[0]]->{Symptoms}->{$res}->{relativeToLast}} %>" style="-webkit-border-radius-left: 1em; -webkit-border-radius-right: 1em;">
			<th scope="row"  valign="top" class="column1 <% $num % 5 ? '' : ' symptomsline' %>">
			 <span class=" <% $symBEW{$HHs->[$last2[0]]->{Symptoms}->{$res}->{relativeToLast}} %> <% $HHs->[0]->{Symptoms}->{$res}->{otherClass} %>  curLevel_<% $HHs->[0]->{Symptoms}->{$res}->{keyValue} %> "><% $labelText{$res} %></span>
			</th>\
% $reportColNum =0;
%				for my $hh (reverse @$HHs)   {  unless ($hh->{Symptoms} && %{$hh->{Symptoms}}) { next; }
			<td class="<% $num % 5 ? '' : ' symptomsline ' %> reportCol<% $totalCols - $reportColNum +1 %> " >
%			if ($hh->{Symptoms}->{$res}->{keyValue}) {
						<span style="z-index:10;" class="symLevel <% lc $hh->{Symptoms}->{$res}->{keyValue} %>" ><img class="symptomsImg" src="/images/symptoms/<% lc $hh->{Symptoms}->{$res}->{keyValue} %>.png" /> </span>
%				}

		</td>\
% $reportColNum++; } 
	</tr>
%	 $num++;
% } 
	</tbody>
</table>
	<div id="symptomsAsText" >
%	my ( $satSev, $satMod);
		<ul class="severeSymsText">
%		foreach my $res ((@{$textOnly->{order}->{$sortType||'default'}} )) { next unless $textOnly->{Symptoms}->{$res}->{calcValue} == 3; $satSev++;
			 		<li><span class=" <% $symBEW{$HHs->[$last2[0]]->{Symptoms}->{$res}->{relativeToLast}} %> <% $textOnly->{Symptoms}->{$res}->{otherClass} %>"><% $labelText{$res} %></span></li>
%			 }
		</ul>
		<ul class="moderateSymsText">
%		foreach my $res ((@{$textOnly->{order}->{$sortType||'default'}} )) { next unless $textOnly->{Symptoms}->{$res}->{calcValue} == 2; $satMod++;
			 		<li><span class=" <% $symBEW{$HHs->[$last2[0]]->{Symptoms}->{$res}->{relativeToLast}} %> <% $textOnly->{Symptoms}->{$res}->{otherClass} %>"><% $labelText{$res} %></span></li>
%			 }
		</ul>
		<div><% $satSev + $satMod  ? '' : 'No Moderate or Severe Symptoms Reported by Patient'  %></div>
	</div>
</div>







% #<% RD2::jd($HHs) %>











