<%attr>
topleft => 'none' # $ARGS{ajax} ? 'none' : undef
bottomleft => 'none' # $ARGS{ajax} ? 'none' : undef
</%attr>




<%args>
$panelArgs => undef
$patientID => undef
$RxNumber => undef
$dateFormat => '%m/%d/%y'
$sort => 1
$display => undef
@hs => qw{E P T}
@last2 => () #last 2 to pay attention to
@officialHHs => qw(RFF maleHH aRFF amaleHH aaF aaM aYf0) #official HH to look at in determining last2
$sortType => undef
$clean =>1;
$newKeyHack => 1
</%args>

<%init>
my $textOnly;
  use RD::Pat_test;
 unless ($patientID) {
 $patientID=RD2::getpatientidfromrxnumber($dbh, RxNumber=>$ARGS{RxN}||$ARGS{RxNumber});
 }
 unless (defined $patientID) {
	return;
 }



#$m->cache->set( 'Patient2_'.$patientID, $pob, "3 w" );
#$m->out($patientID);
 $dbh->do(q{DELETE FROM jsonCache WHERE rowID=?}, undef, ($patientID)) if $ARGS{kjc};
#	my $pobRD::Patient::getPatient($dbh, $patientID);
my $HHs=RD::Pat_test::getsymptoms($dbh, {patientID => $patientID, hs => [qw(E P T Cortisol Thyroid)]});



#getsymptoms({patientID => $patientID});
my %labelText=@{$dbh->selectcol_arrayref(q{SELECT keyName, question FROM aa_symHormones sH JOIN hhQuestions hQ ON sH.keyName=hQ.saveValue WHERE hQ.section='Symptoms'},{Columns => [1,2]})};

## All of this should go into PObject ##

my %symBEW=('0' => 'symequal', '1' => 'symbetter', '-1' => 'symworse');
#use XML::Dumper;

# my $xml  = XML::Dumper::pl2xml( $HHs );
# use Data::HTMLDumper;
# my $xml = Data::HTMLDumper->Dump($HHs );
 
# use Data::Dumper::HTML;
# my $ddhtml;
# $ddhtml=Data::Dumper::HTML::dumper_html(@HHs);
my $json;
#=JSON::
#$pob=RD2::getrecommendations2($dbh,  RxNumber => $RxNumber, include => 'yes');
use Data::Dumper;
 if ($ARGS{dump}) { 
 					$m->print('<pre>' );
 foreach my $hh ( @$HHs) {$m->out($hh->{RxNumber} . ': '. JSON::XS->new->pretty(1)->encode($hh->{Symptoms}) . "\n\n");}
# 					Data::Dumper::Dumper($HHs)
  					$m->print('</pre>');

# 					$m->print(Data::Dumper::Dumper(@defaultOrder));
  return;}
</%init>

<div id="symptomBox">
<style>
#symptomsKeyChart td {background:transparent;}
</style>
<table class="symtoms2" summary="Patient Symptoms">
	<caption>Reported Symptoms History</caption>
	<thead id="symptomListingTHEAD">
	<tr class="odd">
		<th class="column1">
% unless ($sortType eq 'default' && 0) {
			<span class="verysmalllink" onclick="focusHormone('default');">View All</span>
%			}
			<span class="showControl">&nbsp; / &nbsp; </span>
			<span class="verysmalllink showControl" onclick="showMoreInfo( 'symptomsKeyChart', 'symKeyImg');">Key <img src="/images/buttons/next_icon.png" id="symKeyImg" style="margin: 0 .5em; max-height: 1.75em; position:relative; top: 0.5em;" alt="Key" /></span>
			<table id="symptomsKeyChart">
				<tr>
				<td style="" >None <img style="float:left; margin-right:.5em" class="symptomsImg symLevel none" src="/images/symptoms/none.png">&nbsp;&nbsp;</td>
				<td style="" >Minimal <img style="float:left; margin-right:.5em" class="symptomsImg symLevel minimal" src="/images/symptoms/minimal.png">&nbsp;&nbsp;</td>
				</tr>
				<tr>
				<td style="" >Moderate <img  style="float:left; margin-right:.5em" class="symptomsImg symLevel moderate" src="/images/symptoms/moderate.png">&nbsp;&nbsp;</td>
				<td style="" >Severe <img  style="float:left; margin-right:.5em" class="symptomsImg symLevel severe" src="/images/symptoms/severe.png">&nbsp;&nbsp;</td>				
				</tr>
				<tr>
				<td colspan="2">
				<div class="noFax noPrint"  style="clear:both;">
					<div class="symworse">Red - Symptom has become more severe</div>
					<div class="symbetter">Green - Symptom has improved</div>
				</div>
				</td>
				</tr>
			</table>

		</th>
% my $reportColNum=0; my $totalCols=0;
% # cleaning:

% if ($clean) {my $inx=0;
% $textOnly=$HHs->[0];
% foreach my $hh ( @$HHs) {
%	my $kt;
%	for my $k (keys %{$hh->{Symptoms}}) {
% if ($newKeyHack) {
% my $newKeyNameHack=$k; if ($newKeyNameHack=~s/currentSymptoms\.//  && $labelText{$newKeyNameHack}) {
% 				$hh->{Symptoms}->{$newKeyNameHack}=$hh->{Symptoms}->{$k}; delete $hh->{Symptoms}->{$k};
%				$k=$newKeyNameHack;
%	} }
% if ($hh->{Symptoms}->{$k}->{keyValue}) {$kt++;} }
%	unless ($kt) {	splice(@$HHs, $inx, 1); next;}
%  if ( %{$hh->{Symptoms}}) {$totalCols++; }	$inx++;}





% if ($sort) { my @defaultOrder;
%	# sort by Severity:
%	for my $hh (@$HHs) {
%	push @defaultOrder, sort { $hh->{Symptoms}{$b}->{calcValue} <=> $hh->{Symptoms}{$a}->{calcValue} ||  $hh->{Symptoms}->{$a}->{relativeToLast} <=> $hh->{Symptoms}->{$b}->{relativeToLast} || $hh->{Symptoms}{$a}->{questionOrder} <=> $hh->{Symptoms}{$b}->{questionOrder}  } keys %{$hh->{Symptoms}};
%	}

%	# clean array
%	@defaultOrder=List::MoreUtils::uniq(@defaultOrder);
%	$HHs->[0]->{order}->{default}=\@defaultOrder;
	
% }



% }

%	foreach my $hh ( reverse @$HHs) {  unless ($hh->{Symptoms} && %{$hh->{Symptoms}}) { next; }
		<th scope="col" class='symptomsDates <% $hh->{qType} %>  <% 'symColFor_' . $hh->{RxNumber} %>  reportCol<% $totalCols - $reportColNum +1 %> <% $totalCols %>_<% $reportColNum %>_test'  >
			<span ><% $hh->{dateA} %></span>
		</th>
% $reportColNum++; 
% }
	</tr>	
	</thead>
    <tfoot  id="symptomListingTFOOT">	
 	<tr class="odd">
		<th class="column1">&nbsp;</th>
% $reportColNum=0;		
%	foreach my $hh ( reverse @$HHs)    {  unless ( $hh->{Symptoms} && %{$hh->{Symptoms}}) {next; }
		<th scope="col" class='symptomsDates <% $hh->{qType} %>  reportCol<% $totalCols - $reportColNum +1 %> '  >
			<span ><% $hh->{dateA} %></span>
		</th>
% $reportColNum++; }
	</tr>	
	</tfoot>
	<tbody id="symptomListingTBODY">
% my $num=0;
%		foreach my $res ((@{$HHs->[0]->{order}->{$sortType||'default'}} )) { next unless $labelText{$res};
		<tr id="symList-<% $res %>" class="<% $num % 2 ? 'odd' : 'even' %> <% $symBEW{$HHs->[$last2[0]]->{Symptoms}->{$res}->{relativeToLast}} %>" style="-webkit-border-radius-left: 1em; -webkit-border-radius-right: 1em;">
			<th scope="row"  valign="top" class="column1 <% $num % 5 ? '' : ' symptomsline' %>">
			 <span class=" <% $symBEW{$HHs->[$last2[0]]->{Symptoms}->{$res}->{relativeToLast}} %> <% $HHs->[0]->{Symptoms}->{$res}->{otherClass} %>  curLevel_<% $HHs->[0]->{Symptoms}->{$res}->{keyValue} %> "><% $labelText{$res} %></span>
			</th>\
% $reportColNum =0;
%				for my $hh (reverse @$HHs)   {  unless ($hh->{Symptoms} && %{$hh->{Symptoms}}) { next; }
			<td class="<% $num % 5 ? '' : ' symptomsline ' %> reportCol<% $totalCols - $reportColNum +1 %> " >
%			if ($hh->{Symptoms}->{$res}->{keyValue}) {
						<span style="z-index:10;" class="symLevel <% lc $hh->{Symptoms}->{$res}->{keyValue} %>" ><img class="symptomsImg" src="/images/symptoms/<% lc $hh->{Symptoms}->{$res}->{keyValue} %>.png" /> </span>
%				}

		</td>\
% $reportColNum++; } 
	</tr>
%	 $num++;
% } 
	</tbody>
</table>
	<div id="symptomsAsText" >
%	my ( $satSev, $satMod);
		<ul class="severeSymsText">
%		foreach my $res ((@{$textOnly->{order}->{$sortType||'default'}} )) { next unless $textOnly->{Symptoms}->{$res}->{calcValue} == 3; $satSev++;
			 		<li><span class=" <% $symBEW{$HHs->[$last2[0]]->{Symptoms}->{$res}->{relativeToLast}} %> <% $textOnly->{Symptoms}->{$res}->{otherClass} %>"><% $labelText{$res} %></span></li>
%			 }
		</ul>
		<ul class="moderateSymsText">
%		foreach my $res ((@{$textOnly->{order}->{$sortType||'default'}} )) { next unless $textOnly->{Symptoms}->{$res}->{calcValue} == 2; $satMod++;
			 		<li><span class=" <% $symBEW{$HHs->[$last2[0]]->{Symptoms}->{$res}->{relativeToLast}} %> <% $textOnly->{Symptoms}->{$res}->{otherClass} %>"><% $labelText{$res} %></span></li>
%			 }
		</ul>
		<div><% $satSev + $satMod  ? '' : 'No Moderate or Severe Symptoms Reported by Patient'  %></div>
	</div>
</div>























<%doc>
% if (0) {
				<div class="<% $hh->{qType} %> SymRxN_<% $hh->{RxNumber} %> <% $hh->{Symptoms}->{$res}->{keyValue} %>" style="position:absolute; width: 4em;">
					<div style="position:relative; top:0; left:0; z-index:10; ">
%			if ($hh->{Symptoms}->{$res}->{keyValue}) {
						<span style="z-index:10;" ><img src="/images/symptoms/<% lc $hh->{Symptoms}->{$res}->{keyValue} %>.png" /> </span>
%				}
				</div>
% } if (0) {	
				<div style="position:relative;z-index:1 top:0; left:0; background: red; opacity:0.5;">
					<span style="visibility: hidden;" ><img src="/images/symptoms/<% lc $hh->{Symptoms}->{$res}->{keyValue} %>.png" /> </span>
				</div>
%			}
% #			</div>



















use List::MoreUtils;



# get the correct hormones to calc and display
my @selHsqls;
push(@selHsqls, 'sH.'. $_ .'_excess * sC.calcValue AS '. $_ .'_excess, sH.'. $_ .'_deficiency * sC.calcValue AS '. $_ .'_deficiency') for @hs;

my @selHCsqls;
push(@selHCsqls, 'sH.'. $_ .'_excess * MAX(sC.calcValue) AS '. $_ .'_excess, sH.'. $_ .'_deficiency * MAX(sC.calcValue) AS '. $_ .'_deficiency') for @hs;


#	 get Rxs and Dates:
	my $HHs = $dbh->selectall_arrayref(q{SELECT RxLookUp.RxNumber AS RxNumber, DATE_FORMAT(hS.DateEntered,"%m/%d/%y") AS dateA, qType  FROM RxLookUp 
	 JOIN hhStatus hS ON RxLookUp.RxNumber=hS.rowID
	WHERE RxLookUp.patientID = ?
	 AND hS.DateEntered > '2005-01-01'
	 ORDER BY hS.DateEntered DESC LIMIT 8}, {Columns =>{}}, ($patientID));
	
	
		my $sql0=q{
						SELECT eav.keyName AS keyNameHR, eav.keyValue, sC.calcValue, hQ.questionOrder, hQ.qType, hQ.questionOrder IS NULL AS is_null,} .
					join(',', @selHsqls) . 
					q{	FROM aa_symHormones sH 
							JOIN aa_eav eav ON  sH.keyName=eav.keyName
							JOIN aa_symCalc sC ON sH.keyName=sC.keyName
							AND  eav.keyValue=sC.keyValue
							LEFT JOIN hhStatus hS ON hS.rowID=eav.rowID
							LEFT JOIN hhQuestions hQ ON hQ.saveValue=sH.keyName AND hQ.qType=IFNULL(hS.qType, 'RFF')
							WHERE eav.rowID=?
							AND sC.qType=IFNULL(hS.qType, 'RFF')
							ORDER BY is_null ASC, hQ.questionOrder ASC};

		my $sql1=q{
						SELECT eav.keyName, MAX(sC.calcValue) AS MaxValue, } .
					join(',', @selHCsqls) . 
					q{	FROM aa_symHormones sH 
							JOIN aa_eav eav ON  sH.keyName=eav.keyName
							JOIN aa_symCalc sC ON sH.keyName=sC.keyName
							LEFT JOIN hhStatus hS ON hS.rowID=eav.rowID
							LEFT JOIN hhQuestions hQ ON hQ.saveValue=sH.keyName AND hQ.qType=IFNULL(hS.qType, 'RFF')
							WHERE eav.rowID=?
							AND sC.qType=IFNULL(hS.qType, 'RFF')
							GROUP BY sC.keyName
							};

 my $sth = $dbh->prepare($sql0);
 my $sth2 = $dbh->prepare($sql1);
# $m->out($sql1);

	for my $hh (@$HHs) {

  $sth->execute($hh->{RxNumber});
  $hh->{Symptoms} = $sth->fetchall_hashref('keyNameHR');


  $sth2->execute($hh->{RxNumber});
  $hh->{SymptomsCalc} = $sth2->fetchall_hashref('keyName');

					for my $k (keys %{$hh->{SymptomsCalc}}) {
#					$m->out("<div>$k: ST --> $hh->{SymptomsTotal}->{$k} hh is $hh->{Symptoms}->{$k}->{calcValue}</div>");
						for my $key (keys %{$hh->{SymptomsCalc}->{$k}}) {
						$hh->{SymptomsTotal}->{$key}+=$hh->{SymptomsCalc}->{$k}->{$key};
#						$m->out("<li>$key: $hh->{Symptoms}->{$k}{$key} / $hh->{SymptomsTotal}->{$key}  </li>");
						}
					}
					
					


		for my $k (@hs) { for my $ed ('_excess', '_deficiency') {
			$hh->{order}->{$k.$ed} = [sort {$hh->{Symptoms}->{$b}{$k.$ed} <=> $hh->{Symptoms}->{$a}{$k.$ed} }  grep { $hh->{Symptoms}->{$_}{$k.$ed} == $hh->{Symptoms}->{$_}{$k.$ed} && $hh->{Symptoms}->{$_}{$k.$ed} > 0 } keys %{$hh->{SymptomsCalc}}] ;  #also prevents NaN
		} }

	}

my $odd=0;

####################################################################
my @defaultOrder;

unless (@$HHs) { $m->out("<br><h3>No Symptom History</h3><br>\n"); return;}
if (@$HHs > 1) {



#determine better or worse:
	# first against last same qType HH of standard type (RFF, maleHH), then against last test
	###CHANGE: This feature is not yet implemented
	#find the last "Official" survey which matches, and second to last:
for my $num (0..@{$HHs}) {
	 if (@officialHHs ~~ $HHs->[$num]->{qType}) {push(@last2, $num);}
		# Note: we are taking ANY oHH, an aaF and an RFF, ANY combo.
		# So the wording must be the same across surveys
	last if @last2 >1;
	}



for my $kN (keys %{$HHs->[$last2[0]]->{Symptoms}}) {
	if ($HHs->[$last2[-1]]->{SymptomsCalc}->{$kN}->{MaxValue}) {
		# again, because of different qTypes, we need to calc the difference
	my $curHH  =  $HHs->[$last2[0]]->{Symptoms}->{$kN}->{calcValue}/$HHs->[$last2[0]]->{SymptomsCalc}->{$kN}->{MaxValue};
	
		my $lastHH  =  $HHs->[$last2[-1]]->{Symptoms}->{$kN}->{relativeValue} = $HHs->[$last2[-1]]->{Symptoms}->{$kN}->{calcValue}/$HHs->[$last2[-1]]->{SymptomsCalc}->{$kN}->{MaxValue};
		
		$HHs->[$last2[0]]->{Symptoms}->{$kN}->{relativeToLast} =
		 $curHH == $lastHH ? 0 : $curHH < $lastHH ? 1 : -1;
		 }
	}
	
#/Determine better or worse	

# Compute Defiencies/Excesses:




if ($sort) {
	# sort by Severity:
	for my $hh (@$HHs) {
	push @defaultOrder, sort { $hh->{Symptoms}{$b}->{calcValue} <=> $hh->{Symptoms}{$a}->{calcValue} ||  $hh->{Symptoms}->{$a}->{relativeToLast} <=> $hh->{Symptoms}->{$b}->{relativeToLast} || $hh->{Symptoms}{$a}->{questionOrder} <=> $hh->{Symptoms}{$b}->{questionOrder}  } keys %{$hh->{Symptoms}};
	}

	# clean array
	@defaultOrder=List::MoreUtils::uniq(@defaultOrder);
	$HHs->[0]->{order}->{default}=\@defaultOrder;
	
}
	
} else {}

unless (@defaultOrder) {@defaultOrder = sort {$HHs->[0]->{Symptoms}->{$a}->{questionOrder} <=> $HHs->[0]->{Symptoms}->{$b}->{questionOrder}}keys %{$HHs->[0]->{Symptoms}};}
m



<pre>
<% JSON::XS->new->pretty(1)->encode($HHs->[0]->{order}) %>
</pre>

</%doc>