<%attr>
topleft => 'none' # $ARGS{ajax} ? 'none' : undef
bottomleft => 'none' # $ARGS{ajax} ? 'none' : undef
</%attr>




<%args>
$panelArgs => undef
$patientID => undef
$RxNumber => undef
$RxN => $RxNumber
$dateFormat => '%m/%d/%y'
$sort => 1
$display => undef
@hs => qw{E P T}
@last2 => () #last 2 to pay attention to
@officialHHs => qw(RFF maleHH aRFF amaleHH aaF aaM aYf0) #official HH to look at in determining last2
$sortType => undef
$clean =>1;
$newKeyHack => 1
$debug => undef
</%args>

<%init>

my $textOnly;
  use RD::Pat_test;
 unless ($patientID) {
 $patientID=RD2::getpatientidfromrxnumber($dbh, RxNumber=>$ARGS{RxN}||$ARGS{RxNumber});
 }
 unless (defined $patientID) {
	return;
 }




# get relevant rxns
my $HHs = RD::Pat_test::getInstances($dbh, $patientID); #ordered
# only want when dateA IS NOT NULL:
#$m->out(RD2::jd($HHs)); return;
@$HHs = grep { defined $_->{dateA}  } @$HHs;

# get the syms - joined by question
my @FHHs;
for my $hh (@$HHs) { 
	my $kqu=q{SELECT question, keyValue FROM hhQuestions hq JOIN aa_eav a ON hq.saveValue=a.keyName AND hq.qType=? WHERE a.rowID=? AND section="Symptoms"};
	my $res1=$dbh->selectcol_arrayref($kqu,  { Columns=>[1,2] }, ($hh->{qType}, $hh->{RxNumber}));
	my %_hsh=@$res1;
	$hh->{Symptoms}=\%_hsh;
	push(@FHHs, \%_hsh);
#	$m->out(RD2::jd([keys %{$hh->{Symptoms}}])); $m->flush_buffer;
}

#sort





 $dbh->do(q{DELETE FROM jsonCache WHERE rowID=?}, undef, ($patientID)) if $ARGS{kjc};

my %labelText=@{$dbh->selectcol_arrayref(q{SELECT question, saveValue FROM hhQuestions hQ WHERE hQ.section='Symptoms'}, {Columns => [1,2]})};

## All of this should go into PObject ##

my %symBEW=('0' => 'symequal', '1' => 'symbetter', '-1' => 'symworse');
my $json;
</%init>

<div id="symptomBox">
<style>
#symptomsKeyChart td {background:transparent;}
</style>
<table class="symtoms2" summary="Patient Symptoms">
	<caption>Reported Symptoms History</caption>
	<thead id="symptomListingTHEAD">
	<tr class="odd">
		<th class="column1">
% unless ($sortType eq 'default' && 0) {
			<span class="verysmalllink" onclick="focusHormone('default');">View All</span>
%			}
			<span class="showControl">&nbsp; / &nbsp; </span>
			<span class="verysmalllink showControl" onclick="showMoreInfo( 'symptomsKeyChart', 'symKeyImg');">Key <img src="/images/buttons/next_icon.png" id="symKeyImg" style="margin: 0 .5em; max-height: 1.75em; position:relative; top: 0.5em;" alt="Key" /></span>
			<table id="symptomsKeyChart">
				<tr>
				<td style="" >None <img style="float:left; margin-right:.5em" class="symptomsImg symLevel none" src="/images/symptoms/none.png">&nbsp;&nbsp;</td>
				<td style="" >Minimal <img style="float:left; margin-right:.5em" class="symptomsImg symLevel minimal" src="/images/symptoms/minimal.png">&nbsp;&nbsp;</td>
				</tr>
				<tr>
				<td style="" >Moderate <img  style="float:left; margin-right:.5em" class="symptomsImg symLevel moderate" src="/images/symptoms/moderate.png">&nbsp;&nbsp;</td>
				<td style="" >Severe <img  style="float:left; margin-right:.5em" class="symptomsImg symLevel severe" src="/images/symptoms/severe.png">&nbsp;&nbsp;</td>				
				</tr>
				<tr>
				<td colspan="2">
				<div class="noFax noPrint"  style="clear:both;">
					<div class="symworse">Red - Symptom has become more severe</div>
					<div class="symbetter">Green - Symptom has improved</div>
				</div>
				</td>
				</tr>
			</table>

		</th>
<%perl>

 my $reportColNum=0; my $totalCols=0;

	for my $hh (@$HHs) { if ($hh->{Symptoms}) {$totalCols++;}}

 if ($sort) { my @defaultOrder;
	# sort by Severity:
	my %kevYals=('None' ,0, 'Minimal', 1, 'Moderate', 2, 'Severe', 3);
	for my $hh (@$HHs) { 
		push @defaultOrder, sort { $kevYals{$hh->{Symptoms}->{$b}} <=>  $kevYals{$hh->{Symptoms}->{$a}}  } 
			keys %{$hh->{Symptoms}};
	}

	# clean array
	@defaultOrder=List::MoreUtils::uniq(@defaultOrder);

	$HHs->[0]->{order}->{default}=\@defaultOrder;
	
#	$m->out(RD2::jd($HHs->[0]->{order}->{$sortType||'default'})) if $RxN ==1111000 || $ARGS{dump} > 1;;

 }

</%perl>
%	foreach my $hh ( reverse @$HHs) {  unless ($hh && keys %{$hh->{Symptoms}} && values %{$hh} && $hh->{RxNumber}) { next; }
		<th scope="col" class='symptomsDates <% $hh->{qType} %>  <% 'symColFor_' . $hh->{RxNumber} %>  reportCol<% $totalCols - $reportColNum +1 %> <% $totalCols %>_<% $reportColNum %>_test'  >
			<span ><% $hh->{dateA} %></span>
		</th>
% $reportColNum++; 
% }

	</tr>	
	</thead>
    <tfoot  id="symptomListingTFOOT">	
 	<tr class="odd">
		<th class="column1">&nbsp;</th>
% $reportColNum=0;		
%	foreach my $hh ( reverse @$HHs)    {  unless ( $hh->{Symptoms} && keys %{$hh->{Symptoms}}  && $hh->{RxNumber}) {next; }
		<th scope="col" class='symptomsDates <% $hh->{qType} %>  reportCol<% $totalCols - $reportColNum +1 %> '  >
			<span ><% $hh->{dateA} %></span>
		</th>
% $reportColNum++; }
	</tr>	
	</tfoot>
	<tbody id="symptomListingTBODY">
% my $num=0;
%		foreach my $res ((@{$HHs->[0]->{order}->{$sortType||'default'}} )) { next unless $labelText{$res}; next unless 1;
		<tr id="symList-<% $res %>" class="<% $num % 2 ? 'odd' : 'even' %> 
		<% eval{$symBEW{$HHs->[$last2[0]]->{Symptoms}->{$res}->{relativeToLast}}} %>" style="-webkit-border-radius-left: 1em; -webkit-border-radius-right: 1em;">
			<th scope="row"  valign="top" class="column1 <% $num % 5 ? '' : ' symptomsline' %>">
			 <span class=" <% eval{$symBEW{$HHs->[$last2[0]]->{Symptoms}->{$res}->{relativeToLast}}} %> 
			 	<% eval{$HHs->[0]->{Symptoms}->{$res}->{otherClass}} %>
			 	  curLevel_<% $HHs->[0]->{Symptoms}->{$res} %> ">
			 	<% $res | h %>
			 </span>
			</th>\
% $reportColNum =0;
%				for my $hh (reverse @$HHs)   { unless ($hh->{Symptoms} && keys %{$hh->{Symptoms}}  && $hh->{RxNumber}) { next; }
			<td class="<% $num % 5 ? '' : ' symptomsline ' %> reportCol<% $totalCols - $reportColNum +1 %> " >
%			if ($hh->{Symptoms}->{$res}) {
						<span style="z-index:10;" class="symLevel <% lc $hh->{Symptoms}->{$res} | h %>" ><img class="symptomsImg" src="/images/symptoms/<% lc $hh->{Symptoms}->{$res} |h %>.png" /> </span>
%				}

		</td>\
% $reportColNum++; } 
	</tr>
%	 $num++;
% } 
	</tbody>
</table>
	<div id="symptomsAsText" >
%	my ( $satSev, $satMod);
		<ul class="severeSymsText">
% #		foreach my $res ((@{$textOnly->{order}->{$sortType||'default'}} )) { next unless $textOnly->{Symptoms}->{$res}->{calcValue} == 3; $satSev++;
% 		foreach my $res (grep {$HHs->[0]->{Symptoms}->{$_} eq 'Severe'}  keys %{$HHs->[0]->{Symptoms}}) {  $satSev++;
			 		<li><span class=" <% eval{$symBEW{$HHs->[$last2[0]]->{Symptoms}->{$res}->{relativeToLast}}} %> <% eval{$textOnly->{Symptoms}->{$res}->{otherClass}} %>"><% $res | h %></span></li>
%			 }
		</ul>
		<ul class="moderateSymsText">
% 		foreach my $res (grep {$HHs->[0]->{Symptoms}->{$_} eq 'Moderate'}  keys %{$HHs->[0]->{Symptoms}}) {  $satMod++;
			 		<li><span class=" <% eval{$symBEW{$HHs->[$last2[0]]->{Symptoms}->{$res}->{relativeToLast}}} %> <% eval{$textOnly->{Symptoms}->{$res}->{otherClass}} %>"><% $res | h %></span></li>
%			 }
		</ul>
		<div><% $satSev + $satMod  ? '' : 'No Moderate or Severe Symptoms Reported by Patient'  %></div>
	</div>
</div>
% if ($debug) {
<% RD2::jd($HHs) %>
% }