<%attr>
topleft => 'none' # $ARGS{ajax} ? 'none' : undef
bottomleft => 'none' # $ARGS{ajax} ? 'none' : undef
</%attr>




<%args>
$panelArgs => undef
$patientID => undef
$RxNumber => undef
$dateFormat => '%m/%d/%y'
$sort => 1
$display => undef
@hs => qw{E P T}
@last2 => () #last 2 to pay attention to
@officialHHs => qw(RFF maleHH aRFF amaleHH aaF aaM) #official HH to look at in determining last2
$sortType => undef
$clean =>1;
$limit => 1000
</%args>

<%init>
# get randi pats
my (@pids, @mpids);
my %mH; my %hStat;
my $ptlist=$dbh->selectcol_arrayref(q{SELECT DISTINCT p.patientID FROM patients p JOIN RxLookUp r ON p.patientID=r.patientID JOIN restoreReports rr ON r.RxNumber=rr.RxNumber 
JOIN aa_eav a ON rr.RxNumber=a.rowID
 AND a.keyName='currentSymptoms.hotFlashes' 
AND  keyValue IN ('Moderate', 'Severe')
# WHERE DoctorCode IN ( '41038', '40784')
 LIMIT ?
}, undef, ($limit));
	
for my $pid (@$ptlist) {
	my $HHs=RD::Patient::getsymptoms($dbh, {patientID => $pid, hs => [qw(E )] , noReports=>1});
 # cleaning:

my $inx=0;
 foreach my $hh ( @$HHs) {
	my $kt;
	for my $k (keys %{$hh->{Symptoms}}) {if ($hh->{Symptoms}->{$k}->{keyValue}) {$kt++;} }
	unless ($kt) {	splice(@$HHs, $inx, 1); next;}
	$inx++;}

	
#	$m->out(q{<pre>}. JSON::XS->new->pretty(1)->encode($HHs) .q{</pre>});
# does pat have multiple HHs
	next unless $HHs->[1]->{Symptoms}->{'currentSymptoms.hotFlashes'}->{calcValue} > 1;
	push(@mpids, $pid);
# does pat have sym improvement
	if ($HHs->[1]->{Symptoms}->{'currentSymptoms.hotFlashes'}->{calcValue} - $HHs->[0]->{Symptoms}->{'currentSymptoms.hotFlashes'}->{calcValue} > 1) {
# save
	push(@pids, $pid);
	$mH{$pid}=RD::Patient::getmedhistory($dbh, $pid, $HHs->[0]->{RxNumber});
	$hStat{$pid}=$HHs;
	}
}

#$m->out('<pre>' . join("\n", @pids) . '</pre>');
#$m->out('<div>ALL</div>');
#$m->out('<pre>' . join("\n", @mpids) . '</pre>');

use Time::HiRes qw(  tv_interval  gettimeofday) ;
my $realtime   ; #=   clock_gettime(CLOCK_REALTIME);
my  $resolution ; #= clock_getres(CLOCK_REALTIME);
my $t0 = [gettimeofday];



</%init>
<style>
.borBm {border-bottom: solid silver 1px; margin:.5em}
li {margin: .5em; border-top: solid black 2px; }
</style>
<ol>
% for my $mpid (@pids) {
<li><a href="http://192.168.1.200/aa/symptomhistory.html?patientID=<% $mpid %>&dump=0" target="_blank"><% $mpid %></a>
<div>
% for my $md (@{$mH{$mpid}->[0]}) {
	<div class="borBm">
		<div><% qq| $md->{"medicationName"} $md->{"medicationDeliveryMethod"} - $md->{"medicationDosage"} $md->{"medicationUnit"} | %></div>
        <div><% $md->{"medicationNotes"} %></div>
	</div>
%	}
</div>
<div>
% my $hs=$hStat{$mpid}->[0]{Status};
<pre>
Exercise: <% $hs->{"currentIRMA.weeklyExercise"} %>
Stress: <% $hs->{"currentIRMA.stress"} %>
Weight:         <% $hs->{"currentIRMA.idealWeight"} %>
Ovaries: <% $hs->{"currentIRMA.numOvaries"} %>
Cycling: <% $hs->{"currentIRMA.menstruation"} %>
Cycles in 12 mo: <% $hs->{"currentIRMA.periodsLastYear"} %>
RxNumber: <% $hStat{$mpid}->[0]{RxNumber} %>
</pre>	
</div>
</li>
%	}
</ol>
<div>ALL</div>

<ol>
% for my $mpid (@mpids) {
% # <li><a href="http://192.168.1.200/aa/symptomhistory.html?patientID=<% $mpid %>&dump=0" target="_blank"><% $mpid %></a></li>
%	}
</ol>
% my $elapsed  = tv_interval ( $t0 );
% if ($ARGS{time}) {
<div>Res: <% $resolution %></div>
<div>realtime: <% $realtime %></div>
<div>interval: <% $elapsed %></div>
% }












