<%attr>
topleft => '/atopleft.mas'
</%attr>
<%args>
$RxNumber => undef
</%args>
<%init>

</%init>
<div class="flotrChart" style="float:left">
	<& '/charts/createFlotr.html', id=> 'flotrcontainer2b', header => 'Symptoms' &>
</div>
<& '/aa/aa.js' &>
<script>
// activate the lp_tabs:
$A(document.getElementsByClassName('lp_tabs')).each(function(tab_group){      new Control.Tabs(tab_group, {activeClassName: 'current'});  });  
var clearHTML=$('pChartArea').innerHTML;
</script>
