					sub reportLabCalc {
						
										my $class=shift;
										my $self = {@_};
										
						my $RxNumber=$self->{RxNumber};
						my $debug = undef; #-1;
						my ($Status, $lastUser, $LastDateUpdated)=$$dbh->selectrow_array(qq{SELECT Status, lastUser, LastDateUpdated FROM restoreReports WHERE RxNumber='$RxNumber'});
						my $table0='currentIRMA';
						my $currentSymptoms='currentSymptoms';
						my $table1='restoreReportsProcessing2';
						my $logicTable='RestoreLogicTable';
						my @commentCols=('commentsHeader', 'commentsCycleStatus', 'commentsLifestyleFactors', 'commentsLab', 'commentsSummaryConsiderations', 'commentsDiagnosticConsiderations', 'commentsTherapyEvaluation', 'commentsAdditionalTesting', 'commentsDietLifestyle');
						my @setValues=('considerRetest', 'freeRetest', 'GiveProgesterone', 'GiveEstradiol', 'GiveTestosterone', 'GiveDHEA', 'GiveCortisol', 'estradiolDose', 'estradiolDoseCycle', 'progesteroneDose', 'progesteroneDoseCycle', 'testosteroneDose', 'testosteroneDoseCycle', 'cortisolDose', 'cortisolDoseCycle', 'DHEADose', 'DHEADoseCycle', 'checkNTx', 'selfcareEstradiol', 'selfcareProgesterone', 'selfcareTestosterone', 'prescribeTestosteroneDose', 'prescribeTestosteroneMethod');
						my $rx = RD2::getrxinfo($dbh,  RxNumber => $RxNumber);


															
		my @medMethods=($commenthash{"set.set" . $UChormone . "Method"}) || ('Even Release Tablet', 'Capsule-In Oil', 'Sublingual Tablet', 'Chewable Tablet', 'Cream-Transdermal', 'Suppository-Vaginal', 'Patch-Transdermal', 'Cream-Vaginal', 'Vaginal Tablet', 'Tablet-Vaginal');

# # # # # # # # # # # BEGIN FLAGS # # # # # # # # # #														
# # # # # # # # # # # And this is where to get the flags (NLC, SC, etc)! # # # # # # # # # #
																my $flags; #currently only supports these flags:
																my @current_Flags=(  'set.set' . $UChormone . 'DoseCycle' );
#																my $flgstmt=qq{SELECT `} . join('`, `', @current_Flags) . qq{` FROM $table0 WHERE RxNumber='$RxNumber'};
#																$flags->{$current_Flags[0]}=$$dbh->selectrow_array(qq{$flgstmt});
## Currently in commenthash, not DB				@{$flags}{@current_Flags}=$$dbh->selectrow_array(qq{SELECT keyName, keyValue FROM $table0 WHERE rowID='$RxNumber' AND keyName IN ('} . join("', '", @current_Flags) . qq{')});
																@{$flags}{@current_Flags}=@commenthash{@current_Flags};
																			foreach my $key (sort keys %{$flags}) { delete $flags->{$key} unless $flags->{$key};}

																
# # # # # # # # # # # END FLAGS # # # # # # # # # #
																
                                my $hashString="$table0.$hormone" . 'Dose';
                                if  ($commenthash{"$table0.Give" . $UChormone . "Override"} eq 'no') {$commenthash{"$table0.Give$UChormone"}=$commenthash{"$table0.Give" . $UChormone . "Override"};}
            				            if ($commenthash{"$table0.Give$UChormone"} eq 'yes') {
                                if ($debug>0) {print "THIS 210 $commenthash{$hashString} , $hashString <br>\n";}
                                if ($commenthash{$hashString}) {
	                                			my $currentDose=$$dbh->selectrow_hashref(qq{SELECT * FROM currentMedication WHERE RxNumber='$RxNumber' AND medicationType IN (SELECT DISTINCT medType FROM DoseSigLogic WHERE medCategory LIKE '%$UChormone%')});  # get current dose
                                        my $operator;
                                        my $medDose;
                                        my $ADOrder;
                                                                                                                                                 
                                                         if ($debug>0) { foreach my $bkey (sort keys %{$currentDose}) {print qq{KEY: $bkey --> <span style='color:orange'><b>$currentDose->{"$bkey"}</b></span><br/>\n};}
                                                             }
                                                             
                                        if ($commenthash{$hashString} eq 'increase') { $operator = '>'; $ADOrder='ASC';}
                                        elsif ($commenthash{$hashString} eq 'decrease') { $operator = '<'; $ADOrder='DESC'; }
                                        elsif ($commenthash{$hashString} eq 'current') { $operator = '<='; $ADOrder='DESC';} #round down
                                        elsif ($commenthash{$hashString} eq 'none') { $operator = undef;}
                                        elsif ($commenthash{$hashString} eq 'low') { $operator = '<='; $ADOrder='DESC';}
                                        
                                        if ($operator) {
                                        	my $cdoseStmt=qq{SELECT doseLevel FROM DoseSigLogic WHERE medCategory='$UChormone' AND medMethod=(SELECT medMethod FROM DoseMethodsLogic WHERE medicationDeliveryMethod='$currentDose->{medicationDeliveryMethod}') AND medCommonDosage<='$currentDose->{medicationDosage}' ORDER BY medCommonDosage DESC LIMIT 1};
                                        	print "<span style='color:purple;' id='",__LINE__,"id' >$cdoseStmt</span><br/>\n" if $debug;
  #                                      	warn $cdoseStmt;
                                               my ($current_doseLevel)=$$dbh->selectrow_array($cdoseStmt);
                                              # print qq{<span style='color:orange;>SELECT doseLevel FROM DoseSigLogic WHERE 
                                              # 					medCategory='$UChormone' AND medMethod=(SELECT medMethod FROM DoseMethodsLogic WHERE
                                              # 											 medicationDeliveryMethod='$currentDose->{medicationDeliveryMethod}') AND
                                              # 											 medCommonDosage='$currentDose->{medicationDosage}' ORDER BY medCommonDosage LIMIT 1}</span><br>};
																						my $doseLevel = $current_doseLevel; ### may change, but ok for default?
																						if ($current_doseLevel) {
																							my $nxtDLvlStmt=qq{SELECT doseLevel FROM DoseSigLogic WHERE medCategory='$UChormone' AND recommend='yes' AND doseLevel $operator $current_doseLevel ORDER BY doseLevel $ADOrder LIMIT 1};
																									print "$nxtDLvlStmt<br>\n" if $debug;
																							($doseLevel)=$$dbh->selectrow_array(qq{$nxtDLvlStmt});
																						}
                                                                         # # # # # # # # # # # NEED @medMethods # # # # # # # # # # #
                                             my $doseStmt=qq{SELECT * FROM DoseSigLogic WHERE recommend='yes' AND medCategory='$UChormone' AND medMethod IN ('} . join(qq{', '}, @medMethods) . qq{') AND doseLevel = '$doseLevel' };
# # # # # # # # # # # # # FLAGS # # # # # # # # # # # # # 

																if (keys %{$flags}) {
																					foreach my $flag (keys %{$flags}) { 
																							next unless "$flags->{$flag}";
																							$doseStmt.=qq{ AND DoseSigLogic.`flags` LIKE '%$flag=$flags->{$flag}%' };      }
                                }

                                else { $doseStmt.=qq{ AND DoseSigLogic.`flags` IS NULL }; }
																			
# # # # # # # # # # # # # FLAGS # # # # # # # # # # # # # 
                                       $doseStmt.=qq{ORDER BY methodPreference};
                                       my @medDoses;
                                       print "<span style='color:green;'>", __LINE__, ': ', $doseStmt, "</span><br>\n" if $debug;
																				my $sth = $$dbh -> prepare ("$doseStmt");
																				#warn "RD::Logic 357 $doseStmt\n";
																				unless ($debug == 2) {
																				$sth->execute();
																				my $x=0;
																				while (my $ref = $sth->fetchrow_hashref())   {
																				foreach my $col (keys %{$ref}) {        $medDoses[$x]{$col}=$ref->{$col};}
																				$x++;}
																				}                                                                                                                                                                                                #SQL explaination:                                                                      # $currentDose->{medicationType}, switch to $UChormone
                                                                        #$medDose=$$dbh->selectrow_hashref(qq{SELECT * FROM DoseSigLogic WHERE medCategory='$UChormone' AND medMethod IN ('} . join(qq{', '}, @medMethods) . qq{' AND doseLevel='$doseLevel' ORDER BY methodPreference LIMIT 1});
                                        my $includeMed='yes';  # # # # First of type is included, other are not # # # #
                                        foreach my $item (@medDoses) {
                                        				if ($debug) { print qq{<span style='color:purple;'>$item->{medCategory} $item->{medType} $item->{medMethod} $item->{medCommonDosage} $item->{medDosageUnit} $item->{defaultSig}</span><br/>\n};}
#	                                        			my $recSQL=qq{INSERT INTO recommendations SET patientID='$patientID', RxNumber='$RxNumber', include='$include', };
																								my %recSQL=(
																														'recommendations.patientID' => $patientID,
																														'recommendations.RxNumber' => $RxNumber,
																														'recommendations.include' => $includeMed,
																														'recommendations.Dose' => $item->{medCommonDosage} *1, #"$item->{medCommonDosage} $item->{medDosageUnit}",
																														'recommendations.Instructions' => $item->{defaultSig},
																														'recommendations.Method' => $item->{medMethod},
																														'recommendations.medCategory' => $item->{rMmedCategory},
																														'recommendations.Medication' => $item->{rMmedType},
																														'recommendations.MedicationDN' => $item->{medDisplayName},
																														'recommendations.DoseUnit' => $item->{medDosageUnit},
																														'recommendations.methodPreference' => $item->{methodPreference},
#																														'recommendations.ID' => $item->{ID},
																														'_debug' => undef
																														);
#																									foreach my $key (keys %{$item}) {   $recSQL{"recommendations.$key"}=$item->{$key} unless defined $recSQL{"recommendations.$key"}; }
																									WHA::insert_form($$dbh, %recSQL);
																									$includeMed='no';  # # # # First of type is included, other are not # # # #

                                        				  }
                                        }
           #'                             
                                        if ($debug>0) { print   qq{<h4>SELECT * FROM restoreMedications WHERE medCategory='$currentDose->{medicationType}' AND  medMethod=(SELECT medMethod FROM DoseMethodsLogic WHERE medicationDeliveryMethod='$currentDose->{medicationDeliveryMethod}') AND medCommonDosage $operator '$currentDose->{medicationDosage}' ORDER BY medCommonDosage LIMIT 1</h4><br/>\n};
                                                       foreach my $key (sort keys %{$medDose}) {print qq{<h4>$key -> $medDose->{$key}</h4><br/>\n} if $debug;}
                                                       } #end debug
                                
                                }
                                
                                        else {  # must be starting?
																							my @tmp=$$dbh->selectrow_array(qq{SELECT labValueAM, labValuePM FROM labResults WHERE RxNumber='$RxNumber' AND labTest='$hormone'});
																							my $hormoneLevel = $tmp[1] ? $tmp[1] : $tmp[0];
																							@tmp=undef; # it is tmp after all...
																							my @severe = ();
																							my @moderate = ();
																							my @minimal = ();
																							my @none = ();
																							my @symptomCols = @{$$dbh->selectcol_arrayref(qq{SELECT saveValue FROM surveySymptoms WHERE symptomType LIKE '%$UChormone%'})};
																							if ($debug>0) {print qq{<br/>SELECT  `} . join(qq{`, `}, @symptomCols) . qq{` FROM $table1 WHERE RxNumber='$RxNumber'<br/>};}
																							#return;
																							#my @symptomCount;
																							my $symCountStmt=qq{SELECT keyValue FROM $table0 WHERE rowID='$RxNumber' AND keyName IN ('} . join(qq{', '}, @symptomCols) . qq{')};
																							my @symptomCount = @{$$dbh->selectcol_arrayref($symCountStmt)};
																							@severe = grep(/Severe/, @symptomCount);
																							@moderate = grep(/Moderate/, @symptomCount);
																							my ($labLevel, $doseLevel)=RD::Logic->calcLabLevel( hormone => $hormone, level => $hormoneLevel, RxNumber => $RxNumber, severe => \@severe, moderate => \@moderate, minimal => \@minimal, none => \@none );
																							print qq{<span style='color:green;'>RD::LOGIC - > 405 $labLevel, $doseLevel</span><br/>\n} if $debug;
																							###warn  qq{RD::LOGIC - > 406 $labLevel, $doseLevel<br/>\n};
																							print qq{<span style='color:brown;'>hormone => $hormone, level => $hormoneLevel</span><br/>\n} if $debug;
																							my $doseStmt=qq{SELECT * FROM DoseSigLogic WHERE recommend='yes' AND medCategory='$UChormone' AND medMethod IN ('} . join(qq{', '}, @medMethods) . qq{') AND doseLevel='$doseLevel' };
                                     # # # # # # # # # # # # # FLAGS # # # # # # # # # # # # # 

																if (keys %{$flags}) {
																					foreach my $flag (keys %{$flags}) { 
																							next unless "$flags->{$flag}";
																							$doseStmt.=qq{ AND DoseSigLogic.`flags` LIKE '%$flag=$flags->{$flag}%' };      }
                                }

                                else { $doseStmt.=qq{ AND DoseSigLogic.`flags` IS NULL }; }
	                                # # # # # # # # # # # # # FLAGS # # # # # # # # # # # # #      
	                                      $doseStmt.=qq{ORDER BY methodPreference};
                                       my @medDoses;
                                  			print "<span style='color:blue;'>256: $doseStmt</span><br/><br/>" if $debug;

																				my $sth = $$dbh -> prepare ("$doseStmt");
																				unless ($debug == 2) {
																				$sth->execute();
																				my $x=0;
																				while (my $ref = $sth->fetchrow_hashref())   {
																				foreach my $col (keys %{$ref}) {        $medDoses[$x]{$col}=$ref->{$col};}
																				$x++;}
																				}                                                         
                                        my $includeMed='yes';  # # # # First of type is included, other are not # # # #
                                        foreach my $item (@medDoses) {
                                        				if ($debug) { print qq{<span style='color:purple;'>$item->{medCategory} $item->{medType} $item->{medMethod} $item->{medCommonDosage} $item->{medDosageUnit} $item->{defaultSig}</span><br/>\n};}
#	                                        			my $recSQL=qq{INSERT INTO recommendations SET patientID='$patientID', RxNumber='$RxNumber', include='$include', };
																								my %recSQL=(
																														'recommendations.patientID' => $patientID,
																														'recommendations.RxNumber' => $RxNumber,
																														'recommendations.include' => $includeMed,
																														'recommendations.Dose' => $item->{medCommonDosage} *1, #"$item->{medCommonDosage} $item->{medDosageUnit}",
																														'recommendations.Instructions' => $item->{defaultSig},
																														'recommendations.Method' => $item->{medMethod},
																														'recommendations.medCategory' => $item->{rMmedCategory},
																														'recommendations.Medication' => $item->{rMmedType},
																														'recommendations.MedicationDN' => $item->{medDisplayName},
																														'recommendations.DoseUnit' => $item->{medDosageUnit},
																														'recommendations.methodPreference' => $item->{methodPreference},
#																														'recommendations.ID' => $item->{ID},
																														'_debug' => undef
																														);
#																									foreach my $key (keys %{$item}) {   $recSQL{"recommendations.$key"}=$item->{$key} unless defined $recSQL{"recommendations.$key"}; }
																									WHA::insert_form($$dbh, %recSQL);
																									$includeMed='yes';  # # # # First of type is included, otherw --a-r-e--  WERE not # # # #

                                        				  }

                                                
                                        } # else must be starting #
                        }


                        } # Each hormone
##################### lab calcing...  Dose calcing??? #####################
}
