<%args>
$rx => undef
$rxn => undef
$tn => $rx->{trans_num}
</%args>
<%init>
#given trx # from rd_q and pt info:
#SP ticket: #7891


	my $pt = 
					last_name
					first_name
					middle_name
					address1
					address2
					city
					state
					ZIP
					
	my $opharm
					pharmacy_name
					pharmacy_address
					pharmacy_phone
	my $cf_pharm
	my $rx
					rxn
					date_dispensed
					drug_name
					sig
					drug_code
					remaining_refills
					stop_date_f
					
	my $rx_trans
					beyond_use_date_f
					lot_num
					drug_code
					qty
					qty_unit
</%init>
	<style>
		body {font-family: "Trebuchet MS", Arial, Helvetica; color:#333;}
		#main {margin: 2em; min-width:7.5in;}
		#restore_info {float:left;  margin: 1.25em; }
		#patient_info {float:left;  margin: 1.25em;}
		#provider_info {float:left;  margin: 1.25em;}
		#rx_info {clear:both; margin: 0 auto 0.75em auto;}
		#head {width: 500px; margin: 1.4em auto; text-align:center; font-size: 1.3em; font-weight: bold;}
		#logo {margin: 1.5em;}
		#info_tbl {margin: 1.5em auto; min-width: 40em; width: 40em; border: 2px silver solid; border-left: none; border-right: none; }
//		#info_tbl td {border: 2px silver solid; border-collapse: collapse;}

		#info_tbl td {padding: 0.15em;}
		#info_tbl thead tr {background:#E6F5FA; font-weight:bold; border-bottom: solid silver 2px;}
		#info_tbl thead {border-bottom: solid silver 2px;}
		#info_tbl tr:nth-child(even) { border-collapse: collapse; background:#E6F5FA;}
		#info_tbl tr:nth-child(odd) td:nth-child(even) {border-collapse: collapse; background:#ECECEC;}
		
	td.ndc {text-align: center;}
        #footer {
            position: fixed;
            bottom: 0;
            width: 600px;
            text-align:center;
            margin: 0.5em auto;
           margin-left: 1.5in; 
        }
		.hidden {display:none;}
		
		.need-border {border: 2px solid gray; border-radius: 0.4em; padding: 0.4em; min-width: 19em;}
		
//		#0info_area {width: 7.5in; margin: 1em auto; clear:both;}
// change to not centered:
		#info_area {		margin: 0 auto 0.75em auto;	}
	
		#restore_info {float:left;  margin: 1.25em 0; }
		#patient_info {float:right;  margin: 1.25em 0;}
		#provider_info {float:right;  margin: 1.25em 0;}

		
		.label { font-weight:bold; }
		#price-no-shipping { font-size: smaller; }
	</style>
% if ($tn) {
<div id="main">
<p/><p style="min-height: 2em; margin-top: 2em;" /><p/>
	<div id="head">
		<div>Prescription Delivery Confirmation Sheet</div>
	</div>
	<div>
			<div id="information_area">Please sign and return</div>
			<div id="label"><& 'cf_templates/express_plus.html', rx => $rx, rx_trans => $rx_trans, opharm => $opharm, cf_pharm => $cf_pharm, p => $pt &></div>
	<div id="info_area">
		<div id="restore_info">
			<div><b>Pharmacy Information:</b></div>
			<div class="need-border" id="phinfo">
				<div class="opharm_info">
					<div class="opharm_name"><% $opham->{pharmacy_name} %></div>
					<div class="opharm_address"><% $opham->{pharmacy_address} %></div>
					<div class="opharm_phone"><% $opham->{pharmacy_phone} %></div>
				</div>
			</div>
		</div>
		
			
		<div id="patient_info">
			<div><b>Patient Information:</b></div>
			<div class="need-border">
				<div><% $rx->{first_name} %> <% $rx->{last_name} %></div>
				<div class="hidden">DOB: <% $rx->{DOB}  %></div>
				<div class="hidden"><% $rx->{in_care_of} | h %></div>
	
				<div class="hidden"><% $rx->{address2} | h %></div>
				<div class="hidden"><% qq{$rx->{city},  $rx->{state} $rx->{zip}} %></div>
			</div>
		</div>
	
% if ( $rx->{labelName} || $rx->{NPI} )		{
		<div id="provider_info">
			<div><b>Prescriber Information:</b></div>		
			<div class="need-border">
				<div><% $rx->{labelName} %></div>
				<div><span class="label">NPI:</span> <% $rx->{NPI}  %></div>
				<div class="hidden"><% $rx->{doctorAddress1} | h %></div>
				<div class="hidden"><% qq{$rx->{doctorCity},  $rx->{doctorState} $rx->{doctorZIP}} %></div>
			</div>
		</div>
%		}
	</div>
</div>
+<br style="clear:both;" />
<div><b>Prescription Information:</b></div>
	<div id="rx_info" class="need-border">
		<div id="rxn"><span class="label">Rx Number:</span> <% $rx->{RxN} %></div>
		<div id="filled"><span class="label">Date Filled:</span> <% $rx->{DateFilled_f} %></div>
		<div id="day_supply"><span class="label">Day Supply:</span> <% $rx->{DaySupply} %></div>
		<div id="qty_filled"><span class="label">QTY Dispensed:</span> <% $rx->{QuantityDisp} %></div>
		<div id="price"><span class="label">Price:</span> $<% $rx->{price} %><span style="vertical-align: super; font-size:0.83em; position:absolute;">*</span></div>
		<table id="info_tbl">
			<thead>
				<tr>
					<th style="min-width: 20em;">Description</th>
					<th style="min-width: 12em;">NDC</th>
					<th style="min-width: 4em;">Qty</th>
					<th style="min-width: 4em;">Units</th>
				</tr>
			</thead>
			<tbody>
% if ($rx->{ings}->[0]) {
% for my $ing (@{$rx->{ings} } ) { $ing->{units}||= $ing->{ndc} == 51552122302 ? 'each' : 'G';
					<tr>
						<td><% $ing->{desc} | h %></td>
						<td class="ndc"><% $ing->{ndc} | h %></td>
						<td><% $ing->{qty} | h %></td>
						<td><% ($ing->{units} || 'G') | h  %></td>
					</tr>
%		} } else {
					<tr>
						<td><% $rx->{DrugName} | h %></td>
						<td class="ndc"><% $rx->{ndc} | h %></td>
						<td><% $rx->{QuantityDisp} %></td>
						<td>&nbsp;</td>
					</tr>
	
	
%	}
			</tbody>
		</table>
	</div>
</div>
%	} else {
	<form method="post" style="max-width: 16em;">
		<div>Transaction Number: <input name="tn" /></div>
		<div style="text-align:center;">-OR-</div>
		<div>RxNumber: <input name="rxn" /></div>
		<input type="submit" /></form>
%	}
