<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no" />

	<title>Prescription Delivery Confirmation Sheet</title>
	<link rel="stylesheet" type="text/css" href="rxdcs4x25.css" />
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="jquery/jquery-barcode.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		console.log('Document Ready.');
		var bcOptions = {
			barHeight:	30,
			barWidth:	1,
			showHRI:	true,
			fontSize:	10,
			output:		"bmp"
		};
		$('#lblBarcode').barcode($('#qs1_sp_num').text(), "code128", bcOptions);
		var infos = {
			width: $('.Infos').css('width')			
		}
		console.log(infos.width);
	});
	</script>
</head>
<body>
	<article class="pageWrap">
		<header class="pageHeader">
			<h1>Prescription Delivery Confirmation Sheet</h1>
		</header>
		
		<section class="counselingNotice">
			<header><h3>Counseling Notice</h3></header>
			<p>Should you have any questions or concerns regarding any medication that is delivered to you, please feel free to call the Pharmacy @ 555-555-5555, and ask to speak to a pharmacist.</p>
		</section>
		
		<section class="signatureBox">
			<footer><p>Please Sign &amp; Return: <div class="signatureLine"></div></p></footer>
		</section>
		
		<div class="Infos">
			<section class="pharmacyInformation">
				<header><h3>Pharmacy Information:</h3></header>
				<div class="phinfo">
					<div class="opharm_info">
						<div class="opharm_name">
							<% $opham->{pharmacy_name} %>
						</div>
						<div class="opharm_address">
							<% $opham->{pharmacy_address} %>
						</div>
						<div class="opharm_phone">
							<% $opham->{pharmacy_phone} %>
						</div>
					</div>
				</div>
			</section> <!-- /#pharmacyInformation -->
			
			<section class="patientInformation">
				<header><h3>Patient Information:</h3></header>
				<div class="painfo">
					<div><% $rx->{first_name} %> <% $rx->{last_name} %></div>
					<div class="hidden"><% $rx->{DOB}  %></div>
					<div class="hidden"><% $rx->{in_care_of} | h %></div>
		
					<div class="hidden"><% $rx->{address2} | h %></div>
					<div class="hidden"><% qq{$rx->{city},  $rx->{state} $rx->{zip}} %></div>
				</div>
			</section> <!-- /#pharmacyInformation -->
			
			<section class="providerInformation">
				<header><h3>Provider Information:</h3></header>
				<div class="prinfo">
					<div><% $rx->{labelName} %></div>
					<div><span class="label">NPI:</span> <% $rx->{NPI}  %></div>
					<div class="hidden"><% $rx->{doctorAddress1} | h %></div>
					<div class="hidden"><% qq{$rx->{doctorCity},  $rx->{doctorState} $rx->{doctorZIP}} %></div>
				</div>
			</section> <!-- /#pharmacyInformation -->
		</div> <!-- /#Infos -->
		
		<section class="prescriptionInformation">
			<header><h3>Prescription Information:</h3></header>
			<div>
				<div class="rxn"><span class="label">Rx Number:</span> 0123456789 <!-- <% $rx->{RxN} %> --></div>
				<div class="filled"><span class="label">Date Filled:</span> 2013-08-15 <!-- <% $rx->{DateFilled_f} %> --></div>
				<div class="day_supply"><span class="label">Day Supply:</span> 50 <!-- <% $rx->{DaySupply} %> --></div>
				<div class="qty_filled"><span class="label">QTY Dispensed:</span> 32 <!-- <% $rx->{QuantityDisp} %> --></div>
				<div class="price"><span class="label">Price:</span> $5000 <!-- <% $rx->{price} %> --><span style="vertical-align: super; font-size:0.83em; position:absolute;">*</span></div>
				<table class="info_tbl">
					<thead>
						<tr>
							<th style="min-width: 20em;">Description</th>
							<th style="min-width: 12em;">NDC</th>
							<th style="min-width: 4em;">Qty</th>
							<th style="min-width: 4em;">Units</th>
						</tr>
					</thead>
					<tbody>
<!--
% if ($rx->{ings}->[0]) {
% for my $ing (@{$rx->{ings} } ) { $ing->{units}||= $ing->{ndc} == 51552122302 ? 'each' : 'G';
-->
						<tr>
							<td><% $ing->{desc} | h %></td>
							<td class="ndc"><% $ing->{ndc} | h %></td>
							<td><% $ing->{qty} | h %></td>
							<td><% ($ing->{units} || 'G') | h  %></td>
						</tr>
<!--
%		} } else {
-->
						<tr>
							<td><% $rx->{DrugName} | h %></td>
							<td class="ndc"><% $rx->{ndc} | h %></td>
							<td><% $rx->{QuantityDisp} %></td>
							<td>&nbsp;</td>
						</tr>
		
<!--
%	}
-->
					</tbody>
				</table>
			</div>
		</section>
		
		<section class="stickyLabel">
			<header>
				<div class="expressContacts">
					<strong>EXPRESS PLUS PHARMACY (954) 589-0790</strong><br />
					6692 Stirling Rd &bull; Davie, FL 33024<br />
					www.xpmeds.com
				</div>
				<div class="rhcContacts">
					<span class="contactsHeader">Prescription Fulfilled By:</span>
					Restore Health Pharmacy LLC<br />
					1289 Deming Way, Ste 100<br />
					Madison, WI 53717-2096<br />
					800.558.7046 &bull; 608.883.7046
				</div>
			</header>
			<div class="lbl_rxNumber">01234567</div>
			<div class="lbl_pharmOfRecord">MMW</div>
			<div class="lbl_prescriberName">Dr. J Krishnamurti</div>
			<div class="lbl_patientName">Yogananda, Paramahansa</div>
			<div class="lbl_dateFilled">10/30/13</div>
			<div class="lbl_patientAddy">1289 Patient Address Way &bull; Madisonstonville, WI 53717</div>
			<div class="lbl_rxInstructions">Apply 1 to 3 grams to affected area 3 to 4 times per day as needed for pain. This should wrap to a third line.</div>
			<div class="lbl_rxAuxiliaries">
				<ul>
					<li>For external use only.</li>
					<li>Avoid use of sunlamp and unprotected exposure to sun.</li>
					<li>Avoid contact with eyes and mouth.</li>
					<li>May cause drowsiness.</li>
					<li>Contact a doctor immediately if erection lasts 4 or more hours.</li>
				</ul>
			</div>
			<div class="lbl_rxReagents">
				<span class="block">Baclofen 20 + Gabapentin 60 + Imipramine 30 + Ketamine 100 + Lidocaine 20 + Lidocaine 20 + Simvastatin 5mg/gm Cream</span>
				<ul>
					<li class="lbl_unitQty">120</li>
					<li class="lbl_unit">gm</li>
					<li class="lbl_prodCode">C4589x</li>
				</ul>
			</div>
			<div class="lbl_rxNumRefills">19 refills before 10/19/14</div>
			<div class="lbl_dateBeyondUse">12/89/84</div>
			
			<aside>This medication was specially compounded in our pharmacy for you at the direction of your prescriber. <strong>CAUTION: State and Federal law PROHIBITS the transfer of this drug to any person other than the patient for whom it was prescribed.</strong></aside>
			<div id="qs1_sp_num">xAAB9pw8A</div>
			<div id="lblBarcode"></div>
		</section>
	</article> <!-- /#pageWrap -->
</body>
</html>