@charset "UTF-8";

*, *:before, *:after { -moz-box-sizing: border-box !important; -webkit-box-sizing: border-box !important; box-sizing: border-box !important; }

header, footer, section, .row { display: block; }

html, body {
	margin: 0 auto;
	text-align: justify;
	font: normal 11px/13px Geneva, OpenSans, Arial, sans-serif;
	vertical-align: top;
	background: #fff;
	zoom: 100%;
}

body {
	overflow-y: scroll;
	padding-top: 0.3in;
	margin-left: -0.2in;
}

.pageWrap {
	width: auto;
	float: none !important;
	display: block;
}

.pageHeader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 0.5in;
	text-align: center;
	border-bottom: 2px solid .000;
}

.pageHeader h1 {
	margin: 0.25in auto 0.1in;
	padding: 0;
	font-size: 2.25em;
	font-weight: bold;
}

.signatureBox,
.counselingNotice {
	top: 0.75in;
	position: absolute;
	border: 1px solid #000;
	border-radius: 0.1in;
	overflow: hidden;
	height: 1.1in;
}

.counselingNotice {
	width: 2.5in;
}

.counselingNotice header,
.pharmacyInformation header,
.patientInformation header,
.providerInformation header,
.prescriptionInformation header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 0.25in;
	vertical-align: top;
	margin: 0;
	padding: 0 0.1in;
}

.counselingNotice header h3,
.pharmacyInformation header h3,
.patientInformation header h3,
.providerInformation header h3,
.prescriptionInformation header h3 {
	font-size: 0.15in;
	padding: 0.5em 0 0;
	margin: 0;
}

.counselingNotice p {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 0.7in;
	margin: 0 0.1in 0.05in;
}

.signatureBox {
	width: 6in;
}
.signatureBox footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 0.35in;
	vertical-align: bottom !important;
	padding: 0;
	margin: 0;
	font-size: 0.25in;
}

.signatureBox footer p {
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 0.1in;
	left: 0.1in;
}

.signatureLine {
	display: inline-block;
	position: absolute;
	height: 0.1in;
	width: 3in;
	bottom: 0.08in;
	right: 0.1in;
	border-bottom: 2px solid .000;
}

.Infos {
	position: absolute;
	display: block;
	top: 2in;
	left: 0;
	right: 0;
	height: 1.25in;
	padding: 0;
}
.Infos section {
	position: absolute;
	display: inline-block;
	border: 1px solid #000;
	border-radius: 0.1in;
	overflow: hidden;
	height: 1.25in;
	width: 31.333%;
	top: 0;
	margin: 0;
}
.Infos section+section {
	left: 34.333%;
}
.Infos section+section+section {
	left: 68.666%;
}
.Infos section>header+div,
.prescriptionInformation>header+div {
	margin-top: 0.25in;
	padding: 0.05in;
}

.prescriptionInformation {
	position: absolute;
	top: 3.41in;
	height: 3in;
	border: 1px solid #000;
	border-radius: 0.1in;
	overflow: hidden;
}

.prescriptionInformation div table {
	display: table;
	width: 100%;
}
.prescriptionInformation div table th,
.prescriptionInformation div table td {
	font: bold 9px/10px OpenSans, Arial, sans-serif;
}
/************************************************************************************************************************
 * Begin: The Sticky Label (4x2.5")
 ************************************************************************************************************************/

.stickyLabel {
	position: absolute;
	top: 7.0in;
/*	height: 170pt; /* Print from chrome */ 
	height: 178pt; /* Print from wkhtml2pdf | lp */
/*	width: 272pt; /* Print from chrome */
	width: 284pt; /* Print from wkhtml2pdf | lp */
	border: 1px solid #000;
	border-radius: 7.75pt;
	overflow: hidden;
}

.stickyLabel header {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;

	width: 192pt;
	height: 28pt;

	
	background: #cdf;
	z-index: 999;
	
	border-top-left-radius: 7.75pt;
}

.stickyLabel header .expressContacts {
	text-align: left;
	position: absolute;
	left: 4pt;
	top: 3pt;
	font: 100 6pt/8pt "OpenSans Narrow", "Arial Narrow", sans-serif;
	letter-spacing: 0.3pt;
}
.stickyLabel header .rhcContacts {
	text-align: right;
	position: absolute;
	right: 1.5pt;
	top: 0.5pt;
	font: 100 4.5pt/5.5pt "OpenSans Narrow", "Arial Narrow", sans-serif;
	letter-spacing: 0.1pt;
}
.stickyLabel header .contactsHeader {
	display: block;
	text-align: left !important;
	border-bottom: 1px solid .000;
	border-collapse: collapse;
}
.stickyLabel .lbl_rxNumber {
	position: absolute;
	font: bold 7.5pt/8pt "OpenSans", "Arial", sans-serif;
	top: 30pt;
	left: 3pt;
}
.stickyLabel .lbl_rxNumber:before {
	content: 'RX.';
	padding-right: 5pt;
}
.stickyLabel .lbl_pharmOfRecord {
	position: absolute;
	top: 30pt;
	left: 68pt;
	font: 100 7.5pt/8pt OpenSans, Arial, sans-serif;
	text-transform: uppercase;
}
.stickyLabel .lbl_prescriberName {
	position: absolute;
	top: 30pt;
	right: 79pt;
	font: bold 7.5pt/8pt "OpenSans", Arial, sans-serif;
	text-transform: uppercase;
}
.stickyLabel .lbl_patientName {
	position: absolute;
	top: 38pt;
	left: 3pt;
	font: bold 7.5pt/8pt "OpenSans", Arial, sans-serif;
	text-transform: uppercase;
}
.stickyLabel .lbl_dateFilled {
	position: absolute;
	top: 38pt;
	right: 79pt;
	font: 100 7.5pt/8pt OpenSans, Arial, sans-serif;
}
.stickyLabel .lbl_patientAddy {
	position: absolute;
	top: 46pt;
	left: 3pt;
	font: 100 6.2pt/7pt "OpenSans", Arial, sans-serif;
	text-transform: uppercase;
}
.stickyLabel .lbl_rxInstructions {
	position: absolute;
	top: 56pt;
	left: 3pt;
	width: 200pt;
	height: 50pt;
	text-align: left !important;
	font: 100 10pt/10pt OpenSans, Arial, sans-serif;
	text-transform: uppercase;
	border-top: 1px solid #aaf;
/*	border: 1px dotted blue; */
}
.stickyLabel .lbl_rxAuxiliaries {
	text-align: left !important;
	position: absolute;
	padding-left: 8pt;
	top: 78pt;
	right: 0pt;
	width: 124pt;
	height: 50pt;
	font: bold 7pt/7pt OpenSans, Arial, sans-serif;
	display: block;
	overflow: hidden;
	-webkit-transform: rotate(90deg) translate(-12pt, -19pt);
}
.stickyLabel .lbl_rxAuxiliaries:before {
	position: absolute;
	left: -3pt;
	top: 10pt;
	content: '!';
	font-size: 36pt;
	color: red;
}
.stickyLabel .lbl_rxAuxiliaries ul {
	padding: 0;
	margin-top: 0;
}
.stickyLabel .lbl_rxAuxiliaries ul,
.stickyLabel .lbl_rxAuxiliaries li {
	list-style-type: none;
}
.stickyLabel .lbl_rxAuxiliaries li {
	display: inline;
	word-wrap: normal;
	word-break: normal;
	text-wrap: normal;
}
.stickyLabel .lbl_rxAuxiliaries li:before {
	content: '• ';
	color: red;
}
.stickyLabel .lbl_rxReagents {
	text-align: left !important;
	position: absolute;
	top: 110pt;
	left: 3pt;
	height: 48pt;
	max-height: 48pt;
	width: 200pt;
	border-top: 1px solid #aaf;
/*	border: 1px dotted red; */
}
.stickyLabel .lbl_rxReagents .block {
	display: block !important;
	font: 100 10pt/10pt OpenSans, Arial, sans-serif;
	text-transform: capitalize;
}
.stickyLabel .lbl_rxReagents ul {
	list-style-type: none;
	position: relative;
	padding: 0;
	margin: 0;
}
.stickyLabel .lbl_rxReagents li {
	float: left;
	text-align: right;
	padding-left: 8pt;
}
.stickyLabel .lbl_rxReagents li+li {
	padding-left: 2pt;
	padding-right: 8pt;
}
.stickyLabel .lbl_rxReagents li+li+li {
	padding-left: 14pt;
}
.lbl_unitQty, .lbl_unit, .lbl_prodCode {
	font: 100 7.5pt/8pt OpenSans, Arial, sans-serif !important;
	text-transform: uppercase;
}
.stickyLabel .lbl_rxReagents .lbl_unitQty {
}
.stickyLabel .lbl_rxReadents .lbl_unit {
}
.stickyLabel .lbl_rxReadents .lbl_prodCode {
}
.stickyLabel .lbl_rxNumRefills {
	position: absolute;
	bottom: 2pt;
	left: 6pt;
	font: 100 7pt/7.5pt OpenSans, Arial, sans-serif;
	text-align: right !important;
	max-width: 88pt;
	max-height: 8pt;
}
.stickyLabel .lbl_dateBeyondUse {
	position: absolute;
	bottom: 4pt;
	right: 18pt;
	font: 100 7pt/7.5pt OpenSans, Arial, sans-serif;
	border: 1px solid #f00;
}
.stickyLabel .lbl_dateBeyondUse:before {
	content: 'Beyond Use Date:';
	padding-right: 1mm;
}

.stickyLabel aside {
	font: 100 4.5pt/4.5pt "OpenSans Narrow", "Arial Narrow", sans-serif;
	z-index: 999999;
	right: 3pt;
	position: absolute;
	width: 162pt;
	-webkit-transform: rotate(90deg) translate(81pt, -74pt);
}
.stickyLabel #qs1_sp_num {
	position: absolute;
	right: 40pt;
	top: 22pt;
	display: block;
	zoom: 0.8;
/*	-webkit-transform: rotate(90deg) translate(-7mm, -7mm); */
}
.stickyLabel #lblBarcode {
	position: absolute;
	top: 6pt;
	right: 30pt;
	zoom: 0.60;
/*	-webkit-transform: rotate(90deg) translate(-39mm, -17.75mm); */
/*	border: 1px dotted red; */
}
/************************************************************************************************
 * END: The Sticky Label
 ***********************************************************************************************/

/************************************************************************************************
 * SCREEN ONLY BEGIN
 ***********************************************************************************************/
@media screen {
	body {
		margin: 2em;
	}
	.counselingNotice,
	.Infos,
	.prescriptionInformation,
	.stickyLabel {
		left: 0.25in;
	}
	.Infos { right: 0.25in; }
	.counselingNotice header,
	.pharmacyInformation header,
	.patientInformation header,
	.providerInformation header,
	.prescriptionInformation header,
	.prescriptionInformation div table thead tr,
	.prescriptionInformation div table tbody tr:nth-of-type(even) {
		background-color: #cdf;
	}
	.counselingNotice header,
	.pharmacyInformation header,
	.patientInformation header,
	.providerInformation header,
	.prescriptionInformation header {
		border-top-left-radius: 0.1in;
		border-top-right-radius: 0.1in;
	}
	.signatureBox,
	.prescriptionInformation {
		right: 0.25in;
	}
	.Infos section:not(:last-of-type) {
		margin-right: 1.1em;
	}
	.stickyLabel header .logo {
		left: 2mm;
	}
}
/**************** SCREEN END ********************************/

/************************************************************************************************
 * PRINT ONLY BEGIN
 ***********************************************************************************************/
@media print {
	@page { size: letter portrait; margin: 0.25in !important; }
	
	.counselingNotice,
	.Infos,
	.prescriptionInformation,
	.stickyLabel {
		left: 0;
	}
	.prescriptionInformation { right: 0; }
	.counselingNotice header,
	.pharmacyInformation header,
	.patientInformation header,
	.providerInformation header,
	.prescriptionInformation header,
	.prescriptionInformation div table thead tr,
	.prescriptionInformation div table tbody tr:nth-of-type(even) {
		background-color: #cdf;
	}
	.counselingNotice header,
	.pharmacyInformation header,
	.patientInformation header,
	.providerInformation header,
	.prescriptionInformation header {
		border-top-left-radius: 0.1in;
		border-top-right-radius: 0.1in;
	}
	.signatureBox {
		right: 0;
		width: 4.6in;
	}
	.signatureBox footer p {
		font-size: 18px;
	}
	.signatureLine {
		width: 2.4in;
	}
	.Infos section:not(:last-of-type) {
		margin-right: 2.15%;
	}
	table {
		page-break-inside: avoid;
	}
	.stickyLabel {
		page-break-inside: avoid !important;
	}
	.stickyLabel header .logo {
		left: 2mm;
	}
}
/**************** PRINT END ********************************/