<%init>
my $mn=q{INSERT INTO `restoreProducts` (`productDisplayName`, `productType`, `productCategory`, `subClass`, `productID`, `productCommonOption`, `productDescription`, `productOrder`, `productPrice`,  `productAvailable`, `shortName`, `priceClass`, `prodClass`)
VALUES
	(} . join(', ', ('?') x 13 ) . q{) };

# draw requirements:
my $dr=q{INSERT INTO `labcorp_draw_requirements` (`id`, `desc`, `collection_size`, `minimum_size`, `preferred_tube`, `alternate_tube`, `tube_instructions`, `storage`, `stability`, `special`, `separate_tube`, `submit_tube`, `dorder`)
VALUES
	(} . join(', ', ('?') x 13 ) . q{)};

#cpt:
my $cpt=q{INSERT INTO `lab_cpt` ( `lc_id`, `cpt`, `desc`, `price`)
VALUES
	( ?, ?, ?, ?)};

#rd_id to lc_id: (also used for one to many panels)

my $lcrd=q{INSERT INTO `lab_restore_id_to_labcorp_id` (`r_id`, `lc_id`) VALUES 	(?, ?)};
if ($ARGS{productDisplayName} && 1) {
	$dbh->do($mn, undef, (@ARGS{('productDisplayName', 'productType', 'productCategory', 'subClass', 'productID', 'productCommonOption', 'productDescription', 'productOrder', 'productPrice',  'productAvailable', 'shortName', 'priceClass', 'prodClass')} )  );
	$dbh->do($dr, undef, (@ARGS{('lc_id', 'desc', 'collection_size', 'minimum_size', 'preferred_tube', 'alternate_tube', 'tube_instructions', 'storage', 'stability', 'special', 'separate_tube', 'submit_tube', 'dorder')} )  );
		my @cpts=split(',', $ARGS{cpt});
		my @cpts_desc=split(',', $ARGS{cpt_desc});
		my @cpts_price=split(',', $ARGS{cpt_price});
		my $x;
		for my $cpt_cnt (@cpts) {
			$dbh->do($cpt, undef, ($ARGS{lc_id}, $cpts[$x], $cpts_desc[$x], $cpts_price[$x]));
			$x++;
		}
	$dbh->do($lcrd, undef, ($ARGS{productID}, $ARGS{lc_id}));
}

</%init>
Add Labs.  Sorry I am not prettier...
<form method="post">
<div><input class="used" name="productDisplayName" placeholder="productDisplayName"/></div>
 <div><input class="used" name="productType" placeholder="productType (Lab-Serum)"/></div>
 <div><input class="used" name="productCategory" placeholder="productCategory (Individual)"/></div>
 <div><input class="used" name="subClass" placeholder="subClass (Thyroid, Vitamin, etc)"/></div>
 <div><input class="used" name="lc_id" placeholder="labcorp_id"/></div>
 <div><input class="used" name="productID" placeholder="productID"/></div>
 <div><input class="used" name="productDescription" placeholder="productDescription"/></div>
 <div><input class="used" name="productOrder" placeholder="productOrder"/></div>
 <div><input class="used" name="productPrice" placeholder="productPrice"/></div>
 <div><input class="used" name="shortName" placeholder="shortName"/></div>
 <div><input class="notused" name="priceClass" placeholder="priceClass"/></div>
 <div><input class="notused" name="prodClass" placeholder="prodClass"/></div>
<div>Draw Info:</div>
<div><input class="used" name="desc" placeholder="desc: same as display name"/></div>
 <div><input class="used" name="collection_size" placeholder="collection_size"/></div>
 <div><input class="used" name="minimum_size" placeholder="minimum_size"/></div>
 <div><input class="used" name="preferred_tube" placeholder="preferred_tube"/></div>
 <div><input class="used" name="alternate_tube" placeholder="alternate_tube"/></div>
 <div><textarea  class="used" name="tube_instructions" placeholder="tube_instructions"></textarea></div>
 <div><input class="used" name="storage" placeholder="storage"/></div>
 <div><textarea class="used" name="stability" placeholder="stability"></textarea></div>
 <div><textarea  class="used" name="special" placeholder="special instrucitons"></textarea></div>
 <div><input class="used" name="separate_tube" placeholder="separate_tube: 1 if yes, empty if no"/></div>
 <div><input class="used" name="submit_tube" placeholder="submit_tube: e.g. 'Transport Tube'"/></div>
 <div><input class="used" name="dorder" placeholder="draw order"/></div>
<div>CPT Info:</div>

 <div><input class="used" name="cpt" placeholder="cpt"/></div>
 <div><input class="used" name="cpt_desc" placeholder="CPT desc"/></div>
 <div><input class="used" name="cpt_price" placeholder="CPT price"/></div>
 <div><input class="used" name="productAvailable" placeholder="Product Available" value="Y"/></div>
 <input type="submit" />
</form>
<style>
.notused {color: gray; border: dashed;}
.used {width: 30em;}
</style>
<% RD2::jd(\%ARGS) %>
<pre>#main product:
INSERT INTO `restoreProducts` (`productDisplayName`, `productType`, `productCategory`, `subClass`, `productID`, `productCommonOption`, `productDescription`, `productOrder`, `productPrice`, `productDiscountedPrice`, `productGraphicSM`, `productGraphicLG`, `productAvailable`, `CPT`, `shortName`, `priceClass`, `prodClass`)
VALUES
	('T3 Uptake', 'Lab-Serum', 'Individual', 'thyroid', 5001156, NULL, NULL, 140, 14.37, NULL, NULL, NULL, 'Y', NULL, NULL, NULL, NULL);

# draw requirements:
INSERT INTO `labcorp_draw_requirements` (`id`, `desc`, `collection_size`, `minimum_size`, `preferred_tube`, `alternate_tube`, `tube_instructions`, `storage`, `stability`, `special`, `separate_tube`, `submit_tube`, `dorder`)
VALUES
	(4465, 'Prolactin', 0.80, 0.30, 'gel-barrier tube', 'Red-top tube', 'If red-top tube is used, transfer separated serum to a plastic transport tube.', 'Refrigerate', 'Freeze: 14 days  \n \nRoom:14 days  \n \nRefrigerator:14 days', '', NULL, 'gel-barrier tube', 1200);

#cpt:
INSERT INTO `lab_cpt` (`id`, `lc_id`, `cpt`, `desc`, `price`)
VALUES
	(68, 144980, 84402, 0, 42.00);

#rd_id to lc_id: (also used for one to many panels)
INSERT INTO `lab_restore_id_to_labcorp_id` (`r_id`, `lc_id`)
VALUES
	(2277805, 82016);

############################ CUSTOM PRODUCTS/PRICING ################################
#custom product?
INSERT INTO `restoreProducts_custom` (`DC`, `productID`)
VALUES
	(181718, 4079415);

# custom pricing:
INSERT INTO `restoreProductPricing` (`pGroup`, `productID`, `price`)
VALUES
	(180546, 5004655, 63.00);

</pre>