
	
<%attr>
ajax => 0
</%attr>
<%args>
$rxn => 9136586
$RxN => $rxn
</%args>
<%init>
my $pdfid;
my $msg;
if ($RxN) {
my $patientID=RD2::gpfr($dbh,  $RxN);
my %zz;
my $nojunk;


# make sure Clinical SVC is not ordered:

my $cl_svc=$dbh->selectrow_array(q{SELECT oid FROM labOrderItems WHERE oid=? AND labType=34101},undef, ($rxn));
return if $cl_svc;

# we never use this:
#	my ($hstat, $qt)=$dbh->selectrow_array(q{SELECT hhstatus, qType FROM hhStatus WHERE rowID=?}, undef, ($RxN));
#	unless ($qt =~ m/lo/) {$msg.=qq{<div>Wrong qType: $qt </div>};  	#adjust it:?}
{

my $Pat=$m->comp({store=> \$nojunk}, '/api/v1.lab/func/report_comps/json_pchart.mas', patientID => $patientID, rxn => $RxN , pp => 1, debug=>2, ncstatus => 'New' , logic => \0);	#RD::Patient::getPatient($dbh, $patientID, ''); 
$m->out($nojunk);

#// Templates:
my $cmListE = sub {my $med=shift; return qq{<div class="cmMed even combined$med->{medicationCombined} $med->{showCombinedInfo}">$med->{medicationName} $med->{medicationDosage} $med->{medicationUnit} <span class="medicationDelMethod">$med->{medicationDeliveryMethod}</span><div class="cmNotes">$med->{medicationNotes}</div></div>};
	};
my $cmListO = sub {my $med=shift; return qq{<div class="cmMed odd combined$med->{medicationCombined} $med->{showCombinedInfo}">$med->{medicationName} $med->{medicationDosage} $med->{medicationUnit} <span class="medicationDelMethod">$med->{medicationDeliveryMethod}</span><div class="cmNotes">$med->{medicationNotes}</div></div>};
	};
my $cmHeader = sub {my $med=shift; return qq{<li class="$med->{active} $med->{RxNumber}" id="cm_$med->{RxNumber}" onclick="activateMedList(\'$med->{RxNumber}\');">$med->{ShortDate}</li>};
	};
#'

my @mthree= ('yes', 'no', 'NULL');

my $recTemplate =sub() {my $med=shift; return qq{
<div id="drag_$med->{ID}$med->{sectName}" class="recommendationList andor_$med->{andor}" >
	<div class="medPreclass">$med->{preclass}</div><b  class="recCategory_$med->{medCategory} andor_$med->{andor} " >$med->{MedicationDN}</b> <span class="recMedMethod">$med->{Method}</span> $med->{Dose}$med->{DoseUnit}<div>$med->{Instructions}</div>
</div>};
};








	my $reportEvalTextTemeplate = sub {my $inf=shift; return qq{
	<li id="lid_$inf->{logicID}"><span><div>$inf->{alltext}</div></span></li>};};
	
	my $reportEvalTherapyOuterTemeplate = sub { my $inf=shift; return qq{<li id="lid_$inf->{logicID}"><span>$inf->{alltext}</span></li>}; };
	
	my $reportEvalTherapyTemeplate = sub { my $inf=shift; return qq{<span><div id="sid_$inf->{logicID}">$inf->{alltext}</div></span>}; };
	
	my $reportEvalTextTemeplateInner = sub { my $inf=shift; return qq{<span id="tid_$inf->{textID}">$inf->{HTML}</span>}; };






#pinfo:
		
$zz{patientInfo}=qq{<div id="patientMoreInfo">	<img id="patientImage" src="/private_imgs/$Pat->{info}->{pinfo}->{patientID}patientPhoto.jpg?DoctorCode=$Pat->{info}->{pinfo}->{DoctorCode}" alt=" " style=" float:left;" />		$Pat->{info}->{pinfo}->{PatientLastName}, $Pat->{info}->{pinfo}->{PatientFirstName} $Pat->{info}->{pinfo}->{PatientMiddleInit}	<img id="morepatientinfoimage" style="max-height: 1.25em;" src="/images/aa_icons/next_icon.gif" onclick="showmorePinfo();" alt="More..."  class="showControl">	<ul id="morepinfo" style=""><li>DOB:  $Pat->{info}->{pinfo}->{DOB}</li>			<li> $Pat->{info}->{pinfo}->{PatientAddressLine1} <span style="display:block"> $Pat->{info}->{pinfo}->{PatientAddressLine2} </span></li>			<li>$Pat->{info}->{pinfo}->{PatientCity}, $Pat->{info}->{pinfo}->{PatientState} $Pat->{info}->{pinfo}->{PatientZIP}</li>			<li>H: $Pat->{info}->{pinfo}->{PatientPhone} W: $Pat->{info}->{pinfo}->{PatientWorkPhone}</li>			<li><a href="mailto: $Pat->{info}->{pinfo}->{email}">$Pat->{info}->{pinfo}->{email}</a></li>		</ul>	</div>};

#patientHHNotes
#// Patient Notes - Patient Notes are from online health histories.  We are separating Patient Notes and Restore Notes.
#$zz{patientHHNotes} ='';
# NO NOTES! --  $m->scomp( '/aa/getValues.html', RxN=>  $RxN, notes => ['currentIRMA.PatientNotesCurrent_Medications', 'currentIRMA.PatientNotesCycling_Questions', 'currentIRMA.PatientNotesGeneral_Information', 'currentIRMA.PatientNotesLifestyle', 'currentIRMA.PatientNotesMedical_History']);


#	'HormoneSummary',
	my %symptomLabels=@{$dbh->selectcol_arrayref(q{SELECT keyName, question FROM aa_symHormones sH JOIN hhQuestions hQ ON sH.keyName=hQ.saveValue},{Columns => [1,2]})};
	my %defLabels = ('E_deficiency'=> 'Estrogen Deficiency', 'Estriol_deficiency'=>'Estriol Deficiency', 'P_deficiency'=> 'Progesterone Deficiency',
					 'T_deficiency'=> 'Testosterone Deficiency', 'DHEA_deficiency'=>'DHEA Deficiency', 'Thyroid_deficiency'=> 'Thyroid Deficiency',
					 'Cortisol_deficiency'=> 'Cortisol Deficiency', 'Melatonin_deficiency'=>'Melatonin Deficiency', 'HGH_deficiency'=> 'HGH Deficiency',
					 'Pregnelone_deficiency'=> 'Pregnelone Deficiency', 'Aldosterone_deficiency'=>'Aldosterone Deficiency',
					 
					 'E_excess'=> 'Estrogen Dominance', 'Estriol_excess'=>'Estriol Excess', 'P_excess'=> 'Progesterone Excess',
					 'T_excess'=> 'Testosterone Dominance', 'DHEA_excess'=>'DHEA Excess', 'Thyroid_excess'=> 'Thyroid Excess',
					 'Cortisol_excess'=> 'Cortisol Excess', 'Melatonin_excess'=>'Melatonin Excess', 'HGH_excess'=> 'HGH Excess',
					 'Pregnelone_excess'=> 'Pregnelone Excess', 'Aldosterone_excess'=>'Aldosterone Excess'
					);
					
	my @hs= ('E_deficiency','E_excess','P_deficiency','T_deficiency','T_excess', 'Cortisol_excess',  'Cortisol_deficiency',  'Thyroid_deficiency'); #// 'P_excess' has been removed


        my $determineDefs = sub  {
        my $inst=shift || 0;
        my $Pat=shift;
        	my $dlist="<ul class='HormoneSummaryList'>";
			if (defined $Pat->{"HH"}[$inst]{'SymptomsTotal'}  && defined $Pat->{"HH"}[$inst]{'SymptomsDefTotal'}  ) {
        	for (my $vv=0; $vv <= @hs; $vv++ ) {	#//hormones _e or _d
        		my $def=$hs[$vv];
				if ($Pat->{HH}->[$inst]->{'SymptomsTotal'}->{$def} && $Pat->{HH}->[$inst]->{'SymptomsDefTotal'}->{$def}) { 
        		my $dP = 100*(
        		$Pat->{HH}->[$inst]->{'SymptomsDefTotal'}->{$def} / $Pat->{HH}->[$inst]->{'SymptomsTotal'}->{$def}
        		);
				if ($dP > 20) 
				{
					$dlist.=qq{<li  onmouseover='startHormoneTimer("$def", 550);' onmouseout='clearTimeout(focusHormoneTimer);'>$defLabels{$def}: <span class="symptomPoints">$dP%</span>	<ul>};


					for (my $vvv=0;$vvv <= @{$Pat->{HH}->[$inst]->{'order'}->{$def}};$vvv++)
					{
						my $key = $Pat->{HH}->[$inst]->{'order'}->{$def}[$vvv];
						if (!$key) {next;}
						my $defP = 100*(	$Pat->{HH}->[$inst]->{'Symptoms'}->{$key}{$def}	/	$Pat->{HH}->[$inst]->{'SymptomsDefTotal'}->{$def}	);
						if ($defP >= 5) 
						{
							#// do something
							$dlist.=qq{\n\t\t<li  class="$Pat->{HH}->[$inst]->{"Symptoms"}->{$key}{'keyValue'}" onclick="triggerMoreInfo('$key')" >$symptomLabels{$key}<span class="symptomPoints">($defP)</span> </li>\n};
							
						}
					}
					$dlist.="\n\t</ul>\n</li>\n";
				}	#//	else {$dlist.="<li>" . $defLabels[$def] . " is OK</li>";}
	        } }
	        }
	        if ($dlist eq "<ul class='HormoneSummaryList'>") {$dlist .='<li style="color: green; font-weight:bold;" >No issues found <br/> based on reported symptoms</li>';} 
	        $dlist.="\n</ul>";
	        return $dlist; 
	        
        };
          
        $zz{HormoneSummary}=&$determineDefs(0, $Pat);
        
#'symptomList',
$zz{symptomList} = $m->scomp( '/api/v1.lab/func/report_comps/aa/symptomhistory.html', RxN=> $RxN, patientID => $patientID , ajax => 1);



#'LabArea',
$zz{LabArea} =
$m->scomp( '/api/v1.lab/func/report_comps/aa/labresults.html', RxN=> $RxN, patientID => $patientID, ajax=> 1, showRanges => 1); 
 # $m->scomp('/aa/test.html');
if ($dbh->selectrow_array(q{SELECT dnfp FROM labKitStatus WHERE id=? AND dnfp=1}, undef, ($RxN))) {
	$zz{LabNotes}=$m->scomp( '/api/v1.lab/func/report_comps/aa/logic/dnfp.html', lab_id => $RxN, patientID => $patientID); 
	$Pat->{"HH"}[$Pat->{'instances'}{$RxN}]{'EvaluationText'}{LabNotes} = $zz{LabNotes};
}


#'MedHistoryDisplay',
#$m->out(JSON::XS->new->pretty(1)->encode($Pat->{'MedHistory'}[$Pat->{'instances'}->{$RxN}]));
my $fillMedHistory = sub {my $inst=shift; my $mhhtml=''; my $mhcnt=0; for my $index (0..@{$Pat->{'MedHistory'}[$inst]} - 1) {
my $conv =	$Pat->{'MedHistory'}[$inst][$index];

if (defined $Pat->{'MedHistory'}[$inst][$index+1] ) { 
	$conv->{'showCombinedInfo'}=$Pat->{'MedHistory'}[$inst][$index+1]{'medicationCombined'} eq 'no' ? 'showCombinedInfo' : ' ';
if (!(defined $conv->{'showCombinedInfo'})) {$conv->{'showCombinedInfo'}='showLastMed';}
} else {$conv->{'showCombinedInfo'}='showLastMed';}
$mhhtml.= $mhcnt % 2 ? &$cmListE($conv) : &$cmListO($conv); $mhcnt++;}
return $mhhtml || '<div class="cmMed even">No Hormone Therapy Reported</div>';};

$zz{MedHistoryDisplay}=&$fillMedHistory($Pat->{'instances'}->{$RxN});




#'importantInfo',

my $fillImpInfo = sub {
if (
ref	  $Pat->{"HH"}->[$Pat->{'instances'}->{$RxN}] && 
	defined $Pat->{"HH"}->[$Pat->{'instances'}->{$RxN}]->{'EvaluationText'} &&
	$Pat->{"HH"}->[$Pat->{'instances'}->{$RxN}]->{'EvaluationText'}->{'importantInfo'} && 
	$Pat->{"HH"}->[$Pat->{'instances'}->{$RxN}]->{'hhstatus'} ne 'New'
) {return $Pat->{"HH"}->[$Pat->{'instances'}->{$RxN}]->{'EvaluationText'}->{'importantInfo'};} else {

my  $statusesLI = sub{ my $selfy=shift; return qq{<li class="'$selfy->{boldMe} $selfy->{sv}" >$selfy->{shortName}: $selfy->{sVal}</li>};   };

my @quotedHI=('lastPeriod', 'currentIRMA.lastPeriod', 'hysterectomyDate', 'hysterectomy', 'vaginalBleeding', 'vaginalBleedingLastOccurrence');
my %quotedHI_refs=('vaginalBleeding' => 'vaginalBleedingLastOccurrence');


  use Tie::Hash::Indexed;
  tie my %impInfs, 'Tie::Hash::Indexed';
 %impInfs = @{$dbh->selectcol_arrayref(q{SELECT DISTINCT saveValue, shortName FROM hhQuestions WHERE shortName IS NOT NULL ORDER BY sectionOrder, questionOrder},  { Columns=>[1,2] })}; # maybe should have qType


	my  $statHTML;
	
		for my $sv (keys %impInfs) {
			if ($Pat->{"HH"}->[$Pat->{'instances'}->{$RxN}]->{EAV}{$sv}) {
				my $snVal=$Pat->{"HH"}->[$Pat->{'instances'}->{$RxN}]->{EAV}{$sv};
				
				if (((@quotedHI ~~ $sv) && $snVal=~m/[a-zA-Z]/) && !( ['yes', 'no', 'Yes', 'No'] ~~ $snVal) ) {
								$snVal='<span id="qHI_' .  $sv .  '">"' . $snVal . '"</span>';			} 
				if ( $quotedHI_refs{$sv}  && $snVal=~m/yes/i) {
					$snVal='<span id="qHI_' . $sv . '">"' . $Pat->{"HH"}->[$Pat->{'instances'}->{$RxN}]->{EAV}{$quotedHI_refs{$sv}} . '"</span>';		}
				$statHTML .= &$statusesLI({shortName => $impInfs{$sv}, sVal =>  $snVal, sv => $sv});
				}
		}
		$Pat->{"HH"}->[$Pat->{'instances'}->{$RxN}]->{'EvaluationText'}->{'importantInfo'} = length($statHTML) > 15 ? '	<ul class="healthConditionsList">' . $statHTML . '	</ul>' : undef;
		}
};


$zz{importantInfo}=&$fillImpInfo;

#'medicalHistoryArea',
$zz{medicalHistoryArea} = $m->scomp('/api/v1.lab/func/report_comps/aa/medicalHistoryArea.html', RxN => $RxN, patientID => $patientID, ajax => 1, qType => $Pat->{'instances'}{'all'}[$Pat->{'instances'}{$RxN}]{'qType'});


#'recommendations_Area',
		### SKIP ###

# RxHistory

my $rxhist_row =sub() {my $med=shift; return qq{<div id="RxHistory_$med->{rxhist_num}" class="$med->{rwClass} rxDrop" ><span>$med->{DrugName}</span><span>$med->{QuantityDisp}</span><span>$med->{DatePrescribed}</span><span>$med->{DateFilled}</span><span>$med->{RemainingRefills}</span><div class="sig">$med->{Sig}</div></div>};
};

my $showRxHistory = sub() {
my $recHTML='';
unless( $Pat->{"info"}{"RxHistory"}) {  return "<tr><td colspan='6'>No Prescriptions on file for this Patient</td></tr>"; }
 for (my $o=0; $o < 6; $o++) {
 	my  $rec=$Pat->{"info"}{"RxHistory"}[$o];
 	next unless $rec;
 	$rec->{"rxhist_num"}=$o;
 	$rec->{"rwClass"}= $o % 2 ? 'odd' : 'even';
 	$recHTML.=&$rxhist_row($rec);
 	}
	return $recHTML;
};

$zz{rxhistory}=qq{
			<div class="rxHist">
    			<div class="theader">
    				<span>Drug</span>
    				<span>QTY</span>
    				<span>Prescribed</span>
    				<span>Filled</span>
    				<span>Refills</span>
    			</div>
    		</div>
    		<div id="rxhist_tbody" class="rxHist">} . (&$showRxHistory || '<h4>No prescriptions on file.</h4>') . q{</div>};

################################

my $fillSection = sub {
	my ($sect, $append, $inst, $storeIn) = @_;
	if (!$inst) {$inst=$Pat->{'instances'}{$RxN};}

if (!$sect) {
#// FIX
#//defaults:

if ($storeIn eq "diagnosesArea") { $sect='currentIRMA.commentsDiagnoses';
#&$fillSection(['currentIRMA.commentsDiagnoses'], 0, $Pat->{instances}->{$RxN}, 'diagnosesArea');
}

if ($storeIn eq "TherapyEvaluation") { $sect='currentIRMA.commentsTherapyEvaluation';
#	&$fillSection(['currentIRMA.commentsTherapyEvaluation'], 0, $Pat->{instances}->{$RxN}, "TherapyEvaluation");
	}

if ($storeIn eq "FurtherTherapyConsiderations") { $sect = 'currentIRMA.commentsDiagnosticConsiderations';
#	&$fillSection(['currentIRMA.commentsDiagnosticConsiderations'],0, $Pat->{instances}->{$RxN}, 'FurtherTherapyConsiderations');
}

if ($storeIn eq "AdditionalTesting") { $sect = 'currentIRMA.commentsAdditionalTesting';
#	&$fillSection(['currentIRMA.commentsAdditionalTesting'],0,$Pat->{instances}->{$RxN}, 'AdditionalTesting');
	}
if ($storeIn eq "SelfCareNotes") { $sect = 'currentIRMA.commentsDietLifestyle';
#	&$fillSection(['currentIRMA.commentsDietLifestyle'],0,$Pat->{instances}->{$RxN}, 'SelfCareNotes');
	}
if ($storeIn eq "LabNotes"){
#// WRONG!	fillSection(['currentIRMA.commentsDiagnoses','currentIRMA.commentsDiagnosticConsiderations'], 0, $Pat->{instances}->{$RxN}, "diagnosesArea");
	}
 return unless $sect;} 


						
	my $aHTML='';
	if ($sect eq 'currentIRMA.commentsTherapyEvaluation') {
	#//hash

	my @sortedSections=('generalLogic', 'Estradiol', 'Progesterone', 'Testosterone', 'DHEA', 'Cortisol','NTx');
#// CHANGE: we need to check Pat["HH"][inst]['TextLogic'][sect] and add to sortedSections


	for my $ss (@sortedSections) {
		my $sLI='';

	unless ($Pat->{HH}[$inst]{'TextLogic'}{$sect}{$ss} ) 		{ 	next  ;}
		#// var to store into

		#//array
		for my $lid (@{$Pat->{HH}[$inst]{'TextLogic'}{$sect}{$ss}}) {

			#//hash
			for my $tid (keys %{$lid}) {
				my $iHTML='';
				for my $ttid (@{$lid->{$tid}}) {
				#// we just reused reportDiagnosesTemplate over and over...


				$iHTML.=&$reportEvalTextTemeplateInner($ttid);
					$lid->{'logicID'}=$ttid->{'logicID'};
					}
					$lid->{'alltext'}=$iHTML;
					#//it can be found else where, but it is here too
			}
		$sLI .=	&$reportEvalTherapyTemeplate($lid) || '';
		}
		
		$aHTML.=&$reportEvalTherapyOuterTemeplate({alltext => $sLI, logicID=> $ss});
	}
	}	else{

						
			for my $ss (sort keys %{$Pat->{"HH"}[$inst]{'TextLogic'}{$sect}}) {

			#//array
			for my $lid (@{$Pat->{"HH"}[$inst]{'TextLogic'}{$sect}{$ss} }){

					#//hash
					for my $tid ( keys %$lid) {

						my $iHTML='';
							for my $ttid (@{$lid->{$tid}}) {
						#// we just reused reportDiagnosesTemplate over and over...
						$iHTML.= &$reportEvalTextTemeplateInner($ttid); 
							$lid->{'logicID'}=$ttid->{'logicID'};

							}
							$lid->{'alltext'}=$iHTML;

							#//it can be found else where, but it is here too

				}

					$aHTML.=&$reportEvalTextTemeplate($lid);

	}	}	}



		#if($append) {$(storeIn).innerHTML+=aHTML;} else {$(storeIn).innerHTML=aHTML;}
		return $aHTML;
		
};






########################################




my $fillEvaluationArea = sub {
	my ($sects, $inst, $notesonly, $scts, $fillSection)= @_;

	#// 2009-01-09:  notesonly option added to fill notes when New
	
	if (defined $Pat->{HH}[$inst] ) {
		if (defined $Pat->{HH}[$inst]{'EvaluationText'} &&  ($Pat->{HH}[$inst]{'hhstatus'} ne 'New' || $notesonly)) {
			for my $secti (@{$sects}) {

			if ( defined $Pat->{"HH"}[$inst]{'EvaluationText'}{$secti}) {
					$scts->{$secti} = $Pat->{"HH"}[$inst]{'EvaluationText'}{$secti};
					} else 	{ $scts->{$secti} =   &{$fillSection}(undef, 0, $Pat->{'instances'}{$RxN}, $secti);
					}
		}
		} else { 
			for my $secti (@{$sects}) {
				$scts->{$secti} = &$fillSection(undef, 0,   $Pat->{'instances'}{$RxN}, $secti); 
					} 
				}
		return $scts;
	}
};
########################################


#'MedicationsNotes',

#'diagnosesArea',

#'TherapyEvaluation',

#'FurtherTherapyConsiderations',

#'AdditionalTesting',

#'SelfCareNotes',

#'LabNotes',
#'SymptomNotes',
#'HealthStatusNotes',
#'TherapyEvaluationNotes',



my $br1 = &$fillEvaluationArea([('diagnosesArea','TherapyEvaluation','SelfCareNotes','AdditionalTesting', 'FurtherTherapyConsiderations',
	'TherapyEvaluationNotes')], $Pat->{'instances'}{$RxN}, undef, \%zz, $fillSection);

for my $k (keys %$br1) {$zz{$k}=$br1->{$k} ? $br1->{$k} : undef;}


my $br2=&$fillEvaluationArea([(
	'LabNotes',
	'SymptomNotes',
	'HealthStatusNotes',
	'DiagnosesNotes',
	'MedicationsNotes'
)],$Pat->{'instances'}{$RxN}, 1, \%zz, $fillSection); #//notesonly
for my $k (keys %$br2) {$zz{$k}=$br2->{$k} ? $br2->{$k} : undef;}

my @sects2=('patientInfo',
'patientHHNotes',
'HormoneSummary',
'symptomList',
'LabArea',
'MedHistoryDisplay',
'MedicationsNotes',
'diagnosesArea',
'importantInfo',
'medicalHistoryArea',
'TherapyEvaluation',
'FurtherTherapyConsiderations',
'AdditionalTesting',
'SelfCareNotes',
'recommendations_Area',
'LabNotes',
'SymptomNotes',
'HealthStatusNotes',
'TherapyEvaluationNotes',
'rxTemplateArea');

# now save, update status, put into Queue
my $junk;
 $pdfid = $m->comp({store => \$junk}, '/api/v1.lab/func/report_comps/aa/saveAll.html', savePDF => 'saveonly', RxN=>$RxN, %zz);
$m->scomp('/api/v1.lab/func/report_comps/aa/saveValue.html', arg => 'setStatus', RxN=>$RxN, val=>'Complete');
$msg.=qq{<div>$RxN Ready!</div>};
} #override
} #if RxN

</%init>
