<%init>
my $list_reports_sql=q{SELECT rr.RxNumber, rr.`Status`, lo.DC, completed, loi.labType, rp.productDisplayName,  lo.price, lo.paid, IFNULL(rpp.price, rp.productPrice) AS item_price FROM restoreReports rr JOIN labOrders lo ON rr.RxNumber=lo.id JOIN labOrderItems loi ON rr.RxNumber=loi.oid
LEFT JOIN restoreProducts rp ON loi.labType=rp.productID
LEFT JOIN restoreProductPricing rpp ON lo.DC=rpp.pGroup AND rp.productID=rpp.productID

WHERE rr.completed > DATE_SUB(NOW(), INTERVAL 30 DAY)

ORDER BY DC, RxNumber, labType};

my $report=$dbh->selectall_hashref($list_reports_sql, [qw(DC RxNumber labType)], undef, ());
</%init>
% for my $DC (keys %$report) {
	<div class="provider">
		<span class="DC"><% $DC %>:</span>
%		for my $rep (keys %{$report->{$DC} } ) {
		<div class="report"><% $rep %>:
%		for my $item (keys %{$report->{$DC}{$rep} } ) { 
		<div class="report_item"><%  $report->{$DC}{$rep}{$item}{productDisplayName} %></div> 

% next;
			<span class="lab_id"><% $report->{$DC}{$rep}{$item}{RxNumber} %></span>
			<span class=""><% $rep->{$DC}{$rep}{productDisplayName} %></span>
		</div>
%		}	
		</div>
%	}
	</div>
%	}