		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
<script>

var save_lab_results=function(){
	var clean_all_labs=new Array();;
	var all_labs=new Array(); 
	$('div.trends-icon').each(function(ti, te) {$(te).html(te.id)}); 
	$('.results-details-tbl-row').each(function(elmi, elm) {all_labs.push($(elm).text().split("\n"))}); 
	$.each(all_labs, function(ali, ale){ 
	clean_all_labs.push(new Array());
		$.each(all_labs[ali], function(sali, sale) { all_labs[ali][sali]=sale.trim(); 
						if (all_labs[ali][sali].length > 0) {
							clean_all_labs[ali].push(all_labs[ali][sali]);
							}  } )   }   ); 
var rep_id=$('#hdnPrintReportsIds').val();
var labcorp_lab_id=$('#accessionNo').val();

	$.ajax({
	  type: "POST",
	  url: '//192.168.0.200:10003/api/v1.lab/func/post_labcorp_results.html',
	  data: {labcorp_lab_id: labcorp_lab_id, lab_id: lab_id, results: clean_all_labs},
	  success: function() {alert('Posted Results!');},
	});

};

var get_lc_html=function() {$('#report_html_div').html($('#lcb').contents().find('#result-details-body').find('script,noscript,style,link').remove().end().html());
	var clean_all_labs=new Array();;
	var all_labs=new Array(); 
	$('div.trends-icon').each(function(ti, te) {$(te).html(te.id)}); 
	$('.results-details-tbl-row').each(function(elmi, elm) {all_labs.push($(elm).text().split("\n"))}); 
	$.each(all_labs, function(ali, ale){ 
	clean_all_labs.push(new Array());
		$.each(all_labs[ali], function(sali, sale) { all_labs[ali][sali]=sale.trim(); 
						if (all_labs[ali][sali].length > 0) {
							clean_all_labs[ali].push(all_labs[ali][sali]);
							}  } )   }   ); 
var rep_id=$('#hdnPrintReportsIds').val();
var labcorp_lab_id=$('#accessionNo').val();

console.log({labcorp_lab_id: labcorp_lab_id, lab_id: lab_id, results: clean_all_labs});
	
	
};

</script>
<style>#report_html_div {display: none;}</style>
<form class="func_get_labcorp_results">
<input onclick="get_lc_html();" type="button" value="Get Report" />
<input name="lab_id" placeholder="LabID"/>
</form>
<iframe id="lcb" src="https://www.labcorpbeacon.com/results-web/results/authentication/public/login" width="800px" height="800px"></iframe>
<div id="report_html_div"></div>