<%args>
$bc => undef
</%args>
<%init>

use Barcode::Code128 'FNC1';
	my $png;
	if ($bc) {
	my $code = new Barcode::Code128;
	$code->option('show_text', 0);
	$code->option('border', 1);
	$code->option('scale', 1);
	my $text =	$code->text(FNC1. $ARGS{bc});
	$png=$code->png($text, undef, 24);
	}
</%init>
<form method="post"><input placeholder="Barcode" type="number" name="bc" value="<% $bc %>"/><input type="submit" /></form>
% 	if ($bc) {
				<img src="data:image/png;base64, <% MIME::Base64::encode_base64($png) %>" />
%				}