<%attr>
ajax=>1
</%attr>
<%args>
$pid
</%args>
<%init>

my $recs = $dbh->selectall_arrayref(q{SELECT  id, rowID, RIGHT(filename, 3) AS ftype, sType, dateEntered, tstamp, CONCAT(rowID, '_', id) AS fid
FROM rperry_wha.restoreRecords rr JOIN RxLookUp rlu ON rlu.RxNumber=rr.rowID AND rlu.patientID=?
 ORDER BY dateEntered DESC }, {Columns =>{}}, ($pid));

#JOIN RxLookUp rlu2 ON rlu.patientID = rlu2.patientID 
#AND rlu2.RxNumber=?

my $PatientRecs = $dbh->selectall_arrayref(q{SELECT  id, RIGHT(filename, 3) AS ftype, rowID, dateEntered, CONCAT(rowID, '_', id) AS fid
FROM rperry_wha.restoreRecords rr WHERE rr.rowID=?  ORDER BY id DESC}, {Columns =>{}}, ($pid));
if ($pid && !$PatientRecs->[0] ) {


 $PatientRecs = $dbh->selectall_arrayref(q{
SELECT  rr.id, rr.rowID, rr.dateEntered, CONCAT(rowID, '_', id) AS fid, RIGHT(filename, 3) AS ftype
FROM rperry_wha.restoreRecords rr  WHERE rowID=? ORDER BY id DESC}, {Columns =>{}}, ($pid));

}
</%init>
 <style>
 .miniJPG {width: 16em;  display:block; -webkit-transition: width .5s ease-in; cursor:pointer;}
 .miniJPG:hover {width: 50em; display:block;  -webkit-transition: width .5s ease-in;}
 .patientRecordRecord {font-weight: bold;}
 .patientRecordRecord:before {content: 'On file: ';}
 </style>
% for my $rec (@$recs) {
	<a href="/recordScans/<% $rec->{fid} %>.<% $rec->{ftype} %>?full_file=1" target="_blank"><% qq{$rec->{rowID}</a> / $rec->{dateEntered}} %>: <img src="/recordScans/<% $rec->{fid} %>.jpg" class="miniJPG" onclick="this.style.width='100%';" ondblclick="this.style.width='';" />
% $m->flush_buffer; }

% for my $rec (@$PatientRecs) {
	<a class="patientRecordRecord" href="/recordScans/<% $rec->{fid} %>.<% $rec->{ftype} %>?full_file=1" target="_blank"><% qq{$rec->{rowID}</a> / $rec->{dateEntered}} %>: <img src="/recordScans/<% $rec->{fid} %>.jpg" class="miniJPG" onclick="this.style.width='100%';" ondblclick="this.style.width='';" />
% $m->flush_buffer; }
% unless (@$recs || @$PatientRecs) {
	<h1>No Records Found!</h1>
%	}
